<!-- ZTP -->
<div id="ztp">
	<h1><tmpl_var _("webui", "ztp_menu_text")></h1>
	<h2><tmpl_var _("webui", "ztp_header")></h2>
	<p>Use this tab to initiate Zero Touch Provisioning (ZTP) when onboarding devices to Inseego 5G SD EDGE<sup>TM</sup> Manager.</p>
	<h3>Protocol</h3> <p>Use TLS Encryption as the protocol.</p>
	<p><b>WARNING:</b> TLS Encryption is strongly recommended. Test is plaintext for testing purposes only and may compromise the security of your network if used for deployment.</p>
	<h3>URL/IP Address</h3> <p>Enter the domain used for your EDGE Manager instance.</p><br/>
	Click Save Changes to initiate ZTP.
</div>
