<!-- Port Forwarding -->
<div id="port_forward">
	<h1>Portide ümbersuunamine</h1>
	<h2>Ülevaade</h2>
	<p>Funktsioon Portide ümbersuunamine võimaldab internetist saabuvat liiklust edastada teie Wi-Fi-võrgu kindlasse arvutisse või seadmesse. Tavaliselt blokeerib sisseehitatud tulemüür internetist sissetuleva liikluse. Portide ümbersuunamine võimaldab internetikasutajatele juurdepääsu mis tahes serverile, mida te arvutis käitate, nt veebi-, FTP- või meiliserverile. Mõnede online-mängude puhul tuleb mängude korrektseks toimimiseks kasutada portide ümbersuunamist. Pange tähele, et portide ümbersuunamise kasutamine tekitab turvariski ja peaks vajaduse korral jääma välja lülitatuks.</p>
<p><strong>Märkus.</strong> Mõned mobiilsed juhtmevabad võrgud pakuvad IP-aadressi oma võrgus, mitte interneti IP-aadressi. Sellisel juhul ei saa portide ümbersuunamist kasutada, kuna internetikasutajad ei pääse teie IP-aadressini.</p>

	<h2>Portide ümbersuunamisega rakendused</h2>
	<h3>Rakenduse märkeruudud</h3>
		<p>Loetletakse mitu levinumat serverirakendust. Nende rakenduste kasutamiseks toimige järgmiselt.</p>
		<ol>
			<li>Installige rakendus arvutisse, mis on ühendatud selle seadme Wi-Fi-võrguga.</li>
			<li>Kontrollige arvutis selle IP-aadressi Wi-Fi-võrgu jaoks. Teise võimalusena saate kontrollida arvuti IP-aadressi ekraanil Ühendatud seadmed.</li>
			<li>Sisestage sellel kuval arvuti IP-aadress väljale <strong>Ühendatud seadme IP-aadress</strong> rakenduse kõrval.</li>
			<li>Lülitage see rakendus sellel ekraanil sisse, valides selle märkeruudu.</li>
			<li>Salvestage muudatused.</li>
			<li>Märkige üles kuval <strong>Praegune olek</strong> olev selle seadme interneti IP-aadress.</li>
			<li>Paluge internetikasutajatel selle seadme IP-aadressiga ühendus luua. Need ühenduse taotlused edastatakse 3. sammus määratud IP-aadressile.</li>
		</ol>

	<h2>Kohandatud rakendused</h2>
	<p>See funktsioon võimaldab teil määratleda oma rakendusi. Kui need rakendused on määratud, saab neid sisse või välja lülitada samamoodi nagu eelmääratud rakendusi. Rakenduse määratlemiseks peate teadma porte ja protokolli (TCP, UDP), mida rakendus kasutab sissetuleva liikluse jaoks. Alustamiseks klõpsake nuppu <strong>Lisa kohandatud rakendus</strong>, seejärel sisestage järgmised andmed.</p>
	<h3>Rakenduse märkeruut</h3>
	<p>Kasutage seda rakenduse sisselülitamiseks pärast selle määratlemist.</p>
	<h3>Rakenduse nimi</h3>
	<p>Sisestage määratletavale rakendusele sobiv nimi.</p>

	<h3>Ühendatud seadme IP-aadress</h3>
	<p>Sisestage ühendatud seadme IP-aadress, mis selle liikluse vastu võtab.</p>

	<h3>Pordi tüüp ja pordinumbrid</h3>
		<p>Igal rakendusel on oma pordivahemik. Sisestage iga rakenduse pordivahemiku algus ja lõpp.</p>
		<div class="blockgroup">
			<ul>
				<li>Pordivahemiku puhul sisestage vahemiku algus väljale <strong>Algus</strong> ja vahemiku lõpp väljale <strong>Lõpp</strong>.</li>
				<li>Tõlkepordi puhul sisestage pordi number nii väljadele <strong>Väljas</strong>kui <strong>Sees</strong> .</li>
			</ul>
		</div>
	<h3>Protokoll</h3>
	<p>Valige iga pordivahemiku jaoks protokoll (TCP või UDP), mida see pordivahemik kasutab.</p>
		
	<h3>Kustuta</h3>
	<p>Kasutage seda märkeruutu kohandatud rakenduse kustutamiseks.</p>
</div>
<!-- id="port_forward" -->

