<!-- Port Forwarding -->
<div id="port_forward">
	<h1>إعادة توجيه المنفذ</h1>
	<h2>نظرة عامة</h2>
	<p>يسمح Port Forwarding بإعادة توجيه تطبيقات معينة إلى جهاز معين متصل بشبكتك. عادة، يمنع جدار الحماية المدمج حركة المرور الواردة من الإنترنت. تسمح ميزة إعادة توجيه المنفذ لمستخدمي الإنترنت بالوصول إلى أي خادم تقوم بتشغيله على جهاز الكمبيوتر الخاص بك، مثل خادم ويب أو FTP أو خادم بريد إلكتروني.
	<b>مهم:</b> تؤدي Port forwarding (إعادة توجيه المنفذ) إلى حدوث مخاطر أمنية ويجب عدم تشغيلها ما لم يكن ذلك مطلوبًا.
	توفر لك بعض شبكات الهواتف المحمولة عنوان IP على شبكتها الخاصة بدلاً من عنوان IP للإنترنت. في هذه الحالة، لا يمكن استخدام "إعادة توجيه المنفذ"؛ لأن مستخدمي الإنترنت لا يمكنهم الوصول إلى عنوان IP الخاص بك.
	</p>

	<h2>تطبيقات إعادة توجيه المنفذ</h2>
	<h3>خانات اختيار التطبيق</h3>
		<p>
			حدد المربع بجوار كل تطبيق Port Forwarding (إعادة توجيه المنفذ) تريد السماح له. لإعادة توجيه جميع حركة مرور البيانات الواردة عبر WAN على منفذ معين إلى عميل LAN واحد، أدخل عنوان IP للجهاز المستهدف في حقل عنوان IP للتطبيق.
		</p>
		<ol>
			<li>قم بتثبيت التطبيق على جهاز كمبيوتر متصل بشبكة هذا الجهاز.</li>
			<li>يمكنك التحقق من عنوان IP الخاص بالكمبيوتر على شاشة الأجهزة المتصلة.</li>
			<li>في هذه الشاشة، أدخل عنوان IP للكمبيوتر في الحقل <strong>عنوان IP للجهاز المتصل</strong> بجانب التطبيق.</li>
			<li>قم بتشغيل هذا التطبيق على هذه الشاشة عن طريق تحديد خانة الاختيار الخاصة به.</li>
			<li>احفظ التغييرات.</li>
			<li>على شاشة <strong>الحالة الحالية</strong>، قم بتدوين عنوان IP الخاص بالإنترنت لهذا الجهاز.</li>
			<li>اطلب من المستخدمين على الإنترنت الاتصال بعنوان IP الخاص بالإنترنت لهذا الجهاز. سيُعاد توجيه طلبات الاتصال هذه إلى عنوان IP المحدد في الخطوة 3.</li>
		</ol>

		<p>
			يوفر الجدول الآتي أرقام المنافذ ومعلومات البروتوكول لكل تطبيق من تطبيقات إعادة توجيه المنفذ المدرجة.
		</p>

			<table class="portForwardingTable" id="">
	 	<thead>
			<tr class="">
				<th class=""> اسم التطبيق</th>
				<th class="">منفذ</th>
				<th class="">*TCP</th>
				<th class="">*STCP</th>
				<th class="">*UDP</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td> DNS</td>
				<td> 53</td>
				<td> نعم</td>
				<td> لا</td>
				<td> نعم</td>
			</tr>

			<tr>
				<td> تحكم FTP(أمر)</td>
				<td> 21</td>
				<td> نعم</td>
				<td> نعم</td>
				<td> تم التخصيص</td>
			</tr>

			<tr>
				<td> نقل بيانات FTP</td>
				<td> 20</td>
				<td> نعم</td>
				<td> نعم</td>
				<td> تم التخصيص</td>
			</tr>

			<tr>
				<td> HTTP</td>
				<td> 80</td>
				<td> نعم</td>
				<td> نعم</td>
				<td> تم التخصيص</td>
			</tr>

			<tr>
				<td> HTTPS</td>
				<td> 443</td>
				<td> نعم</td>
				<td> نعم</td>
				<td> تم التخصيص</td>
			</tr>

			<tr>
				<td> NNTP</td>
				<td> 119</td>
				<td> نعم</td>
				<td> لا</td>
				<td> تم التخصيص</td>
			</tr>

			<tr>
				<td> POP3</td>
				<td> 110</td>
				<td> نعم</td>
				<td> لا</td>
				<td> تم التخصيص</td>
			</tr>

			<tr>
				<td> POP3S</td>
				<td> 995</td>
				<td> نعم</td>
				<td> لا</td>
				<td> نعم</td>
			</tr>

			<tr>
				<td> SMTP</td>
				<td> 25</td>
				<td> نعم</td>
				<td> لا</td>
				<td> تم التخصيص</td>
			</tr>

			<tr>
				<td> SecureSMTP</td>
				<td> 465</td>
				<td> نعم</td>
				<td> لا</td>
				<td> لا</td>
			</tr>

			<tr>
				<td> SNMP</td>
				<td> 161</td>
				<td> تم التخصيص</td>
				<td> لا</td>
				<td> نعم</td>
			</tr>

			<tr>
				<td> بروتوكول Telnet</td>
				<td> 23</td>
				<td> نعم</td>
				<td> لا</td>
				<td> تم التخصيص</td>
			</tr>

			<tr>
				<td> TFTP</td>
				<td> 69</td>
				<td> تم التخصيص</td>
				<td> لا</td>
				<td> نعم</td>
			</tr>
			
		</tbody>

	</table>

	<p><b>نعم</b> تشير إلى أن البروتوكول موحد لرقم المنفذ.</p>
	<p><b>لا</b> تشير إلى أن البروتوكول موحد لرقم المنفذ.</p>
	<p><b>تم التخصيص</b> تشير إلى رقم المنفذ الذي تم تعيينه بواسطة هيئة أرقام الإنترنت المخصصة (IANA) لاستخدام البروتوكول، ولكن قد لا يكون موحدًا.</p>	

	<h2>تطبيقات مخصصة</h2>
	<p>تتيح لك هذه الميزة تحديد تطبيقاتك الخاصة. بمجرد تحديد هذه التطبيقات، يمكن تشغيل هذه التطبيقات أو إيقاف تشغيلها بنفس طريقة التطبيقات المحددة مسبقًا. لتحديد تطبيق ما، تحتاج إلى معرفة المنافذ والبروتوكول (TCP، UDP) التي يستخدمها التطبيق لحركة المرور الواردة. للبدء، انقر فوق الزر <strong>Add Custom Application (إضافة تطبيق مخصص)</strong> ثم قدم البيانات التالية. 
	</p>
	<h3>خانة اختيار التطبيق</h3>
	<p>حدد هذا المربع إذا كنت تريد تمكين التطبيق الجديد من الوصول إلى الإنترنت (تمكين إعادة توجيه المنفذ).
	</p>
	<h3>اسم التطبيق</h3>
	<p>
		أدخل اسمًا مناسبًا للتطبيق الذي تحدده.
	</p>

	<h3>عنوان IP للجهاز المتصل</h3>
	<p>
		أدخل عنوان IP للجهاز المتصل الذي سيتلقى حركة المرور هذه.
	</p>

	<h3>نوع المنفذ وأرقام المنفذ</h3>
		<p>يحتوي كل تطبيق على نطاق منفذ خاص به. أدخل بداية ونهاية نطاق المنفذ لكل تطبيق.
		</p>
		<div class="blockgroup">
			<ul>
				<tmpl_if showRangePortType>
					<li>بالنسبة إلى نطاق منفذ، أدخل بداية النطاق في الحقل <strong>من</strong> ونهاية النطاق في الحقل <strong>إلى</strong>.</li>
				</tmpl_if>
				<li>بالنسبة لمنفذ التحويل، أدخل رقم المنفذ في كل من الحقلين <strong>خارجي</strong> و<strong>داخلي</strong>.</li>
			</ul>
		</div>
	<h3>بروتوكول</h3>
	<p>
		لكل نطاق منفذ، حدد البروتوكول (TCP أو UDP) المستخدم بواسطة نطاق المنفذ هذا.
	</p>
		
	<h3>حذف</h3>
	<p>استخدم خانة الاختيار هذه لحذف تطبيق مخصص.
	</p>
	<p><b>ملاحظة:</b> انقر فوق علامة التبويب Port Forwarding (إعادة توجيه المنفذ) مرة أخرى لإزالة التطبيقات المخصصة المحذوفة من العرض على الشاشة. </p>

</div>
<!-- id="port_forward" -->

