<!-- Port Forwarding -->
<div id="port_forward">
	<h1>Portinsiirto</h1>
	<h2>Yleiskatsaus</h2>
	<p>Port Forwarding (Portinsiirto) -ominaisuuden avulla Internetistä saapuva liikenne voidaan ohjata Wi-Fi-verkkosi tiettyyn tietokoneeseen tai laitteeseen. Sisäänrakennettu palomuuri estää yleensä Internetistä saapuvan liikenteen. Port Forwarding (Portinsiirto) -ominaisuudella voit sallia Internetin käyttäjien pääsyn mille tahansa tietokoneesi palvelimelle, kuten verkko-, FTP- tai sähköpostipalvelimelle. Joissakin verkkopeleissä on käytettävä Port Forwarding (Portinsiirto) -ominaisuutta, jotta pelit toimisivat oikein. Huomaa, että Port Forwarding (Portinsiirto) -ominaisuuden käyttö aiheuttaa turvallisuusriskin ja sen pitäisi olla pois päältä, kun sitä ei tarvita.</p>
<p><strong>Huomautus:</strong> Jotkin langattomat matkapuhelinverkot antavat sinulle oman verkkonsa IP-osoitteen Internetin IP-osoitteen sijasta. Tässä tapauksessa Port Forwarding (Portinsiirto) -ominaisuutta ei voi käyttää, koska Internetin käyttäjät eivät pääse IP-osoitteeseesi.</p>

	<h2>Portinsiirron sovellukset</h2>
	<h3>Sovellusten valintaruudut</h3>
		<p>Luettelossa on useita yleisiä palvelinsovelluksia. Voit käyttää mitä tahansa näistä sovelluksista seuraavasti:</p>
		<ol>
			<li>Asenna sovellus tietokoneeseen, joka on yhdistetty tämän laitteen Wi-Fi-verkkoon.</li>
			<li>Valitse tietokoneella sen Wi-Fi-verkon IP-osoite. Vaihtoehtoisesti voit valita tietokoneen IP-osoitteen Connected Devices (Yhdistetyt laitteet) -näytöstä.</li>
			<li>Syötä tässä näytössä tietokoneen IP-osoite <strong>Connected Device IP Address</strong> (Yhdistetyn laitteen IP-osoite) -kenttään, joka on sovelluksen vieressä.</li>
			<li>Kytke tämä sovellus päälle tästä näytöstä valitsemalla sen valintaruutu.</li>
			<li>Tallenna muutokset.</li>
			<li>Merkitse tämän laitteen IP-osoite muistiin <strong>Current Status</strong> (Nykyinen tila) -näytöstä.</li>
			<li>Pyydä Internetin käyttäjiä muodostamaan yhteys tämän laitteen Internetin IP-osoitteeseen. Nämä yhteyspyynnöt ohjataan vaiheessa 3 määritettyyn IP-osoitteeseen.</li>
		</ol>

	<h2>Mukautetut sovellukset</h2>
	<p>Tämän ominaisuuden avulla voit määrittää omat sovelluksesi. Kun nämä sovellukset on määritetty, ne voidaan kytkeä päälle tai pois päältä samalla tavalla kuin ennalta määritetyt sovellukset. Jotta voit määrittää sovelluksen, sinun on tiedettävä portit ja protokolla (TCP, UDP), joita sovellus käyttää saapuvassa liikenteessä. Aloita napsauttamalla <strong>Add Custom Application</strong> (Lisää mukautettu sovellus) -painiketta ja anna sitten seuraavat tiedot.</p>
	<h3>Sovelluksen valintaruutu</h3>
	<p>Tällä voit kytkeä sovelluksen päälle sen jälkeen, kun olet määrittänyt sen.</p>
	<h3>Sovelluksen nimi</h3>
	<p>Anna määrittämällesi sovellukselle sopiva nimi.</p>

	<h3>Yhdistetyn laitteen IP-osoite</h3>
	<p>Anna tämän liikenteen vastaanottavan yhdistetyn laitteen IP-osoite.</p>

	<h3>Portin tyyppi ja portin numerot</h3>
		<p>Kullakin sovelluksella on oma porttialueensa. Syötä kunkin sovelluksen porttialueen alku ja loppu.</p>
		<div class="blockgroup">
			<ul>
				<li>Syötä porttialueen osalta alueen alku <strong>From</strong> (Alkaen) -kenttään ja alueen loppu <strong>To</strong> (Asti) -kenttään.</li>
				<li>Jos haluat kääntää portin, syötä portin numero sekä <strong>Ext</strong> (Ulk)- että <strong>Int</strong> (Sis) -kenttiin.</li>
			</ul>
		</div>
	<h3>Protokolla</h3>
	<p>Valitse kullekin porttialueelle protokolla (TCP tai UDP), jota kyseinen porttialue käyttää.</p>
		
	<h3>Poista</h3>
	<p>Tämän valintaruudun avulla voit poistaa mukautetun sovelluksen.</p>
</div>
<!-- id="port_forward" -->

