<!-- Internet  Status -->
<div id="status_current">
	<h1><tmpl_var _("webui", "status_current_menu_text")></h1>

	<h3><tmpl_var truncate(_("webui", "status_current_connection_status_label"), (size(_("webui", "status_current_connection_status_label")) - size(":")))></h3>
	<p>Dette viser tilkoblingsstatusen for internettilkoblingen via mobilnettverket.</p>
	<h3><tmpl_var truncate(_("webui", "status_current_network_name_label"), (size(_("webui", "status_current_network_name_label")) - size(":")))></h3>
	<p>Navnet på mobilnettverket som denne enheten for øyeblikket er koblet til.</p>
	<h3><tmpl_var truncate(_("webui", "status_current_technology_label"), (size(_("webui", "status_current_technology_label")) - size(":")))></h3>
	<p>Nettverksteknologien som brukes for den gjeldende tilkoblingen. LTE er den raskeste, tilgjengelige teknologien.</p> 
	<!--                    
	<h3>APN</h3>
	<p>The Access Point Name (APN) is pre-configured for the Verizon network, and cannot be changed.
	</p>    
	-->
        <h3><tmpl_var truncate(_("webui", "status_current_connection_time_label"), (size(_("webui", "status_current_connection_time_label")) - size(":")))></h3>
	<p>Tiden som har gått siden tilkoblingen ble opprettet for den gjeldende internettøkten.</p>
	<h3><tmpl_var truncate(_("webui", "status_current_received_label"), (size(_("webui", "status_current_received_label")) - size(":")))></h3>
	<p>Mottatt datamengde for den gjeldende internettøkten. Denne telleren starter fra null når tilkoblingen er opprettet.</p>
	<h3><tmpl_var truncate(_("webui", "status_current_transmitted_label"), (size(_("webui", "status_current_transmitted_label")) - size(":")))></h3>
	<p>Overført datamengde for den gjeldende internettøkten. Denne telleren starter fra null når tilkoblingen er opprettet.</p>

	<h2><tmpl_var _("webui", "status_current_sub_header_ipv4_text")></h2>
	<h3><tmpl_var truncate(_("webui", "status_current_ipv4_label"), (size(_("webui", "status_current_ipv4_label")) - size(":")))></h3>
	<p>Internett-IP-adressen som er tilordnet denne enheten.</p>
	<h3><tmpl_var truncate(_("webui", "status_current_ipv4mask_label"), (size(_("webui", "status_current_ipv4mask_label")) - size(":")))></h3>
	<p>Nettverksmasken tilknyttet IP-adressen ovenfor.</p>
	<h3><tmpl_var truncate(_("webui", "status_current_ipv4gateway_label"), (size(_("webui", "status_current_ipv4gateway_label")) - size(":")))></h3>
	<p>IP-adressen til gateway-en som er tilknyttet IP-adressen ovenfor.</p>
	<h3><tmpl_var truncate(_("webui", "status_current_ipv4dns_label"), (size(_("webui", "status_current_ipv4dns_label")) - size(":")))></h3>
	<p>Domenenavnserveren som for øyeblikket brukes av denne enheten.</p>

	<h2><tmpl_var _("webui", "status_current_sub_header_ipv6_text")></h2>
	<h3><tmpl_var truncate(_("webui", "status_current_ipv6global_label"), (size(_("webui", "status_current_ipv6global_label")) - size(":")))></h3>
	<p>Den globale IPv6-adressen for <tmpl_var _("webui", "webui_product_name")> vises her. Dette vil være tomt hvis IPv6 er slått av, eller ikke støttes av den gjeldende nettverkstilkoblingen.</p>

	<tmpl_if InternetStatusViewSessionShow>
	<h2><tmpl_var _("webui", "status_current_internet_session_btn")></h2>
	<p>Øktloggen inneholder følgende data:</p>
	<p>- Dato og tid (når tilkobling startet)</p>
	<p>- Varighet (samme format som gjeldende øktinformasjon)</p>
	<p>- Mottatt (format som for gjeldende økt)</p>
	<p>- Overført (format som for gjeldende økt)</p>
	<p>- Totaldata (summen av Rx og Tx, format som for gjeldende øktinformasjon)</p>
	<p>– Roaming (Roaming/Delvis/tom) Tom = hjemmenettverk</p>
	<p>- IPv4 (IPv4 WWAN IP-adresse)</p>
	<p>– IPv6 (IPv6 WWAN IP-adresse)</p>

	<p>Loggen er ordnet etter dato.</p>
	<p>Bruker kan ikke endre rekkefølgen, og det er ingen alternativer knyttet til øktloggen.</p>
	</tmpl_if>

</div> 
<!-- id="status_internet" -->

