<!-- Internet  Status -->
<div id="status_current">
	<h1><tmpl_var _("webui", "status_current_menu_text")></h1>

	<h3><tmpl_var truncate(_("webui", "status_current_connection_status_label"), (size(_("webui", "status_current_connection_status_label")) - size(":")))></h3>
	<p>Rodoma interneto ryšio mobiliuoju tinklu būsena.</p>
	<h3><tmpl_var truncate(_("webui", "status_current_network_name_label"), (size(_("webui", "status_current_network_name_label")) - size(":")))></h3>
	<p>Mobiliojo ryšio tinklo, prie kurio šiuo metu prijungtas šis įrenginys, pavadinimas.</p>
	<h3><tmpl_var truncate(_("webui", "status_current_technology_label"), (size(_("webui", "status_current_technology_label")) - size(":")))></h3>
	<p>Dabartiniam ryšiui naudojama tinklo technologija. LTE yra greičiausia galima technologija.</p> 
	<!--                    
	<h3>APN</h3>
	<p>The Access Point Name (APN) is pre-configured for the Verizon network, and cannot be changed.
	</p>    
	-->
        <h3><tmpl_var truncate(_("webui", "status_current_connection_time_label"), (size(_("webui", "status_current_connection_time_label")) - size(":")))></h3>
	<p>Nuo ryšio užmezgimo praėjęs dabartinio interneto seanso laiko tarpas.</p>
	<h3><tmpl_var truncate(_("webui", "status_current_received_label"), (size(_("webui", "status_current_received_label")) - size(":")))></h3>
	<p>Per dabartinį interneto seansą gautų duomenų kiekis. Užmezgus ryšį paleidžiamas nulinis skaitiklis.</p>
	<h3><tmpl_var truncate(_("webui", "status_current_transmitted_label"), (size(_("webui", "status_current_transmitted_label")) - size(":")))></h3>
	<p>Dabartinio interneto seanso perduotų duomenų kiekis. Užmezgus ryšį paleidžiamas nulinis skaitiklis.</p>

	<h2><tmpl_var _("webui", "status_current_sub_header_ipv4_text")></h2>
	<h3><tmpl_var truncate(_("webui", "status_current_ipv4_label"), (size(_("webui", "status_current_ipv4_label")) - size(":")))></h3>
	<p>Šiam įrenginiui priskirtas interneto IP adresas.</p>
	<h3><tmpl_var truncate(_("webui", "status_current_ipv4mask_label"), (size(_("webui", "status_current_ipv4mask_label")) - size(":")))></h3>
	<p>Su aukščiau nurodytu IP adresu susieta tinklo kaukė.</p>
	<h3><tmpl_var truncate(_("webui", "status_current_ipv4gateway_label"), (size(_("webui", "status_current_ipv4gateway_label")) - size(":")))></h3>
	<p>Su aukščiau nurodytu IP adresu susietas tinklų sietuvo IP adresas.</p>
	<h3><tmpl_var truncate(_("webui", "status_current_ipv4dns_label"), (size(_("webui", "status_current_ipv4dns_label")) - size(":")))></h3>
	<p>Domenų vardų serveris, kurį šiuo metu naudoja šis įrenginys.</p>

	<h2><tmpl_var _("webui", "status_current_sub_header_ipv6_text")></h2>
	<h3><tmpl_var truncate(_("webui", "status_current_ipv6global_label"), (size(_("webui", "status_current_ipv6global_label")) - size(":")))></h3>
	<p>Čia rodomas bendrasis <tmpl_var _("webui", "webui_product_name")> IPv6 adresas. Šis laukas bus tuščias, jei IPv6 išjungtas arba nepalaiko dabartinio tinklo ryšio.</p>

	<tmpl_if InternetStatusViewSessionShow>
	<h2><tmpl_var _("webui", "status_current_internet_session_btn")></h2>
	<p>Seanso žurnale pateikiami šie duomenys:</p>
	<p>– Data ir laikas (prisijungimo pradžia)</p>
	<p>– Trukmė (toks pat kaip dabartinio seanso duomenų formatas)</p>
	<p>– Gauta (toks pat kaip dabartinio seanso formatas)</p>
	<p>– Perduota (toks pat kaip dabartinio seanso formatas)</p>
	<p>– Iš viso duomenų (Rx ir Tx suma, toks pat, kaip ir dabartinio seanso, duomenų formatas)</p>
	<p>– Tarptinklinis ryšys (tarptinklinis ryšys / dalinis / tuščias) Tuščias = namų tinklas</p>
	<p>– IPv4 (IPv4 WWAN IP adresas)</p>
	<p>– IPv6 (IPv6 WWAN IP adresas)</p>

	<p>Žurnalas pateikiamas pagal datą.</p>
	<p>Naudotojas negali pakeisti tvarkos ir nėra jokių su seanso žurnalu susijusių parinkčių.</p>
	</tmpl_if>

</div> 
<!-- id="status_internet" -->

