<!-- Internet  Status -->
<div id="status_current">
	<h1><tmpl_var _("webui", "status_current_menu_text")></h1>

	<h3><tmpl_var truncate(_("webui", "status_current_connection_status_label"), (size(_("webui", "status_current_connection_status_label")) - size(":")))></h3>
	<p>Muestra el estado de la conexión a Internet a través de la red móvil. 
	</p>
	<h3><tmpl_var truncate(_("webui", "status_current_network_name_label"), (size(_("webui", "status_current_network_name_label")) - size(":")))></h3>
	<p>El nombre de la red móvil a la que este dispositivo está conectado actualmente. 
	</p>
	<h3><tmpl_var truncate(_("webui", "status_current_technology_label"), (size(_("webui", "status_current_technology_label")) - size(":")))></h3>
	<p>Indica la conexión actual de datos de telefonía móvil, por ejemplo, 5G.	
	</p> 
	<!--                    
	<h3>APN</h3>
	<p>The Access Point Name (APN) is pre-configured for the Verizon network, and cannot be changed.
	</p>    
	-->
        <h3><tmpl_var truncate(_("webui", "status_current_connection_time_label"), (size(_("webui", "status_current_connection_time_label")) - size(":")))></h3>
	<p>Para la sesión de internet actual, el período transcurrido desde que se estableció la conexión. 
	</p>
	<h3><tmpl_var truncate(_("webui", "status_current_received_label"), (size(_("webui", "status_current_received_label")) - size(":")))>
</h3>
	<p>Para la sesión actual de Internet, la cantidad de datos recibidos. Este contador empieza de cero cuando se establece la conexión. 
	</p>
	<h3><tmpl_var truncate(_("webui", "status_current_transmitted_label"), (size(_("webui", "status_current_transmitted_label")) - size(":")))></h3>
	<p>Para la sesión actual de Internet, la cantidad de datos transmitidos. Este contador empieza de cero cuando se establece la conexión. 
	</p>

	<h2><tmpl_var _("webui", "status_current_sub_header_ipv4_text")></h2>
	<h3><tmpl_var truncate(_("webui", "status_current_ipv4_label"), (size(_("webui", "status_current_ipv4_label")) - size(":")))></h3>
	<p>
        	La dirección IP de Internet asignada a este dispositivo.
	</p>
	<h3><tmpl_var truncate(_("webui", "status_current_ipv4mask_label"), (size(_("webui", "status_current_ipv4mask_label")) - size(":")))>
</h3>
	<p>
	        La máscara de red asociada con la dirección IP que se indica arriba.
	</p>
	<h3><tmpl_var truncate(_("webui", "status_current_ipv4gateway_label"), (size(_("webui", "status_current_ipv4gateway_label")) - size(":")))></h3>
	<p>
	        La dirección IP de la puerta de enlace asociada con la dirección IP que se indica arriba.
	</p>
	<h3><tmpl_var truncate(_("webui", "status_current_ipv4dns_label"), (size(_("webui", "status_current_ipv4dns_label")) - size(":")))>
</h3>
	<p>
	        El servidor del nombre de dominio usado actualmente por este dispositivo.
	</p>

	<h2><tmpl_var _("webui", "status_current_sub_header_ipv6_text")></h2>
	<h3><tmpl_var truncate(_("webui", "status_current_ipv6global_label"), (size(_("webui", "status_current_ipv6global_label")) - size(":")))></h3>
	<p>Aquí se muestra la dirección IPv6 global para <tmpl_var _("webui", "webui_product_name")>. 
	Estará en blanco si IPv6 está desactivado o no es compatible con la conexión de red actual. </p>

	<tmpl_if InternetStatusViewSessionShow>
	<h2><tmpl_var _("webui", "status_current_internet_session_btn")></h2>
	<p>El registro de sesión contiene los siguientes datos:</p>
	<p>- Fecha y hora (cuando se inició la conexión)</p>
	<p>- Duración (mismo formato que la información de la sesión actual)</p>
	<p>- Recibido (formato de la sesión actual)</p>
	<p>- Transmitido (formato de la sesión actual)</p>
	<p>- Datos totales (suma de recepción y transmisión, formato de información de la sesión actual)</p>
	<p>- Itinerancia (itinerancia/parcial/en blanco) En blanco = red doméstica</p>
	<p>- IPv4 (dirección IP WWAN IPv4)</p>
	<p>- IPv6 (dirección IP WWAN IPv6)</p>

	<p>El registro está en orden de fecha. </p>
	<p>El usuario no puede cambiar el orden y no hay opciones relacionadas con el registro de sesión.</p>
	</tmpl_if>

</div> 
<!-- id="status_internet" -->

