<!-- Firewall -->
<div id="firewall">
	<h1><tmpl_var _("webui", "adv_firewall_menu_text")></h1>
	<h2>نظرة عامة</h2>
		<p>يحدد جدار الحماية <tmpl_var _("webui", "webui_product_name")> حركة المرور على الإنترنت المسموح لها بالمرور بين البوابة والأجهزة المتصلة، ويحمي أجهزتك المتصلة من حركة المرور الخبيثة الواردة من الإنترنت. يتعذر إيقاف تشغيل جدار الحماية. استخدم علامة التبويب Firewall (جدار الحماية) لضبط مستوى الأمان العام لجدار الحماية وتعيين جهاز معين لاستقبال حركة مرور البيانات بالكامل وإعداد قواعد جدار حماية محددة.  
		</p>
			
	<h2>الإعدادات</h2>
			
	<h3><tmpl_var _("webui", "adv_firewall_vpn_passthrough_enable_label")></h3>
	<tmpl_unless ShowDmzActive>
		<h3>VPN Passthrough</h3>
	</tmpl_unless>
		<p>تسمح هذه الميزة لبرنامج عميل VPN على الأجهزة المتصلة بالاتصال من خلال هذا الجهاز بخوادم VPN البعيدة. عادة، يجب ترك هذا الخيار قيد التشغيل. 	</p>

	<tmpl_if ipv6Supported>
		<h3><tmpl_var _("webui", "adv_firewall_ipv6_transparent_label")></h3>
		<tmpl_unless ShowDmzActive>
			<h3>وضع IPv6 الشفاف</h3>
		</tmpl_unless>
			<p>عادةً، يقوم جدار الحماية بحظر طلبات اتصال IPv6 الواردة المخصصة لجهاز متصل بـ IPv6.
			</p>
			<p>
				إذا كنت ترغب في السماح لطلبات الاتصال الواردة هذه بالوصول إلى الجهاز المتصل المقصود، فقم بتمكين هذا الإعداد.  يجب ألا يتم تشغيل الوضع الشفاف إلا عند الضرورة، لأنه يقلل الحماية التي يوفرها جدار حماية <tmpl_var _("webui", "webui_product_name")>.
			</p>
	</tmpl_if>
	
	<tmpl_if ShowDmzActive>
		<h2><tmpl_var _("webui", "adv_firewall_dmz_sub_header_text")></h2>
	<tmpl_else>
		<h2>DMZ</h2>
	</tmpl_if>
	<p>
		إذا تم تنشيط هذه الميزة، فسيستقبل الجهاز المتصل المحدد كعنوان DMZ IP (وجهة DMZ) كل حركة المرور التي كان جدار الحماية يحظرها خلاف ذلك. <b>ملاحظة:</b> قد يساعد هذا بعض تطبيقات الشبكة المزعجة على العمل بشكل صحيح، ولكن يجب أن يكون لجهاز DMZ جدار حماية خاص به لحماية نفسه ضد حركة المرور الضارة.
	</p>
	<tmpl_if ShowDmzActive>
	<h3>خانة اختيار DMZ</h3>
				
		<p>استخدم خانة الاختيار هذه لتشغيل هذه الميزة أو إيقاف تشغيلها حسب الحاجة. بشكل عام، يجب إيقاف تشغيل DMZ ما لم يكن ذلك ضروريًا بالفعل.</p>	
	</tmpl_if>
	<h3>عنوان IP للوجهة</h3>
		<p>أدخل عنوان IP للجهاز المتصل الذي ترغب في أن يصبح جهاز DMZ (وجهة DMZ) في هذا الحقل.
		يمكنك التحقق من عنوان IP لكل جهاز متصل على شاشة الأجهزة المتصلة.
		</p>
			
</div>
<!-- id="firewall" -->

