<!-- Firewall -->
<div id="firewall">
	<h1><tmpl_var _("webui", "adv_firewall_menu_text")></h1>
	<h2>Yleiskatsaus</h2>
		<p>Palomuuri suojaa yhdistettyjä laitteitasi haitalliselta Internetistä saapuvalta liikenteeltä. Palomuuria ei voi kytkeä pois päältä, mutta seuraavat asetukset ovat käytettävissä.</p>
			
	<h2>Asetukset</h2>
			
	<h3><tmpl_var _("webui", "adv_firewall_vpn_passthrough_enable_label")></h3>
	<tmpl_unless ShowDmzActive>
		<h3>VPN Passthrough (VPN-läpäisy)</h3>
	</tmpl_unless>
		<p>Tämä ominaisuus sallii yhdistettyjen laitteiden VPN-asiakasohjelmistojen muodostavan tämän laitteen kautta yhteyden VPN-etäpalvelimiin. Yleensä tämän vaihtoehdon pitäisi olla kytkettynä päälle.</p>

	<tmpl_if ipv6Supported>
		<h3><tmpl_var _("webui", "adv_firewall_ipv6_transparent_label")></h3>
		<tmpl_unless ShowDmzActive>
			<h3>IPv6:n läpinäkyvä tila</h3>
		</tmpl_unless>
			<p>Yleensä palomuuri estää saapuvat IPv6-yhteyspyynnöt, jotka on tarkoitettu IPv6:n kautta yhdistettyyn laitteeseen.</p>
			<p>Jos haluat näiden saapuvien yhteyspyyntöjen saavuttavan tarkoitetun yhdistetyn laitteen, kytke tämä asetus päälle. Läpinäkyvä tila pitäisi kytkeä päälle vain tarvittaessa, koska se heikentää <tmpl_var _("webui", "webui_product_name")>-laitteen palomuurin tarjoamaa suojaa.</p>
	</tmpl_if>
	
	<tmpl_if ShowDmzActive>
		<h2><tmpl_var _("webui", "adv_firewall_dmz_sub_header_text")></h2>
	<tmpl_else>
		<h2>DMZ</h2>
	</tmpl_if>
	<p>Jos tämä on valittu, DMZ IP -osoitteeksi (DMZ-kohteeksi) määritetty yhdistetty laite vastaanottaa kaiken liikenteen, jonka palomuuri muutoin estäisi. Tämän avulla jotkin ongelmalliset verkkosovellukset saattavat toimia oikein, mutta DMZ-laitteella pitäisi olla oma palomuuri, jolla se suojautuu haitalliselta liikenteeltä.</p>
	<tmpl_if ShowDmzActive>
	<h3>DMZ:n valintaruutu</h3>
				
		<p>Kytke tämä ominaisuus tästä tarvittaessa päälle tai pois päältä. DMZ:n pitäisi yleensä olla pois päältä, ellei se ole ehdottoman välttämätön.</p>	
	</tmpl_if>
	<h3>Kohteen IP-osoite</h3>
		<p>Syötä tähän kenttään sen yhdistetyn laitteen IP-osoite, josta haluat tulevan DMZ-laite (DMZ-kohde). Voit tarkistaa jokaisen yhdistetyn laitteen IP-osoitteen yhdistettyjen laitteiden näytöstä.</p>
			
</div>
<!-- id="firewall" -->

