<!-- Firewall -->
<div id="firewall">
	<h1><tmpl_var _("webui", "adv_firewall_menu_text")></h1>
	<h2>Översikt</h2>
		<p>En brandvägg skyddar dina anslutna enheter mot skadlig inkommande trafik från internet. Brandväggen får inte stängas av, men följande inställningar är tillgängliga.</p>
			
	<h2>Inställningar</h2>
			
	<h3><tmpl_var _("webui", "adv_firewall_vpn_passthrough_enable_label")></h3>
	<tmpl_unless ShowDmzActive>
		<h3>VPN-genomflöde</h3>
	</tmpl_unless>
		<p>Den här funktionen tillåter VPN-klientprogram på anslutna enheter att ansluta till VPN-fjärrservrar via denna enhet. Vanligtvis bör detta alternativ lämnas på.</p>

	<tmpl_if ipv6Supported>
		<h3><tmpl_var _("webui", "adv_firewall_ipv6_transparent_label")></h3>
		<tmpl_unless ShowDmzActive>
			<h3>IPv6 transparent läge</h3>
		</tmpl_unless>
			<p>Normalt kommer brandväggen att blockera inkommande IPv6-anslutningsförfrågningar avsedda för en IPv6-ansluten enhet.</p>
			<p>Om du vill tillåta att dessa inkommande anslutningsförfrågningar når den avsedda anslutna enheten aktiverar du den här inställningen. Transparent läge bör endast sättas på när det är nödvändigt, eftersom det minskar det skydd som ges av <tmpl_var _("webui", "webui_product_name")>-brandväggen.</p>
	</tmpl_if>
	
	<tmpl_if ShowDmzActive>
		<h2><tmpl_var _("webui", "adv_firewall_dmz_sub_header_text")></h2>
	<tmpl_else>
		<h2>DMZ</h2>
	</tmpl_if>
	<p>Om detta är markerat så kommer den anslutna enhet som specificerats som IP-adress för DMZ (DMZ-destination) att ta emot all trafik som annars skulle blockeras av brandväggen. Detta kan bidra till att få vissa problematiska nätverksapplikationer att fungera som de ska, men DMZ-enheten bör ha sin egen brandvägg för att skydda sig mot skadlig trafik.</p>
	<tmpl_if ShowDmzActive>
	<h3>DMZ-kryssruta</h3>
				
		<p>Använd denna för att sätta på eller stänga av den här funktionen efter behov. I allmänhet bör DMZ vara avstängt såvida det inte verkligen är nödvändigt.</p>	
	</tmpl_if>
	<h3>Destinationens IP-adress</h3>
		<p>Ange IP-adressen för den anslutna enhet som du vill ska bli DMZ-enheten (DMZ-destinationen) i detta fält. Du kan kontrollera IP-adressen för varje ansluten enhet på skärmen för anslutna enheter.</p>
			
</div>
<!-- id="firewall" -->

