<!-- Firewall -->
<div id="firewall">
	<h1><tmpl_var _("webui", "adv_firewall_menu_text")></h1>
	<h2>Descripción general</h2>
		<p>El firewall del <tmpl_var _("webui", "webui_product_name")> determina qué tráfico de Internet puede pasar entre el portal y los dispositivos conectados, y protege sus dispositivos del tráfico entrante malicioso desde Internet. El firewall no se puede desactivar. Use la pestaña Firewall para ajustar el nivel de seguridad general del firewall, designar un dispositivo específico para recibir todo el tráfico y configurar reglas específicas de firewall.  
		</p>
			
	<h2>Ajustes</h2>
			
	<h3><tmpl_var _("webui", "adv_firewall_vpn_passthrough_enable_label")></h3>
	<tmpl_unless ShowDmzActive>
		<h3>Contraseña VPN</h3>
	</tmpl_unless>
		<p>Esta función permite que se conecte el software del cliente VPN en dispositivos conectados, a través de este dispositivo, a servidores VPN remotos. Normalmente, esta opción debe dejarse habilitada. 	</p>

	<tmpl_if showTransparentMode>
		<tmpl_if ipv6Supported>
			<h3><tmpl_var _("webui", "adv_firewall_ipv6_transparent_label")></h3>
			<tmpl_unless ShowDmzActive>
				<h3>Modo transparente IPv6</h3>
			</tmpl_unless>
				<p>Normalmente, el firewall bloqueará las solicitudes de conexión IPv6 entrantes destinadas a un dispositivo conectado IPv6.
				</p>
				<p>
					Si desea permitir que estas solicitudes de conexión entrantes lleguen al dispositivo conectado indicado, active este ajuste.  El Modo transparente solo debe activarse cuando sea necesario, ya que reduce la protección provista por el firewall del <tmpl_var _("webui", "webui_product_name")>.
				</p>
		</tmpl_if>
	</tmpl_if>
	
	<tmpl_if ShowDmzActive>
		<h2><tmpl_var _("webui", "adv_firewall_dmz_sub_header_text")></h2>
	<tmpl_else>
		<h2>DMZ</h2>
	</tmpl_if>
	<p>
		Si se marca, el dispositivo conectado especificado como la dirección IP de DMZ (el destino de la DMZ) recibirá todo el tráfico que, de lo contrario, sería bloqueado por el firewall. <b>NOTA:</b> Esto puede ayudar a que algunas aplicaciones de red problemáticas funcionen correctamente, pero el dispositivo DMZ debe tener su propio firewall para protegerse contra el tráfico malicioso.
	</p>
	<tmpl_if ShowDmzActive>
	<h3>Casilla de verificación de DMZ</h3>
				
		<p>Use esta casilla para activar o desactivar esta función según sea necesario. Generalmente, el DMZ debería estar desactivar a menos que sea realmente necesario.</p>	
	</tmpl_if>
	<h3>Dirección IP de destino</h3>
		<p>Ingrese la dirección IP del dispositivo conectado que desea establecer como dispositivo DMZ (destino DMZ) en este campo.
		Puede ver la dirección IP de cada dispositivo conectado en la pantalla Dispositivos conectados.
		</p>
			
</div>
<!-- id="firewall" -->

