<tmpl_if isHidden>
	<div class="notification app error">
		<i class="icon-error"></i>
		<tmpl_var _("webui", "webui_app_hidden_text")>
	</div>
<tmpl_else>
<script type="text/javascript">
	/* <![CDATA[ */

var pollingRate = 2000; // 2 secs
var files;
var connState;
var connectStatusPopup = false;
var isFileExists = false;
var isEditVpn = false;

$(function()
{
	makeDroppable();
	if('<tmpl_var !dropBoxEnable>') {
		isFileExists=true;
		$(".droppable").find("#filesList").prop("disabled","disabled");
		$(".droppable").addClass("disabled");
	}

	$(document).ajaxSuccess(function(e, xhr, settings) {
		if((xhr.responseText) && (settings.dataType == "json")){
			try {
				var obj = jQuery.parseJSON(xhr.responseText || "null");

				if(typeof obj.statusData.statusBarVpnConnectionState !== "undefined") {
					if(obj.statusData.statusBarVpnConnectionState == "<tmpl_var _('webui', 'vpn_checking_vpn_connection')>") {
						$("#connectionState").hide();
					} else {
						if((obj.statusData.statusBarVpnConnectionState == "<tmpl_var _('webui', 'vpn_connected_text')>") && connectStatusPopup == true) {
							modalPopup.destroyWindow();
							successWindow();
							connectStatusPopup =  false;
						} else {
							if(((obj.statusData.statusBarVpnConnectionState == "<tmpl_var _('webui', 'vpn_no_internet_access_error_text')>") ||
							    (obj.statusData.statusBarVpnConnectionState == "<tmpl_var _('webui', 'vpn_server_unreachable_error_text')>")  ||
							    (obj.statusData.statusBarVpnConnectionState == "<tmpl_var _('webui', 'vpn_authentication_failure_error_text')>") ||
							    (obj.statusData.statusBarVpnConnectionState == "<tmpl_var _('webui', 'vpn_certificate_error_text')>") ||
							    (obj.statusData.statusBarVpnConnectionState == "<tmpl_var _('webui', 'vpn_key_file_error_text')>") ||
							    (obj.statusData.statusBarVpnConnectionState == "<tmpl_var _('webui', 'vpn_other_error_text')>")) && (connectStatusPopup == true)) {
								modalPopup.destroyWindow();
								failureWindow();
								connectStatusPopup = false;
							}
						}
						if(obj.statusData.statusBarVpnConnectionState == "<tmpl_var _('webui', 'vpn_connected_text')>") {
							var content = obj.statusData.statusBarVpnConnectionState + '&nbsp;&nbsp;&nbsp;';
            						$("#connectionState").html(content);
						} else if(obj.statusData.statusBarVpnConnectionState == "<tmpl_var _('webui', 'vpn_disconnected_text')>") {
							var content = obj.statusData.statusBarVpnConnectionState + '&nbsp;&nbsp;&nbsp;';
        						$("#connectionState").html(content);
						} else {
							$("#connectionState").html(obj.statusData.statusBarVpnConnectionState);
						}
						$("#connectionState").show();
					}	
				}

				if(typeof obj.statusData.statusBarVpnConnectDisconnectButtonText !== "undefined") {
					$("#vpnConnectDisconnect").html(obj.statusData.statusBarVpnConnectDisconnectButtonText);
				} 

				if(typeof obj.statusData.statusBarVpnShowConnectButton !== "undefined") {
					$("#vpnConnectDisconnect").prop("disabled", !obj.statusData.statusBarVpnShowConnectButton);
				}

				if(typeof obj.statusData.statusBarVpnAutoConnectEnabled !== "undefined") {
					if (jQuery.fn.slideButton) {
	            				$("#autoConnectEnabled").slideButton("disable", false);
	            			}	
				}

				if(typeof obj.statusData.statusBarVpnShowLogButton !== "undefined") {
					$("#viewLog").prop( "disabled", !obj.statusData.statusBarVpnShowLogButton);
				}

				if(obj.statusData.statusBarVpnConnectionState == "<tmpl_var _('webui', 'vpn_connected_text')>") {
					$("#vpnConnectionTime").show().html(obj.statusData.statusBarVpnConnectedDays + "<tmpl_var _('webui', 'vpn_connection_days_text')>"+ obj.statusData.statusBarVpnConnectedHours+ "<tmpl_var _('webui', 'vpn_connection_hours_text')>" + obj.statusData.statusBarVpnConnectedMinutes +"<tmpl_var _('webui', 'vpn_connection_minutes_text')>" + obj.statusData.statusBarVpnConnectedSeconds + "<tmpl_var _('webui', 'vpn_connection_seconds_text')>");
					$("#editVpnSettings").prop( "disabled", true);
				} else {
					$("#vpnConnectionTime").html("");
					$("#editVpnSettings").prop( "disabled", false);
				}
			} catch(e) {}
		}
	});

	<tmpl_if gPostSuccess>
		loadSpinner();
	</tmpl_if>

    //Intializing toggle checkboxes
	if(jQuery.fn.slideButton) {
		// VPN toggle button
		$("#autoConnectEnabled").slideButton({
			change : function($input) {
				AutoVPNToggled($input.is(":checked"), $input);
			}
		});
	}
	<tmpl_if errorCount>
		$("#vpnForm").dialog({
			modal : true,
			resizable : false,
			draggable : false,
			dialogClass : "modalPopup",
			title: '<tmpl_var _("webui", "configure_vpn_settings_title_text")>',
			width: 565,
		});
	</tmpl_if>


	$("#configureVpnSettings, #editVpnSettings").on("click", function() {
		console.log("this.id : ", this.id);

		if(($("#vpnUserName").val() !== "") && ($("#vpnPassword").val() !== "")) {
			$("#vpnUserName").prop("disabled",true);
			$("#vpnPassword").prop("disabled",true);
			isEditVpn = true;
		}

		$("#vpnForm").dialog({
			modal : true,
			resizable : false,
			draggable : false,
			dialogClass : "modalPopup",
			title: (this.id == "editVpnSettings") ? '<tmpl_var _("webui", "edit_vpn_settings_title_text")>' : '<tmpl_var _("webui", "configure_vpn_settings_title_text")>',
			width: 565,
			
			open : function() {
				isEmpty();
				$(".droppable, #vpnUserName, #vpnPassword").bind('change keyup touchstart', isEmpty);
			},

			close : function() {
				$(".droppable, #vpnUserName, #vpnPassword").unbind('change keyup touchstart');
				window.location = "<tmpl_udf GET_URI('vpn')>";
			}
		});
	});

	<tmpl_unless isLocked>
	$("#viewLog").on("click", function() {
		getVpnLog();
	});
	</tmpl_unless>

	<tmpl_unless isLocked>
	$("#vpnConnectDisconnect").on("click", function() {
		var url = ($.trim($(this).text()) == '<tmpl_var _("webui", "vpn_connect_button_text")>') ? "<tmpl_udf GET_URI('vpn_connect')>" : "<tmpl_udf GET_URI('vpn_disconnect')>";

		if($.trim($(this).text()) == '<tmpl_var _("webui", "vpn_disconnect_button_text")>'){
			$("#vpnConnectDisconnect").prop( "disabled", 1);

			$.ajax({
				url : url,
				type : "POST",
				data : {
					gSecureToken : "<tmpl_var gSecureToken>"
				},
				dataType : "json",
				success : function(data, textStatus, xhr) {
				}
			});
		} else {
			connectButtonClick();
		}
	});
	</tmpl_unless>

	<tmpl_unless isLocked>
	$("#clearAllVpnSettings").on("click", function() {

		modalPopup.createWindow('<tmpl_var _("webui", "vpn_clear_all_vpn_settings_confirm_modal_title")>', '<p><tmpl_var _("webui", "vpn_clear_all_vpn_settings_confirm_modal_text")></p>', 430, 250, 
			[{
				text : '<tmpl_var _("webui", "webui_modal_confirm_button")>',
				className : "primary",
				trigger : function() {
					console.log("Clicked confirm");

					$.ajax({
						url : "<tmpl_udf GET_URI('clear_vpn_settings')>",
						type : "POST",
						data : {
							gSecureToken : "<tmpl_var gSecureToken>"
						},
						dataType : "json",
						success : function(data) {
							console.log("clear_vpn_settings is success");
							$(".inline_error").html(""); 
							$("#vpnForm .app.error").hide();
							isFileExists=false;
							$("#filesSelectedSection").hide();
							$("#vpnUserName, #vpnPassword").val("");
							if($("#autoConnectEnabled").is(":checked")) {
								undoChange($("#autoConnectEnabled"));
							}
							if('<tmpl_var !dropBoxEnable>' == 0 || '<tmpl_var !dropBoxEnable>' != '') {
								isFileExists=false;
								$(".vpnFileNames").html("");
								$(".droppable #dropBoxInlineText").html('<tmpl_udf GET_PO_TEXT("vpn_file_upload_inline_default_text")>');
								$(".droppable").find("#filesList").prop("disabled",false);
								$(".droppable").removeClass("disabled");
								$("#dropBoxInlineText").show();
								$(".toggle-password").show();
								isEditVpn = false;

								$("#vpnUserName").prop("disabled",false);
								$("#vpnPassword").prop("disabled",false);
							}
							isEmpty();	
							$(".droppable, #vpnUserName, #vpnPassword").bind('change keyup touchstart', isEmpty);
						},
						error : function(xhr, textStatus, errorThrown) {
							console.log("clear_vpn_settings is failed");
						}
					});	
				}
			},
			{
				text : '<tmpl_var _("webui", "webui_modal_cancel_button")>',
				className : "cancel",
				trigger : function() {
					console.log("Clicked cancel");
				}
			}], null, null);	
	});
	</tmpl_unless>

	$(".toggle-password").click(function () {
        $(this).toggleClass("eye eye-slash");
        var input = $($(this).attr("toggle"));
            input.css('padding-right', '30px')
        if (input.attr("type") == "password") {
            input.attr("type", "text");
        } else {
            input.attr("type", "password");
        }
    });

});

function successWindow() {
    var title = '<tmpl_var _("webui", "configure_vpn_title_text")>';
    var content = "<div id='vpnSpinnerTable'></div>";
    var width = 650;
    var height = "auto";
    var btns = null;
    var close = null;

    var open = function() {
    	$("#vpnSpinnerTable").append("<div id='vpnSpinnerTableInner'></div>");

		var tableRow = $("<form id='vpnSpinnerForm'>");

		tableRow.append(
			"<div class='row'>" +
    			"<div class='ig_icn_lg ig_success'></div>" +
    			"<p><tmpl_var _('webui', 'vpn_connection_successful_text')></p>" +
    		"</div>" +
    		"<button type='button' id='successOkButton' class='primary' onclick='modalPopup.destroyWindow();'>" +
				"<tmpl_var _('webui', 'webui_modal_ok_button')>" +
			"</button>"
		);

		tableRow.append("</form>");

		$("#vpnSpinnerTableInner").append(tableRow);
    };

    modalPopup.createWindow(title, content, width, height, btns, open, close);
}

function failureWindow() {
    var title = '<tmpl_var _("webui", "configure_vpn_title_text")>';
    var content = "<div id='vpnSpinnerTable'></div>";
    var width = 650;
    var height = "auto";
    var btns = null;
    var close = function() { 

    };

    var open = function() {
    	$("#vpnSpinnerTable").append("<div id='vpnSpinnerTableInner'></div>");

		var tableRow = $("<form id='vpnSpinnerForm'>");

		tableRow.append(
			"<div class='row'>" +
    			"<div class='ig_icn_lg ig_failure'></div>" +
    			"<p><tmpl_var _('webui', 'vpn_connection_failed_text')></p>" +
    		"</div>" +
    		"<div class='row clearfix'>" +
	    		"<button type='button' id='cancelButton' class='primary' onclick='modalPopup.destroyWindow();'>" +
					"<tmpl_var _('webui', 'webui_modal_cancel_button')>" +
				"</button> &nbsp;&nbsp;&nbsp;&nbsp;" +
				"<button type='button' id='tryAgainButton' class='primary' onclick='tryAgainConnecting();'>" +
					"<tmpl_var _('webui', 'vpn_try_again_text')>" +
				"</button>" +
			"</div>"
		);

		tableRow.append("</form>");

		$("#vpnSpinnerTableInner").append(tableRow);

    };

    modalPopup.createWindow(title, content, width, height, btns, open, close);
}

function connectButtonClick() {
	spinner();
    connectCall();
}

function tryAgainConnecting() {
    
    modalPopup.destroyWindow();
	spinner();
    connectCall();
}

function loadSpinner() {

	spinner();
    <tmpl_if gPostSuccess>
    	connectCall();
	</tmpl_if>
}

function spinner() {
	var title = '<tmpl_var _("webui", "configure_vpn_title_text")>';
    var content = "<div id='vpnSpinnerTable'></div>";
    var width = 650;
    var height = "auto";
    var btns = null;
    var close = null;

    var open = function() {
    	$("#vpnSpinnerTable").append("<div id='vpnSpinnerTableInner'></div>");

		var tableRow = $("<form id='vpnSpinnerForm'>");

		tableRow.append(
			"<div class='row'>" +
    			"<div class='ig_icn_lg ig_loading'></div>" +
    			"<p><tmpl_var _('webui', 'vpn_checking_vpn_connection')></p>" +
    		"</div>"
		);

		tableRow.append("</form>");

		$("#vpnSpinnerTableInner").append(tableRow);

    };

    modalPopup.createWindow(title, content, width, height, btns, open, close);
}

function connectCall() {

		var url = "<tmpl_udf GET_URI('vpn_connect')>";
		$.ajax({
			url : url,
			type : "POST",
			data : {
				gSecureToken : "<tmpl_var gSecureToken>"
			},
			dataType : "json",
			success : function(data, textStatus, xhr) {
				console.log("loadSpinner vpn_connect call success");
				connectStatusPopup = true;
			},
			error : function(xhr, textStatus, errorThrown) {
				console.log("loadSpinner vpn_connect call failed");
        	}
		});
}

function getVpnLog()
{
	$.ajax({
		url : '<tmpl_udf GET_URI("vpn_logs")>',
		type : "GET",
		dataType : "json",
		success : function(data){
			buildTableFromArray(data["vpnLogsDisplay"]);
		},
		error : function(xhr, textStatus, errorThrown) {
			// If auth session has ended, force a new login with a fresh GET.
			if( (xhr.status == 401) || (xhr.status == 403) || (xhr.status == 406) ) window.location.replace(window.location.href);
		}
	});
}

// Builds log table from data. Expects data to be a "\n" delimited string.
function buildTableFromArray(data)
{
	var logContent = $('<div id="help_wrapper" />')
	var table = $('<table class="logs" />');
	var tbody = $('<tbody />');
	if(data == "" || typeof data == "undefined"){
		tbody = $('<tbody><tr><td id="noLogData"><tmpl_var _("status_logs_text_no_data")></td></tr></tbody>');
	} else {
		var rows = "";
		var splitData = data.split("\n");

		$.each(splitData, function(i) {
			var zebra = (i % 2) ? "odd" : "even";
			rows += '<tr class="' + zebra + '"><td>' + splitData[i] + '</td></tr>';
		});

		$(rows).appendTo(tbody);
	}

	table.append(tbody);
	logContent.append(table);
	var title = '<tmpl_var _("webui", "vpn_view_log_title_text")>';
	modalPopup.createWindow(
			title,
			logContent,
			900, 'auto'
		);
}

function undoChange($el) {
        if (jQuery.fn.slideButton) $el.slideButton("undo");
}

function AutoVPNToggled(bool, $toggleSwitchElement)
{
	if(jQuery.fn.slideButton) $toggleSwitchElement.slideButton("addLoader");
	var url = (bool) ? "<tmpl_udf GET_URI('vpn_auto_connect_enable')>" : "<tmpl_udf GET_URI('vpn_auto_connect_disable')>";
	$.ajax({
		url : url,
		type : "POST",
		data : {
			gSecureToken : "<tmpl_var gSecureToken>"
		},
		dataType : "json",
		success : function(data, textStatus, xhr) {
			// If no network connected, success event still occurs.
			// We need to implicitly see an xhr.status greater than 0 to know we've actually made contact.
			if ( (xhr.readyState == 4 ) && (xhr.status == 0) ) {
				undoChange($toggleSwitchElement);
			}
		},
		error : function(xhr, textStatus, errorThrown) {
			undoChange($toggleSwitchElement);
			// If auth session has ended, force a new login with a fresh GET.
			if( (xhr.status == 401) || (xhr.status == 403) || (xhr.status == 406) ) window.location.replace(window.location.href);
		},
		complete : function(xhr, textStatus) {
			if(jQuery.fn.slideButton) $toggleSwitchElement.slideButton("removeLoader");
		}
	});
}

function collectFiles(e) {
	console.log("triggerCallback");
	var files_list;
	var display_files_list;
	if(e.originalEvent && e.originalEvent.dataTransfer) {
		files = e.originalEvent.dataTransfer.files;
		document.getElementById("filesList").files = e.originalEvent.dataTransfer.files;
	} else if(e.target) {
		files = e.target.files;
	}
	console.log("files.length : ", files.length);
	for(var i=0; i<files.length; i++) {
    	console.log("files[i].name : ", files[i].name);
    	if(i == 0) {
    		files_list = files[i].name;
    		display_files_list = files[i].name;
    	} else {
    		files_list = files_list + "," + files[i].name;
    		display_files_list = display_files_list + "<br>" + files[i].name;
    	}
    	console.log("files_list : ", files_list);
    	console.log("display_files_list : ", display_files_list);
    }
    if(files.length > 0) {
    	isFileExists = true;
		$("#fileNames").val(files_list);
		$("#filesSelectedValue").html(display_files_list);
		console.log("total_files_list : ", $("#filesSelected").val());
		$("#dropBoxInlineText").hide();
		$("#filesSelectedSection").show();
	}
}

function isEmpty(){
	var username=$("#vpnUserName").val();
	var password=$("#vpnPassword").val();
	username.trim();
	password.trim();

	if(!isFileExists || username.length<=0 || password.length<=0)
	{
		if(jQuery.fn.slideButton){
			$("#autoConnectEnabled").slideButton("disable",true);
		}
		$("#saveVpnSettings").prop("disabled",true);
	}
	else
	{
		if(jQuery.fn.slideButton){
			$("#autoConnectEnabled").slideButton("disable",false);
		}
		if(isEditVpn && ($("#vpnUserName").val() !== "") && ($("#vpnPassword").val() !== "")) {
			$("#saveVpnSettings").prop("disabled",true);
			$(".toggle-password").hide();
		} else {
			$("#saveVpnSettings").prop("disabled",false);
		}
	}
}

function makeDroppable() {
	var ele = $(".droppable");
	var input = document.createElement('input');
    input.setAttribute('name', 'filesList');
    input.setAttribute('id', 'filesList');
    input.setAttribute('type', 'file');
    input.setAttribute('multiple', true);
    input.style.display = 'none';

    input.addEventListener('change', function(e) {
    	console.log("change");
    	collectFiles(e);
    });

    $(ele).append(input);
      
    ele.on('dragover', function(e) {
      	console.log("dragover");
        e.preventDefault();
        e.stopPropagation();
        e.originalEvent.dataTransfer.dropEffect = 'copy';
        ele.addClass('dragover');
    });

    ele.on('dragleave', function(e) {
      	console.log("dragleave");
        e.preventDefault();
        e.stopPropagation();
        ele.removeClass('dragover');
    });

    ele.on('drop', function(e) {
      	console.log("drop");
        e.preventDefault();
        e.stopPropagation();
        ele.removeClass('dragover');
        collectFiles(e);
    });
      
    ele.on('click', function() {
    	console.log("click");
        input.value = null;
        input.click();
    });
}

	/* ]]> */
</script>

	<tmpl_if gPostSuccess>
		<div class="notification app success">
			<i class="icon-success"></i>
			<span class="boxclose" onclick="this.parentElement.style.display='none';"></span>
			<p><tmpl_var _("webui", "webui_save_code_success_text")></p>
		</div>
	</tmpl_if>
	
	<tmpl_if isLocked>
		<div class="notification app error">
			<i class="icon-error"></i>
			<tmpl_var _("webui", "webui_app_locked_text")>
		</div>
	</tmpl_if>

	<h2 class="sectionHead"><tmpl_var _("webui", "vpn_connection_sub_head_text")></h2>
	
	<p style="text-align:justify"><tmpl_var _("webui", "vpn_note_text")></p>
	
	<tmpl_unless IN_SET(connectionState, _("webui", "vpn_not_configured_text"))>
		<h1 class="sectionHead"><tmpl_var _("webui", "vpn_connection_sub_heading_text")></h1>
		<div class="form-group noblock">
			<div class="label">
				<tmpl_var _("webui", "vpn_connection_status_label")>
			</div>
			<div class="input" id="connectionState">
				<tmpl_var connectionState> 
				<tmpl_if IN_SET(connectionState, _("webui", "vpn_connected_text"))>
				</tmpl_if>
				<tmpl_if IN_SET(connectionState, _("webui", "vpn_disconnected_text"))>
				</tmpl_if>
			</div>
		</div>

		<div class="form-group noblock clearfix">
			<div class="label">
				<tmpl_var _("webui", "vpn_connection_time_label")>
			</div>
			<div class="input" id="vpnConnectionTime" <tmpl_unless isVPNConnected>style="display:none"</tmpl_unless>>
				<tmpl_udf GET_PO_TEXT('vpn_connection_time_text', connectedDays, connectedHours, connectedMinutes, connectedSeconds)>
			</div>
		</div>

		<div class="button_container clearfix">
					<button type="button" id="vpnConnectDisconnect" class="primary" <tmpl_unless showConnectButton> disabled="disabled"</tmpl_unless>   
					<tmpl_if isLocked>disabled="disabled"</tmpl_if>>
						<tmpl_var connectDisconnectButtonText>
					</button>
					<button type="button" class="secondary" id="editVpnSettings" <tmpl_if isLocked> disabled="disabled"</tmpl_if>>
			        	<tmpl_var _("webui", "edit_vpn_settings_button_text")>
			    	</button>					
					<button type="button" id="viewLog" class="secondary" <tmpl_unless showLogButton> disabled="disabled"</tmpl_unless> <tmpl_if isLocked>disabled="disabled"</tmpl_if>>
						<tmpl_var _("webui", "vpn_view_log_button_text")>
					</button>
		</div>

	<tmpl_else>
		<p><tmpl_udf GET_PO_TEXT("vpn_not_configured_help_text",gProductNumber)></p>
		<span class="ig_icon_small ig_success"></span>
		<div class="button_container clearfix" id="vpnSettingsConfigure">
		    <button type="button" class="primary" id="configureVpnSettings" <tmpl_if isLocked> disabled="disabled"</tmpl_if>>
		        <tmpl_var _("webui", "configure_vpn_settings_button_text")>
		    </button>
		</div>
	</tmpl_unless>
<div class="ig_section">
	<form method="POST" action="<tmpl_udf GET_URI('vpn')>" id="vpnForm" style="display:none;" enctype="multipart/form-data">
		<input type="hidden" id="gSecureToken" name="gSecureToken" value="<tmpl_var gSecureToken>" />
		<input type="hidden" id="fileNames" name="fileNames" value="<tmpl_var vpnFileNames>" /><div class="row clearfix">

		<tmpl_if errorCount>
			<div class="notification app error">
				<div class="notification_inner">
					<p>
						<tmpl_var _("webui", "webui_save_code_failed_text")>
					</p>
				</div>
			</div>
		</tmpl_if>

		<div class="form-group" form-group-lg>
			<div class="label dropFiles">
				<label for="filesList"><tmpl_var _("webui", "vpn_setup_files_label")></label>
			</div>
			<div class="input">
				<div class="input droppable dropFiles">
					<p class="" id="dropBoxInlineText"><tmpl_var dropBoxInlineText></p>
					<span class="vpnFileNames">
						<tmpl_var vpnFileNames>
					</span>
					<div class="clearfix" id="filesSelectedSection" style="display:none;">
						<div class="input" id="filesSelectedValue">
							<span class="vpnSelected">
								<tmpl_var vpnFileNames>
							</span>
						</div>
					</div>
				</div>
			</div>
			<div class="inline_error">
				<tmpl_if vpnFileValidationError>
					<span><tmpl_var vpnFileValidationError></span>
					<span><tmpl_var vpnFileValidationName></span>
				</tmpl_if>
			</div>
		</div>

	        <div class="form-group" form-group-lg>
		        	<label for="vpnUserName">
		        		<tmpl_var _("webui", "vpn_username_label")>
		        	</label>

		        	<input type="text" name="vpnUserName" id="vpnUserName" value="<tmpl_var vpnUserName>" <tmpl_if vpnUserNameError>class="error"</tmpl_if> />

		        <tmpl_if vpnUserNameError> 
		        	<div class="inline_error" id="vpnUserNameError"></div>
		        </tmpl_if>
	        </div>
	        <div class="form-group" form-group-lg>
		        	<label for="vpnPassword">
		        		<tmpl_var _("webui", "vpn_password_label")>
		        	</label>

		        	<input type="password" name="vpnPassword" id="vpnPassword" value="<tmpl_var vpnPassword>" <tmpl_if vpnPasswordError>class="error"</tmpl_if> />
		        	<span toggle='#vpnPassword' class='eye toggle-password'></span>

		        <tmpl_if vpnPasswordError>
		        	<div class="col inline_error" id="vpnPasswordError"></div>
		        </tmpl_if>
		    </div>


			<div class="toggleSettingContainer autoConnectToggle">
				<div class="form-group">
				<label> 
					<tmpl_if showVPNToolTipIcon>
                                	<div class="col tooltip tooltip-help" title="<tmpl_var _('webui', 'vpn_auto_connect_help_text')>">
                                               <tmpl_var _("webui", "webui_inline_help_icon")>
                                        </div>
     	                                </tmpl_if>

					<tmpl_var _("webui", "vpn_auto_connect_label" )>
				</label>
				<div class="toggle">
					<input class="toggleSwitchCheckbox" type="checkbox" id="autoConnectEnabled" name="autoConnectEnabled" <tmpl_if
						IN_SET(autoConnectEnabled, "true" , "on" , "1" )> checked="checked"</tmpl_if>
					<tmpl_unless isAutoConnectEnabled> disabled="disabled" </tmpl_unless>
					<tmpl_if isLocked>disabled="disabled"</tmpl_if>/>
				</div>
			</div>
			</div>
			</div>
			<!--/.toggleSettingContainer-->

        <div class="row clearfix">
        	<div class="buttonset">
			 <button type="submit" class="primary" id="saveVpnSettings" onclick="loadSpinner()">
                                <tmpl_var _("webui", "vpn_save_and_connect_button_text")>
                        </button>

        		<button type="button" class="secondary" id="clearAllVpnSettings">
        			<tmpl_var _("webui", "vpn_clear_all_settings_button_text")>
        		</button>
        	</div>
        </div>
	</form>
			</div>
</tmpl_if> <!-- isHidden -->
