<!-- Vpn -->
<div id="vpn">
        
	<h2>Übersicht</h2>
         <p>Mit dieser Funktion können Sie sichere Verbindungen zu Remote-Netzwerken über ein öffentliches Netzwerk mit OpenVPN konfigurieren und aktivieren. Wenn eine OpenVPN-Verbindung besteht, ist es nicht mehr erforderlich, dass die mit dem Gateway verbundenen Geräte einen eigenen OpenVPN-Client verwenden.
         <b>HINWEIS: </b>Bei einer OpenVPN-Verbindung sind die Einstellungen für Portfilterung und Portweiterleitung nicht wirksam, da der Datenverkehr von allen verbundenen Geräten durch den OpenVPN-Tunnel läuft. 
         </p>
        
	<h2>VPN mit automatischer Verbindung</h2>
         
         <p>
                 Wenn „EIN“ eingestellt ist, wird der VPN-Tunnel automatisch aufgebaut, sobald eine Internetverbindung hergestellt wird. Wenn „AUS“ eingestellt ist, müssen Sie die VPN-Verbindung manuell herstellen.
         </p>

	<h2>VPN-Verbindung</h2>

         <h3>Verbindungsstatus</h3>
         <p>
                 Zeigt den Status der VPN-Verbindung an.
         </p>

         <h3>Verbindungsdauer</h3>
         <p>
                 Zeigt an, wie lange die VPN-Verbindung bereits aufgebaut ist.
         </p>
         <h3>Verbinden</h3>
         <p>
                 Klicken Sie auf die Schaltfläche „Verbinden“, um eine Verbindung mit dem VPN-Server herzustellen, der mit VPN-Einstellungen konfiguriert ist.
         </p>
	 <h3>Protokoll anzeigen</h3>
         <p>
		Wenn eine OpenVPN-Verbindung hergestellt wurde, klicken Sie auf die Schaltfläche „Protokoll anzeigen“, um das VPN-Verbindungsprotokoll anzuzeigen.
	</p>

	<h2>VPN-Einstellungen</h2>

	<h3>Einrichtungsdateien</h3>
         <p>
		Ziehen Sie die OpenVPN-Konfigurationsdateien von Ihrem OpenVPN-Anbieter per Drag &amp; Drop in den Bereich für den Datei-Upload.
	</p>
	<h3>Benutzername</h3>
         <p>
		Geben Sie hier Ihren Benutzernamen für die OpenVPN-Verbindung ein.
	</p>
	<h3>Kennwort</h3>
         <p>
		Geben Sie hier Ihr Kennwort für die OpenVPN-Verbindung ein.
	</p>
	<h3>Alle VPN-Einstellungen löschen </h3>
         <p>
		Klicken Sie auf die Schaltfläche „Alle VPN-Einstellungen löschen“, um VPN-Dateien und VPN-Protokolle zu löschen und alle VPN-Einstellungen auf den ursprünglichen, nicht konfigurierten Zustand zurückzusetzen.
	</p>
        
</div>
 <!-- id="Vpn" -->
