<!-- Vpn -->
<div id="vpn">
        
	<h2>Descripción general</h2>
         <p>Esta función le permite configurar y habilitar conexiones seguras a redes remotas a través de una red pública usando OpenVPN. Si OpenVPN está conectada, no es necesario que los dispositivos conectados al portal utilicen su propio cliente OpenVPN.
         <b>NOTA: </b>Cuando se establece una conexión OpenVPN, los ajustes de filtrado y enrutamiento de puertos no están vigentes, ya que el tráfico de todos los dispositivos conectados pasa por el túnel OpenVPN. 
         </p>
        
	<h2>VPN de conexión automática</h2>
         
         <p>
                 Si esta función está activada, el túnel VPN se establecerá automáticamente cada vez que se realice una conexión a Internet. Si está desactivada, deberá establecer la conexión VPN manualmente.
         </p>

	<h2>Conexión VPN</h2>

         <h3>Estado de la conexión</h3>
         <p>
                 Muestra el estado de la conexión VPN.
         </p>

         <h3>Hora de conexión</h3>
         <p>
                 Muestra el tiempo que pasó desde que se estableció la conexión VPN.
         </p>
         <h3>Conectar</h3>
         <p>
                 Haga clic en el botón Conectar para conectarse al servidor VPN que está configurado conforme a los ajustes de VPN.
         </p>
	 <h3>Ver registro</h3>
         <p>
		Cuando se haya establecido una conexión OpenVPN, haga clic en el botón Ver registro para mostrar el registro de la conexión VPN.
	</p>

	<h2>Ajustes de VPN</h2>

	<h3>Archivos de configuración</h3>
         <p>
		Arrastre y suelte los archivos de configuración de OpenVPN que le suministró su proveedor de OpenVPN en el área de carga de archivos.
	</p>
	<h3>Nombre de usuario</h3>
         <p>
		Ingrese su nombre de usuario de la conexión OpenVPN aquí.
	</p>
	<h3>Contraseña</h3>
         <p>
		Ingrese la contraseña de la conexión OpenVPN aquí.
	</p>
	<h3>Borrar todos los ajustes de la VPN </h3>
         <p>
		Haga clic en el botón Borrar todos los ajustes de la VPN para eliminar archivos de VPN, registros de VPN y restablecer todos esos ajustes al estado original no configurado.
	</p>
        
</div>
 <!-- id="Vpn" -->
