<!-- Vpn -->
<div id="vpn">
        
	<h2>Översikt</h2>
         <p>Använda den här funktionen för att upprätta en tunnelanslutning till en OpenVPN-server och dirigera all trafik på anslutna enheter genom tunneln.</p>
        
	<h2>Automatisk anslutning av VPN</h2>
         
         <p>Om denna funktion är PÅ kommer VPN-tunneln att upprättas automatiskt när en internetuppkoppling görs. Om den är AV måste du upprätta VPN-anslutningen manuellt.</p>

	<h2>VPN-anslutning</h2>

         <h3>Anslutningsstatus</h3>
         <p>Visar status för VPN-anslutningen.</p>

         <h3>Anslutningstid</h3>
         <p>Visar hur lång tid VPN-anslutningen har varit upprättad.</p>
         <h3>Anslut</h3>
         <p>Klicka på knappen Anslut för att ansluta till VPN-servern som är konfigurerad med VPN-inställningar.</p>
	 <h3>Visa logg</h3>
         <p>När en OpenVPN-anslutning har upprättats klickar du på knappen Visa logg för att visa VPN-anslutningsloggen.</p>

	<h2>VPN-inställningar</h2>

	<h3>Konfigurationsfiler</h3>
         <p>Dra och släpp OpenVPN-konfigurationsfilerna från din OpenVPN-leverantör i filuppladdningsområdet.</p>
	<h3>Användarnamn</h3>
         <p>Ange ditt användarnamn för OpenVPN-anslutning här.</p>
	<h3>Lösenord</h3>
         <p>Ange ditt lösenord för OpenVPN-anslutning här.</p>
	<h3>Rensa alla VPN-inställningar</h3>
         <p>Klicka på knappen Rensa alla VPN-inställningar för att radera VPN-filer, VPN-loggar och återställa alla VPN-inställningar till ursprungligt icke-konfigurerat skick.</p>
        
</div>
 <!-- id="Vpn" -->
