<!-- Vpn -->
<div id="vpn">
        
	<h2>Apžvalga</h2>
         <p>Naudokite šią funkciją norėdami sukurti tunelio ryšį su „OpenVPN“ serveriu ir prijungtuose įrenginiuose per tunelį nukreipti visą duomenų srautą.</p>
        
	<h2>Automatiškai prisijungti prie VPN</h2>
         
         <p>Jei ĮJUNGTA, užmezgus interneto ryšį bus automatiškai sukurtas VPN tunelis. Jei IŠJUNGTA, VPN ryšį turite užmegzti neautomatiškai.</p>

	<h2>VPN ryšys</h2>

         <h3>Ryšio būsena</h3>
         <p>Rodoma VPN ryšio būsena.</p>

         <h3>Ryšio laikas</h3>
         <p>Rodoma VPN ryšio užmezgimo laiko trukmė.</p>
         <h3>Prisijungti</h3>
         <p>Norėdami prisijungti prie VPN serverio, sukonfigūruoto naudojant VPN nuostatas, spustelėkite mygtuką „Prisijungti“.</p>
	 <h3>Peržiūrėti žurnalą</h3>
         <p>Sukūrę „OpenVPN“ ryšį, spustelėkite mygtuką „Peržiūrėti žurnalą“, kad būtų rodomas VPN ryšio žurnalas.</p>

	<h2>VPN nuostatos</h2>

	<h3>Sąrankos failai</h3>
         <p>Iš savo „OpenVPN“ teikėjo „OpenVPN“ konfigūracijos failus nuvilkite į failų įkėlimo sritį ir palikite.</p>
	<h3>Naudotojo vardas</h3>
         <p>Čia įveskite „OpenVPN“ ryšio naudotojo vardą.</p>
	<h3>Slaptažodis</h3>
         <p>Čia įveskite „OpenVPN“ ryšio slaptažodį.</p>
	<h3>Išvalyti visas VPN nuostatas</h3>
         <p>Spustelėkite mygtuką „Išvalyti visas VPN nuostatas“, kad pašalintumėte VPN failus, VPN žurnalus ir iš naujo nustatytumėte visų VPN nuostatų pradinę nekonfigūruotą būseną.</p>
        
</div>
 <!-- id="Vpn" -->
