<!-- Vpn -->
<div id="vpn">
        
	<h2>Oversigt</h2>
         <p>Brug denne funktion til at etablere en tunnelforbindelse til en OpenVPN-server og dirigere al trafik på tilsluttede enheder gennem tunnelen.</p>
        
	<h2>Forbind automatisk VPN</h2>
         
         <p>Hvis den er slået TIL, etableres VPN-tunnelen automatisk, når der oprettes en internetforbindelse. Hvis den er slået FRA, skal du oprette VPN-forbindelsen manuelt.</p>

	<h2>VPN-forbindelse</h2>

         <h3>Tilslutningsstatus</h3>
         <p>Viser status for VPN-forbindelsen.</p>

         <h3>Tilslutningstid</h3>
         <p>Viser, hvor lang tid VPN-forbindelsen er etableret for.</p>
         <h3>Forbind</h3>
         <p>Klik på knappen Opret forbindelse for at oprette forbindelse til VPN-serveren, der er konfigureret ved hjælp af VPN-indstillinger.</p>
	 <h3>Vis log</h3>
         <p>Når der er oprettet en OpenVPN-forbindelse, skal du klikke på knappen Vis log for at få vist VPN-forbindelsesloggen.</p>

	<h2>VPN-indstillinger</h2>

	<h3>Opsætning af filer</h3>
         <p>Træk og slip OpenVPN-konfigurationsfilerne fra din OpenVPN-udbyder i filupload-området.</p>
	<h3>Brugernavn</h3>
         <p>Indtast dit brugernavn til OpenVPN-forbindelsen her.</p>
	<h3>Adgangskode</h3>
         <p>Indtast din adgangskode til OpenVPN-forbindelsen her.</p>
	<h3>Ryd alle VPN-indstillinger</h3>
         <p>Klik på knappen Slet alle VPN-indstillinger for at slette VPN-filer, VPN-logfiler og nulstille alle VPN-indstillinger til den oprindelige ikke-konfigurerede tilstand.</p>
        
</div>
 <!-- id="Vpn" -->
