<!-- Vpn -->
<div id="vpn">
        
	<h2>Oversikt</h2>
         <p>Bruk denne funksjonen til å etablere en tunnelforbindelse til en OpenVPN-server og rute all trafikk på tilkoblede enheter gjennom tunnelen.</p>
        
	<h2>Koble VPN automatisk</h2>
         
         <p>Hvis PÅ, opprettes VPN-tunnelen automatisk når en internettforbindelse opprettes. Hvis AV, må du opprette VPN-tilkoblingen manuelt.</p>

	<h2>VPN-tilkobling</h2>

         <h3>Tilkoblingsstatus</h3>
         <p>Viser status for VPN-tilkoblingen.</p>

         <h3>Tilkoblingstid</h3>
         <p>Viser hvor lang tid VPN-tilkoblingen er opprettet for.</p>
         <h3>Koble til</h3>
         <p>Klikk på tilkoblingsknappen for å koble til VPN-serveren som er konfigurert ved hjelp av VPN-innstillinger.</p>
	 <h3>Se logg</h3>
         <p>Når en OpenVPN-tilkobling er opprettet, klikker du på Vis logg-knappen for å vise VPN-tilkoblingsloggen.</p>

	<h2>VPN-innstillinger</h2>

	<h3>Konfigurasjonsfiler</h3>
         <p>Dra og slipp OpenVPN-konfigurasjonsfilene fra OpenVPN-leverandøren din i filopplastningsområdet.</p>
	<h3>Brukernavn</h3>
         <p>Skriv inn brukernavn for OpenVPN-tilkoblingen her.</p>
	<h3>Passord</h3>
         <p>Skriv inn passord for OpenVPN-tilkobling her.</p>
	<h3>Fjern alle VPN-innstillinger</h3>
         <p>Klikk på Slett alle VPN-innstillinger-knappen for å slette VPN-filer, VPN-logger og tilbakestille alle VPN-innstillinger til den opprinnelige ikke-konfigurerte tilstanden.</p>
        
</div>
 <!-- id="Vpn" -->
