<!-- Vpn -->
<div id="vpn">
        
	<h2>Pārskats</h2>
         <p>Izmantojiet šo funkciju, lai izveidotu tuneļa savienojumu ar OpenVPN serveri un maršrutētu visu datplūsmu pievienotajās ierīcēs caur tuneli.</p>
        
	<h2>Automātiski izveidot VPN savienojumu</h2>
         
         <p>Ja ieslēgts, VPN tunelis tiks automātiski izveidots ikreiz, kad tiks izveidots interneta savienojums. Ja tas ir izslēgts, VPN savienojums ir jāizveido manuāli.</p>

	<h2>VPN savienojums</h2>

         <h3>Savienojuma statuss</h3>
         <p>Rāda VPN savienojuma statusu.</p>

         <h3>Savienojuma izveides laiks</h3>
         <p>Tiek rādīts VPN savienojuma izveides ilgums.</p>
         <h3>Izveidot savienojumu</h3>
         <p>Noklikšķiniet uz pogas Izveidot savienojumu, lai izveidotu savienojumu ar VPN serveri, kas konfigurēts, izmantojot VPN iestatījumus.</p>
	 <h3>Skatīt žurnālu</h3>
         <p>Kad ir izveidots OpenVPN savienojums, noklikšķiniet uz pogas Skatīt žurnālu, lai rādītu VPN savienojuma žurnālu.</p>

	<h2>VPN iestatījumi</h2>

	<h3>Uzstādīšanas faili</h3>
         <p>Velciet un nometiet OpenVPN konfigurācijas failus no OpenVPN nodrošinātāja failu augšupielādes apgabalā.</p>
	<h3>Lietotājvārds</h3>
         <p>Šeit ievadiet savu OpenVPN savienojuma lietotājvārdu.</p>
	<h3>Parole</h3>
         <p>Šeit ievadiet savu OpenVPN savienojuma paroli.</p>
	<h3>Notīrīt visus VPN iestatījumus</h3>
         <p>Noklikšķiniet uz pogas Notīrīt visus VPN iestatījumus, lai dzēstu VPN failus, VPN žurnālus un atiestatītu visus VPN iestatījumus sākotnējā nekonfigurētajā stāvoklī.</p>
        
</div>
 <!-- id="Vpn" -->
