<!-- LAN -->
<div id="lan">
	<h1><tmpl_var _("webui", "adv_lan_menu_text")></h1>
	<h2>Pārskats</h2>
		<p>Šie iestatījumi attiecas uz lokālo tīklu vai LAN. Šai ierīcei LAN veido šī ierīce un visas pievienotās ierīces (tostarp Ethernet pievienotās ierīces, ja tādas ir).</p>
			
	<h2><tmpl_var _("webui", "adv_lan_ip4_sub_header_text")></h2>

	<tmpl_if LANIPAddressShow>
		<h3><tmpl_var truncate(_("webui", "adv_lan_ip4_address_label"), (size(_("webui", "adv_lan_ip4_address_label")) - size(":")))></h3>
		<p>Šīs ierīces IP adrese, kā redzams lokālajā tīklā. Parasti varat izmantot noklusējuma vērtību.</p>
	</tmpl_if>

	<tmpl_if LANSubnetMaskShow>
		<h3><tmpl_var truncate(_("webui", "adv_lan_ip4_subnet_mask_label"), (size(_("webui", "adv_lan_ip4_subnet_mask_label")) - size(":")))></h3>
		<p>Noklusējuma vērtība 255.255.255.0 ir standarta vērtība maziem ("C" klases) tīkliem. Mainot LAN IP adresi, pārliecinieties, vai izmantojat pareizo apakštīkla masku.</p>
	</tmpl_if>
		
	<tmpl_if LANMacAddressShow>	
		<h3><tmpl_var truncate(_("webui", "adv_lan_ip4_mac_address_label"), (size(_("webui", "adv_lan_ip4_mac_address_label")) - size(":")))></h3>
		<p>MAC adrese ir unikāls tīkla identifikators, kas tiek piešķirts tīkla ierīces ražošanas laikā. Šajā tikai lasāmajā laukā tiek rādīta šīs ierīces Wi-Fi un USB interfeisu MAC adrese.</p>
	</tmpl_if>

	<tmpl_if LANDHCPEnableShow>
		<h3><tmpl_var truncate(_("webui", "adv_lan_ip4_dhcp_enable_label"), (size(_("webui", "adv_lan_ip4_dhcp_enable_label")) - size(":")))></h3>
		<p>Parasti tā ir jāatstāj atzīmēta. DHCP serveris piešķir IP adresi katrai pievienotajai ierīcei. Ja DHCP serveris ir izslēgts, katrai pievienotajai ierīcei ir jāpiešķir fiksēta IP adrese.</p>
	</tmpl_if>

	<tmpl_if LANLANDHCPLeaseTimeShow>
		<h3><tmpl_var truncate(_("webui", "adv_lan_ip4_dhcp_lease_time_label"), (size(_("webui", "adv_lan_ip4_dhcp_lease_time_label")) - size(":")))></h3>
		<p>Šis lauks nosaka, cik bieži pievienotajām ierīcēm jāatjauno IP adrese, ko tām piešķīris DHCP serveris. Parasti to var atstāt noklusējuma vērtībā, bet, ja jums ir īpašas prasības, varat mainīt šo vērtību.</p>
	</tmpl_if>

	<tmpl_if LANDHCPStartAddressShow>
		<h3><tmpl_var truncate(_("webui", "adv_lan_ip4_dhcp_range_begin_label"), (size(_("webui", "adv_lan_ip4_dhcp_range_begin_label")) - size(":")))></h3>
		<p>Ja vēlaties mainīt DHCP servera izmantoto IP adrešu diapazonu, varat to darīt, mainot šo vērtību. Šī opcija ir paredzēta tikai pieredzējušiem lietotājiem.</p>
	</tmpl_if>

	<tmpl_if LANDHCPEndAddressShow>
		<h3><tmpl_var truncate(_("webui", "adv_lan_ip4_current_dhcp_range_label"), (size(_("webui", "adv_lan_ip4_current_dhcp_range_label")) - size(":")))></h3>
		<p>Tas norāda IP adrešu diapazonu, ko var piešķirt pievienotajām ierīcēm. Ja pievienotajā ierīcē izmantojat fiksētu IP adresi, izmantojiet IP adresi, kas atrodas ārpus šī diapazona.</p>
	</tmpl_if>

	<tmpl_if LANReservedIPAddressShow>		
	<h3><tmpl_var truncate(_("webui", "adv_lan_reservedIp_help_label"), (size(_("webui", "adv_lan_reservedIp_help_label")) - size(":")))></h3>
		<p>Šo funkciju var izmantot, lai nodrošinātu, ka <tmpl_var _("webui", "webui_product_name")> piešķirs pievienotajai ierīcei vienmēr to pašu IP adresi. Noklikšķiniet uz šīs pogas, lai piekļūtu šīs funkcijas iestatīšanas ekrānam.</p>
	</tmpl_if>
		
	<tmpl_if ipv6Supported>		
		<h2><tmpl_var _("webui", "adv_lan_ip6_sub_header_text")></h2>
		<tmpl_if showIPv6EnableOption>
		<h3><tmpl_var truncate(_("webui", "adv_lan_ip6_enable_label"), (size(_("webui", "adv_lan_ip6_enable_label")) - size(":")))></h3>
			<p>Ja dažas no pievienotajām ierīcēm atbalsta IPv6, šis iestatījums ir jāieslēdz. Pēc tam ar IPv6 savienotās ierīces varēs izveidot IPv6 savienojumus ar internetu.</p>
		</tmpl_if>	
		<h3><tmpl_var truncate(_("webui", "adv_lan_ip6_link_local_label"), (size(_("webui", "adv_lan_ip6_link_local_label")) - size(":")))></h3>
			<p>Šī ir šīs ierīces IPv6 adrese. Link-Local adrese tiek izmantota IPv6 saziņai starp ierīcēm vienā tīklā.</p>
	</tmpl_if>	
			
</div>
<!-- id="lan" -->

