<!-- LAN -->
<div id="lan">
	<h1><tmpl_var _("webui", "adv_lan_menu_text")></h1>
	<h2>Panoramica</h2>
		<p>Queste impostazioni si applicano alla rete locale o LAN. Per questo dispositivo, la LAN è composta da questo dispositivo e da tutti i dispositivi connessi (compresi i dispositivi connessi tramite Ethernet, se presenti).</p>
	<tmpl_if showIPPTEnable>
		<h3>Passthrough IP</h3>
    		<p>
            		Se utilizzata, la funzione Passthrough IP assegna l'indirizzo IP Internet a un dispositivo connesso.
    		</p>
    		<ul>
            		<li>Il dispositivo passthrough deve essere l’unico dispositivo presente sull'interfaccia selezionata. Gli altri dispositivi su questa interfaccia verranno ignorati e non avranno accesso a Internet.</li>
	            	<li>I dispositivi sull’altra interfaccia o interfacce funzioneranno normalmente.</li>
	            	<li>Quando il passthrough IP è abilitato, non è possibile utilizzare le seguenti funzioni:
	            		<ul>
	                		<li>Port Forwarding </li>
	                    		<li>Filtro sulle porte </li>
	                    		<li>DMZ </li>
	            		</ul>
	    		</li>
    		</ul>
    		<li>
        		Quando il Passthrough IP viene abilitato, <tmpl_var _("webui", "webui_product_name")> deve riavviarsi. Normalmente, questo significa che dopo il riavvio al <tmpl_var _("webui", "webui_product_name")> verrà assegnato un nuovo indirizzo IP Internet.
    		</li>

    		<h3>Abilita passthrough IP</h3>
    		<p>
            		Utilizza questa casella di controllo per attivare o disattivare la funzione di IP Passthrough secondo necessità.
    		</p>
    		<tmpl_if showIPPTInterface>
    			<h3>Interfaccia passthrough</h3>
	    		<p>
	            		Selezionare l’interfaccia utilizzata dal dispositivo di rete che si desidera far diventare il dispositivo Passthrough IP.
	            		NOTA: Quando IPPT è abilitato su un'interfaccia, tutte le altre interfacce verranno disabilitate.
	    		</p>
			<h3><tmpl_var truncate(_("webui", "adv_lan_ip_passthrough_hostname_label"), (size(_("webui", "adv_lan_ip_passthrough_hostname_label")) - size(":")))></h3>
                        <p><tmpl_var _("webui", "adv_lan_ip_passthrough_hostname_help_text")></p>
                        <h3><tmpl_var truncate(_("webui", "adv_lan_ip4_mac_address_label"), (size(_("webui", "adv_lan_ip4_mac_address_label")) - size(":")))></h3>
                        <p><tmpl_var _("webui", "adv_lan_ip_passthrough_macaddress_help_text")></p>
    		</tmpl_if>
    	</tmpl_if>			
	<h2><tmpl_var _("webui", "adv_lan_ip4_sub_header_text")></h2>

	<tmpl_if LANIPAddressShow>
		<h3><tmpl_var truncate(_("webui", "adv_lan_ip4_address_label"), (size(_("webui", "adv_lan_ip4_address_label")) - size(":")))></h3>
		<p>L&#39;indirizzo IP per questo dispositivo, come visto dalla rete locale. In genere si può utilizzare il valore predefinito.</p>
	</tmpl_if>

	<tmpl_if LANSubnetMaskShow>
		<h3><tmpl_var truncate(_("webui", "adv_lan_ip4_subnet_mask_label"), (size(_("webui", "adv_lan_ip4_subnet_mask_label")) - size(":")))></h3>
		<p>Il valore predefinito standard per reti piccole (classe "C") è 255.255.255.0. Se modifichi l&#39;indirizzo IP LAN, assicurati di utilizzare la subnet mask corretta.</p>
	</tmpl_if>
		
	<tmpl_if LANMacAddressShow>	
		<h3><tmpl_var truncate(_("webui", "adv_lan_ip4_mac_address_label"), (size(_("webui", "adv_lan_ip4_mac_address_label")) - size(":")))></h3>
		<p>L&#39;indirizzo MAC è un identificatore di rete univoco che viene assegnato quando viene prodotto un dispositivo di rete. Questo campo di sola lettura visualizza l&#39;indirizzo MAC delle interfacce Wi-Fi e USB presenti sul dispositivo.</p>
	</tmpl_if>

	<tmpl_if LANDHCPEnableShow>
		<h3><tmpl_var truncate(_("webui", "adv_lan_ip4_dhcp_enable_label"), (size(_("webui", "adv_lan_ip4_dhcp_enable_label")) - size(":")))></h3>
		<p>Normalmente, questo dovrebbe essere lasciato attivo. Il server DHCP assegna un indirizzo IP a ciascun dispositivo connesso. Se il server DHCP viene disattivato, si deve assegnare un indirizzo IP fisso a ogni dispositivo connesso.</p>
	</tmpl_if>

	<tmpl_if LANDHCPLeaseTimeShow>
		<h3><tmpl_var truncate(_("webui", "adv_lan_ip4_dhcp_lease_time_label"), (size(_("webui", "adv_lan_ip4_dhcp_lease_time_label")) - size(":")))></h3>
		<p>Questo campo determina la frequenza con cui i dispositivi connessi devono rinnovare l&#39;indirizzo IP assegnatogli dal server DHCP. Normalmente, questo può essere lasciato sul valore predefinito, ma puoi modificare questo valore se avessi delle necessità specifiche .</p>
	</tmpl_if>

	<tmpl_if LANDHCPStartAddressShow>
		<h3><tmpl_var truncate(_("webui", "adv_lan_ip4_dhcp_range_begin_label"), (size(_("webui", "adv_lan_ip4_dhcp_range_begin_label")) - size(":")))></h3>
		<p>Se desideri modificare l&#39;intervallo di indirizzi IP utilizzato dal server DHCP, puoi farlo modificando questo valore. Questa opzione è destinata ai soli utenti esperti.</p>
	</tmpl_if>

	<tmpl_if LANDHCPEndAddressShow>
		<h3><tmpl_var truncate(_("webui", "adv_lan_ip4_current_dhcp_range_label"), (size(_("webui", "adv_lan_ip4_current_dhcp_range_label")) - size(":")))></h3>
		<p>Indica l&#39;intervallo di indirizzi IP che possono essere assegnati ai dispositivi connessi. Se utilizzi un indirizzo IP fisso su un dispositivo connesso, dovresti utilizzarne uno al di fuori di questo intervallo.</p>
	</tmpl_if>

	<tmpl_if LANReservedIPAddressShow>		
	<h3><tmpl_var truncate(_("webui", "adv_lan_reservedIp_help_label"), (size(_("webui", "adv_lan_reservedIp_help_label")) - size(":")))></h3>
		<p>Questa funzione può essere utilizzata per garantire che il <tmpl_var _("webui", "webui_product_name")> assegni sempre lo stesso indirizzo IP a un dispositivo connesso. Fai clic su questo pulsante per accedere alla schermata di configurazione di questa funzione.</p>
	</tmpl_if>
		
	<tmpl_if ipv6Supported>		
		<h2><tmpl_var _("webui", "adv_lan_ip6_sub_header_text")></h2>
		<tmpl_if showIPv6EnableOption>
		<h3><tmpl_var truncate(_("webui", "adv_lan_ip6_enable_label"), (size(_("webui", "adv_lan_ip6_enable_label")) - size(":")))></h3>
			<p>Se alcuni dei dispositivi connessi supportano IPv6, è necessario attivare questa impostazione. I dispositivi connessi tramite IPv6 saranno quindi in grado di effettuare connessioni IPv6 a Internet.</p>
		</tmpl_if>	
		<h3><tmpl_var truncate(_("webui", "adv_lan_ip6_link_local_label"), (size(_("webui", "adv_lan_ip6_link_local_label")) - size(":")))></h3>
			<p>Questo è l&#39;indirizzo IPv6 di questo dispositivo. L&#39;indirizzo locale di collegamento viene utilizzato per la comunicazione IPv6 tra dispositivi presenti sulla stessa rete.</p>
	</tmpl_if>	

	<tmpl_if deviceNameShow>
                <h2><tmpl_var _("webui", "adv_lan_web_management_header_text")></h2>
                <h3><tmpl_var truncate(_("webui", "adv_lan_url_name_label"), (size(_("webui", "adv_lan_url_name_label")) - size(":")))></h3>
                <p>L'URL per accedere all'interfaccia utente locale di gestione web del dispositivo si basa sul Nome del dispositivo nella pagina Preferenze utente.</p>
        </tmpl_if>			
</div>
<!-- id="lan" -->

