<!-- mns -->
<div id="mns">
	<h1>Valg av nettverk</h1>
	<h2>Oversikt</h2>
	<p>Denne enheten velger automatisk det optimale mobilnettverket. Hvis du bruker GSM-baserte nettverk, kan du også velge et nettverk manuelt. Denne «<tmpl_var _("webui", "menu_adv_mns_text")>»-funksjonen er bare nyttig hvis flere nettverk er tilgjengelige. Hvis denne funksjonen brukes, kobles denne enheten kun til det spesifiserte nettverket og ignorerer andre tilgjengelige nettverk.</p>

	<h2>Status</h2>
	<p>Denne seksjonen viser om automatisk eller manuelt nettverksvalg er i bruk. Hvis manuelt nettverksvalg er i bruk, vises også det spesifiserte nettverket.</p>

	<h2>Drift</h2>
	<h3><tmpl_var _("webui","adv_mns_scan_for_networks_btn")></h3>
	<p>Hvis manuelt nettverksvalg er mulig, er denne knappen tilgjengelig. Klikk på denne knappen hvis du vil velge et nettverk manuelt. Modemet søker deretter etter alle tilgjengelige nettverk. Dette søket kan ta opptil to minutter.</p>

	<p>Merk: Hvis denne knappen ikke vises, er manuelt nettverksvalg ikke tilgjengelig på aktuelt sted ved å bruke gjeldende nettverk.</p>

	<h3>Nettverksliste</h3>
	<div class="blockgroup">
	<p>Alle tilgjengelige nettverk vises i nettverkslisten når nettverkssøket er fullført. Du kan deretter utføre en av følgende operasjoner:</p>
	<ul>
		<li>Avbryt – Bruk dette alternativet for å beholde automatisk nettverksvalg.</li>
		<li>Oppdater – bruk dette til å søke på nytt hvis ønsket nettverk ikke er oppført. Det kan hende du må endre posisjonen din for å forbedre signalet.</li>

		<li>Velg – bruk dette alternativet for å slå på manuelt nettverksvalg med det spesifiserte nettverket. Merk at det kanskje ikke er mulig å koble til alle angitte nettverk. Hvis tjenesteleverandøren din ikke har en roaming-avtale med det valgte nettverket, vil tilkoblingsforsøket mislykkes.</li>
	</ul>

	<h3><tmpl_var _("webui","adv_mns_revert_to_automatic_btn")></h3>
	<p>Hvis manuelt nettverksvalg er i bruk, er denne knappen synlig. Klikk på denne knappen for å endre fra manuelt til automatisk nettverksvalg.</p>

	<h3>Gå tilbake til nettverksskjermen</h3>
	<p>Bruk denne koblingen for å gå tilbake til nettverksskjermbildet.</p>
		
	</div>
	
</div>

<!-- id="mns" -->

