<!-- mns -->
<div id="mns">
	<h1>ネットワーク選択</h1>
	<h2>概要</h2>
	<p>このデバイスは、最適なモバイルネットワークを自動的に選択します。 GSMベースのネットワークを使用している場合は、ネットワークを手動で選択することもできます。 この「<tmpl_var _("webui", "menu_adv_mns_text")>」機能は、複数のネットワークが利用可能な場合にのみ役立ちます。 この機能を使用する場合、このデバイスは指定されたネットワークにのみ接続し、他の使用可能なネットワークを無視します。</p>

	<h2>ステータス</h2>
	<p>このセクションでは、自動または手動のネットワーク選択が使用されているかどうかを示します。 手動ネットワーク選択を使用している場合は、指定したネットワークも表示されます。</p>

	<h2>操作</h2>
	<h3><tmpl_var _("webui","adv_mns_scan_for_networks_btn")></h3>
	<p>手動でネットワークを選択できる場合は、このボタンを使用できます。 ネットワークを手動で選択する場合は、このボタンをクリックします。 次に、モデムは使用可能なすべてのネットワークをスキャンします。 このスキャンには最大2分かかる場合があります。</p>

	<p>注: このボタンが表示されない場合、現在のネットワークを使用して、現在の場所で手動ネットワーク選択を使用できません。</p>

	<h3>ネットワークリスト</h3>
	<div class="blockgroup">
	<p>ネットワークスキャンが完了すると、使用可能なすべてのネットワークがネットワークリストに表示されます。 その後、次のいずれかの操作を実行できます。</p>
	<ul>
		<li>キャンセル-このオプションを使用して、自動ネットワーク選択を保持します。</li>
		<li>更新-目的のネットワークがリストにない場合は、これを使用して再度スキャンします。 信号の状態を改善するために場所を変更する必要があるかもしれません。</li>

		<li>選択-このオプションを使用して、指定したネットワークで「手動ネットワーク選択」をオンにします。 リストされているすべてのネットワークに接続できない場合があることに注意してください。 サービスプロバイダーが選択したネットワークとのローミング契約を結んでいない場合、接続の試行は失敗します。</li>
	</ul>

	<h3><tmpl_var _("webui","adv_mns_revert_to_automatic_btn")></h3>
	<p>「手動ネットワーク選択」を使用中の場合は、このボタンが表示されます。 このボタンをクリックして、手動から自動ネットワーク選択に変更します。</p>

	<h3>ネットワーク画面に戻る</h3>
	<p>このリンクを使用して、「ネットワーク」画面に戻ります。</p>
		
	</div>
	
</div>

<!-- id="mns" -->

