<!-- mns -->
<div id="mns">
	<h1>Tīkla atlase</h1>
	<h2>Pārskats</h2>
	<p>Šī ierīce automātiski atlasa optimālo mobilo tīklu. Ja izmantojat GSM tīklus, tīklu var atlasīt arī manuāli. Šī funkcija "<tmpl_var _("webui", "menu_adv_mns_text")>" ir noderīga tikai tad, ja ir pieejami vairāki tīkli. Ja šī funkcija tiek izmantota, ierīce izveido savienojumu tikai ar norādīto tīklu un ignorē citus pieejamos tīklus.</p>

	<h2>Statuss</h2>
	<p>Šajā sadaļā norādīts, vai tiek izmantota automātiskā vai manuālā tīkla atlase. Ja tiek izmantota manuāla tīkla atlase, redzams arī norādītais tīkls.</p>

	<h2>Darbība</h2>
	<h3><tmpl_var _("webui","adv_mns_scan_for_networks_btn")></h3>
	<p>Ja ir iespējama manuāla tīkla atlase, šī poga ir pieejama. Noklikšķiniet uz šīs pogas, ja vēlaties manuāli atlasīt tīklu. Pēc tam modems meklē visus pieejamos tīklus. Skenēšana var ilgt līdz divām minūtēm.</p>

	<p>Piezīme. Ja šī poga nav redzama, manuālā tīkla atlase nav pieejama jūsu pašreizējā atrašanās vietā, izmantojot pašreizējo tīklu.</p>

	<h3>Tīklu saraksts</h3>
	<div class="blockgroup">
	<p>Kad tīkla skenēšana ir pabeigta, visi pieejamie tīkli tiek parādīti sarakstā Tīklu saraksts. Pēc tam varat veikt vienu no tālāk norādītajām darbībām.</p>
	<ul>
		<li>Atcelt — izmantojiet šo opciju, lai saglabātu automātisko tīkla atlasi.</li>
		<li>Atsvaidzināt — izmantojiet šo opciju, lai skenētu vēlreiz, ja vēlamais tīkls nav iekļauts sarakstā. Lai uzlabotu signālu, iespējams, būs jāmaina atrašanās vieta.</li>

		<li>Atlasīt — izmantojiet šo opciju, lai ieslēgtu manuālo tīkla atlasi norādītajā tīklā. Ņemiet vērā, ka, iespējams, nevarēs izveidot savienojumu ar visiem norādītajiem tīkliem. Ja pakalpojumu sniedzējam nav viesabonēšanas līguma ar atlasīto tīklu, savienojuma izveides mēģinājums neizdosies.</li>
	</ul>

	<h3><tmpl_var _("webui","adv_mns_revert_to_automatic_btn")></h3>
	<p>Ja tiek izmantota manuālā tīkla atlase, šī poga ir redzama. Noklikšķiniet uz šīs pogas, lai mainītu tīkla atlasi no Manuāli uz Automātiski.</p>

	<h3>Atgriezties ekrānā Tīkli</h3>
	<p>Izmantojiet šo saiti, lai atgrieztos ekrānā Tīkli.</p>
		
	</div>
	
</div>

<!-- id="mns" -->

