<!-- mns -->
<div id="mns">
	<h1>Nätverksval</h1>
	<h2>Översikt</h2>
	<p>Den här enheten väljer automatiskt det optimala mobilnätet. Om du använder GSM-baserade nätverk kan du även välja ett nätverk manuellt. Denna ”<tmpl_var _("webui", "menu_adv_mns_text")>”-funktion är bara användbar om flera nätverk är tillgängliga. Om den här funktionen används ansluter enheten endast till det specificerade nätverket och ignorerar andra tillgängliga nätverk.</p>

	<h2>Status</h2>
	<p>Det här avsnittet indikerar om automatiskt eller manuellt nätverksval används. Om manuellt nätverksval används, visas även det specificerade nätverket.</p>

	<h2>Drift</h2>
	<h3><tmpl_var _("webui","adv_mns_scan_for_networks_btn")></h3>
	<p>Om manuellt nätverksval är möjligt är den här knappen tillgänglig. Klicka på den här knappen om du vill välja ett nätverk manuellt. Modemet skannar sedan efter alla tillgängliga nätverk. Den här skanningen kan ta upp till två minuter.</p>

	<p>Obs! Om den här knappen inte visas så är manuellt nätverksval inte tillgängligt på din nuvarande plats med ditt nuvarande nätverk.</p>

	<h3>Nätverkslista</h3>
	<div class="blockgroup">
	<p>Alla tillgängliga nätverk visas i nätverkslistan när en nätverksskanning har slutförts. Du kan sedan utföra en av följande åtgärder:</p>
	<ul>
		<li>Avbryt – Använd det här alternativet för att behålla automatisk nätverksval.</li>
		<li>Uppdatera – Använd detta för att skanna igen om det önskade nätverket inte listas. Du kan behöva ändra din plats för att förbättra signalen.</li>

		<li>Välj – Använd det här alternativet för att aktivera manuellt nätverksval med det specificerade nätverket. Observera att det eventuellt inte är möjligt att ansluta till alla listade nätverk. Om din tjänsteleverantör inte har ett roamingavtal med det valda nätverket kommer anslutningsförsöket att misslyckas.</li>
	</ul>

	<h3><tmpl_var _("webui","adv_mns_revert_to_automatic_btn")></h3>
	<p>Om manuellt nätverksval används är denna knapp synlig. Klicka på den här knappen för att växla från manuellt till automatiskt nätverksval.</p>

	<h3>Återgå till nätverksskärmen</h3>
	<p>Använd den här länken för att återgå till skärmen Nätverk.</p>
		
	</div>
	
</div>

<!-- id="mns" -->

