<!-- Software Update -->
<div id="software_update">

	<h1><tmpl_var _("webui", "software_update_menu_text")></h1>

	<h2>Panoramica</h2>

		<p>
			Gli aggiornamenti del software vengono scaricati automaticamente tramite la rete mobile. Questa pagina consente di monitorare tali aggiornamenti.
		</p>

	<h2><tmpl_var _("webui", "software_update_current_software_sub_header_text")></h2>
	<h3><tmpl_var _("webui", "software_update_current_software_modem_version_label")></h3>
        <p>
                The version of software currently installed for the modem component.
        </p>
        <h3><tmpl_var _("webui", "software_update_current_software_kernel_version_label")></h3>
        <p>
                The version number for the Operating System and its components.
        </p>
        <tmpl_if showAppVersion>
                <h3><tmpl_var _("webui", "software_update_current_software_app_version_label")></h3>
                <p>
                        The app version currently installed.
                </p>
        </tmpl_if>
        <h3><tmpl_var _("webui", "software_update_current_software_cute_version_label")></h3>
        <p>
                The cute version of the software currently installed on your device.
        </p>
        <h3><tmpl_var _("webui", "software_update_current_software_pri_version_label")></h3>
        <p>
                The configuration version currently applied to your device.
        </p>

	<tmpl_if SuOptOutButtonShow>
		<h2><tmpl_var _("webui", "software_update_opt_out_update_sub_header_text")></h2>
		<p>
			Per impostazione predefinita, gli aggiornamenti software vengono scaricati automaticamente sul dispositivo. Questa impostazione consente di disattivare gli aggiornamenti automatici del software. Se non si desidera che gli aggiornamenti software vengano scaricati automaticamente, spostare l’interruttore ON/OFF su OFF.
		</p>
	</tmpl_if>

	<tmpl_if SoftwareUpdateCheckShow>
		<tmpl_if ConfigurationVersionShow>
			<h3><tmpl_var _("webui", "software_update_current_software_configuration_version_label")></h3>
			
				<p>
					<tmpl_var _("webui", "software_update_current_software_configuration_version_help_label")>
				</p>
		</tmpl_if>
	
		<h2><tmpl_var _("webui", "software_update_check_for_update_sub_header_text")></h2>

		<h3><tmpl_var truncate(_("webui", "software_update_check_for_update_time_label"), (size(_("webui", "software_update_check_for_update_time_label")) - size(":")))></h3>

		<p>
			Questo campo indica quando il <tmpl_var _("webui", "webui_product_name")> ha effettuato l’ultima verifica della disponibilità di aggiornamenti. Puoi verificare manualmente la presenza di un aggiornamento utilizzando il pulsante "Verifica la disponibilità di aggiornamenti".
		</p>

		<h3>Pulsante di verifica della disponibilità di aggiornamenti</h3>
		<p>
			Puoi usarlo per verificare se è disponibile un aggiornamento per il <tmpl_var _("webui", "webui_product_name")>. Normalmente questo non è necessario, poiché gli aggiornamenti vengono inviati a <tmpl_var _("webui", "webui_product_name")> in modo automatico. Se si esegue la verifica ed è disponibile un aggiornamento, questo viene scaricato automaticamente.
				
		</p>
	</tmpl_if>

	<h3><tmpl_var truncate(_("webui", "software_update_check_for_update_status_label"), (size(_("webui", "software_update_check_for_update_status_label")) - size(":")))></h3>

		<p>
			In genere questo campo è vuoto, in ogni caso, il risultato della verifica viene mostrato qui.
			Inoltre qui viene mostrato l’avanzamento del download quando è in corso.
		</p>
	
	<h2><tmpl_var _("webui", "software_update_last_update_sub_header_text")></h2>
		
		<p>
			Questo pannello mostra i dettagli dell'ultimo aggiornamento software.
		</p>
	
	<h2><tmpl_var _("webui", "software_update_history_sub_header_show_text")></h2>
	
		<p>
			Si può aprire questo pannello facendo clic sul link/intestazione. La cronologia degli aggiornamenti di sistema contiene i dettagli degli aggiornamenti di <tmpl_var SoftwareUpdateHistoryCount> che sono stati scaricati e installati su questo dispositivo. Se non è ancora stato installato alcun aggiornamento, questo pannello mostrerà la versione corrente del software.
		</p>
</div>
<!-- end Software Update -->
