<!-- Backup and Restore -->
<div id="backup_restore">
         <h1><tmpl_var _("webui", "backup_restore_menu_text")></h1>

         <h2>نظرة عامة</h2>
         <p>استخدم هذه الميزة لإنشاء نسخة احتياطية (تنزيل) لنسخة من إعدادات التكوين من هذا الجهاز إلى ملف موجود على جهاز الكمبيوتر الخاص بك، أو استعادة (تحميل) ملف تكوين محفوظ مسبقًا. يحتوي ملف التكوين هذا على جميع الإعدادات الخاصة بالجهاز والموجه ووظائف النظام. ولا يحتوي على أي إعدادات أو بيانات لمودم 4G/5G. لاحظ أن لا يمكنك استعادة ملف إلا إلى نفس الجهاز الذي كان به.
         </p>
         <p>
            توفر هذه الشاشة أيضًا إمكانية إعادة ضبط جميع الإعدادات على قيم المصنع الافتراضية.
         </p>

         <h2><tmpl_var _("webui", "backup_restore_the_backup_sub_header_text")></h2>
         <h3>كلمة مرور المسؤول</h3>
         <p>
                 أدخل كلمة مرور مسؤول <tmpl_var _("webui", "webui_product_name")> الحالية في هذا الحقل.
         </p>
         <h3><tmpl_var _("webui", "backup_restore_backup_now_button")></h3>
         <p>
                 انقر فوق الزر Download (تنزيل) لتنزيل نسخة من ملف التكوين الحالي إلى جهاز الكمبيوتر الخاص بك. إذا طالبك المتصفح بحفظ الملف، يمكنك إعادة تسميته إذا رغبت في ذلك.
         </p>
         <p class="note">
                 <strong>ملاحظة:</strong> يتعذر تحرير ملف النسخة الاحتياطية أو عرضه على النظام الذي تم تنزيله أو على أي جهاز آخر. لا يمكن استعادة هذا الملف إلا لهذا الطراز من جهاز <tmpl_var _("webui", "webui_product_name")>، ولا يمكن عرض الإعدادات أو تغييرها إلا باستخدام واجهة مستخدم الويب.
         </p>

         <h2><tmpl_var _("webui", "backup_restore_the_restore_sub_header_text")></h2>

         <h3>كلمة مرور المسؤول</h3>
         <p>
                 أدخل كلمة مرور مسؤول <tmpl_var _("webui", "webui_product_name")> الحالية في هذا الحقل.
         </p>
         <h3><tmpl_var truncate(_("webui", "backup_restore_file_select_label"), (size(_("webui", "backup_restore_file_select_label")) - size(":")))></h3>
         <p>
                 حدد ملف التكوين الذي قمت بتنزيله مسبقًا من <tmpl_var _("webui", "webui_product_name")> هذا إلى جهاز الكمبيوتر.
         </p>
         <h3>زر Restore Now (الاستعادة الآن)</h3>
         <p>بعد تحديد ملف تكوين، انقر فوق هذا الزر لبدء تحميل الملف. بعد التحميل، يتم تطبيق ملف التكوين على الفور، وتتم إعادة تشغيل هذا الجهاز.
         </p>
         <p class="note">
                 <strong>ملاحظة:</strong> يؤدي تحميل ملف التكوين إلى تغيير جميع الإعدادات الموجودة لتتوافق مع ملف التكوين. جميع الاتصالات الموجودة سوف تنقطع عن هذا <tmpl_var _("webui", "webui_product_name")>، بما في ذلك جلسة متصفح الويب هذه.
         </p>

         <h2><tmpl_var _("webui", "backup_restore_factory_restore_sub_header_text")></h2>
         <p>
                 انقر فوق الزر <strong>Restore Factory Defaults (استعادة إعدادات المصنع الافتراضية)</strong> لإعادة ضبط جميع الإعدادات على قيم المصنع الافتراضية. قد يؤدي هذا إلى فصل جميع الاتصالات الموجودة بـ <tmpl_var _("webui", "webui_product_name")> هذا، بما في ذلك جلسة عمل متصفح الويب هذه.
         </p>
         <h2>اعد تشغيل الجهاز</h2>
         <p>
                 يقوم هذا الزر بإيقاف تشغيل <tmpl_var _("webui", "webui_product_name")> الخاص بك وإعادة تشغيله مرة أخرى.
         </p>
</div>
 <!-- id="backup_restore" -->
