<!-- wifi_guest_settings -->
<div id="wifi_guest_settings">	
	<h1>Wi-Fi — viesu tīkls</h1>
	<p>
		Viesu Wi-Fi tīklu var lietot, lai nodrošinātu pagaidu piekļuvi internetam, izmantojot <tmpl_var _("webui", "webui_product_name_with_suffix")> Wi-Fi tīklu. Lai izveidotu savienojumu ar viesu Wi-Fi tīklu, pievienotajām ierīcēm ir jāizmanto šajā ekrānā redzamie Wi-Fi iestatījumi.
	</p>
	
	<p>
		Lai ieslēgtu viesu tīklu, izmantojiet šī tīmekļa administratora interfeisa ekrānu Wi-Fi Vispārīgi vai <tmpl_var _("webui", "webui_product_name_with_suffix")> skārienekrāna programmas Wi-Fi opciju "Wi-Fi joslas atlase".
	</p>

	<h3><tmpl_var _("webui", "wifi_guest_ssid_label")></h3>
	<p>
		Šādi tiek iestatīts viesu Wi-Fi tīkla nosaukums vai SSID. Ievadiet piemērotu nosaukumu. Nosaukumā var būt līdz 32 rakstzīmēm.
	</p>
	
	<h3><tmpl_var _("webui", "wifi_guest_security_label")></h3>
	<p>
		Atlasiet vēlamo Wi-Fi drošības opciju.
	</p>
	
	<ul>
		<li>
			<strong><tmpl_var _("webui", "wifi_security_none_text")></strong> ļauj citām personām pārraudzīt jūsu Wi-Fi trafiku un izmantot jūsu datu plānu, lai piekļūtu internetam. Ja vien iespējams, jāizvairās no šīs iespējas izmantošanas.
		</li>
		<li>
			<strong><tmpl_var _("webui", "wifi_security_wpa2_text")></strong> ir jaunākā un drošākā metode, un, ja iespējams, tā ir jāizmanto.
		</li>
		<li>
			<strong><tmpl_var _("webui", "wifi_security_wpa2_mix_text")></strong> var izmantot, ja dažas no vecākām ierīcēm neatbalsta WPA2.
		</li>
		<li>
			<strong><tmpl_var _("webui","wifi_security_wpa3_transition_text")></strong> ir piemērots lietošanai ierīcēs, kas atbilst protokolam WPA2 vai WPA3.
	</ul>

	<h3><tmpl_var _("webui", "wifi_guest_password_label")></h3>
	<p>
		Ja laukā <strong>Drošība</strong> ir atlasīts iestatījums <strong>Neviens</strong>, ir nepieciešama Wi-Fi parole.
	</p>

	<p>
		Šajā laukā ievadiet Wi-Fi paroli. Varat arī izmantot pogu "Ģenerēt jaunu atslēgu", lai šajā laukā pēc nejaušības principa ievietotu spēcīgu paroli. Neaizmirstiet saglabāt izmaiņas, ja izmantojat šo opciju.
	</p>
	
	<p>
		Šie iestatījumi pēc noklusējuma ir paslēpti, taču varat noklikšķināt uz virsraksta/saites, lai padarītu tos redzamus. 
		Parasti šīm opcijām var atstāt noklusējuma vērtības, bet, ja nepieciešams, tās var mainīt atbilstoši konkrētajai videi.
	</p>

	<h3><tmpl_udf GET_PO_TEXT("wifi_guest_show_ssid_label", gProductName)></h3>
	<p>
		Ja šis iestatījums ir atzīmēts, Wi-Fi tīkla nosaukums skārienekrānā nav redzams. Ja iestatījums nav atzīmēts, Wi-Fi lietotnē tīkla nosaukumu var skatīt skārienekrānā.
	</p>

	<h3><tmpl_udf GET_PO_TEXT("wifi_guest_show_password_label", gProductName)></h3>
	<p>
		Ja šis iestatījums ir atzīmēts, Wi-Fi tīkla parole skārienekrānā nav redzama. Ja iestatījums nav atzīmēts, Wi-Fi lietotnē paroli var skatīt skārienekrānā.
	</p>

	<h3><tmpl_var _("webui", "wifi_guest_broadcast_ssid_label")></h3>
	<p>
		Ja šis iestatījums ir atzīmēts, šis Wi-Fi tīkls tiek parādīts jūsu pievienotajās ierīcēs pieejamo Wi-Fi tīklu sarakstā. Ja tā nav atzīmēta, šis tīkls būs neredzams.
	</p>

	<tmpl_if showWiFiGuestWPS>
	<h3><tmpl_var _("webui", "wifi_guest_wps_label")></h3>
	<p>
		Wi-Fi aizsargātā iestatīšana (WPS) ir sistēma, kas ļauj Wi-Fi ierīcēm izveidot savienojumu ar Wi-Fi tīklu, manuāli neievadot tīkla atslēgu. Ja vēlaties izmantot WPS, atzīmējiet šo opciju.
	</p>
	</tmpl_if>

	<h3><tmpl_var _("webui", "wifi_guest_privacy_label")></h3>
	<p>
		Ja šis iestatījums ir atzīmēts, katra pievienotā ierīce tiek izolēta no visām pārējām pievienotajām ierīcēm. Tādējādi tiek panākta papildu drošība, ja dažas pievienotās ierīces nav zināmas vai nav pilnībā uzticamas. Normālai darbībai šī izvēles rūtiņa nav jāatzīmē.
	</p>
</div>

<!-- id="wifi_guest_settings" -->
