<!-- Data Usage -->
<div id="data_usage">
	<h1><tmpl_var _("webui", "data_usage_menu_text")></h1>
	<h2>Vue d’ensemble</h2>
	<p>Cet écran affiche une illustration graphique de la consommation de données sur votre forfait de données mobile, à condition que des informations sur la consommation de données soient disponibles.</p>
	<h2>Estimation de la consommation de données</h2>
	<p>L’affichage varie en fonction de votre forfait, mais il contient généralement les informations suivantes.</p>
	<div class="blockgroup">
		<ul>
		<li>Estimation de la consommation de données pour votre forfait dans le cadre du cycle de facturation actuel, jusqu’à la date indiquée.</li>
		<li>Le type de forfait et la limite de données sur votre forfait.</li>
		<li>Une représentation graphique de la consommation de données pour votre forfait dans le cadre du cycle de facturation actuel.</li>
		<li>Pour les forfaits partagés, une indication des données utilisées sur cet appareil particulier.</li>
		<li>La date à laquelle le cycle de facturation actuel se termine.</li>
		</ul>
	</div>
</div>

