<!-- Data Usage -->
<div id="data_usage">
	<h1><tmpl_var _("webui", "data_usage_menu_text")></h1>
	<h2>概要</h2>
	<p>この画面には、データ使用量情報が利用可能な場合に、モバイルデータプランのデータ使用量がグラフ表示されます。</p>
	<h2>推定データ使用量</h2>
	<p>表示内容はプランによって異なりますが、一般的には次の情報が含まれています。</p>
	<div class="blockgroup">
		<ul>
		<li>表示されている日付までの、現在の請求サイクル内のプランの推定データ使用量。</li>
		<li>プランのタイプとプランのデータ制限。</li>
		<li>現在の請求サイクル内でのプランのデータ使用量のグラフ表示。</li>
		<li>共有プランの場合、この特定のデバイスで使用されるデータの指標。</li>
		<li>現在の請求サイクルが終了する日付。</li>
		</ul>
	</div>
</div>

