<!-- Data Usage -->
<div id="data_usage">
	<h1><tmpl_var _("webui", "data_usage_menu_text")></h1>
	<h2>Apžvalga</h2>
	<p>Šiame ekrane rodoma grafinė jūsų mobiliojo ryšio duomenų plano naudojimo iliustracija, pateikiama, jei prieinama duomenų naudojimo informacija.</p>
	<h2>Apskaičiuotas duomenų naudojimas</h2>
	<p>Rodinys priklauso nuo jūsų plano, bet jame paprastai pateikiama toliau nurodyta informacija.</p>
	<div class="blockgroup">
		<ul>
		<li>Apskaičiuotas jūsų plano duomenų naudojimas per dabartinį atsiskaitymo periodą iki nurodytos datos.</li>
		<li>Jūsų plano tipas ir duomenų limitas.</li>
		<li>Grafinis jūsų plano duomenų naudojimo per dabartinį atsiskaitymo periodą atvaizdavimas.</li>
		<li>Bendro naudojimo planų atveju parodomi tame konkrečiame įrenginyje naudojami duomenys.</li>
		<li>Dabartinio atsiskaitymo periodo pabaigos data.</li>
		</ul>
	</div>
</div>

