<!-- Data Usage -->
<div id="data_usage">
	<h1><tmpl_var _("webui", "data_usage_menu_text")></h1>
	<h2>Oversikt</h2>
	<p>Dette skjermbildet viser en grafisk illustrasjon av databruk på din mobile dataplan, forutsatt at informasjon om databruk er tilgjengelig.</p>
	<h2>Estimert databruk</h2>
	<p>Visningen varierer i henhold til planen, men inneholder vanligvis følgende informasjon.</p>
	<div class="blockgroup">
		<ul>
		<li>Estimert databruk for planen innen gjeldende faktureringssyklus, frem til datoen som vises.</li>
		<li>Type plan og datagrensen for planen.</li>
		<li>En grafisk fremstilling av databruk for planen innen gjeldende faktureringssyklus.</li>
		<li>En indikasjon på dataene som brukes på denne spesielle enheten for delte planer.</li>
		<li>Datoen da gjeldende faktureringssyklus slutter.</li>
		</ul>
	</div>
</div>

