<!-- Data Usage -->
<div id="data_usage">
	<h1><tmpl_var _("webui", "data_usage_menu_text")></h1>
	<h2>Descripción</h2>
	<p> Esta pantalla muestra una ilustración gráfica del consumo de datos de su plan de datos móviles, siempre que esa información de consumo de datos esté disponible. </p>
	<h2>Consumo de datos estimado</h2>
	<p> La pantalla varía de acuerdo con su plan, pero, por lo general, contiene la siguiente información. </p>
	<div class="blockgroup">
		<ul>
		<li>El consumo de datos estimado de su plan dentro del ciclo de facturación actual, hasta la fecha que se muestra. </li>
		<li>El tipo de plan y el límite de datos de su plan.</li>
		<li>Una representación gráfica del consumo de datos de su plan dentro del ciclo de facturación actual.</li>
		<li>La fecha de finalización del ciclo de facturación.</li>
		</ul>
	</div>
	<p>Para actualizar los datos que se muestran en la pantalla, use el botón "Actualizar".</p>
	<h2>Restablecer el contador de datos ahora</h2>
        <p>
                La operación de reinicio requiere confirmación (tal como se describe a continuación). Si se confirma, el reinicio realiza lo siguiente:
                <div class="blockgroup">
                        <ul>
                                <li> Establece el contador de datos en cero (0)</li>
                                <li> Establece el contador de fecha de reinicio en este día del mes a la fecha de hoy</li>
                        </ul>
                </div>
        
        <h2>Restablecer el contador de datos en este día del mes</h2>
        <p>
                Es la fecha de inicio del uso de datos especificada por el usuario a partir de la cual se deriva la fecha de finalización del ciclo de facturación.
        </p>
        <p>
                El valor predeterminado es el primer día del mes.
        </p>
        <h2>Límite máximo de datos</h2>
        <p>
                Es el límite total de datos especificado por el usuario que se utilizará para calcular los datos restantes/datos utilizados en el ciclo.
        </p>
	<h2>Inicio de sesión</h2>
        <p>
                La fecha y la hora de inicio de la sesión actual de Internet.
        </p>
        <h2>Duración de la sesión</h2>
        <p>
                La cantidad de tiempo que ha transcurrido desde que se estableció la conexión para la sesión de Internet actual.
        </p>
        <h2>Tx (transmisión) de la sesión</h2>
        <p>
                La cantidad de datos transmitidos para la sesión de Internet actual. Este contador comienza de cero cuando se establece la conexión.
        </p>
        <h2>Rx (recepción) de la sesión</h2>
        <p>
                La cantidad de datos recibidos para la sesión de Internet actual. Este contador comienza de cero cuando se establece la conexión.
        </p>
        <h2>Transmisión mensual</h2>
        <p>
                La cantidad de datos transmitidos para el ciclo de facturación actual. 
        </p>
        <h2>Recepción mensual</h2>
        <p>
                La cantidad de datos recibidos para el ciclo de facturación actual. 
        </p>
        <h2>Total mensual</h2>
        <p>
                La cantidad total de datos para el ciclo de facturación actual.
        </p>
</div>

