<!-- Data Usage -->
<div id="data_usage">
	<h1><tmpl_var _("webui", "data_usage_menu_text")></h1>
	<h2>نظرة عامة</h2>
	<p>تعرض هذه الشاشة رسمًا توضيحيًا لاستخدام البيانات في خطة بيانات المحمول، بشرط توفر معلومات استخدام البيانات.</p>
	<h2>استخدام البيانات المقدَّر</h2>
	<p>يختلف العرض وفقًا لخطتك، ولكنه يحتوي بشكل عام على المعلومات التالية.</p>
	<div class="blockgroup">
		<ul>
		<li>استخدام البيانات المقدَّر لخطتك خلال دورة الفوترة الحالية، حتى التاريخ الموضح.</li>
		<li>نوع الخطة وحد البيانات في خطتك.</li>
		<li>تمثيل رسومي لاستخدام البيانات لخطتك ضمن دورة الفوترة الحالية.</li>
		<li>بالنسبة إلى الخطط المشارَكة، هناك إشارة إلى البيانات المستخدمة على هذا الجهاز بالذات.</li>
		<li>تاريخ انتهاء دورة الفوترة الحالية.</li>
		</ul>
	</div>
</div>

