<!-- Data Usage -->
<div id="data_usage">
	<h1><tmpl_var _("webui", "data_usage_menu_text")></h1>
	<h2>Übersicht</h2>
	<p>Auf diesem Bildschirm wird die Datennutzung Ihres mobilen Datentarifs grafisch dargestellt, vorausgesetzt, dass Informationen zur Datennutzung verfügbar sind.</p>
	<h2>Geschätzte Datennutzung</h2>
	<p>Die Anzeige variiert tarifabhängig, enthält aber im Allgemeinen die folgenden Informationen.</p>
	<div class="blockgroup">
		<ul>
		<li>Geschätzte Datennutzung für Ihren Tarif innerhalb des aktuellen Abrechnungszeitraums bis zum angezeigten Datum.</li>
		<li>Die Art und das Datenvolumen des Tarifs.</li>
		<li>Eine grafische Darstellung der Datennutzung für Ihren Tarif im aktuellen Abrechnungszeitraum.</li>
		<li>Bei gemeinsam genutzten Tarifen, eine Angabe der auf diesem speziellen Gerät verbrauchten Daten.</li>
		<li>Das Enddatum des Abrechnungszeitraums.</li>
		</ul>
	</div>
</div>

