<!-- Data Usage -->
<div id="data_usage">
	<h1><tmpl_var _("webui", "data_usage_menu_text")></h1>
	<h2>Vue d’ensemble</h2>
	<p>Cet écran affiche une illustration graphique de la consommation de données pour votre forfait de données mobile, à condition que des informations sur la consommation de données soient disponibles.</p>
	<h2>Estimation de la consommation de données</h2>
	<p>L’affichage varie en fonction de votre forfait, mais il contient généralement les informations suivantes.</p>
	<div class="blockgroup">
		<ul>
		<li>Estimation de la consommation de données pour votre forfait dans le cadre du cycle de facturation actuel, jusqu’à la date indiquée.</li>
		<li>Le type de forfait et la limite de données de votre forfait.</li>
		<li>Une représentation graphique de la consommation de données pour votre forfait dans le cadre du cycle de facturation actuel.</li>
		<li>Pour les forfaits partagés, une indication des données utilisées avec cet appareil particulier.</li>
		<li>La date à laquelle le cycle de facturation actuel se termine.</li>
		</ul>
	</div>
	<h2>Réinitialiser le compteur de données maintenant</h2>
	<p>
		La fonction de réinitialisation nécessite une confirmation (comme cela est décrit ci-dessous). Si elle est confirmée, les opérations suivantes sont effectuées :
		<div class="blockgroup">
			<ul>
				<li>Réinitialisation du compteur de données (0)</li>
				<li>Réinitialisation du compteur de la date de ce jour du mois à la date d’aujourd’hui</li>
			</ul>
		</div>
	</p>
	<h2>Réinitialiser le compteur de la date à ce jour du mois</h2>
	<p>
		Il s’agit de la date de début d’utilisation des données spécifiées par l’utilisateur à partir de laquelle la date de fin du cycle de facturation est dérivée.
	</p>
	<p>La valeur par défaut est le 1er jour du mois.</p>
	<h2>Limite maximale de données</h2>
	<p>
		Il s’agit de la limite de données totales spécifiées par l’utilisateur pour calculer les données restantes ou utilisées au cours du cycle.
	</p>
	<h2>Début de la session</h2>
	<p>La date et l’heure du début de la session Internet en cours.</p>
	<h2>Durée de la session</h2>
	<p>Le temps qui s’est écoulé depuis que la connexion à la session Internet en cours a été établie.</p>
	<h2>Données Tx de la session</h2>
	<p>
		La quantité de données transmises pendant la session Internet en cours. Ce compteur commence à zéro lorsque la connexion est établie.
	</p>
	<h2>Données Rx de la session</h2>
	<p>
		La quantité de données reçues pendant la session Internet en cours. Ce compteur commence à zéro lorsque la connexion est établie.
	</p>
	<h2>Données Tx mensuelles</h2>
	<p>La quantité de données transmises pendant le cycle de facturation en cours.</p>
	<h2>Données Rx mensuelles</h2>
	<p>La quantité de données reçues pendant le cycle de facturation en cours.</p>
	<h2>Total de données mensuelles</h2>
	<p>La quantité totale de données pendant le cycle de facturation en cours.</p>
</div>














