<!-- Data Usage -->
<div id="data_usage">
	<h1><tmpl_var _("webui", "data_usage_menu_text")></h1>
	<h2>Översikt</h2>
	<p>Den här skärmen visar en grafisk illustration av dataanvändning i din mobildataplan, förutsatt att information om dataanvändning är tillgänglig.</p>
	<h2>Uppskattad dataanvändning</h2>
	<p>Displayen varierar beroende på din plan, men innehåller vanligtvis följande information.</p>
	<div class="blockgroup">
		<ul>
		<li>Uppskattad dataanvändning för din plan inom den nuvarande faktureringscykeln, fram till det datum som visas.</li>
		<li>Typen av plan och datagränsen för din plan.</li>
		<li>En grafisk framställning av dataanvändningen för din plan inom den nuvarande faktureringscykeln.</li>
		<li>För delade planer, en indikation av de data som används på just den här enheten.</li>
		<li>Det datum då den nuvarande faktureringscykeln slutar.</li>
		</ul>
	</div>
</div>

