<option value="1"<tmpl_if IN_SET(dataUsagePlanStartDay, "1")> selected="selected"</tmpl_if>><tmpl_var _("webui", "data_usage_start_date_one_text")></option>
<option value="2"<tmpl_if IN_SET(dataUsagePlanStartDay, "2")> selected="selected"</tmpl_if>><tmpl_var _("webui", "data_usage_start_date_two_text")></option>
<option value="3"<tmpl_if IN_SET(dataUsagePlanStartDay, "3")> selected="selected"</tmpl_if>><tmpl_var _("webui", "data_usage_start_date_three_text")></option>
<option value="4"<tmpl_if IN_SET(dataUsagePlanStartDay, "4")> selected="selected"</tmpl_if>><tmpl_var _("webui", "data_usage_start_date_four_text")></option>
<option value="5"<tmpl_if IN_SET(dataUsagePlanStartDay, "5")> selected="selected"</tmpl_if>><tmpl_var _("webui", "data_usage_start_date_five_text")></option>
<option value="6"<tmpl_if IN_SET(dataUsagePlanStartDay, "6")> selected="selected"</tmpl_if>><tmpl_var _("webui", "data_usage_start_date_six_text")></option>
<option value="7"<tmpl_if IN_SET(dataUsagePlanStartDay, "7")> selected="selected"</tmpl_if>><tmpl_var _("webui", "data_usage_start_date_seven_text")></option>
<option value="8"<tmpl_if IN_SET(dataUsagePlanStartDay, "8")> selected="selected"</tmpl_if>><tmpl_var _("webui", "data_usage_start_date_eight_text")></option>
<option value="9"<tmpl_if IN_SET(dataUsagePlanStartDay, "9")> selected="selected"</tmpl_if>><tmpl_var _("webui", "data_usage_start_date_nine_text")></option>
<option value="10"<tmpl_if IN_SET(dataUsagePlanStartDay, "10")> selected="selected"</tmpl_if>><tmpl_var _("webui", "data_usage_start_date_ten_text")></option>
<option value="11"<tmpl_if IN_SET(dataUsagePlanStartDay, "11")> selected="selected"</tmpl_if>><tmpl_var _("webui", "data_usage_start_date_eleven_text")></option>
<option value="12"<tmpl_if IN_SET(dataUsagePlanStartDay, "12")> selected="selected"</tmpl_if>><tmpl_var _("webui", "data_usage_start_date_twelve_text")></option>
<option value="13"<tmpl_if IN_SET(dataUsagePlanStartDay, "13")> selected="selected"</tmpl_if>><tmpl_var _("webui", "data_usage_start_date_thirteen_text")></option>
<option value="14"<tmpl_if IN_SET(dataUsagePlanStartDay, "14")> selected="selected"</tmpl_if>><tmpl_var _("webui", "data_usage_start_date_fourteen_text")></option>
<option value="15"<tmpl_if IN_SET(dataUsagePlanStartDay, "15")> selected="selected"</tmpl_if>><tmpl_var _("webui", "data_usage_start_date_fifteen_text")></option>
<option value="16"<tmpl_if IN_SET(dataUsagePlanStartDay, "16")> selected="selected"</tmpl_if>><tmpl_var _("webui", "data_usage_start_date_sixteen_text")></option>
<option value="17"<tmpl_if IN_SET(dataUsagePlanStartDay, "17")> selected="selected"</tmpl_if>><tmpl_var _("webui", "data_usage_start_date_seventeen_text")></option>
<option value="18"<tmpl_if IN_SET(dataUsagePlanStartDay, "18")> selected="selected"</tmpl_if>><tmpl_var _("webui", "data_usage_start_date_eighteen_text")></option>
<option value="19"<tmpl_if IN_SET(dataUsagePlanStartDay, "19")> selected="selected"</tmpl_if>><tmpl_var _("webui", "data_usage_start_date_ninteen_text")></option>
<option value="20"<tmpl_if IN_SET(dataUsagePlanStartDay, "20")> selected="selected"</tmpl_if>><tmpl_var _("webui", "data_usage_start_date_twenty_text")></option>
<option value="21"<tmpl_if IN_SET(dataUsagePlanStartDay, "21")> selected="selected"</tmpl_if>><tmpl_var _("webui", "data_usage_start_date_twentyone_text")></option>
<option value="22"<tmpl_if IN_SET(dataUsagePlanStartDay, "22")> selected="selected"</tmpl_if>><tmpl_var _("webui", "data_usage_start_date_twentytwo_text")></option>
<option value="23"<tmpl_if IN_SET(dataUsagePlanStartDay, "23")> selected="selected"</tmpl_if>><tmpl_var _("webui", "data_usage_start_date_twentythree_text")></option>
<option value="24"<tmpl_if IN_SET(dataUsagePlanStartDay, "24")> selected="selected"</tmpl_if>><tmpl_var _("webui", "data_usage_start_date_twentyfour_text")></option>
<option value="25"<tmpl_if IN_SET(dataUsagePlanStartDay, "25")> selected="selected"</tmpl_if>><tmpl_var _("webui", "data_usage_start_date_twentyfive_text")></option>
<option value="26"<tmpl_if IN_SET(dataUsagePlanStartDay, "26")> selected="selected"</tmpl_if>><tmpl_var _("webui", "data_usage_start_date_twentysix_text")></option>
<option value="27"<tmpl_if IN_SET(dataUsagePlanStartDay, "27")> selected="selected"</tmpl_if>><tmpl_var _("webui", "data_usage_start_date_twentyseven_text")></option>
<option value="28"<tmpl_if IN_SET(dataUsagePlanStartDay, "28")> selected="selected"</tmpl_if>><tmpl_var _("webui", "data_usage_start_date_twentyeight_text")></option>
<option value="29"<tmpl_if IN_SET(dataUsagePlanStartDay, "29")> selected="selected"</tmpl_if>><tmpl_var _("webui", "data_usage_start_date_twentynine_text")></option>
<option value="30"<tmpl_if IN_SET(dataUsagePlanStartDay, "30")> selected="selected"</tmpl_if>><tmpl_var _("webui", "data_usage_start_date_thirty_text")></option>
<option value="31"<tmpl_if IN_SET(dataUsagePlanStartDay, "31")> selected="selected"</tmpl_if>><tmpl_var _("webui", "data_usage_start_date_thirtyone_text")></option>
