<div id="device_info">
	<h1><tmpl_udf GET_PO_TEXT("device_info_menu_text", gProductName)></h1>
						
	<h3><tmpl_var truncate(_("webui", "device_info_manufacturer_label"), (size(_("webui", "device_info_manufacturer_label")) - size(":")))></h3>
		<p>Producenten af denne <tmpl_var _("webui", "webui_product_name")>.</p>
	<h3><tmpl_var truncate(_("webui", "device_info_model_label"), (size(_("webui", "device_info_model_label")) - size(":")))></h3>
		<p>Det officielle modelnavn og -nummer for denne enhed.</p>
			
	<h3><tmpl_var truncate(_("webui", "device_info_global_os_version_label"), (size(_("webui", "device_info_global_os_version_label")) - size(":")))></h3>
	<p>Versionen af den aktuelt installerede software. Dette er hovedversionsnummeret; følgende versionsoplysninger vedrører forskellige softwarekomponenter.</p>
	<tmpl_if showSDMVersion>
		<h3><tmpl_var truncate(_("webui", "device_info_global_sdm_version_label"), (size(_("webui", "device_info_global_sdm_version_label")) - size(":")))></h3>
		<p>Dette versionsnummer vedrører enhedens styringskomponent. Enhedens administrationssoftwarekomponent opdateres automatisk, når det er nødvendigt.</p>
	</tmpl_if>
	<div class="blockgroup">
		<tmpl_if showMifiOsVersion>
			<h4><tmpl_var truncate(_("webui", "device_info_os_version_label"), (size(_("webui", "device_info_os_version_label")) - size(":")))></h4>
			<p>Dette er versionsnummeret til OS (operativsystemet) og dets komponenter.</p>
		</tmpl_if>
			<h4><tmpl_var truncate(_("webui", "device_info_modem_version_label"), (size(_("webui", "device_info_modem_version_label")) - size(":")))></h4>
			<p>For 4G-modemkomponenten er dette den version af den firmware (software), der i øjeblikket er installeret.</p>
		<tmpl_if showWifiFwVersion>
			<h4>Wi-Fi-firmwareversion</h4>
			<p>For Wi-Fi-komponenten er dette den version af den firmware (software), der i øjeblikket er installeret.</p>
		</tmpl_if>
		<h4><tmpl_var truncate(_("webui", "device_info_web_ui_version_label"), (size(_("webui", "device_info_web_ui_version_label")) - size(":")))></h4>
			<p>Versionsnummeret til Jetpack Web Interface.</p>
		<tmpl_if showLcdVersion>
			<h4><tmpl_var truncate(_("webui", "device_info_lcd_ui_version_label"), (size(_("webui", "device_info_lcd_ui_version_label")) - size(":")))></h4>
			<p>Versionsnummeret til den software, der styrer enhedens skærm og brugerens interaktion med skærmindholdet.</p>
		</tmpl_if>
		<h4><tmpl_var truncate(_("webui", "device_info_pri_version_label"), (size(_("webui", "device_info_pri_version_label")) - size(":")))></h4>
			<p>Dette identificerer den konfigurationsversion, der i øjeblikket er anvendt på denne enhed.</p>
	</div>

</div>
	
