<div id="device_info">
	<h1><tmpl_udf GET_PO_TEXT("device_info_menu_text", gProductName)></h1>
						
	<h3><tmpl_var truncate(_("webui", "device_info_manufacturer_label"), (size(_("webui", "device_info_manufacturer_label")) - size(":")))></h3>
		<p>この<tmpl_var _("webui", "webui_product_name")>の製造元。</p>
	<h3><tmpl_var truncate(_("webui", "device_info_model_label"), (size(_("webui", "device_info_model_label")) - size(":")))></h3>
		<p>このデバイスの正式なモデル名と番号。</p>
			
	<h3><tmpl_var truncate(_("webui", "device_info_global_os_version_label"), (size(_("webui", "device_info_global_os_version_label")) - size(":")))></h3>
	<p>現在インストールされているソフトウェアのバージョン。 これはメインのバージョン番号です。次のバージョン情報は、さまざまなソフトウェアコンポーネントに関連しています。</p>
	<tmpl_if showSDMVersion>
		<h3><tmpl_var truncate(_("webui", "device_info_global_sdm_version_label"), (size(_("webui", "device_info_global_sdm_version_label")) - size(":")))></h3>
		<p>このバージョン番号は、デバイス管理コンポーネントに関連しています。 デバイス管理ソフトウェアコンポーネントは、必要に応じて自動的に更新されます。</p>
	</tmpl_if>
	<div class="blockgroup">
		<tmpl_if showMifiOsVersion>
			<h4><tmpl_var truncate(_("webui", "device_info_os_version_label"), (size(_("webui", "device_info_os_version_label")) - size(":")))></h4>
			<p>これは、OS（オペレーティングシステム）とそのコンポーネントのバージョン番号です。</p>
		</tmpl_if>
			<h4><tmpl_var truncate(_("webui", "device_info_modem_version_label"), (size(_("webui", "device_info_modem_version_label")) - size(":")))></h4>
			<p>4Gモデムコンポーネントの場合、これは現在インストールされているファームウェア（ソフトウェア）のバージョンです。</p>
		<tmpl_if showWifiFwVersion>
			<h4>Wi-Fiファームウェアバージョン</h4>
			<p>Wi-Fiコンポーネントの場合、これは現在インストールされているファームウェア（ソフトウェア）のバージョンです。</p>
		</tmpl_if>
		<tmpl_if showWebUiVersion>
			<h4><tmpl_var truncate(_("webui", "device_info_web_ui_version_label"), (size(_("webui", "device_info_web_ui_version_label")) - size(":")))></h4>
			<p>Jetpack ウェブインターフェイスのバージョン番号。</p>
		</tmpl_if>
		<tmpl_if showAppVersion>
                        <p>
                                <h4><tmpl_var truncate(_("webui", "device_info_app_version_label"), (size(_("webui", "device_info_app_version_label")) - size(":")))></h4>
                                The app version currently installed.
                        </p>
                </tmpl_if>
		<tmpl_if showLcdVersion>
			<h4><tmpl_var truncate(_("webui", "device_info_lcd_ui_version_label"), (size(_("webui", "device_info_lcd_ui_version_label")) - size(":")))></h4>
			<p>デバイス画面を制御するソフトウェアのバージョン番号と、画面コンテンツとのユーザーの対話。</p>
		</tmpl_if>
		<h4><tmpl_var truncate(_("webui", "device_info_pri_version_label"), (size(_("webui", "device_info_pri_version_label")) - size(":")))></h4>
			<p>これは、このデバイスに現在適用されている構成バージョンを識別します。</p>
	</div>

</div>
	
