<!-- Help  -->

<div id="overview">
	<h2>Übersicht</h2>
	<p>
		Willkommen bei <tmpl_var _("webui", "webui_product_name")>. Ihr neues Gerät ist das <tmpl_var _("webui", "webui_carrier_name")> <tmpl_var _("webui", "webui_product_trade_mark")> – <tmpl_var _("webui", "webui_product_number")><br> Das <tmpl_var _("webui", "webui_product_number")> bietet die Leistungsfähigkeit von 5G für ultraschnellen Internetzugang auf Anwendungen, Uploads und Downloads. Sie können das Gerät zu Hause, bei der Arbeit oder unterwegs und auch im Ausland verwenden.
	</p>

	<h2>
		<tmpl_var _("webui", "webui_product_name")> <tmpl_var _("webui", "webui_product_number")> Funktionen
	</h2>

	<ul class="list-style">
		<li>
			Schnellste und stärkste Leistung, die mit der Dual-Band-WLAN-Option (2,4 GHz/5 GHz) möglich ist.
		</li>

		<li>
			Verbindung über USB für den Internetzugang für Windows- oder Mac-Computer.
		</li>

		<li>
			Das WLAN-Gastnetzwerk bietet temporären Internetzugang, ohne dass Sie Ihr persönliches Kennwort weitergeben oder Zugriff auf den Rest Ihres Netzwerks, wie Drucker und andere angeschlossene Geräte, einräumen müssen.
		</li>

		<li>Bis zu 24 Stunden Akkulebensdauer mit einer einzigen Ladung.</li>

		<li>Schnellladetechnologie, damit Sie keine wertvolle Zeit verlieren und direkt einsatzbereit sind.</li>

		<li>Ladegerät für ein weiteres drahtloses Gerät.</li>

		<li>
			Über den intuitiven Touchscreen können Sie die Datennutzung überprüfen und andere Funktionen direkt vom Gerät aus steuern.
		</li>

		<li>
			Dank der benutzerfreundlichen Webschnittstelle können erweiterte Funktionen und Einstellungen leicht angepasst werden.
		</li>	
	</ul>		
</div>

<div id="setup">
	<h2>Einrichtung</h2>
	<h2>Schritt 1 – <tmpl_var _("webui", "help_setup_step1_title")></h2>
	<p>
		<tmpl_udf GET_PO_TEXT("help_setup_step1_text",gProductName,gProductNumber)>
	</p>

	<h2>Schritt 2 – Verbindung mit dem Internet herstellen</h2>
	<p>
		Stellen Sie über die WLAN-Anwendung auf Ihrem Computer, Tablet oder einem anderen Gerät eine Verbindung mit dem WLAN-Netzwerk von <tmpl_var _("webui", "webui_product_name")><tmpl_var _("webui", "webui_product_number")> her. Um den WLAN-Namen und das Kennwort abzurufen, tippen Sie auf dem Home-Bildschirm von <tmpl_var _("webui", "webui_product_name")><tmpl_var _("webui", "webui_product_number")> auf das WLAN-Symbol
	</p>

	<h2>Schritt 3 – Auf verbundene Geräte prüfen</h2>
	<p>
		Wenn Sie einen Computer, ein Tablet oder ein anderes Gerät mit dem <tmpl_var _("webui", "webui_product_name")><tmpl_var _("webui", "webui_product_number")> verbinden, wird die Anzahl der verbundenen Geräte aktualisiert, die auf dem Home-Bildschirm von <tmpl_var _("webui", "webui_product_name")><tmpl_var _("webui", "webui_product_number")>angezeigt wird. Tippen Sie auf das Symbol „Verbundene Geräte“, um weitere Informationen zu jedem verbundenen Gerät zu erhalten.
	</p>				
</div>

<div id="tips">
	<h2>Tipps</h2>
		<h2>SIM</h2>
		<p>
			Die SIM-Karte ist vorinstalliert. Um die SIM-Karte zu wechseln, entfernen Sie die Akkuabdeckung und den Akku.
		</p>

		<h2>Verbundene Geräte</h2>
		<p>
			Auf dem Home-Bildschirm auf dem <tmpl_var _("webui", "webui_product_name_with_suffix")>-Touchscreen wird die Anzahl der mit dem WLAN-Netzwerk von <tmpl_var _("webui", "webui_product_name_with_suffix")> verbundenen Geräte angezeigt. Wählen Sie „Verbundene Geräte“, um ausführliche Informationen zu jedem verbundenen Gerät anzuzeigen und ein Gerät für den Zugriff auf das <tmpl_var _("webui", "webui_product_name_with_suffix")>-WLAN-Netzwerk zu sperren oder zu entsperren.
		</p>

		<h2>Audiowarnungen</h2>
		<p>
			Wenn Sie einstellen möchten, wann das <tmpl_var _("webui", "webui_product_name")> eine Audiowarnung wiedergeben soll, wählen Sie auf dem Home-Bildschirm die Option „Menü“ und anschließend „Einstellungen“. Sie können alle Audiowarnungen ausschalten oder einzeln einstellen.
		</p>

			<h2>Akkulebensdauer</h2>
			<p>Um den Akku zu schonen, wählen Sie auf dem Home-Bildschirm die Option „Menü“ und dann „Einstellungen“. Sie können die Einstellungen für das Bildschirm-Timeout und das automatische Herunterfahren ändern.</p>

		<h2>WLAN-Netzwerk</h2>
		<p>
			Ihr Computer, Tablet und anderes Gerät muss mit dem WLAN-Netzwerk von <tmpl_var _("webui", "webui_product_name_with_suffix")> verbunden sein, um auf das Internet zugreifen zu können. Informationen zum WLAN-Netzwerk von <tmpl_var _("webui", "webui_product_name_with_suffix")> werden auf dem Home-Bildschirm des Touchscreens angezeigt. Sie können auch eine Verbindung mit dem WLAN-Netzwerk von <tmpl_var _("webui", "webui_product_name_with_suffix")> herstellen, wenn Sie die Option „WLAN“ und dann „WPS“ wählen.
		</p>	

		<h2>WLAN-Gastnetzwerk</h2>
		<p>
			Mit der Funktion „Gastnetzwerk“ können Sie ein separates und temporäres WLAN-Netzwerk für Gäste einrichten. Verwenden Sie ein anderes Kennwort oder gar keines. Über das Gastnetzwerk ist nur der Zugriff auf das Internet möglich. Damit bleibt Ihr persönliches Netzwerk aus verbundenen Geräten – einschließlich Drucker, Lautsprecher, externe Laufwerke oder andere verbundene Geräte – sicher. Um das WLAN-Gastnetzwerk einzuschalten, wählen Sie auf dem Home-Bildschirm die Option „WLAN“ und anschließend „WLAN-Netzwerkauswahl“.
		</p>

		<h2>Sicherheit</h2>
		<p>
			Als Gerätebesitzer oder Administrator können Sie den Zugriff auf die <tmpl_var _("webui", "webui_product_name_with_suffix")>-Einstellungen einschränken, wenn Sie anderen Personen den physischen Zugang zum <tmpl_var _("webui", "webui_product_name")> erlauben müssen. Einzelheiten finden Sie im folgenden Abschnitt.
		</p>
</div>

<div id="security">
	<h2>Sicherheit Funktionen für Gerät Administrator</h2>
	<p>
		Wenn Sie <tmpl_var _("webui", "webui_product_name")>-Administrator sind, können Sie über die Einstellungen der <tmpl_var _("webui", "webui_product_name_with_suffix")>-Webschnittstelle die Möglichkeiten der Benutzer von <tmpl_var _("webui", "webui_product_name")> auf dem Touchscreen einschränken. In der folgenden Tabelle sind die verfügbaren Einstellungen der Webschnittstelle und die jeweiligen Auswirkungen auf den Touchscreen aufgeführt.
	</p>

	<h2>Webeinstellungen, die sich auf die Touchscreen</h2>  
	<table class="portForwardingTable" id="">
	 	<thead>
			<tr class="">
				<th class="">Einstellung/Betrieb</th>
				<th class="">Webseite</th>
				<th class="">Ein</th>
				<th class="">Aus</th>
			</tr>
		</thead>
		<tbody>
			<tr> 
				<td>Verstecken Sie das Admin-Kennwort auf dem Bildschirm</td>
				<td>Home > Dropdown-Menü <br> > Admin-Einstellungen</td>
				<td>
					Das Admin-Kennwort wird nirgendwo auf dem Bildschirm angezeigt.
				</td>
				<td>	
					Das Admin-Kennwort kann auf dem Bildschirm angezeigt werden.
				</td>
			</tr>

			<tmpl_if ShowWifiDisplaySetting>
				<tr>
					<td>	
						Zulassen, dass Änderungen an den Wi-Fi-Einstellungen auf dem Gerätebildschirm vorgenommen werden.
					</td>
					<td><tmpl_var _("webui", "help_wifi_text")> > Allgemein</td>
					<td>Normaler Betrieb</td>
					<td>
						Auf dem Touchscreen ist die Option „WLAN“ weiterhin verfügbar, es wird aber nur eine Meldung angezeigt. WLAN-Einstellungen können nicht geändert werden.
					</td>
				</tr>
			</tmpl_if>

			<tr>
				<td>
					primärenetzwerkname (SSID) auf dem gerätebildschirm ausblenden:
				</td>
				<td><tmpl_var _("webui", "help_wifi_text")> > Primär</td>
				<td>
					Der primäre Netzwerkname wird nirgendwo auf dem Bildschirm angezeigt.
				</td>
				<td>
					Der primäre Netzwerkname kann auf dem Bildschirm angezeigt werden.
				</td>
			</tr>

			<tr>
				<td>primärenetzwerk kennwort auf dem gerätebildschirm ausblenden:</td>
				<td><tmpl_var _("webui", "help_wifi_text")> > Primär</td>
				<td>
					Das primäre Netzwerkkennwort wird nirgendwo auf dem Bildschirm angezeigt.
				</td>
				<td>
					Das primäre Netzwerkkennwort kann auf dem Bildschirm angezeigt werden.
				</td>
			</tr>

			<tr>
				<td>Gastnetzwerkname (SSID) auf dem gerätebildschirm ausblenden:</td>
				<td><tmpl_var _("webui", "help_wifi_text")> > Gast</td>
				<td>
					Der Name des Gastnetzwerks wird nirgendwo auf dem Bildschirm angezeigt.
				</td>
				<td>
					Der Name des Gastnetzwerks kann auf dem Bildschirm angezeigt werden.
				</td>
			</tr>

			<tr>
				<td>Gastnetzwerk kennwort auf dem gerätebildschirm ausblenden:</td>
				<td><tmpl_var _("webui", "help_wifi_text")> > Gast</td>
				<td>
					Das kennwort des Gastnetzwerks wird nirgendwo auf dem Bildschirm angezeigt.
				</td>
				<td>
					Das kennwort des Gastnetzwerks kann auf dem Bildschirm angezeigt werden.
				</td>
			</tr>

			<tr>
				<td>WPS – Primäres Netzwerk</td>
				<td><tmpl_var _("webui", "help_wifi_text")> > Primär</td>
				<td>
					WPS für das primäre WLAN-Netzwerk ist im WLAN-Menü des Touchscreens verfügbar.
				</td>
				<td>WPS kann nicht im primären WLAN-Netzwerk verwendet werden.</td>
			</tr>	

			<tr>
				<td>WPS – Gastnetzwerk</td>
				<td><tmpl_var _("webui", "help_wifi_text")> > Gast</td>
				<td>
					WPS für das Gast-WLAN-Netzwerk ist im Touchscreen-WLAN-Menü verfügbar.
				</td>
				<td>WPS kann nicht im Gast-WLAN-Netzwerk verwendet werden.</td>
			</tr>

			<tmpl_if ShowPromptOnUSB>
				<tr>
					<td>Eingabeaufforderung bei USB-Verbindung</td>
					<td>Geräteeinstellungen > Voreinstellungen</td>
					<td>
						Zeigen Sie die USB-Eingabeaufforderung auf dem Touchscreen an, wenn ein Computer oder ein USB-Gerät angeschlossen ist.
					</td>
					<td>Die USB-Eingabeaufforderung wird nicht angezeigt.</td>
				</tr>
			</tmpl_if>

			<tr>
				<td>Zurücksetzen-Taste an der Unterseite des Geräts erlauben</td>
				<td>Geräteeinstellungen > Voreinstellungen</td>
				<td>
					Die Zurücksetzen-Taste an der Unterseite des Geräts funktioniert normal. 
				</td>
				<td>
					Die Zurücksetzen-Taste an der Unterseite des Geräts funktioniert nicht. 
				</td>
			</tr>

			<tr>
				<td>
					Zulassen, dass Änderungen an den Einstellungen auf dem Gerätebildschirm vorgenommen werden.
				</td>
				<td>Geräteeinstellungen > Voreinstellungen</td>
				<td>Normaler Betrieb</td>
				<td>
					Auf dem Touchscreen ist die Option „Einstellungen “ weiterhin verfügbar, es wird aber nur eine Meldung angezeigt. Einstellungen können nicht geändert werden.
				</td>
			</tr>
		</tbody>
	</table>
</div>
