<!-- Help  -->

<div id="overview">
	<h2>Yleiskatsaus</h2>
	<p>
		Tervetuloa, tämä on <tmpl_var _("webui", "webui_product_name")>! Uusi laitteesi on <tmpl_var _("webui", "webui_carrier_name")> <tmpl_var _("webui", "webui_product_trade_mark")> - <tmpl_var _("webui", "webui_product_number")>.<br><tmpl_var _("webui", "webui_product_number")> -laitteen myötä käytössäsi on 5G:n teho, joka tarjoaa erittäin nopean Internet-yhteyden sovelluksiin, lähetyksiin ja latauksiin. Voit käyttää sitä kotona, töissä tai liikkeellä ollessasi, myös ulkomailla.
	</p>

	<h2>
		<tmpl_var _("webui", "webui_product_name")> <tmpl_var _("webui", "webui_product_number")> Ominaisuudet
	</h2>

	<ul class="list-style">
		<li>
			Nopein ja tehokkain mahdollinen suorituskyky kaksitaajuisella Wi-Fillä (2,4 GHz / 5 GHz).
		</li>

		<li>
			USB-liitäntä Internet-yhteyden muodostamiseksi Windows- tai Mac-tietokoneellesi.
		</li>

		<li>
			Wi-Fi-vierasverkko tarjoaa väliaikaisen Internet-yhteyden ilman henkilökohtaisen salasanasi jakamista tai pääsyä verkkosi muihin osiin, kuten tulostimiin ja muihin yhdistettyihin laitteisiin.
		</li>

		<li>Jopa 24 tunnin akun kesto yhdellä latauksella.</li>

		<li>
			Pikalataustekniikalla saat laitteesi toimintaan nopeammin kuin koskaan.
		</li>

		<li>Toimii laturina muille langattomille laitteille.</li>

		<li>
			Intuitiivisen kosketusnäytön avulla voit tarkistaa datan käyttösi ja hallita muita ominaisuuksia suoraan laitteesta.
		</li>

		<li>
			Käyttäjäystävällisen verkkokäyttöliittymän ansiosta lisätoimintojen ja -asetusten mukauttaminen käy helposti.
		</li>	
	</ul>
</div>

<div id="setup">
	<h2>Asennus</h2>
	<h2>Vaihe 1 – <tmpl_var _("webui", "help_setup_step1_title")></h2>
	<p><tmpl_udf GET_PO_TEXT("help_setup_step1_text",gProductName,gProductNumber)></p>

	<h2>Vaihe 2 – Muodosta yhteys Internetiin</h2>
	<p>
		Muodosta tietokoneen, tabletin tai muun laitteen Wi-Fi-sovelluksen avulla yhteys <tmpl_var _("webui", "webui_product_name")><tmpl_var _("webui", "webui_product_number")> -laitteesi Wi-Fi-verkkoon. Saat Wi-Fi-nimen ja -salasanan napsauttamalla Wi-Fi-kuvaketta <tmpl_var _("webui", "webui_product_name")><tmpl_var _("webui", "webui_product_number")> -laitteen kotinäytöstä.
	</p>

	<h2>Vaihe 3 – Etsi yhdistettyjä laitteita</h2>
	<p>
		Kun yhdistät tietokoneen, tabletin tai muun laitteen <tmpl_var _("webui", "webui_product_name")><tmpl_var _("webui", "webui_product_number")> -laitteeseesi, <tmpl_var _("webui", "webui_product_name")><tmpl_var _("webui", "webui_product_number")> -laitteesi kotinäytössä näkyvä yhdistettyjen laitteiden määrä päivittyy. Napauttamalla Connected Devices (Yhdistetyt laitteet) -kuvaketta saat lisätietoja kustakin yhdistetystä laitteesta.
	</p>				
</div>

<div id="tips">
	<h2>Vinkkejä</h2>
	<h2>SIM-kortti</h2>
	<p>
		SIM-kortti on jo asennettu. Vaihda SIM-kortti poistamalla akun kansi ja akku.
	</p>

	<h2>Yhdistetyt laitteet</h2>
	<p>
		<tmpl_var _("webui", "webui_product_name_with_suffix")>-laitteen kosketuskotinäytössä näkyy <tmpl_var _("webui", "webui_product_name_with_suffix")>-laitteen Wi-Fi-verkkoon yhdistettyjen laitteiden määrä. Valitsemalla ”Connected Devices” (Yhdistetyt laitteet) näet yksityiskohtaiset tiedot yhdistetyistä laitteista ja voit estää laitteen pääsyn <tmpl_var _("webui", "webui_product_name_with_suffix")>-laitteen Wi-Fi-verkkoon tai poistaa eston.
	</p>

	<h2>Äänihälytykset</h2>
	<p>
		Voit mukauttaa sitä, milloin <tmpl_var _("webui", "webui_product_name")> antaa äänihälytyksen, valitsemalla kosketuskotinäytöstä ”Menu” (Valikko) ja sitten ”Settings” (Asetukset). Voit kytkeä kaikki äänihälytykset pois päältä tai asettaa ne yksitellen.
	</p>

	<h2>Akun kesto</h2>
	<p>
		Voit säästää akkua valitsemalla kosketuskotinäytöstä ”Menu” (Valikko) ja sitten ”Settings” (Asetukset). Voit muuttaa näytön aikakatkaisua ja automaattisen virrankatkaisun asetuksia.
	</p>

	<h2>Wi-Fi-verkko</h2>
	<p>
		Tietokoneen, tabletin ja muiden laitteiden on muodostettava yhteys <tmpl_var _("webui", "webui_product_name_with_suffix")>-laitteen Wi-Fi-verkkoon, jotta Internet-yhteys on käytettävissä. <tmpl_var _("webui", "webui_product_name_with_suffix")>-laitteen Wi-Fi-verkon tiedot näkyvät kosketuskotinäytössä. Voit liittyä <tmpl_var _("webui", "webui_product_name_with_suffix")>-laitteen Wi-Fi-verkkoon myös valitsemalla ”Wi-Fi” ja sen jälkeen ”WPS”.
	</p>	

	<h2>Wi-Fi-vierasverkko</h2>
	<p>
		Vierasverkko-ominaisuuden avulla voit luoda erillisen ja väliaikaisen Wi-Fi-verkon vieraille. Käytä eri salasanaa tai älä käytä salasanaa lainkaan. Vierasverkko sallii pääsyn vain Internetiin, joten henkilökohtainen verkkosi, johon on yhdistetty laitteita – tulostimia, kaiuttimia, ulkoisia asemia tai muita yhdistettyjä laitteita – pysyy suojattuna. Kytke Wi-Fi-vierasverkko päälle valitse kotinäytöstä ”Wi-Fi” ja sen jälkeen ”Wi-Fi Network Selection” (Wi-Fi-verkon valinta).
	</p>

	<h2>Turvallisuus</h2>
	<p>
		Laitteen omistajana tai ylläpitäjänä voit rajoittaa pääsyä <tmpl_var _("webui", "webui_product_name_with_suffix")>-laitteen asetuksiin, jos sinun on sallittava muiden henkilöiden fyysinen pääsy <tmpl_var _("webui", "webui_product_name")>-laitteeseesi. Katso lisätietoja seuraavasta kohdasta.
	</p>
</div>

<div id="security">
	<h2>Turvallisuus ominaisuudet varten laitteen ylläpitäjä</h2>
	<p>
		Jos olet <tmpl_var _("webui", "webui_product_name")>-laitteen ylläpitäjä, voit <tmpl_var _("webui", "webui_product_name_with_suffix")>-laitteen verkkokäyttöliittymän asetuksilla rajoittaa, mitä <tmpl_var _("webui", "webui_product_name")>-laitteen käyttäjä voi tehdä kosketusnäytössä. Seuraavassa taulukossa luetellaan käytettävissä olevat verkkokäyttöliittymän asetukset ja niiden vaikutus kosketusnäytössä.
	</p>

	<h2>Näytön käyttöliittymään vaikuttavat verkkoasetukset</h2>  
	<table class="portForwardingTable" id="">
	 	<thead>
			<tr class="">
				<th class="">Asetus/toiminta</th>
				<th class="">Verkkosivu</th>
				<th class="">Päälle</th>
				<th class="">Pois päältä</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Piilota järjestelmänvalvojan salasana näytöllä</td>
				<td>Etusivu > Pudotusvalikko <br> valikko > Järjestelmänvalvojan asetukset</td>
				<td>Ylläpitäjän salasanaa ei näytetä millään näytöllä.</td>
				<td>Ylläpitäjän salasana näkyy näytöllä.</td>
			</tr>

			<tmpl_if ShowWifiDisplaySetting>
				<tr>
					<td>Salli Wi-Fi-asetusten muutokset laitteen näytöltä.</td>
					<td>
						<tmpl_var _("webui", "help_wifi_text")> > General (Yleistä)
					</td>
					<td>Tavanomainen käyttö.</td>
					<td>
						”Wi-Fi”-vaihtoehto on edelleen käytettävissä kosketusnäytössä, mutta se näyttää vain viestin. Wi-Fi-asetuksia ei voi muuttaa.
					</td>
				</tr>
			</tmpl_if>

			<tr>
				<td>Lähetyksen ensisijaisen verkon nimi (SSID):</td>
				<td>
					<tmpl_var _("webui", "help_wifi_text")> > Primary (Ensisijainen)
				</td>
				<td>Ensisijaista verkon nimeä ei näytetä missään ruudulla.</td>
				<td>Ensisijainen verkon nimeä voidaan tarkastella näytöllä.</td>
			</tr>

			<tr>
				<td>Piilota ensisijainen verkon salasana laitteen näytöllä</td>
				<td>
					<tmpl_var _("webui", "help_wifi_text")> > Primary (Ensisijainen)
				</td>
				<td>Ensisijaista verkon salasanaa ei näytetä missään ruudulla.</td>
				<td>Ensisijainen verkon salasana voidaan tarkastella näytöllä.</td>
			</tr>

			<tr>
				<td>Piilota vierasverkon nimi (SSID) kosketusnäytöstä:</td>
				<td><tmpl_var _("webui", "help_wifi_text")> > Guest (Vieras)</td>
				<td>Vierasverkon nimeä ei näytetä missään ruudulla.</td>
				<td>Vierasverkon nimeä näkyy näytöllä.</td>
			</tr>

			<tr>
				<td>Piilota Vieras-verkon salasana laitteen näytöllä</td>
				<td><tmpl_var _("webui", "help_wifi_text")> > Guest (Vieras)</td>
				<td>Vierasverkon salasanaa ei näytetä missään ruudulla.</td>
				<td>Vierasverkon salasana näkyy näytöllä.</td>
			</tr>

			<tr>
				<td>WPS – Ensisijainen verkko</td>
				<td><tmpl_var _("webui", "help_wifi_text")> > Primary (Ensisijainen)</td>
				<td>
					Ensisijaisen Wi-Fi-verkon WPS on käytettävissä kosketusnäytön Wi-Fi-valikossa.
				</td>
				<td>WPS:ää ei voi käyttää ensisijaisessa Wi-Fi-verkossa.</td>
			</tr>	

			<tr>
				<td>WPS – Vierasverkko</td>
				<td><tmpl_var _("webui", "help_wifi_text")> > Guest (Vieras)</td>
				<td>
					Vieras-Wi-Fi-verkon WPS on käytettävissä kosketusnäytön Wi-Fi-valikossa
				</td>
				<td>WPS: ää ei voi käyttää vieraan Wi-Fi-verkossa.</td>
			</tr>

			<tmpl_if ShowPromptOnUSB>
				<tr>
					<td>USB-yhteyden kehote</td>
					<td>Laite Settings (Asetukset) > Preferences (Valinnat)</td>
					<td>
						Näytä USB-kehote kosketusnäytössä, kun tietokone tai USB-laite on kytketty.
					</td>
					<td>USB-kehotetta ei näytetä.</td>
				</tr>
			</tmpl_if>

			<tr>
				<td>Salli laitteen pohjassa oleva nollauspainike</td>
				<td>Laite Settings (Asetukset) > Preferences (Valinnat)</td>
				<td>Laitteen pohjassa oleva nollauspainike toimii normaalisti. </td>
				<td>
					Laitteen pohjassa olevalla nollauspainikkeella ei ole vaikutusta. 
				</td>
			</tr>

			<tr>
				<td>Salli asetusten muutokset Laite-näytössä</td>
				<td>Laite Settings (Asetukset) > Preferences (Valinnat)</td>
				<td>Tavanomainen käyttö</td>
				<td>
					Asetuksia  vaihtoehto on edelleen käytettävissä kosketusnäytössä, mutta se näyttää vain viestin. asetuksia ei voi muuttaa.
				</td>
			</tr>
		</tbody>
	</table>
</div>
