<!-- Help  -->

<div id="overview">
	<h2>Overview</h2>
		<p>
			Welcome to MiFi! Your new device is the <tmpl_var _("webui", "webui_carrier_name")> <tmpl_var _("webui", "webui_product_trade_mark")> - <tmpl_var _("webui", "webui_product_number")>.<br> With your <tmpl_var _("webui", "webui_product_number")>, you experience the power of 5G for ultra-fast Internet access to apps, uploads, and downloads. Use it at home, at work, or on-the-go, even when outside of the country.
		</p>

		<h2>
			<tmpl_var _("webui", "webui_product_name")> <tmpl_var _("webui", "webui_product_number")> Features
		</h2>

		<ul class="list-style">

			<li>
				Fastest, strongest performance possible with Dual-band Wi-Fi (2.4 GHz/5 GHz) option.
			</li>

			<li>
				Connection via USB for Internet access to your Windows or Mac computer.
			</li>

			<li>
				Guest Wi-Fi network provides temporary Internet access, without sharing your personal password or access to the rest of your network, such as printers and other connected devices.
			</li>

			<li>
				Up to 24 hours of battery life on a single charge.
			</li>

			<li>
				Quick charge technology to get you up and running faster than ever.
			</li>

			<li>
				Doubles as a charger for other wireless devices.
			</li>

			<li>
				Intuitive touchscreen allows you to check data usage and control other features right from the device.
			</li>

			<li>
				Friendly Web interface makes advanced features and settings easy to customize.
			</li>
		
		</ul>
		
</div>

<div id="setup">
	<h2>
		Setup
	</h2>
	<h2>
		Step 1 - <tmpl_var _("webui", "help_setup_step1_title")>
	</h2>
	<p>
		<tmpl_udf GET_PO_TEXT("help_setup_step1_text",gProductName,gProductNumber)>
	</p>

	<h2>
		Step 2 – Connect to the Internet
	</h2>
	<p>
		Using the Wi-Fi application on your computer, tablet or other device, connect to your <tmpl_var _("webui", "webui_product_name")> <tmpl_var _("webui", "webui_product_number")>’s Wi-Fi network. To get the Wi-Fi name and password, from the <tmpl_var _("webui", "webui_product_name")> <tmpl_var _("webui", "webui_product_number")>’s Home screen, tap on the Wi-Fi icon.
	</p>

	<h2>
		Step 3 – Check for Connected Devices
	</h2>
	<p>
		When you connect a computer, tablet or other device to your <tmpl_var _("webui", "webui_product_name")> <tmpl_var _("webui", "webui_product_number")>, the number of Connected Devices, shown on your <tmpl_var _("webui", "webui_product_name")> <tmpl_var _("webui", "webui_product_number")>’s Home screen, will update. Tap the Connected Devices icon for more information about each connected device.
	</p>
				
</div>
<div id="tips">
	<h2>Tips</h2>
	<h2>SIM</h2>
	<p>
		The SIM is pre-installed. To change the SIM, remove the battery cover and the battery.
	</p>
	<h2>Connected Devices</h2>
	<p>
		The <tmpl_var _("webui", "webui_product_name_with_suffix")> Home screen display indicates the number of devices connected to the <tmpl_var _("webui", "webui_product_name_with_suffix")> Wi-Fi network. Select “Connected Devices” to view detailed information on any connected device, and to block or unblock a device from accessing the <tmpl_var _("webui", "webui_product_name_with_suffix")> Wi-Fi network.
	</p>
	<h2>	Audio Alerts</h2>
	<p>
		To customize when your <tmpl_var _("webui", "webui_product_name")> plays an Audio Alert, select “Menu” from the Home screen display, then “Settings”. You can turn off all Audio Alerts, or set them individually.
	</p>
	<h2>Battery Life</h2>
	<p>
		To conserve battery life, select “Menu” from the Home Screen display, then “Settings”. You can change the screen timeout and automatic shutdown settings.
	</p>

	<h2>Wi-Fi Network</h2>
	<p>
		Your computer, tablet, and other devices need to connect to the <tmpl_var _("webui", "webui_product_name_with_suffix")> Wi-Fi network for Internet access. Details of the <tmpl_var _("webui", "webui_product_name_with_suffix")> Wi-Fi network are shown on the Home screen display. You can also join the <tmpl_var _("webui", "webui_product_name_with_suffix")> Wi-Fi network by selecting "Wi-Fi", then "WPS".
	</p>	

	<h2>Guest Wi-Fi Network</h2>
	<p>
		With the Guest Network feature, you can set up a separate and temporary Wi-Fi network for guests. Use a different password or no password at all. The Guest Network allows access to the Internet only, so your personal network of connected devices – including printers, speakers, external drives, or other connected devices – remain secure. To turn on the Guest Wi-Fi network, select “Wi-Fi” on the touchscreen, then “Wi-Fi Band Selection”.
	</p>
	<h2>Security</h2>
	<p>
		Limit access to the <tmpl_var _("webui", "webui_product_name")> device settings, if you have to allow physical access to your <tmpl_var _("webui", "webui_product_name")> by other people. See the following section for details.
	</p>

</div>
<div id="security">
	<h2>
		Security Features for Device Administrators 
	</h2>
	<p> 
		If you are the <tmpl_var _("webui", "webui_product_name")> Administrator, you can use settings within the <tmpl_var _("webui", "webui_product_name_with_suffix")> Web interface to limit what <tmpl_var _("webui", "webui_product_name")> users can do on the touchscreen. The following table lists the available Web interface settings and their effect on the touchscreen.
	</p>
	<h2>
		Web Interface Settings affecting the Touchscreen
	</h2>  
	<table class="portForwardingTable" id="">
	 	<thead>
			<tr class="">
				<th class=""> Setting/Operation</th>
				<th class="">Web Page</th>
				<th class="">On</th>
				<th class="">Off</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td> Hide Admin Password on the Screen</td>
				<td> Home > Drop down <br>menu > Admin Settings</td>
				<td> Admin password is not shown anywere on the screen.</td>
				<td> Admin Password can be viewed on the screen.</td>
			</tr>

			<tr>
				<td> Allow Wi-Fi setting changes to be made from the Device screen.</td>
				<td> Wifi > Settings </td>
				<td> Normal operation.</td>
				<td> On the screen, the <b>Wi-Fi</b> option is still available, but only displays a message. No Wi-Fi settings can be changed.</td>
			</tr>

			<tr>
				<td> Hide primary network name (SSID) on the device screen</td>
				<td> Wi-Fi > Primary </td>
				<td> Primary network name is not shown anywhere on the screen.</td>
				<td> Primary network name can be viewed on the screen.</td>
			</tr>

			<tr>
				<td> Hide primary network password on the device screen</td>
				<td> Wi-Fi > Primary </td>
				<td> Primary network password is not shown anywhere on the screen.</td>
				<td> Primary network password can be viewed on the screen.</td>
			</tr>
			
			<tr>
				<td> Hide guest network name (SSID) on the device screen</td>
				<td> Wi-Fi > Guest</td>
				<td> Guest network name is not shown anywhere on the screen.</td>
				<td> Guest network name can be viewed on the screen.</td>
			</tr>
			<tr>
				<td> Hide guest network password on the device screen</td>
				<td> Wi-Fi > Guest</td>
				<td> Guest network password is not shown anywhere on the screen.</td>
				<td> Guest network password can be viewed on the screen.</td>
			</tr>
			<tr>
				<td> WPS (Primary Network)</td>
				<td> Wi-Fi > Primary</td>
				<td> WPS for the Primary Wi-Fi network is available on the touchscreen Wi-Fi menu.</td>
				<td> WPS cannot be used on the Primary Wi-Fi network.</td>
			</tr>
			<tr>
				<td> WPS (Guest Network)</td>
				<td> Wi-Fi > Guest</td>
				<td> WPS for the Guest Wi-Fi network is available on the touchscreen Wi-Fi menu</td>
				<td> WPS cannot be used on the Guest Wi-Fi network.</td>
			</tr>
			
			<tmpl_if ShowPromptOnUSB>
			<tr>
				<td> Prompt on USB Connection</td>
				<td> Device Settings > Preferences</td>
				<td> Show the USB prompt on the touchscreen when a computer or USB device is connected. </td>
				<td> USB prompt is never shown.</td>
			</tr>
			</tmpl_if>
			<tr>
				<td> Allow reset button on the base of the device</td>
				<td> Device Settings > Preferences</td>
				<td> The reset button on the base of the device operates normally.</td>
				<td> The reset button on the base of the device has no effect.</td>
			</tr>
			<tr>
				<td> Allow settings changes from the Device screen</td>
				<td> Device Settings > Preferences</td>
				<td> Normal operation.</td>
				<td> On the touchscreen, the <b>Settings</b> option is still available, but only displays a message. No settings can be changed.</td>
			</tr>
			
		</tbody>

	</table>

</div>
