<!-- Help  -->

<div id="overview">
	<h2>Panoramica</h2>
	<p>
		Benvenuto in <tmpl_var _("webui", "webui_product_name")>! Il tuo nuovo dispositivi è il <tmpl_var _("webui", "webui_carrier_name")> <tmpl_var _("webui", "webui_product_trade_mark")> - <tmpl_var _("webui", "webui_product_number")>.<br> Con il tuo <tmpl_var _("webui", "webui_product_number")> puoi sperimentare la potenza del 5G per un accesso Internet ultraveloce ad applicazioni, upload e download. Usalo a casa, al lavoro o in viaggio e anche all’estero.
	</p>

	<h2>
		<tmpl_var _("webui", "webui_product_name")> <tmpl_var _("webui", "webui_product_number")> Caratteristiche
	</h2>
	<ul class="list-style">
		<li>
			Le prestazioni più veloci e potenti possibili grazie all&#39;opzione Wi-Fi Dual-band (2,4 GHz / 5 GHz).
		</li>

		<li>
			Connessione tramite USB per accedere a Internet dal tuo computer Windows o Mac.
		</li>

		<li>
			La rete Wi-Fi ospite fornisce un accesso a Internet temporaneo, senza condividere la password personale o poter accedere al resto della rete, come a stampanti e altri dispositivi connessi.
		</li>

		<li>
			Fino a 24 ore di autonomia con una singola ricarica.
		</li>

		<li>
			La tecnologia di ricarica rapida ti rimette in pista più velocemente che mai.
		</li>

		<li>
			Funziona anche come caricabatterie per altri dispositivi wireless.
		</li>

		<li>
			Il touch screen intuitivo consente di controllare il consumo dati e altre funzionalità direttamente dal dispositivi.
		</li>

		<li>
			L&#39;intuitiva interfaccia Web semplifica la personalizzazione delle funzionalità e delle impostazioni avanzate.
		</li>	
	</ul>		
</div>

<div id="setup">
	<h2>Installazione</h2>
	<h2>
		Passaggio 1 - <tmpl_var _("webui", "help_setup_step1_title")>
	</h2>
	<p>
		<tmpl_udf GET_PO_TEXT("help_setup_step1_text",gProductName,gProductNumber)>
	</p>

	<h2>
		Passaggio 2 - Connettersi a Internet
	</h2>
	<p>
		Connettiti alla rete Wi-Fi del tuo <tmpl_var _("webui", "webui_product_name")><tmpl_var _("webui", "webui_product_number")> utilizzando l&#39;applicazione Wi-Fi sul tuo computer, tablet o altro dispositivi. Per ottenere il nome e la password Wi-Fi, tocca l&#39;icona Wi-Fi nella schermata principale del <tmpl_var _("webui", "webui_product_name")><tmpl_var _("webui", "webui_product_number")>.
	</p>

	<h2>
		Passaggio 3 - Verificare la presenza di dispositivi connessi
	</h2>
	<p>
		Quando connetti un computer, un tablet o un altro dispositivi al tuo <tmpl_var _("webui", "webui_product_name")><tmpl_var _("webui", "webui_product_number")>, il numero di dispositivi connessi, indicato sulla schermata principale <tmpl_var _("webui", "webui_product_name")><tmpl_var _("webui", "webui_product_number")> si aggiornerà. Tocca l&#39;icona dei dispositivi connessi per ulteriori informazioni su ciascun dispositivi.
	</p>				
</div>

<div id="tips">
	<h2>Suggerimenti</h2>
	<h2>SIM</h2>
	<p>
		La SIM è preinstallata. Per cambiare la SIM, rimuovere il coperchio della batteria e la batteria stessa.
	</p>

	<h2>Dispositivi connessi</h2>
	<p>
		La pagina principale del display di <tmpl_var _("webui", "webui_product_name_with_suffix")> mostra il numero di dispositivi connessi alla rete Wi-Fi di <tmpl_var _("webui", "webui_product_name_with_suffix")>. Seleziona "Dispositivi connessi" per visualizzare informazioni dettagliate su qualsiasi dispositivi connesso e per bloccarne o sbloccarne l&#39;accesso alla rete Wi-Fi di <tmpl_var _("webui", "webui_product_name_with_suffix")>.
	</p>

	<h2>Avvisi audio</h2>
	<p>
		Per personalizzare gli avvisi audio riprodotti da <tmpl_var _("webui", "webui_product_name")>, seleziona "Menu" dalla pagina principale del display, quindi "Impostazioni". Puoi disattivare tutti gli avvisi audio o impostarli singolarmente.
	</p>

	<h2>Durata della batteria</h2>
	<p>
		Per estendere la durata della batteria, seleziona "Menu" dalla pagina principale del display, quindi "Impostazioni". Qui puoi modificare il timeout dello schermo e le impostazioni di spegnimento automatico.
	</p>

	<h2>Rete Wi-Fi</h2>
	<p>
		Per accedere a internet, computer, tablet e altri dispositivi devono connettersi alla rete Wi-Fi di <tmpl_var _("webui", "webui_product_name_with_suffix")>. I dettagli della rete Wi-Fi di <tmpl_var _("webui", "webui_product_name_with_suffix")> sono visualizzati nella pagina principale del display. Puoi anche unirti alla rete Wi-Fi di <tmpl_var _("webui", "webui_product_name_with_suffix")> selezionando "Wi-Fi", quindi "WPS".
	</p>	

	<h2>Rete Wi-Fi ospite</h2>
	<p>
		Con la funzione “Rete ospite”, hai la facoltà di configurare una rete Wi-Fi separata e temporanea per gli ospiti. Puoi impostare una password diversa o anche nessuna. La rete ospite consente esclusivamente l&#39;accesso a Internet, pertanto la tua rete personale di dispositivi connessi, inclusi stampanti, altoparlanti, unità esterne o altri dispositivi, rimane protetta. Per attivare la rete Wi-Fi ospite, seleziona "Wi-Fi" nella schermata principale, quindi "Selezione della banda Wi-Fi".
	</p>

	<h2>Sicurezza</h2>
	<p>
		Limitare l'accesso alle impostazioni di <tmpl_var _("webui", "webui_product_name_with_suffix")>, nel caso in cui altre persone abbiano accesso al <tmpl_var _("webui", "webui_product_name")>. Vedi la sezione seguente per i dettagli.
	</p>
</div>

<div id="security">
	<h2>
		Sicurezza Caratteristiche per dispositivi amministratores
	</h2>
	<p>
		Se sei l’amministratore di <tmpl_var _("webui", "webui_product_name")> puoi utilizzare le impostazioni presenti nell’interfaccia Web <tmpl_var _("webui", "webui_product_name_with_suffix")> per limitare ciò che l&#39;utente del <tmpl_var _("webui", "webui_product_name")> può fare tramite il touch screen. La tabella seguente elenca le impostazioni presenti nell&#39;interfaccia Web e il loro effetto sul touch screen.
	</p>

	<h2>
		Impostazioni Web che interessano del touch screen
	</h2>  
	<table class="portForwardingTable" id="">
	 	<thead>
			<tr class="">
				<th class="">Impostazione/Operazione</th>
				<th class="">Pagina web</th>
				<th class="">On</th>
				<th class="">Off</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Nascondi la password amministratore sul del screen:</td>
				<td>
					Principale > Cadere in picchiata <br> Menu > Impostazioni amministratore
				</td>
				<td>
					La password dell'amministratore non viene visualizzata in nessuna parte dello schermo.
				</td>
				<td>
					La password dell'amministratore può essere visualizzata sullo schermo.
				</td>
			</tr>

			<tmpl_if ShowWifiDisplaySetting>
				<tr>
					<td>Consenti modifiche al Wi-Fi tramite il touch screen</td>
					<td>Wi-Fi > Impostazioni</td>
					<td>Normale funzionamento.</td>
					<td>L’opzione "Wi-Fi" è ancora presente sul touch screen, ma tutto ciò che fa è visualizzare un messaggio. Non è possibile modificare le impostazioni Wi-Fi.</td>
				</tr>
			</tmpl_if>

			<tr>
				<td>
					Nascondi il nome della rete principale (SSID) sul touch screen della dispositivi:
				</td>
				<td><tmpl_var _("webui", "help_wifi_text")> > Principale</td>
				<td>
					Il nome della rete principale non viene visualizzato in nessuna parte dello schermo.
				</td>
				<td>
					Il nome della rete primaria può essere visualizzato sullo schermo.
				</td>
			</tr>

			<tr>
				<td>
					Nascondi il password della rete principale sul touch screen della dispositivi:
				</td>
				<td><tmpl_var _("webui", "help_wifi_text")> > Principale</td>
				<td>
					Il password della rete principale non viene visualizzato in nessuna parte dello schermo.
				</td>
				<td>
					Il password della rete primaria può essere visualizzato sullo schermo.
				</td>
			</tr>

			<tr>
				<td>
					Nascondi il nome della rete ospite (SSID) sul touch screen della dispositivi:
				</td>
				<td><tmpl_var _("webui", "help_wifi_text")> > Ospite</td>
				<td>
					Il nome della rete ospite non viene visualizzato in nessuna parte dello schermo.
				</td>
				<td>
					Il nome della rete ospite può essere visualizzato sullo schermo.
				</td>
			</tr>

			<tr>
				<td>
					Nascondi il password della rete ospite sul touch screen della dispositivi:
				</td>
				<td><tmpl_var _("webui", "help_wifi_text")> > Ospite</td>
				<td>
					Il password della rete ospite non viene visualizzato in nessuna parte dello schermo.
				</td>
				<td>
					Il password della rete ospite può essere visualizzato sullo schermo.
				</td>
			</tr>

			<tr>
				<td>WPS - Rete principale</td>
				<td><tmpl_var _("webui", "help_wifi_text")> > Principale</td>
				<td>
					WPS per la rete Wi-Fi primaria è disponibile nel menu Wi-Fi del touchscreen.
				</td>
				<td>WPS non può essere utilizzato sulla rete Wi-Fi principale.</td>
			</tr>	

			<tr>
				<td>WPS - Rete ospite</td>
				<td><tmpl_var _("webui", "help_wifi_text")> > Ospite</td>
				<td>
					WPS per la rete Wi-Fi Ospite è disponibile nel menu Wi-Fi del touchscreen.
				</td>
				<td>WPS non può essere utilizzato sulla rete Wi-Fi ospite.</td>
			</tr>

			<tmpl_if ShowPromptOnUSB>
				<tr>
					<td>Richiedi conferma alla connessione USB</td>
					<td>Dispositivi Impostazioni > Preferenze</td>
					<td>
						Mostra del USB prompt sul touch screen quando è collegato un computer o un dispositivi USB
					</td>
					<td>Non visualizzare il prompt alla connessione USB.</td>
				</tr>
			</tmpl_if>

			<tr>
				<td>Abilita pulsante di ripristino sulla base del dispositivo</td>
				<td>Dispositivi Impostazioni > Preferenze</td>
				<td>
					Il pulsante di ripristino sulla base del dispositivo funziona normalmente. 
				</td>
				<td>
					Il pulsante di ripristino sulla base del dispositivo non ha alcun effetto. 
				</td>
			</tr>
			<tr>
				<td>
					Consenti modifiche alle impostazioni dalla schermata Dispositivo
				</td>
				<td>Dispositivi Impostazioni > Preferenze</td>
				<td>Normale funzionamento</td>
				<td>
					L’opzione "Impostazioni" è ancora presente sul touch screen, ma tutto ciò che fa è visualizzare un messaggio. Non è possibile modificare le impostazioni.
				</td>
			</tr>
		</tbody>
	</table>
</div>
