<!-- Help  -->

<div id="overview">
	<h2>Oversikt</h2>
	<p>
		Velkommen til <tmpl_var _("webui", "webui_product_name")>! Den nye enheten din er <tmpl_var _("webui", "webui_carrier_name")> <tmpl_var _("webui", "webui_product_trade_mark")> – <tmpl_var _("webui", "webui_product_number")>.<br> Med din <tmpl_var _("webui", "webui_product_number")> opplever du kraften i 5G for ultra-rask internettilgang til apper, opplastinger og nedlastinger. Bruk den hjemme, på jobb eller på farten, selv når du er utenfor landet.
	</p>

	<h2>
		<tmpl_var _("webui", "webui_product_name")> <tmpl_var _("webui", "webui_product_number")> Funksjoner
	</h2>

	<ul class="list-style">
		<li>
			Raskest og sterkest mulig ytelse med dual-band wifi (2,4 GHz/5 GHz)-alternativ.
		</li>

		<li>
			Tilkobling via USB for internettilgang til din Windows- eller Mac-datamaskin.
		</li>

		<li>
			Gjeste-wifi-nettverk gir midlertidig internettilgang, uten å dele ditt personlige passord eller tilgang til resten av nettverket, for eksempel skrivere og andre tilkoblede enheter.
		</li>

		<li>
			Opptil 24 timers batterilevetid på en enkelt lading.
		</li>

		<li>
			Hurtigladeteknologi for å komme deg raskere i gang enn noensinne.
		</li>

		<li>
			Dobler som en lader for andre trådløse enheter.
		</li>

		<li>
			Intuitiv berøringsskjerm lar deg sjekke databruk og kontrollere andre funksjoner rett fra enheten.
		</li>

		<li>
			Vennlig nettgrensesnitt gjør avanserte funksjoner og innstillinger enkle å tilpasse.
		</li>	
	</ul>		
</div>

<div id="setup">
	<h2>Konfigurering</h2>
	<h2>Trinn 1 – <tmpl_var _("webui", "help_setup_step1_title")></h2>
	<p>
		<tmpl_udf GET_PO_TEXT("help_setup_step1_text",gProductName,gProductNumber)>
	</p>

	<h2>Trinn 2 – Koble til internett</h2>
	<p>
		Bruk wifi-programmet på datamaskinen, nettbrettet eller andre enheter, og koble <tmpl_var _("webui", "webui_product_name")><tmpl_var _("webui", "webui_product_number")> til wifi-nettverket. For å få wifi-navn og passord, fra <tmpl_var _("webui", "webui_product_name")><tmpl_var _("webui", "webui_product_number")>s startskjerm, trykk på wifi-ikonet.
	</p>

	<h2>Trinn 3 – Se etter tilkoblede enheter</h2>
	<p>
		Når du kobler en datamaskin, nettbrett eller annen enhet til din <tmpl_var _("webui", "webui_product_name")><tmpl_var _("webui", "webui_product_number")>, vil antall tilkoblede enheter som vises på din <tmpl_var _("webui", "webui_product_name")><tmpl_var _("webui", "webui_product_number")>s startskjerm, oppdateres. Trykk på ikonet for tilkoblede enheter for mer informasjon om hver tilkoblede enhet.
	</p>				
</div>

<div id="tips">
<h2>Tips</h2>
	<h2>SIM-kort</h2>		
	<p>
		SIM-kortet er forhåndsinstallert. For å bytte SIM-kort fjerner du batteridekselet og batteriet.
	</p>

	<h2>Tilkoblede enheter</h2>
	<p>
		<tmpl_var _("webui", "webui_product_name_with_suffix")>-Berøringsskjermens startside viser antall enheter som er koblet til <tmpl_var _("webui", "webui_product_name_with_suffix")>-wifi-nettverket. Velg «Tilkoblede enheter» for å se detaljert informasjon om hvilken som helst tilkoblet enhet, og for å blokkere eller fjerne blokkering av en enhet fra å få tilgang til <tmpl_var _("webui", "webui_product_name_with_suffix")>-wifi-nettverket.
	</p>

	<h2>Lydvarsler</h2>
	<p>
		For å tilpasse når din <tmpl_var _("webui", "webui_product_name")> spiller av et lydvarsel, velg «Meny» fra startsiden på berøringsskjermen, og deretter “Innstillinger”. Du kan slå av alle lydvarsler, eller stille dem inn individuelt.
	</p>

	<h2>Batteriets levetid</h2>
	<p>
		For å spare batterilevetid, velg «Meny» fra startsiden på berøringsskjermen, og deretter “Innstillinger”. Du kan endre innstillingene for tidsavbrudd på skjermen og automatisk avslutning.
	</p>

	<h2>Wifi-nettverk</h2>
	<p>
		Datamaskinen, nettbrettet og andre enheter trenger å koble seg til <tmpl_var _("webui", "webui_product_name_with_suffix")>-wifi-nettverket for internettilgang. Detaljer om <tmpl_var _("webui", "webui_product_name_with_suffix")>-wifi-nettverket vises på startsiden på berøringsskjermen. Du kan også slutte deg til <tmpl_var _("webui", "webui_product_name_with_suffix")>-wifi-nettverket ved å velge «wifi», deretter «WPS«.
	</p>	

	<h2>Gjeste-wifi-nettverk</h2>
	<p>
		Med gjestenettverksfunksjonen kan du sette opp et eget og midlertidig wifi-nettverk for gjester. Bruk et annet passord eller ikke noe passord i det hele tatt. Gjestenettverket gir bare tilgang til internett, slik at ditt personlige nettverk av tilkoblede enheter – inkludert skrivere, høyttalere, eksterne stasjoner eller andre tilkoblede enheter – forblir trygt. Hvis du vil slå på gjeste-wifi-nettverket, velger du «wifi» på startskjermvisningen og deretter «wifi-nettverksvalg.
	</p>

	<h2>Sikkerhet</h2>
	<p>
		Som enhetseier eller administrator kan du begrense tilgangen til <tmpl_var _("webui", "webui_product_name_with_suffix")>-innstillingene, hvis du må tillate fysisk tilgang til dine <tmpl_var _("webui", "webui_product_name")> for andre mennesker. Se følgende avsnitt for detaljer.
	</p>
</div>

<div id="security">
	<h2>Sikkerhetsfunksjoner for enhetsadministratorer</h2>
	<p>
		Hvis du er <tmpl_var _("webui", "webui_product_name")>-administratoren, kan du bruke innstillinger i <tmpl_var _("webui", "webui_product_name_with_suffix")> nettgrensesnittet for å begrense hva <tmpl_var _("webui", "webui_product_name")>-brukeren kan gjøre på berøringsskjermen. Tabellen nedenfor viser tilgjengelige innstillinger for webgrensesnittet og deres innvirkning på berøringsskjermen.
	</p>

	<h2>Nettinnstillinger som påvirker berøringsskjermen</h2>  
	<table class="portForwardingTable" id="">
	 	<thead>
			<tr class="">
				<th class="">Innstilling/drift</th>
				<th class="">Nettside</th>
				<th class="">På</th>
				<th class="">Av</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Skjul administratorpassord på skjermen</td>
				<td>Hjem> rullegardin <br> meny> Administratorinnstillinger</td>
				<td>Administratorpassord vises ikke på skjermen.</td>
				<td>Administratorpassord kan vises på skjermen.</td>
			</tr>

			<tmpl_if ShowWifiDisplaySetting>
				<tr>
					<td>
						Tillat at Wi-Fi-innstillinger endres fra enheten-skjermen.
					</td>
					<td><tmpl_var _("webui", "help_wifi_text")> > Generelt</td>
					<td>Normal drift.</td>
					<td>
						På berøringsskjermen er alternativet «wifi»-alternativet fremdeles tilgjengelig, men viser kun en melding. Ingen wifi-innstillinger kan endres.
					</td>
				</tr>
			</tmpl_if>

			<tr>
				<td>Skjul navnet på primærnettverk (SSID) på enhetensskjermen:</td>
				<td><tmpl_var _("webui", "help_wifi_text")> > Primær</td>
				<td>Primært nettverksnavn vises ikke noe sted på skjermen.</td>
				<td>Primært nettverksnavn kan vises på skjermen.</td>
			</tr>

			<tr>
				<td>Skjul passordet for primærnettverk på enhetens skjerm</td>
				<td><tmpl_var _("webui", "help_wifi_text")> > Primær</td>
				<td>Primært nettverkspassord vises ikke noe sted på skjermen.</td>
				<td>Primært nettverkspassord kan vises på skjermen.</td>
			</tr>

			<tr>
				<td>Skjul navnet på gjestenettverket (SSID) på enhetensskjermen:</td>
				<td><tmpl_var _("webui", "help_wifi_text")> > Gjest</td>
				<td>Gjest nettverksnavn vises ikke noe sted på skjermen.</td>
				<td>Gjest nettverksnavn kan vises på skjermen.</td>
			</tr>

			<tr>
				<td>Skjul passordet for gjestenettverk på enhetens skjerm</td>
				<td><tmpl_var _("webui", "help_wifi_text")> > Gjest</td>
				<td>Gjest nettverkspassord vises ikke noe sted på skjermen.</td>
				<td>Gjest nettverkspassord kan vises på skjermen.</td>
			</tr>

			<tr>
				<td>WPS – Primærnettverk</td>
				<td><tmpl_var _("webui", "help_wifi_text")> > Primær</td>
				<td>
					WPS for det primære Wi-Fi-nettverket er tilgjengelig på Wi-Fi-menyen på berøringsskjermen.
				</td>
				<td>WPS kan ikke brukes på det primære Wi-Fi-nettverket.</td>
			</tr>

			<tr>
				<td>WPS – Gjestenettverk</td>
				<td><tmpl_var _("webui", "help_wifi_text")> > Gjest</td>
				<td>
					WPS for det gjest Wi-Fi-nettverket er tilgjengelig på Wi-Fi-menyen på berøringsskjermen.
				</td>
				<td>WPS kan ikke brukes på det gjest Wi-Fi-nettverket.</td>
			</tr>

			<tmpl_if ShowPromptOnUSB>
				<tr>
					<td>Spør ved USB-tilkobling</td>
					<td>EnhetsinnstillingerEnhetsinnstillinger > Preferanser</td>
					<td>
						Vis USB-ledeteksten på berøringsskjermen når en datamaskin eller USB-enhet er koblet til.
					</td>
					<td>USB-ledeteksten vises ikke.</td>
				</tr>			
			</tmpl_if>

			<tr>
				<td>Tillat tilbakestillingsknappen på undersiden av enheten</td>
				<td>Enhetsinnstillinger > Preferanser</td>
				<td>
					Tilbakestillingsknappen på bunnen av enheten fungerer som normalt. 
				</td>
				<td>
					Tilbakestillingsknappen på bunnen av enheten har ingen effekt. 
				</td>
			</tr>

			<tr>
				<td>Tillat at Innstillinger endres fra enheten-skjermen.</td>
				<td>Enhetsinnstillinger > Preferanser</td>
				<td>Normal drift</td>
				<td>
					På berøringsskjermen er alternativet «Innstillinger»-alternativet fremdeles tilgjengelig, men viser kun en melding. Ingen innstillinger kan endres.
				</td>
			</tr>
		</tbody>
	</table>
</div>
