<!-- Help  -->

<div id="overview">
	<h2>Apžvalga</h2>
	<p>
		Sveiki prisijungę prie <tmpl_var _("webui", "webui_product_name")>! Jūsų naujasis įrenginys yra <tmpl_var _("webui", "webui_carrier_name")> <tmpl_var _("webui", "webui_product_trade_mark")> – <tmpl_var _("webui", "webui_product_number")>.<br><tmpl_var _("webui", "webui_product_number")> suteikia jums galimybę pajusti 5G galią, kad internete galėtumėte itin sparčiai pasiekti programas, įkelti ir atsisiųsti duomenis. Naudokite jį namuose, darbe ar keliaudami net jei esate už šalies ribų.
	</p>

	<h2>
		<tmpl_var _("webui", "webui_product_name")> <tmpl_var _("webui", "webui_product_number")> Funkcijos
	</h2>

	<ul class="list-style">
		<li>
			Pats greičiausias ir stabiliausias veikimas naudojant dvigubo dažnių diapazono „Wi-Fi“ (2,4 GHz / 5 GHz) parinktį.
		</li>

		<li>
			Prisijungimas per USB, skirtas interneto prieigai prie jūsų „Windows“ arba „Mac“ kompiuterio.
		</li>

		<li>
			Svečio „Wi-Fi“ tinklas suteikia laikiną interneto prieigą, nebendrinant jūsų asmeninio slaptažodžio arba prieigos prie kitų tinkle esančių įrenginių, pvz., spausdintuvų ir kitų prijungtų įrenginių.
		</li>

		<li>
			Iki 24 valandų akumuliatoriaus naudojimo trukmė vienu įkrovimu.
		</li>

		<li>
			Greitojo įkrovimo technologija, kad galėtumėte pradėti dirbti greičiau nei bet kada anksčiau.
		</li>

		<li>
			Veikia kaip dvigubas įkroviklis kitiems belaidžiams.
		</li>

		<li>
			Intuityvus jutiklinis ekranas tiesiogiai iš įrenginio suteikia galimybę tikrinti duomenų naudojimą ir valdyti kitas funkcijas.
		</li>

		<li>
			Patogi žiniatinklio sąsaja leidžia lengvai pritaikyti išplėstines funkcijas bei nuostatas.
		</li>
	
	</ul>		
</div>

<div id="setup">
	<h2>Sąranka</h2>
	<h2>1 veiksmas – <tmpl_var _("webui", "help_setup_step1_title")></h2>
	<p>
		<tmpl_udf GET_PO_TEXT("help_setup_step1_text",gProductName,gProductNumber)>
	</p>

	<h2>2 veiksmas – prisijunkite prie interneto</h2>
	<p>
		Naudodami kompiuteryje, planšetiniame kompiuteryje ar kitame įrenginyje esančią „Wi-Fi“ programą prisijunkite prie savo <tmpl_var _("webui", "webui_product_name")><tmpl_var _("webui", "webui_product_number")> „Wi-Fi“ tinklo. Norėdami gauti „Wi-Fi“ pavadinimą ir slaptažodį, <tmpl_var _("webui", "webui_product_name")><tmpl_var _("webui", "webui_product_number")> pradžios ekrane bakstelėkite „Wi-Fi“ piktogramą.
	</p>

	<h2>3 veiksmas – patikrinkite prijungtus įrenginius</h2>
	<p>
		Prijungus kompiuterį, planšetinį kompiuterį ar kitą įrenginį prie jūsų <tmpl_var _("webui", "webui_product_name")><tmpl_var _("webui", "webui_product_number")>, bus atnaujintas prijungtų įrenginių, rodomų jūsų <tmpl_var _("webui", "webui_product_name")><tmpl_var _("webui", "webui_product_number")> pradžios ekrane, skaičius. Bakstelėkite piktogramą „Prijungti įrenginiai“ ir gaukite daugiau informacijos apie kiekvieną prijungtą įrenginį.
	</p>				
</div>

<div id="tips">
	<h2>Patarimai</h2>
	<h2>SIM</h2>
	<p>
		SIM įdėta iš anksto. Norėdami pakeisti SIM kortelę, nuimkite akumuliatoriaus dangtelį ir išimkite akumuliatorių.
	</p>

	<h2>Prijungti įrenginiai</h2>
	<p>
		<tmpl_var _("webui", "webui_product_name_with_suffix")> pradžios jutiklinio ekrano rodinyje parodomas prie <tmpl_var _("webui", "webui_product_name_with_suffix")> „Wi-Fi“ tinklo prijungtų įrenginių skaičius. Norėdami peržiūrėti išsamią informaciją apie bet kurį prijungtą įrenginį ir užblokuoti įrenginį, kad jis negalėtų pasiekti <tmpl_var _("webui", "webui_product_name_with_suffix")> „Wi-Fi“ tinklo, arba tą įrenginį atblokuoti, kad jis galėtų jį pasiekti, pasirinkite „Prijungti įrenginiai“.
	</p>

	<h2>Garsiniai įspėjimo signalai</h2>
	<p>
		Norėdami pritaikyti, kada jūsų <tmpl_var _("webui", "webui_product_name")> skleistų garsinio įspėjimo signalą, pradžios jutiklinio ekrano rodinyje pasirinkite „Meniu“, tada – „Nuostatos“. Galite išjungti visus garsinio įspėjimo signalus arba nustatyti juos atskirai.
	</p>

	<h2>Akumuliatoriaus naudojimo laikas</h2>
	<p>
		Norėdami taupyti akumuliatoriaus naudojimo laiką, pradžios jutiklinio ekrano rodinyje pasirinkite „Meniu“, tada – „Nuostatos“. Galite keisti ekrano skirtojo laiko ir automatinio išjungimo nuostatas.
	</p>

	<h2>„Wi-Fi“ tinklas</h2>
	<p>
		Prieigai prie interneto jūsų kompiuteris, planšetinis kompiuteris ir kiti įrenginiai turi prisijungti prie <tmpl_var _("webui", "webui_product_name_with_suffix")> „Wi-Fi“ tinklo. Išsami <tmpl_var _("webui", "webui_product_name_with_suffix")> „Wi-Fi“ tinklo informacija rodoma pradžios jutiklinio ekrano rodinyje. Be to, prie <tmpl_var _("webui", "webui_product_name_with_suffix")> „Wi-Fi“ tinklo galite prisijungti pasirinkdami „Wi-Fi“, tada – WPS.
	</p>	

	<h2>Svečio „Wi-Fi“ tinklas</h2>
	<p>
		Naudodami svečio tinklo funkciją galite nustatyti atskirą ir laikiną „Wi-Fi“ tinklą svečiams. Naudokite kitą slaptažodį arba jo visai nenaudokite. Svečio tinklas suteikia prieigą tik prie interneto, todėl jūsų asmeninis prijungtų įrenginių tinklas, įskaitant spausdintuvus, garsiakalbius, išorinius diskus arba kitus prijungtus įrenginius, išlieka saugus. Norėdami įjungti svečio „Wi-Fi“ tinklą, pradžios ekrano rodinyje pasirinkite „Wi-Fi“, tada – „Wi-Fi“ tinklo pasirinkimas“.
	</p>

	<h2>Saugumas</h2>
	<p>
		Būdami įrenginio savininku arba administratoriumi, galite apriboti prieigą prie <tmpl_var _("webui", "webui_product_name_with_suffix")> nuostatų, jei kitiems asmenims reikia suteikti fizinę prieigą prie jūsų <tmpl_var _("webui", "webui_product_name")>. Išsamesnės informacijos žr. kitame skyriuje.
	</p>
</div>

<div id="security">
	<h2>Įrenginių administratorių saugos funkcijos</h2>
	<p>
		Jei esate <tmpl_var _("webui", "webui_product_name")> administratorius, galite naudoti <tmpl_var _("webui", "webui_product_name_with_suffix")> žiniatinklio sąsajos nuostatas, kad apribotumėte <tmpl_var _("webui", "webui_product_name")> naudotojo veiksmus jutikliniame ekrane. Toliau pateiktoje lentelėje išvardytos galimos žiniatinklio sąsajos nuostatos ir jų poveikis jutikliniam ekranui.
	</p>
		
	<h2>Žiniatinklio sąsajos nustatymai, turintys įtakos jutikliniam ekranui</h2>  
	<table class="portForwardingTable" id="">
	 	<thead>
			<tr class="">
				<th class="">Nuostata / veikimas</th>
				<th class="">Tinklalapis</th>
				<th class="">Įjungta</th>
				<th class="">Išjungta</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Slėpti administratoriaus slaptažodį ekrane</td>
				<td>
					Pagrindinis > išskleidžiamasis meniu <br> > Administratoriaus nustatymai
				</td>
				<td>Administratoriaus slaptažodis ekrane nerodomas.</td>
				<td>Administratoriaus slaptažodį galima peržiūrėti ekrane.</td>
			</tr>
 
			<tmpl_if ShowWifiDisplaySetting>
				<tr>
					<td>Leisti „Wi-Fi“ pakeitimus atlikti įrenginio ekrane.</td>
					<td>
						<tmpl_var _("webui", "help_wifi_text")> > Bendroji informacija
					</td>
					<td>Įprastas veikimas.</td>
					<td>
						Jutikliniame ekrane vis dar galima „Wi-Fi“ parinktis, tačiau rodomas tik pranešimas. Negalima keisti jokių „Wi-Fi“ nuostatų.
					</td>
				</tr>
			</tmpl_if>

			<tr>
				<td>
					Slėpti pagrindinio tinklo pavadinimą (SSID) įrenginio ekrane:
				</td>
				<td><tmpl_var _("webui", "help_wifi_text")> > Pagrindinis</td>
				<td>Pirminis tinklo pavadinimas nerodomas ekrane.</td>
				<td>Pirminį tinklo slaptažodį galima peržiūrėti ekrane.</td>
			</tr>

			<tr>
				<td>Slėpti pagrindinį tinklo slaptažodį įrenginio ekrane</td>
				<td><tmpl_var _("webui", "help_wifi_text")> > Pagrindinis</td>
				<td>Pirminis tinklo slaptažodis ekrane nerodomas.</td>
				<td>Pirminis tinklo slaptažodį galima peržiūrėti ekrane.</td>
			</tr>

			<tr>
				<td>Slėpti svečio tinklo pavadinimą (SSID) įrenginio ekrane:</td>
				<td><tmpl_var _("webui", "help_wifi_text")> > Svečias</td>
				<td>Svečio tinklo pavadinimas nerodomas ekrane.</td>
				<td>Svečio tinklo slaptažodį galima peržiūrėti ekrane.</td>
			</tr>

			<tr>
				<td>Slėpti svečio tinklo slaptažodį įrenginio ekrane</td>
				<td><tmpl_var _("webui", "help_wifi_text")> > Svečias</td>
				<td>Svečio tinklo slaptažodis ekrane nerodomas.</td>
				<td>Svečių tinklo slaptažodį galima peržiūrėti ekrane.</td>
			</tr>

			<tr>
				<td>„WPS“ – pagrindinis tinklas</td>
				<td><tmpl_var _("webui", "help_wifi_text")> > Pagrindinis</td>
				<td>
					Pagrindinio „Wi-Fi“ tinklo WPS pateikiamas jutiklinio ekrano „Wi-Fi“ meniu.
				</td>
				<td>WPS negalima naudoti pagrindiniame „Wi-Fi“ tinkle.</td>
			</tr>

			<tr>
				<td>„WPS“ – svečio tinklas</td>
				<td><tmpl_var _("webui", "help_wifi_text")> > Svečias</td>
				<td>
					Svečių „Wi-Fi“ tinklo WPS galima pasiekti jutikliniame „Wi-Fi“ meniu.
				</td>
				<td>WPS negalima naudoti svečio „Wi-Fi“ tinkle.</td>
			</tr>

			<tmpl_if ShowPromptOnUSB>
				<tr>
					<td>Paraginti prijungti USB</td>
					<td>Įrenginio Nuostatos > Parinktys</td>
					<td>
						Parodykite USB raginimą jutikliniame ekrane, kai prijungtas kompiuteris ar USB įrenginys.
					</td>
					<td>USB raginimas nerodomas.</td>
				</tr>			
			</tmpl_if>

			<tr>
				<td>Leisti nustatymo iš naujo mygtuką, esantį įrenginio apačioje</td>
				<td>Įrenginio Nuostatos > Parinktys</td>
				<td>
					Įrenginio apačioje esantis nustatymo iš naujo mygtukas veikia normaliai. 
				</td>
				<td>
					Nustatymo iš naujo mygtukas, esantis įrenginio apačioje, neveikia. 
				</td>
			</tr>

			<tr>
				<td>Leisti nustatymus keisti įrenginio ekrane</td>
				<td>Įrenginio Nuostatos > Parinktys</td>
				<td>Įprastas veikimas</td>
				<td>
					Jutikliniame ekrane vis dar galima „Nustatymai“ parinktis, tačiau rodomas tik pranešimas. Negalima keisti jokių „Nustatymai“ nuostatų.
				</td>
			</tr>
		</tbody>
	</table>
</div>
