<!-- Help  -->

<div id="overview">
	<h2>Oversigt</h2>
	<p>
		Velkommen til <tmpl_var _("webui", "webui_product_name")>! Din nye enhed er <tmpl_var _("webui", "webui_carrier_name")> <tmpl_var _("webui", "webui_product_trade_mark")> - <tmpl_var _("webui", "webui_product_number")>.<br> Med din <tmpl_var _("webui", "webui_product_number")> oplever du, hvor stærk 5G er til ultrahurtig internetadgang til apps, uploads og downloads. Brug den derhjemme, på arbejdet eller på farten, selv når du er i udlandet.
	</p>

	<h2>
		<tmpl_var _("webui", "webui_product_name")> <tmpl_var _("webui", "webui_product_number")> Funktioner
	</h2>

	<ul class="list-style">
		<li>
			Den hurtigste og stærkeste ydeevne fås med Dual-band Wi-Fi (2,4 GHz/5 GHz).
		</li>

		<li>
			Forbindelse via USB til internetadgang til din Windows- eller Mac-computer.
		</li>

		<li>
			Wi-Fi-gæstenetværket giver midlertidig internetadgang uden at dele din personlige adgangskode eller adgang til resten af dit netværk, f.eks. printere og andre tilsluttede enheder.
		</li>

		<li>
			Op til 24 timers batterilevetid på en enkelt opladning.
		</li>

		<li>
			Hurtigladeteknologi for at få dig op og køre hurtigere end nogensinde før.
		</li>

		<li>
			Fungerer som oplader til andre trådløse enheder.
		</li>

		<li>
			Den intuitive berøringsskærm giver dig mulighed for at tjekke dataforbruget og kontrollere andre funktioner direkte fra enheden.
		</li>

		<li>
			En venlig webgrænseflade gør avancerede funktioner og indstillinger nemme at tilpasse.
		</li>	
	</ul>		
</div>

<div id="setup">
	<h2>Opsætning</h2>
	<h2>
		Trin 1 - <tmpl_var _("webui", "help_setup_step1_title")>
	</h2>
	<p>
		<tmpl_udf GET_PO_TEXT("help_setup_step1_text",gProductName,gProductNumber)>
	</p>

	<h2>
		Trin 2 - Opret forbindelse til internettet
	</h2>
	<p>
		Brug Wi-Fi-applikationen på din computer, tablet eller anden enhed til at oprette forbindelse til din <tmpl_var _("webui", "webui_product_name")><tmpl_var _("webui", "webui_product_number")>s Wi-Fi-netværk. For at få Wi-Fi-navnet og adgangskoden skal du trykke på Wi-Fi-ikonet på <tmpl_var _("webui", "webui_product_name")><tmpl_var _("webui", "webui_product_number")>s startskærm.
	</p>

	<h2>
		Trin 3 - Kontrollér for tilsluttede enheder
	</h2>
	<p>
		Når du slutter en computer, tablet eller anden enhed til din <tmpl_var _("webui", "webui_product_name")><tmpl_var _("webui", "webui_product_number")>, bliver antallet af tilsluttede enheder, der vises på din <tmpl_var _("webui", "webui_product_name")><tmpl_var _("webui", "webui_product_number")>s startskærm, opdateret. Tryk på ikonet Tilsluttedee enheder for at få flere oplysninger om hver tilsluttet enhed.
	</p>				
</div>

<div id="tips">
	<h2>Tip</h2>
	<h2>Simkort</h2>
	<p>
		Simkortet er forudinstalleret. For at skifte simkort skal du fjerne batteridækslet og batteriet.
	</p>

	<h2>Tilsluttede enheder</h2>
	<p>
		<tmpl_var _("webui", "webui_product_name_with_suffix")>s startskærm viser antallet af enheder, der er tilsluttet til <tmpl_var _("webui", "webui_product_name_with_suffix")>s Wi-Fi-netværk. Vælg "Tilsluttede enheder" for at se detaljerede oplysninger om en tilsluttet enhed og for at blokere eller fjerne blokering af en enhed i at få adgang til <tmpl_var _("webui", "webui_product_name_with_suffix")> Wi-Fi-netværk.
	</p>

	<h2>Lydalarmer</h2>
	<p>
		For at tilpasse, hvornår din <tmpl_var _("webui", "webui_product_name")> afspiller en lydalarm, skal du vælge "Menu" på startskærmen og derefter "Indstillinger". Du kan slukke for alle lydalarmer eller indstille dem individuelt.
	</p>

	<h2>Batterilevetid</h2>
	<p>
		For at spare på batteriets levetid skal du vælge “Menu” på startskærmen og derefter “Indstillinger”. Du kan ændre skærmens timeout og indstillinger til automatisk nedlukning.
	</p>

	<h2>Wi-Fi-netværk</h2>
	<p>
		Din computer, tablet og andre enheder skal oprette forbindelse til <tmpl_var _("webui", "webui_product_name_with_suffix")>s Wi-Fi-netværk for at få internetadgang. Detaljer om <tmpl_var _("webui", "webui_product_name_with_suffix")>s Wi-Fi-netværk vises på startskærmen. Du kan også koble dig på <tmpl_var _("webui", "webui_product_name_with_suffix")>s Wi-Fi-netværk ved at vælge "Wi-Fi" og derefter "WPS".
	</p>	

	<h2>Wi-Fi-gæstenetværk</h2>
	<p>
		Med gæstenetværksfunktionen kan du konfigurere et separat og midlertidigt Wi-Fi-netværk for gæster. Brug en anden adgangskode eller ingen adgangskode overhovedet. Gæstenetværket tillader kun adgang til internettet, så dit personlige netværk af tilsluttede enheder - inklusive printere, højttalere, eksterne drev eller andre tilsluttede enheder - forbliver sikkert. Hvis du vil slå gæstens Wi-Fi-netværk til, skal du vælge “Wi-Fi” på startskærmen og derefter “Valg af Wi-Fi-netværk”.
	</p>

	<h2>Sikkerhed</h2>
	<p>
		Som enhedsejer eller administrator kan du begrænse adgangen til <tmpl_var _("webui", "webui_product_name_with_suffix")>s indstillinger, hvis du skal tillade, at andre mennesker har fysisk adgang til din <tmpl_var _("webui", "webui_product_name")>. Se følgende afsnit for detaljer.
	</p>
</div>

<div id="security">
	<h2>
		Sikkerhedsfunktioner for enhedsadministratorer
	</h2>
	<p>
		Hvis du er administrator af <tmpl_var _("webui", "webui_product_name")>, kan du bruge indstillingerne inden for <tmpl_var _("webui", "webui_product_name_with_suffix")>s webgrænseflade til at begrænse, hvad <tmpl_var _("webui", "webui_product_name")> bruger kan gøre på berøringsskærmen. Følgende tabel viser de tilgængelige webinterfaceindstillinger og deres virkning på berøringsskærmen.
	</p>

	<h2>Webindstillinger, der påvirker berøringsskærmen</h2>  
	<table class="portForwardingTable" id="">
	 	<thead>
			<tr class="">
				<th class="">Indstilling/Drift</th>
				<th class="">Webside</th>
				<th class="">Til</th>
				<th class="">Fra</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Skjul administratoradgangskode på skærmen</td>
				<td>Hjem > Rullemenu til menuen > Admin. Indstillinger</td>
				<td>Administratoradgangskode ses ikke noget sted på skærmen.</td>
				<td>Administratoradgangskode kan ses på skærmen.</td>
			</tr>

			<tmpl_if ShowWifiDisplaySetting>
				<tr>
					<td>
						Tillad, at der foretages ændringer af Wi-Fi-indstillinger fra skærmbilledet Enhed.
					</td>
					<td><tmpl_var _("webui", "help_wifi_text")> > Generelt</td>
					<td>Normal drift.</td>
					<td>
						På berøringsskærmen er indstillingen “Wi-Fi” stadig tilgængelig, men viser kun en besked. Ingen Wi-Fi-indstillinger kan ændres.
					</td>
				</tr>
			</tmpl_if>

			<tr>
				<td>Skjul primært netværksnavn (SSID) på enhedens skærm</td>
				<td><tmpl_var _("webui", "help_wifi_text")> > Primær</td>
				<td>Primært netværksnavn vises ikke nogen steder på skærmen.</td>
				<td>Primært netværksnavn kan ses på skærmen.</td>
			</tr>

			<tr>
				<td>Skjul primær netværksadgangskode på enhedens skærm</td>
				<td><tmpl_var _("webui", "help_wifi_text")> > Primær</td>
				<td>Primær netværksadgangskode vises ikke nogen steder på skærmen.</td>
				<td>Primær netværksadgangskode kan ses på skærmen.</td>
			</tr>

			<tr>
				<td>Skjul gæstens netværksnavn (SSID) på enhedens skærm</td>
				<td><tmpl_var _("webui", "help_wifi_text")> > Gæst</td>
				<td>Gæst netværksnavn vises ikke nogen steder på skærmen.</td>
				<td>Gæst netværksnavn kan ses på skærmen.</td>
			</tr>

			<tr>
				<td>Skjul gæstens netværksadgangskode på enhedens skærm</td>
				<td><tmpl_var _("webui", "help_wifi_text")> > Gæst</td>
				<td>Gæst netværksadgangskode vises ikke nogen steder på skærmen.</td>
				<td>Gæst netværksadgangskode kan ses på skærmen.</td>
			</tr>

			<tr>
				<td>WPS - Primær netværk</td>
				<td><tmpl_var _("webui", "help_wifi_text")> > Primær</td>
				<td>
					WPS til det primære wi-fi-netværk er tilgængelig i wi-fi-menuen på berøringsskærmen.
				</td>
				<td>WPS kan ikke bruges på det primære wi-fi-netværk.</td>
			</tr>

			<tr>
				<td>WPS - gæstenetværk</td>
				<td><tmpl_var _("webui", "help_wifi_text")> > Gæst</td>
				<td>
					WPS til det gæst Wi-Fi-netværk er tilgængelig på Wi-Fi-menuen med berøringsskærmen.
				</td>
				<td>WPS kan ikke bruges på det gæst Wi-Fi-netværk.</td>
			</tr>

			<tmpl_if ShowPromptOnUSB>
				<tr>
					<td>Anmod om USB-forbindelse</td>
					<td>Enhedsindstillinger > Præferencer</td>
					<td>
						Vis USB-meddelelsen på berøringsskærmen, når en computer eller USB-enhed er tilsluttet.
					</td>
					<td>USB-prompt vises ikke.</td>
				</tr>
			</tmpl_if>

			<tr>
				<td>Tillad nulstillingsknap i bunden af enheden</td>
				<td>Enhedsindstillinger > Præferencer</td>
				<td>Nulstillingsknappen i bunden af enheden fungerer normalt.</td>
				<td>Nulstillingsknappen i bunden af enheden har ingen effekt. </td>
			</tr>

			<tr>
				<td>
					Tillad, at der foretages ændringer af indstillinger fra skærmbilledet Enhed.
				</td>
				<td>Enhedsindstillinger > Præferencer</td>
				<td>Normal drift</td>
				<td>
					På berøringsskærmen er indstillingen stadig tilgængelig, men viser kun en besked. Ingen indstillinger kan ændres.
				</td>
			</tr>
		</tbody>
	</table>
</div>
