<!-- Help  -->

<div id="overview">
	<h2>
		Descripción general
	</h2>
	<p> 
		¡Bienvenido a MiFi! Su nuevo dispositivo es el <tmpl_var _("webui", "webui_carrier_name")> <tmpl_var _("webui", "webui_product_trade_mark")> - <tmpl_var _("webui", "webui_product_number")>.<br> Con su <tmpl_var _("webui", "webui_product_number")>, experimenta el poder de 5G para acceder a Internet de forma ultrarrápida a aplicaciones, cargas y descargas. Utilícelo en casa, en el trabajo o de viaje, incluso cuando esté fuera del país. 
	</p>

	<h2>
		Funciones de <tmpl_var _("webui", "webui_product_name")> <tmpl_var _("webui", "webui_product_number")>
	</h2>
		<ul class="list-style">

			<li>
				El rendimiento más rápido y potente posible con la opción Wi-Fi de doble banda (2,4 GHz/5 GHz). 
			</li>

			<li> 
				Conexión vía USB para acceso a Internet a su computadora Windows o Mac. 
			</li>

			<li> 
				La red Wi-Fi de invitados proporciona acceso temporal a Internet, sin compartir su contraseña personal ni acceso al resto de su red, como impresoras y otros dispositivos conectados. 
			</li>

			<li>
				Hasta 24 horas de duración de la batería con una sola carga. 
			</li>

			<li> 
				Tecnología de carga rápida para ponerlo en funcionamiento más rápido que nunca. 
			</li>

			<li> 
				Funciona como cargador para otros dispositivos inalámbricos. 
			</li>

			<li> 
				La pantalla táctil intuitiva le permite comprobar el uso de los datos y controlar otras funciones desde el dispositivo. 
			</li>

			<li> 
				La interfaz web amigable hace que las funciones y parámetros avanzados sean fáciles de personalizar. 
			</li>
		
		</ul>
		
</div>

<div id="setup">
	<h2>Configuración</h2>
	<h2>Paso 1 - <tmpl_var _("webui", "help_setup_step1_title")></h2>
		<p>
			<tmpl_udf GET_PO_TEXT("help_setup_step1_text",gProductName,gProductNumber)>
		</p>

	<h2>Paso 2 - Conectarse a Internet</h2>
		<p> Utilizando la aplicación Wi-Fi de su computadora, tableta u otro dispositivo, conéctese a la red Wi-Fi de su <tmpl_var _("webui", "webui_product_name")> <tmpl_var _("webui", "webui_product_number")>. Para obtener el nombre y la contraseña de Wi-Fi, desde la pantalla de inicio de <tmpl_var _("webui", "webui_product_name")> <tmpl_var _("webui", "webui_product_number")> pulse sobre el icono Wi-Fi. </p>

	<h2>Paso 3 - Comprobar si hay dispositivos conectados</h2>
		<p> Cuando conecte una computadora, tableta u otro dispositivo a su <tmpl_var _("webui", "webui_product_name")> <tmpl_var _("webui", "webui_product_number")>, se actualizará la cantidad de dispositivos conectados que se muestran en la pantalla de inicio de <tmpl_var _("webui", "webui_product_name")> <tmpl_var _("webui", "webui_product_number")>. Toque el icono de Dispositivos conectados para obtener más información sobre cada dispositivo conectado. </p>
				
</div>
<div id="tips">
	<h2>Consejos</h2>
		<h2>SIM</h2>
		<p> 
			La tarjeta SIM está preinstalada. Para cambiar la tarjeta SIM, quite la tapa de la batería y la batería. 
		</p>

		<h2>Dispositivos conectados</h2>
		<p>
			La pantalla de inicio indica el número de dispositivos conectados a la red Wi-Fi <tmpl_var _("webui", "webui_product_name_with_suffix")>. Seleccione "Dispositivos conectados" para ver información detallada sobre los dispositivo conectado y para bloquear o desbloquear el acceso de un dispositivo a la red Wi-Fi <tmpl_var _("webui", "webui_product_name_with_suffix")>.
		</p>
		<h2>Alertas de audio</h2>
		<p>	
			Para personalizar cuándo <tmpl_var _("webui", "webui_product_name")> reproduce una alerta de audio, seleccione "Menú" en la pantalla de inicio y, a continuación, "Parámetros". Puede desactivar todas las alertas de audio o configurarlas individualmente.
		</p>
		<h2>Duración de la batería</h2>
		<p>
			Para conservar la duración de la batería, seleccione "Menú" en la pantalla de inicio y, a continuación, "Parámetros". Puede cambiar el tiempo de espera de la pantalla y los parámetros de apagado automático.
		</p>

		<h2>Red Wi-Fi</h2>
		<p> 
			El equipo, la tableta y otros dispositivos deben conectarse a la red Wi-Fi <tmpl_var _("webui", "webui_product_name_with_suffix")> para tener acceso a Internet. Los detalles de la red Wi-Fi <tmpl_var _("webui", "webui_product_name_with_suffix")> se muestran en la pantalla de inicio. También puede unirse a la red Wi-Fi <tmpl_var _("webui", "webui_product_name_with_suffix")> seleccionando "Wi-Fi" y, a continuación, "WPS". 
		</p>	

		<h2>Red Wi-Fi de invitados</h2>
		<p>
			Con la función Red de invitados, puede configurar una red Wi-Fi separada y temporal para los invitados. Use una contraseña diferente o ninguna contraseña. La red de invitados solo permite el acceso a Internet, de modo que su red personal de dispositivos conectados, incluidos impresoras, altavoces, unidades externas u otros dispositivos conectados, permanece segura. Para activar la red de Wi-Fi de invitados, seleccione "Wi-Fi" en la pantalla táctil, luego "Selección de banda de Wi-Fi".
		</p>
		<h2>Seguridad</h2>
		<p>
			Limite el acceso a los parámetros del dispositivo <tmpl_var _("webui", "webui_product_name")>, si tiene que permitir el acceso físico a su <tmpl_var _("webui", "webui_product_name")> por parte de otras personas. Vea la siguiente sección para obtener más detalles.
		</p>

</div>
<div id="security">
	<h2>
		Funciones de seguridad para Administradores Dispositivos 
	</h2>
	<p> 
		Si usted es el administrador <tmpl_var _("webui", "webui_product_name")>, puede utilizar la configuración de la interfaz web <tmpl_var _("webui", "webui_product_name_with_suffix")> para limitar lo que los usuarios <tmpl_var _("webui", "webui_product_name")> pueden hacer en la pantalla táctil. En la tabla siguiente se enumeran los ajustes disponibles de la interfaz web y su efecto en la pantalla táctil.
	</p>
	<h2>
		Parámetros de la interfaz web que afectan a la pantalla táctil
	</h2>  
	<table class="portForwardingTable" id="">
	 	<thead>
			<tr class="">
				<th class=""> Parámetros/Operación</th>
				<th class="">Página web</th>
				<th class="">Activada</th>
				<th class="">Desactivada</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td> Ocultar la contraseña de Administrador en la pantalla</td>
				<td> Inicio > <br>Menú desplegable > Parámetros del administrador</td>
				<td> La contraseña de administrador no se muestra en ningún lugar de la pantalla.</td>
				<td> La contraseña de administrador se puede ver en la pantalla.</td>
			</tr>

			<tr>
				<td> Permitir que los cambios de parámetros de Wi-Fi se realicen desde la pantalla del dispositivo.</td>
				<td> Wifi > Parámetros </td>
				<td> Funcionamiento normal.</td>
				<td> En la pantalla, la opción <b>Wi-Fi</b> sigue estando disponible, pero solo muestra un mensaje. No se pueden cambiar los parámetros Wi-Fi.</td>
			</tr>

			<tr>
				<td> Ocultar el nombre de red principal (SSID) en la pantalla del dispositivo</td>
				<td> Wi-Fi > Principal </td>
				<td> El nombre de la red principal no se muestra en ninguna parte de la pantalla.</td>
				<td> El nombre de la red principal se puede ver en la pantalla.</td>
			</tr>

			<tr>
				<td> Ocultar la contraseña de red principal en la pantalla del dispositivo</td>
				<td> Wi-Fi > Principal </td>
				<td> La contraseña principal de la red no se muestra en ningún lugar de la pantalla.</td>
				<td> La contraseña principal de la red se puede ver en la pantalla.</td>
			</tr>
			
			<tr>
				<td> Ocultar el nombre de la red de invitados (SSID) en la pantalla del dispositivo</td>
				<td> Wi-Fi > Invitado</td>
				<td> El nombre de la red de invitados no se muestra en ninguna parte de la pantalla.</td>
				<td> El nombre de la red de invitados se puede ver en la pantalla.</td>
			</tr>

			<tr>
				<td> Ocultar la contraseña de la red de invitados en la pantalla del dispositivo</td>
				<td> Wi-Fi > Invitado</td>
				<td> La contraseña de la red de invitados no se muestra en ningún lugar de la pantalla.</td>
				<td> La contraseña de la red de invitados se puede ver en la pantalla.</td>
			</tr>
			<tr>
				<td> WPS (red principal)</td>
				<td> Wi-Fi > Principal</td>
				<td> WPS para la red Wi-Fi principal está disponible en el menú Wi-Fi de pantalla táctil.</td>
				<td> WPS no se puede utilizar en la red Wi-Fi principal.</td>
			</tr>
			<tr>
				<td> WPS (red de invitados)</td>
				<td> Wi-Fi > Invitado</td>
				<td> WPS para la red Wi-Fi de invitados está disponible en el menú Wi-Fi de la pantalla táctil</td>
				<td> WPS no se puede utilizar en la red Wi-Fi de invitados.</td>
			</tr>
			
			<tmpl_if ShowPromptOnUSB>
			<tr>
				<td> Indicador sobre la conexión USB</td>
				<td> Dispositivo Parámetros > Preferencias</td>
				<td> Muestra el indicador USB en la pantalla táctil cuando se conecta una computadora o un dispositivo USB. </td>
				<td> El indicador USB nunca se muestra.</td>
			</tr>
			</tmpl_if>
			<tr>
				<td> Permitir el botón de reinicio en la base del dispositivo</td>
				<td> Dispositivo Parámetros > Preferencias</td>
				<td> El botón de reinicio en la base de dispositivo opera normalmente.</td>
				<td> El botón de reinicio en la base del dispositivo no tiene ningún efecto.</td>
			</tr>
			<tr>
				<td> Permitir cambios de Parámetros en la pantalla del dispositivo</td>
				<td> Dispositivo Parámetros > Preferencias</td>
				<td> Funcionamiento normal.</td>
				<td> En la pantalla táctil, la opción <b>Parámetros </b> todavía está disponible, pero solo muestra un mensaje. No se pueden cambiar los parámetros.</td>
			</tr>

		</tbody>

	</table>

</div>
