<h1 class="appHead"><tmpl_var _("webui","under_construction_heading_text")></h1>
<div id="appUnderConstruction" class="panel">
	<img src="/under_construction/assets/images/under-construction.png" alt="<tmpl_var _("webui","under_construction_image_alt_text")>" />
</div><!--/.panel -->
