<option value="1"<tmpl_if IN_SET(IpPassthroughEnabled, 1)> selected="selected"</tmpl_if>><tmpl_var _("webui", "lab_test_info_ippt_text")></option> <!-- ippt mode -->
<option value="0"<tmpl_if IN_SET(IpPassthroughEnabled, 0)> selected="selected"</tmpl_if>><tmpl_var _("webui", "lab_test_info_nat_text")></option> <!-- nat mode -->