<tmpl_if isHidden>
	<div class="notification app error">
		<i class="icon-error"></i>
		<tmpl_var _("webui", "webui_app_hidden_text")>
	</div>
<tmpl_else>
	<script type="text/javascript">
		$(function()
		{
			if ("<tmpl_var reboot>" === "true") {
				window.location = "<tmpl_udf GET_URI('restarting')>";
			}
			
			var isPopup = false;
			var ethernetEnabled = "<tmpl_var ethernetEnabled>";
			var deviceName = "<tmpl_var deviceName>";
			var isDeviceReadOnly = "<tmpl_var showDeviceNameReadOnly>";
			$("#saveChanges").on("click", function() {				
				var ethernetEnabledCur = $("#ethernetEnabled").is(":checked") ? "on" : "off";
				var deviceNameCur = $("#deviceName").val();
				<tmpl_if deviceNameShow>
					if ((isDeviceReadOnly == 0) && (deviceName != deviceNameCur)) {
						isPopup = true;
						saveChanges();
					}
				</tmpl_if>
				<tmpl_if showEthernetEnable>
					if((ethernetEnabled == ethernetEnabledCur) && (isPopup == false)) {
						$("#user_preferences_form").submit();
					} else {						
						saveChanges();
					}
				<tmpl_else>
					if(isPopup == false) {
						$("#user_preferences_form").submit();
					}
				</tmpl_if>

			});

			function saveChanges() {				
				var title = "<tmpl_var _('webui', 'webui_modal_title')>";
				var content = "<tmpl_var _('webui', 'adv_lan_save_changes_confirm_modal_without_reservedip_text')>";;
				var width = 430;
				var height = 200;
				var btns;
				var style;
				var open = function() {
				};

				btns = [
					{
						text: '<tmpl_var _("webui", "webui_modal_confirm_button")>',
						className:"primary",
						trigger : function() {
							$("#user_preferences_form").submit();
						}
					},
					{
						text: '<tmpl_var _("webui", "webui_modal_cancel_button")>',
						className: "cancel",
						trigger : function() {
							location.reload();
						}
					}
				];

				modalPopup.createWindow(title, content, width, height, btns, open, null, style);

			}

		});

	</script>

	<tmpl_if isLocked>
		<div class="notification app error">
			<i class="icon-error"></i>
			<tmpl_var _("webui", "webui_app_locked_text")>
		</div>
	</tmpl_if>

	<tmpl_if errorCount>
		<div class="notification app error">
			<i class="icon-error"></i>
			<p><tmpl_var _("webui", "webui_save_code_failed_text")></p>
		</div>
	</tmpl_if>

	<tmpl_if gPostSuccess>
		<div class="notification app success">
			<i class="icon-success"></i>
			<span class="boxclose" onclick="this.parentElement.style.display='none';"></span>
			<p><tmpl_var _("webui", "webui_save_code_success_text")></p>
		</div>
	</tmpl_if>

	<tmpl_if showHeaderText>
		<h2 class="sectionHead"><tmpl_var _("webui", "preferences_sub_header_text")></h2>
	</tmpl_if>

	<form id="user_preferences_form" method="POST" action="<tmpl_udf GET_URI('user_preferences')>">
		<div>
			<input type="hidden" name="gSecureToken" id="gSecureToken" value="<tmpl_var gSecureToken>" />
		</div>

		<fieldset id="personalization" class="last">
			<tmpl_if deviceNameShow>
				<div class="form-group">
					<label>
						<div class="tooltip tooltip-help" title="<tmpl_var _("webui", "preferences_device_name_help_text")>">
							<tmpl_var _("webui", "preferences_device_name_help_text" )>
						</div>
						<tmpl_var _("webui", "preferences_device_name_label")>
					</label>
					<tmpl_if showDeviceNameReadOnly>
						<div class="input" id="deviceName">                                            
                                			<tmpl_var deviceName>
                        			</div>
					<tmpl_else>
						<input type="text" id="deviceName" name="deviceName" value="<tmpl_var deviceName>" <tmpl_if deviceNameError>class="error"</tmpl_if> />
					</tmpl_if>
                			<tmpl_if deviceNameError>                                          
                    				<div class="inline_error">                                                                                  
                        				<tmpl_var deviceNameError>                                                                         
                    				</div>                                                                                                      
                			</tmpl_if>
				</div>
			</tmpl_if>

			<tmpl_if showEthernetEnable>
				<div class="form-group">
					<label>
						<div class="tooltip tooltip-help" id="" title="<tmpl_var _("webui", "preferences_ethernet_enable_help_text")>">
							<tmpl_var _("webui", "webui_inline_help_icon" )>
						</div>
						<tmpl_var _("webui", "preferences_ethernet_enable_label" )>
					</label>
					<input type="checkbox" id="ethernetEnabled" name="ethernetEnabled" <tmpl_if
						IN_SET(ethernetEnabled, "on", "1" )>checked="checked"</tmpl_if> />
				</div>
			</tmpl_if>

			<tmpl_if ledEnabledShow>
				<div class="form-group">
					<label>
						<div class="col tooltip tooltip-help" title="<tmpl_var _('webui', 'preferences_led_enabled_help_text')>">
							<tmpl_var _("webui", "webui_inline_help_icon")>
						</div>
						 <tmpl_var _("webui", "preferences_led_enabled_label")>
					</label>
					<input type="checkbox" name="ledEnabled" id="ledEnabled"<tmpl_if IN_SET(ledEnabled,"off", "0")> checked="checked"</tmpl_if> />
				</div>
			</tmpl_if>

			<tmpl_if showCPERebootEnable>
				<div class="form-group">
					<label>
						<div class="tooltip tooltip-help" id="" title="<tmpl_var _("webui", "preferences_cpe_reboot_enable_help_text")>">
							<tmpl_var _("webui", "webui_inline_help_icon" )>
						</div>
						<tmpl_var _("webui", "preferences_cpe_reboot_enable_label" )>
					</label>
					<input type="checkbox" id="cpeRebootEnabled" name="cpeRebootEnabled" <tmpl_if IN_SET(cpeRebootEnabled, "on", "1" )>checked="checked"</tmpl_if> />
				</div>
			</tmpl_if>

			<tmpl_if showExternalAntennaEnable>
				<div class="form-group">
                                        <label>
                                                <div class="tooltip tooltip-help" id="" title="<tmpl_var _("webui", "preferences_external_antenna_enable_help_text")>">
                                                        <tmpl_var _("webui", "webui_inline_help_icon" )>
                                                </div>
                                                <tmpl_var _("webui", "preferences_external_antenna_enable_label" )>
                                        </label>
                                        <input type="checkbox" id="extAntennaEnabled" name="extAntennaEnabled" <tmpl_if IN_SET(extAntennaEnabled, "on", "1" )>checked="checked"</tmpl_if> />
                                </div>
			</tmpl_if>

			<tmpl_if showExternalMHBAntenna>
				<div class="form-group">
                                        <label>
                                                <div class="tooltip tooltip-help" id="" title="<tmpl_var _("webui", "preferences_external_mhb_antenna_tooltip_text")>">
                                                        <tmpl_var _("webui", "webui_inline_help_icon" )>
                                                </div>
                                                <tmpl_var _("webui", "preferences_external_mhb_antenna_label" )>
                                        </label>
                                        <input type="checkbox" id="extMHBAntennaEnabled" name="extMHBAntennaEnabled" <tmpl_if IN_SET(extMHBAntennaEnabled, "on", "1" )>checked="checked"</tmpl_if> />
                                </div>
			</tmpl_if>

			<tmpl_if showExternalUHBAntenna>	
				<div class="form-group">
                                        <label>
                                                <div class="tooltip tooltip-help" id="" title="<tmpl_var _("webui", "preferences_external_uhb_antenna_tooltip_text")>">
                                                        <tmpl_var _("webui", "webui_inline_help_icon" )>
                                                </div>
                                                <tmpl_var _("webui", "preferences_external_uhb_antenna_label" )>
                                        </label>
                                        <input type="checkbox" id="extUHBAntennaEnabled" name="extUHBAntennaEnabled" <tmpl_if IN_SET(extUHBAntennaEnabled, "on", "1" )>checked="checked"</tmpl_if> />
                                </div>
			</tmpl_if>

			<div class="table">
				<div class="form-group">
						<label for="language"><tmpl_var _("webui", "preferences_language_options_label")></label>
						<select name="language" id="language">
							<tmpl_include "language_options.tmpl">									
						</select>

				</div>
				<div class="form-group">
					<label for="dateFormat" id="lblDateFormat"><tmpl_var _("webui", "preferences_date_format_label")></label>
					<select name="dateFormat" id="dateFormat">
							<tmpl_include "date_format_options.tmpl">
						</select>

				</div>
				<div class="form-group">
					<label for="timeFormat" id="lblTimeFormat"><tmpl_var _("webui", "preferences_time_format_label")></label>
						<select name="timeFormat" id="timeFormat">
							<tmpl_include "time_format_options.tmpl">
						</select>

				</div>
				<div class="form-group">
					<label for="distanceUnit" id="lblDistanceFormat"><tmpl_var _("webui", "preferences_distace_format_label")></label>
					<select name="distanceUnit" id="distanceUnit">
						<tmpl_include "distance_unit_options.tmpl">
					</select>
				</div>
				<div class="form-group">
					<label for="numericFormat" id="lblNumberFormat"><tmpl_var _("webui", "preferences_numeric_format_label")></label>
					<select name="numericFormat" id="numericFormat">
							<tmpl_include "numeric_format_options.tmpl">
					</select>
				</div>
			</div><!-- /.table -->
		</fieldset>
		<div class="button_container clearfix">
			<button type="button" id="saveChanges" class="primary"<tmpl_if isLocked> disabled="disabled"</tmpl_if>>
				<tmpl_var _("webui", "webui_save_button")>
			</button>
		</div>
	</form>
</tmpl_if>
