<option value="0"<tmpl_if IN_SET(dateFormat, 0)> selected="selected"</tmpl_if>><tmpl_var _("webui","preferences_date_format_usa_text")></option> <!-- WEBUI_DATE_FMT_MMDDYYYY_SLASH -->
<option value="2"<tmpl_if IN_SET(dateFormat, 2)> selected="selected"</tmpl_if>><tmpl_var _("webui","preferences_date_format_eu_text")></option> <!-- WEBUI_DATE_FMT_DDMMYYYY_SLASH -->
