<div id="user_preferences">
	<h1><tmpl_var _("webui", "preferences_personalization_sub_header_text")></h1>
	<p>Esta pantalla contiene muchas opciones que le permiten configurar el comportamiento de dispositivo para satisfacer mejor sus necesidades.
	</p>
	<tmpl_if deviceNameShow>
                <h3><tmpl_var truncate(_("webui", "preferences_device_name_label"),(size(_("webui", "preferences_device_name_label")) - size(":")))></h3>
                <p>
                        El Nombre del dispositivo indica el nombre de la red del dispositivo y la URL para acceder a la interfaz de usuario de administración web local del dispositivo.
                </p>
        </tmpl_if>
	<tmpl_if showExternalMHBAntenna>
                <h3><tmpl_var _("webui", "preferences_external_mhb_antenna_label")></h3>
                <p>
                        Should be enabled if using an external antenna is connected to the device that supports 1700-2700 MHz. Disable to use internal antennas for 1700-2700 MHz.
                </p>
	</tmpl_if>
	<tmpl_if showExternalUHBAntenna>
                <h3><tmpl_var _("webui", "preferences_external_uhb_antenna_label")></h3>
                <p>
                        Should be enabled if using an external antenna is connected to the device that supports 3300-4200 MHz. Disable to use internal antennas for 3300-4200 MHz.
                </p>
        </tmpl_if>
	<h3>Idioma</h3>
	<p>Seleccione el idioma deseado. </p>

	<h3><tmpl_var truncate(_("webui", "preferences_date_format_label"), (size(_("webui", "preferences_date_format_label")) - size(":")))></h3>
	<p>
		Especifique el formato en el que se muestra la fecha en esta interfaz web.
	</p>

	<h3><tmpl_var truncate(_("webui", "preferences_time_format_label"), (size(_("webui", "preferences_time_format_label")) - size(":")))></h3>
	<p>
		Especifique el formato en el que se muestra la hora en esta interfaz web.
	</p>

	<h3><tmpl_var truncate(_("webui", "preferences_distace_format_label"), (size(_("webui", "preferences_distace_format_label")) - size(":")))></h3>
	<p>
		Especifique el formato en el que se muestra la distancia en esta interfaz web (pies o metros).
	</p>

	<h3><tmpl_var truncate(_("webui", "preferences_numeric_format_label"), (size(_("webui", "preferences_numeric_format_label")) - size(":")))></h3>
	<p>
		Especifique cómo se muestran los números decimales. Se puede seleccionar un punto (.) o una coma (,) para usar como separación decimal.
	</p>

	<tmpl_if showEthernetEnable>
		<h3><tmpl_var _("webui", "preferences_ethernet_enable_label" )></h3>
		<p>
			El indicador de Ethernet se muestra en la barra de estado cuando el puerto Ethernet está habilitado; de lo contrario permanece oculto.
		</p>
	</tmpl_if>

</div>
