<option value="0"<tmpl_if IN_SET(temperatureUnit, 0)> selected="selected"</tmpl_if>><tmpl_var _("webui", "preferences_temparature_format_fahrenheit_text")></option> <!-- WEBUI_TEMP_FMT_FAHRENHEIT -->
<option value="1"<tmpl_if IN_SET(temperatureUnit, 1)> selected="selected"</tmpl_if>><tmpl_var _("webui", "preferences_temparature_format_celsius_text")></option> <!-- WEBUI_TEMP_FMT_CELSIUS -->
