<tmpl_if isHidden>
	<div class="notification app error">
		<i class="icon-error"></i>
		<tmpl_var _("webui", "webui_app_hidden_text")>
	</div>
<tmpl_else>
<script type="text/javascript">
	/* <![CDATA[ */
	var validated = false;
	$(function()
	{
		<tmpl_if ShowDmzActive>
			$("#dmzActive").on("change", function() {
				if ($(this).is(":checked")) {
					if("<tmpl_var portForwardingEnabled>" == "1") {
						showWarningMessage();
					} else {
						$("#dmzIpAddress").prop("disabled", false);
					}
				} else {
					$("#dmzIpAddress").prop("disabled", true);
					if (jQuery.uniform) $.uniform.update("#dmzIpAddress");
				}
			});
		<tmpl_else>
			$('form#adv_firewall_form').submit(function(e) {
		       	if("<tmpl_var portForwardingEnabled>" == "1") {
		           	e.preventDefault();    
		            showWarningMessage();
		       	} else{             
		            return true;
		        }
		    });
		</tmpl_if>

		function showWarningMessage() {
            		modalPopup.createWindow('<tmpl_var _("webui", "webui_app_warning_title")>', '<p><tmpl_var _("webui", "adv_firewall_modal_text")></p>', 530, "auto", [{
				text : '<tmpl_var _("webui", "webui_modal_ok_button")>',                                                         
				className : "primary",                                                                                        
				trigger : function(){                                                                                         
						$("#dmzActive").prop("checked", false);
						if (jQuery.uniform) $.uniform.update("#dmzActive");
				}                                                                                                          
			}], null, function(){
				$("#dmzActive").prop("checked", false);
				if (jQuery.uniform) $.uniform.update("#dmzActive");
			});
		}

		if(jQuery.fn.slideButton) {
			$("#vpnPassthroughEnable").slideButton("ajaxToggle", {
				checkUrl : "<tmpl_udf GET_URI('firewall_enable')>",
				uncheckUrl : "<tmpl_udf GET_URI('firewall_disable')>",
				data : {gSecureToken : "<tmpl_var gSecureToken>"}
			});
			
		<tmpl_if showICMPPing>
				$("#wanPingEnabled").slideButton("ajaxToggle", {
					checkUrl : "<tmpl_udf GET_URI('firewall_wan_ping_enable')>",
					uncheckUrl : "<tmpl_udf GET_URI('firewall_wan_ping_disable')>",
					data : {gSecureToken : "<tmpl_var gSecureToken>"}
				});
		</tmpl_if>

			$("#ipv6TransparentEnable").slideButton("ajaxToggle", {
				checkUrl : "<tmpl_udf GET_URI('firewall_ipv6_enable')>",
				uncheckUrl : "<tmpl_udf GET_URI('firewall_ipv6_disable')>",
				data : {gSecureToken : "<tmpl_var gSecureToken>"}
			});
		}
	});
	/* ]]> */
</script>

<tmpl_if isLocked>
	<div class="notification app error">
		<i class="icon-error"></i>
		<tmpl_var _("webui", "webui_app_locked_text")>
	</div>
</tmpl_if>

<tmpl_if errorCount>
	<div class="notification app error">
		<i class="icon-error"></i>
		<p><tmpl_var _("webui", "webui_save_code_failed_text")></p>
	</div>
</tmpl_if>

<tmpl_if gPostSuccess>
	<div class="notification app success">
		<i class="icon-success"></i>
		<span class="boxclose" onclick="this.parentElement.style.display='none';"></span>
		<p><tmpl_var _("webui", "webui_save_code_success_text")></p>
	</div>
</tmpl_if>

<p id="firewallIntroText" class="note">
	<tmpl_var _("webui", "adv_firewall_intro")>
</p>


	<tmpl_unless IN_SET(linkLocalAddress, "unknown")>
		<h2><tmpl_var _("webui", "adv_firewall_vpn_passthrough_enable_label")></h2>
		<div class="toggleSettingContainer align-field">
			<div class="form-group">

			<label>
                <tmpl_if showToolTip>                           
                        <div class="tooltip tooltip-help" title="<tmpl_var _('webui', 'adv_firewall_vpn_passthrough_tooltip_text')>">    
                                <tmpl_var _("webui", "webui_inline_help_icon")>
                        </div>           
                </tmpl_if>
                <tmpl_var _("webui", "adv_firewall_vpn_passthrough_help_text")>
            </label>
			<div class="toggle">
				<input class="toggleSwitchCheckbox" type="checkbox" id="vpnPassthroughEnable" name="vpnPassthroughEnable"<tmpl_if IN_SET(routerSettingsVpnPassthrough, "on")> checked="checked"</tmpl_if> <tmpl_if isLocked>disabled="disabled"</tmpl_if> />
			</div>
		</div>
		</div><!--/.toggleSettingContainer-->
	</tmpl_unless>

	<tmpl_if showICMPPing>
	<tmpl_unless IN_SET(enabledICMPStatus, "unknown")>
			<h2><tmpl_var _("webui", "adv_firewall_wan_ping_enable_label")></h2>
			<div class="toggleSettingContainer align-field">
				<div class="form-group">
					<label>
						<tmpl_if showToolTip>
							<div class="tooltip tooltip-help" title="<tmpl_var _('webui', 'adv_firewall_wan_ping_enable_help_tool_tip_text')>">
								<tmpl_var _("webui", "webui_inline_help_icon")>
							</div>
						</tmpl_if>
						<tmpl_var _("webui", "adv_firewall_wan_ping_enable_help_text")>
					</label>
					<div class="toggle">
						<input class="toggleSwitchCheckbox" type="checkbox" id="wanPingEnabled" name="wanPingEnabled"<tmpl_if IN_SET(enabledICMPStatus, "on")> checked="checked"</tmpl_if> <tmpl_if isLocked>disabled="disabled"</tmpl_if> />
					</div>
				</div>
			</div><!--/.toggleSettingContainer-->
	</tmpl_unless>
	</tmpl_if>

	<tmpl_if showTransparentMode>
	<tmpl_if ipv6Supported>
		<tmpl_unless IN_SET(ipv6TransparentEnable, "unknown")>
			<h2><tmpl_var _("webui", "adv_firewall_ipv6_transparent_label")></h2>
			<div class="toggleSettingContainer  align-field">
			<div class="form-group">

					<label><tmpl_var _("webui", "adv_firewall_ipv6_transparent_help_text")></label>
				<div class="toggle">
					<input class="toggleSwitchCheckbox" type="checkbox" id="ipv6TransparentEnable" name="ipv6TransparentEnable"<tmpl_if IN_SET(ipv6TransparentEnable, "on")> checked="checked"</tmpl_if> <tmpl_if isLocked>disabled="disabled"</tmpl_if> <tmpl_unless ipv6Active> disabled="disabled"</tmpl_unless> />
				</div>
			</div>
			</div><!--/.toggleSettingContainer-->
		</tmpl_unless>
	</tmpl_if>
	</tmpl_if>

<tmpl_if isIpPassthroughActive>
	<h2 class="sectionHead"><tmpl_var _("webui", "adv_firewall_dmz_sub_header_text")></h2>
	<p class="warning">
		<tmpl_var _("webui", "adv_firewall_ip_passthrough_active_warning_text")>
	</p>
<tmpl_else>
	<form id="adv_firewall_form" method="POST" action="<tmpl_udf GET_URI('firewall')>">
		<fieldset class="first" id="advanced_lan_settings_1">
			<h2 class="sectionHead"><tmpl_var _("webui", "adv_firewall_dmz_sub_header_text")></h2>
			<div class="table">
				<tmpl_unless IN_SET(dmzActive, "unknown")>
					<tmpl_if ShowDmzActive>
						<div class="form-group form-group-lg">
								<p><tmpl_var _("webui", "adv_firewall_dmz_paragraph_first_text")><a href="<tmpl_udf GET_URI('port_forward')>"><tmpl_var _("webui", "adv_firewall_dmz_link_to_portforwarding_text")></a><tmpl_var _("webui", "adv_firewall_dmz_paragraph_second_text")></p>
								<p><tmpl_var _("webui", "adv_firewall_dmz_ipv4_only_note_text")></p>
								<label><b><tmpl_var _("webui", "adv_firewall_dmz_enable_label")></b></label>
								<input type="checkbox" name="dmzActive" id="dmzActive"<tmpl_if IN_SET(dmzActive, "on")> checked="checked"</tmpl_if> />
						</div>						
					</tmpl_if>
					<div class="form-group form-group-lg">
							<label>
								<tmpl_if showToolTip>
								<div class="tooltip tooltip-help" id="sample" title="<tmpl_var _('webui', 'adv_firewall_dmz_ip_help_text')>">
									<tmpl_var _("webui", "webui_inline_help_icon")>
								</div>
							</tmpl_if>
							<tmpl_var _("webui", "adv_firewall_dmz_ip_address_label")>
								<tmpl_unless showToolTip>
									<div class="tooltip tooltip-help" id="sample" title="<tmpl_var _('webui', 'adv_firewall_dmz_ip_help_text')>">
										<tmpl_var _("webui", "webui_inline_help_icon")>
									</div>
								</tmpl_unless>
							</label>
							<tmpl_if ShowDmzActive>
								<input type="text" name="dmzIpAddress" id="dmzIpAddress" value="<tmpl_var dmzIpAddress>" <tmpl_unless IN_SET(dmzActive, "on")> disabled="disabled"</tmpl_unless> <tmpl_if dmzIpAddressError> class="error"</tmpl_if> />
							<tmpl_else>
								<input type="text" name="dmzIpAddress" id="dmzIpAddress" value="<tmpl_var dmzIpAddress>" <tmpl_if dmzIpAddressError> class="error"</tmpl_if> />
							</tmpl_if>
							<tmpl_if dmzIpAddressError>
								<div class=" inline_error">
									<tmpl_var dmzIpAddressError>
								</div>
						</tmpl_if>
					</div>
				</tmpl_unless>
			</div><!-- /.table -->
		</fieldset>

		<div class="button_container clearfix">
			<input type="hidden" name="gSecureToken" id="gSecureToken" value="<tmpl_var gSecureToken>" />
			<button type="submit" class="primary" <tmpl_if isLocked>disabled="disabled"</tmpl_if> >
				<tmpl_var _("webui", "webui_save_button")>
			</button>
		</div>
	</form>
</tmpl_if>
</tmpl_if><!-- isHidden -->
