<!-- Change Admin Password  -->
<div id="set_passcode">
	<h1><tmpl_udf GET_PO_TEXT("set_passcode_menu_text", gProductName)></h1>
	<h2>Descripción</h2>
	<p>
		Utiliza la contraseña del administrador para iniciar sesión en la interfaz de usuario web del administrador. Se asigna una contraseña de administrador predeterminada a cada dispositivo individual y está impresa en la parte inferior del dispositivo.
	</p>

	<p>
		Puede cambiar la contraseña de administrador por otra más fácil de recordar y configurar una pregunta de seguridad que lo ayudará a recuperar su contraseña de forma segura si la olvida.
	</p>

	<p>
		<strong>NOTA:</strong> Puede configurar contraseñas de Wi-Fi distintas para redes principales y para invitados en Wi-Fi, pero son diferentes de la contraseña del administrador, que se usa para esta interfaz de usuario web.
	</p>
	
	<h2>Cambio de la contraseña del administrador</h2>
	<p>Para cambiar la contraseña de administrador</p>
	
	<div class="blockgroup">
		<ol>
			<li>
				<b>Desde la interfaz de usuario web del administrador:</b> Haga clic en la flecha hacia abajo junto a <b>Cerrar sesión</b> en la esquina superior derecha de cualquier página de la interfaz de usuario del administrador web y seleccione <b>Cambiar contraseña</b>.
			</li>
			<li>Ingrese la contraseña de administrador actual, luego haga clic en <b>Continuar</b>.</li>
			<li>Ingrese su contraseña del administrador actual nuevamente, luego ingrese una contraseña nueva y confírmela.</li>
			<li>
				Seleccione una pregunta de seguridad de la lista desplegable y escriba una respuesta a la pregunta.<br/> <strong>NOTA:</strong> Las respuestas distinguen entre mayúsculas y minúsculas.
			</li>
			<li>Haga clic en <b>Guardar cambios</b>.</li>
		</ol>
	</div>

	<p>
		La próxima vez que inicie sesión en la interfaz de usuario web del administrador, utilice la nueva contraseña del administrador. Si no recuerda la contraseña, haga clic en <b>Olvidé la contraseña del administrador</b>. Después de responder correctamente la pregunta de seguridad que configuró, se mostrará la contraseña actual.
	</p>
</div>
<!-- id="set_passcode" -->

