<!-- Messages -->
<div id="sms">
	<h1><tmpl_var _("webui", "sms_menu_text")></h1>
	<h2>概要</h2>
	<p>これらのSMSメッセージは通常、サービスプロバイダーから送信されます。 返信不要のため、返信機能は備えられていません。</p>
	<h2>コンテンツ</h2>
	<tmpl_if showMessageCounter>
		<h3>メッセージカウンター</h3>
		<p>画面上部の2つのカウンターは、未読（新着）メッセージの数とメッセージの総数を示します。</p>	
		<p>この画面に表示されるメッセージはすべて「既読」に設定されていることに注意してください。</p>
	</tmpl_if>
	<h3>メッセージ一覧</h3>
	<p>すべてのメッセージは日付順にリストされています。 未読（新着）メッセージはアイコンで示されます。 メッセージがこのページに表示されると、メッセージは自動的に「既読」としてマークされるため、次回ページにアクセスしたときに、未読として表示されなくなります。</p>
	<tmpl_if showDeleteAllButton>
		<h3><tmpl_var _("webui", "sms_delete_all_button")></h3>
		<p>このボタンはメッセージリストの最後にあります。 必要に応じて、すべてのメッセージを削除する際に使用してください。</p>
	</tmpl_if>
</div>
