<!-- Connected Devices -->
<div id="connected_devices">
	<h1><tmpl_var _("webui", "connected_devices_menu_text")></h1>
	<h2>نظرة عامة</h2>
	<p>
		تعرض هذه الصفحة تفاصيل كل جهاز متصل بـ<tmpl_var _("webui", "webui_product_name")>، وتسرد أيضًا قائمة بأي أجهزة محظورة.
	</p>

	<h2><tmpl_var _("webui", "connected_devices_sub_header_text")></h2>
	<p>
		يسرد هذا الجدول قائمة بجميع الأجهزة المتصلة بشبكة Wi-Fi. يتم عرض اسم شبكة Wi-Fi بعد العنوان. إذا كان الكمبيوتر موصلاً بـ<tmpl_var _("webui", "webui_product_name")> باستخدام كبل USB، فسيتم إدراج هذا الكمبيوتر في هذا الجدول.
	</p>
	<p>يتم عرض المعلومات التالية لكل جهاز متصل:</p>

	<h3>نوع الاتصال</h3>
	<p>يشير الرمز إلى نوع الاتصال لكل جهاز متصل.</p>

	<h3>الاسم</h3>
	<p>
		عادةً ما يكون هذا هو اسم المضيف للجهاز المتصل، كما تم تعيينه على الجهاز المتصل نفسه. في حالات نادرة، قد يكون اسم المضيف غير متاح. إذا كنت قد استخدمت الخيار "تعديل" لتغيير اسم جهاز متصل، فسيتم عرض الاسم الذي عيّنته بدلاً من اسم المضيف.
	</p>
	<p>
		يمكنك استخدام الخيار "تعديل" لتغيير اسم أي جهاز متصل.
	</p>

	<h3>عنوان IP</h3>
	<p>عنوان IP للجهاز المتصل.</p>

	<h3>
		<tmpl_var truncate(_("webui", "connected_devices_mac_address_label"), (size(_("webui", "connected_devices_mac_address_label")) - size(":")))>
	</h3>
	<p>
		عنوان MAC هو معرف شبكة فريد لهذا الجهاز المتصل.
	</p>

	<tmpl_if isIPv6Supported>
		<h3>
			<tmpl_var truncate(_("webui", "connected_devices_link_local_label"), (size(_("webui", "connected_devices_link_local_label")) - size(":")))>
		</h3>
		<p>
			إذا كان الجهاز المتصل يدعم IPv6، فسيُعرَض عنوان IPv6 ذو الارتباط المحلي.
		</p>
	</tmpl_if>

	<tmpl_if GuestWifiSupported>
		<h2><tmpl_var _("webui", "connected_devices_guest_title")></h2>
		<p>
			إذا كانت شبكة Wi-Fi الضيف قيد الاستخدام، فسيسرد هذا الجدول قائمة بجميع الأجهزة المتصلة بشبكة Wi-Fi الضيف. يتم عرض اسم شبكة Wi-Fi بعد العنوان.
		</p>
		
		<p>
			يتطابق العرض التقديمي والتشغيل للأجهزة المدرجة في هذه القائمة مع الأجهزة المدرجة ضمن الشبكة الأساسية.
		</p>
	</tmpl_if>
	
	<h2>حظر اتصال الأجهزة وإلغاء حظر اتصالها</h2>
	<h3>زر Block (الحظر)</h3>
	<p>
		يؤدي النقر فوق Block (الحظر) إلى فصل الجهاز المتصل ومنعه من إعادة الاتصال. ثم يظهر الجهاز المحظور اتصاله في قائمة الأجهزة المحظور اتصالها.
	</p>
	<p>
		يتم حظر الأجهزة المحظور اتصالها من كل من شبكة الضيف والشبكة الأساسية.
	</p>
	<p>
		هذا الخيار متاح للاستخدام مع كل جهاز متصل، باستثناء جهازك الخاص، وأي جهاز متصل عبر USB.
	</p>
	
	<h3>قائمة الأجهزة المحظور اتصالها</h3>
	<p>
		تسرد هذه القائمة أي أجهزة قمت بحظر اتصالها. لاحظ أنه نظرًا لأن هذه الأجهزة غير متصلة حاليًا وتم حظر اتصالها، لن يكون لها عنوان IP. بدلاً من ذلك، يتم تحديدها من خلال الاسم وعنوان MAC.
	</p>
	<h3>زر Unblock (إلغاء الحظر)</h3>
	<p>
		يؤدي النقر فوق الزر Unblock (إلغاء الحظر) إلى إلغاء حظر اتصال جهاز تم حظر اتصاله مسبقًا، وتحريره للاتصال مرة أخرى. يتم حذف الجهاز غير المحظور من قائمة الأجهزة المحظور اتصالها، وسيظهر مرة أخرى في قائمة الأجهزة المتصلة عند توصيله.
	</p>
</div>
<!-- id="connected_devices" -->

