<option value="1"<tmpl_if IN_SET(acsServerIPtype, 1)> selected="selected"</tmpl_if>><tmpl_var _("webui", "tr069_ipv4_text")></option> <!-- ippt mode -->
<option value="0"<tmpl_if IN_SET(acsServerIPtype, 0)> selected="selected"</tmpl_if>><tmpl_var _("webui", "tr069_ipv6_text")></option> <!-- nat mode -->

