<!-- Help  -->

<div id="overview">
	<h2>概要</h2>
	<p>
		<tmpl_var _("webui", "webui_product_name")>へようこそ！ 新しいデバイスは <tmpl_var _("webui", "webui_carrier_name")> <tmpl_var _("webui", "webui_product_trade_mark")> - <tmpl_var _("webui", "webui_product_number")>です。<br> お使いの <tmpl_var _("webui", "webui_product_number")> では、アプリ、アップロード、ダウンロードへの超高速インターネットアクセスのための5Gのパワーを体験できます。 自宅でも、職場でも、外出先でも、国外でも使用できます。
	</p>

	<h2>
		<tmpl_var _("webui", "webui_product_name")> <tmpl_var _("webui", "webui_product_number")> 機能
	</h2>

	<ul class="list-style">
		<li>
			デュアルバンドWi-Fi（2.4 GHz / 5 GHz）オプションで最速かつ最強のパフォーマンスを実現。
		</li>

		<li>
			WindowsまたはMacコンピューターへのインターネットアクセスのためのUSB経由の接続。
		</li>

		<li>
			ゲストWi-Fiネットワークは、個人のパスワードを共有したり、プリンターやその他の接続デバイスなどのネットワークの他の部分にアクセスしたりせずに、一時的なインターネットアクセスを提供します。
		</li>

		<li>1回の充電で最大24時間のバッテリー寿命。</li>

		<li>クイックチャージテクノロジーにより、これまでにない高速稼働を実現します。</li>

		<li>
			他のワイヤレスデバイスの充電器としても機能します。
		</li>

		<li>
			直感的なタッチ画面により、データの使用状況を確認したり、デバイスから直接他の機能を制御したりできます。
		</li>

		<li>
			使いやすいWebインターフェイスにより、高度な機能と設定を簡単にカスタマイズできます。
		</li>		
	</ul>		
</div>

<div id="setup">
	<h2>セットアップ</h2>
	<h2>ステップ1 - <tmpl_var _("webui", "help_setup_step1_title")></h2>
	<p>
		<tmpl_udf GET_PO_TEXT("help_setup_step1_text",gProductName,gProductNumber)>
	</p>

	<h2>ステップ2 – インターネットに接続する</h2>
	<p>	
		コンピューター、タブレット、またはその他のデバイスでWi-Fiアプリケーションを使用して、 <tmpl_var _("webui", "webui_product_name")> <tmpl_var _("webui", "webui_product_number")>のWi-Fiネットワークに接続します。 Wi-Fi名とパスワードを取得するには、 <tmpl_var _("webui", "webui_product_name")> <tmpl_var _("webui", "webui_product_number")>のホーム画面から、Wi-Fiアイコンをタップします。
	</p>

	<h2>ステップ 3 – 接続済みのデバイスを確認する</h2>
	<p>	
		コンピューター、タブレット、またはその他のデバイスを <tmpl_var _("webui", "webui_product_name")> <tmpl_var _("webui", "webui_product_number")> に接続すると、<tmpl_var _("webui", "webui_product_name")> <tmpl_var _("webui", "webui_product_number")>に表示される接続済みデバイスの数のホーム画面が更新されます。 接続されている各デバイスの詳細については、接続済みのデバイスのアイコンをタップしてください。
	</p>				
</div>

<div id="tips">
	<h2>ヒント</h2>
	<h2>SIM</h2>
	<p>
		SIMはプレインストールされています。 SIMを交換するには、バッテリーカバーとバッテリーを取り外します。
	</p>

	<h2>接続済みのデバイス</h2>
	<p>
		<tmpl_var _("webui", "webui_product_name_with_suffix")> ホームタッチ画面には、 <tmpl_var _("webui", "webui_product_name_with_suffix")> Wi-Fiネットワークに接続済みのデバイス数を示します。 「接続済みのデバイス」を選択して、接続されているデバイスの詳細情報を表示し、<tmpl_var _("webui", "webui_product_name_with_suffix")> Wi-Fiネットワークにアクセスするデバイスをブロックまたはブロック解除します。
	</p>

	<h2>音声アラート</h2>
	<p>
		<tmpl_var _("webui", "webui_product_name")> 音声アラートの再生タイミングをカスタマイズするには、ホームタッチ画面から「メニュー」、「設定」の順に選択します。 すべての音声アラートをオフにするか、個別に設定できます。
	</p>

	<h2>バッテリー寿命</h2>
	<p>
		バッテリーを長持ちさせるには、ホームタッチ画面からメニューを選択し、次に[設定]を選択します。 画面のタイムアウトと自動シャットダウンの設定を変更できます。
	</p>

	<h2>Wi-Fiネットワーク</h2>
	<p>	
		コンピューター、タブレット、その他のデバイスは、インターネットアクセス用の <tmpl_var _("webui", "webui_product_name_with_suffix")> Wi-Fiネットワークに接続する必要があります。 <tmpl_var _("webui", "webui_product_name_with_suffix")> Wi-Fiネットワークの詳細は、ホームタッチ画面に表示されます。また、「Wi-Fi」、「WPS」の順に選択して <tmpl_var _("webui", "webui_product_name_with_suffix")> Wi-Fiネットワークに参加できます。
	</p>	

	<h2>ゲストWi-Fiネットワーク</h2>
	<p>	
		ゲストネットワーク機能を使用すると、ゲスト用に個別の一時的なWi-Fiネットワークを設定できます。 別のパスワードを使用するか、パスワードを使用しないでください。 ゲストネットワークではインターネットへのアクセスのみが許可されているため、プリンター、スピーカー、外付けドライブ、その他の接続デバイスなど、接続デバイスのパーソナルネットワークは安全に保たれます。 ゲストWi-Fiネットワークをオンにするには、ホームス画面で「Wi-Fi」を選択し、次に「Wi-Fiネットワークの選択」を選択します。
	</p>

	<h2>セキュリティ</h2>
	<p>	
		デバイスの所有者または管理者は、第三者による <tmpl_var _("webui", "webui_product_name_with_suffix")> への物理的なアクセスを許可する必要がある場合、<tmpl_var _("webui", "webui_product_name")> 設定へのアクセスを制限することができます。 詳細については、次のセクションを参照してください。
	</p>
</div>

<div id="security">
	<h2>デバイス管理者向けのセキュリティ機能</h2>
	<p>
		<tmpl_var _("webui", "webui_product_name")> 管理者である場合、<tmpl_var _("webui", "webui_product_name_with_suffix")> ウェブインターフェイス内の設定を使用して、<tmpl_var _("webui", "webui_product_name")> ユーザーがタッチ画面で行うことを制限できます。 次の表に、使用可能なウェブインターフェイス設定と、タッチ画面への影響を示します。
	</p>

	<h2>タッチスクリーンに影響を与えるWebインターフェイス設定</h2>  
	<table class="portForwardingTable" id="">
	 	<thead>
			<tr class="">
				<th class="">設定/操作</th>
				<th class="">ウェブページ</th>
				<th class="">オン</th>
				<th class="">オフ</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>画面上で管理者パスワードを非表示にする</td>
				<td>ホーム>ドロップダウン<br>メニュー>管理者設定</td>
				<td>管理者パスワードは画面に表示されません。</td>
				<td>管理者パスワードを画面に表示できます。</td>
			</tr>

			<tmpl_if ShowWifiDisplaySetting>
				<tr>
					<td>デバイス画面からWi-Fi設定の変更を許可します。</td>
					<td><tmpl_var _("webui", "help_wifi_text")> > 全般</td>
					<td>通常の操作。</td>
					<td>
						タッチ画面では、「Wi-Fi」オプションは引き続き使用できますが、メッセージが表示されるだけです。 変更できるWi-Fi設定はありません。
					</td>
				</tr>
			</tmpl_if>

			<tr>
				<td>デバイス画面でプライマリネットワーク名（SSID）を非表示にする</td>
				<td><tmpl_var _("webui", "help_wifi_text")> > プライマリ</td>
				<td>プライマリネットワーク名は画面のどこにも表示されません。</td>
				<td>プライマリネットワーク名を画面に表示できます。</td>
			</tr>

			<tr>
				<td>デバイス画面でプライマリネットワークパスワードを非表示にする</td>
				<td><tmpl_var _("webui", "help_wifi_text")> > プライマリ</td>
				<td>
					プライマリネットワークのパスワードは画面のどこにも表示されません。
				</td>
				<td>プライマリネットワークのパスワードは画面に表示されます。</td>
			</tr>

			<tr>
				<td>デバイス画面でゲストネットワーク名（SSID）を非表示にする</td>
				<td><tmpl_var _("webui", "help_wifi_text")> > ゲスト</td>
				<td>プライマリネットワーク名は画面のどこにも表示されません。</td>
				<td>ゲストネットワーク名は画面に表示されます。</td>
			</tr>

			<tr>
				<td>デバイス画面でゲストネットワークのパスワードを非表示にする</td>
				<td><tmpl_var _("webui", "help_wifi_text")> > ゲスト</td>
				<td>
					ゲストネットワークのパスワードは画面のどこにも表示されません。
				</td>
				<td>ゲストネットワークのパスワードは画面に表示されます。</td>
			</tr>

			<tr>
				<td>WPS – プライマリネットワーク</td>
				<td><tmpl_var _("webui", "help_wifi_text")> > プライマリ</td>
				<td>	
					プライマリーWi-FiネットワークのWPSは、タッチスクリーンのWi-Fiメニューで利用できます。
				</td>
				<td>プライマリーWi-Fiネットワークでは、WPSを使用できません。</td>
			</tr>

			<tr>
				<td>WPS – ゲストネットワーク</td>
				<td><tmpl_var _("webui", "help_wifi_text")> > ゲスト</td>
				<td>
					ゲストWi-FiネットワークのWPSは、タッチスクリーンのWi-Fiメニューで利用できます。
				</td>
				<td>ゲストWi-FiネットワークではWPSを使用できません。</td>
			</tr>

			<tmpl_if ShowPromptOnUSB>
				<tr>
					<td>USB接続のプロンプト</td>
					<td>デバイスの設定 > 基本設定</td>
					<td>	
						コンピューターまたはUSBデバイスが接続されているときに、タッチスクリーンにUSBプロンプトを表示します。
					</td>
					<td>USBプロンプトは表示されません。</td>
				</tr>
			</tmpl_if>

			<tr>
				<td>デバイスの底面にあるリセットボタンを有効にする</td>
				<td>デバイスの設定 > 基本設定</td>
				<td>デバイスの底面にあるリセットボタンは正常に動作しています。 </td>
				<td>デバイスの底面にあるリセットボタンが動作しません。 </td>
			</tr>

			<tr>
				<td>デバイス画面からの設定変更を許可する</td>
				<td>デバイスの設定 > 基本設定</td>
				<td>通常の操作</td>
				<td>
					タッチスクリーンでは、設定オプションは引き続き使用できますが、メッセージのみが表示されます。設定は変更できません。
				</td>
			</tr>
		</tbody>
	</table>
</div>
