<!-- Help  -->

<div id="overview">
	<h2>Översikt</h2>
	<p>
		Välkommen till <tmpl_var _("webui", "webui_product_name")>! Din nya enhet är den <tmpl_var _("webui", "webui_carrier_name")> <tmpl_var _("webui", "webui_product_trade_mark")> – <tmpl_var _("webui", "webui_product_number")>.<br> Med din <tmpl_var _("webui", "webui_product_number")> upplever du kraften i 5G för supersnabb internetåtkomst till appar, uppladdningar och nedladdningar. Använd den hemma, på jobbet eller när du är på språng, till och med när du är utomlands.
	</p>

	<h2>
		<tmpl_var _("webui", "webui_product_name")> <tmpl_var _("webui", "webui_product_number")> Funktioner
	</h2>

	<ul class="list-style">
		<li>
			Snabbast och starkast möjliga prestanda med Wi-Fi med dubbla band (2,4 GHz/5 GHz).
		</li>

		<li>
			Anslutning via USB för internetåtkomst till din Windows- eller Mac-dator.
		</li>

		<li>
			Wi-Fi-nätverk för gäster ger tillfällig internetåtkomst, utan att dela ditt personliga lösenord eller åtkomst till resten av ditt nätverk, till exempel skrivare och andra anslutna enheter.
		</li>

		<li>
			Upp till 24 timmars batteritid på en enda laddning.
		</li>

		<li>
			Snabbladdningsteknik så att du kommer i gång snabbare än någonsin.
		</li>

		<li>
			Fungerar även som laddare för andra trådlösa enheter.
		</li>

		<li>
			Intuitiv pekskärm gör det möjligt för dig att kontrollera dataanvändning och kontrollera andra funktioner direkt från enheten.
		</li>

		<li>
			Vänligt webbgränssnittet gör det enkelt att skräddarsy avancerade funktioner och inställningar.
		</li>	
	</ul>		
</div>

<div id="setup">
	<h2>Konfiguration</h2>
	<h2>Steg 1 – <tmpl_var _("webui", "help_setup_step1_title")></h2>
	<p>
		<tmpl_udf GET_PO_TEXT("help_setup_step1_text",gProductName,gProductNumber)>
	</p>

	<h2>Steg 2 – Anslut till internet</h2>
	<p>
		Med hjälp av Wi-Fi-applikationen på din dator, surfplatta eller annan enhet, anslut till din <tmpl_var _("webui", "webui_product_name")><tmpl_var _("webui", "webui_product_number")>s Wi-Fi-nätverk. För att få Wi-Fi-namnet och lösenordet från <tmpl_var _("webui", "webui_product_name")><tmpl_var _("webui", "webui_product_number")>s hemskärm trycker du på Wi-Fi-ikonen.
	</p>

	<h2>Steg 3 – Kontrollera om det finns anslutna enheter</h2>
	<p>
		När du ansluter en dator, surfplatta eller annan enhet till din <tmpl_var _("webui", "webui_product_name")><tmpl_var _("webui", "webui_product_number")> kommer antalet anslutna enheter som visas på din <tmpl_var _("webui", "webui_product_name")><tmpl_var _("webui", "webui_product_number")>s hemskärm att uppdateras. Tryck på ikonen Anslutna enheter för mer information om varje ansluten enhet.
	</p>				
</div>

<div id="tips">
	<h2>Tips</h2>
	<h2>SIM</h2>
	<p>
		SIM är förinstallerat. Du kan byta SIM genom att ta bort batteriluckan och batteriet.
	</p>

	<h2>Anslutna enheter</h2>
	<p>
		På hemskärmen på <tmpl_var _("webui", "webui_product_name_with_suffix")>s pekskärmsdisplay visas antalet enheter som är anslutna till <tmpl_var _("webui", "webui_product_name_with_suffix")>s Wi-Fi-nätverk. Välj ”Anslutna enheter” för att se detaljerad information om någon ansluten enhet och för att blockera eller avblockera en enhet från att få åtkomst till <tmpl_var _("webui", "webui_product_name_with_suffix")>s Wi-Fi-nätverk.
	</p>

	<h2>Ljudaviseringar</h2>
	<p>
		För att anpassa när din <tmpl_var _("webui", "webui_product_name")> spelar upp en ljudavisering väljer du ”Meny” på pekskärmsdisplayens hemskärm och sedan ”Inställningar”. Du kan stänga av alla ljudaviseringar eller ställa in dem enskilt.
	</p>

	<h2>Batteriets livslängd</h2>
	<p>
		För att bevara batteriets livslängd väljer du ”Meny” på pekskärmsdisplayens Hemskärm och sedan ”Inställningar”. Du kan ändra skärmens timeout och inställningarna för automatisk avstängning.
	</p>

	<h2>Wi-Fi-nätverk</h2>
	<p>
		Din dator, surfplatta och andra enheter måste ansluta till <tmpl_var _("webui", "webui_product_name_with_suffix")>s Wi-Fi-nätverk för internetåtkomst. Detaljer om <tmpl_var _("webui", "webui_product_name_with_suffix")>s Wi-Fi-nätverk visas på pekskärmsdisplayens hemskärm. Du kan också ansluta dig till <tmpl_var _("webui", "webui_product_name_with_suffix")>s Wi-Fi-nätverk genom att välja ”Wi-Fi” och sedan ”WPS”.
	</p>	

	<h2>Wi-Fi-nätverk för gäster</h2>
	<p>
		Med funktionen gästnätverk kan du ställa in ett separat och tillfälligt Wi-Fi-nätverk för gäster. Använd ett annat lösenord eller inget lösenord alls. Gästnätverket tillåter endast åtkomst till internet, så ditt personliga nätverk av anslutna enheter – inklusive skrivare, högtalare, externa hårddiskar eller andra anslutna enheter – förblir säkert. För att aktivera Wi-Fi-nätverket för gäster, välj ”Wi-Fi” på hemskärmen och sedan ”Val av Wi-Fi-nätverk”.
	</p>

	<h2>Säkerhet</h2>
	<p>
		Som enhetens ägare eller administratör kan du begränsa åtkomsten till <tmpl_var _("webui", "webui_product_name_with_suffix")>-inställningarna om du måste tillåta fysisk åtkomst till din <tmpl_var _("webui", "webui_product_name")> för andra människor. Se följande avsnitt för mer information.
	</p>
</div>

<div id="security">
	<h2>Säkerhetsfunktioner för enhetsadministratörer</h2>
	<p>
		Om du är <tmpl_var _("webui", "webui_product_name")>s administratör kan du använda inställningar i <tmpl_var _("webui", "webui_product_name_with_suffix")>s webbgränssnitt för att begränsa vad <tmpl_var _("webui", "webui_product_name")>-användaren kan göra på pekskärmen. Följande tabell listar de tillgängliga inställningarna för webbgränssnitt och deras effekt på pekskärmen.
	</p>
	<h2>Webbgränssnittsinställningar som påverkar pekskärmen</h2>  
	<table class="portForwardingTable" id="">
	 	<thead>
			<tr class="">
				<th class="">Inställning/Drift</th>
				<th class="">Webbsida</th>
				<th class="">På</th>
				<th class="">Av</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Dölj administratörslösenord på skärmen</td>
				<td>Hem> Rullgardins <br>meny> Admininställningar</td>
				<td>Administratörslösenord visas inte någonstans på skärmen.</td>
				<td>Administratörslösenord kan visas på skärmen.</td>
			</tr>

			<tmpl_if ShowWifiDisplaySetting>
				<tr>
					<td>
						Tillåt ändringar av Wi-Fi-inställningarna från enhetsskärmen.
					</td>
					<td><tmpl_var _("webui", "help_wifi_text")> > Allmänt</td>
					<td>Normal drift.</td>
					<td>
						På pekskärmen är alternativet ”Wi-Fi” fortfarande tillgängligt, men visar endast ett meddelande. Inga Wi-Fi-inställningar kan ändras.
					</td>
				</tr>
			</tmpl_if>

			<tr>
				<td>Dölj det primära nätverkets namn (SSID) på enhetensskärmen:</td>
				<td><tmpl_var _("webui", "help_wifi_text")> > Primärt</td>
				<td>Primärt nätverksnamn visas inte någonstans på skärmen.</td>
				<td>Primärt nätverksnamn kan visas på skärmen.</td>
			</tr>

			<tr>
				<td>Dölj primärt nätverkslösenord på enhetensskärm</td>
				<td><tmpl_var _("webui", "help_wifi_text")> > Primärt</td>
				<td>Primärt nätverkslösenord visas inte någonstans på skärmen.</td>
				<td>Primärt nätverkslösenord kan visas på skärmen.</td>
			</tr>

			<tr>
				<td>Dölj det gäst nätverkets namn (SSID) på enhetensskärmen:</td>
				<td><tmpl_var _("webui", "help_wifi_text")> > Gäst</td>
				<td>Gäst nätverksnamn visas inte någonstans på skärmen.</td>
				<td>Gäst nätverksnamn kan visas på skärmen.</td>
			</tr>

			<tr>
				<td>Dölj gäst nätverkslösenord på enhetensskärm</td>
				<td><tmpl_var _("webui", "help_wifi_text")> > Gäst</td>
				<td>Gäst nätverkslösenord visas inte någonstans på skärmen.</td>
				<td>Gäst nätverkslösenord kan visas på skärmen.</td>
			</tr>

			<tr>
				<td>WPS – Primärt nätverk</td>
				<td><tmpl_var _("webui", "help_wifi_text")> > Primärt</td>
				<td>
					WPS för det primära Wi-Fi-nätverket finns tillgängligt på Wi-Fi-menyn på pekskärmen.
				</td>
				<td>WPS kan inte användas i det primära Wi-Fi-nätverket.</td>
			</tr>

			<tr>
				<td>WPS – Gästnätverk</td>
				<td><tmpl_var _("webui", "help_wifi_text")> > Gäst</td>
				<td>
					WPS för det gäst Wi-Fi-nätverket finns tillgängligt på pekskärmen Wi-Fi-meny.
				</td>
				<td>WPS kan inte användas i det gäst Wi-Fi-nätverket.</td>
			</tr>

			<tmpl_if ShowPromptOnUSB>
				<tr>
					<td>Uppmaning om USB-anslutning</td>
					<td>Enhetsinställningar > Personliga inställningar</td>
					<td>
						Visa USB-meddelandet på pekskärmen när en dator eller USB-enhet är ansluten.
					</td>
					<td>USB-uppmaningen visas inte.</td>
				</tr>
			</tmpl_if>

			<tr>
				<td>Tillåt återställningsknappen på enhetens undersida</td>
				<td>Enhetsinställningar > Personliga inställningar</td>
				<td>Återställningsknappen på enhetens undersida fungerar normalt.</td>
				<td>Återställningsknappen på enhetens undersida har ingen effekt.</td>
			</tr>

			<tr>
				<td>Tillåt ändringar av Inställningarna från enhetsskärmen.</td>
				<td>Enhetsinställningar > Personliga inställningar</td>
				<td>Normal drift</td>
				<td>
					På pekskärmen är alternativet ”Inställningarna” fortfarande tillgängligt, men visar endast ett meddelande. Inga inställningar kan ändras.
				</td>
			</tr>
		</tbody>
	</table>
</div>
