<!-- Help  -->

<div id="overview">
	<h2>نظرة عامة</h2>
	<p>
		مرحبا بك في <tmpl_var _("webui", "webui_product_name")>! جهازك الجديد هو <tmpl_var _("webui", "webui_carrier_name")><tmpl_var _("webui", "webui_product_trade_mark")> - <tmpl_var _("webui", "webui_product_number")> اللاسلكي.<br> بفضل <tmpl_var _("webui", "webui_product_number")> الخاص بك ستستمتع بقوة 5G لإتاحة الوصول السريع إلى الإنترنت للتطبيقات والتحميلات والتنزيلات. استخدمه في المنزل أو في العمل أو أثناء التنقل، حتى عندما تكون خارج البلد.
	</p>

	<h2>
		<tmpl_var _("webui", "webui_product_name")> <tmpl_var _("webui", "webui_product_number")> المميزات
	</h2>

	<ul class="list-style">
		<li>
			أسرع وأقوى أداء ممكن مع خيار Wi-Fi مزدوج النطاق (2.4 غيغاهرتز/5 غيغاهرتز).
		</li>

		<li>
			اتصال عبر USB للوصول إلى الإنترنت إلى جهاز كمبيوتر يعمل بنظام Windows أو Mac.
		</li>

		<li>
			توفر شبكة الضيف Wi-Fi وصولاً مؤقتًا إلى الإنترنت، دون مشاركة كلمة المرور الشخصية أو الوصول إلى بقية الشبكة، مثل الطابعات والأجهزة المتصلة الأخرى.
		</li>

		<li>
			بقاء شحن البطارية لمدة تصل إلى 24 ساعة بعد شحنة واحدة.
		</li>

		<li>
			توفير تقنية الشحن السريع التي تساعدك على العمل بشكل أسرع من أي وقت مضى.
		</li>

		<li>
			يمكن استخدامه أيضًا كشاحن للأجهزة اللاسلكية.
		</li>

		<li>
			تتيح لك الشاشة سهلة الاستخدام التي تعمل باللمس التحقق من استخدام البيانات والتحكم في الميزات الأخرى مباشرة من الجهاز.
		</li>

		<li>
			تتيح واجهة الويب البسيطة تخصيص الميزات والإعدادات المتقدمة بسهولة.
		</li>	
	</ul>		
</div>

<div id="setup">
	<h2>إعداد</h2>
	<h2>الخطوة 1 - <tmpl_var _("webui", "help_setup_step1_title")></h2>
	<p>
		<tmpl_udf GET_PO_TEXT("help_setup_step1_text",gProductName,gProductNumber)>
	</p>

	<h2>الخطوة 2 - الاتصال بالإنترنت</h2>
	<p>
		باستخدام تطبيق Wi-Fi على الكمبيوتر أو الجهاز اللوحي أو أي جهاز آخر، قم بتوصيل جهازك بشبكة Wi-Fi <tmpl_var _("webui", "webui_product_name")><tmpl_var _("webui", "webui_product_number")>. للحصول على اسم وكلمة مرور Wi-Fi، من الشاشة الرئيسية لـ<tmpl_var _("webui", "webui_product_name")><tmpl_var _("webui", "webui_product_number")>، انقر فوق رمز Wi-Fi.
	</p>

	<h2>الخطوة 3 - التحقق من الأجهزة المتصلة</h2>
	<p>
		عند توصيل جهاز كمبيوتر أو جهاز لوحي أو جهاز آخر بجهازك <tmpl_var _("webui", "webui_product_name")><tmpl_var _("webui", "webui_product_number")>، سيتم تحديث عدد الأجهزة المتصلة، المعروضة على جهازك الشاشة الرئيسية لجهاز <tmpl_var _("webui", "webui_product_name")><tmpl_var _("webui", "webui_product_number")>. اضغط على رمز الأجهزة المتصلة للحصول على مزيد من المعلومات حول كل جهاز متصل.
	</p>				
</div>

<div id="tips">	
	<h2>نصائح</h2>
	<h2>SIM</h2>
	<p>
		تم تثبيت بطاقة SIM مسبقًا. لتغيير بطاقة SIM، قم بإزالة غطاء البطارية والبطارية.
	</p>

	<h2>الأجهزة المتصلة</h2>
	<p>
		تشير الشاشة الرئيسية التي تعمل باللمس لجهاز <tmpl_var _("webui", "webui_product_name_with_suffix")> إلى عدد الأجهزة المتصلة بشبكة Wi-Fi للجهاز <tmpl_var _("webui", "webui_product_name_with_suffix")>. حدد "الأجهزة المتصلة" لعرض معلومات تفصيلية عن أي جهاز متصل وحظر أو إلغاء حظر جهاز من الوصول إلى شبكة Wi-Fi للجهاز <tmpl_var _("webui", "webui_product_name_with_suffix")>.
	</p>

	<h2>تنبيهات صوتية</h2>
	<p>
		لتخصيص الحالة التي يصدر فيها <tmpl_var _("webui", "webui_product_name")> تنبيهًا صوتيًا، حدد Menu (القائمة) من الشاشة الرئيسية التي تعمل باللمس، ثم حدد Settings (الإعدادات). يمكنك إيقاف تشغيل جميع التنبيهات الصوتية، أو ضبطها بشكل فردي.
	</p>

	<h2>مستوى شحن البطارية</h2>
	<p>
		للحفاظ على مستوى شحن البطارية، حدد "القائمة" من الشاشة الرئيسية التي تعمل باللمس، ثم حدد (الإعدادات). يمكنك تغيير مهلة الشاشة وإعدادات إيقاف التشغيل التلقائي.
	</p>

	<h2>شبكة Wi-Fi</h2>
	<p>
		يحتاج الكمبيوتر والجهاز اللوحي والأجهزة الأخرى إلى الاتصال بشبكة Wi-Fi <tmpl_var _("webui", "webui_product_name_with_suffix")> للوصول إلى الإنترنت. تُعرَض تفاصيل شبكة Wi-Fi <tmpl_var _("webui", "webui_product_name_with_suffix")> على شاشة الرئيسية التي تعمل باللمس. يمكنك أيضا الانضمام إلى شبكة Wi-Fi <tmpl_var _("webui", "webui_product_name_with_suffix")> باختيار "Wi-Fi"، ثم "WPS".
	</p>	

	<h2>شبكة Wi-Fi الضيف</h2>
	<p>
		مع ميزة شبكة الضيف، يمكنك إعداد شبكة Wi-Fi منفصلة ومؤقتة للضيوف. استخدم كلمة مرور مختلفة أو لا تستخدم كلمة مرور على الإطلاق. تسمح شبكة الضيف بالوصول إلى الإنترنت فقط، لذا تظل شبكتك الشخصية من الأجهزة المتصلة - التي تشمل الطابعات أو مكبرات الصوت أو محركات الأقراص الخارجية أو الأجهزة المتصلة الأخرى - آمنة. لتشغيل شبكة ضيف Wi-Fi، حدد "Wi-Fi" على الشاشة الرئيسية، ثم "اختيار شبكة Wi-Fi".
	</p>

	<h2>الأمان</h2>
	<p>
		بصفتك مالك الجهاز أو المسؤول، يمكنك تقييد الوصول إلى إعدادات <tmpl_var _("webui", "webui_product_name_with_suffix")>، إذا كان من الضروري السماح بالوصول المادي إلى جهاز <tmpl_var _("webui", "webui_product_name")> من قبل أشخاص آخرين. انظر القسم التالي للحصول على التفاصيل.
	</p>
</div>

<div id="security">
	<h2>ميزات الأمان لمشرفي الجهاز</h2>
	<p>
		إذا كنت مسؤول <tmpl_var _("webui", "webui_product_name")>، يمكنك استخدام الإعدادات داخل واجهة ويب <tmpl_var _("webui", "webui_product_name_with_suffix")> لتقييد التغييرات التي يمكن لمستخدم <tmpl_var _("webui", "webui_product_name")> إجراؤها على الشاشة التي تعمل باللمس. يسرد الجدول التالي إعدادات واجهة الويب المتاحة وتأثيرها على الشاشة التي تعمل باللمس.
	</p>

	<h2>تؤثر إعدادات واجهة الويب على شاشة اللمس</h2>  
	<table class="portForwardingTable" id="">
	 	<thead>
			<tr class="">
				<th class="">الإعداد/التشغيل</th>
				<th class="">صفحة ويب</th>
				<th class="">تشغيل</th>
				<th class="">إيقاف تشغيل</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>إخفاء كلمة مرور المسؤول على الشاشة</td>
				<td>الصفحة الرئيسية> قائمة <br> المنسدلة> إعدادات المسؤول</td>
				<td>لم يتم عرض كلمة مرور المسؤول على الشاشة.</td>
				<td>يمكن الاطلاع على كلمة مرور المسؤول على الشاشة.</td>
			</tr>

			<tmpl_if ShowWifiDisplaySetting>
				<tr>
					<td>
						السماح بإجراء تغييرات إعدادات Wi-Fi من شاشة الجهاز.
					</td>
					<td><tmpl_var _("webui", "help_wifi_text")> > عام</td>
					<td>عملية عادية.</td>
					<td>
						على الشاشة التي تعمل باللمس، لا يزال خيار "Wi-Fi" متاحًا، ولكنه يعرض رسالة فقط. لا يمكن تغيير إعدادات -Fi.
					</td>
				</tr>
			</tmpl_if>

			<tr>
				<td>إخفاء اسم الشبكة الأساسي (SSID) على شاشة جهاز:</td>
				<td><tmpl_var _("webui", "help_wifi_text")> > أساسية</td>
				<td>لا يظهر اسم الشبكة الأساسي في أي مكان على الشاشة.</td>
				<td>يمكن عرض اسم الشبكة الأساسي على الشاشة.</td>
			</tr>

			<tr>
				<td>إخفاء كلمة مرور الشبكة الأساسية على شاشة الجهاز</td>
				<td><tmpl_var _("webui", "help_wifi_text")> > أساسية</td>
				<td>
					لا تظهر كلمة مرور الشبكة الأساسية في أي مكان على الشاشة.
				</td>
				<td>يمكن عرض كلمة مرور الشبكة الأساسية على الشاشة.</td>
			</tr>

			<tr>
				<td>إخفاء اسم شبكة الضيف (SSID) على شاشة جهاز:</td>
				<td><tmpl_var _("webui", "help_wifi_text")> > الضيف</td>
				<td>لا يظهر اسم شبكة الضيف في أي مكان على الشاشة.</td>
				<td>يمكن عرض اسم شبكة الضيف على الشاشة.</td>
			</tr>

			<tr>
				<td>إخفاء كلمة مرور شبكة الضيف على شاشة الجهاز</td>
				<td><tmpl_var _("webui", "help_wifi_text")> > الضيف</td>
				<td>لا تظهر كلمة مرور شبكة الضيف في أي مكان على الشاشة.</td>
				<td>يمكن عرض كلمة مرور شبكة الضيف على الشاشة.</td>
			</tr>

			<tr>
				<td>WPS - الشبكة الأساسية</td>
				<td><tmpl_var _("webui", "help_wifi_text")> > أساسية</td>
				<td>
					يتوفر WPS لشبكة Wi-Fi الأساسية في قائمة شبكات Wi-Fi بشاشة اللمس.
				</td>
				<td>لا يمكن استخدام WPS على شبكة Wi-Fi الأساسية.</td>
			</tr>

			<tr>
				<td>WPS - شبكة الضيف</td>
				<td><tmpl_var _("webui", "help_wifi_text")> > الضيف</td>
				<td>
					يتوفر WPS لشبكة الضيف Wi-Fi في قائمة Wi-Fi بشاشة اللمس.
				</td>
				<td>لا يمكن استخدام WPS على شبكة الضيف Wi-Fi.</td>
			</tr>

			<tmpl_if ShowPromptOnUSB>
				<tr>
					<td>تنبيه بشأن توصيل USB</td>
					<td>إعدادات الجهاز> التفضيلات</td>
					<td>
						اعرض مطالبة USB على شاشة اللمس عند توصيل جهاز كمبيوتر أو جهاز USB.
					</td>
					<td>لم يتم عرض تنبيه USB.</td>
				</tr>
			</tmpl_if>

			<tr>
				<td>السماح بزر إعادة التعيين الموجود في قاعدة الجهاز</td>
				<td>إعدادات الجهاز> التفضيلات</td>
				<td>
					يعمل زر إعادة التعيين الموجود في قاعدة الجهاز بشكلٍ طبيعي. 
				</td>
				<td>
					لا يوجد أي تأثير لزر إعادة التعيين الموجود في قاعدة الجهاز. 
				</td>
			</tr>

			<tr>
				<td>السماح بتغييرات الإعدادات من شاشة الجهاز</td>
				<td>إعدادات الجهاز> التفضيلات</td>
				<td>عملية عادية</td>
				<td>
					على الشاشة التي تعمل باللمس ، لا يزال خيار <b> الإعدادات </ b> متاحًا ، ولكنه يعرض رسالة فقط. لا يمكن تغيير أي إعدادات.
				</td>
			</tr>
		</tbody>
	</table>
</div>
