<!-- Help  -->

<div id="overview">
	<h2>Vue d’ensemble</h2>
	<p>
		Bienvenue sur le <tmpl_var _("webui", "webui_product_name")> ! Votre nouvel appareil est le <tmpl_var _("webui", "webui_carrier_name")><tmpl_var _("webui", "webui_product_trade_mark")> - <tmpl_var _("webui", "webui_product_number")>.<br> Avec votre <tmpl_var _("webui", "webui_product_number")>, vous découvrirez la puissance de la 5G pour un accès Internet ultrarapide aux applications, aux téléchargements et aux envois. Utilisez-le à la maison, au travail ou lors de vos déplacements, y compris à l’étranger.
	</p>

	<h2>
		<tmpl_var _("webui", "webui_product_name")> <tmpl_var _("webui", "webui_product_number")> Fonctionnalités
	</h2>

	<ul class="list-style">
		<li>
			Le rendement le plus rapide et le plus puissant possible avec l’option Wi-Fi bande double (2,4 GHz/5 GHz).
		</li>

		<li>
			Connexion par USB pour accéder à Internet sur votre ordinateur Windows ou Mac.
		</li>

		<li>
			Le réseau Wi-Fi invité fournit un accès temporaire à Internet, sans partage de votre mot de passe personnel ni accès au reste de votre réseau, comme les imprimantes et autres appareils connectés.
		</li>

		<li>
			Jusqu’à 24 heures d’autonomie sur une seule charge.
		</li>

		<li>
			Une technologie de charge rapide vous permettant de démarrer plus vite que jamais.
		</li>

		<li>
			Il peut également servir de chargeur pour d’autres appareils.
		</li>

		<li>
			L’écran tactile intuitif vous permet de vérifier la consommation de données et de contrôler d’autres fonctions directement depuis l’appareil.
		</li>

		<li>
			L’interface Web conviviale permet de personnaliser facilement les fonctionnalités et les paramètres avancés.
		</li>	
	</ul>		
</div>

<div id="setup">
	<h2>Configuration</h2>
	<h2>Étape 1 - <tmpl_var _("webui", "help_setup_step1_title")></h2>
	<p><tmpl_udf GET_PO_TEXT("help_setup_step1_text",gProductName,gProductNumber)></p>

	<h2>Étape 2 - Se connecter à Internet</h2>
	<p>
		À l’aide de l’application Wi-Fi de votre ordinateur, tablette ou autre appareil, connectez-vous au réseau Wi-Fi de votre <tmpl_var _("webui", "webui_product_name")> <tmpl_var _("webui", "webui_product_number")>. Pour obtenir le nom et le mot de passe du Wi-Fi, à l’écran d’accueil du <tmpl_var _("webui", "webui_product_name")> <tmpl_var _("webui", "webui_product_number")>, appuyez sur l’icône Wi-Fi.
	</p>

	<h2>Étape 3 - Vérifier les appareils connectés</h2>
	<p>
		Lorsque vous connectez un ordinateur, une tablette ou un autre appareil à votre <tmpl_var _("webui", "webui_product_name")> <tmpl_var _("webui", "webui_product_number")>, le nombre d’appareils connectés, indiqué à l’écran d’accueil de votre <tmpl_var _("webui", "webui_product_name")> <tmpl_var _("webui", "webui_product_number")>, est mis à jour. Appuyez sur l’icône Appareils connectés pour obtenir plus d’informations sur chaque appareil connecté.
	</p>				
</div>

<div id="tips">
	<h2>Conseils</h2>
	<h2>Carte SIM</h2>
	<p>
		La carte SIM est préinstallée. Pour changer la carte SIM, retirez le cache de la batterie et la batterie.
	</p>

	<h2>Appareils connectés</h2>
	<p>
		L’écran d’accueil tactile du <tmpl_var _("webui", "webui_product_name_with_suffix")> indique le nombre d’appareils connectés au réseau Wi-Fi <tmpl_var _("webui", "webui_product_name_with_suffix")>. Sélectionnez « Appareils connectés » pour afficher des informations détaillées sur tout appareil connecté et pour bloquer ou débloquer l’accès d’un appareil au réseau Wi-Fi <tmpl_var _("webui", "webui_product_name_with_suffix")>.
	</p>

	<h2>Alertes sonores</h2>
	<p>
		Pour personnaliser les moments où votre <tmpl_var _("webui", "webui_product_name")> émet une alerte sonore, sélectionnez « Menu » à l’écran d’accueil tactile, puis « Paramètres ». Vous pouvez désactiver toutes les alertes sonores ou les régler individuellement.
	</p>

	<h2>Autonomie de la batterie</h2>
	<p>
		Pour économiser la batterie, sélectionnez « Menu » à l’écran d’accueil tactile, puis « Paramètres ». Vous pouvez modifier les paramètres de délai d’expiration de l’écran et d’arrêt automatique.
	</p>

	<h2>Réseau Wi-Fi</h2>
	<p>
		Votre ordinateur, tablette et autre appareil doivent être connectés au réseau Wi-Fi <tmpl_var _("webui", "webui_product_name_with_suffix")> pour accéder à Internet. Les détails du réseau Wi-Fi <tmpl_var _("webui", "webui_product_name_with_suffix")> s’affichent à l’écran d’accueil tactile. Vous pouvez également rejoindre le réseau Wi-Fi <tmpl_var _("webui", "webui_product_name_with_suffix")> en sélectionnant « Wi-Fi », puis « WPS ».
	</p>

	<h2>Réseau Wi-Fi invité</h2>
	<p>
		Grâce à la fonctionnalité Réseau invité, vous pouvez mettre en place un réseau Wi-Fi séparé et temporaire pour les invités. Utilisez un mot de passe différent ou aucun mot de passe. Le réseau invité permet d’accéder à Internet uniquement, de sorte que votre réseau personnel d’appareils connectés, y compris les imprimantes, les haut-parleurs, les disques externes ou autres appareils connectés, reste sécurisé. Pour activer le réseau Wi-Fi invité, sélectionnez « Wi-Fi » à l’écran d’accueil, puis « Sélection du réseau Wi-Fi ».
	</p>

	<h2>Sécurité</h2>
	<p>
		En tant que propriétaire ou administrateur de l’appareil, vous pouvez limiter l’accès aux paramètres de <tmpl_var _("webui", "webui_product_name_with_suffix")> si vous devez autoriser l’accès physique à votre appareil <tmpl_var _("webui", "webui_product_name")> par d’autres personnes. Consultez la section suivante pour plus de détails.
	</p>
</div>

<div id="security">
	<h2>Fonctions de sécurité pour les administrateurs de périphériques</h2>
	<p>	
		Si vous êtes l’administrateur de <tmpl_var _("webui", "webui_product_name")>, vous pouvez utiliser les paramètres de l’interface Web <tmpl_var _("webui", "webui_product_name_with_suffix")> pour limiter ce que l’utilisateur <tmpl_var _("webui", "webui_product_name")> peut faire à l’écran tactile. Le tableau suivant énumère les paramètres de l’interface Web disponibles et leur effet sur l’écran tactile.
	</p>

	<h2>Paramètres de l’interface Web affectant l’écran tactile</h2>  
	<table class="portForwardingTable" id="">
	 	<thead>
			<tr class="">
				<th class="">Installation/Exploitation</th>
				<th class="">Page Web</th>
				<th class="">Activé</th>
				<th class="">Désactivé</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Masquer le mot de passe administrateur à l’écran</td>
				<td>Accueil> Menu déroulant <br>> Paramètres d’administration</td>
				<td>
					Le mot de passe administrateur n’est pas affiché à l’écran.
				</td>
				<td>Le mot de passe administrateur peut être affiché à l’écran.</td>
			</tr>

			<tmpl_if ShowWifiDisplaySetting>
				<tr>
					<td>Autoriser les modifications du Wi-Fi à l’écran tactile</td>
					<td>Paramètres > Généralités</td>
					<td>Fonctionnement normal.</td>
					<td>
						À l’écran tactile, l’option « Wi-Fi » est toujours disponible, mais n’affiche qu’un message. Aucun paramètre du Wi-Fi ne peut être modifié.
					</td>
				</tr>
			</tmpl_if>

			<tr>
				<td>
					Masquez le nom du réseau principal (SSID) à l’écran de l’appareil :
				</td>
				<td><tmpl_var _("webui", "help_wifi_text")> > Principal</td>
				<td>Le nom du réseau principal n’apparaît nulle part à l’écran.</td>
				<td>
					Le nom du réseau principal peut être visualisé à l’écran.
				</td>
			</tr>

			<tr>
				<td>
					Masquer le mot de passe du réseau principal à l’écran de l’appareil
				</td>
				<td><tmpl_var _("webui", "help_wifi_text")> > Principal</td>
				<td>
					Le mot de passe du réseau principal n’apparaît nulle part à l’écran.
				</td>
				<td>
					Le mot de passe principal du réseau peut être affiché à l’écran.
				</td>
			</tr>

			<tr>
				<td>
					Masquez le nom du réseau invité (SSID) à l’écran de l’appareil :
				</td>
				<td><tmpl_var _("webui", "help_wifi_text")> > Invité</td>
				<td>Le nom du réseau invité n’apparaît nulle part à l’écran.</td>
				<td>Le nom du réseau invité peut être visualisé à l’écran.</td>
			</tr>

			<tr>
				<td>
					Masquer le mot de passé du réseau invité à l’écran de l’appareil
				</td>
				<td><tmpl_var _("webui", "help_wifi_text")> > Invité</td>
				<td>
					Le mot de passé du réseau invité n’apparaît nulle part à l’écran.
				</td>
				<td>
					Le mot de passe invité du réseau peut être affiché à l’écran.
				</td>
			</tr>

			<tr>
				<td>WPS - Réseau principal</td>
				<td><tmpl_var _("webui", "help_wifi_text")> > Principal</td>
				<td>
					Le WPS du réseau Wi-Fi principal est disponible dans le menu Wi-Fi à l’écran tactile.
				</td>
				<td>Le WPS ne peut pas être utilisé sur le réseau Wi-Fi principal.</td>
			</tr>

			<tr>
				<td>WPS - Réseau invité</td>
				<td><tmpl_var _("webui", "help_wifi_text")> > Invité</td>
				<td>
					Le WPS du réseau Wi-Fi invité est disponible dans le menu Wi-Fi à l’écran tactile.
				</td>
				<td>Le WPS ne peut pas être utilisé sur le réseau Wi-Fi invité.</td>
			</tr>

			<tmpl_if ShowPromptOnUSB>
				<tr>
					<td>Invite lors de la connexion USB</td>
					<td>Préférences de l’appareil > Préférences</td>
					<td>
						Afficher l’invite USB à l’écran tactile lorsqu’un ordinateur ou un périphérique USB est connecté.
					</td>
					<td>L’invite USB n’est pas affichée.</td>
				</tr>
			</tmpl_if>

			<tr>
				<td>
					Activation du bouton de réinitialisation situé à la base de l’appareil
				</td>
				<td>Préférences de l’appareil > Préférences</td>
				<td>
					Le bouton de réinitialisation situé à la base de l’appareil fonctionne normalement. 
				</td>
				<td>
					Le bouton de réinitialisation situé à la base de l’appareil n’a aucun effet. 
				</td>
			</tr>

			<tr>
				<td>
					Autoriser les modifications des paramètres à partir de l’écran de l’appareil
				</td>
				<td>Préférences de l’appareil > Préférences</td>
				<td>Fonctionnement normal</td>
				<td>
					À l’écran tactile, l’option « Paramètres » est toujours disponible, mais n’affiche qu’un message. Aucun paramètre ne peut être modifié.
				</td>
			</tr>
		</tbody>
	</table>
</div>
