<!-- Help  -->

<div id="overview">
	<h2>Ülevaade</h2>
	<p>
		Tere tulemast kasutama seadet <tmpl_var _("webui", "webui_product_name")>! Teie uus seade on <tmpl_var _("webui", "webui_carrier_name")> <tmpl_var _("webui", "webui_product_trade_mark")> – <tmpl_var _("webui", "webui_product_number")>.<br> Seadmega <tmpl_var _("webui", "webui_product_number")> kogete 5G võimet luua rakendustele ning üles- ja allalaadimiseks ülikiire internetiühendus. Kasutage seda kodus, tööl või liikvel olles, isegi väljaspool riiki.
	</p>

	<h2>
		<tmpl_var _("webui", "webui_product_name")> <tmpl_var _("webui", "webui_product_number")> Funktsioonid
	</h2>

	<ul class="list-style">
		<li>
			Kahesagedusliku Wi-Fi (2,4 GHz/5 GHz) valikuga saate kasutada kiireimat ja tugevaimat jõudlust.
		</li>

		<li>
			Internetiühendus USB-ühenduse kaudu Windowsi või Maci arvutiga.
		</li>

		<li>
			Wi-Fi külalisvõrk pakub ajutist internetiühendust, ilma et jagaksite oma isiklikku parooli või juurdepääsu ülejäänud võrgule, näiteks printeritele ja muudele ühendatud seadmetele.
		</li>

		<li>Aku tööiga ühe laadimisega kuni 24 tundi.</li>

		<li>
			Kiirlaadimistehnoloogia aitab teil kiiremini tööle hakata kui kunagi varem.
		</li>

		<li>Töötab ka laadijana teiste juhtmevabade seadmete jaoks.</li>

		<li>
			Intuitiivne puuteekraan võimaldab kontrollida andmekasutust ja juhtida muid funktsioone otse seadmest.
		</li>

		<li>
			Sõbralik veebiliides teeb täpsemate funktsioonide ja sätete kohandamise lihtsaks.
		</li>
	
	</ul>		
</div>

<div id="setup">
	<h2>Seadistamine</h2>
	<h2>1. samm – <tmpl_var _("webui", "help_setup_step1_title")></h2>
	<p>
		<tmpl_udf GET_PO_TEXT("help_setup_step1_text",gProductName,gProductNumber)>
	</p>

	<h2>2. samm – ühendage internetiga</h2>
	<p>
		Looge arvuti, tahvelarvuti või muu seadme Wi-Fi-rakenduse abil ühendus oma seadme <tmpl_var _("webui", "webui_product_name")><tmpl_var _("webui", "webui_product_number")> Wi-Fi-võrguga. Wi-Fi nime ja parooli saamiseks koputage seadme <tmpl_var _("webui", "webui_product_name")><tmpl_var _("webui", "webui_product_number")>avakuval ikoonile Wi-Fi.
	</p>

	<h2>3. samm – Ühendatud seadmete otsimine</h2>
	<p>
		Arvuti, tahvelarvuti või muu seadme ühendamisel seadmega <tmpl_var _("webui", "webui_product_name")><tmpl_var _("webui", "webui_product_number")> värskendatakse seadme <tmpl_var _("webui", "webui_product_name")><tmpl_var _("webui", "webui_product_number")> avakuval näitavat ühendatud seadmete arvu. Iga ühendatud seadme kohta lisateabe saamiseks koputage ühendatud seadmete ikooni.
	</p>				
</div>

<div id="tips">
	<h2>Näpunäited</h2>
	<h2>SIM-kaart</h2>
	<p>
		SIM-kaart on eelpaigaldatud. SIM-kaardi vahetamiseks eemaldage akukate ja aku.
	</p>

	<h2>Ühendatud seadmed</h2>
	<p>
		Puuteekraanil <tmpl_var _("webui", "webui_product_name_with_suffix")> Avakuva kuvatakse <tmpl_var _("webui", "webui_product_name_with_suffix")> Wi-Fi-võrguga ühendatud seadmete arv. Valige Ühendatud seadmed, et vaadata üksikasjalikku teavet ühendatud seadme kohta ja blokeerida või tühistada seadme juurdepääs seadme <tmpl_var _("webui", "webui_product_name_with_suffix")> Wi-Fi-võrgule.
	</p>

	<h2>Helimärguanded</h2>
	<p>
		Selleks, et muuta, millal teie <tmpl_var _("webui", "webui_product_name")> helimärguandeid esitab, valige puuteekraani Avakuvalt Menüü ja seejärel Seaded. Saate kõik helimärguanded välja lülitada või eraldi seadistada.
	</p>

	<h2>Aku tööiga</h2>
	<p>
		Aku tööea säästmiseks valige puuteekraanilt Avakuva, Menüü ja seejärel Seaded. Saate muuta ekraani ajalõpu ja automaatse väljalülitamise seadeid.
	</p>

	<h2>Wi-Fi-võrk</h2>
	<p>
		Internetiühenduse saamiseks peavad teie arvuti, tahvelarvuti ja muud seadmed looma ühenduse seadme <tmpl_var _("webui", "webui_product_name_with_suffix")> Wi-Fi-võrguga. Seadme <tmpl_var _("webui", "webui_product_name_with_suffix")> Wi-Fi-võrgu üksikasjad kuvatakse puutetundlikul avakuval. Seadme <tmpl_var _("webui", "webui_product_name_with_suffix")> Wi-Fi-võrguga saate liituda ka, valides "Wi-Fi" ja seejärel "WPS".
	</p>	

	<h2>Wi-Fi külalisvõrk</h2>
	<p>
		Külalisvõrgu funktsiooniga saate seadistada eraldi ja ajutise Wi-Fi-võrgu külalistele. Kasutage mõnda muud parooli või ärge üldse parooli kasutage. Külalisvõrk võimaldab juurdepääsu ainult internetile, nii et teie ühendatud seadmete (sh printerite, kõlarite, väliste draivide või muude ühendatud seadmete) isiklik võrk jääb turvaliseks. Külalise Wi-Fi-võrgu sisselülitamiseks valige avakuval Wi-Fi ja seejärel Wi-Fi-võrgu valik.
	</p>

	<h2>Turvalisus</h2>
	<p>
		Seadme omaniku või administraatorina saate seadmele <tmpl_var _("webui", "webui_product_name_with_suffix")> juurdepääsu piirata, kui peate lubama teistele inimestele füüsilise juurdepääsu teie seadmele <tmpl_var _("webui", "webui_product_name")>. Üksikasju vaadake järgmisest jaotisest.
	</p>
</div>

<div id="security">
	<h2>Turvalisus funktsioonid seade administraator</h2>
	<p>
		Kui olete seadme <tmpl_var _("webui", "webui_product_name")> administraator, saate kasutada sätteid seadme <tmpl_var _("webui", "webui_product_name_with_suffix")> veebiliideses, et piirata <tmpl_var _("webui", "webui_product_name")> kasutaja võimalusi puuteekraanil. Järgmises tabelis on loetletud saadaolevad veebiliidese seaded ja nende mõju puuteekraanile.
	</p>

	<h2>Ekraani kasutajaliidest mõjutavad veebiseaded</h2>  
	<table class="portForwardingTable" id="">
	 	<thead>
			<tr class="">
				<th class="">Seadistamine/kasutamine</th>
				<th class="">Veebileht</th>
				<th class="">Sees</th>
				<th class="">Väljas</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Peida ekraanil administraatori parool</td>
				<td>Avaleht> rippmenüü <br> menüü> Administraatori seaded</td>
				<td>Administraatori parooli ei kuvata ekraanil.</td>
				<td>Administraatori parooli saab vaadata ekraanil.</td>
			</tr>

			<tmpl_if ShowWifiDisplaySetting>
				<tr>
					<td>Lubage Wi-Fi seadete muudatuste tegemine seadme ekraanil.</td>
					<td><tmpl_var _("webui", "help_wifi_text")> > Üldine</td>
					<td>Tavapärane töö.</td>
					<td>
						Puuteekraanil on suvand Wi-Fi endiselt saadaval, kuid kuvab ainult teate. Wi-Fi seadeid ei saa muuta.
					</td>
				</tr>
			</tmpl_if>

			<tr>
				<td>Peida puuteekraanil põhivõrgu nimi (SSID)</td>
				<td><tmpl_var _("webui", "help_wifi_text")> > Põhivõrk</td>
				<td>Esmast võrgu nime ei kuvata ekraanil kusagil.</td>
				<td>Esmast võrgu nime saab ekraanil vaadata.</td>
			</tr>

			<tr>
				<td>Peida seadme ekraanil esmane võrguparool</td>
				<td><tmpl_var _("webui", "help_wifi_text")> > Põhivõrk</td>
				<td>Esmast võrguparooli ei kuvata ekraanil kusagil.</td>
				<td>Esmast võrguparooli saab ekraanil vaadata.</td>
			</tr>

			<tr>
				<td>Peida külalisvõrgu nimi (SSID) puuteekraanil</td>
				<td><tmpl_var _("webui", "help_wifi_text")> > Külalisvõrk</td>
				<td>Külalise võrgu nime ei kuvata ekraanil kusagil.</td>
				<td>Külalise võrgu nime saab ekraanil vaadata.</td>
			</tr>

			<tr>
				<td>Peida seadme ekraanil külalisvõrgu parool</td>
				<td><tmpl_var _("webui", "help_wifi_text")> > Külalisvõrk</td>
				<td>Külalise võrgu parooli ei kuvata ekraanil kusagil.</td>
				<td>Külalise võrgu parooli saab ekraanil vaadata.</td>
			</tr>

			<tr>
				<td>WPS – põhivõrk</td>
				<td><tmpl_var _("webui", "help_wifi_text")> > Põhivõrk</td>
				<td>
					Esmase Wi-Fi-võrgu WPS on saadaval puuteekraani Wi-Fi-menüüs.
				</td>
				<td>WPS-i ei saa peamises Wi-Fi-võrgus kasutada.</td>
			</tr>	
			<tr>
				<td>WPS – külalisvõrk</td>
				<td><tmpl_var _("webui", "help_wifi_text")> > Külalisvõrk</td>
				<td>
					Külaliste WiFi-võrgu WPS on saadaval puuteekraaniga WiFi-menüüs
				</td>
				<td>WPS-i ei saa külalise WiFi-võrgus kasutada.</td>
			</tr>

			<tmpl_if ShowPromptOnUSB>
			<tr>
				<td>Küsi USB-ühenduse loomisel</td>
				<td>Seadme Seaded > Eelistused</td>
				<td>
					Kui arvuti või USB-seade on ühendatud, kuvatakse puuteekraanil USB-viip.
				</td>
				<td>USB-viipa ei kuvata.</td>
			</tr>
			</tmpl_if>

			<tr>
				<td>Luba lähtestusnupp seadme alusel</td>
				<td>Seadme Seaded > Eelistused</td>
				<td>Seadme alusel olev lähtestusnupp töötab normaalselt. </td>
				<td>Seadme alusel olev lähtestusnupp ei toimi. </td>
			</tr>

			<tr>
				<td>Lubage seadete muudatuste tegemine seadme ekraanil.</td>
				<td>Seadme Seaded > Eelistused</td>
				<td>Tavapärane töö</td>
				<td>
					Puuteekraanil on suvand endiselt saadaval, kuid kuvab ainult teate. Seadeid ei saa muuta.
				</td>
			</tr>
		</tbody>
	</table>
</div>
