<!-- Help  -->

<div id="overview">
	<h2>Pārskats</h2>
	<p>
		Laipni lūdzam <tmpl_var _("webui", "webui_product_name")>! Jaunā ierīce ir <tmpl_var _("webui", "webui_carrier_name")> <tmpl_var _("webui", "webui_product_trade_mark")> - <tmpl_var _("webui", "webui_product_number")>.<br> Lietojot <tmpl_var _("webui", "webui_product_number")>, jūs varēsiet izmantot 5G piedāvāto īpaši ātru interneta piekļuvi lietotnēm, augšupielādēm un lejupielādēm. Izmantojiet to mājās, darbā vai dodoties ceļā — pat atrodoties ārpus valsts.
	</p>

	<h2>
		<tmpl_var _("webui", "webui_product_name")> <tmpl_var _("webui", "webui_product_number")> Funkcijas
	</h2>

	<ul class="list-style">
		<li>
			Ātrākā un spēcīgākā iespējamā veiktspēja, izmantojot divjoslu Wi-Fi (2,4 GHz/5 GHz) opciju.
		</li>

		<li>
			Savienojums, izmantojot USB, interneta piekļuvei jūsu Windows vai Mac datoram.
		</li>

		<li>
			Viesu Wi-Fi tīkls nodrošina pagaidu piekļuvi internetam, nekopīgojot savu personisko paroli vai piekļuvi pārējam jūsu tīklam, piemēram, printeriem un citām pievienotajām ierīcēm.
		</li>

		<li>
			Akumulatora darbības laiks ir līdz 24 stundām ar vienu uzlādi.
		</li>

		<li>
			Ātrās uzlādes tehnoloģija, lai jūs varētu sākt darboties ātrāk nekā jebkad agrāk.
		</li>

		<li>
			Varat izmantot kā lādētāju citām bezvadu.
		</li>

		<li>
			Intuitīvais skārienekrāns ļauj pārbaudīt datu lietojumu un vadīt citas funkcijas tieši no ierīces.
		</li>

		<li>
			Draudzīgais tīmekļa interfeiss atvieglo papildu līdzekļu un iestatījumu pielāgošanu.
		</li>	
	</ul>		
</div>

<div id="setup">
	<h2>Uzstādīšana</h2>
	<h2>1. darbība. <tmpl_var _("webui", "help_setup_step1_title")></h2>
	<p>
		<tmpl_udf GET_PO_TEXT("help_setup_step1_text",gProductName,gProductNumber)>
	</p>

	<h2>2. darbība. Savienojuma ar internetu izveide</h2>
	<p>
		Izmantojot datora, planšetdatora vai citas ierīces Wi-Fi lietojumprogrammu, izveidojiet savienojumu ar <tmpl_var _("webui", "webui_product_name")><tmpl_var _("webui", "webui_product_number")> Wi-Fi tīklu. Lai iegūtu Wi-Fi nosaukumu un paroli, <tmpl_var _("webui", "webui_product_name")><tmpl_var _("webui", "webui_product_number")> sākuma ekrānā pieskarieties Wi-Fi ikonai.
	</p>

	<h2>3. darbība. Pievienoto ierīču pārbaude</h2>
	<p>
		Pievienojot pie <tmpl_var _("webui", "webui_product_name")><tmpl_var _("webui", "webui_product_number")> datoru, planšetdatoru vai citu ierīci, <tmpl_var _("webui", "webui_product_name")><tmpl_var _("webui", "webui_product_number")> sākuma ekrānā redzamo pievienoto ierīču skaits tiks atjaunināts. Lai iegūtu papildu informāciju par katru pievienoto ierīci, pieskarieties pievienoto ierīču ikonai.
	</p>				
</div>

<div id="tips">
	<h2>Padomi</h2>
	<h2>SIM karte</h2>
	<p>
		SIM karte ir iepriekš instalēta. Lai nomainītu SIM karti, noņemiet akumulatora vāciņu un izņemiet akumulatoru.
	</p>

	<h2>Pievienotās ierīces</h2>
	<p>
		<tmpl_var _("webui", "webui_product_name_with_suffix")> sākuma skārienekrānā ir redzams <tmpl_var _("webui", "webui_product_name_with_suffix")> Wi-Fi tīklam pievienoto ierīču skaits. Atlasiet vienumu “Savienotās ierīces”, lai skatītu detalizētu informāciju par jebkuru pievienoto ierīci un bloķētu vai atbloķētu ierīces piekļuvi <tmpl_var _("webui", "webui_product_name_with_suffix")> Wi-Fi tīklam.
	</p>

	<h2>Audio brīdinājumi</h2>
	<p>
		Lai pielāgotu, kad <tmpl_var _("webui", "webui_product_name")> atskaņo audio brīdinājumu, sākuma skārienekrānā atlasiet vienumu “Izvēlne” un pēc tam “Iestatījumi”. Varat izslēgt visus audio brīdinājumus vai iestatīt tos atsevišķi.
	</p>

	<h2>Akumulatora darbības laiks</h2>
	<p>
		Lai taupītu akumulatora darbības laiku, sākuma skārienekrānā atlasiet “Izvēlne” un pēc tam “Iestatījumi”. Varat mainīt ekrāna taimauta un automātiskās izslēgšanas iestatījumus.
	</p>

	<h2>Wi-Fi tīkls</h2>
	<p>
		Lai piekļūtu internetam, datoram, planšetdatoram un citām ierīcēm ir jāizveido savienojums ar <tmpl_var _("webui", "webui_product_name_with_suffix")> Wi-Fi tīklu. Detalizēta informācija par <tmpl_var _("webui", "webui_product_name_with_suffix")> Wi-Fi tīklu ir redzama sākuma skārienekrānā. Varat arī pievienoties <tmpl_var _("webui", "webui_product_name_with_suffix")> Wi-Fi tīklam, atlasot Wi-Fi un pēc tam WPS.
	</p>	

	<h2>Viesu Wi-Fi tīkls</h2>
	<p>
		Izmantojot viesu tīkla funkciju, viesiem varat iestatīt atsevišķu un pagaidu Wi-Fi tīklu. Izmantojiet citu paroli vai neizmantojiet nekādu paroli. Viesu tīkls nodrošina piekļuvi tikai internetam, tāpēc jūsu personīgais pievienoto ierīču tīkls, tostarp printeri, skaļruņi, ārējie diski vai citas pievienotās ierīces, joprojām ir drošībā. Lai ieslēgtu viesa Wi-Fi tīklu, sākuma ekrāna ekrānā atlasiet Wi-Fi un pēc tam Wi-Fi tīkla atlase.
	</p>

	<h2>Drošība</h2>
	<p>
		Kā ierīces īpašnieks vai administrators varat ierobežot <tmpl_var _("webui", "webui_product_name_with_suffix")> piekļuvi iestatījumiem, ja jums ir jāļauj citām personām piekļūt jūsu <tmpl_var _("webui", "webui_product_name")>. Papildu informāciju skatiet nākamajā sadaļā.
	</p>

</div>
<div id="security">
	<h2>Drošības līdzekļi ierīču administratoriem</h2>
	<p>
		Ja esat <tmpl_var _("webui", "webui_product_name")> administrators, varat izmantot <tmpl_var _("webui", "webui_product_name_with_suffix")> tīmekļa interfeisa iestatījumus, lai ierobežotu <tmpl_var _("webui", "webui_product_name")> lietotāja iespējas skārienekrānā. Nākamajā tabulā ir redzami pieejamie tīmekļa interfeisa iestatījumi un to ietekme uz skārienekrānu.
	</p>

	<h2>Tīmekļa iestatījumi, kas ietekmē skārienekrānu</h2>  
	<table class="portForwardingTable" id>
	 	<thead>
			<tr class>
				<th class="">Iestatīšana/darbība</th>
				<th class="">Tīmekļa lapa</th>
				<th class="">Ieslēgts</th>
				<th class="">Izslēgts</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Ekrānā paslēpt administratora paroli</td>
				<td>Sākums> nolaižamā izvēlne <br>> Administratora iestatījumi</td>
				<td>Administratora parole ekrānā nekur netiek rādīta.</td>
				<td>Administratora paroli var skatīt ekrānā.</td>
			</tr>

			<tmpl_if ShowWifiDisplaySetting>
				<tr>
					<td>Atļaut veikt Wi-Fi iestatījumu izmaiņas ierīces ekrānā.</td>
					<td><tmpl_var _("webui", "help_wifi_text")> > Vispārīgi</td>
					<td>Normāla darbība.</td>
					<td>
						Skārienekrānā joprojām ir pieejama opcija Wi-Fi, taču tiek rādīts tikai ziņojums. Wi-Fi iestatījumus nevar mainīt.
					</td>
				</tr>
			</tmpl_if>

			<tr>
				<td>Paslēpt primārā tīkla nosaukumu (SSID) ierīces ekrānā:</td>
				<td><tmpl_var _("webui", "help_wifi_text")> > Primārais</td>
				<td>Primārais tīkla nosaukums ekrānā netiek rādīts.</td>
				<td>Primāro tīkla nosaukumu var apskatīt ekrānā.</td>
			</tr>

			<tr>
				<td>Paslēpt primāro tīkla paroli ierīces ekrānā</td>
				<td><tmpl_var _("webui", "help_wifi_text")> > Primārais</td>
				<td>Primārā tīkla parole ekrānā netiek rādīta</td>
				<td>Primāro tīkla paroli var apskatīt ekrānā.</td>
			</tr>

			<tr>
				<td>Paslēpt viesu tīkla nosaukumu (SSID) ierīces ekrānā:</td>
				<td><tmpl_var _("webui", "help_wifi_text")> > Viesis</td>
				<td>Viesu tīkla nosaukums ekrānā netiek rādīts.</td>
				<td>Viesu tīkla nosaukumu var apskatīt ekrānā.</td>
			</tr>

			<tr>
				<td>Paslēpt viesu tīkla paroli ierīces ekrānā</td>
				<td><tmpl_var _("webui", "help_wifi_text")> > Viesis</td>
				<td>Viesu tīkla parole ekrānā netiek rādīta</td>
				<td>Viesu tīkla paroli var apskatīt ekrānā.</td>
			</tr>

			<tr>
				<td>WPS – primārais tīkls</td>
				<td><tmpl_var _("webui", "help_wifi_text")> > Primārais</td>
				<td>
					Skārienekrāna Wi-Fi izvēlnē ir pieejams galvenā Wi-Fi tīkla WPS.
				</td>
				<td>Galvenajā Wi-Fi tīklā nevar izmantot WPS.</td>
			</tr>

			<tr>
				<td>WPS – viesu tīkls</td>
				<td><tmpl_var _("webui", "help_wifi_text")> > Viesis</td>
				<td>
					WPS viesa Wi-Fi tīklam ir pieejams skārienekrāna Wi-Fi izvēlnē.
				</td>
				<td>WPS nevar izmantot viesa Wi-Fi tīklā.</td>
			</tr>

			<tmpl_if ShowPromptOnUSB>
				<tr>
					<td>Uzvedne par USB savienojumu</td>
					<td>Ierīces Iestatījumi > Preferences</td>
					<td>
						Parādiet USB uzvedni skārienekrānā, kad ir pievienots dators vai USB ierīce.
					</td>
					<td>USB uzvedne netiek parādīta.</td>
				</tr>
			</tmpl_if>

			<tr>
				<td>Atļaut izmantot atiestatīšanas pogu uz ierīces pamatnes</td>
				<td>Ierīces Iestatījumi > Preferences</td>
				<td>Atiestatīšanas poga uz ierīces pamatnes darbojas normāli. </td>
				<td>Atiestatīšanas poga uz ierīces pamatnes nedarbojas. </td>
			</tr>

			<tr>
				<td>Atļaut veikt iestatījumu izmaiņas ierīces ekrānā.</td>
				<td>Ierīces Iestatījumi > Preferences</td>
				<td>Normāla darbība</td>
				<td>
					Skārienekrānā joprojām ir pieejama opcija Iestatījumi, taču tiek rādīts tikai ziņojums. Iestatījumus nevar mainīt.
				</td>
			</tr>
		</tbody>
	</table>
</div>
