<!-- wifi_primary_settings -->
<div id="wifi_primary_settings">
	<h1>Wi-Fi – Põhivõrk</h1>
	
	<h2>Ülevaade</h2>
	<p>
		<tmpl_var _("webui", "webui_product_name_with_suffix")> Wi-Fi põhivõrguga ühenduse loomiseks peavad ühendatud seadmed kasutama sellel kuval näidatud Wi-Fi-seadeid. Nende sätete muutmisel võivad olemasolevad ühendatud seadmed ühenduse kaotada.
	</p>

	<h3><tmpl_var _("webui", "wifi_primary_ssid_label")></h3>
	<p>
		See määrab Wi-Fi-võrgu võrgunime või SSID. Sisestage sobiv nimi. Nimi võib olla kuni 32 tähemärki pikk.
	</p>

	<h3><tmpl_var _("webui", "wifi_primary_security_label")></h3>
	<p>
		Valige Wi-Fi turvalisuse jaoks soovitud suvand.
	</p>

	<ul>
		<li>
			<strong><tmpl_var _("webui", "wifi_security_none_text")></strong> võimaldab teistel inimestel jälgida teie Wi-Fi-liiklust ja kasutada teie andmesidepaketti internetile juurdepääsuks. Kui üldse võimalik, tuleks selle võimaluse kasutamist vältida.
		</li>
		<li>
			<strong><tmpl_var _("webui", "wifi_security_wpa2_text")></strong> on uusim ja kõige turvalisem meetod ning seda tuleks võimaluse korral kasutada.
		</li>
		<li>
			<strong><tmpl_var _("webui", "wifi_security_wpa2_mix_text")></strong> saab kasutada, kui mõni teie vanem seade ei toeta WPA2.
		</li>
		<li>
			<strong><tmpl_var _("webui","wifi_security_wpa3_transition_text")></strong> saab kasutada WPA2 ja WPA3 toega seadmetega.
		</li>
	</ul>	
	
	<h3><tmpl_var _("webui", "wifi_primary_password_label")></h3>
	<p>
		Sisestage sellele väljale Wi-Fi parool. Sellele väljale saate sisestada ka tugeva juhusliku parooli nupuga Loo uus parool. Ärge unustage selle suvandi kasutamisel muudatusi salvestada.
	</p>

	<p>
		Need seaded on vaikimisi peidetud, kuid nende nähtavaks muutmiseks võite klõpsata pealkirjal/lingil. Tavaliselt võib jätta need suvandid vaikeväärtustele, kuid neid saab vajaduse korral muuta vastavalt teie konkreetsele keskkonnale.
	</p>

	<h3><tmpl_udf GET_PO_TEXT("wifi_primary_show_ssid_label", gProductName)></h3>
	<p>
		Kui see säte on märgitud, ei ole Wi-Fi nimi puuteekraanil nähtav. Märkimata jätmisel saab võrgu nime vaadata Wi-Fi-rakenduse puuteekraanil.
	</p>

	<h3><tmpl_udf GET_PO_TEXT("wifi_primary_show_password_label", gProductName)></h3>
	<p>
		Kui see säte on märgitud, ei ole Wi-Fi parool puuteekraanil nähtav. Kui see on märkimata, saab parooli vaadata Wi-Fi-rakenduse puuteekraanil.
	</p>

	<h3><tmpl_var _("webui", "wifi_primary_broadcast_ssid_label")></h3>
	<p>
		Kui see säte on märgitud, kuvatakse seda Wi-Fi-võrku teie ühendatud seadmetes saadaolevate Wi-Fi-võrkude loendis. Kui see on märkimata, on see võrk nähtamatu.
	</p>

	<tmpl_if showWiFiPrimaryWPS>
	<h3><tmpl_var _("webui", "wifi_primary_wps_label")></h3>
	<p>
		Wi-Fi Protected Setup (WPS) on süsteem, mis võimaldab Wi-Fi-seadmetel luua ühenduse Wi-Fi-võrguga ilma võrguparooli käsitsi sisestamata. Kui soovite WPS-i kasutada, märkige see suvand.
	</p>
	</tmpl_if>

	<h3><tmpl_var _("webui", "wifi_primary_privacy_label")></h3>
	<p>
		Kui see säte on märgitud, isoleeritakse kõik ühendatud seadmed kõigist teistest ühendatud seadmetest. See pakub täiendavat turvalisust, kui mõned ühendatud seadmed on tundmatud või ei ole täielikult usaldusväärsed. Tavapäraseks tööks peab see olema märkimata.
	</p>
</div>

<!-- id="wifi_primary_settings" -->

