<option value="<tmpl_var authTypeNone>"<tmpl_if IN_SET(SimMgrApnProfileAuthentication, authTypeNone)> selected="selected"</tmpl_if>><tmpl_var _("webui", "adv_sim_manager_authentication_none_text")></option>
<option value="<tmpl_var authTypePAP>"<tmpl_if IN_SET(SimMgrApnProfileAuthentication, authTypePAP)> selected="selected"</tmpl_if>><tmpl_var _("webui", "adv_sim_manager_authentication_pap_text")></option>
<option value="<tmpl_var authTypeCPAP>"<tmpl_if IN_SET(SimMgrApnProfileAuthentication, authTypeCPAP)> selected="selected"</tmpl_if>><tmpl_var _("webui", "adv_sim_manager_authentication_chap_text")></option>
