<!-- Status Logs -->
<div id="status_logs">
	<h1><tmpl_var _("webui", "status_logs_menu_text")></h1>
	<h2>Yleiskatsaus</h2>
	<p>Lokitiedot ovat hyödyllisiä vianmäärityksessä, mutta niitä ei tarvita tavanomaisessa käytössä.</p>
	
	<h2>Asetukset</h2>
	<h3><tmpl_var _("webui", "status_logs_enable_logs_label")></h3>
	<p>Ota lokit käyttöön tarpeen mukaan.</p>
	<h3><tmpl_var _("webui", "status_logs_delete_sys_logs_label")></h3>
	<p>Tämä asetus määrittää, kuinka kauan järjestelmän lokitietoja säilytetään. Valitse haluttu vaihtoehto.</p>
	<p>Huomaa, että jos loki on täynnä, vanhimmat tiedot poistetaan tästä asetuksesta riippumatta.</p>
	
	<h2>Lokitiedot</h2>
	<p>Annetuilta välilehdiltä voit valita näytettävien lokitietojen tyypin.</p>
	<h3><tmpl_var _("webui", "status_logs_mobile_network_log_href")></h3>
	<p>Tämä loki sisältää matkapuhelinverkkoyhteyksiä koskevia tietoja.</p>
	<h3><tmpl_var _("webui", "status_logs_system_log_href")></h3>
	<p>Tämä loki tallentaa tällä laitteella tapahtuneet tapahtumat – muut kuin mobiilidatayhteydet.</p>
	
	<h2>Painikkeet</h2>
	
	<h3><tmpl_var _("webui", "status_logs_clear_log_btn")></h3>
	<p>Tätä painiketta napsauttamalla poistetaan kaikki olemassa olevat lokitiedot. Tämä helpottaa uusien tietojen lukemista.</p>
	<h3><tmpl_var _("webui", "status_logs_refresh_btn")></h3>
	<p>Tällä voit päivittää näytetyt lokitiedot.</p>
	<h3><tmpl_var _("webui", "status_logs_download_btn")></h3>
	<p>Tällä painikkeella voit ladata lokitiedot tietokoneellesi tai yhdistetylle laitteellesi.</p>
	
</div>
<!-- end Status Logs -->
