<!-- Status Logs -->
<div id="status_logs">
	<h1><tmpl_var _("webui", "status_logs_menu_text")></h1>
	<h2>Pārskats</h2>
	<p>Žurnāla informācija ir noderīga problēmu novēršanai, bet nav nepieciešama normālai darbībai.</p>
	
	<h2>Iestatījumi</h2>
	<h3><tmpl_var _("webui", "status_logs_enable_logs_label")></h3>
	<p>Ieslēdziet žurnālus pēc nepieciešamības.</p>
	<h3><tmpl_var _("webui", "status_logs_delete_sys_logs_label")></h3>
	<p>Šis iestatījums nosaka, cik ilgi sistēmas žurnāla dati tiek saglabāti. Atlasiet vajadzīgo opciju.</p>
	<p>Ņemiet vērā — ja žurnāls ir pilns, vecākie dati tiek dzēsti neatkarīgi no šī iestatījuma.</p>
	
	<h2>Žurnāla dati</h2>
	<p>Nodrošinātās cilnes ļauj atlasīt skatāmo žurnāla datu tipu.</p>
	<h3><tmpl_var _("webui", "status_logs_mobile_network_log_href")></h3>
	<p>Šajā žurnālā ir dati par savienojumiem ar mobilo tīklu.</p>
	<h3><tmpl_var _("webui", "status_logs_system_log_href")></h3>
	<p>Šajā žurnālā tiek reģistrēti notikumi, kas nav saistīti ar mobilo datu savienojumiem un kas ir notikuši šajā ierīcē.</p>
	
	<h2>Pogas</h2>
	
	<h3><tmpl_var _("webui", "status_logs_clear_log_btn")></h3>
	<p>Noklikšķinot uz šīs pogas, tiks dzēsti visi esošie žurnāla dati. Tas atvieglo jaunu datu nolasīšanu.</p>
	<h3><tmpl_var _("webui", "status_logs_refresh_btn")></h3>
	<p>Izmantojiet šo opciju, lai atjauninātu rādītos žurnāla datus.</p>
	<h3><tmpl_var _("webui", "status_logs_download_btn")></h3>
	<p>Izmantojiet šo pogu, ja vēlaties lejupielādēt žurnāla datus datorā vai pievienotajā ierīcē.</p>
	
</div>
<!-- end Status Logs -->
