<!-- LAN -->
<div id="lan">
	<h1><tmpl_var _("webui", "adv_lan_menu_text")></h1>
	<h2>Descripción</h2>
		<p>Esta configuración se aplica a su red local o LAN. Para este dispositivo, la LAN está formada por este dispositivo y todos los dispositivos conectados (incluidos los dispositivos conectados a Ethernet, si existieran). </p>

	<tmpl_if showIPPTEnable>
		<h3>Contraseña IP</h3>
	    	<p>
	            	Si se utiliza, la función de la contraseña IP asigna la dirección IP de Internet a un dispositivo conectado.
	    	</p>
	    	<ul>
	            	<li>El dispositivo de contraseña debe ser el único dispositivo en la interfaz seleccionada. Los demás dispositivos de esta interfaz se ignorarán y no tendrán acceso a Internet.</li>
	            	<li>Los dispositivos de la otra interfaz o interfaces funcionan normalmente.</li>
	            	<li>Cuando se activa la función de contraseña IP, no se pueden utilizar las siguientes funciones:
	            		<ul>
	                    		<li>Enrutamiento de puertos </li>
	                    		<li>Filtrado de puertos </li>
	                    		<li>DMZ </li>
	            		</ul>
	    		</li>
	    	</ul>
	    	<li>
	            	Cuando se activa la función de contraseña IP, se debe reiniciar el <tmpl_var _("webui", "webui_product_name")>. Por lo general, esto significa que se asignará una nueva dirección IP de Internet al <tmpl_var _("webui", "webui_product_name")> después del reinicio.
	    	</li>

	    	<h3>Activar la función de contraseña IP</h3>
	    	<p>
	            	Use esta función para activar o desactivar la función de contraseña IP según sea necesario.
	    	</p>
	    	<tmpl_if showIPPTInterface>
			<tmpl_if showIPPTInterfaceOptions>
				<h3>Interfaz de paso</h3>
				<p>
					Seleccione la interfaz utilizada por el dispositivo de red que desea que se convierta en el dispositivo de contraseña IP.
					NOTA: Cuando el IPPT está habilitado en una interfaz, todas las demás interfaces estarán deshabilitadas.
				</p>
			</tmpl_if>
			<h3><tmpl_var truncate(_("webui", "adv_lan_ip_passthrough_hostname_label"), (size(_("webui", "adv_lan_ip_passthrough_hostname_label")) - size(":")))></h3>
                        <p><tmpl_var _("webui", "adv_lan_ip_passthrough_hostname_help_text")></p>
                        <h3><tmpl_var truncate(_("webui", "adv_lan_ip4_mac_address_label"), (size(_("webui", "adv_lan_ip4_mac_address_label")) - size(":")))></h3>
                        <p><tmpl_var _("webui", "adv_lan_ip_passthrough_macaddress_help_text")></p>			
	    	</tmpl_if>
    	</tmpl_if>

	<h2><tmpl_var _("webui", "adv_lan_ip4_sub_header_text")></h2>
	<tmpl_if LANIPAddressShow>			
	<h3><tmpl_var truncate(_("webui", "adv_lan_ip4_address_label"), (size(_("webui", "adv_lan_ip4_address_label")) - size(":")))></h3>
		<p> La dirección de IP de este dispositivo, tal como se ve desde la red local. Normalmente, puede usar el valor predeterminado. </p>
	</tmpl_if>

	<tmpl_if LANSubnetMaskShow>	
	<h3><tmpl_var truncate(_("webui", "adv_lan_ip4_subnet_mask_label"), (size(_("webui", "adv_lan_ip4_subnet_mask_label")) - size(":")))></h3>
		<p> El valor predeterminado 255.255.255.0 es el estándar para las redes pequeñas (clase "C"). Si cambia la dirección de IP de LAN, asegúrese de usar la máscara de subred correcta. </p>
	</tmpl_if>

	<tmpl_if LANMacAddressShow>		
	<h3><tmpl_var truncate(_("webui", "adv_lan_ip4_mac_address_label"), (size(_("webui", "adv_lan_ip4_mac_address_label")) - size(":")))></h3>
		<p> La dirección MAC es un identificador de red único, asignado cuando se fabrica un dispositivo de red. Este campo de solo lectura muestra la dirección MAC de las interfaces Wi-Fi y USB de este dispositivo. </p>
	</tmpl_if>

	<tmpl_if LANDHCPEnableShow>
	<h3><tmpl_var truncate(_("webui", "adv_lan_ip4_dhcp_enable_label"), (size(_("webui", "adv_lan_ip4_dhcp_enable_label")) - size(":")))></h3>
		<p>Normalmente, esta opción debe dejarse activada. El servidor DHCP asigna una dirección de IP a cada dispositivo conectado. Si se desactivó el servidor DHCP, sería necesario asignar una dirección de IP fija a cada dispositivo conectado. </p>
	</tmpl_if>

	<tmpl_if LANDHCPLeaseTimeShow>
	<h3><tmpl_var truncate(_("webui", "adv_lan_ip4_dhcp_lease_time_label"), (size(_("webui", "adv_lan_ip4_dhcp_lease_time_label")) - size(":")))></h3>
		<p>Este campo determina la frecuencia con la cual los dispositivos conectados deben renovar la dirección de IP que les asignó el servidor DHCP. Normalmente, esto se puede dejar en el valor predeterminado, pero si tiene requisitos especiales, puede cambiar este valor. </p>
	</tmpl_if>

	<tmpl_if LANDHCPStartAddressShow>
	<h3><tmpl_var truncate(_("webui", "adv_lan_ip4_dhcp_range_begin_label"), (size(_("webui", "adv_lan_ip4_dhcp_range_begin_label")) - size(":")))></h3>
		<p>Si desea cambiar el rango de la dirección de IP usado por el servidor DHCP, puede hacerlo modificando este valor. Esta opción es solo para usuarios expertos. </p>
	</tmpl_if>

	<tmpl_if LANDHCPEndAddressShow>
	<h3><tmpl_var truncate(_("webui", "adv_lan_ip4_current_dhcp_range_label"), (size(_("webui", "adv_lan_ip4_current_dhcp_range_label")) - size(":")))></h3>
		<p>Indica el rango de las direcciones de IP que pueden asignarse a los dispositivos conectados. Si usa una dirección de IP fija en un dispositivo conectado, debe usar una dirección de IP fuera de este rango. </p>
	</tmpl_if>

	<tmpl_if LANReservedIPAddressShow>
        <h3><tmpl_var truncate(_("webui", "adv_lan_reservedIp_help_label"), (size(_("webui", "adv_lan_reservedIp_help_label")) - size(":")))></h3>
                <p>Esta función se puede utilizar para garantizar que el <tmpl_var _("webui", "webui_product_name")> siempre le asignará la misma dirección IP a un dispositivo conectado. Haga clic en este botón para acceder a la pantalla de configuración de esta función.
                </p>
        </tmpl_if>
			
	<tmpl_if ipv6Supported>		
		<h2><tmpl_var _("webui", "adv_lan_ip6_sub_header_text")></h2>
		<tmpl_if showIPv6EnableOption>
		<h3><tmpl_var truncate(_("webui", "adv_lan_ip6_enable_label"), (size(_("webui", "adv_lan_ip6_enable_label")) - size(":")))></h3>
			<p>Si algunos de sus dispositivos conectados admite IPv6, se debe activar esta configuración. Los dispositivos conectados a IPv6 entonces podrán establecer conexiones de IPv6 en Internet. </p>
			
		</tmpl_if>
		<h3><tmpl_var truncate(_("webui", "adv_lan_ip6_link_local_label"), (size(_("webui", "adv_lan_ip6_link_local_label")) - size(":")))></h3>
			<p>Esta es la dirección IPv6 de este dispositivo. La dirección de enlace local se usa para la comunicación de IPv6 entre dispositivos en la misma red. </p>
	</tmpl_if>	
			
	<tmpl_if deviceNameShow>
                <h2><tmpl_var _("webui", "adv_lan_web_management_header_text")></h2>
                <h3><tmpl_var truncate(_("webui", "adv_lan_url_name_label"), (size(_("webui", "adv_lan_url_name_label")) - size(":")))></h3>
                <p>La URL para acceder a la interfaz de usuario de administración web local del dispositivo se basa en el nombre del dispositivo en la página de Preferencias del usuario.</p>
        </tmpl_if>
</div>
<!-- id="lan" -->

