<tmpl_if showEthernet2>
	<tmpl_unless isEth1Wan>
		<option value=4 <tmpl_if IN_SET(ipPassthroughInterface,4)> selected="selected"</tmpl_if>><tmpl_var _("webui","adv_lan_ip_passthrough_interface_ethernet")></option>
	</tmpl_unless>
	<tmpl_unless isEth0Wan>
		<option value=2 <tmpl_if IN_SET(ipPassthroughInterface,2)> selected="selected"</tmpl_if>><tmpl_var _("webui","adv_lan_ip_passthrough_interface_ethernet2")></option>
	</tmpl_unless>
<tmpl_else>
	<option value=2 <tmpl_if IN_SET(ipPassthroughInterface,2)> selected="selected"</tmpl_if>><tmpl_var _("webui","adv_lan_ip_passthrough_interface_ethernet")></option>
</tmpl_if>
<tmpl_if showUSBIPPTOption>
	<option value=1 <tmpl_if IN_SET(ipPassthroughInterface,1)> selected="selected"</tmpl_if>><tmpl_var _("webui","adv_lan_ip_passthrough_interface_usb")></option>
</tmpl_if>
