<script type="text/javascript">
    var clientListSize = parseInt("<tmpl_var connectedPrimaryDevicesCount>");
    var guestClientListSize = parseInt("<tmpl_var connectedGuestDevicesCount>");
    var totalWiFiClients = clientListSize + guestClientListSize;
    var guestWiFiStatus = parseInt("<tmpl_var GuestWifiEnabled>");
    var gettingData = false;
    var loginValue = <tmpl_var gIsLoggedIn>;
    var isRoaming = ("<tmpl_var isRoaming>" == "1") ? true : false;
    var noService = ("<tmpl_var noService>" == "1") ? true : false;
    var isNonVerizon = ("<tmpl_var isNonVerizon>" == "1") ? true : false;
    
    var checkForUpdateClicked = false;
    var softwareUpdateStatus = <tmpl_var updateStatus>;
    var softwareUpdateStatusVal = <tmpl_var value>;
    var configUpdateVersion = "<tmpl_var version>";
    var isPopupClosed = false;

    //<tmpl_comment>Data Usage related stuff</tmpl_comment>
    var retrievalStartText = $("<i/>").html('<tmpl_var _("webui", "data_usage_retrieval_start_text")>').text();
    var retrievalErrorText = $("<i/>").html('<tmpl_var _("webui", "data_usage_retrieval_error_text")>').text();
    //<tmpl_comment>constants</tmpl_comment>
    var USAGE_INFORMATION_STATE_AVAILABLE   =   "available";
    var VZW_ACCOUNT_TYPE_LINE   =   "LINE";
    var VZW_ACCOUNT_TYPE_SHARED = "SHARED";
    var VZW_ACCOUNT_TYPE_UNLIMITED = "UNLIMITED";

    //convenience variables
    var date = new Date();
    var timeoutMaxWait;
    var lastRequestTime = 0;
    var delayTime = 3000; // 3 seconds
    var retrievalDelay = 2000; // 2 seconds
    var maxRetrievalSec = 15000; // 15 seconds
    var stopPolling = false;
    var redirect2 = "";
    var barPercentage = "<tmpl_var barPercentageRemaining>"
    var retrievalTime = 5000; //sim switch status retrieval
    var simSwitchStatus = "<tmpl_var simSwitchStatus>";

    $(function()
    {
        toggleButtons(loginValue);
	checkSimSwitchStatus();

        $(document).ajaxSuccess(function(e, xhr, settings) {
            if ((xhr.responseText) && (settings.dataType == "json")) {
                try {
                    var obj = jQuery.parseJSON(xhr.responseText || "null");
                    var simStatusObj;
                    var connStatusObj;
                    var techObj;
                    var networkObj;

                    if(typeof obj.statusData.isDualSimSupported != "undefined")
                    {
                            if(obj.statusData.isDualSimSupported == 1) {
									if(obj.statusData.ethWanInterface == 1) {
										connStatusObj = "statusBarConnectionStateEthernet";
										techObj = "statusBarTechnologyEthernet";
									}
									else if (obj.statusData.simWanInterface == 1) {
										if(obj.statusData.statusBarActiveSimSlot == 2) {
												simStatusObj = "statusBarSim2Status";
												networkObj = "statusBarSim2Network";
												connStatusObj = "statusBarSim2ConnectionState";
												techObj = "statusBarSim2Technology";
										} else {
												simStatusObj = "statusBarSimStatus";
												networkObj = "statusBarNetwork";
												connStatusObj = "statusBarConnectionState";
												techObj = "statusBarTechnology";
										}
									}
                            } else {
                                    simStatusObj = "statusBarSimStatus";
									if(obj.statusData.simWanInterface == 1) {
										networkObj = "statusBarNetwork";
										connStatusObj = "statusBarConnectionState";
										techObj = "statusBarTechnology";
									}
									else {
										networkObj = "statusBarNetworkEthernet";
										connStatusObj = "statusBarConnectionStateEthernet";
										techObj = "statusBarTechnologyEthernet";
									}
                            }
                    }

                    if ((typeof obj.loginStatus !== "undefined") && (loginValue !== obj.loginStatus)) {
                        loginValue = obj.loginStatus;
                        toggleButtons(loginValue);
                    }
                    var refreshDevicesCalled = false;

                    if (typeof obj.statusData.statusBarWiFiClientListSize !== "undefined") {
                        var primarySize = parseInt(obj.statusData.statusBarWiFiClientListSize);

                        if(primarySize != clientListSize) {
                            clientListSize = primarySize;
                            if(!gettingData) {
                                refreshDevices();
                            }
                            refreshDevicesCalled = true;
                        }
                    }

                    <tmpl_if GuestWifiSupported>
                        if (typeof obj.statusData.statusBarGuestWifiEnabled !== "undefined") {
                            var guestWifi = parseInt(obj.statusData.statusBarGuestWifiEnabled);
                            if (guestWiFiStatus != guestWifi) {
                                guestWiFiStatus = guestWifi;
                            }
                        }
                        if (guestWiFiStatus && (typeof obj.statusData.statusBarGuestClientListSize !== "undefined")) {
                            var guestSize = parseInt(obj.statusData.statusBarGuestClientListSize);
                            
                            if (guestClientListSize != guestSize) {
                                guestClientListSize = guestSize;
                                if (!refreshDevicesCalled) refreshDevices();
                            }
                        }
                    </tmpl_if>
					if(obj.statusData.simWanInterface == 1) {
						if(typeof obj.statusData[simStatusObj] !== "undefined") {
							if(obj.statusData[simStatusObj] == $.uiEnums.SIMSTATUS_READY){
								if(typeof obj.statusData[connStatusObj] !== "undefined") {
									noService = false;
									$("#internetStatus").removeClass('greenColor')
									switch (obj.statusData[connStatusObj]) {
										case $.uiEnums.WANSTATE_NOSERVICE:
											$("#internetStatus").html('<tmpl_var _("webui", "network_no_service_text")>');
											noService = true;
											break;
										case $.uiEnums.WANSTATE_INITIALIZING:
											$("#internetStatus").html('<tmpl_var _("webui", "webui_app_network_initializing_text")>');
											break;
										case $.uiEnums.WANSTATE_SEARCHING:
											$("#internetStatus").html('<tmpl_var _("webui", "network_searching_text")>');
											noService = true;
											break;
										case $.uiEnums.WANSTATE_UNACTIVATED:
											$("#internetStatus").html('<tmpl_var _("webui", "webui_app_sim_status_not_activated_text")>');
											break;
										case $.uiEnums.WANSTATE_IDLE:
											$("#internetStatus").addClass('greenColor').html('<tmpl_var _("webui", "network_ready_text")>');
											break;
										case $.uiEnums.WANSTATE_CONNECTING:
											$("#internetStatus").html('<tmpl_var _("webui", "webui_app_network_connecting_text")>');
											break;
										case $.uiEnums.WANSTATE_DISCONNECTING:
											$("#internetStatus").html('<tmpl_var _("webui", "webui_app_network_disconnecting_text")>');
											break;
										case $.uiEnums.WANSTATE_ACTIVATING:
											$("#internetStatus").html('<tmpl_var _("webui", "webui_app_sim_status_activation_started_text")>');
											break;
										case $.uiEnums.WANSTATE_PCO2:
										case $.uiEnums.WANSTATE_PCO2_DISCONNECTED:
											$("#internetStatus").html('<tmpl_var _("webui", "webui_app_sim_status_account_restricted_text")>');
											break;
										case $.uiEnums.WANSTATE_PCO3:
											$("#internetStatus").html('<tmpl_var _("webui", "webui_app_sim_status_account_out_of_credit_text")>');
											break;
										case $.uiEnums.WANSTATE_PCO5:
											$("#internetStatus").html('<tmpl_var _("webui", "webui_app_sim_status_account_not_active_text")>');
											break;
										case $.uiEnums.WANSTATE_CONNECTED:
											$("#internetStatus").addClass('greenColor').html('<tmpl_var _("webui", "network_connected_text")>');
											break;
										case $.uiEnums.WANSTATE_DORMANT:
											$("#internetStatus").addClass('greenColor').html(obj.statusData[connStatusObj]);
											break;
										default:
											$("#internetStatus").html(obj.statusData[connStatusObj]);
											break;
									}
								}
								if (typeof obj.statusData.statusBarRoaming !== "undefined") {
									isRoaming = (obj.statusData.statusBarRoaming === $.uiEnums.ROAMNONE) ? false : true;
								}                          
							} else {
								if (obj.statusData.isDualSimSupported == 1) {
									$("#internetStatus").html('<tmpl_var _("webui", "network_not_connected_text")>');
								} else {
									if(obj.statusData[simStatusObj] == $.uiEnums.SIMSTATUS_PUK_LOCKED) {
										if ( typeof obj.statusData[connStatusObj] !== "undefined") {
											$("#internetStatus").html('<tmpl_var _("webui", "status_current_sim_puk_locked_text")>'); 
										}
									} else if(obj.statusData[simStatusObj] == $.uiEnums.SIMSTATUS_PIN_LOCKED) {
										if ( typeof obj.statusData[connStatusObj] !== "undefined") {
											$("#internetStatus").html('<tmpl_var _("webui", "status_current_sim_pin_locked_text")>');
										}
									} else if(obj.statusData[simStatusObj] == $.uiEnums.SIMSTATUS_NOT_FOUND) {
										$("#internetStatus").html('<tmpl_var _("webui", "sim_status_no_sim_text")>');
									} else if(obj.statusData.statusBarSimStatus == $.uiEnums.SIMSTATUS_ERROR) {
										$("#internetStatus").html('<tmpl_var _("webui", "sim_status_error_text")>');
									} else if(obj.statusData[simStatusObj] == $.uiEnums.SIMSTATUS_RESTRICTED) {
										$("#internetStatus").html('<tmpl_var _("webui", "sim_status_restriction_text")>');
									} else if(obj.statusData[simStatusObj] == $.uiEnums.SIMSTATUS_PAIR_LOCKED) {
										$("#internetStatus").html('<tmpl_var _("webui", "sim_status_paring_invalid_text")>');
									}
								}
							}
						}
						$("#band").html(obj.statusData.statusBarBand);
						$("#bandwidth").html(obj.statusData.statusBarBandwidth);
					}

					if(obj.statusData.ethWanInterface == 1) {
						if(typeof obj.statusData[connStatusObj] !== "undefined") {
							switch (obj.statusData[connStatusObj]) {
							case $.uiEnums.WANSTATE_CONNECTED:
							$("#internetStatus").html('<tmpl_var _("webui", "webui_app_network_connected_text")>');
							break;
							case $.uiEnums.WANSTATE_IDLE:
							$("#internetStatus").html('<tmpl_var _("webui", "wan_failover_online_status_text")>');
							break;
							default:
							$("#internetStatus").html(obj.statusData[connStatusObj]);
							break;
							}
						}
						$("#band").html('');
						$("#bandwidth").html('');
					}

                    if(typeof obj.statusData[networkObj] !== "undefined") {
                        $("#networkName").text(obj.statusData[networkObj]);
                    }

                    if(typeof obj.statusData[techObj] !== "undefined") {
                        switch (obj.statusData[techObj]) {
                            case $.uiEnums.WANTECH_NONE:
                                $("#technology").html('<tmpl_var _("webui", "wan_technology_None_text")>');
                                break;
                            case $.uiEnums.WANTECH_WIFI:
                                $("#technology").html('<tmpl_var _("webui", "wan_technology_WiFi_text")>');
                                break;
                            case $.uiEnums.WANTECH_GPRS:
                                $("#technology").html('<tmpl_var _("webui", "wan_technology_gprs_text")>');
                                break;
                            case $.uiEnums.WANTECH_1XRTT:
                                $("#technology").html('<tmpl_var _("webui", "wan_technology_1XRTT_text")>');
                                break;
                            case $.uiEnums.WANTECH_EVDO:
                                $("#technology").html('<tmpl_var _("webui", "wan_technology_evdo_revo_text")>');
                                break;
                            case $.uiEnums.WANTECH_UMTS:
                                $("#technology").html('<tmpl_var _("webui", "wan_technology_umts_text")>');
                                break;
                            case $.uiEnums.WANTECH_HSDPA:
                                $("#technology").html('<tmpl_var _("webui", "wan_technology_hsdpa_text")>');
                                break;
                            case $.uiEnums.WANTECH_EDGE:
                                $("#technology").html('<tmpl_var _("webui", "wan_technology_edge_text")>');
                                break;
                            case $.uiEnums.WANTECH_EVDO_REVA:
                                $("#technology").html('<tmpl_var _("webui", "wan_technology_evdo_reva_text")>');
                                break;
                            case $.uiEnums.WANTECH_HSUPA:
                                $("#technology").html('<tmpl_var _("webui", "wan_technology_hsupa_text")>');
                                break;
                            case $.uiEnums.WANTECH_HSPA_PLUS:
                                $("#technology").html('<tmpl_var _("webui", "wan_technology_hspa_plus_text")>');
                                break;
                            case $.uiEnums.WANTECH_LTE:
                                $("#technology").html('<tmpl_var _("webui", "wan_technology_lte_text")>');
                                break;
                            case $.uiEnums.WANTECH_LTE_CA:
                                $("#technology").html('<tmpl_var _("webui", "wan_technology_lte_plus_text")>');
                                break;
                            case $.uiEnums.WANTECH_HSPA_PLUS_DC:
                                $("#technology").html('<tmpl_var _("webui", "wan_technology_hspa_plus_dc_text")>');
                                break;
                            case $.uiEnums.WANTECH_EVDO_REVB:
                                $("#technology").html('<tmpl_var _("webui", "wan_technology_evdo_revb_text")>');
                                break;
                            case $.uiEnums.WANTECH_EVDO_EHRPD:
                                $("#technology").html('<tmpl_var _("webui", "wan_technology_evdo_ehrpd_text")>');
                                break;
                            case $.uiEnums.WANTECH_WIMAX:
                                $("#technology").html('<tmpl_var _("webui", "wan_technology_wimax_text")>');
                                break;
			                case $.uiEnums.WANTECH_5G:
                                $("#technology").html('<tmpl_var _("webui", "wan_technology_5g_text")>');
				                break;
                            case $.uiEnums.WANTECH_5G_UWB:
                                $("#technology").html('<tmpl_var _("webui", "wan_technology_5g_uwb_text")>');
                                break;
                            default:
                                $("#technology").html(obj.statusData[techObj]);
                                break;
                        }
                    }

		    if(typeof obj.statusData.internetStatusIPAddress !== "undefined") {
			$("#internetStatusIPAddress").html(obj.statusData.internetStatusIPAddress);
		    }

                    if(typeof obj.statusData.statusBarConnectionDuration !== "undefined") {
                        $("#connectedTime").text(formatConnectedDurationTime(obj.statusData.statusBarConnectionDuration) + "<tmpl_var _('webui', 'apps_home_connection_time_text_label')>");
                    }

                    if(typeof obj.statusData.StatusBarSoftwareUpdateStatus !== "undefined") {
            if(loginValue) { //<tmpl_comment>Only start checking when user logged-in as the button is hidden when not logged-in</tmpl_comment>
                            getSoftwareUpdateStatus(obj.statusData.StatusBarSoftwareUpdateStatus, obj.statusData.StatusBarSoftwareUpdateValue, obj.statusData.StatusBarSoftwareUpdateVersion);
            }
                    }
                } catch(e) {}
            }

        });

        //console.log("main softwareUpdateStatus[" + softwareUpdateStatus + "] checkForUpdateClicked[" + checkForUpdateClicked + "] isPopupClosed[" + isPopupClosed + "]");
        if ((softwareUpdateStatus != 0) && 
            (softwareUpdateStatus != 8) && 
            (softwareUpdateStatus != 3) && 
            ((softwareUpdateStatus != 9) || 
             ((softwareUpdateStatus == 9) && ((softwareUpdateStatusVal != 0) && (softwareUpdateStatusVal != 1) && (softwareUpdateStatusVal != 2))))) {
            $("#checkForUpdate").prop("disabled", true);
        }

        var statusBarSimStatus = '<tmpl_var simStatus>';
        
        var simOk = "false";
        if(statusBarSimStatus === "<tmpl_var _('webui', 'sim_status_ready_text')>") {
            simOk = "true";
        }

        if(simOk == "false") {
            dataUsageNotAvailable();
        } else {
            //start loop to wait for data usage info to become available
            triggerUsageRetrieval();
        }

        refreshDevices();      

        $("#checkForUpdate").on("click", function(e) {
            //console.log("checkForUpdate button-click checkForUpdateClicked[" + checkForUpdateClicked + "]");
            if(!checkForUpdateClicked) {
                //console.log("checkForUpdate button-click - Triggering check for update");
                checkForUpdate();
            }

            e.stopPropagation();
        });

        <tmpl_if gIsLoggedIn>
            $(".toggle-password-primary").click(function () {
                var password = "<tmpl_var primaryPwd>";
                $(this).toggleClass("eye eye-slash");
                var x = $($(this).attr("toggle"));
                var y = $(x).text();
                if (y == "********") {
                    $(x).text(password);
                } else {
                    $(x).text("********");
                }
            });
            $(".toggle-password-guest").click(function () {
                var password = "<tmpl_var guestPwd>";
                $(this).toggleClass("eye eye-slash");
                var x = $($(this).attr("toggle"));
                var y = $(x).text();
                if (y == "********") {
                    $(x).text(password);
                } else {
                    $(x).text("********");
                }
            });
        </tmpl_if>
    });

    function toggleButtons(loginStatus) {
        if(loginStatus) {
            $("#primaryPwd").show();
            $("#guestPwd").show();
            $("#checkForUpdate").show();
        } else {
            //$("#primaryPwd").hide();
            //$("#guestPwd").hide();
            $("#checkForUpdate").hide();
        }
    }

    function triggerCheckForUpdate() {
        $("#checkForUpdate").prop("disabled", true);
        checkForUpdateClicked = true;
        modalPopup.createWindow("<tmpl_var _('webui', 'apps_home_software_update_text')>",
            "<p><tmpl_udf GET_PO_TEXT( 'apps_home_check_for_update_popup_text', gProductName, gProductNumber)></p><br><table class='popuptable'><td class='loading'></td><td><tmpl_var _('webui', 'apps_home_please_wait_text')></td></table>",
            430, "auto", null, null,
            function(){
                isPopupClosed = true;
            });
        $.ajax({
            url : "<tmpl_udf GET_URI('apps_home_check_for_update')>",
            type : "POST",
            data : { gSecureToken : "<tmpl_var gSecureToken>" },
            dataType : "json",
            success : function(data, textStatus, xhr) {
                //console.log("check-for-update success");                
            },
            error : function(xhr, textStatus, errorThrown) {
                //console.log("check-for-update fail");
                checkForUpdateClicked = false;
                modalPopup.destroyWindow();
                showPopup("<tmpl_var _('webui', 'software_update_check_for_update_text')>", "<p><tmpl_var _('webui', 'software_update_connection_error_text')></p>");
                isPopupClosed = false;
                setTimeout(function() { 
                    if (!isPopupClosed) {
                        modalPopup.destroyWindow();
                        isPopupClosed = true;
                    }
                }, 5000);
            }
        });
    }

    function checkForUpdate() {
        <tmpl_if ProductCarrierValidation>
            if (isRoaming) {
                showPopup("<tmpl_var _('webui', 'software_update_check_for_update_roaming_header_text')>", "<p><tmpl_var _('webui', 'software_update_roaming_error_text')></p>");
            } else if (noService){
                showPopup("<tmpl_var _('webui', 'software_update_check_for_update_cannot_connect_header_text')>", "<p><tmpl_var _('webui', 'software_update_connection_error_text')></p>");
            } else if (isNonVerizon){
                showPopup("<tmpl_var _('webui', 'software_update_check_for_update_non_verizon_header_text')>", "<p><tmpl_var _('webui', 'software_update_non_verizon_network_error_text')></p>");
            } else {
                triggerCheckForUpdate();
            }
        <tmpl_else>
            triggerCheckForUpdate();
        </tmpl_if>
    }

    function getSoftwareUpdateStatus(softwareUpdateStatus, softwareUpdateStatusVal, configUpdateVersion) {
        var title;
        var text;

        if ((softwareUpdateStatus != 0) && 
            (softwareUpdateStatus != 8) && 
            (softwareUpdateStatus != 3) && 
            ((softwareUpdateStatus != 9) || 
            ((softwareUpdateStatus == 9) && ((softwareUpdateStatusVal != 0) && (softwareUpdateStatusVal != 1) && (softwareUpdateStatusVal != 2))))) {
            $("#checkForUpdate").prop("disabled", true);
        }

        //console.log("getSoftwareUpdateStatus - success softwareUpdateStatus[" + softwareUpdateStatus + "] checkForUpdateClicked[" + checkForUpdateClicked + "] isPopupClosed[" + isPopupClosed + "] softwareUpdateStatusVal[" + softwareUpdateStatusVal + "]");
        if(checkForUpdateClicked) {
            if (softwareUpdateStatus === 2) { // <tmpl_comment>WEBUI_SOFTWARE_UPDATE_CONFIGURATION_UPDATED</tmpl_comment>
                checkForUpdateClicked = false;
                title = "<tmpl_var _('webui', 'apps_home_software_update_text')>";
                text = "<p><tmpl_udf GET_PO_TEXT( 'apps_home_config_update_popup_text', gProductName, gProductNumber, configUpdateVersion)></p>";
            } else if (softwareUpdateStatus === 3) { // <tmpl_comment>WEBUI_SOFTWARE_UPDATE_NOT_AVAILABLE</tmpl_comment>
                checkForUpdateClicked = false;
                title = "<tmpl_var _('webui', 'apps_home_software_update_text')>";
                text = "<p><tmpl_udf GET_PO_TEXT( 'apps_home_no_update_available_popup_text', gProductName, gProductNumber)></p>";
            } else if (softwareUpdateStatus === 4) { // <tmpl_comment>WEBUI_SOFTWARE_UPDATE_AVAILABLE</tmpl_comment>
                checkForUpdateClicked = false;
                title = "<tmpl_var _('webui', 'apps_home_software_update_available_text')>";
                text = "<p><tmpl_udf GET_PO_TEXT('apps_home_software_update_available_popup_text', gProductName, gProductNumber)></p>";
            } else if (softwareUpdateStatus === 9) { // <tmpl_comment>WEBUI_SOFTWARE_UPDATE_ERROR</tmpl_comment>
                 if (softwareUpdateStatusVal === 6) { //<tmpl_comment>WEBUI_SOFTWARE_UPDATE_CHECK_FAILED_LOW_BATTERY_ERROR</tmpl_comment>
                    checkForUpdateClicked = false;
                    title = "<tmpl_var _('webui', 'apps_home_software_update_low_battery_header_text')>";
                    text = "<p><tmpl_udf GET_PO_TEXT( 'apps_home_software_update_error_low_battery_popup_text', gProductName, gProductNumber, lowBatteryThresholdLimit)></p>";
                 } else if (softwareUpdateStatusVal === 0) { //<tmpl_comment>WEBUI_SOFTWARE_UPDATE_CHECK_FAILED_ERROR</tmpl_comment>
                     checkForUpdateClicked = false;
                     title = "<tmpl_var _('webui', 'apps_home_software_update_error_text')>";
                     text = "<p><tmpl_var _('webui', 'apps_home_software_update_error_popup_text')></p>";
                } else if (softwareUpdateStatusVal === 4) { // <tmpl_comment>WEBUI_SOFTWARE_UPDATE_ROAMING_ERROR</tmpl_comment>
                    checkForUpdateClicked = false;
                    title = "<tmpl_var _('webui', 'apps_home_software_update_error_text')>";
                    text = "<p><tmpl_var _('webui', 'apps_home_software_update_error_popup_text')></p>";
                } else if (softwareUpdateStatusVal === 5) { // <tmpl_comment>WEBUI_SOFTWARE_UPDATE_NETWORK_COVERAGE_ERROR</tmpl_comment>
                    checkForUpdateClicked = false;
                    title = "<tmpl_var _('webui', 'apps_home_software_update_error_text')>";
                    text = "<p><tmpl_var _('webui', 'apps_home_software_update_error_popup_text')></p>"
                }
            } else if ((softwareUpdateStatus === 6) || (softwareUpdateStatus === 7) || (softwareUpdateStatus === 10)) {
                checkForUpdateClicked = false;
                modalPopup.destroyWindow();
            }

            if ((title !== undefined) && (text !== undefined)) {
                modalPopup.destroyWindow();
                modalPopup.createWindow(title, text, 430, "auto",  [{
            text : '<tmpl_var _("webui", "webui_modal_ok_button")>',
            className : "primary",
            trigger: function() {isPopupClosed = true;}
        }], null, function() {isPopupClosed = true;});
                isPopupClosed = false;
                setTimeout(function() { 
                    if (!isPopupClosed) {
                        modalPopup.destroyWindow();
                        isPopupClosed = true;
                    }
                }, 5000);
            }
        }

         if ((softwareUpdateStatus == 0) || 
            (softwareUpdateStatus == 8) || 
            (softwareUpdateStatus == 3) ||
            ((softwareUpdateStatus == 9) && ((softwareUpdateStatusVal == 0) || (softwareUpdateStatusVal == 1) || (softwareUpdateStatusVal == 2)))) {
            $("#checkForUpdate").prop("disabled", false);
        }
    }

    function showPopup(title, msg) {
        modalPopup.createWindow(title, msg, 430, "auto", [{
            text : '<tmpl_var _("webui", "webui_modal_ok_button")>',
            className : "primary",
            trigger: function() {
            }
        }], null, function(){
        });
    }

    function checkSimSwitchStatus()
    {
          $.ajax({
                  url: "<tmpl_udf GET_URI('apps_home_check_sim_status')>",
                  type : "GET",
                  dataType : "json",
                  success : function(data, textStatus, xhr) {
                        // If no network connected, success event still occurs.
                        // We need to implicitly see an xhr.status greater than 0 to know we have actually
                        // made contact.
                        if ((xhr.readyState == 4 ) && (xhr.status == 200)) {
                                if((simSwitchStatus != data.simSwitchStatus) || (data.simSwitchStatus === 1)) {
                                        simSwitchStatus = data.simSwitchStatus;
                                        if((data.simSwitchStatus == 2) || (data.simSwitchStatus == 3)) {
						if(($("#showLogin").html() == 0) && !loginClicked) {
							location.reload();
						}
                                        }
                                }
                        }
                  },
                  error : function(xhr, textStatus, errorThrown) {
                  },
                  complete : function(xhr, textStatus) {
                        setTimeout(checkSimSwitchStatus, retrievalTime);
                  }
          });
    }

    function formatConnectedDurationTime(seconds) {
        var days = Math.floor(seconds / 86400);
        var hours = Math.floor((seconds - (days * 86400)) / 3600);
        var minutes = Math.floor((seconds - (days * 86400) - (hours * 3600)) / 60);
        var seconds = seconds - (days * 86400) - (hours * 3600) - (minutes * 60);
        var time = "";

        days = (days < 10) ? "0" + days : String(days);
        hours = (hours < 10) ? "0" + hours : String(hours);
        minutes = (minutes < 10) ? "0" + minutes : String(minutes);
        time += days + ":" + hours + ":" + minutes + ":";
		time += (seconds < 10) ? "0" + seconds : String(seconds);
        //time += days + " <tmpl_var _('webui', 'apps_home_days_text')>, " + hours + " hrs, " + minutes + " min";
        //time += (seconds < 10) ? "0" + seconds : String(seconds);

        return time;
    }

    <tmpl_comment>
    /**
     * refreshDevices()
     *
     * Empty the connected table, reset the layout, and get new data.
     */</tmpl_comment>
    function refreshDevices() {
        gettingData = true;
        $("#connectedDevicesTable tbody").empty();
        $("#noConnectedDevices").hide();
        $("#ConnectedDevicesUpdatingData").show();
        getDevicesdata();
    }

    <tmpl_comment>
    /**
     * getDeviceData()
     *
     * Kicks off the AJAX call to get new data about connected, connected guest devices
     *
     * Once we have data back, it will kick off the Build Table methods.
     */</tmpl_comment>
    function getDevicesdata() {
        $.ajax({
            url : "<tmpl_udf GET_URI('apps_home_connected_devices_refresh')>",
            type : "GET",
            dataType : "json",
            success : function(data) {
                //check if there is data. if so, make the table. if not, show no devices message.
                $("#ConnectedDevicesUpdatingData").hide();

                if(data["connectedDevicesList"].length > 0){
                    clientListSize = parseInt(data["wifiDevicesCount"]);
                    buildTableFromJson(data["connectedDevicesList"]);
                    $("#connectedDevicesTable").show();
                } else {
                    // Ideally this case should never occur.                    
                    $("#connectedDevicesTable thead").hide();
                    $("#noConnectedDevices").show();
                }

                if(totalWiFiClients != data["wifiDevicesCount"]) {
                    totalWiFiClients = data["wifiDevicesCount"];
                }
                /*if(totalWiFiClients == 0) {
                    var txt = '<tmpl_var _("webui", "connected_devices_menu_text")>';
                    $("#connectedDevicesHeader").html(txt);                    
                } else {
                    var txt = '<tmpl_var _("webui", "connected_devices_menu_text")> ' + ": " + totalWiFiClients;
                    $("#connectedDevicesHeader").html(txt);
                }*/
                gettingData = false;
            },
            error : function(xhr, textStatus, errorThrown) {
                if( (xhr.status == 401) || (xhr.status == 403) || (xhr.status == 406) ) {
                    $("#ConnectedDevicesUpdatingData").hide();
                    $("#connectedDevicesTable thead").hide();
                    $("#noConnectedDevices").show();
                }
                gettingData = false;
            }
        });
    }

    <tmpl_comment>
    /**
     * buildTableFromJson()
     *
     * data: object - AJAX result
     *
     * Builds new rows using AJAX result data. Gives rows appropriate attributes and event handling.
     * These rows are replace rows in the existing tbody elements.
     */</tmpl_comment>
    function buildTableFromJson(data) {
        $('#connectedDevicesTable thead').show();
        
        //<tmpl_comment>Loop each row of Devices.</tmpl_comment>
        $.each(data, function(id, value) {
            var newRow;
            var displayName = this.name;
            displayName = (displayName == "") ? this.hostname : displayName;
            displayName = ((displayName == "")||(typeof displayName == "undefined")) ? "Unknown" : displayName;

            newRow = $('<tr id="deviceDetails_' + id + '" class="deviceInformationRow">');
            newRow.append('<td class="deviceName">' + displayName + '</td>');
            newRow.append('<td class="networkType">' + this.networkType + '</td>');
            $('#connectedDevicesTable tbody').append(newRow);
        });

        updateUniformElements($("#connectedDevicesTable tbody"));
    }

    <tmpl_comment>
    /**
     * updateUniformElements()
     *
     * $el: object - jQuery DOM object
     *
     * If using the Uniform jQuery plugin, reapply uniform features to specific form elements in the DOM
     */</tmpl_comment>
    function updateUniformElements($el) {
        if (jQuery.uniform) {
            // <tmpl_comment>This is for uniform 1 and uniform 2 compatibility.</tmpl_comment>
            var uniformOptions = (typeof $.uniform.options !== "undefined") ? $.uniform.options : $.uniform.defaults;
            if (uniformOptions.filter) {
                if (typeof $el !== "undefined") {
                    $el.find(uniformOptions.filter).uniform();
                } else {
                    $(uniformOptions.filter).uniform();
                }
            }
        }
    }

    function triggerUsageRetrieval()
    {
        $("#retrieval_status").addClass('loading').text(retrievalStartText);
        $.ajax({
            url : "<tmpl_udf GET_URI('apps_home_data_usage_retrieve')>",
            type : "GET",
            dataType : "json",
            success : function(data) {
                maxRetrievalSec = data["maxRetrievalDuration"]*1000;
                // Let's give some time before first checking usage
                setTimeout(kickOff, retrievalDelay);
            },
            error : function(xhr, textStatus, errorThrown) {
                //something went wrong with the trigger, simply revert to proper message
                dataUsageNotAvailable();
            }
        });
    }

    function kickOff()
    {
        timeoutMaxWait = setTimeout(function(){
            dataUsageNotAvailable();
            clearTimeout(timeoutMaxWait);
            stopPolling = true;
        }, maxRetrievalSec);
        backYet();
    }

    function backYet()
    {
        $.ajax({
            url : "<tmpl_udf GET_URI('apps_home_data_usage_info')>",
            type : "GET",
            dataType : "json",
            timeout : maxRetrievalSec,
            success: function(data, textStatus, xhr) {
                // If no network connected, success event still occurs.
                // We need to implicitly see an xhr.status greater than 0 to know we've actually made contact.
                if ( (xhr.readyState == 4 ) && (xhr.status > 0) ) {
                    if( (data["usageInformationAvailable"] != false)) {
                        $("#retrieval_status").hide();
                        clearTimeout(timeoutMaxWait);
                        stopPolling = true;
			if (data["allowance"] == 0) {
				console.log("inside the data allownace");
				$("#usageTitle").html('<tmpl_var _("webui", "data_usage_my_dataunlimited_plan_text")>');                                
			        //$("#usedPercentage").text('<tmpl_var _("webui", "data_usage_unlimited_plan_text")>');                                   
				$("#usedPercentage").html('<div class="percent" style="font-size:18px;"><tmpl_var _("webui", "data_usage_unlimited_plan_text")></div>');
			        $("#data_plan_circle .dataInfo").css("display", "none");                                                                
					$(".usedBox").css("background-color", "#8f8f8f");
			        $("#dataUsed").html(data["lineUsage"] + ' ' + data["unit"] + ' ' +'<tmpl_var _("webui", "apps_home_data_used_text")>' );
			        $("#data_plan_usage_bar_col .remaining span.remainingBox ").css("display", "none");
			} else {
				$("#dataUsageTitle").html('<tmpl_var _("webui", "apps_home_my_plan_text")>' + ' ' + + data["allowance"] + ' ' + data["unit"] + '<tmpl_var _("webui", "apps_home_allowance_description_text")>');
	                        $("#usageTitle").html('<tmpl_var _("webui", "apps_home_data_usage_text")>' + ' ' +'<span class="usage_data">' + data["remainingUsage"] + ' ' + data["unit"] + ' ' + '<tmpl_var _("webui", "apps_home_remaining_text")> </span>');
	                        $("#usedPercentage").html('<span class="count">' + data["barPercentageRemaining"] + '%'+'</span>' );
	                        //$("#totalUsagePercentage").attr('style', 'width: ' + data["barPercentageTotalShrUsage"] + '%');
	                        $("#remainingData").html('<span class="dataInfo">' + data["remainingUsage"] + ' ' + data["unit"] +'</span>');
	                        $("#dataUsed").html(data["lineUsage"] + ' ' + data["unit"] + ' ' +'<tmpl_var _("webui", "apps_home_data_used_text")>' );
	                        $("#dataRemaining").html(data["remainingUsage"] + ' ' + data["unit"] +'<tmpl_var _("webui", "data_usage_remaining_text")>' );
	                        $("#remainingText").html('<tmpl_var _("webui", "data_usage_remaining_text")>');
	                       // var progressPercent = $('.progress-wrap').data('progress-percent');
	                        $('.progress-wrap').data('progress-percent', 'data["barPercentageRemaining"]')
							$(".usedBox").css("background-color", "#0082ca");
			}
                        $("#deviceUsage").html('<tmpl_var _("webui", "apps_home_cycle_ends_text")>' + ' ' + data["cycleEndDt"]);           
                        $("#data_plan_circle_inner").html(data["daysLeft"]);
                        if (data["daysLeft"] == 1 ){
                            $("#data_plan_circle_outer").html('<tmpl_var _("webui", "data_usage_day_to_go_text")>');
                        } else {
                            $("#data_plan_circle_outer").html('<tmpl_var _("webui", "data_usage_days_to_go_text")>');
                        }
                        $("#data_plan_circle").show();
                        $("#data_plan_usage_bar_col").show();
                        barPercentage = data["barPercentageRemaining"];
                        moveProgressBar(); //Progress Bar 
                    }
                  
                }
            },
            complete : function(xhr, textStatus) {
                if(stopPolling == false) {
                    // Long Polling, until timeout.
                    // timeout doesn't seem to kick in if no network response is returned.
                    // All this delay nonsense is for Window's benefit.
                    var diff = date.getTime() - lastRequestTime;
                    var delay = (diff > delayTime) ? 0 : delayTime - diff;
                    lastRequestTime = date.getTime();
                    setTimeout(backYet, delay);
                }
            }
        });
       
    }

    function dataUsageNotAvailable()
    {
        $("#retrieval_status").removeClass('loading').text('').hide();
        $("#retrieval_status").css("padding-top", "0px");
        $("#deviceUsage").html('<tmpl_var _("webui", "apps_home_data_usage_not_available_text")>');
        //$("#totalUsagePercentage").attr('style', 'width: 0%');
        $("#data_plan_circle").hide();
        $("#data_plan_usage_bar_col").show();
        $("#data_plan_usage_bar").hide();
        $("#data_plan_usage_bar_col").hide();
    }

    // on browser resize...
    $(window).resize(function() {
        moveProgressBar();
    });

    // PROGRESS
    function moveProgressBar() {
     // console.log("moveProgressBar");
        var getPercent = (barPercentage / 100);
        var getProgressWrapWidth = $('.progress-wrap').width();
        var progressTotal = getPercent * getProgressWrapWidth;
        var animationLength = 2500;
        
        // on page load, animate percentage bar to data percentage length
        // .stop() used to prevent animation queueing
        <tmpl_if IN_SET(gLangDirection, "rtl")> 
            $('.progress-bar').stop().animate({
                right: progressTotal
            }, animationLength);
        <tmpl_else>
            $('.progress-bar').stop().animate({
                left: progressTotal
            }, animationLength);
        </tmpl_if>
    }
    $('.count').each(function () {
        $(this).prop('Counter',0).animate({
            Counter: $(this).text()
        }, {
            duration: 3000,
            easing: 'linear',
            step: function (now) {
                $(this).text(Math.ceil(now));
            }
        });
    });

</script>

<fieldset id="home" class="clearfix">
    <div class="ig_section ig_group">
        <div class="ig_row">
            <div class="ig_col ig_9">
                <div class="ig_row">
                    <div class="ig_col ig_8">
                        <div id="dataUsage" class="ig_card">
						 <tmpl_if IN_SET(isMultiSim, "true")>
							<h2>
							<tmpl_var _("webui", "apps_home_data_usage_text")>
							&nbsp;
								<tmpl_if IN_SET(isSimExists, "true")>
									<tmpl_if IN_SET(activeSlot, "1")>
										<tmpl_udf GET_PO_TEXT('apps_home_sim1_imsi_status_label', internetInfoIMSI, simState)>
									<tmpl_else>
										<tmpl_udf GET_PO_TEXT('apps_home_sim2_imsi_status_label', internetInfoIMSI, simState)>
									</tmpl_if>
								</tmpl_if>
							</h2>
						   </tmpl_if>
                            <div class="ig_card_body">
                                <div class="ig_row">
									<div class="ig_col ig_4">
                                        <div id="data_plan_circle" class="duCircleBlock" style="display: none;">
                                            <div class="duCircle">
                                                <div id="usedPercentage" class="percent"><span class="count"><tmpl_var barPercentageRemaining></span>%</div>
                                                <div class="dataInfo"> <span id="remainingData"></span><tmpl_var _("webui", "data_usage_of_text")> <span id="remainingText"></span></div>
                                                <div class="remainingDaysCircleHolder">
                                                    <div id="data_plan_circle_inner" class="remainingDaysCircle">
                            
                                                    </div>
                                                </div>
                                            </div>
                                            <span id="data_plan_circle_outer"></span>
                                        </div>
                                    </div>
                                    <div class="ig_col ig_8">
                                        <div id="retrieval_status" class="usage_status"></div>
                                        <!-- bar -->
                                        <div id="data_plan_wrapper" class="progress_bar_wrapper clearfix">
                                            <div id="data_plan_usage_bar_col" class="clearfix" style="display:none;">
						<div id="status_title" class="data_usage_status clearfix"><h3 class="title" id="dataUsageTitle"></h3></div>
                                                <div id="usageTitle"></div>
						<br>
						<div class="used"><span class="usedBox">&nbsp;</span> <span id="dataUsed"></span> </div><div class="remaining"><span class="remainingBox">&nbsp;</span> <span id="dataRemaining"></span> </div>
                                                <div class="progress-wrap progress" data-progress-percent="<tmpl_var barPercentageRemaining>">
                                                    <div class="progress-bar progress"></div>
                                                </div>
                                            </div>
                                            <div id="data_plan_usage_bar_footer" class="clearfix">
                                                <div class="lineUsage" id="deviceUsage" x-ms-format-detection="none"></div>
                                            </div>
                                        </div>
                                        <!-- /bar -->
                                    </div>
                                </div>
                            </div>
                            <div class="ig_card_footer">
                                <a href="<tmpl_udf GET_URI('data_usage')>" class="navigationLink">
                                    <img src="/assets/images/icons/navigation_arrow.png" />
                                </a>
                            </div>
                        </div> <!-- / End of DataUsage -->
                    </div>
					<tmpl_if IN_SET(isMultiSim, "false")>
                    <div class="ig_col ig_4">
                        <div id="about" class="ig_card">
                            <h2> <tmpl_var _("webui", "about_group_side_menu_text")> </h2>
                            <div class="ig_card_body">
                                <div class="row">
                                    <strong> <tmpl_var _("webui", "apps_home_internet_status_label")> </strong>
                                    <span id="internetStatus">
                                        <tmpl_var internetStatus>
                                    </span>
                                </div>
                                <div class="row">
                                    <strong> <tmpl_var _("webui", "apps_home_network_name_text")> </strong>
                                    <span id="networkName"> <tmpl_var networkName> </span>
                                </div>
                                <div class="row">
                                    <strong> <tmpl_var _("webui", "apps_home_technology_text")> </strong>
                                    <span id="technology"> <tmpl_var technology> </span>
                                </div>
                                <div class="row">
                                    <strong> <tmpl_var _("webui", "apps_home_time_connected_text")> </strong>
                                    <span id="connectedTime"><tmpl_var connectedTime><br><tmpl_var _("webui", "apps_home_connection_time_text_label")></span>
                                </div>
                            </div>
                            <div class="ig_card_footer">
                                <a href="<tmpl_udf GET_URI('status_current')>" class="navigationLink">
                                    <img src="/assets/images/icons/navigation_arrow.png"/>
                                </a>
                            </div>
                        </div> <!-- /End of About -->
                    </div>
					</tmpl_if>
					<tmpl_if IN_SET(isMultiSim, "true")>
                    <div class="ig_col ig_4">
                        <div id="generalStatus" class="ig_card">
                            <h2> <tmpl_var _("webui", "apps_home_current_sim_status_label")> </h2>
                            <tmpl_if IN_SET(isSimExists, "true")>
                                 <tmpl_if IN_SET(activeSlot, "1")>
                                      <span><strong><tmpl_udf GET_PO_TEXT('apps_home_sim1_imsi_status_label', internetInfoIMSI, simState)></strong></span>
                                 <tmpl_else>
                                      <span><strong><tmpl_udf GET_PO_TEXT('apps_home_sim2_imsi_status_label', internetInfoIMSI, simState)></strong></span>
                                 </tmpl_if>
                            </tmpl_if>

                            <div class="ig_card_body">
                                <fieldset>
                                    <div class="row clearfix">
                                        <div class="col label"><tmpl_var _("webui", "apps_home_current_network_name_label")>:</div>
                                        <div class="col textCol" id="networkName"><tmpl_var networkName></div>
                                    </div>
                                    <div class="row clearfix">
                                        <div class="col label"><tmpl_var _("webui", "apps_home_current_sim_iccid_label")>:</div>
                                        <div class="col textCol" id="internetInfoICCID"><tmpl_var internetInfoICCID></div>
                                    </div>
                                    <div class="row clearfix">
                                        <div class="col label"><tmpl_var _("webui", "apps_home_current_imsi_label" )>:</div>
                                        <div class="col textCol" id="internetInfoIMSI"><tmpl_var internetInfoIMSI></div>
                                    </div>
                                    <div class="row clearfix">
                                        <div class="col label"><tmpl_var _("webui", "apps_home_current_phone_number_label" )>:</div>
                                        <div class="col textCol" id="internetMDN"><tmpl_if gIsLoggedIn><tmpl_var internetMDN><tmpl_else>**********</tmpl_if></div>
                                    </div>
                                    <div class="row clearfix">
                                        <div class="col label"><tmpl_var _("webui", "apps_home_current_apn_label" )>:</div>
                                        <div class="col textCol" id="internetAPN"><tmpl_var internetAPN></div>
                                    </div>
                                    <div class="row clearfix">
                                        <div class="col label"><tmpl_var _("webui", "apps_home_current_ecgi_label" )>:</div>
                                        <div class="col textCol" id="internetStatusECGI"><tmpl_var internetStatusECGI></div>
                                    </div>
                                    <div class="row clearfix">
                                        <div class="col label"><tmpl_var _("webui", "apps_home_current_signal_pci_label")>:</div>
                                        <div class="col textCol" id="pci"><tmpl_var pci></div>
                                    </div>
                                    <div class="row clearfix">
                                        <div class="col label"><tmpl_var _("webui", "apps_home_current_rsrp_label" )>:</div>
                                        <div class="col textCol" id="internetStatusRSRP"><tmpl_var internetStatusRSRP><tmpl_var _("webui", "status_diagnostics_signal_strength_unit")></div>
                                    </div>
                                    <div class="row clearfix">
                                        <div class="col label"><tmpl_var _("webui", "apps_home_current_rsrq_label" )>:</div>
                                        <div class="col textCol" id="internetStatusRSRQ"><tmpl_var internetStatusRSRQ><tmpl_var _("webui", "status_diagnostics_signal_strength_unit")></div>
                                    </div>
                                    <tmpl_if is3G>
                                        <div class="row clearfix">
                                                <div class="col label"><tmpl_var _("webui", "apps_home_current_sinr_label")>:</div>
                                                <div class="col textCol" id="sinr"><tmpl_var sinr><tmpl_var _("webui", "status_diagnostics_db_unit")></div>
                                        </div>
                                    <tmpl_else>
                                        <div class="row clearfix">
                                                <div class="col label"><tmpl_var _("webui", "apps_home_current_sim_snr_label")>:</div>
                                                <div class="col textCol" id="snr"><tmpl_var internetStatusSNR><tmpl_var _("webui", "status_diagnostics_db_unit")></div>
                                        </div>
                                    </tmpl_if>
                                </fieldset>
                            </div>
                        </div>
                    </div>
					</tmpl_if>
                </div>
                <div class="ig_row border-top">
                    <div class="ig_col ig_4">
                        <div id="wifi" class="ig_card">
                            <h2> <tmpl_var _("webui", "wifi_settings_top_menu_text")> </h2>
                            <div class="ig_card_body">
                               <div class="row">
                                    <strong> <tmpl_var _("webui", "apps_home_primary_network_label")> </strong>
                                    <tmpl_if primaryWiFiEnabled>                    
                                        <span class="greenColor"><tmpl_var _("webui", "apps_home_on_text")></span>
                                    <tmpl_else>
                                        <span><tmpl_var _("webui", "apps_home_off_text")></span>
                                    </tmpl_if>
                                </div>
                                <tmpl_if primaryWiFiEnabled>
                                    <div class="row">
                                        <strong> <tmpl_var _("webui", "apps_home_wifi_ssid_text")> </strong> <span> <tmpl_var primarySSID> </span>
                                    </div>
                                    <div id="primaryPwd" class="row text">
                                        <strong><tmpl_var _("webui", "apps_home_wifi_password_text")></strong>
                                        <span>
                                            <tmpl_if gIsLoggedIn>
                                                <span id="primaryPassword">********</span>
                                                <span toggle='#primaryPassword' class='eye toggle-password-primary'></span>
                                            <tmpl_else> ******** </tmpl_if>
                                        </span>
                                    </div>
                                </tmpl_if>
                                <div class="row">
                                    <strong> <tmpl_var _("webui", "apps_home_guest_network_label")> </strong>
                                    <tmpl_if guestWiFiEnabled>
                                        <span class="greenColor"><tmpl_var _("webui", "apps_home_on_text")></span>
                                    <tmpl_else>
                                        <span><tmpl_var _("webui", "apps_home_off_text")></span>
                                    </tmpl_if>
                                </div>
                                <tmpl_if guestWiFiEnabled>
                                    <div class="row">
                                        <strong> <tmpl_var _("webui", "apps_home_wifi_ssid_text")> </strong> <span> <tmpl_var guestSSID> </span>
                                    </div>
                                    <div id="guestPwd" class="row text">
                                        <strong> <tmpl_var _("webui", "apps_home_wifi_password_text")>  </strong>
                                        <span>
                                            <tmpl_if gIsLoggedIn>
                                                <span id="guestPassword">********</span>
                                                <span toggle='#guestPassword' class='eye toggle-password-guest'></span>
                                            <tmpl_else> ******** </tmpl_if>
                                        </span>
                                    </div>
                                </tmpl_if> 
                            </div>
                            <div class="ig_card_footer">
                                <a href="<tmpl_udf GET_URI('wifi_advanced_settings')>" class="navigationLink">
                                    <img src="/assets/images/icons/navigation_arrow.png"/>
                                </a>
                            </div>
                        </div> <!-- End of Wi-Fi -->
                    </div>
                    <div class="ig_col ig_4">
                        <div id="settings" class="ig_card">
                            <h2> <tmpl_udf GET_PO_TEXT("settings_group_title_text", gProductName)> </h2>
                            <div class="ig_card_body">
                                <div class="row">
                                    <strong> <tmpl_var _("webui", "apps_home_port_filtering_label")> </strong>
                                    <tmpl_if portFilteringEnabled>
                                        <span class="greenColor"><tmpl_var _("webui", "apps_home_on_text")></span>
                                    <tmpl_else>
                                        <span><tmpl_var _("webui", "apps_home_off_text")></span>
                                    </tmpl_if>
                                </div>
                                <p> <tmpl_var _("webui", "apps_home_port_filtering_text")> </p>
							</div>
                            <div class="ig_card_footer">
                                <a href="<tmpl_udf GET_URI('user_preferences')>" class="navigationLink">
                                    <img src="/assets/images/icons/navigation_arrow.png"/>
                                </a>
                            </div>
                        </div> <!--End of Settings -->
                    </div>
					<tmpl_if IN_SET(isMultiSim, "false")>
                    <div class="ig_col ig_4">
                        <div id="help" class="ig_card">
                            <h2> <tmpl_var _("webui", "apps_home_support_text")> </h2>
                            <div class="ig_card_body">
                                <div class="row">
                                    <ul>
                                        <li><a href="<tmpl_udf GET_EXTERNAL_URI('provider_user_guide')>" target="_blank"><tmpl_var _("webui", "apps_home_device_support_text")></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="ig_card_footer">
                                <a href="<tmpl_udf GET_URI('help_faq')>" class="navigationLink">
                                    <img src="/assets/images/icons/navigation_arrow.png"/>
                                </a>
                            </div>
                        </div> <!-- End of Help -->
                    </div>
					</tmpl_if>
					<tmpl_if IN_SET(isMultiSim, "true")>
                    <div class="ig_col ig_4">
                        <div id="generalInfo" class="ig_card">
                            <h2>
                                <tmpl_var _("webui", "apps_home_general_information_header_text" )>
                            </h2>
                            <div class="ig_card_body">
                                <div class="row clearfix">
                                    <fieldset>
                                        <div class="row clearfix">
                                            <div class="col label"><tmpl_var _("webui", "apps_home_current_technology_label")>:</div>
                                            <div class="col textCol" id="technology"><tmpl_var technology></div>
                                        </div>
                                        <div class="row clearfix">
                                            <div class="col label"><tmpl_var _("webui", "apps_home_current_signal_band_label")>:</div>
                                            <div class="col textCol" id="band"><tmpl_var band></div>
                                        </div>
                                        <div class="row clearfix">
                                            <div class="col label"><tmpl_var _("webui", "apps_home_bandwidth_label")>:</div>
                                            <div class="col textCol" id="bandwidth"><tmpl_var bandwidth></div>
                                        </div>
                                        <div class="row clearfix">
                                            <div class="col label"><tmpl_var _("webui", "apps_home_current_connection_status_label")>:</div>
                                            <div class="col textCol" id="internetStatus"><tmpl_var internetStatus></div>
                                        </div>
                                        <div class="row clearfix">
                                            <div class="col label"><tmpl_var _("webui", "apps_home_current_sim_status_label")>:</div>
                                            <div class="col textCol" id="simStatus"><tmpl_var simStatus></div>
                                        </div>
                                        <div class="row clearfix">
                                            <div class="col label"><tmpl_var _("webui", "apps_home_current_fm_version_label")>:</div>
                                            <div class="col textCol" id="fwVersion"><tmpl_var fwVersion></div>
                                        </div>
                                        <div class="row clearfix">
                                            <div class="col label"><tmpl_var _("webui", "apps_home_ipv4_address_label")>:</div>
                                            <div class="col textCol" id="internetStatusIPAddress"><tmpl_var internetStatusIPAddress></div>
                                        </div>
                                        <div class="row clearfix">
                                            <div class="col label"><tmpl_var _("webui", "apps_home_current_imei_label")>:</div>
                                            <div class="col textCol" id="imei"><tmpl_if gIsLoggedIn><tmpl_var imei><tmpl_else>**** ***** **** ****</tmpl_if></div>
                                        </div>
                                        <div class="row clearfix">
                                            <div class="col label"><tmpl_var _("webui", "apps_home_current_macaddress_label" )>:</div>
                                            <div class="col textCol" id="macAddress"><tmpl_var macAddress></div>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                    </div>
					</tmpl_if>
                </div>
            </div>
            <div class="ig_col ig_3">
                <div id="connectedDevices" class="ig_card">
                    <h2 id="connectedDevicesHeader"> <tmpl_var _("webui", "connected_devices_menu_text")></h2>
                    <div class="ig_card_body">
                        <div id="noConnectedDevices" class="row text">
                            <tmpl_var _("webui", "apps_home_no_devices_connected_text")>
                        </div>
                        <p id="ConnectedDevicesUpdatingData" class="loading" style="display:none;">
                            <tmpl_var _("webui", "connected_devices_searching_for_devices_text")>
                        </p>    
                        <table id="connectedDevicesTable" class="devicesTable" style="display:none;">
                            <colgroup>
                                <col class="deviceName" />
                                <col class="networkType" />
                            </colgroup>
                            <thead>
                                <tr>
                                    <th><tmpl_var _("webui", "connected_device_label")></th>
                                    <th><tmpl_var _("webui", "connected_device_network_label")></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="deviceInformationRow">
                                    <td class="deviceName">&nbsp;</td>
                                    <td class="networkType">&nbsp;</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="ig_card_footer">
                        <a href="<tmpl_udf GET_URI('connected_devices')>" class="navigationLink">
                            <img src="/assets/images/icons/navigation_arrow.png"/>
                        </a>
                    </div>
                </div> <!-- End of Connected Devices -->
            </div>
        </div>
    </div>
</fieldset>
