<!-- Vpn -->
<div id="vpn">
        
	<h2>Yleiskatsaus</h2>
         <p>Tällä ominaisuudella voit muodostaa tunneliyhteyden OpenVPN-palvelimeen ja reitittää kaiken yhdistettyjen laitteiden liikenteen tunnelin läpi.</p>
        
	<h2>Yhdistä VPN automaattisesti</h2>
         
         <p>Jos tämä on asetettu PÄÄLLE, VPN-tunneli luodaan automaattisesti aina, kun Internet-yhteys muodostetaan. Jos tämä on asetettu POIS PÄÄLTÄ, sinun on luotava VPN-yhteys manuaalisesti.</p>

	<h2>VPN-yhteys</h2>

         <h3>Yhteyden tila</h3>
         <p>Näyttää VPN-yhteyden tilan.</p>

         <h3>Yhteysaika</h3>
         <p>Näyttää VPN-yhteyden keston.</p>
         <h3>Yhdistä</h3>
         <p>Napsauttamalla Connect (Yhdistä) -painiketta voit luoda yhteyden VPN-palvelimeen, joka on määritetty VPN-asetusten avulla.</p>
	 <h3>Näytä loki</h3>
         <p>Kun OpenVPN-yhteys on luotu, näet VPN-yhteyslokin napsauttamalla View log (Näytä loki) -painiketta.</p>

	<h2>VPN-asetukset</h2>

	<h3>Asennustiedostot</h3>
         <p>Vedä ja pudota OpenVPN-määritystiedostot OpenVPN-palveluntarjoajaltasi tiedostojen lähetysalueelle.</p>
	<h3>Käyttäjätunnus</h3>
         <p>Syötä OpenVPN-yhteytesi käyttäjätunnus tähän.</p>
	<h3>Salasana</h3>
         <p>Syötä OpenVPN-yhteytesi salasana tähän.</p>
	<h3>Tyhjennä kaikki VPN-asetukset</h3>
         <p>Napsauttamalla Clear all VPN settings (Tyhjennä kaikki VPN-asetukset) -painiketta poistat VPN-tiedostot ja VPN-lokit sekä nollaat kaikki VPN-asetukset alkuperäiseen määrittämättömään tilaan.</p>
        
</div>
 <!-- id="Vpn" -->
