<!-- Vpn -->
<div id="vpn">
        
	<h2>نظرة عامة</h2>
         <p>تتيح لك هذه الميزة تكوين وتمكين الاتصالات الآمنة بالشبكات البعيدة عبر شبكة عامة باستخدام Open VPN. إذا كان Open VPN متصلاً، فلا حاجة للأجهزة المتصلة بالبوابة لاستخدام عميل Open VPN الخاص بها.
         <b>ملاحظة: </b>عندما يتم إنشاء اتصال Open VPN، لا تكون إعدادات Port Filtering (تصفية المنفذ) وPort Forwarding (إعادة توجيه المنفذ) فعّالة، حيث تَمُر حركة مرور البيانات من جميع الأجهزة المتصلة عبر نفق Open VPN. 
         </p>
        
	<h2>الاتصال التلقائي بشبكة VPN</h2>
         
         <p>
                 إذا تم تشغيله، فسيتم إنشاء نفق VPN تلقائيًا عند الاتصال بالإنترنت. أما إذا كان قيد إيقاف التشغيل، فيجب عليك إنشاء اتصال VPN يدويًا.
         </p>

	<h2>اتصال VPN</h2>

         <h3>حالة الاتصال</h3>
         <p>
                 يعرض حالة اتصال VPN.
         </p>

         <h3>مدة الاتصال</h3>
         <p>
                 يعرض المدة الزمنية التي تم تأسيس اتصال VPN لها.
         </p>
         <h3>اتصال</h3>
         <p>
                 انقر فوق الزر "Connect (اتصال)" للاتصال بخادم VPN الذي تم تكوينه باستخدام إعدادات VPN.
         </p>
	 <h3>عرض السجل</h3>
         <p>
		عند إنشاء اتصال OpenVPN، انقر فوق الزر "View log (عرض السجل)" لعرض سجل اتصال VPN.
	</p>

	<h2>إعدادات VPN</h2>

	<h3>ملفات الإعداد</h3>
         <p>
		اسحب وأسقط ملفات تكوين OpenVPN من مزود OpenVPN في منطقة تحميل الملف.
	</p>
	<h3>اسم المستخدم</h3>
         <p>
		أدخل اسم مستخدم اتصال OpenVPN الخاص بك هنا.
	</p>
	<h3>كلمة المرور</h3>
         <p>
		أدخل كلمة مرور اتصال OpenVPN هنا.
	</p>
	<h3>مسح جميع إعدادات VPN </h3>
         <p>
		انقر فوق الزر "Clear all VPN settings (مسح كل إعدادات VPN)" لحذف ملفات VPN، وسجلات VPN وإعادة تعيين جميع إعدادات VPN إلى الحالة الأصلية غير المكونة.
	</p>
        
</div>
 <!-- id="Vpn" -->
