<!-- Vpn -->
<div id="vpn">
        
	<h2>Vue d’ensemble</h2>
         <p>Cette fonctionnalité vous permet de configurer et d’activer des connexions sécurisées à des réseaux distants sur un réseau public à l’aide d’OpenVPN. Si OpenVPN est connecté, les appareils connectés à la passerelle n’ont pas besoin d’utiliser leur propre client OpenVPN.
         <b>REMARQUE : </b>lorsqu’une connexion OpenVPN est établie, les paramètres de filtrage et de réacheminement de port ne sont pas effectifs, car le trafic de tous les appareils connectés passe par le tunnel OpenVPN. 
         </p>
        
	<h2>VPN à connexion automatique</h2>
         
         <p>
                 Si elle est activée, le tunnel VPN sera automatiquement établi à chaque fois qu’une connexion Internet s’effectue. Si elle est désactivée, vous devez établir la connexion VPN manuellement.
         </p>

	<h2>Connexion VPN</h2>

         <h3>État de la connexion</h3>
         <p>
                 Indique l’état de la connexion VPN.
         </p>

         <h3>Délai de connexion</h3>
         <p>
                 Indique la durée pendant laquelle la connexion VPN a été établie.
         </p>
         <h3>Connecter</h3>
         <p>
                 Cliquez sur le bouton Connecter pour vous connecter au serveur VPN configuré à l’aide des paramètres VPN.
         </p>
	 <h3>Afficher le journal</h3>
         <p>
		Lorsqu’une connexion OpenVPN a été établie, cliquez sur le bouton Afficher le journal pour afficher le journal de la connexion VPN.
	</p>

	<h2>Paramètres VPN</h2>

	<h3>Fichiers de configuration</h3>
         <p>
		Glissez et déposez les fichiers de configuration OpenVPN de votre fournisseur OpenVPN dans la zone de téléchargement des fichiers.
	</p>
	<h3>Nom d’utilisateur</h3>
         <p>
		Saisissez ici votre nom d’utilisateur pour la connexion OpenVPN.
	</p>
	<h3>Mot de passe</h3>
         <p>
		Saisissez ici votre mot de passe pour la connexion OpenVPN.
	</p>
	<h3>Effacer tous les paramètres VPN </h3>
         <p>
		Cliquez sur le bouton Effacer tous les paramètres VPN pour supprimer les fichiers VPN, les journaux VPN et réinitialiser tous les paramètres VPN à l’état d’origine non configuré.
	</p>
        
</div>
 <!-- id="Vpn" -->
