<!-- Vpn -->
<div id="vpn">
        
	<h2>Ülevaade</h2>
         <p>Selle funktsiooni abil saate luua tunneliühenduse OpenVPN-i serveriga ja suunata kogu ühendatud seadmete liikluse läbi tunneli.</p>
        
	<h2>VPN-i automaatne ühendamine</h2>
         
         <p>Kui see on SEES, luuakse VPN-tunnel automaatselt iga kord, kui luuakse internetiühendus. Kui on VÄLJAS, peate VPN-ühenduse käsitsi looma.</p>

	<h2>VPN-ühendus</h2>

         <h3>Ühenduse olek</h3>
         <p>Näitab VPN-ühenduse olekut.</p>

         <h3>Ühendusaeg</h3>
         <p>Näitab VPN-ühenduse loomise aega.</p>
         <h3>Ühenda</h3>
         <p>Klõpsake nupule Ühenda, et luua ühendus VPN-serveriga, mis on konfigureeritud VPN-i sätete abil.</p>
	 <h3>Kuva logi</h3>
         <p>Kui OpenVPN-ühendus on loodud, klõpsake VPN-ühenduse logi kuvamiseks nupule Vaata logi.</p>

	<h2>VPN-i seaded</h2>

	<h3>Seadistusfailid</h3>
         <p>Lohistage OpenVPN-i konfiguratsioonifailid oma OpenVPN-i pakkujalt faili üleslaadimise alale.</p>
	<h3>Kasutajanimi</h3>
         <p>Sisestage siia oma OpenVPN ühenduse kasutajanimi.</p>
	<h3>Parool</h3>
         <p>Sisestage siia oma OpenVPN ühenduse parool.</p>
	<h3>Tühjenda kõik VPN-i seaded</h3>
         <p>Klõpsake nuppu Tühjenda kõik VPN-i seaded, et kustutada VPN-failid, VPN-logid ja lähtestada kõik VPN-i seaded algsesse konfigureerimata olekusse.</p>
        
</div>
 <!-- id="Vpn" -->
