<!-- Vpn -->
<div id="vpn">
        
   <h2>概要</h2>
         <p>この機能を使用して、OpenVPNサーバーへのトンネル接続を確立し、接続されたデバイス上のすべてのトラフィックをトンネル経由でルーティングします。</p>
        
   <h2>自動接続VPN</h2>
         
         <p>オンの場合、インターネット接続が行われるたびに、VPNトンネルは自動的に確立されます。 オフの場合、VPN接続を手動で確立する必要があります。</p>

   <h2>VPN接続</h2>

         <h3>接続ステータス:</h3>
         <p>VPN接続のステータスを表示します。</p>

         <h3>接続時間:</h3>
         <p>VPN接続が確立されるまでにかかった時間を示します。</p>
         <h3>接続する</h3>
         <p>接続ボタンをクリックして、VPN設定を使用して構成されたVPNサーバーに接続します。</p>
    <h3>ログを表示する</h3>
         <p>OpenVPN接続が確立されたら、「ログの表示」ボタンをクリックして、VPN接続ログを表示します。</p>

   <h2>VPN設定</h2>

   <h3>設定ファイル</h3>
         <p>OpenVPNプロバイダーからOpenVPN構成ファイルをファイルアップロード領域にドラッグアンドドロップします。</p>
   <h3>ユーザー名</h3>
         <p>ここにOpenVPN接続のユーザー名を入力します。</p>
   <h3>パスワード:</h3>
         <p>ここにOpenVPN接続のパスワードを入力します。</p>
   <h3>すべてのVPN設定をクリアする</h3>
         <p>「すべてのVPN設定をクリア」ボタンをクリックして、VPNファイル、VPNログを削除し、すべてのVPN設定を未構成の元の状態にリセットします。</p>
        
</div>
 <!-- id="Vpn" -->
