<!-- MAC Filter -->
<div id="macfilter">
	<h1><tmpl_var _("webui", "adv_macfilter_menu_text")></h1>
	<h2>نظرة عامة</h2>
	<p>يسمح مرشح MAC للأجهزة المحددة فقط بالوصول إلى ملف <tmpl_var _("webui", "webui_product_name")> الشبكة من خلال DHCP. بشكل افتراضي، يتم ضبط عامل تصفية عناوين MAC على وضع "إيقاف التشغيل". استخدم علامة التبويب هذه لضبط عامل تصفية عناوين MAC على وضع "تشغيل" وتحديد وصول الجهاز.
	</p>
	
	<h2>عنصر التحكم في التشغيل/إيقاف التشغيل</h2>
	<p>لاستخدام عامل تصفية عناوين MAC، حدد الجهاز (الأجهزة) من قائمة الأجهزة التي تريد السماح لها بالاتصال بالشبكة من خلال DHCP وحرّك شريط التمرير <b>تشغيل/إيقاف تشغيل عامل تصفية عناوين MAC</b> إلى وضع <b>التشغيل</b>. انقر فوق <b>حفظ التغييرات</b>.
	</p>
	
	<h2>قائمة الأجهزة</h2>
	
	<p>يؤدي تشغيل عامل تصفية عناوين MAC إلى قطع اتصال جميع الأجهزة غير المضمّنة في عامل التصفية عن الشبكة الأساسية على الفور. 
	</p>

	<h3><tmpl_var _("webui", "adv_macfilter_refresh_button")></h3>
	<p>استخدم زر التحديث لتحديث القائمة حسب الحاجة.
	</p>
		
	<h2>العملية</h2>
	
	<h3>محظور مقابل مرشح عناوين MAC</h3>
	<p>التفاعل بين الأجهزة "المحظورة" و "مرشح عناوين MAC" هو:
	</p>
	<div class="blockgroup">
	<ul>
	<li>يتم حظر الأجهزة المحظورة دائمًا من شبكة الشبكة، بغض النظر عما إذا كان عامل تصفية عناوين MAC قيد التشغيل أو قيد إيقاف التشغيل.
	</li>
	<li>إذا كان مرشح MAC قيد التشغيل، وكان الجهاز في قائمة الأجهزة المحظور اتصالها، ولكن ليس في قائمة مرشح عناوين MAC، فلن يكون قادرًا على الاتصال. يمنع كل من مرشح MAC والكتلة الاتصال.
	</li>

	<li>إذا كان مرشح MAC قيد التشغيل، وكان الجهاز في قائمة مرشح عناوين MAC، فسيتمكن الجهاز من الاتصال. 
	بعد الاتصال، يمكن حظر اتصاله إما عن طريق إزالته من قائمة مرشح عناوين MAC، أو باستخدام ميزة "حظر الاتصال".
	بشكل عام، يجب استخدام "حظر الاتصال" للحظر المؤقت، ومرشح MAC للحظر الدائم.
	</li>
	</ul>
	</div>
	
	<h3><tmpl_var _("webui", "adv_macfilter_add_device_button")></h3>
	<p>استخدم هذا الزر لإضافة جهاز جديد إلى قائمة الأجهزة.
	</p>

	<h3><tmpl_var _("webui", "adv_macfilter_refresh_button")></h3>
	<p>لتجاهل أي تغييرات غير محفوظة وتحديث القائمة، انقر فوق <b>تحديث القائمة</b> و<b>تأكيد</b>.
	</p>

	<h3>حذف الجهاز</h3>
	<p>لحذف جهاز من القائمة، حدد مربع الاختيار Delete (حذف) لهذا الجهاز وانقر فوق Save Changes (حفظ التغييرات).</p>

 </div>
<!--  macfilter  -->
