<!-- MAC Filter -->
<div id="macfilter">
	<h1><tmpl_var _("webui", "adv_macfilter_menu_text")></h1>
	<h2>Oversikt</h2>
	<p>MAC-filterfunksjonen, hvis den er slått på, vil forhindre tilgang til dette wifi-nettverket av enhver enhet som ikke er inkludert i listen «MAC -adressefilter». Filteret gjelder bare wifi-nettverket, og har ingen innvirkning på USB-enheter.</p>
	
	<h2>PÅ/AV-kontroll</h2>
	<p>Bruk denne kontrollen til å slå på eller av MAC-filteret etter behov. Før du slår den på, må du forsikre deg om at noen enheter er tillatt. Merk at når MAC-filteret er slått på, vil alle tilkoblede enheter som ikke er i listen «MAC-adressefilter» umiddelbart kobles fra.</p>
	
	<h2>Liste over enheter</h2>
	
	<p>Alle kjente enheter er oppført her, bortsett fra USB-enheter. Bruk avkryssingsrutene for å inkludere eller ekskludere enheter fra listen «MAC-adressefilter».</p>

	<h3><tmpl_var _("webui", "adv_macfilter_refresh_button")></h3>
	<p>Bruk oppdateringsknappen for å oppdatere listen etter behov.</p>
		
	<h2>Drift</h2>
	
	<h3>Blokkert som funksjon av MAC-filter</h3>
	<p>Samspillet mellom de «blokkerte» enhetene og «MAC-filteret» er:</p>
	<div class="blockgroup">
	<ul>
	<li>Blokkerte enheter blokkeres alltid fra wifi-nettverket, uavhengig av om MAC-filteret er av eller på.</li>
	<li>Hvis MAC-filteret er på, og en enhet er i blokkeringslisten, men ikke i MAC-adressefilterlisten, vil den ikke kunne koble seg til. Både MAC-filter og blokkeringen ville forhindre tilkobling.</li>

	<li>Hvis MAC-filteret er på, og en enhet er i MAC-adressefilterlisten, vil enheten kunne koble seg til. Når den koblet til, kan den deretter blokkeres enten ved å fjerne den fra MAC-adressefilterlisten, eller ved å bruke «Blokker» -funksjonen. Generelt bør «Blokker» brukes til midlertidig blokkering, og MAC-filteret for permanent blokkering.</li>
	</ul>
	</div>
	
	<h3><tmpl_var _("webui", "adv_macfilter_add_device_button")></h3>
	<p>Bruk denne knappen for å legge til en ny enhet i enhetslisten.</p>

 </div>
<!--  macfilter  -->
