<!-- MAC Filter -->
<div id="macfilter">
	<h1><tmpl_var _("webui", "adv_macfilter_menu_text")></h1>
	<h2>Vue d’ensemble</h2>
	<p>Le filtre MAC permet uniquement aux appareils sélectionnés d’accéder au réseau <tmpl_var _("webui", "webui_product_name")> par le serveur DHCP. Le filtre MAC est désactivé par défaut. Vous pouvez utiliser cet onglet pour activer le filtre MAC et spécifier l’accès à l’appareil.
	</p>
	
	<h2>Commande Marche/Arrêt</h2>
	<p>Pour utiliser le filtre MAC, sélectionnez dans la liste des appareils le ou les appareils que vous souhaitez autoriser à se connecter au réseau par le serveur DHCP et déplacez le curseur <b>marche/arrêt du filtre MAC</b> pour qu’il soit activé (en position <b>marche</b>). Cliquez sur <b>Enregistrer les modifications</b>.
	</p>
	
	<h2>Liste des appareils</h2>
	
	<p>L’activation du filtre MAC déconnecte immédiatement tous les appareils qui ne sont pas inclus dans le filtre du réseau. 
	</p>

	<h3><tmpl_var _("webui", "adv_macfilter_refresh_button")></h3>
	<p>Utilisez le bouton d’actualisation pour mettre à jour la liste si nécessaire.
	</p>
		
	<h2>Fonctionnement</h2>
	
	<h3>Filtre bloqué versus filtre MAC</h3>
	<p>L’interaction entre les appareils « bloqués » et le « filtre MAC » est :
	</p>
	<div class="blockgroup">
	<ul>
	<li>Les appareils bloqués sont toujours bloqués sur le réseau, que le filtre MAC soit activé ou désactivé.
	</li>
	<li>Si le filtre MAC est activé et si un appareil figure dans la liste des appareils bloqués, mais pas dans la liste Filtre d’adresses MAC, il ne pourra pas se connecter. Le filtre MAC et le blocage empêcheraient la connexion.
	</li>

	<li>Si le filtre MAC est activé et si un appareil figure dans la liste Filtre d’adresses MAC, alors l’appareil pourra se connecter. 
	Une fois connecté, il peut alors être bloqué soit en le retirant de la liste Filtre d’adresses MAC, soit en utilisant la fonctionnalité « Bloquer ».
	En général, la fonctionnalité « Bloquer » doit être utilisée pour un blocage temporaire, et le filtre MAC pour un blocage permanent.
	</li>
	</ul>
	</div>
	
	<h3><tmpl_var _("webui", "adv_macfilter_add_device_button")></h3>
	<p>Utilisez ce bouton pour ajouter un appareil à la liste des appareils.
	</p>

	<h3><tmpl_var _("webui", "adv_macfilter_refresh_button")></h3>
	<p>Pour supprimer les modifications non enregistrées et actualiser la liste, cliquez sur <b>Actualiser la liste</b> et <b>Confirmer</b>.
	</p>

	<h3>Supprimer un appareil</h3>
	<p>Pour supprimer un appareil de la liste, cochez sa case Supprimer et cliquez sur Enregistrer les modifications.</p>

 </div>
<!--  macfilter  -->
