'<option class="Unknown unknown"<tmpl_if IN_SET(item.deviceType, "unknown")> selected="selected"</tmpl_if> value="unknown"><tmpl_var _("webui", "webui_device_type_unknown_text")></option>'+
'<option class="Desktop desktop"<tmpl_if IN_SET(item.deviceType, "desktop")> selected="selected"</tmpl_if> value="desktop"><tmpl_var _("webui", "webui_device_type_computer_text")></option>'+
'<option class="Tablet tablet"<tmpl_if IN_SET(item.deviceType, "tablet")> selected="selected"</tmpl_if> value="tablet"><tmpl_var _("webui", "webui_device_type_handheld_text")></option>'+
'<option class="Other other"<tmpl_if IN_SET(item.deviceType, "other")> selected="selected"</tmpl_if> value="other"><tmpl_var _("webui", "webui_device_type_other_text")></option>'
