<!-- Diagnostics -->
<div id="status_diagnostics">
	<h1><tmpl_var _("webui", "status_diagnostics_menu_text")></h1>
	<h2>Översikt</h2>
	<p>Denna sida innehåller information om <tmpl_var _("webui", "webui_product_name")> och tillgängliga nätverk. Använd den efter behov för felsökning. Det krävs inte för normal drift.</p>
	<h2><tmpl_var _("webui", "status_diagnostics_modem_sub_header_text")></h2>

	<tmpl_if showPhoneNumber>
		<h3><tmpl_var truncate(_("webui", "status_diagnostics_phone_number_label"), (size(_("webui", "status_diagnostics_phone_number_label")) - size(":")))></h3>
		<p>Detta är telefonnumret till <tmpl_var _("webui", "webui_product_name")>.</p>
	</tmpl_if>

	<tmpl_if showImei>
		<h3><tmpl_var truncate(_("webui", "status_diagnostics_imei_label"), (size(_("webui", "status_diagnostics_imei_label")) - size(":")))></h3>
		<p>IMEI (International Mobile Equipment Identity) för denna enhet. IMEI är en 15- eller 17-siffrig kod som används för att identifiera en enskild mobilstation i ett<tmpl_udf GET_PO_TEXT("status_diagnostics_technology_text")>nätverk. IMEI ändras inte när SIM byts ut.</p>
	</tmpl_if>

	<tmpl_if showImeisv>
		<h3><tmpl_var truncate(_("webui", "status_diagnostics_imeisv_label"), (size(_("webui", "status_diagnostics_imeisv_label")) - size(":")))></h3>
		<p>Detta fält kombinerar IMEI med ett godkännandenummer för den här typen av enhet.</p>
	</tmpl_if>

	<tmpl_if showMeid>
		<h3><tmpl_var truncate(_("webui", "status_diagnostics_meid_label"), (size(_("webui", "status_diagnostics_meid_label")) - size(":")))></h3>
		<p>MEID (Mobile Equipment ID) är ett unikt nummer som används för att identifiera en enskild mobilstation i ett CDMA-nätverk.</p>
	</tmpl_if>

	<tmpl_if showIMSI>
		<h3><tmpl_var truncate(_("webui", "status_diagnostics_imsi_label"), (size(_("webui", "status_diagnostics_imsi_label")) - size(":")))></h3>
		<p>Ett internationellt mobilabonnent-id (IMSI, International Mobile Subscriber Identity) är ett unikt nummer associerat med alla GSM- (Global System for Mobile Communications) och UMTS-nätverks (Universal Mobile Telecommunications System) mobiltelefonanvändare som används för att identifiera en GSM-abonnent.</p>
	</tmpl_if>
	
	<tmpl_if showFwVersion>					
		<h3><tmpl_var truncate(_("webui", "status_diagnostics_fw_version_label"), (size(_("webui", "status_diagnostics_fw_version_label")) - size(":")))></h3>
		<p>Den version av den inbyggda programvaran (firmware) som för närvarande är installerad i modemet.</p>
	</tmpl_if>

	<tmpl_if showSimStatus>
		<h3><tmpl_var truncate(_("webui", "status_diagnostics_sim_status_label"), (size(_("webui", "status_diagnostics_sim_status_label")) - size(":")))></h3>
		<p>Detta indikerar SIM-kortets status. Om SIM-kortet saknas, eller om detta fält indikerar någon form av SIM-fel, är det inte möjligt att ansluta till mobilnätet.</p>
	</tmpl_if>

	<tmpl_if showICCID>
		<h3><tmpl_var truncate(_("webui", "status_diagnostics_iccid_label"), (size(_("webui", "status_diagnostics_iccid_label")) - size(":")))></h3>
		<p>Detta unika id-nummer är tilldelat till SIM-kortet. Det visas inte om det inte finns något installerat SIM, eller om det föreligger ett SIM-feltillstånd.</p>
	</tmpl_if>

	<tmpl_if showPCI>
                <h3><tmpl_var truncate(_("webui", "status_diagnostics_pci_label"), (size(_("webui", "status_diagnostics_pci_label")) - size(":")))></h3>
                <p>The Physical Cell ID.</p>
        </tmpl_if>

	<tmpl_if showModemDetails>
		<tmpl_if showMINMSID>
			<h3><tmpl_var truncate(_("webui", "status_diagnostics_msid_label"), (size(_("webui", "status_diagnostics_msid_label")) - size(":")))></h3>
			<p>Detta id används för att identifiera en abonnent i mobildatanätet.</p>
		</tmpl_if>
		<tmpl_if showESN>
			<h3><tmpl_var truncate(_("webui", "status_diagnostics_esn_label"), (size(_("webui", "status_diagnostics_esn_label")) - size(":")))></h3>
			<p>Elektroniskt serienummer (ESN) är den traditionella metoden för att unikt identifiera enheter i CDMA-nätverk, men det har ersatts av MEID. För enheter som använder en MEID (som den här enheten) är ESN antingen tomt eller ett pseudo-ESN som inte garanteras vara unikt.</p>
 		</tmpl_if>
 		<tmpl_if showHomeSID>
			<h3><tmpl_var truncate(_("webui", "status_diagnostics_home_sid_label"), (size(_("webui", "status_diagnostics_home_sid_label")) - size(":")))></h3>
			<p>SID (System-id) är ett nätverks-id som indikerar kopplingspunkten till mobildatanätet.</p>
		</tmpl_if>
		<tmpl_if showERIVersion>
			<h3><tmpl_var truncate(_("webui", "status_diagnostics_eri_version_label"), (size(_("webui", "status_diagnostics_eri_version_label")) - size(":")))></h3>
			<p>Tabellen ERI (Enhanced Roaming Indicator) innehåller information om varje roamingnätverk som den mobila enheten får ansluta till. Det här fältet indikerar vilken ERI-version som för närvarande är installerad. ERI-tabellen uppdateras automatiskt.</p>
 		</tmpl_if>
 		<tmpl_if showPRLVersion>
			<h3><tmpl_var truncate(_("webui", "status_diagnostics_prl_version_label"), (size(_("webui", "status_diagnostics_prl_version_label")) - size(":")))></h3>
			<p>PRL (Preferred Roaming List) används för att välja ett nätverk när flera nätverk är tillgängliga. Detta fält indikerar vilken version av PRL som för närvarande är installerad. PRL uppdateras automatiskt.</p>
		</tmpl_if>			
	</tmpl_if>
	<tmpl_if lteSupported>			
		<h2 class="sectionHead">5G/4G LTE-nätverk</h2>
		
		<tmpl_if showInternetStatus4G>	
			<h3>Status</h3>
			<p>För<tmpl_udf GET_PO_TEXT("status_diagnostics_technology_text")>nätverket är de möjliga statusvärdena:</p>
			<div class="blockgroup">
				<ul>
					<li>Ej tillgängligt – inget<tmpl_udf GET_PO_TEXT("status_diagnostics_technology_text")>nätverk har detekterats.</li>
					<li>Tillgängligt – ett<tmpl_udf GET_PO_TEXT("status_diagnostics_technology_text")>nätverk har detekterats.</li>
				</ul>
			</div>
			<p>Följande dataobjekt tillhandahålls endast om<tmpl_udf GET_PO_TEXT("status_diagnostics_technology_text")>nätverket är tillgängligt.</p>
		</tmpl_if>

		<tmpl_if showNetworkOperator>
			<h3><tmpl_var truncate(_("webui", "status_diagnostics_fourg_network_operator_label"), (size(_("webui", "status_diagnostics_fourg_network_operator_label")) - size(":")))></h3>
			<p>Detta är namnet på<tmpl_udf GET_PO_TEXT("status_diagnostics_technology_text")>nätverk.</p>
		</tmpl_if>

		<tmpl_if showSignalStrength>			
			<h3><tmpl_var truncate(_("webui", "status_diagnostics_fourg_signal_strength_label"), (size(_("webui", "status_diagnostics_fourg_signal_strength_label")) - size(" (RSRP):")))></h3>
			<p>Detta indikerar styrkan på<tmpl_udf GET_PO_TEXT("status_diagnostics_technology_text")>signalen, mätt i dBm. Högre absoluta värden indikerar en starkare signal, så -80 dBm är en starkare signal än -90 dBm.<tmpl_udf GET_PO_TEXT("status_diagnostics_lte_note_text")>
			</p>
		</tmpl_if>

		<tmpl_if showSNR>
			<h3><tmpl_var truncate(_("webui", "status_diagnostics_sinr_label"), (size(_("webui", "status_diagnostics_sinr_label")) - size(":")))></h3>
			<p>SNR är ett mått på signalkvaliteten. Högre siffror indikerar en bättre signal.</p>
		</tmpl_if>

		<tmpl_if showLteBand>
			<h3><tmpl_var truncate(_("webui", "status_diagnostics_lte_band_label"), (size(_("webui", "status_diagnostics_lte_band_label")) - size(":")))></h3>
			<p><tmpl_udf GET_PO_TEXT("status_diagnostics_technology_text")>nätverk kan använda olika band i olika regioner. Detta fält indikerar det band som används för den nuvarande<tmpl_udf GET_PO_TEXT("status_diagnostics_technology_text")>anslutningen.</p>
		</tmpl_if>

		<tmpl_if showRoaming>
			<h3><tmpl_var truncate(_("webui", "status_diagnostics_fourg_roaming_label"), (size(_("webui", "status_diagnostics_fourg_roaming_label")) - size(":")))></h3>
			<p>Detta indikerar om den nuvarande anslutningen är en roaminganslutning.</p>
		</tmpl_if>
	</tmpl_if>
		
	<tmpl_if isHSPATechnology>	
		<h2><tmpl_var _("webui", "status_diagnostics_gsm_umts_hspa_text")> Status</h2>
			
		<h3>Status</h3>
		<p>För <tmpl_var _("webui", "status_diagnostics_gsm_umts_hspa_text")>-nätverket stöds följande tillstånd:</p>
		<div class="blockgroup">
			<ul>
				<li>Ej tillgängligt – inget <tmpl_var _("webui", "status_diagnostics_gsm_umts_hspa_text")>-nätverk har detekterats.</li>
				<li>Tillgängligt – ett <tmpl_var _("webui", "status_diagnostics_gsm_umts_hspa_text")>-nätverk har detekterats.</li>
			</ul>
		</div>
		<p>Följande dataobjekt tillhandahålls endast om nätverket är tillgängligt.</p>

		<tmpl_if showNetworkOperator>
			<h3><tmpl_var truncate(_("webui", "status_diagnostics_fourg_network_operator_label"), (size(_("webui", "status_diagnostics_fourg_network_operator_label")) - size(":")))></h3>
			<p>Detta är namnet på <tmpl_var _("webui", "status_diagnostics_gsm_umts_hspa_text")>-nätverket.</p>
		</tmpl_if>	
		<h3><tmpl_var truncate(_("webui", "status_diagnostics_threeg_technology_label"), (size(_("webui", "status_diagnostics_threeg_technology_label")) - size(":")))></h3>
		<div class="blockgroup">
			<p>Den nuvarande teknik som används för <tmpl_var _("webui", "status_diagnostics_gsm_umts_hspa_text")>-nätverket. Möjliga värden, från långsammast till snabbast, är:</p>
			<ul>
				<tmpl_if gsmSupported>
					<li>GPRS</li>
				</tmpl_if>
				<tmpl_if wcdmaSupported>
					<li>UMTS</li>
				</tmpl_if>
				<tmpl_if cdmaSupported>
					<li>HSPA+</li>
					<li>HSPA + DC</li>
				</tmpl_if>
				<tmpl_if evdoSupported>
					<li>EDGE</li>
					<li>HSDPA</li>
					<li>HSUPA</li>
				</tmpl_if>
			</ul>
		</div>
		<h3><tmpl_var truncate(_("webui", "status_diagnostics_networkid_label"), (size(_("webui", "status_diagnostics_networkid_label")) - size(":")))></h3>
			<p>Namnet och/eller id:t för PLMN-nätverket (Public Land Mobile Network).</p>
		<h3><tmpl_var truncate(_("webui", "status_diagnostics_cellid_label"), (size(_("webui", "status_diagnostics_cellid_label")) - size(":")))></h3>
			<p>Detta värde identifierar den basstation som för närvarande används.</p>
		<h3><tmpl_var truncate(_("webui", "status_diagnostics_rssi_label"), (size(_("webui", "status_diagnostics_rssi_label")) - size(":")))></h3>
			<p>Detta indikerar RSSI för <tmpl_var _("webui", "status_diagnostics_gsm_umts_hspa_text")>-signalen. RSSI är ett mått på signalstyrka i decibel, relativt en milliwatt. Det är alltid negativt eftersom mobila radioenheter är mycket mindre kraftfulla än en milliwatt. Högre absoluta värden indikerar en starkare signal, så -50 dBm är en starkare signal än -70 dBm.</p>

		<tmpl_if showRoaming>
			<h3><tmpl_var truncate(_("webui", "status_diagnostics_roaming_label"), (size(_("webui", "status_diagnostics_roaming_label")) - size(":")))></h3>
			<p>Detta indikerar om den nuvarande anslutningen är en roaminganslutning.</p>

		</tmpl_if>
		<tmpl_if show3g>
			<h2><tmpl_var _("webui", "status_diagnostics_threeg_label")></h2>
			
			<h3>Status</h3>
			<p>De möjliga statusvärdena är:</p>
			<div class="blockgroup">
				<ul>
					<li>Ej tillgängligt – inget 3G-nätverk har detekterats.</li>
					<li>Tillgängligt – ett 3G-nätverk har detekterats.</li>
				</ul>
			</div>
			<p>Följande dataobjekt tillhandahålls endast om nätverket är tillgängligt.</p>
			<tmpl_if showNetworkOperator>
				<h3><tmpl_var truncate(_("webui", "status_diagnostics_threeg_network_label"), (size(_("webui", "status_diagnostics_threeg_network_label")) - size(":")))></h3>
				<p>Detta är namnet på 3G-nätverket.</p>
			</tmpl_if>
			<tmpl_if show3g1xRssi>
			<h3><tmpl_var truncate(_("webui", "status_diagnostics_threeg_onex_label"), (size(_("webui", "status_diagnostics_threeg_onex_label")) - size(":")))></h3>
			<p>RSSI är ett mått på signalstyrka. Enheten är decibel relativt 1 milliwatt och är alltid negativ eftersom mobila radioenheter är mycket mindre kraftfulla än 1 milliwatt. Högre absoluta värden indikerar en starkare signal, så -50 dBm är en starkare signal än -70 dBm. Detta fält indikerar RSSI för 1xRTT-signalen.</p>
			</tmpl_if>
			<tmpl_if show3gEvdoRssi>
				<h3><tmpl_var truncate(_("webui", "status_diagnostics_threeg_evdo_label"), (size(_("webui", "status_diagnostics_threeg_evdo_label")) - size(":")))></h3>
				<p>RSSI är ett mått på signalstyrka. Detta fält indikerar RSSI för EVDO- eller eHRPD-signalen.</p>
 			</tmpl_if>
			<tmpl_if show3gTechnology>
 				<h3><tmpl_var truncate(_("webui", "status_diagnostics_threeg_technology_label"), (size(_("webui", "status_diagnostics_threeg_technology_label")) - size(":")))></h3>
				<p>Den nuvarande teknik som används för 3G-nätverket. Möjliga värden är 1xRTT, EVDO eller eHRPD.</p>
 			</tmpl_if>
			<h3><tmpl_var truncate(_("webui", "status_diagnostics_threeg_ecio_label"), (size(_("webui", "status_diagnostics_threeg_ecio_label")) - size(":")))></h3>
			<p>Ec/Io är ett mått på hur ”ren” signalen är och är en typ av signal-till-brusförhållande. Typiska värden varierar från -10 till -40. Ett värde på -4 skulle vara en mycket ”ren” signal.</p>
 
			<h3><tmpl_var truncate(_("webui", "status_diagnostics_threeg_sid_label"), (size(_("webui", "status_diagnostics_threeg_sid_label")) - size(":")))></h3>
			<p>SID (System-id) är ett nätverks-id som indikerar den nuvarande kopplingspunkten till mobildatanätet. En grupp basstationer kan ha samma SID-värde. Det här fältet indikerar nuvarande SID.</p>		
			<tmpl_if showRoaming>
				<h3>Roaming</h3>
				<p>Detta indikerar om den nuvarande anslutningen är en roaminganslutning.</p>			
			</tmpl_if>
			<tmpl_if linkToFieldTest>	
				<h2><tmpl_var _("webui", "status_diagnostics_field_test_button")></h2>
				<p>Knappen ”Fälttest” kommer att tillhandahålla en lista över nätverksparametrar på låg nivå som kan vara till hjälp för teknisk supportpersonal när de felsöker problem med nätverksanslutning.</p>
				
				<p>Den här knappen är endast tillgänglig om 3G-nätverket är tillgängligt.</p>
			</tmpl_if>
		</tmpl_if>
	</tmpl_if>
			
</div>
<!-- id="status_diagnostics" -->
		
