<!-- Change Admin Password  -->
<div id="set_passcode">
	<h1>Admin Password</h1>
	<h2>Overview</h2>
	<p>
        	The Admin password is what you use to sign into this Admin web UI. A default Admin password is assigned to each individual device and is printed on the bottom of the device.	
	</p>

	<p>
		You can change the Admin password to something easier to remember and set up a security question that will help you securely recover your password if you forget it.
	</p>

	<p>
		<strong>NOTE:</strong> You can set up separate Wi-Fi passwords for both primary and guest networks in Wi-Fi, but these are different from the Admin password, which is for this web User Interface.
	</p>

	<p>
		<strong>Important:</strong> It is critical that you change the Admin password from the default to keep the device and your network secure.
	</p>

	<h2>Changing the Admin password</h2>
	<p>To change the Admin password:</p>
	<div class="blockgroup">
		<ol>
			<li>
				<b>From the Admin web UI:</b> Click the down arrow next to <b>Sign Out</b> in the top-right corner of any Admin web UI page and select <b>Change Password</b>.
			</li>
			<li>
				Enter your current Admin password, then click <b>Continue</b>.
			</li>
			<li>
				Enter your current Admin password again, then enter a new password and confirm it.
			</li>
			<li>
				Select a security question from the drop-down list and type an answer to the question.<br/>
				<strong>NOTE:</strong> Answers are case-sensitive.
			</li>
			<li>
				Click <b>Save Changes</b>.
			</li>
		</ol>
	</div>

	<p>
		The next time you sign in to the Admin web UI, use the new Admin password. If you cannot remember the password, click <b>Forgot Admin password</b>. After you correctly answer the security question you set up, the current password is displayed.
	</p>
</div>
<!-- id="set_passcode" -->

