<!-- Internet  Sessions -->
<div id="session_log_info">
	<h1><tmpl_var _("webui", "session_log_info_menu_text")></h1>

	<p>Istuntoloki sisältää seuraavat tiedot:</p>
	<p>- päivämäärä ja aika (kun yhteys aloitettiin)</p>
	<p>- kesto (sama muoto kuin nykyisen istunnon tiedoilla)</p>
	<p>- vastaanotettu (nykyisen istunnon mukainen muoto)</p>
	<p>- lähetetty (nykyisen istunnon mukainen muoto)</p>
	<p>- kokonaisdata (Rx:n ja Tx:n summa, nykyisen istunnon tietojen mukainen muoto)</p>
	<tmpl_if RoamingStatusShow>
                <p>- Roaming (Roaming / Teilweise / leer) Leer = Heimnetzwerk </p>
        </tmpl_if>
	<p>- IPv4 (IPv4 WWAN -IP-osoite)</p>
	<p>- IPv6 (IPv6 WWAN -IP-osoite)</p>

	<p>Loki on päivämääräjärjestyksessä.</p>
	<p>Käyttäjä ei voi muuttaa järjestystä, eikä istuntolokiin liittyviä asetuksia ole.</p>
</div>
