<!-- Internet  Sessions -->
<div id="session_log_info">
	<h1><tmpl_var _("webui", "session_log_info_menu_text")></h1>

	<p>يحتوي سجل الجلسة على البيانات التالية:</p>
	<p>- التاريخ والوقت: تاريخ ووقت بدء جلسة الإنترنت.</p>
	<p>- المدة: إجمالي الوقت المستغرق لجلسة الإنترنت.</p>
	<p>- البيانات المستلمة: مقدار البيانات المستلمة لجلسة الإنترنت. يبدأ هذا العداد من الصفر عند إنشاء الاتصال.</p>
	<p>- البيانات المرسلة: مقدار البيانات المرسلة لجلسة الإنترنت. يبدأ هذا العداد من الصفر عند إنشاء الاتصال.</p>
	<p>- إجمالي البيانات: كمية البيانات لجلسة الإنترنت. هذا هو مجموع البيانات المستلمة والبيانات المرسلة.</p>
	<tmpl_if RoamingStatusShow>
		<p>- التجوال (تجوال/جزئي/فارغ) فارغ = شبكة منزلية</p>
	</tmpl_if>
	<p>- IPv4  عنوان IP للجلسة.</p>
	<p>- IPv6  عنوان بروتوكول IPv6 العالمي للجلسة (يكون فارغًا إذا تم إيقاف تشغيل بروتوكول IPv6 أو كان غير مدعوم من قبل اتصال الشبكة الحالية أو الناقل).</p>
	<p>السجل مرتب حسب التاريخ. </p>
	<p>لا يمكن للمستخدم تغيير الترتيب، ولا توجد خيارات تتعلق بترتيب سجل الجلسة.</p>
</div>
