<!-- ZTP -->
<div id="ztp">
	<h1><tmpl_var _("webui", "ztp_menu_text")></h1>
	<h2><tmpl_var _("webui", "ztp_header")></h2>
	<p>Använd den här fliken för att initiera Zero Touch Provisioning (ZTP) när enheter integreras i Inseego 5G SD EDGE<sup>TM</sup> Manager.</p>
	<h3>Protokoll</h3> <p>Använd TLS-kryptering som protokoll.</p>
	<p><b>VARNING:</b>TLS-kryptering rekommenderas starkt. Testet är i oformaterad text och endast för teständamål. Ditt nätverks säkerhet kan äventyras om testet används för driftsättning.</p>
	<h3>URL-/IP-adress</h3><p>Ange domänen som används för din EDGE Manager-instans.</p><br/>
	Klicka på Spara ändringar för att initiera ZTP.
</div>
