<option value="0" selected="selected"><tmpl_var _("webui", "webui_ztp_protocol_no_ssl_text")></option>
<option value="1" selected="selected"><tmpl_var _("webui", "webui_ztp_protocol_ssl_text")></option>
