<!-- Messages -->
<div id="sms">
	<h1><tmpl_var _("webui", "sms_menu_text")></h1>
	<h2>نظرة عامة</h2>
	<p>عادةً ما تكون رسائل SMS هذه من مزود الخدمة الخاص بك. يجب ألا تحاول الرد، وبالتالي لا يتم توفير ميزة الرد.</p>
	<h2>المحتوى</h2>
	<tmpl_if showMessageCounter>
		<h3>عدادا الرسائل</h3>
		<p>يوجد عدادان أعلى الشاشة يشيران إلى عدد الرسائل غير المقروءة (الجديدة) وإجمالي عدد الرسائل.</p>	
		<p>لاحظ أنه يتم تعيين جميع الرسائل بصفتها "مقروءة" بمجرد عرضها على هذه الشاشة.</p>
	</tmpl_if>
	<h3>قائمة الرسائل</h3>
	<p>يتم إدراج جميع الرسائل في قائمة مرتبة حسب التاريخ. يشار إلى الرسائل غير المقروءة (الجديدة) برمز. يتم تمييز الرسائل تلقائيًا بصفتها "مقروءة" بمجرد عرضها على هذه الصفحة، لذا لن يتم عرضها في المرة التالية التي يتم فيها الدخول للصفحة بصفتها رسائل غير مقروءة.</p>
	<tmpl_if showDeleteAllButton>
		<h3><tmpl_var _("webui", "sms_delete_all_button")></h3>
		<p>يوجد هذا الزر في نهاية قائمة الرسائل. استخدمه حسب الحاجة لحذف جميع الرسائل.</p>
	</tmpl_if>
</div>
