<!-- wifi_guest_settings -->
<div id="wifi_guest_settings">	
	<h1>Wi-Fi – Vierasverkko</h1>
	<p>
		Wi-Fi-vierasverkkoa voidaan käyttää antamaan väliaikainen yhteys Internetiin <tmpl_var _("webui", "webui_product_name_with_suffix")>-laitteen Wi-Fi-verkon kautta. Jotta voit muodostaa yhteyden Wi-Fi-vierasverkkoon, yhdistettyjen laitteiden on käytettävä tässä näytössä näkyviä Wi-Fi-asetuksia.
	</p>
	
	<p>
		Voit kytkeä vierasverkon päälle tämän ylläpitäjän verkkokäyttöliittymän Wi-Fi General (Wi-Fi – yleistä) -näytöstä tai <tmpl_var _("webui", "webui_product_name_with_suffix")>-laitteen kosketusnäytöstä Wi-Fi-sovelluksen ”Wi-Fi Band Selection” (Wi-Fi-kaistanvalinta) -kohdasta.
	</p>

	<h3><tmpl_var _("webui", "wifi_guest_ssid_label")></h3>
	<p>
		Tämä asettaa verkon nimen tai SSID:n Wi-Fi-vierasverkolle. Anna sopiva nimi. Nimi voi olla enintään 32 merkkiä pitkä.
	</p>
	
	<h3><tmpl_var _("webui", "wifi_guest_security_label")></h3>
	<p>
		Valitse haluamasi Wi-Fi-suojausvaihtoehto.
	</p>
	
	<ul>
		<li>
			<strong><tmpl_var _("webui", "wifi_security_none_text")></strong> sallii muiden seurata Wi-Fi-liikennettäsi ja käyttää datapakettiasi Internetin käyttämiseen. Jos mitenkään mahdollista, tämän vaihtoehdon käyttöä pitäisi välttää.
		</li>
		<li>
			<strong><tmpl_var _("webui", "wifi_security_wpa2_text")></strong> on uusin ja turvallisin menetelmä, ja sitä pitäisi käyttää, jos mahdollista.
		</li>
		<li>
			<strong><tmpl_var _("webui", "wifi_security_wpa2_mix_text")></strong> -vaihtoehtoa voidaan käyttää, jos jotkin vanhemmista laitteistasi eivät tue WPA2:ta.
		</li>
		<li>
			<strong><tmpl_var _("webui","wifi_security_wpa3_transition_text")></strong> voidaan käyttää WPA2- ja WPA3-vaatimuksia noudattavissa laitteissa.
		</li>
	</ul>

	<h3><tmpl_var _("webui", "wifi_guest_password_label")></h3>
	<p>
		Jos <strong>Security</strong>(Suojaus) -kentässä valittiin jokin muu vaihtoehto kuin <strong>None</strong> (Ei mitään), Wi-Fi-salasana vaaditaan.
	</p>

	<p>
		Anna Wi-Fi-salasana tähän kenttään. Jos haluat, että tähän kenttään asetetaan vahva satunnainen salasana, voit käyttää myös ”Generate New Key” (Laadi uusi avain) -painiketta. Muista tallentaa muutokset, jos käytät tätä vaihtoehtoa.
	</p>
	
	<p>
		Nämä asetukset ovat oletusarvoisesti piilotettuina, mutta napsauttamalla otsikkoa/linkkiä saat ne näkyviin. 
		Nämä asetukset voidaan yleensä jättää oletusarvoihinsa, mutta tarvittaessa voit muuttaa niitä ympäristösi mukaan.
	</p>

	<h3><tmpl_udf GET_PO_TEXT("wifi_guest_show_ssid_label", gProductName)></h3>
	<p>
		Jos tämä asetus on valittu, Wi-Fi-verkon nimi ei näy kosketusnäytöllä. Jos tätä kohtaa ei ole valittu, verkon nimeä voidaan tarkastella Wi-Fi-sovelluksen kosketusnäytöllä.
	</p>

	<h3><tmpl_udf GET_PO_TEXT("wifi_guest_show_password_label", gProductName)></h3>
	<p>
		Jos tämä asetus on valittu, Wi-Fi-verkon salasana ei näy kosketusnäytöllä. Jos tätä kohtaa ei ole valittu, salasanaa voidaan tarkastella Wi-Fi-sovelluksen kosketusnäytöllä.
	</p>

	<h3><tmpl_var _("webui", "wifi_guest_broadcast_ssid_label")></h3>
	<p>
		Jos tämä asetus on valittuna, tämä Wi-Fi-verkko näkyy käytettävissä olevien Wi-Fi-verkkojen luettelossa yhdistetyissä laitteissasi. Jos sitä ei ole valittu, tämä verkko ei ole näkyvissä.
	</p>

	<tmpl_if showWiFiGuestWPS>
	<h3><tmpl_var _("webui", "wifi_guest_wps_label")></h3>
	<p>
		Wi-Fi Protected Setup (WPS) on järjestelmä, jonka avulla Wi-Fi-laitteet voivat muodostaa yhteyden Wi-Fi-verkkoon ilman, että verkkoavain jouduttaisiin syöttämään manuaalisesti. Jos haluat käyttää WPS:ää, valitse tämä asetus.
	</p>
	</tmpl_if>

	<h3><tmpl_var _("webui", "wifi_guest_privacy_label")></h3>
	<p>
		Jos tämä asetus on valittuna, jokainen yhdistetty laite on erillään kaikista muista yhdistetyistä laitteista. Tämä tarjoaa lisäturvaa, jos jotkin yhdistetyt laitteet ovat tuntemattomia tai niihin ei luoteta täysin. Tämän ei pitäisi olla valittuna tavanomaisessa käytössä.
	</p>	
</div>

<!-- id="wifi_guest_settings" -->
