<!-- Software Update -->
<div id="software_update">
	<h1><tmpl_var _("webui", "software_update_menu_text")></h1>
	<h2>Descripción</h2>
	<p>
		Las actualizaciones de software se envían a este dispositivo automáticamente a través de la red móvil. Esta pestaña muestra la versión de software actual, la información de la última actualización del sistema, el historial de actualizaciones de software, y le permite buscar nuevas actualizaciones de software.
	</p>
	<p><strong>NOTA:</strong> Puede decidir no recibir actualizaciones de software mediante Inseego Connect.</p>

	<h2><tmpl_var _("webui", "software_update_current_software_sub_header_text")></h2>
	<h3><tmpl_var _("webui", "software_update_current_software_modem_version_label")></h3>
        <p>La version de software del modem instalada actualmente.</p>

        <h3><tmpl_var _("webui", "software_update_current_software_kernel_version_label")></h3>
        <p>La version del sistema operativo y sus componentes.</p>

	<tmpl_if showAppVersion>
		<h3><tmpl_var _("webui", "software_update_current_software_app_version_label")></h3>
		<p>Version de la aplicacion instalada actualmente.</p>
	</tmpl_if>

        <h3><tmpl_var _("webui", "software_update_current_software_cute_version_label")></h3>
        <p>La version cute del software instalado en el dispositivo actualmente.</p>

        <h3><tmpl_var _("webui", "software_update_current_software_pri_version_label")></h3>
        <p>La version de configuracion actualmente utilizada en su dispositivo.</p>
	
	<p>Este campo indica la versión del software actualmente instalada en este dispositivo.</p>

	<tmpl_if SuOptOutButtonShow>
		<h2><tmpl_var _("webui", "software_update_opt_out_update_sub_header_text")></h2>
		<p>
			De forma predeterminada, las actualizaciones de software se envían automáticamente a su dispositivo. Estos ajustes le permite optar por no recibir actualizaciones automáticas de software. Si no desea recibir actualizaciones de software automáticamente, mueva el control deslizante ENCENDIDO/APAGADO a la posición APAGADO.
		</p>
	</tmpl_if>

	<tmpl_if SoftwareUpdateCheckShow>
		<tmpl_if ConfigurationVersionShow>
			<h3><tmpl_var _("webui", "software_update_current_software_configuration_version_label")></h3>
			<p>
				<tmpl_var _("webui", "software_update_current_software_configuration_version_help_label")>
			</p>
		</tmpl_if>
	
		<h2><tmpl_var _("webui", "software_update_check_for_update_sub_header_text")></h2>

		<h3><tmpl_var truncate(_("webui", "software_update_check_for_update_time_label"), (size(_("webui", "software_update_check_for_update_time_label")) - size(":")))></h3>

		<p>La fecha y la hora en que el dispositivo realizó una verificación por última vez para comprobar si había una actualización disponible.</p>

		<h3>
			<tmpl_var truncate(_("webui", "software_update_check_for_update_status_label"), (size(_("webui", "software_update_check_for_update_status_label")) - size(":")))>
		</h3>
		<p>Esta área suele estar en blanco. Si busca una actualización, se muestran los resultados.</p>

		<h3><tmpl_var _("webui", "software_update_check_for_update_button")> Button</h3>
		<p>
			Haga clic en este botón para comprobar manualmente las actualizaciones de software disponibles. Si hay una nueva actualización de software disponible, se descargará automáticamente.
		</p>	
	</tmpl_if>

	<h2><tmpl_var _("webui", "software_update_last_update_sub_header_text")></h2>
	<p>
		Este panel muestra detalles de la última actualización de software.
	</p>
	
	<h2><tmpl_var _("webui", "software_update_history_sub_header_show_text")></h2>
	<p>
		Este panel se puede abrir haciendo clic en el enlace/encabezado. El historial de actualizaciones del sistema contiene detalles de las últimas <tmpl_var SoftwareUpdateHistoryCount> actualizaciones que se han descargado e instalado en este dispositivo. Si no se han instalado actualizaciones, este panel mostrará la versión actual del software.
	</p>
</div>
<!-- end Software Update -->
