<script type="text/javascript">
	/* <![CDATA[ */
        var previousConnectionStatus = "";                       
        var simReady = false;
	var isSettingsValid = true;
        <tmpl_if ShowInseegoConnectInfo>
        	var isUrlChanged = false;
        	var isKeyChanged = false;
        	var isTimeChanged = false;
        </tmpl_if>
	<tmpl_if showModemLoggingSettings>
		var minLogFilesCount = (isNaN(parseInt('<tmpl_var minLogFiles>'))) ? 0 : parseInt('<tmpl_var minLogFiles>'); 
		var maxLogFilesCount = (isNaN(parseInt('<tmpl_var maxLogFiles>'))) ? 0 : parseInt('<tmpl_var maxLogFiles>');
		var minLogFilesSize  = (isNaN(parseInt('<tmpl_var minLogFilesSize>'))) ? 0 : parseInt('<tmpl_var minLogFilesSize>');
		var maxLogFilesSize  = (isNaN(parseInt('<tmpl_var maxLogFilesSize>'))) ? 0 : parseInt('<tmpl_var maxLogFilesSize>');
	</tmpl_if>
	
	$(function()
	{
		if ("<tmpl_var reboot>" === "true") {
			window.location.href = "<tmpl_udf GET_URI('restarting')>";
		}
		
		<tmpl_if modemLogFilesCountError>
			$("#modemLogFilesCountError").show();
		<tmpl_else>
			$("#modemLogFilesCountError").hide();
		</tmpl_if>

		<tmpl_if modemLogFilesSizeError>
			$("#modemLogFilesSizeError").show();
		<tmpl_else>
			$("#modemLogFilesSizeError").hide();
		</tmpl_if>
		
		<tmpl_if combinedLogFileSizeError>
			$("#combinedLogFileSizeError").html('<tmpl_var combinedLogFileSizeError>');
			$("#combinedLogFileSizeError").show();
		<tmpl_else>
			$("#combinedLogFileSizeError").html("");
			$("#combinedLogFileSizeError").hide();
		</tmpl_if>
		
		$(document).ajaxSuccess(function(e, xhr, settings) {
			if ((xhr.responseText) && (settings.dataType == "json")) {
				try {
					var obj = jQuery.parseJSON(xhr.responseText || "null");

					var simStatusObj;
					var connStatusObj;

					if(typeof obj.statusData.isDualSimSupported != "undefined")
					{
						if(obj.statusData.isDualSimSupported == 1) {
							if(obj.statusData.statusBarActiveSimSlot == 2) {
								simStatusObj = "statusBarSim2Status";
								connStatusObj = "statusBarSim2ConnectionState";
							} else {
								simStatusObj = "statusBarSimStatus";
								connStatusObj = "statusBarConnectionState";
							}
						} else {
							simStatusObj = "statusBarSimStatus";
							connStatusObj = "statusBarConnectionState";
						}
					}


					if (typeof obj.statusData[simStatusObj] !== "undefined") {
						switch (obj.statusData[simStatusObj]) {
							case $.uiEnums.SIMSTATUS_READY:
								simReady = true;
								break;
							case $.uiEnums.SIMSTATUS_NOT_FOUND:
								$("#networkStatusCol").html('<tmpl_var _("webui", "webui_app_sim_status_no_sim_text")>');
								toggleConnection("connect", true);
								break;
							case $.uiEnums.SIMSTATUS_PIN_LOCKED:
								$("#networkStatusCol").html('<tmpl_var _("webui", "webui_app_sim_status_pin_locked_text")>');
								toggleConnection("connect", true);
								break;
							case $.uiEnums.SIMSTATUS_PUK_LOCKED:
								$("#networkStatusCol").html('<tmpl_var _("webui", "webui_app_sim_status_puk_locked_text")>');
								toggleConnection("connect", true);
								break;
							case $.uiEnums.SIMSTATUS_NOT_SUPPORTED:
								$("#networkStatusCol").html('<tmpl_var _("webui", "webui_app_sim_status_sim_error_text")>');
								toggleConnection("connect", true);
								break;
							case $.uiEnums.SIMSTATUS_ERROR:
								$("#networkStatusCol").html('<tmpl_var _("webui", "webui_app_sim_status_sim_error_text")>');
								toggleConnection("connect", true);
								break;
						}
					}
					if (simReady) {
						if ((typeof obj.statusData[connStatusObj] !== "undefined") && (previousConnectionStatus !== obj.statusData[connStatusObj])) {
							if (obj.statusData[connStatusObj] !== "") previousConnectionStatus = obj.statusData[connStatusObj];
							switch (obj.statusData[connStatusObj]) {
								case $.uiEnums.WANSTATE_NOSERVICE:
									$("#networkStatusCol").html('<tmpl_var _("webui", "webui_app_network_no_service_text")>');
									toggleConnection("connect", true);
									break;
								case $.uiEnums.WANSTATE_INITIALIZING:
									$("#networkStatusCol").html('<tmpl_var _("webui", "webui_app_network_initializing_text")>');
									toggleConnection("connect", true);
									break;
								case $.uiEnums.WANSTATE_SEARCHING:
									$("#networkStatusCol").html('<tmpl_var _("webui", "webui_app_network_searching_text")>');
									toggleConnection("connect", true);
									break;
								case $.uiEnums.WANSTATE_UNACTIVATED:
									$("#networkStatusCol").html('<tmpl_var _("webui", "webui_app_sim_status_not_activated_text")>');
									toggleConnection("connect", true);
									break;
								case $.uiEnums.WANSTATE_IDLE:
									$("#networkStatusCol").html('<tmpl_var _("webui", "webui_app_network_ready_text")>');
									toggleConnection("connect");
									break;
								case $.uiEnums.WANSTATE_CONNECTING:
									$("#networkStatusCol").html('<tmpl_var _("webui", "webui_app_network_connecting_text")>');
									toggleConnection("connect", true);
									break;
								case $.uiEnums.WANSTATE_DISCONNECTING:
									$("#networkStatusCol").html('<tmpl_var _("webui", "webui_app_network_disconnecting_text")>');
									toggleConnection("disconnect", true);
									break;
								case $.uiEnums.WANSTATE_ACTIVATING:
									$("#networkStatusCol").html('<tmpl_var _("webui", "webui_app_sim_status_activation_started_text")>');
									toggleConnection("connect", true);
									break;
								case $.uiEnums.WANSTATE_PCO2:
									$("#networkStatusCol").html('<tmpl_var _("webui", "webui_app_sim_status_account_restricted_text")>');
									toggleConnection("connect", true);
									break;
								case $.uiEnums.WANSTATE_PCO3:
									$("#networkStatusCol").html('<tmpl_var _("webui", "webui_app_sim_status_account_out_of_credit_text")>');
									toggleConnection("connect", true);
									break;
								case $.uiEnums.WANSTATE_PCO5:
									$("#networkStatusCol").html('<tmpl_var _("webui", "webui_app_sim_status_account_not_active_text")>');
									toggleConnection("connect", true);
									break;
								case $.uiEnums.WANSTATE_CONNECTED:
									$("#networkStatusCol").html('<tmpl_var _("webui", "webui_app_network_connected_text")>');
									toggleConnection("disconnect");
									break;
								case $.uiEnums.WANSTATE_DORMANT:
									$("#networkStatusCol").html('<tmpl_var _("webui", "webui_app_network_dormant_text")>');
									toggleConnection("disconnect");
									break;
								default:
									$("#networkStatusCol").html(obj.statusData[connStatusObj]);
									toggleConnection("connect");
									break;
							}
						}
					}
				} catch(e) {}
			}
		});

		$("#connectDisconnect").on("click", function() {

			statusStop();

			if($.trim($(this).text()) == '<tmpl_var _("webui_app_connect_text")>') {
				$("#networkStatusCol").html('<tmpl_var _("webui_app_network_connecting_text")>');
				toggleConnection("connect", true);
				$.get("/srv/connect").always(statusStart);

			} else if($.trim($(this).text()) == '<tmpl_var _("webui_app_disconnect_text")>') {

				$("#networkStatusCol").html('<tmpl_var _("webui_app_network_disconnecting_text")>');
				toggleConnection("disconnect", true);
				$.get("/srv/disconnect").always(statusStart);
			}
		});	
		
		<tmpl_if ShowInseegoConnectInfo>
			$("#retryTime").change(function(){
				if(<tmpl_var retryTime> != $("#retryTime").val()){
					isTimeChanged = true;
				} else {
					isTimeChanged = false;
				}
			});

			$("#inseegoUrl").change(function(){
				if("<tmpl_var inseegoUrl>"!= $("#inseegoUrl").val()){
					isUrlChanged = true;
				} else {
					isUrlChanged = false;
				}
			});

			$("input:radio[name='keyOptions']").change(function(){
				if(<tmpl_var keyOption> != $(this).val()){
					isKeyChanged = true;
				} else {
					isKeyChanged = false;
				}
			});
		</tmpl_if>
		
		$("#saveButton").on("click",function(e) {
			e.preventDefault();
			<tmpl_if showModemLoggingSettings>
				var logCountEl = $("#modemLogFilesCount");
				var logSizeEl  = $("#modemLogFilesSize");
	
				var logCountValid = ValidateLogCount(logCountEl);
				var logSizeValid  = ValidateLogSize(logSizeEl);
				var totalLogFileSizeValid = ValidateTotalLogFileSize(logCountEl, logSizeEl);

				if(logCountValid && logSizeValid && totalLogFileSizeValid) {
					isSettingsValid = true;
				} else {
					isSettingsValid = false;
					if($("#postSuccess").is(":visible")) {
						$("#postSuccess").hide();
					}
					if($("#postFailure").is(":visible")) {
						$("#postFailure").hide();
					}	
					$("#globalError").addClass("notification app error");
					$("#globalError").html("<i class='icon-error'></i><tmpl_var _('webui', 'webui_save_code_failed_text')>");
				}
			</tmpl_if>
			
			if(isSettingsValid) {
				if(isUrlChanged || isKeyChanged || isTimeChanged) {
					showPopupScreen();
				} else {
					$("#lab_test_info_form").submit();
				}
			}
		});
	
		<tmpl_if showDeviceMode>	
			function deviceModePopUp(ele) {
				modalPopup.createWindow(
					'<tmpl_var _("webui", "webui_modal_title_confirm_text")>',
					'<p><tmpl_var _("webui", "lab_test_info_device_mode_message")></p>',
					530,
					200,
					[{
						text : '<tmpl_var _("webui", "webui_modal_ok_button")>',
						className : "primary",
						trigger : function() {
							window.location.reload(true);
						}
					}]
				);
			}

			$("#endUserMode").on("click", function(e) {
				e.preventDefault();
				$.ajax({
					url : '<tmpl_udf GET_URI("lab_test_info_enable_end_user_mode")>',
					type : "POST",
					data : {
						gSecureToken : "<tmpl_var gSecureToken>"
					},
					dataType : "json",
					success : function(){
						deviceModePopUp(this);
					}
				});
			});

			<tmpl_if ShowEnterpriseMode>
				$("#enterpriseMode").on("click", function(e) {
					e.preventDefault();
					$.ajax({
						url : '<tmpl_udf GET_URI("lab_test_info_enable_enterprise_mode")>',
						type : "POST",
						data : {
							gSecureToken : "<tmpl_var gSecureToken>"
						},
						dataType : "json",
						success : function(){
							deviceModePopUp(this);
						}
					});
				});
			</tmpl_if>

			$("#debugMode").on("click", function(e) {
				e.preventDefault();
				$.ajax({
					url : '<tmpl_udf GET_URI("lab_test_info_enable_debug_mode")>',
					type : "POST",
					data : {
						gSecureToken : "<tmpl_var gSecureToken>"
					},
					dataType : "json",
					success : function(){
						deviceModePopUp(this);
					}
				});
			});
		</tmpl_if>

		<tmpl_if showModemLogging>
			$("#clearLogs").on("click", function() {
				$("#clearLogs").prop("disabled", true);
				$.ajax({
                                        url : '<tmpl_udf GET_URI("lab_test_info_clear_modem_logs")>',
                                        type : "POST",
                                        data : {
                                                gSecureToken : "<tmpl_var gSecureToken>"
                                        },
                                        dataType : "json",
                                        success : function(){
                                                $("#clearLogs").prop("disabled", false);
                                        }
                                });
			});
		</tmpl_if>
	});

	function ValidateTotalLogFileSize(e1,e2)
	{
		var isValid = true;
	
		var totalLogFileSize = parseInt(e1.val()) * parseInt(e2.val());
		
		if(totalLogFileSize < minLogFilesSize) {
			isValid = false;
			$("#combinedLogFileSizeError").html('<tmpl_udf GET_PO_TEXT("lab_test_info_total_file_size_lower_limit_error_text", minLogFilesSize)>');
		} else if(totalLogFileSize > maxLogFilesSize) {
			isValid = false;
			$("#combinedLogFileSizeError").html('<tmpl_udf GET_PO_TEXT("lab_test_info_total_file_size_upper_limit_error_text", maxLogFilesSize)>');
		}


		if(!isValid) {
                        $("#combinedLogFileSizeError").show();
			if(! e1.hasClass("error")) {
				e1.addClass("error");
			}

			if(! e2.hasClass("error")) {
				e2.addClass("error");
			}
		} else {
                        $("#combinedLogFileSizeError").hide();
			if(e1.hasClass("error")) {
                                e1.removeClass("error");
                        }

                        if(e2.hasClass("error")) {
                                e2.removeClass("error");
                        }
		}
	
		return isValid;
	}

	function ValidateLogCount(el)
	{
		var isValid = true;

		var logCount = el.val();
		logCount.trim();

		if((logCount === "") || isNaN(logCount)) {
                        $("#modemLogFilesCountError").html('<tmpl_var _("webui", "lab_test_info_file_count_invalid_error_text")>');
			isValid = false;
                } else if((parseInt(logCount) < minLogFilesCount) || (parseInt(logCount) > maxLogFilesCount)) {
			$("#modemLogFilesCountError").html('<tmpl_udf GET_PO_TEXT("lab_test_info_file_count_invalid_limit_error_text", minLogFiles, maxLogFiles)>');
			isValid = false;
		}

		if(!isValid) {
			$("#modemLogFilesCountError").show();
		} else {
			$("#modemLogFilesCountError").html('')
			$("#modemLogFilesCountError").hide();
		}

		return isValid;
	}

	function ValidateLogSize(el)
	{
		var isValid = true;
		
		var logSize = el.val();
		logSize.trim();

		if((logSize === "") || isNaN(logSize)) {
			$("#modemLogFilesSizeError").html('<tmpl_var _("webui", "lab_test_info_file_size_invalid_error_text")>');
			isValid = false;
		}

		if(!isValid) {
                        $("#modemLogFilesSizeError").show();
                } else {
                        $("#modemLogFilesSizeError").html('')
                        $("#modemLogFilesSizeError").hide();
                }	

		return isValid;
	}

	function showPopupScreen()
	{
		$("#isrebootrequired").val(1);
		modalPopup.createWindow(
			'<tmpl_var _("webui", "webui_modal_title_confirm_text")>',
			'<p><tmpl_var _("webui", "lab_test_info_device_reboot_text")></p>',
			530,
			200,
			[{
				text : '<tmpl_var _("webui", "webui_modal_confirm_button")>',
				className : "primary",
				trigger : function () {
					$("#lab_test_info_form").submit();
				}
			}, {
				text : '<tmpl_var _("webui", "webui_modal_cancel_button")>',
				className : "cancel",
				trigger : function() {
					UndoInseegoConnectChanges();
				}
			}], null, function(){
				UndoInseegoConnectChanges();
		});
	}

	function UndoInseegoConnectChanges()
	{
		if(isTimeChanged) {
			$("#retryTime").val(<tmpl_var retryTime>);
		}

		if(isUrlChanged){
			var url = '<tmpl_var inseegoUrl>';
			url = $("<div/>").html(url).text();
			$("#inseegoUrl").val(url);
		}



		isTimeChanged = false;
		isUrlChanged = false;
		isKeyChanged = false;
	}

	function statusStop()
	{
		if ($.statusBar) $.statusBar("stop");
	}

	function statusStart()
	{
		if ($.statusBar) $.statusBar("start");
	}

	function toggleConnection(state, disable)
	{
		var disable = disable || false;
		var str = "";
		if (state === "connect") {
			str = '<tmpl_var _("webui", "webui_app_connect_text")>';
			dataConnected = false;
		} else {
			str = '<tmpl_var _("webui", "webui_app_disconnect_text")>';
			dataConnected = true;
		}
		$("#connectDisconnect").html(str).prop("disabled", disable);
	}
	/* ]]> */
</script>

<tmpl_if errorCount>
	<div class="notification app error" id="postError">
		<i class="icon-error"></i>
		<p><tmpl_var _("webui", "webui_save_code_failed_text")></p>
	</div>
</tmpl_if>

<tmpl_if gPostSuccess>
	<div class="notification app success" id="postSuccess">
		<i class="icon-success"></i>
		<span class="boxclose" onclick="this.parentElement.style.display='none';"></span>
		<p><tmpl_var _("webui", "webui_save_code_success_text")></p>
	</div>
</tmpl_if>

<div id="globalError"></div>

<h1 class="sectionHead"><tmpl_var _("webui", "lab_test_info_menu_text")></h1>

<tmpl_if showAppVersion>
	<h2 class="sectionHead"><tmpl_var _("webui", "lab_test_info_current_software_sub_header_text")></h2>
	<tmpl_unless IN_SET(appVersion, "unknown")>
		<div class="form-group">
			<div class="label"><tmpl_var _("webui", "lab_test_info_app_version_label")></div>
			<div class="input" id="appVersion"><tmpl_var appVersion></div>
		</div><!-- /.row -->
	</tmpl_unless>	
</tmpl_if>

<tmpl_if ShowConnectionControls>
	<h3 class="sectionHead"><tmpl_var _("webui", "lab_test_info_connection_ctrls_sub_header")></h3>

	<div class="table">
		<div class="row noblock clearfix">
			<div class="col label" id="labTestInfoConnectionStatus">
				<h4><label><tmpl_var _("webui", "lab_test_info_connection_status_label")></label></h4>
			</div>
			<div class="col textCol" id="networkStatusCol">
				<label><tmpl_var ConnectionStatus></label>
			</div>
		</div>
	</div>

	<div id="connect" class="button_container clearfix">
		<button id="connectDisconnect" type="button" class="secondary" <tmpl_if connectDisconnectButtonDisableStatus>disabled="disabled"</tmpl_if>>
			<tmpl_var connectDisconnectButtonText>
		</button>
	</div>
<tmpl_else>
	<h2 class="sectionHead"><tmpl_var _("webui", "lab_test_info_settings_header")></h2>
</tmpl_if>

<form id="lab_test_info_form" method="POST" action="<tmpl_udf GET_URI('lab_test_info')>">
	<input type="hidden" name="gSecureToken" id="gSecureToken" value="<tmpl_var gSecureToken>" />
	<input type="hidden" name="isrebootrequired" id ="isrebootrequired" value="" />

	

	<div class="table">
		<div class="form-group">
			<div id="autoConnectLabel" class="label">
				<label for="ConnectionType"><tmpl_var _("webui", "lab_test_info_auto_connect_label")></label>
			</div>
			<div class="input">
				<select name="ConnectionType" id="ConnectionType">
					<tmpl_include "connection_options.tmpl">
				</select>
			</div>
		</div>
		<div class="form-group">
			<div id="networkTechnologyLabel" class="label">
				<label for="NetworkTechnology"><tmpl_var _("webui", "lab_test_info_network_technology_label")></label>
			</div>
			<div class="input">
				<select name="NetworkTechnology" id="NetworkTechnology">
					<tmpl_include "network_technology_options.tmpl">
				</select>
			</div>
		</div>
		<tmpl_if showIpptMode>
			<div class="form-group">
				<div class="label">
					<h4><label for="IpPassthroughEnabled"><tmpl_var _("webui", "lab_test_info_ippt_status_label")></label></h4>
				</div>
				<div class="input">
					<select name="IpPassthroughEnabled" id="IpPassthroughEnabled">
						<tmpl_include "ippassthrough_options.tmpl">
					</select>
				</div>
				<div class="help">
					<tmpl_var _("webui", "lab_test_info_ippt_status_help_text")>
				</div>
			</div>
		</tmpl_if>
	</div>
	<tmpl_if ShowInseegoConnectInfo>
	<tmpl_if gIsDeviceAgent>
		<h2 class="sectionHead"><tmpl_var _("webui", "lab_test_info_inseego_connect_subheader_text")></h2>
		<div class="form-group">
			<div class="label">
				 <label for="inseegoUrl"><tmpl_var _("webui", "lab_test_info_inseego_connect_url_label")></label>
			</div>
			
			<div class="input">
				<input type="text" name="inseegoUrl" id="inseegoUrl" value="<tmpl_var inseegoUrl>"/>
			</div>
		</div>
		<div class="form-group">
			<div class="label ">
				<label for="keyOptions"> <tmpl_var _("webui", "lab_test_info_inseego_connect_key_label")></label>
			</div>
			<div class="input keyAdjust">
				<span class="keyOptions">
				<input type="radio" name="keyOptions" id="keyReleaseOption" value="1"<tmpl_if IN_SET(keyOption, 1)> checked="checked"</tmpl_if>/><tmpl_var _("webui", "lab_test_info_inseego_connect_key_release_text")>
				</span>
				<span class="keyOptions">
				<input type="radio" name="keyOptions" id="keyTestOption" value="0"<tmpl_if IN_SET(keyOption, 0)> checked="checked"</tmpl_if>/><tmpl_var _("webui", "lab_test_info_inseego_connect_key_test_text")>
				</span>
			</div>
			<div id="keyInfo" class="help">
				<tmpl_var _("webui", "lab_test_info_key_help_text")>
			</div>
		</div>
		<div class="form-group">
			<div class="label">
				<label for="retryTime"><tmpl_var _("webui", "lab_test_info_inseego_connect_registration_retry_label")></label>
			</div>
			<div class="input">
				<input type="text" name="retryTime" id="retryTime" value="<tmpl_var retryTime>"/>
			</div>
			<div class="help">
				<tmpl_var _("webui", "lab_test_info_seconds_text")>
			</div>
		</div>

		<tmpl_if showSetupDemo>
			<div class="row clearfix">
				<div class="col label">
					<h4><label for="setupDemo"><tmpl_var _("webui", "lab_test_info_setup_demo_label")></label></h4>
				</div>
				<div class="col input">
					<input type="checkbox" name="setupDemo" id="setupDemo" <tmpl_if IN_SET(setupDemo, "on", "1")> checked="checked"</tmpl_if>/>
				</div>
			</div>
		</tmpl_if>
	</tmpl_if>
	</tmpl_if>

	<tmpl_if showModemLogging>
		<h2 class="sectionHead"><tmpl_var _("webui", "lab_test_info_modem_log_settings_subheader_text")></h2>
		
		<div class="form-group">
                        <div class="label">
                                 <label for="enableModemLog"><tmpl_var _("webui", "lab_test_info_modem_log_enable_label")></label>
                        </div>

                        <div class="input">
                                <input type="checkbox" name="enableModemLog" id="enableModemLog" <tmpl_if IN_SET(enableModemLog, "on")>checked="checked"</tmpl_if> />
                        </div>
                </div>

		<tmpl_if showModemLoggingSettings>
			<div class="col inline_error" id="combinedLogFileSizeError" style="display:none;"></div>

			<div class="form-group">
				<div class="label">
					 <label for="modemLogFilesCount"><tmpl_var _("webui", "lab_test_info_modem_log_files_count_label")></label>
				</div>

				<div class="input">
					<input type="text" name="modemLogFilesCount" id="modemLogFilesCount" value="<tmpl_var modemLogFilesCount>" <tmpl_if modemLogFilesCountError>class="error"</tmpl_if> />
				</div>

				<div class="col inline_error" id="modemLogFilesCountError" style="display:none;">
					<tmpl_var modemLogFilesCountError>
				</div>
			</div>

			<div class="form-group">
				<div class="label">
					 <label for="modemLogFilesSize"><tmpl_var _("webui", "lab_test_info_modem_log_files_size_label")></label>
				</div>

				<div class="input">
					<input type="text" name="modemLogFilesSize" id="modemLogFilesSize" value="<tmpl_var modemLogFilesSize>" <tmpl_if modemLogFilesSizeError>class="error"</tmpl_if> />
				</div>
			
				<div class="col inline_error" id="modemLogFilesSizeError" style="display:none;">
					<tmpl_var modemLogFilesSizeError>
				</div>
			</div>
				
			<p class="note"><tmpl_udf GET_PO_TEXT("lab_test_info_modem_log_files_note_text", maxLogFilesSize)></p>
		</tmpl_if>

		<div class="button_container clearfix">
                	<button id="clearLogs" type="button" class="secondary" <tmpl_unless IN_SET(enableModemLog, "on")>disabled="disabled"</tmpl_unless>>
                        	<tmpl_var _("webui", "lab_test_info_delete_modem_logs_button")>
                	</button>
        	</div>
	</tmpl_if>

	<br />

	<div class="button_container clearfix">
		<button type="submit" class="primary" id="saveButton">
			<tmpl_var _("webui", "webui_save_button")>
		</button>
	</div>
</form>

<tmpl_if showDeviceMode>
	<fieldset id="DeviceMode">
		<h3 class="sectionHead">Device Mode</h3>
		<div class="button_container clearfix">
			<button id="endUserMode" class="secondary" >
				<tmpl_var _("webui", "lab_test_info_end_user_mode_button")>
			</button>
			<button id="debugMode" class="secondary" >
				<tmpl_var _("webui", "lab_test_info_debug_mode_button")>
			</button>
			<tmpl_if ShowEnterpriseMode>
				<button id="enterpriseMode" class="secondary" >
					<tmpl_var _("webui", "lab_test_info_enterprise_mode_button")>
				</button>
			</tmpl_if>
		</div>
	</fieldset>
</tmpl_if>

<fieldset class="last">
	<h3 class="sectionHead"><tmpl_var _("webui","lab_test_info_diagnostics_info_sub_header")></h3>
	<div id="diagInfo">
		<pre><tmpl_var diagInfo></pre>
	</div>
</fieldset>
