<option value="<tmpl_var preferredTechnology5GOnly>"<tmpl_if IN_SET(NetworkTechnology, preferredTechnology5GOnly)> selected="selected"</tmpl_if> ><tmpl_var _("webui", "lab_test_info_technology_5g_text")></option> <!-- 5G UWB -->
<option value="<tmpl_var preferredTechnologyAuto>"<tmpl_if IN_SET(NetworkTechnology, preferredTechnologyAuto)> selected="selected"</tmpl_if> ><tmpl_var _("webui", "lab_test_info_technology_auto_text")></option> <!-- Global -->
<option value="<tmpl_var preferredTechnologyLTEGSMUMTSHSPA>"<tmpl_if IN_SET(NetworkTechnology, preferredTechnologyLTEGSMUMTSHSPA)> selected="selected"</tmpl_if> ><tmpl_var _("webui", "lab_test_info_technology_lte_gsm_umts_hspa_text")></option> <!-- LTE/GSM/UMTS/HSPA -->
<option value="<tmpl_var preferredTechnologyLTEOnly>"<tmpl_if IN_SET(NetworkTechnology, preferredTechnologyLTEOnly)> selected="selected"</tmpl_if> ><tmpl_var _("webui", "lab_test_info_technology_lte_only_text")></option> <!-- LTE only -->
<tmpl_comment><option value="<tmpl_var preferredTechnologyGSMUMTSHSPAOnly>"<tmpl_if IN_SET(NetworkTechnology, preferredTechnologyGSMUMTSHSPAOnly)> selected="selected"</tmpl_if> ><tmpl_var _("webui", "lab_test_info_technology_gsm_umts_hspa_only_text")></option> <!-- GSM/UMTS/HSPA only --></tmpl_comment>

