<option value="0"<tmpl_if IN_SET(WifiAdvanced5GBandwidth, 0)> selected="selected"</tmpl_if>><tmpl_var _("webui", "webui_numeric_two_text")><tmpl_var _("webui", "webui_numeric_zero_text")>&nbsp;<tmpl_var _("webui", "webui_frequency_mega_hertz_text")></option>
<option value="1"<tmpl_if IN_SET(WifiAdvanced5GBandwidth, 1)> selected="selected"</tmpl_if>><tmpl_var _("webui", "webui_numeric_four_text")><tmpl_var _("webui", "webui_numeric_zero_text")>&nbsp;<tmpl_var _("webui", "webui_frequency_mega_hertz_text")></option>
<option value="2"<tmpl_if IN_SET(WifiAdvanced5GBandwidth, 2)> selected="selected"</tmpl_if>><tmpl_var _("webui", "webui_numeric_eight_text")><tmpl_var _("webui", "webui_numeric_zero_text")>&nbsp;<tmpl_var _("webui", "webui_frequency_mega_hertz_text")></option>