<!-- WiFi Advanced -->
<div id="wifi_advanced">
	<h1>Wi-Fi</h1>
	<h2>Descripción</h2>
	<p> Normalmente, estas configuraciones de Wi-Fi se pueden dejar en sus valores predeterminados, pero pueden adaptarse, de ser necesario, para que se ajusten a su entorno en particular. </p>

	<h2>Control de encendido/apagado de Wi-Fi</h2>
	<p> Use este control para activar o desactivar el Wi-Fi según se requiera. Si se desactiva, la red Wi-Fi <tmpl_var _("webui", "webui_product_name_with_suffix")> no estará disponible, de modo que la única manera de conectarse al <tmpl_var _("webui", "webui_product_name")> será usar un cable USB. </p>

	<h3>Permitir que se hagan cambios de parámetros de Wi-Fi desde la pantalla de Jetpack</h3>
	<p>
	Use este control para activar o desactivar el Wi-Fi según corresponda. Si está desactivado, la red de Wi-Fi no estará disponible, de modo que la única manera de conectarse será usar un cable USB.
	</p>

	<h3><tmpl_var _("webui", "wifi_advanced_max_connections_label")></h3>
	<p> Determine cuántos dispositivos pueden conectarse simultáneamente a la/s red/es Wi-Fi <tmpl_var _("webui", "webui_product_name_with_suffix")>. </p>
	
	<h2><tmpl_var _("webui", "wifi_advanced_profile_title")></h2>
	<p> Esta configuración determina cómo se usa cada banda (2.4 GHz y 5 GHz) y también determina si la red de Wi-Fi de invitados está disponible. </p>

	<h3><tmpl_var _("webui", "wifi_advanced_two_point_four_ghz_band_label")></h3>
	<p> Seleccione la opción deseada para aplicar esta banda a la red principal, a la red de invitados, o para desactivar esta banda. </p>

	<h3><tmpl_var _("webui", "wifi_advanced_five_ghz_band_label")></h3>
	<p> Seleccione la opción deseada para aplicar esta banda a la red principal, a la red de invitados, o para desactivar esta banda. Tenga en cuenta que no puede desactivar ambas bandas. </p>
	
	<h2><tmpl_var _("webui", "wifi_advanced_two_point_four_g_band_options_title")></h2>
	<p> Estas configuraciones están ocultas de manera predeterminada, pero puede hacer clic en el encabezado/enlace para hacerlas visibles. Estas configuraciones se usan cada vez que la banda de 2.4 GHz está activa. </p>

	<h3><tmpl_var _("webui", "wifi_advanced_two_point_four_g_802_11_mode_label")></h3>
	<p> Use esta configuración para cambiar el modo de Wi-Fi, si es necesario. Por lo general, se deja esta configuración en su valor predeterminado. </p>

	<h3><tmpl_var _("webui", "wifi_advanced_two_point_four_g_channel_label")></h3>
	<p> Debe dejarse en <strong>Automático</strong>, a menos que deba seleccionar un canal en particular para su entorno. </p>

	<h2><tmpl_var _("webui", "wifi_advanced_five_g_options_title")></h2>
	<p> Esta configuración está oculta de manera predeterminada, pero puede hacer clic en el encabezado/enlace para hacerla visible. Estas configuraciones se usan cada vez que la banda de 5 GHz está activa. </p>

	<h3><tmpl_var _("webui", "wifi_advanced_five_g_802_11_mode_label")></h3>
	<p> Use esta configuración para cambiar el modo de Wi-Fi, si es necesario. Generalmente, no hay ningún motivo para cambiar este valor predeterminado. </p>

	<h3><tmpl_var _("webui", "wifi_advanced_five_g_bandwidth_label")></h3>
	<p> Seleccione la opción deseada. Se debe usar el valor predeterminado a menos que experimente interferencia con otros dispositivos de Wi-Fi. En ese caso, la reducción del ancho de banda puede reducir la interferencia. </p>

	<h3><tmpl_var _("webui", "wifi_advanced_five_g_channel_label")></h3>
	<p> Debe dejarse en <strong>Automático</strong>, a menos que deba seleccionar un canal en particular para su entorno. </p>

</div>

<!-- id="wifi_advanced" -->

