<option value="0" <tmpl_if IN_SET(WifiAdvanced2Dot4GHZBandState, "0")>selected="selected"</tmpl_if>><tmpl_var _("webui", "wifi_advanced_band_off_text")></option>
<option value="1" <tmpl_if IN_SET(WifiAdvanced2Dot4GHZBandState, "1")>selected="selected"</tmpl_if>><tmpl_var _("webui", "wifi_advanced_band_primary_text")></option>
<option value="2" <tmpl_if IN_SET(WifiAdvanced2Dot4GHZBandState, "2")>selected="selected"</tmpl_if>><tmpl_var _("webui", "wifi_advanced_band_guest_text")></option>


