<div id="customer_care">
	<h1><tmpl_var _("webui", "customer_care_menu_text")></h1>
	<h2>Overview</h2>
	<p>This page provides links and contact information to assist you if you have any problems or questions.
	</p>
				
	<h2><tmpl_var _("webui", "customer_care_links_sub_header_verizon_text")></h2>
	<p>Use these links to access the Verizon Wireless website.
	</p>
	
	<h2><tmpl_var _("webui", "customer_care_support_sub_header_verizon_text")></h2>
	<p>Use these links to find out more about this type of device, or access online support for this <tmpl_var _("webui", "webui_product_name")>. </p>
	
	<h2><tmpl_var _("webui", "customer_care_numbers_sub_header_verizon_text")></h2>
	<p>If necessary, call Customer Care at Verizon Wireless, using the telephone number displayed here.
	</p>
</div>
