<div id="customer_care">
	<h1><tmpl_var _("webui", "customer_care_menu_text")></h1>
	<h2>Apžvalga</h2>
	<p>Šiame puslapyje pateikiami saitai ir kontaktinė informacija, padėsianti jums iškilus problemoms ar klausimams.</p>
				
	<h2><tmpl_var _("webui", "customer_care_links_sub_header_verizon_text")></h2>
	<p>Naudokite šiuos saitus, kad pasiektumėte „Verizon Wireless“ svetainę.</p>
	
	<h2><tmpl_var _("webui", "customer_care_support_sub_header_verizon_text")></h2>
	<p>Naudokite šiuos saitus, jei norite daugiau sužinoti apie šio tipo įrenginį arba pasiekti šio <tmpl_var _("webui", "webui_product_name")> palaikymą tinkle.</p>
	
	<h2><tmpl_var _("webui", "customer_care_numbers_sub_header_verizon_text")></h2>
	<p>Jei reikia, skambinkite „Verizon Wireless“ klientų aptarnavimo tarnybai čia rodomu telefono numeriu.</p>
</div>
