<div id="customer_care">
	<h1><tmpl_var _("webui", "customer_care_menu_text")></h1>
	<h2>Yleiskatsaus</h2>
	<p>Tällä sivulla on linkkejä ja yhteystietoja, joiden kautta saat ohjeita, jos sinulla on ongelmia tai kysymyksiä.</p>
				
	<h2><tmpl_var _("webui", "customer_care_links_sub_header_verizon_text")></h2>
	<p>Pääset näistä linkeistä Verizon Wireless -verkkosivustolle.</p>
	
	<h2><tmpl_var _("webui", "customer_care_support_sub_header_verizon_text")></h2>
	<p>Näistä linkeistä saat lisätietoja tämäntyyppisestä laitteesta tai pääset tämän <tmpl_var _("webui", "webui_product_name")>-laitteen verkossa käytettävään tukipalveluun.</p>
	
	<h2><tmpl_var _("webui", "customer_care_numbers_sub_header_verizon_text")></h2>
	<p>Soita tarvittaessa Verizon Wirelessin asiakaspalveluun tässä esitettyyn puhelinnumeroon.</p>
</div>
