<div id="customer_care">
	<h1><tmpl_var _("webui", "customer_care_menu_text")></h1>
	<h2>Översikt</h2>
	<p>Den här sidan innehåller länkar och kontaktinformation för att hjälpa dig om du har några problem eller frågor.</p>
				
	<h2><tmpl_var _("webui", "customer_care_links_sub_header_verizon_text")></h2>
	<p>Använd dessa länkar för att få åtkomst till Verizon Wireless-webbplatsen.</p>
	
	<h2><tmpl_var _("webui", "customer_care_support_sub_header_verizon_text")></h2>
	<p>Använd dessa länkar för att få reda på mer om den här typen av enhet eller få åtkomst till online-support för denna <tmpl_var _("webui", "webui_product_name")>.</p>
	
	<h2><tmpl_var _("webui", "customer_care_numbers_sub_header_verizon_text")></h2>
	<p>Ring vid behov kundtjänst på Verizon Wireless på det telefonnummer som visas här.</p>
</div>
