<link rel="stylesheet" type="text/css" href="/<tmpl_var gBaseAssetsPath>/css/style.min.css?v=<tmpl_var gBaseAssetsPath>" />
<tmpl_comment>Loop through and link any application styles.</tmpl_comment>
<tmpl_unless IN_SET(gPageId, "login")>
	<tmpl_foreach gCssList as css>
		<link rel="stylesheet" type="text/css" href="/<tmpl_var gPageId>/<tmpl_var css.cssPath>?v=<tmpl_var gBaseAssetsPath>" />
	</tmpl_foreach>
</tmpl_unless>
<link rel="stylesheet" type="text/css" href="/<tmpl_var gBaseAssetsPath>/css/app.css?v=<tmpl_var gBaseAssetsPath>" />
<link rel="stylesheet" type="text/css" href="/<tmpl_var gBaseAssetsPath>/css/override.css?v=<tmpl_var gBaseAssetsPath>" />
<tmpl_if gIsMultiSimSupported>
        <tmpl_if IN_SET(gPageId, "apps_home")>
               <link rel="stylesheet" type="text/css" href="/<tmpl_var gBaseAssetsPath>/css/apps_home_dualsim.css?v=<tmpl_var gBaseAssetsPath>" />
        </tmpl_if>

</tmpl_if>
