<!-- Port Forwarding -->
<div id="port_forward">
	<h1>Porta pārsūtīšana</h1>
	<h2>Pārskats</h2>
	<p>Porta pārsūtīšanas funkcija ļauj no interneta ienākošo trafiku pārsūtīt uz noteiktu datoru vai ierīci Wi-Fi tīklā. Parasti iebūvētais ugunsmūris bloķē no interneta ienākošo datplūsmu. Jūs izmantojat portu pārsūtīšanu, lai atļautu interneta lietotājiem piekļūt jebkuram serverim, kas darbojas jūsu datorā, piemēram, tīmekļa, FTP vai e-pasta serverim. Dažām tiešsaistes spēlēm porta pārsūtīšana ir jāizmanto, lai spēles darbotos pareizi. Ņemiet vērā, ka porta pārsūtīšanas izmantošana rada drošības risku, un tai jābūt izslēgtai, kad tā nav nepieciešama.</p>
<p><strong>Piezīme.</strong> Daži mobilie bezvadu tīkli nodrošina IP adresi savā tīklā, nevis interneta IP adresi. Šādā gadījumā portu pārsūtīšanu nevar izmantot, jo interneta lietotāji nevar sasniegt jūsu IP adresi.</p>

	<h2>Porta pārsūtīšanas lietojumprogrammas</h2>
	<h3>Lietojumprogrammu izvēles rūtiņas</h3>
		<p>Ir norādītas vairākas izplatītas servera lietojumprogrammas. Lai izmantotu kādu no šīm lietojumprogrammām, izpildiet tālāk aprakstīto procedūru.</p>
		<ol>
			<li>Instalējiet lietojumprogrammu datorā, kas ir savienots ar šīs ierīces Wi-Fi tīklu.</li>
			<li>Datorā pārbaudiet tā Wi-Fi tīkla IP adresi. Varat arī pārbaudīt datora IP adresi ekrānā Savienotās ierīces.</li>
			<li>Šajā ekrānā ievadiet datora IP adresi laukā <strong>Pievienotās ierīces IP adrese</strong> blakus lietojumprogrammai.</li>
			<li>Ieslēdziet šo lietojumprogrammu šajā ekrānā, atzīmējot tās izvēles rūtiņu.</li>
			<li>Saglabājiet izmaiņas.</li>
			<li>Ekrānā <strong>Pašreizējais statuss</strong> pierakstiet šīs ierīces interneta IP adresi.</li>
			<li>Lūdziet interneta lietotājiem izveidot savienojumu ar šīs ierīces interneta IP adresi. Šie savienojuma pieprasījumi tiks pārsūtīti uz IP adresi, kas norādīta 3. darbībā.</li>
		</ol>

	<h2>Pielāgotas lietojumprogrammas</h2>
	<p>Šī funkcija ļauj definēt savas lietojumprogrammas. Kad šīs lietojumprogrammas ir definētas, tās var ieslēgt vai izslēgt tāpat kā iepriekš definētas lietojumprogrammas. Lai definētu lietojumprogrammu, jāzina porti un protokols (TCP, UDP), ko lietojumprogramma izmanto ienākošajam trafikam. Lai sāktu, noklikšķiniet uz pogas <strong>Pievienot pielāgotu lietojumprogrammu</strong> un pēc tam norādiet tālāk prasītos datus.</p>
	<h3>Lietojumprogrammas izvēles rūtiņa</h3>
	<p>Izmantojiet šo opciju, lai ieslēgtu lietojumprogrammu pēc tās definēšanas.</p>
	<h3>Lietojumprogrammas nosaukums</h3>
	<p>Ievadiet definējamajai lietojumprogrammai piemērotu nosaukumu.</p>

	<h3>Pievienotās ierīces IP adrese</h3>
	<p>Ievadiet tās pievienotās ierīces IP adresi, kas saņems šo trafiku.</p>

	<h3>Porta tips un porta numuri</h3>
		<p>Katrai lietojumprogrammai ir savs portu diapazons. Ievadiet katras lietojumprogrammas portu diapazona sākumu un beigas.</p>
		<div class="blockgroup">
			<ul>
				<li>Portu diapazonam ievadiet diapazona sākumu laukā <strong>No</strong> un diapazona beigas laukā <strong>Līdz</strong>.</li>
				<li>Pārraidīšanas portam ievadiet porta numuru gan laukā <strong>Ārējais</strong>, gan laukā <strong>Iekšējais</strong>.</li>
			</ul>
		</div>
	<h3>Protokols</h3>
	<p>Katram portu diapazonam atlasiet protokolu (TCP vai UDP), ko izmanto šis portu diapazons.</p>
		
	<h3>Dzēst</h3>
	<p>Izmantojiet šo izvēles rūtiņu, lai dzēstu pielāgotu lietojumprogrammu.</p>
</div>
<!-- id="port_forward" -->

