<!-- Port Forwarding -->
<div id="port_forward">
	<h1>Portweiterleitung</h1>
	<h2>Übersicht</h2>
	<p>Über eine Portweiterleitung können bestimmte Anwendungen an ein konkretes Gerät weitergeleitet werden, das mit Ihrem Netzwerk verbunden ist. Normalerweise blockiert die integrierte Firewall eingehenden Verkehr aus dem Internet. Mit der Portweiterleitung können Internetbenutzer auf jeden Server zugreifen, den Sie auf Ihrem Computer ausführen, z. B. einen Web-, FTP- oder E-Mail-Server.
	<b>Wichtig:</b> Die Portweiterleitung stellt ein Sicherheitsrisiko dar und sollte nur aktiviert werden, wenn das erforderlich ist.
	Einige Mobilfunknetze bieten Ihnen eine IP-Adresse in ihrem eigenen Netzwerk anstelle einer Internet-IP-Adresse. In diesem Fall kann die Portweiterleitung nicht verwendet werden, da Internetbenutzer Ihre IP-Adresse nicht erreichen können.
	</p>

	<h2>Portweiterleitungs-Anwendungen</h2>
	<h3>Anwendungskontrollkästchen</h3>
		<p>
			Aktivieren Sie das Kontrollkästchen neben jeder Portweiterleitungs-Anwendung, die Sie zulassen möchten. Geben Sie die IP-Adresse des Zielgeräts in das Feld „IP-Adresse der Anwendung“ ein, um den gesamten eingehenden WAN-Verkehr an einem bestimmten Port auf einem einzelnen LAN-Client weiterzuleiten.
		</p>
		<ol>
			<li>Installieren Sie die Anwendung auf einem Computer, der mit dem Netzwerk dieses Geräts verbunden ist.</li>
			<li>Sie können am Computer auf dem Bildschirm „Verbundene Geräte“ die IP-Adresse des Computers überprüfen.</li>
			<li>Geben Sie auf diesem Bildschirm die IP-Adresse des Computers in das Feld <strong>IP-Adresse des verbundenen Geräts</strong> neben der Anwendung ein.</li>
			<li>Aktivieren Sie die Anwendung auf diesem Bildschirm, indem Sie das entsprechende Kontrollkästchen markieren.</li>
			<li>Sichern Sie Ihre Änderungen.</li>
			<li>Notieren Sie sich die auf dem Bildschirm <strong>Aktueller Status</strong> angezeigte Internet-IP-Adresse des Geräts.</li>
			<li>Bitten Sie Internetbenutzer, sich mit der Internet-IP-Adresse dieses Geräts zu verbinden. Diese Verbindungsanfragen werden an die in Schritt 3 angegebene IP-Adresse weitergeleitet.</li>
		</ol>

		<p>
			Die folgende Tabelle enthält Portnummern und Protokollinformationen für jede aufgelistete Portweiterleitungs-Anwendung.
		</p>

			<table class="portForwardingTable" id="">
	 	<thead>
			<tr class="">
				<th class=""> Anwendungsname</th>
				<th class="">Port</th>
				<th class="">TCP*</th>
				<th class="">STCP*</th>
				<th class="">UDP*</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td> DNS</td>
				<td> 53</td>
				<td> Ja</td>
				<td> Nein</td>
				<td> Ja</td>
			</tr>

			<tr>
				<td> FTP-Steuerung (Befehl)</td>
				<td> 21</td>
				<td> Ja</td>
				<td> Ja</td>
				<td> Zugewiesen</td>
			</tr>

			<tr>
				<td> FTP-Datenübertragung</td>
				<td> 20</td>
				<td> Ja</td>
				<td> Ja</td>
				<td> Zugewiesen</td>
			</tr>

			<tr>
				<td> HTTP</td>
				<td> 80</td>
				<td> Ja</td>
				<td> Ja</td>
				<td> Zugewiesen</td>
			</tr>

			<tr>
				<td> HTTPS</td>
				<td> 443</td>
				<td> Ja</td>
				<td> Ja</td>
				<td> Zugewiesen</td>
			</tr>

			<tr>
				<td> NNTP</td>
				<td> 119</td>
				<td> Ja</td>
				<td> Nein</td>
				<td> Zugewiesen</td>
			</tr>

			<tr>
				<td> POP3</td>
				<td> 110</td>
				<td> Ja</td>
				<td> Nein</td>
				<td> Zugewiesen</td>
			</tr>

			<tr>
				<td> POP3S</td>
				<td> 995</td>
				<td> Ja</td>
				<td> Nein</td>
				<td> Ja</td>
			</tr>

			<tr>
				<td> SMTP</td>
				<td> 25</td>
				<td> Ja</td>
				<td> Nein</td>
				<td> Zugewiesen</td>
			</tr>

			<tr>
				<td> SecureSMTP</td>
				<td> 465</td>
				<td> Ja</td>
				<td> Nein</td>
				<td> Nein</td>
			</tr>

			<tr>
				<td> SNMP</td>
				<td> 161</td>
				<td> Zugewiesen</td>
				<td> Nein</td>
				<td> Ja</td>
			</tr>

			<tr>
				<td> Telnet</td>
				<td> 23</td>
				<td> Ja</td>
				<td> Nein</td>
				<td> Zugewiesen</td>
			</tr>

			<tr>
				<td> TFTP</td>
				<td> 69</td>
				<td> Zugewiesen</td>
				<td> Nein</td>
				<td> Ja</td>
			</tr>
			
		</tbody>

	</table>

	<p><b>Ja</b> gibt an, dass das Protokoll für die Portnummer standardisiert ist.</p>
	<p><b>Nein</b> gibt an, dass das Protokoll für die Portnummer standardisiert ist.</p>
	<p><b>Zugewiesen</b> gibt an, dass die Portnummer von der IANA (Internet Assigned Numbers Authority) für die Verwendung im Protokoll zugewiesen wurde, aber möglicherweise nicht standardisiert ist.</p>	

	<h2>Benutzerdefinierte Anwendungen</h2>
	<p>Über diese Funktion können Sie Ihre eigenen Anwendungen definieren. Einmal definiert, können diese Anwendungen auf die gleiche Weise wie vordefinierte Anwendungen aktiviert oder deaktiviert werden. Um eine Anwendung zu definieren, müssen Sie die Ports und das Protokoll (TCP, UDP) kennen, die von der Anwendung für eingehenden Datenverkehr verwendet werden. Klicken Sie zu Beginn auf die Schaltfläche <strong>Benutzerdefinierte Anwendung hinzufügen</strong> und geben Sie dann die folgenden Daten ein. 
	</p>
	<h3>Anwendungskontrollkästchen</h3>
	<p>Aktivieren Sie dieses Kontrollkästchen, wenn die neue Anwendung auf das Internet zugreifen soll (Portweiterleitung aktivieren).
	</p>
	<h3>Anwendungsname</h3>
	<p>
		Geben Sie einen geeigneten Namen für die Anwendung ein, die Sie definieren.
	</p>

	<h3>IP-Adresse des verbundenen Geräts</h3>
	<p>
		Geben Sie die IP-Adresse des verbundenen Geräts ein, das diesen Datenverkehr empfangen soll.
	</p>

	<h3>Porttyp und Portnummern</h3>
		<p>Jede Anwendung hat ihren eigenen Portbereich. Geben Sie für jede Anwendung Anfang und Ende des Portbereichs ein.
		</p>
		<div class="blockgroup">
			<ul>
				<tmpl_if showRangePortType>
					<li>Geben Sie für einen Portbereich den Anfang des Bereichs in das Feld <strong>Von</strong> und das Ende des Bereichs in das Feld <strong>Bis</strong> ein.</li>
				</tmpl_if>
				<li>Geben Sie für einen Übersetzungsport die Portnummer in das Feld <strong>Extern</strong> und auch in das Feld <strong>Intern</strong> ein.</li>
			</ul>
		</div>
	<h3>Protokoll</h3>
	<p>
		Wählen Sie für jeden Portbereich das von diesem Portbereich verwendete Protokoll (TCP oder UDP) aus.
	</p>
		
	<h3>Löschen</h3>
	<p>Über dieses Kontrollkästchen können Sie eine benutzerdefinierte Anwendung löschen.
	</p>
	<p><b>HINWEIS:</b> Klicken Sie erneut auf die Registerkarte „Portweiterleitung“, um gelöschte benutzerdefinierte Anwendungen aus der Bildschirmansicht zu entfernen. </p>

</div>
<!-- id="port_forward" -->

