<!-- Port Forwarding -->
<div id="port_forward">
	<h1>Prievado persiuntimas</h1>
	<h2>Apžvalga</h2>
	<p>Prievado persiuntimo funkcija leidžia iš interneto gaunamą duomenų srautą persiųsti į konkretų „Wi-Fi“ tinklo kompiuterį arba įrenginį. Paprastai integruotoji užkarda blokuoja iš interneto gaunamą duomenų srautą. Prievado persiuntimo funkciją naudojate tam, kad interneto naudotojai galėtų pasiekti bet kurį jūsų kompiuteryje veikiantį serverį, pvz., žiniatinklio, FTP arba el. pašto serverį. Kad kai kurie internetiniai žaidimai tinkamai veiktų, reikia naudoti prievado persiuntimo funkciją. Atminkite, kad, naudojant prievado persiuntimo funkciją, kyla pavojus saugumui, todėl, kai nereikia, ji turi būti išjungta.</p>
<p><strong>Pastaba.</strong> Kai kurie mobiliojo belaidžio ryšio tinklai suteikia savo tinklo, o ne interneto IP adresą. Tokiu atveju prievado persiuntimo negalima naudoti, nes interneto naudotojai negalės pasiekti jūsų IP adreso.</p>

	<h2>Prievado persiuntimo programos</h2>
	<h3>Programų žymimieji langeliai</h3>
		<p>Parodomos kelios bendrosios serverio programos. Norėdami naudoti bet kurią iš šių programų, atlikite tokią procedūrą:</p>
		<ol>
			<li>Įdiekite programą kompiuteryje, kuris prijungtas prie šio įrenginio „Wi-Fi“ tinklo.</li>
			<li>Kompiuteryje patikrinkite jo „Wi-Fi“ tinklo IP adresą. Taip pat galite patikrinti kompiuterio IP adresą prijungtų įrenginių ekrane.</li>
			<li>Šiame ekrane įveskite kompiuterio IP adresą prie programos esančiame lauke <strong>Prijungto įrenginio IP adresas</strong>.</li>
			<li>Įjunkite šią programą šiame ekrane pažymėdami jos žymimąjį langelį.</li>
			<li>Įrašykite pakeitimus.</li>
			<li>Ekrane <strong>Dabartinė būsena</strong> pasižymėkite šio įrenginio interneto IP adresą.</li>
			<li>Paprašykite interneto naudotojų prisijungti prie šio įrenginio interneto IP adreso. Šios ryšio užklausos bus persiųstos 3 veiksme nurodytu IP adresu.</li>
		</ol>

	<h2>Pasirinktinės programos</h2>
	<p>Ši funkcija leidžia jums nustatyti savo programas. Nustačius šias programas, jas galima įjungti arba išjungti tuo pačiu būdu, kaip ir iš anksto nustatytas programas. Norėdami nustatyti programą, turite žinoti prievadus ir protokolą (TCP, UDP), kuriuos programa naudoja gaunamam duomenų srautui. Norėdami paleisti, spustelėkite mygtuką <strong>Pridėti pasirinktinę programą</strong> ir pateikite toliau nurodytus duomenis.</p>
	<h3>Programos žymimasis langelis</h3>
	<p>Naudokite jį, jei norite įjungti programą ją nustatę.</p>
	<h3>Programos pavadinimas</h3>
	<p>Įveskite tinkamą programos, kurią nustatote, pavadinimą.</p>

	<h3>Prijungto įrenginio IP adresas</h3>
	<p>Įveskite prijungto įrenginio, kuris gaus šį srautą, IP adresą.</p>

	<h3>Prievado tipas ir prievadų numeriai</h3>
		<p>Kiekviena programa turi savo prievadų diapazoną. Įveskite kiekvienos programos prievadų diapazono pradžią ir pabaigą.</p>
		<div class="blockgroup">
			<ul>
				<li>Norėdami nustatyti prievadų diapazoną, lauke <strong>Nuo</strong> įveskite diapazono pradžią, o lauke <strong>Iki</strong> – diapazono pabaigą.</li>
				<li>Norėdami konvertuoti prievadą, įveskite prievado numerį abiejuose laukuose: <strong>Išor.</strong> ir <strong>Vid.</strong>.</li>
			</ul>
		</div>
	<h3>Protokolas</h3>
	<p>Kiekvienam prievadų diapazonui pasirinkite protokolą (TCP arba UDP), naudojamą tame prievadų diapazone.</p>
		
	<h3>Šalinti</h3>
	<p>Naudokite šį žymimąjį langelį pasirinktinei programai pašalinti.</p>
</div>
<!-- id="port_forward" -->

