<!-- Port Forwarding -->
<div id="port_forward">
	<h1>ポート転送</h1>
	<h2>概要</h2>
	<p>ポート転送機能を使用すると、インターネットからの受信トラフィックをWi-Fiネットワーク上の特定のコンピューターまたはデバイスに転送できます。 通常、内蔵ファイアウォールはインターネットからの受信トラフィックをブロックします。 ポート転送を使用して、インターネットユーザーがWebサーバー、FTPサーバー、電子メールサーバーなど、コンピューターで実行しているサーバーにアクセスできるようにします。 一部のオンラインゲームでは、ゲームが正しく機能するためにポート転送を使用する必要があります。 ポート転送を使用するとセキュリティリスクが生じるため、不要な場合はオフにしておく必要があります。</p>
<p><strong>注:</strong> 一部のモバイルワイヤレスネットワークは、インターネットIPアドレスではなく、独自のネットワーク上のIPアドレスを提供します。 この場合、インターネットユーザーがIPアドレスに到達できないため、ポート転送を使用できません。</p>

	<h2>ポート転送アプリケーション</h2>
	<h3>アプリケーションのチェックボックス</h3>
		<p>いくつかの一般的なサーバーアプリケーションが一覧表示されます。 これらのアプリケーションを使用するには、次の手順に従います。</p>
		<ol>
			<li>このデバイスのWi-Fiネットワークに接続されているコンピューターにアプリケーションをインストールします。</li>
			<li>コンピューターで、Wi-FiネットワークのIPアドレスを確認します。 または、「接続されたデバイス」画面でコンピューターのIPアドレスを確認することもできます。</li>
			<li>この画面で、コンピューターのIPアドレスをアプリケーションの横の <strong>接続されたデバイスのIPアドレス</strong> フィールドに入力します。</li>
			<li>アプリケーションのチェックボックスを選択して、この画面でアプリケーションをオンにします。</li>
			<li>変更を保存します。</li>
			<li><strong>現在の状態</strong> 画面で、このデバイスのインターネットIPアドレスを書き留めます。</li>
			<li>インターネット上のユーザーに、このデバイスのインターネットIPアドレスに接続するよう依頼してください。 これらの接続要求は、ステップ3で指定したIPアドレスに転送されます。</li>
		</ol>

	<h2>カスタムアプリケーション</h2>
	<p>この機能を使用すると、独自のアプリケーションを定義できます。 いったん定義されると、これらのアプリケーションは、事前定義されたアプリケーションと同じ方法でオンおよびオフにすることができます。 アプリケーションを定義するには、アプリケーションが受信トラフィックに使用するポートとプロトコル（TCP、UDP）を知っている必要があります。 開始するには、 <strong>カスタムアプリケーションを追加</strong> ボタンをクリックして、次のデータを入力します。</p>
	<h3>アプリケーションのチェックボックス</h3>
	<p>これを使用して、アプリケーションを定義した後にオンにします。</p>
	<h3>アプリケーション名</h3>
	<p>定義しているアプリケーションの適切な名前を入力します。</p>

	<h3>接続されたデバイスのIPアドレス</h3>
	<p>このトラフィックを受信する接続されたデバイスのIPアドレスを入力します。</p>

	<h3>ポートタイプとポート番号</h3>
		<p>各アプリケーションにはそれぞれのポート範囲があります。 各アプリケーションのポート範囲の開始と終了を入力します。</p>
		<div class="blockgroup">
			<ul>
				<li>ポート範囲の場合は、範囲の先頭を<strong>開始</strong>フィールドに、範囲の末尾を<strong>終了</strong> フィールドに入力します。</li>
				<li>変換ポートの場合、そのポート番号を<strong>Ext</strong>と<strong>Int</strong>の両方に入力します。</li>
			</ul>
		</div>
	<h3>プロトコル</h3>
	<p>各ポート範囲に対して、そのポート範囲で使用されるプロトコル（TCPまたはUDP）を選択します。</p>
		
	<h3>削除する</h3>
	<p>このチェックボックスを使用して、カスタムアプリケーションを削除します。</p>
</div>
<!-- id="port_forward" -->

