<tmpl_if isHidden>
    <div class="notification app error">
	<i class="icon-error"></i>
        <tmpl_var _("webui", "webui_app_hidden_text")>
    </div>
<tmpl_else>
    <script type="text/javascript">
        var validated = false;
        var previousSecurityOption = parseInt("<tmpl_var WifiPrimarySecurity>");
        var previousPassword = "<tmpl_var WifiPrimaryPassword>";

        $(function()
        {
            if ($("#WifiPrimarySecurity").val() == 0) {
                $("#WifiPrimaryPassword").val("");
                $("#WifiPrimaryPassword").prop("disabled", true);
                $("#GenerateNewPassword").prop("disabled", true);
                if (jQuery.uniform) $.uniform.update("#WifiPrimaryPassword","#GenerateNewPassword");
            }

            $("#WifiPrimarySecurity").focus(function() {
                previousSecurityOption = $("#WifiPrimarySecurity").val();
            }).change(function() {
                var securityType = $("#WifiPrimarySecurity").val();

                <tmpl_if ShowWifiSecurityNone>
                    if (securityType == 0) {                        
                        showNoSecurityConfirmation(previousSecurityOption);
                    } else {
                        $("#WifiPrimaryPassword").prop("disabled", false);
                        $("#GenerateNewPassword").prop("disabled", false);
                        if (jQuery.uniform) $.uniform.update("#WifiPrimaryPassword", "#GenerateNewPassword");
                    }
                </tmpl_if>

            });

            if ($("#WifiPrimarySecurity").val() == 9) {
                $("#WifiPrimarySecurityHelpText").show();
                if (jQuery.uniform) $.uniform.update("#WifiPrimarySecurityHelpText");
            }

            $("#WifiPrimarySecurity").change(function() {
                var securityType = $("#WifiPrimarySecurity").val();
                    if (securityType == 9) {                        
                        $("#WifiPrimarySecurityHelpText").show();
                        if (jQuery.uniform) $.uniform.update("#WifiPrimarySecurityHelpText");
                    } else {
                        $("#WifiPrimarySecurityHelpText").hide();
                        if (jQuery.uniform) $.uniform.update("#WifiPrimarySecurityHelpText");
                    }
            });

            $("#GenerateNewPassword").on("click", function() {
                generateNewPassword();
            });

            $("#WifiPrimaryPrivacyEnabled").on("change", function() {
                if ($("#WifiPrimaryPrivacyEnabled").is(":checked")) {
                    showWarning("<tmpl_var _("webui", "wifi_primary_privacy_warning_text")>");                    
                }
            });

            $("#WifiPrimaryWpsEnabled").on("change", function() {
                var securityType = $("#WifiPrimarySecurity").val();
                if ($("#WifiPrimaryWpsEnabled").is(":checked")) {
                    if (!$("#WifiPrimaryBroadcastSsid").is(":checked")) {
                        showWpsOnConfirmation();
                    } else if("<tmpl_var MacFilterEnable>" == "on" ) {
                        showWarning("<tmpl_var _("webui", "wifi_primary_wps_change_macfilter_enabled_text")>");
                        $("#WifiPrimaryWpsEnabled").prop("checked", false);
                        if (jQuery.uniform) $.uniform.update("#WifiPrimaryWpsEnabled");
                    }
                }
            });

            $("#WifiPrimaryBroadcastSsid").on("change", function() {
                if ($("#WifiPrimaryWpsEnabled").is(":checked") && (!$("#WifiPrimaryBroadcastSsid").is(":checked"))) {
                    showBroadcastOffConfirmation();
                }
            });

            $("#wifi_primary_settings_form").on("submit", function() {
                if (validated) {
                        return true;
                } else {
                        return showSaveChangesConfirmation();
                }
            });

            $(".toggle-password").click(function () {
                $(this).toggleClass("eye eye-slash");
                var input = $($(this).attr("toggle"));
                    input.css('padding-right', '30px')
                if (input.attr("type") == "password") {
                    input.attr("type", "text");
                } else {
                    input.attr("type", "password");
                }
            });
        });

        function generateNewPassword() {
            var url = "<tmpl_udf GET_URI('wifi_primary_settings_generate_password')>";

            $.ajax({
                url : url,
                type : "GET",
                success: function(data) {
                    previousPassword = $("#WifiPrimaryPassword").val();
                    $("#WifiPrimaryPassword").val(data["GeneratedPassword"]);
                    if (jQuery.uniform) $.uniform.update("#WifiPrimaryPassword");
                },
                error : function(xhr, textStatus, errorThrown) {
                    // If auth session has ended, force a new login with a fresh GET.
                    if( (xhr.status == 401) || (xhr.status == 403) || (xhr.status == 406) ) {
                        window.location.replace(window.location.href);
                    } else  {
                        return false;
                    }
                }
            });          
        }

        function showSaveChangesConfirmation() {
            if (("[<tmpl_var WifiPrimarySsid>]" !== "["+$("#WifiPrimarySsid").val()+"]") || 
                ("[<tmpl_var WifiPrimarySecurity>]" !== "["+$("#WifiPrimarySecurity").val()+"]") || 
                ("[<tmpl_var WifiPrimaryPassword>]" !== "["+$("#WifiPrimaryPassword").val()+"]")) {
                modalPopup.createWindow('<tmpl_var _("webui", "webui_modal_title")>', '<p><tmpl_udf GET_PO_TEXT("wifi_primary_save_changes_confirmation_text", gProductName)></p>', 430, 250, [{
                        text : '<tmpl_var _("webui", "webui_modal_cancel_button")>',
                        className : "cancel",
                        trigger : function () {
                            validated = false;
                        }
                }, {
                        text : '<tmpl_var _("webui", "webui_modal_confirm_button")>',
                        className : "primary",
                        trigger : function() {
                                validated = true;
                                $("#intro").hide();
                                $("#introLostConnection").show();
                                $("#wifi_primary_settings_form").submit();
                        }
                }], null, function(){
                        validated = false;
                });
            } else {
                validated = true;
                $("#wifi_primary_settings_form").submit();
            }
            return false;
        }

        function showWarning(text) {            
            modalPopup.createWindow('<tmpl_var _("webui", "webui_app_warning_title")>', '<p>'+text+'</p>', 430, 250, [{
                text : '<tmpl_var _("webui", "webui_modal_ok_button")>',
                className : "primary",
                trigger : function() {
                    // do nothing
                }
            }], null, function() {
                // do nothing
            });
        }

        function showNoSecurityConfirmation(previousSecurityOption) {
            modalPopup.createWindow('<tmpl_var _("webui", "webui_modal_title")>', '<p><tmpl_udf GET_PO_TEXT("wifi_primary_security_none_warning_text", gProductName)></p>', 430, 250, [{
                    text : '<tmpl_var _("webui", "webui_modal_cancel_button")>',
                    className : "cancel",
                    trigger : function() {
                        $("#WifiPrimarySecurity").val(previousSecurityOption);
                        if (jQuery.uniform) $.uniform.update("#WifiPrimarySecurity");
                    }
            }, {
                    text : '<tmpl_var _("webui", "webui_modal_confirm_button")>',
                    className : "primary",
                    trigger : function() {
                        $("#WifiPrimaryPassword").val("");
                        $("#WifiPrimaryPassword").prop("disabled", true);
                        $("#GenerateNewPassword").prop("disabled", true);
                        if (jQuery.uniform) $.uniform.update("#WifiPrimaryPassword", "#GenerateNewPassword");
                    }
            }], null, function(){
                $("#WifiPrimarySecurity").val(previousSecurityOption);
                if (jQuery.uniform) $.uniform.update("#WifiPrimarySecurity");
            });
        }

        function showWpsOnConfirmation() {
            modalPopup.createWindow('<tmpl_var _("webui", "webui_modal_title")>', '<p><tmpl_var _("webui", "wifi_primary_wps_change_broadcast_incompatible_warning_text")></p>', 430, 250, [{
                    text : '<tmpl_var _("webui", "webui_modal_cancel_button")>',
                    className : "cancel",
                    trigger : function() {
                        $("#WifiPrimaryWpsEnabled").prop("checked", false);
                        if (jQuery.uniform) $.uniform.update("#WifiPrimaryWpsEnabled");
                    }
            }, {
                    text : '<tmpl_var _("webui", "webui_modal_confirm_button")>',
                    className : "primary",
                    trigger : function() {
                        $("#WifiPrimaryWpsEnabled").prop("checked", true);
                        $("#WifiPrimaryBroadcastSsid").prop("checked", true);
                        if (jQuery.uniform) $.uniform.update("#WifiPrimaryWpsEnabled, #WifiPrimaryBroadcastSsid");
                    }
            }], null, function(){
                $("#WifiPrimaryWpsEnabled").prop("checked", false);
                if (jQuery.uniform) $.uniform.update("#WifiPrimaryWpsEnabled");
            });
            
        }

        function showBroadcastOffConfirmation() {
            modalPopup.createWindow('<tmpl_var _("webui", "webui_modal_title")>', "<p><tmpl_var _('webui', 'wifi_primary_broadcast_change_wps_incompatible_warning_text')></p>", 430, 250, [{
                    text : '<tmpl_var _("webui", "webui_modal_cancel_button")>',
                    className : "cancel",
                    trigger : function() {
                        $("#WifiPrimaryBroadcastSsid").prop("checked", true);
                        if (jQuery.uniform) $.uniform.update("#WifiPrimaryBroadcastSsid");
                    }
            }, {
                    text : '<tmpl_var _("webui", "webui_modal_confirm_button")>',
                    className : "primary",
                    trigger : function() {
                        $("#WifiPrimaryWpsEnabled").prop("checked", false);
                        $("#WifiPrimaryBroadcastSsid").prop("checked", false);
                        if (jQuery.uniform) $.uniform.update("#WifiPrimaryWpsEnabled, #WifiPrimaryBroadcastSsid");
                    }
            }], null, function(){
                $("#WifiPrimaryBroadcastSsid").prop("checked", true);
                if (jQuery.uniform) $.uniform.update("#WifiPrimaryBroadcastSsid");
            });
        }

    </script>

    <tmpl_if isLocked>
        <div class="notification app error">
	    <i class="icon-error"></i>
            <tmpl_var _("webui", "webui_app_locked_text")>
        </div>
    </tmpl_if>

    <tmpl_if errorCount>
        <div class="notification app error">
             <i class="icon-error"></i>
	     <p><tmpl_var _("webui", "webui_save_code_failed_text")></p>
        </div>
    </tmpl_if>

    <tmpl_if gPostSuccess>
        <div class="notification app success">
             <i class="icon-success"></i>
             <span class="boxclose" onclick="this.parentElement.style.display='none';"></span>
             <p><tmpl_var _("webui", "webui_save_code_success_text")></p>
        </div>
    </tmpl_if>

    <p>
        <tmpl_udf GET_PO_TEXT("wifi_primary_intro_text", gProductName)>
    </p>

    <tmpl_if showHeaderText>
	<h2 class="sectionHead"><tmpl_var _("webui", "wifi_settings_primary_sub_header_text")></h2>
    </tmpl_if>
    
    <p class="warning" id="introLostConnection" style="display:none">
        <tmpl_udf GET_PO_TEXT("wifi_primary_connection_lost_text", gProductName)>
    </p>

    <form id="wifi_primary_settings_form" method="POST" action="<tmpl_udf GET_URI('wifi_primary_settings')>" >
        <input type="hidden" name="gSecureToken" id="gSecureToken" value="<tmpl_var gSecureToken>" />
        <div class="table">
        
            <div class="form-group form-group-lg">
                <label for="WifiPrimarySsid">
                    <tmpl_var _("webui", "wifi_primary_ssid_label" )>
                </label>
                <input type="text" id="WifiPrimarySsid" name="WifiPrimarySsid" value="<tmpl_var WifiPrimarySsid>" <tmpl_if
                    WifiPrimarySsidError>class="error"</tmpl_if> />
                <tmpl_if WifiPrimarySsidError>
                    <div class="inline_error">
                        <tmpl_var WifiPrimarySsidError>
                    </div>
                </tmpl_if>
            </div>
        
            <div class="form-group form-group-lg">
                <label for="WifiPrimarySecurity">
                    <tmpl_var _("webui", "wifi_primary_security_label" )>
                </label>
                <select id="WifiPrimarySecurity" name="WifiPrimarySecurity">
                    <tmpl_include "wifi_security_options.tmpl">
                </select>
                <div class="help" style="display:none" id="WifiPrimarySecurityHelpText">
                    <tmpl_udf GET_PO_TEXT("wifi_open_enhanced_warning_text", gProductName)>
                </div>
            </div>
        
            <div class="form-group form-group-lg">
                <label for="WifiPrimaryPassword">
                    <tmpl_var _("webui", "wifi_primary_password_label" )>
                </label>
                <div class="input">
                    <input type="password" id="WifiPrimaryPassword" name="WifiPrimaryPassword"
                    value="<tmpl_var WifiPrimaryPassword>" <tmpl_if WifiPrimaryPasswordError>class="error"</tmpl_if> />
                    <span toggle='#WifiPrimaryPassword' class='eye toggle-password'></span>
                </div>
                <tmpl_if WifiPrimaryPasswordError>
                    <div class="inline_error">
                        <tmpl_var WifiPrimaryPasswordError>
                    </div>
                </tmpl_if>
            </div>
        
            <div class="clearfix">
                <button type="button" class="secondary" id="GenerateNewPassword">
                    <tmpl_var _("webui", "wifi_primary_generate_password_button" )>
                </button>
            </div>
        </div>

            <p class="note"><tmpl_udf GET_PO_TEXT("wifi_primary_footer_note_text", gProductName)></p>  
 
	    <tmpl_if showSubHeaderText>
                <h2 class="sectionHead"><tmpl_var _("webui", "wifi_settings_other_sub_header_text")></h2>
       	    </tmpl_if>
  
        <div class="table-checkbox" >
	    <tmpl_if showWiFiPrimarySSID>
		    <div class="form-group form-group-lg">
			<label>
			    <div class="tooltip tooltip-help" id="" title="<tmpl_var _('webui', 'wifi_primary_show_ssid_help_text')>">
				<tmpl_var _("webui", "webui_inline_help_icon" )>
			    </div>
			    <tmpl_udf GET_PO_TEXT("wifi_primary_show_ssid_label")>
			</label>
			<input type="checkbox" id="WifiPrimaryShowSsid" name="WifiPrimaryShowSsid" <tmpl_if IN_SET(WifiPrimaryShowSsid, "on")>checked="checked"</tmpl_if> />
		    </div>
	    </tmpl_if>

	    <tmpl_if showWiFiPrimaryPassword>
		    <div class="form-group form-group-lg">
			<label>
			    <div class="tooltip tooltip-help" id="" title="<tmpl_var _('webui', 'wifi_primary_show_password_help_text')>">
				<tmpl_var _("webui", "webui_inline_help_icon" )>
			    </div>
			    <tmpl_udf GET_PO_TEXT("wifi_primary_show_password_label")>
			</label>
			<input type="checkbox" id="WifiPrimaryShowPassword" name="WifiPrimaryShowPassword" <tmpl_if
			    IN_SET(WifiPrimaryShowPassword, "on" )>checked="checked"</tmpl_if> />
		    </div>
	    </tmpl_if>

            <div class="form-group form-group-lg">
                <label>
                    <div class="tooltip tooltip-help" id="" title="<tmpl_var _('webui', 'wifi_primary_broadcast_ssid_help_text')>">
                        <tmpl_var _("webui", "webui_inline_help_icon" )>
                    </div>
                    <tmpl_var _("webui", "wifi_primary_broadcast_ssid_label" )>
                </label>
                    <input type="checkbox" id="WifiPrimaryBroadcastSsid" name="WifiPrimaryBroadcastSsid" <tmpl_if IN_SET(WifiPrimaryBroadcastSsid, "on")>checked="checked"</tmpl_if> />

            </div>

	<tmpl_if showWiFiPrimaryWPS>
            <div class="form-group form-group-lg">
                <label>
                    <div class="tooltip tooltip-help" id="" title="<tmpl_udf GET_PO_TEXT("wifi_primary_wps_help_text",
                        gProductName)>">
                        <tmpl_var _("webui", "webui_inline_help_icon" )>
                    </div>
                    <tmpl_var _("webui", "wifi_primary_wps_label" )>
                </label>
                <input type="checkbox" id="WifiPrimaryWpsEnabled" name="WifiPrimaryWpsEnabled" <tmpl_if
                    IN_SET(WifiPrimaryWpsEnabled, "on" )>checked="checked"</tmpl_if> />
            </div>
	</tmpl_if>

            <div class="form-group form-group-lg">
                <label>
                            <div class="tooltip tooltip-help" id="" title="<tmpl_var _('webui', 'wifi_primary_privacy_help_text')>">
                                <tmpl_var _("webui", "webui_inline_help_icon")>
                            </div>
                        <tmpl_var _("webui", "wifi_primary_privacy_label")></label>
                    <input type="checkbox" id="WifiPrimaryPrivacyEnabled" name="WifiPrimaryPrivacyEnabled" <tmpl_if IN_SET(WifiPrimaryPrivacyEnabled, "on")>checked="checked"</tmpl_if> />

            </div>                
        </div>
        <div class="button_container clearfix">
            <button type="submit" class="primary" <tmpl_if isLocked>disabled="disabled"</tmpl_if>>
                <tmpl_var _("webui", "webui_save_button")>
            </button>
        </div>
    </form>

</tmpl_if>
