<!-- wifi_primary_settings -->
<div id="wifi_primary_settings">
	<h1>Wi-Fi - Red principal </h1>
	
	<h2>Descripción</h2>
	<p>
		Para conectarse a la red de Wi-Fi principal <tmpl_var _("webui", "webui_product_name_with_suffix")>, los dispositivos conectados deben usar la configuración de Wi-Fi que se muestra en esta pantalla. Si usted cambia estos ajustes, los dispositivos conectados existentes pueden perder su conexión.
	</p>

	<h3><tmpl_var _("webui", "wifi_primary_ssid_label")></h3>
	<p>
		Esto configura el nombre de la red o SSID para la red de Wi-Fi. Ingrese un nombre adecuado. El nombre puede tener 32 caracteres de largo como máximo.
	</p>

	<h3><tmpl_var _("webui", "wifi_primary_security_label")></h3>
	<p> Seleccione la opción deseada para seguridad de Wi-Fi. </p>

	<ul>
		<li>
			<strong><tmpl_var _("webui", "wifi_security_none_text")></strong> permitirá que otras personas monitoreen su tráfico de WI-FI y usen su plan de datos para acceder a Internet. Si es posible, debe evitarse el uso de esta opción.
		</li>
		<li>
			<strong><tmpl_var _("webui", "wifi_security_wpa2_text")></strong> es el método más reciente y seguro, y debe usarse de ser posible. </li>
		<li>
			<strong><tmpl_var _("webui", "wifi_security_wpa2_mix_text")></strong> se puede usar si alguno de sus dispositivos más antiguos no admiten WPA2. 
		</li>
		<li>
			<strong><tmpl_var _("webui", "wifi_security_wpa3_transition_text")></strong> se puede usar para dispositivos compatibles con WPA2 y WPA3.
		</li>
	</ul>	
	
	<h3><tmpl_var _("webui", "wifi_primary_password_label")></h3>
	<p>
		Ingrese la contraseña de Wi-Fi en este campo. También puede usar el botón "Generar nueva clave" para que se inserte una contraseña aleatoria segura en este campo. Recuerde guardar sus cambios si usa esta opción.
	</p>

	<p> 
		Estas configuración está oculta de manera predeterminada, pero puede hacer clic en el encabezado/enlace para hacerla visible. Normalmente, estas opciones se pueden dejar en sus valores predeterminados, pero pueden cambiarse, de ser necesario, para que se adapten a su entorno en particular.
	</p>

	<h3><tmpl_udf GET_PO_TEXT("wifi_primary_show_ssid_label", gProductName)></h3>
	<p>
		Si este parámetro está seleccionado, este nombre de Wi-Fi no será visible en la pantalla táctil. Si no está seleccionado, el nombre de la red se puede visualizar en la pantalla táctil dentro de la aplicación de Wi-Fi.
	</p>

	<h3><tmpl_udf GET_PO_TEXT("wifi_primary_show_password_label", gProductName)></h3>
	<p>
		Si este parámetro está seleccionado, esta contraseña de Wi-Fi no será visible en la pantalla táctil. Si no está seleccionado, la contraseña se puede visualizar en la pantalla táctil dentro de la aplicación de Wi-Fi.
	</p>

	<h3><tmpl_var _("webui", "wifi_primary_broadcast_ssid_label")></h3>
	<p>
		Si se marca esta configuración, la red de Wi-Fi aparece en la lista de redes de Wi-Fi disponibles en sus dispositivos conectados. Si no se marca, esta red será invisible.
	</p>

	<tmpl_if showWiFiPrimaryWPS>
	<h3><tmpl_var _("webui", "wifi_primary_wps_label")></h3>
	<p>
		La configuración protegida de Wi-Fi (WPS) es un sistema para permitir que dispositivos con Wi-Fi se conecten a una red Wi-Fi sin tener que ingresar la clave de red de forma manual. Si desea usar WPS, marque esta opción.
	</p>
	</tmpl_if>

	<h3><tmpl_var _("webui", "wifi_primary_privacy_label")></h3>
	<p>
		Si se marca esta configuración, cada dispositivo conectado se aísla de todos los demás dispositivos conectados. Esto ofrece una seguridad adicional si algunos dispositivos conectados son desconocidos o no se confía completamente en ellos. Para el funcionamiento normal, esta opción no debería marcarse.
	</p>

</div>

<!-- id="wifi_primary_settings" -->

