<tmpl_foreach APNDropdownOptions as option>
	<option value="<tmpl_var option.val>"<tmpl_if IN_SET(NetworksFourGLTEAPN, option.val)> selected="selected"</tmpl_if>>
		<tmpl_var option.val>
	</option>
</tmpl_foreach>
<option value="Add APN" <tmpl_unless IN_ARRAY(NetworksFourGLTEAPN, APNDropdownOptionValues)>selected="selected"</tmpl_unless>>
	<tmpl_var _("webui", "wwan_settings_Add_apn_option")>
</option>
