<!-- mns -->
<div id="mns">
	<h1>Netværksvalg</h1>
	<h2>Oversigt</h2>
	<p>Denne enhed vælger automatisk det optimale mobilnetværk. Hvis du bruger GSM-baserede netværk, kan du også vælge et netværk manuelt. Denne "<tmpl_var _("webui", "menu_adv_mns_text")>"-funktion er kun nyttig, hvis flere netværk er tilgængelige. Hvis denne funktion bruges, opretter denne enhed kun forbindelse til det specificerede netværk og ignorerer andre tilgængelige netværk.</p>

	<h2>Status</h2>
	<p>Dette afsnit viser, om automatisk eller manuelt netværksvalg er i brug. Hvis manuelt netværksvalg er i brug, vises det specificerede netværk også.</p>

	<h2>Drift</h2>
	<h3><tmpl_var _("webui","adv_mns_scan_for_networks_btn")></h3>
	<p>Hvis manuelt valg af netværk er muligt, er denne knap tilgængelig. Klik på denne knap, hvis du vil vælge et netværk manuelt. Modemmet scanner derefter for alle tilgængelige netværk. Denne scanning kan tage op til to minutter.</p>

	<p>Bemærk: Hvis denne knap ikke vises, er Manuelt netværksvalg ikke tilgængelig på din aktuelle placering med dit nuværende netværk.</p>

	<h3>Netværksliste</h3>
	<div class="blockgroup">
	<p>Alle tilgængelige netværk vises på netværkslisten, efter en netværksscanning er gennemført. Du kan derefter udføre en af følgende handlinger:</p>
	<ul>
		<li>Annullér - Brug denne indstilling til at beholde Valg af automatisk netværk.</li>
		<li>Opdatér - brug denne til at scanne igen, hvis det ønskede netværk ikke er vist på listen. Det kan være nødvendigt at ændre din placering for at forbedre signalet.</li>

		<li>Vælg - brug denne indstilling til at aktivere Manuelt netværksvalg med det specificerede netværk. Bemærk, at det muligvis ikke kan lade sig gøre at oprette forbindelse til alle listede netværk. Hvis din tjenesteudbyder ikke har en roamingaftale med det valgte netværk, mislykkes forbindelsesforsøget.</li>
	</ul>

	<h3><tmpl_var _("webui","adv_mns_revert_to_automatic_btn")></h3>
	<p>Hvis manuelt netværksvalg er i brug, er denne knap synlig. Klik på denne knap for at skifte fra manuelt til automatisk netværksvalg.</p>

	<h3>Vend tilbage til netværksskærmen</h3>
	<p>Brug dette link til at vende tilbage til netværksskærmen.</p>
		
	</div>
	
</div>

<!-- id="mns" -->

