<!-- mns -->
<div id="mns">
	<h1>Võrgu valimine</h1>
	<h2>Ülevaade</h2>
	<p>See seade valib automaatselt optimaalse mobiilsidevõrgu. GSM-põhiste võrkude kasutamisel saate võrgu valida ka käsitsi. See „<tmpl_var _("webui", "menu_adv_mns_text")>“ funktsioon on kasulik ainult siis, kui saadaval on mitu võrku. Kui seda funktsiooni kasutatakse, loob seade ühenduse ainult määratud võrguga ja ignoreerib teisi saadaolevaid võrke.</p>

	<h2>Olek</h2>
	<p>See jaotis näitab, kas kasutatakse automaatset või käsitsi võrguvalikut. Kui kasutatakse funktsiooni Võrgu käsitsi valimine, kuvatakse ka määratud võrk.</p>

	<h2>Kasutamine</h2>
	<h3><tmpl_var _("webui","adv_mns_scan_for_networks_btn")></h3>
	<p>Kui Võrgu käsitsi valimine on võimalik, on see nupp saadaval. Klõpsake seda nuppu, kui soovite võrgu käsitsi valida. Modem otsib seejärel kõiki saadaolevaid võrke. Skannimiseks võib kuluda kuni kaks minutit.</p>

	<p>Märkus. Kui seda nuppu ei kuvata, ei ole Võrgu käsitsi valimine teie praeguse asukoha võrku kasutades saadaval.</p>

	<h3>Võrguloend</h3>
	<div class="blockgroup">
	<p>Kõik saadaolevad võrgud kuvatakse loendis Võrguloend pärast võrguskanni lõpetamist. Seejärel saate teha ühe järgmistest toimingutest.</p>
	<ul>
		<li>Tühista – kasutage seda suvandit võrgu automaatse valiku säilitamiseks.</li>
		<li>Värskenda – kasutage seda uuesti skannimiseks, kui soovitud võrku pole loendis. Signaali parandamiseks peate võib-olla oma asukohta muutma.</li>

		<li>Vali – kasutage seda suvandit võrgu käsitsi valimise sisselülitamiseks määratud võrguga. Pange tähele, et kõigi loetletud võrkudega ei pruugi olla võimalik ühendust luua. Kui teenusepakkujal ei ole valitud võrguga rändluslepingut, siis ühenduskatse ebaõnnestub.</li>
	</ul>

	<h3><tmpl_var _("webui","adv_mns_revert_to_automatic_btn")></h3>
	<p>Kui kasutatakse Võrgu käsitsi valimist, on see nupp nähtav. Klõpsake seda nuppu, et lülituda suvandilt Võrgu käsitsi valimine suvandile Võrgu automaatne valimine.</p>

	<h3>Võrkude kuvale naasmine</h3>
	<p>Kasutage seda linki võrkude kuvale naasmiseks.</p>
		
	</div>
	
</div>

<!-- id="mns" -->

