<!-- mns -->
<div id="mns">
	<h1>Selezione della rete</h1>
	<h2>Panoramica</h2>
	<p>Il dispositivo seleziona automaticamente la rete mobile ottimale. Se utilizzi reti basate su GSM, puoi anche selezionare una rete in modo manuale. La funzione "<tmpl_var _("webui", "menu_adv_mns_text")>" è utile solo se sono disponibili più reti. Se si utilizza questa funzione, il dispositivo si connetterà solo alla rete specificata e ignorerà le altre reti disponibili.</p>

	<h2>Stato</h2>
	<p>Questa sezione indica se si utilizza la selezione automatica o manuale della rete. Se si utilizza la selezione manuale della rete, viene visualizzata anche la rete specificata.</p>

	<h2>Funzionamento</h2>
	<h3><tmpl_var _("webui","adv_mns_scan_for_networks_btn")></h3>
	<p>Questo pulsante è disponibile quando è possibile effettuare la selezione manuale della rete. Fai clic su questo pulsante se desideri selezionare manualmente una rete. Il modem effettuerà una ricerca di tutte le reti disponibili. La ricerca può richiedere fino a due minuti.</p>

	<p>Nota: Se questo pulsante non viene visualizzato, la selezione manuale della rete non è disponibile nella posizione in cui ti trovi e con la rete in uso.</p>

	<h3>Elenco reti</h3>
	<div class="blockgroup">
	<p>Una volta completata la ricerca della rete, si potranno visualizzare tutte le reti disponibili nell&#39;elenco delle reti. Si può quindi eseguire una delle seguenti operazioni:</p>
	<ul>
		<li>Annulla - utilizza questa opzione per mantenere la selezione automatica della rete.</li>
		<li>Aggiorna - utilizza questa opzione per eseguire nuovamente la ricerca se la rete desiderata non è nell’elenco. Potresti doverti spostare per migliorare la ricezione del segnale.</li>

		<li>Seleziona - utilizza questa opzione per selezionare manualmente la rete e connettersi alla rete specificata. Si noti che potrebbe non essere possibile connettersi a tutte le reti elencate. Se il fornitore del servizio non ha un accordo di roaming con la rete selezionata, il tentativo di connessione non andrà a buon fine.</li>
	</ul>

	<h3><tmpl_var _("webui","adv_mns_revert_to_automatic_btn")></h3>
	<p>Questo pulsante è visibile quando la selezione manuale della rete è in uso. Fai clic su questo pulsante per passare dalla selezione della rete manuale a quella automatica.</p>

	<h3>Torna alla schermata reti</h3>
	<p>Utilizza questo link per tornare alla schermata reti.</p>
		
	</div>
	
</div>

<!-- id="mns" -->

