<!-- mns -->
<div id="mns">
	<h1>Netzwahl</h1>
	<h2>Übersicht</h2>
	<p>Dieses Gerät wählt das optimale Mobilfunknetz automatisch aus. Wenn Sie GSM-basierte Netze verwenden, ist auch eine manuelle Netzwahl möglich. Diese „<tmpl_var _("webui", "menu_adv_mns_text")>“-Funktion ist nur dann nützlich, wenn mehrere Netzwerke verfügbar sind. Wenn diese Funktion verwendet wird, verbindet sich dieses Gerät nur mit dem angegebenen Netzwerk und ignoriert andere verfügbare Netzwerke.</p>

	<h2>Status</h2>
	<p>In diesem Abschnitt wird angegeben, ob die Netzwahl automatisch oder manuell erfolgt. Bei der manuellen Netzwahl wird das angegebene Netzwerk ebenfalls angezeigt.</p>

	<h2>Betrieb</h2>
	<h3><tmpl_var _("webui","adv_mns_scan_for_networks_btn")></h3>
	<p>Wenn die manuelle Netzwahl möglich ist, steht diese Schaltfläche zur Verfügung. Klicken Sie auf diese Schaltfläche, wenn Sie ein Netzwerk manuell auswählen möchten. Das Modem sucht dann nach allen verfügbaren Netzwerken. Die Suche kann bis zu zwei Minuten dauern.</p>

	<p>Hinweis: Wird diese Schaltfläche nicht angezeigt, ist die manuelle Netzwahl an Ihrem aktuellen Standort unter Verwendung des aktuellen Netzwerks nicht verfügbar.</p>

	<h3>Netzwerkliste</h3>
	<div class="blockgroup">
	<p>Alle verfügbaren Netzwerke werden in der Netzwerkliste angezeigt, sobald die Netzwerksuche abgeschlossen ist. Sie können dann einen der folgenden Vorgänge durchführen:</p>
	<ul>
		<li>Abbrechen: Verwenden Sie diese Option, um die automatische Netzwahl beizubehalten.</li>
		<li>Aktualisieren: Verwenden Sie diese Option, um eine erneute Suche durchzuführen, wenn das gewünschte Netzwerk nicht aufgelistet ist. Möglicherweise müssen Sie Ihren Standort ändern, um das Signal zu verbessern.</li>

		<li>Auswählen: Verwenden Sie diese Option, um die manuelle Netzwahl mit dem angegebenen Netzwerk zu aktivieren. Beachten Sie, dass es möglicherweise nicht möglich ist, eine Verbindung zu allen aufgeführten Netzwerken herzustellen. Wenn Ihr Dienstanbieter kein Roaming-Abkommen mit dem ausgewählten Netzwerk hat, schlägt der Verbindungsversuch fehl.</li>
	</ul>

	<h3><tmpl_var _("webui","adv_mns_revert_to_automatic_btn")></h3>
	<p>Wenn die manuelle Netzwahl verwendet wird, steht diese Schaltfläche zur Verfügung. Klicken Sie auf diese Schaltfläche, um von der manuellen zur automatischen Netzwahl zu wechseln.</p>

	<h3>Zurück zum Bildschirm „Netzwerke“</h3>
	<p>Über diesen Link gelangen Sie zurück zum Bildschirm „Netzwerke“.</p>
		
	</div>
	
</div>

<!-- id="mns" -->

