<!-- mns -->
<div id="mns">
	<h1>اختيار الشبكة</h1>
	<h2>نظرة عامة</h2>
	<p>يقوم هذا الجهاز تلقائيًا بتحديد شبكة الجوال المثلى. إذا كنت تستخدم شبكات GSM، فيمكنك أيضًا تحديد شبكة يدويًا. هذه "<tmpl_var _("webui", "menu_adv_mns_text")>"الميزة مفيدة فقط في حالة توفر شبكات متعددة. إذا تم استخدام هذه الميزة، فإن هذا الجهاز سيتصل بالشبكة المحددة فقط ويتجاهل الشبكات الأخرى المتاحة.</p>

	<h2>الحالة</h2>
	<p>يوضح هذا القسم ما إذا كان التحديد التلقائي أو اليدوي للشبكة قيد الاستخدام. إذا كان تحديد الشبكة يدويًا قيد الاستخدام، فسيتم عرض الشبكة المحددة أيضًا.</p>

	<h2>العملية</h2>
	<h3><tmpl_var _("webui","adv_mns_scan_for_networks_btn")></h3>
	<p>إذا كان تحديد الشبكة يدويًا ممكنًا، فسيكون هذا الزر متاحًا. انقر فوق هذا الزر إذا كنت ترغب في تحديد شبكة يدويًا. ثم يقوم المودم بالبحث عن جميع الشبكات المتاحة. قد يستغرق هذا البحث ما يصل إلى دقيقتين.</p>

	<p>ملاحظة: إذا لم يتم عرض هذا الزر، فلن يكون تحديد الشبكة يدويًا متاحًا في موقعك الحالي، باستخدام شبكتك الحالية.</p>

	<h3>قائمة الشبكات</h3>
	<div class="blockgroup">
	<p>يتم عرض جميع الشبكات المتاحة في قائمة الشبكات بمجرد اكتمال البحث عن الشبكة. يمكنك بعد ذلك تنفيذ إحدى العمليات التالية:</p>
	<ul>
		<li>إلغاء - استخدم هذا الخيار للاحتفاظ بتحديد الشبكة التلقائي.</li>
		<li>تحديث - استخدم هذا للبحث مرة أخرى إذا لم تكن الشبكة المطلوبة مدرجة. قد تحتاج إلى تغيير موقعك لتحسين جودة الإشارة.</li>

		<li>تحديد - استخدم هذا الخيار لتشغيل تحديد الشبكة يدويًا مع الشبكة المحددة. لاحظ أنه قد يتعذر الاتصال بجميع الشبكات المدرجة. إذا لم يكن لدى مزود الخدمة اتفاقية تجوال مع الشبكة المحددة، فستفشل محاولة الاتصال.</li>
	</ul>

	<h3><tmpl_var _("webui","adv_mns_revert_to_automatic_btn")></h3>
	<p>إذا كان تحديد الشبكة يدويًا قيد الاستخدام، فسيكون هذا الزر مرئيًا. انقر فوق هذا الزر للتغيير من تحديد الشبكة يدويًا تلقائيًا.</p>

	<h3>ارجع إلى شاشة الشبكات</h3>
	<p>استخدم هذا الرابط للعودة إلى شاشة الشبكات.</p>
		
	</div>
	
</div>

<!-- id="mns" -->

