<!-- mns -->
<div id="mns">
	<h1>Verkon valinta</h1>
	<h2>Yleiskatsaus</h2>
	<p>Tämä laite valitsee automaattisesti optimaalisen matkapuhelinverkon. Jos käytät GSM-pohjaisia verkkoja, voit valita verkon myös manuaalisesti. Tämä ”<tmpl_var _("webui", "menu_adv_mns_text")>”-ominaisuus on hyödyllinen vain, jos käytettävissä on useita verkkoja. Jos tämä ominaisuus on käytössä, tämä laite muodostaa yhteyden vain määritettyyn verkkoon ja ohittaa muut käytettävissä olevat verkot.</p>

	<h2>Tila</h2>
	<p>Tässä osiossa ilmoitetaan, onko käytössä Automatic Network Selection (Automaattinen verkon valinta) vai Manual Network Selection (Manuaalinen verkon valinta). Jos käytössä on Manual Network Selection (Manuaalinen verkon valinta), näytetään myös määritetty verkko.</p>

	<h2>Käyttö</h2>
	<h3><tmpl_var _("webui","adv_mns_scan_for_networks_btn")></h3>
	<p>Jos Manual Network Selection (Manuaalinen verkon valinta) on mahdollista, tämä painike on käytettävissä. Napsauta tätä painiketta, jos haluat valita verkon manuaalisesti. Modeemi etsii kaikki käytettävissä olevat verkot. Tämä etsintä voi kestää jopa kaksi minuuttia.</p>

	<p>Huomautus: Jos tätä painiketta ei näytetä, Manual Network Selection (Manuaalinen verkon valinta) ei ole käytettävissä nykyisessä sijainnissasi, kun nykyinen verkkosi on käytössä.</p>

	<h3>Verkkoluettelo</h3>
	<div class="blockgroup">
	<p>Kaikki käytettävissä olevat verkot näkyvät verkkoluettelossa, kun verkkojen etsintä on suoritettu. Tämän jälkeen voit suorittaa jonkin seuraavista toiminnoista:</p>
	<ul>
		<li>Cancel (Peruuta) – Tällä asetuksella pidät Automatic Network Selection (Automaattinen verkon valinta) -ominaisuuden käytössä.</li>
		<li>Refresh (Päivitä) – Tällä voit tehdä etsinnän uudelleen, jos haluamaasi verkkoa ei ole luettelossa. Saatat joutua muuttamaan sijaintiasi signaalin parantamiseksi.</li>

		<li>Select (Valitse) – Tällä asetuksella voit kytkeä Manual Network Selection (Manuaalinen verkon valinta) -ominaisuuden ja määritetyn verkon päälle. Huomaa, että yhteyden muodostaminen kaikkiin lueteltuihin verkkoihin ei välttämättä ole mahdollista. Jos palveluntarjoajallasi ei ole verkkovierailusopimusta valitun verkon kanssa, yhteysyritys epäonnistuu.</li>
	</ul>

	<h3><tmpl_var _("webui","adv_mns_revert_to_automatic_btn")></h3>
	<p>Jos käytössä on Manual Network Selection (Manuaalinen verkon valinta), tämä painike on näkyvissä. Tätä painiketta napsauttamalla voit vaihtaa Manual Network Selection (Manuaalinen verkon valinta) -ominaisuudesta Automatic Network Selection (Automaattinen verkon valinta) -ominaisuuteen.</p>

	<h3>Palaa Networks (Verkot) -näyttöön</h3>
	<p>Tällä linkillä voit palata Networks (Verkot) -näyttöön.</p>
		
	</div>
	
</div>

<!-- id="mns" -->

