<!-- mns -->
<div id="mns">
	<h1>Tinklo pasirinkimas</h1>
	<h2>Apžvalga</h2>
	<p>Šis įrenginys automatiškai pasirenka optimalų mobiliojo ryšio tinklą. Jei naudojate GSM pagrįstus tinklus, tinklą galite pasirinkti ir neautomatiškai. Ši „<tmpl_var _("webui", "menu_adv_mns_text")>“ funkcija naudinga tik tuo atveju, jei yra keli tinklai. Jei naudojama ši funkcija, įrenginys prisijungia tik prie nurodyto tinklo ir ignoruoja kitus galimus tinklus.</p>

	<h2>Būsena</h2>
	<p>Šiame skyriuje nurodoma, ar naudojamas automatinis ar neautomatinis tinklo pasirinkimas. Jei naudojamas neautomatinis tinklo pasirinkimas, rodomas ir nurodytas tinklas.</p>

	<h2>Valdymas</h2>
	<h3><tmpl_var _("webui","adv_mns_scan_for_networks_btn")></h3>
	<p>Šis mygtukas naudojamas, jei galimas neautomatinis tinklo pasirinkimas. Spustelėkite šį mygtuką, jei norite neautomatiškai pasirinkti tinklą. Tada modemas nuskaitys visus galimus tinklus. Šis nuskaitymas gali užtrukti iki dviejų minučių.</p>

	<p>Pastaba. Jei šis mygtukas nerodomas, neautomatinis tinklo pasirinkimas jūsų dabartinėje buvimo vietoje naudojant jūsų esamą tinklą negalimas.</p>

	<h3>Tinklų sąrašas</h3>
	<div class="blockgroup">
	<p>Baigus nuskaityti tinklą, visi galimi tinklai rodomi tinklų sąraše. Tada galite atlikti vieną iš šių veiksmų:</p>
	<ul>
		<li>„Atšaukti“ – naudokite šią parinktį, jei norite išsaugoti automatinį tinklo pasirinkimą.</li>
		<li>„Atnaujinti“ – naudokite norėdami nuskaityti dar kartą, jei norimo tinklo nėra sąraše. Norint pagerinti signalo kokybę, gali tekti pakeisti savo buvimo vietą.</li>

		<li>„Pasirinkti“ – naudokite šią parinktį, jei norite įjungti neautomatinio tinklo pasirinkimo funkciją nurodytame tinkle. Atminkite, kad gali būti neįmanoma prisijungti prie visų išvardytų tinklų. Jei paslaugų teikėjas nėra sudaręs pasirinkto tinklo tarptinklinio ryšio sutarties, bandyti prisijungti nepavyks.</li>
	</ul>

	<h3><tmpl_var _("webui","adv_mns_revert_to_automatic_btn")></h3>
	<p>Šis mygtukas matomas, jei naudojama neautomatinio tinklo pasirinkimo funkcija. Spustelėkite šį mygtuką, jei tinklo pasirinkimo funkciją iš neautomatinės norite perjungti į automatinę.</p>

	<h3>Grįžti į tinklų ekraną</h3>
	<p>Šį saitą naudokite norėdami grįžti į tinklų ekraną.</p>
		
	</div>
	
</div>

<!-- id="mns" -->

