<!-- Data Usage -->
<div id="data_usage">
	<h1><tmpl_var _("webui", "data_usage_menu_text")></h1>
	<h2>Overview</h2>
	<p>
		This screen displays a graphical illustration of data usage on your mobile data plan, provided that data usage information is available.
	</p>
	<h2>Estimated Data Usage</h2>
	<p>
		The display varies according to your plan, but generally contains the following information.
	</p>
	<div class="blockgroup">
		<ul>
		<li>Estimated data usage for your plan within the current billing cycle, up to the date shown. </li>
		<li>The type of plan and the data limit on your plan.</li>
		<li>A graphical representation of data usage for your plan within the current billing cycle.</li>
		<li>For Shared Plans, an indication of the data used on this particular device. </li>
		<li>The date when the current billing cycle ends.</li>
		</ul>
	</div>
	<h2>Reset data counter now</h2>
	<p>
		The Reset operation requires confirmation (as described below). If confirmed, reset performs the following:
		<div class="blockgroup">
			<ul>
				<li> Sets the Data Counter to zero (0)</li>
				<li> Sets the Reset date counter on this day of the month to today’s date</li>
			</ul>
		</div>
	</p>
	<h2>Reset date counter on this day of the month</h2>
	<p>
		This is the user specified data usage start date from which the billing cycle end date is derived.
	</p>
	<p>
		Default value is the 1st of the month.
	</p>
	<h2>Maximum data limit</h2>
	<p>
		This is the user specified total data limit to be used to calculate the data remaining/data used in the cycle.
	</p>
	<h2>Session Start</h2>
	<p>
		The date and time the current Internet session began.
	</p>
	<h2>Session Duration</h2>
	<p>
		The amount of time that has elapsed since the connection for the current Internet session was established.
	</p>
	<h2>Session Tx</h2>
	<p>
		The amount of data transmitted for the current Internet session. This counter starts at zero when the connection is established.
	</p>
	<h2>Session Rx</h2>
	<p>
		The amount of data received for the current Internet session. This counter starts at zero when the connection is established.
	</p>
	<h2>Monthly Tx</h2>
	<p>
		The amount of data transmitted for the current billing cycle. 
	</p>
	<h2>Monthly Rx</h2>
	<p>
		The amount of data received for the current billing cycle. 
	</p>
	<h2>Monthly Total</h2>
	<p>
		The total amount of data for the current billing cycle.
	</p>
</div>

