<!-- Data Usage -->
<div id="data_usage">
	<h1><tmpl_var _("webui", "data_usage_menu_text")></h1>
	<h2>Oversigt</h2>
	<p>Denne skærm viser en grafisk illustration af dataforbruget på din mobile dataplan, forudsat at oplysninger om dataforbrug er tilgængelige.</p>
	<h2>Anslået dataforbrug</h2>
	<p>Displayet varierer afhængigt af din plan, men indeholder generelt følgende oplysninger.</p>
	<div class="blockgroup">
		<ul>
		<li>Anslået dataforbrug for din plan inden for den aktuelle faktureringscyklus op til den viste dato.</li>
		<li>Planens type og databegrænsningen for din plan.</li>
		<li>En grafisk gengivelse af dataforbruget for din plan inden for den aktuelle faktureringscyklus.</li>
		<li>For delte planer, en indikation af de data, der bruges på denne bestemte enhed.</li>
		<li>Den dato, hvor den aktuelle faktureringscyklus slutter.</li>
		</ul>
	</div>
</div>

