<!-- Data Usage -->
<div id="data_usage">
	<h1><tmpl_var _("webui", "data_usage_menu_text")></h1>
	<h2>Pārskats</h2>
	<p>Šajā ekrānā tiek parādīts grafisks datu lietojuma attēlojums jūsu mobilo datu plānā, ja ir pieejama informācija par datu lietojumu.</p>
	<h2>Aplēstais datu lietojums</h2>
	<p>Displejs mainās atkarībā no jūsu plāna, bet parasti tajā ir šāda informācija.</p>
	<div class="blockgroup">
		<ul>
		<li>Plāna aptuvenais datu lietojums pašreizējā norēķinu ciklā līdz norādītajam datumam.</li>
		<li>Plāna veids un datu ierobežojums jūsu plānā.</li>
		<li>Plāna datu lietojuma grafisks attēlojums pašreizējā norēķinu ciklā.</li>
		<li>Koplietojamiem plāniem — norāde par šajā konkrētajā ierīcē izmantotajiem datiem.</li>
		<li>Pašreizējā norēķinu cikla beigu datums.</li>
		</ul>
	</div>
</div>

