<!-- Data Usage -->
<div id="data_usage">
	<h1><tmpl_var _("webui", "data_usage_menu_text")></h1>
	<h2>Panoramica</h2>
	<p>Questa schermata mostra un&#39;illustrazione grafica del consumo dati del piano dati mobile, a condizione che tali informazioni siano disponibili.</p>
	<h2>Consumo dati stimato</h2>
	<p>La visualizzazione varia in base al piano, ma in genere contiene le informazioni che seguono.</p>
	<div class="blockgroup">
		<ul>
		<li>Il consumo dati stimato per il piano nel ciclo di fatturazione corrente, fino alla data indicata.</li>
		<li>Il tipo di piano e il limite dati del piano.</li>
		<li>Una rappresentazione grafica del consumo dati del piano nell&#39;ambito del ciclo di fatturazione corrente.</li>
		<li>Per i piani condivisi, si tratta di un&#39;indicazione dei dati utilizzati su questo particolare dispositivo.</li>
		<li>La data in cui termina il ciclo di fatturazione corrente.</li>
		</ul>
	</div>
</div>

