<!-- Data Usage -->
<div id="data_usage">
	<h1><tmpl_var _("webui", "data_usage_menu_text")></h1>
	<h2>Ülevaade</h2>
	<p>Sellel ekraanil kuvatakse graafiline pilt teie mobiilse andmeside paketi andmekasutusest, eeldusel et andmekasutusteave on saadaval.</p>
	<h2>Andmete hinnanguline kasutus</h2>
	<p>Kuva varieerub olenevalt paketist, kuid sisaldab üldjuhul järgmist teavet.</p>
	<div class="blockgroup">
		<ul>
		<li>Teie paketi hinnanguline andmekasutus praeguse arveldustsükli jooksul kuni näidatud kuupäevani.</li>
		<li>Paketi tüüp ja andmelimiit teie paketis.</li>
		<li>Paketi andmekasutuse graafiline esitus praeguse arveldustsükli jooksul.</li>
		<li>Jagatud pakettide puhul näidatakse selle konkreetse seadme kasutatud andmemahtu.</li>
		<li>Kuupäev, kui praegune arveldustsükkel lõpeb.</li>
		</ul>
	</div>
</div>

