<!-- Data Usage -->
<div id="data_usage">
	<h1><tmpl_var _("webui", "data_usage_menu_text")></h1>
	<h2>Yleiskatsaus</h2>
	<p>Tässä näytössä esitetään graafinen kuvaus mobiilidatapakettisi datan käytöstä, jos datan käytön tiedot ovat saatavilla.</p>
	<h2>Arvioitu datan käyttö</h2>
	<p>Näyttö vaihtelee pakettisi mukaan, mutta sisältää yleensä seuraavat tiedot.</p>
	<div class="blockgroup">
		<ul>
		<li>Pakettisi arvioitu datan käyttö nykyisen laskutusjakson aikana, esitettyyn päivämäärään saakka.</li>
		<li>Paketin tyyppi ja pakettisi dataraja.</li>
		<li>Graafinen esitys pakettisi datan käytöstä nykyisen laskutusjakson aikana.</li>
		<li>Jaettujen pakettien osalta tieto tällä laitteella käytetystä datasta.</li>
		<li>Päivämäärä, jolloin nykyinen laskutusjakso päättyy.</li>
		</ul>
	</div>
</div>

