<!-- MAC Filter -->
<div id="macfilter">
	<h1><tmpl_var _("webui", "adv_macfilter_menu_text")></h1>
	<h2>概要</h2>
	<p>MACフィルター機能をオンにすると、「MACアドレスフィルター」リストに含まれていないデバイスによるこのWi-Fiネットワークへのアクセスが禁止されます。 フィルターはWi-Fiネットワークにのみ適用され、USBデバイスには影響しません。</p>
	
	<h2>オン/オフコントロール</h2>
	<p>このコントロールを使用して、必要に応じてMACフィルターをオンまたはオフにします。 オンにする前に、一部のデバイスが許可されていることを確認する必要があります。 MACフィルターがオンになっている場合、「MACアドレスフィルター」リストにない接続デバイスはすぐに切断されます。</p>
	
	<h2>デバイスリスト</h2>
	
	<p>USBデバイスを除いて、すべての既知のデバイスがここにリストされます。 提供されたチェックボックスを使用して、「MACアドレスフィルター」リストにデバイスを含めるか除外します。</p>

	<h3><tmpl_var _("webui", "adv_macfilter_refresh_button")></h3>
	<p>更新ボタンを使用して、必要に応じてリストを更新します。</p>
		
	<h2>操作</h2>
	
	<h3>ブロック済みフィルターとMACフィルター</h3>
	<p>「ブロック済み」デバイスと「MACフィルター」の間のインターラクションは次のとおりです。</p>
	<div class="blockgroup">
	<ul>
	<li>MACフィルターがオンかオフかに関係なく、ブロック済みデバイスは常にWi-Fiネットワークからブロックされます。</li>
	<li>MACフィルターがオンになっていて、デバイスがブロック済みリストに含まれているが、MACアドレスフィルターリストには含まれていない場合、そのデバイスは接続できません。 MACフィルターとブロックの両方が接続を妨げます。</li>

	<li>MACフィルターがオンになっていて、デバイスがMACアドレスフィルターリストに含まれている場合、そのデバイスは接続できます。 接続したら、MACアドレスフィルターリストから削除するか、「ブロック」機能を使用してブロックできます。 一般に、「ブロック」は一時的なブロックに使用し、MACフィルターは永久的なブロックに使用します。</li>
	</ul>
	</div>
	
	<h3><tmpl_var _("webui", "adv_macfilter_add_device_button")></h3>
	<p>このボタンを使用して、新しいデバイスをデバイスリストに追加します。</p>

 </div>
<!--  macfilter  -->
