<!-- MAC Filter -->
<div id="macfilter">
	<h1><tmpl_var _("webui", "adv_macfilter_menu_text")></h1>
	<h2>Apžvalga</h2>
	<p>Jei įjungta MAC filtro funkcija, prie šio „Wi-Fi“ tinklo negalės prisijungti joks įrenginys, neįtrauktas į sąrašą „MAC adresų filtras“. Filtras taikomas tik „Wi-Fi“ tinklui ir nepaveiks USB įrenginių.</p>
	
	<h2>ĮJUNGIMO / IŠJUNGIMO valdiklis</h2>
	<p>Naudokite šį valdiklį norėdami prireikus įjungti arba išjungti MAC filtrą. Prieš jį įjungdami turite įsitikinti, kad leidžiama naudoti kai kuriuos įrenginius. Atminkite, kad įjungus MAC filtrą, visi prijungti įrenginiai, kurių nėra sąraše „MAC adresų filtras“, bus nedelsiant atjungti.</p>
	
	<h2>Įrenginių sąrašas</h2>
	
	<p>Čia išvardyti visi žinomi įrenginiai, išskyrus USB įrenginius. Norėdami įtraukti arba pašalinti įrenginius iš sąrašo „MAC adresų filtras“, naudokite pateiktus žymimuosius langelius.</p>

	<h3><tmpl_var _("webui", "adv_macfilter_refresh_button")></h3>
	<p>Prireikus atnaujinti sąrašą, naudokite atnaujinimo mygtuką.</p>
		
	<h2>Valdymas</h2>
	
	<h3>„Užblokuoti“ ir „MAC filtras“</h3>
	<p>Įrenginių „Užblokuoti“ ir „MAC filtras“ sąveika:</p>
	<div class="blockgroup">
	<ul>
	<li>Užblokuoti įrenginiai visada blokuojami iš „Wi-Fi“ tinklo – nesvarbu, ar MAC filtras įjungtas ar išjungtas.</li>
	<li>Jei MAC filtras įjungtas, o įrenginys yra užblokuotųjų, o ne MAC adresų filtro sąraše, jis prisijungti negalės. Prisijungti neleis ir MAC filtras, ir užblokavimo funkcija.</li>

	<li>Jei MAC filtras įjungtas, o įrenginys yra MAC adresų filtro sąraše, įrenginys galės prisijungti. Kai prisijungs, jį galima užblokuoti pašalinant iš MAC adresų filtro sąrašo arba naudojant funkciją „Užblokuoti“. Paprastai funkcija „Užblokuoti“ turi būti naudojama laikinam blokavimui, o MAC filtras – nuolatiniam blokavimui.</li>
	</ul>
	</div>
	
	<h3><tmpl_var _("webui", "adv_macfilter_add_device_button")></h3>
	<p>Naudokite šį mygtuką, jei į įrenginių sąrašą norite įtraukti naują įrenginį.</p>

 </div>
<!--  macfilter  -->
