<br />

<tmpl_if isHidden>
	<div class="notification app error">
		<tmpl_var _("webui", "webui_app_hidden_text")>
	</div>
<tmpl_else>
	<script type="text/javascript">
		/* <![CDATA[ */
		var minPort = 1024;
		var maxPort = 65535;
		var pollingTime = 5000;
		
		$(function()
		{
			showHideElements(<tmpl_var regSetting>);

			<tmpl_if isRegistrationAllowed>
				if( $("#registrationStatus").text().trim() == "<tmpl_var _('webui', 'cbsd_de_registration_progress_text')>" ||
				    $("#registrationStatus").text().trim() == "<tmpl_var _('webui', 'cbsd_cancel_registration_progress_text')>") {
					$("#registerDeviceButton").prop("disabled", true);
					if(! $("#registrationStatus").hasClass("loading") ) {
						$("#registrationStatus").addClass("loading");
					}
				} else if($("#registrationStatus").text().trim() == "<tmpl_var _('webui', 'cbsd_registration_status_start_text')>") {
					$("#registerDeviceButton").prop("disabled", false);
					if( $("#registrationStatus").hasClass("loading") ) {
						$("#registrationStatus").removeClass("loading");
					}
				} else {
					$("#registerDeviceButton").prop("disabled", false);
					if( $("#registrationStatus").hasClass("loading") ) {
						$("#registrationStatus").removeClass("loading");
					}
				}
			</tmpl_if>

			$("#certPasswordRow1 .input span.toggle-password").click(function () {
				var url = "<tmpl_udf GET_URI('cbsd_get_password')>";
			
				$(this).toggleClass("eye eye-slash");
				var x = $( $(this).attr("toggle") );

				$.ajax({
					url : url,
					type : "GET",
					success: function(data, textStatus, xhr) {
						if( $(x).text() == "********" ) {
							$(x).text( data.certPassword );
						} else {
							$(x).text("********");
						}
					},
					error : function(xhr, textStatus, errorThrown) {
						// If auth session has ended, force a new login with a fresh GET.
                				if( (xhr.status == 401) || (xhr.status == 403) || (xhr.status == 406) ) window.location.replace(window.location.href);
					}
				});

			});

                        $("#certPasswordRow2 .input span.toggle-password").click(function () {
                                $(this).toggleClass("eye eye-slash");
                                
				if( $("input[id=certPassword]").attr("type") == "password") {
                                        $("input[id=certPassword]").attr("type", "text");
                                } else {
                                        $("input[id=certPassword]").attr("type", "password");
                                }
                        });
		
			getRegistrationStatus();

			<tmpl_unless IN_SET(responseCode, 0)>
				$("#responseRow").show();
			<tmpl_else>
				$("#responseRow").hide();
			</tmpl_unless>

			if ("<tmpl_var cpiPrivateKeyFile>" != "") {
				$("#cbsd_cpi_form .filename").html("<tmpl_var cpiPrivateKeyFile>");
			}			

			if ("<tmpl_var caCertificateFile>" != "") { 
                                $("#caCertificateFile + .filename").html("<tmpl_var caCertificateFile>");
                        }                                                                                          
                                                                                  
                        if ("<tmpl_var subCaCertificateFile>" != "") {            
                                $("#subCaCertificateFile + .filename").html("<tmpl_var subCaCertificateFile>");                                          
                        }                                                         
                                                                                  
                        if ("<tmpl_var privateKeyFile>" != "") {                  
                                $("#privateKeyFile + .filename").html("<tmpl_var privateKeyFile>");      
                        } 

			$(document).on('submit', 'form#cbsd_sas_form', function () {
				var errorCount = 0;
				var cbsdUrl = $("#cbsdUrl").val();
				var count = (cbsdUrl.match(/\:/g) || []).length;
				var isValid;				

				if(count == 0) {
					isValid = validateServerUrlOrIp(cbsdUrl);
					if(! isValid) {
						$("#cbsdUrlError").remove();
						$("#cbsdUrl").after("<div id='cbsdUrlError' class='inline_error'> <tmpl_var _('webui', 'cbsd_sas_information_url_invalid_error_text')> </div> ");
						errorCount++;
					}
				} else if(count == 1) {
					var fields = cbsdUrl.split(':');
					var url = fields[0];
					var portNum = fields[1];
			
					isValid = validateServerUrlOrIp(url);
                                        if(! isValid) {
                                                $("#cbsdUrlError").remove();
                                                $("#cbsdUrl").after("<div id='cbsdUrlError' class='inline_error'> <tmpl_var _('webui', 'cbsd_sas_information_url_invalid_error_text')> </div> ");
                                                errorCount++;
                                        }

					if(portNum < minPort || portNum > maxPort) {
						$("#cbsdUrlError").remove();
                                                $("#cbsdUrl").after("<div id='cbsdUrlError' class='inline_error'> <tmpl_var _('webui', 'cbsd_sas_information_invalid_port_error_text')> </div> ");
                                                errorCount++;
					}
				} else {
					$("#cbsdUrlError").remove();
                                        $("#cbsdUrl").after("<div id='cbsdUrlError' class='inline_error'> <tmpl_var _('webui', 'cbsd_sas_information_url_invalid_error_text')> </div> ");
					errorCount++;
				}
				
				if(errorCount >= 1) {
					return false;
				} else {
					return true;
				}
			});

			$(document).on('submit', 'form#cbsd_antenna_form', function () {
                                var errors = false;
                                var regxp = /^\d+(\.\d{1,2})?$/;
                                var antennaAzimuthValue = $("#antennaAzimuth").val();
				var antennaDowntiltValue = $("#antennaDowntilt").val();
                                var isNumValid;

				isNumValid = regxp.test(antennaAzimuthValue);
                                if ((antennaAzimuthValue < 0) || (antennaAzimuthValue > 359) || (isNaN(antennaAzimuthValue)) || (!isNumValid)) {
                                        $("#antennaAzimuthError").remove();
                                        $("#antennaAzimuth").after("<div id='antennaAzimuthError' class='inline_error'> <tmpl_var _('webui', 'cbsd_antenna_information_invalid_limit_error_text')> </div>");
                                        errors = true;
                                }
				
				isNumValid = regxp.test(antennaDowntiltValue);
				if ((antennaDowntiltValue < -90) || (antennaDowntiltValue > 90) || (isNaN(antennaDowntiltValue)) || (!isNumValid)) {
                                        $("#antennaDowntiltError").remove();
                                        $("#antennaDowntilt").after("<div id='antennaDowntiltError' class='inline_error'> <tmpl_var _('webui', 'cbsd_antenna_information_invalid_limit_error_text')> </div>");
                                        errors = true;
                                }

                                if (errors === true) {
                                        return false;
                                } else {
                                        return true;
                                }
                        });

			$("#registerDeviceButton").on("click", function() {
                   		var url = ($(this).text() == '<tmpl_var _("webui", "cbsd_register_device_button_text")>') ? "<tmpl_udf GET_URI('cbsd_register_device')>" : "<tmpl_udf GET_URI('cbsd_deregister_device')>";
				
				$("#postSuccess").hide()
				if($(this).text() != '<tmpl_var _("webui", "cbsd_register_device_button_text")>') {
					$(this).prop("disabled", true);
				}

				$("#responseRow").hide();				
				$("#registrationStatus").addClass("loading");			
	
				if($(this).text() == '<tmpl_var _("webui", "cbsd_register_device_button_text")>') {
					$(this).text("<tmpl_var _('webui', 'cbsd_de_register_button_text')>")
					$("#registrationStatus").html("<tmpl_var _('webui', 'cbsd_registration_status_start_text')>");	
				} else if($(this).text() == '<tmpl_var _("webui", "cbsd_de_register_button_text")>') {
					$("#registrationStatus").html("<tmpl_var _('webui', 'cbsd_de_registration_progress_text')>");
				} else if($(this).text() == '<tmpl_var _("webui", "cbsd_cancel_registration_button_text")>') { 
					$("#registrationStatus").html("<tmpl_var _('webui', 'cbsd_cancel_registration_progress_text')>");
				} else {
					$("#registrationStatus").html("");
				}

                        	$.ajax({
                                	url : url,
                                	type : "POST",
                                	data : {
                                        	gSecureToken : "<tmpl_var gSecureToken>"
                                	},
                                	dataType : "json",
                                	success : function(data, textStatus, xhr) {
                                	}, 
                                	error : function(xhr, textStatus, errorThrown) {
						// If auth session has ended, force a new login with a fresh GET.
                				if( (xhr.status == 401) || (xhr.status == 403) || (xhr.status == 406) ) window.location.replace(window.location.href);
					}
                        	});
                	});
		});

		function validateServerUrlOrIp (url) {

                         if(url[0] == '-') {
                                return false;
                        }

                        var regUrl = /^[A-Za-z0-9-]+(\.[A-Za-z0-9-]+)*(\.[A-Za-z]{2,})$/;

                        if(regUrl.test(url) == true) {
                                return true;
                        } else {
                                if (validateServerIp(url) == true ) {
                                        return true;
                                } else {
                                        return false;
                                }
                        }
                }

                function validateServerIp (ip) {
                        console.log("validateServerIp start");
                        if (/^(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$/.test(ip)) {
                                return true;
                        } else {
                                return false;
                        }
                }

		function getRegistrationStatus() {
			$.ajax({
                                url : "<tmpl_udf GET_URI('cbsd_get_registration_status')>",
                                type : "GET",
                                dataType : "json",
                                success : function(data) {
					if(data.regSetting == 0) {
						$("#registrationStatus").html("<tmpl_var _('webui', 'cbsd_registration_status_not_registered_text')>");
					} else {	
						if(data.regState == 1 && data.responseCode != 0) {
							$("#registrationStatus").html("<tmpl_var _('webui', 'cbsd_registration_status_failed_text')>");
						} else if(data.regState == 2 || data.regState == 3 || data.regState == 4) {
							$("#registrationStatus").html("<tmpl_var _('webui', 'cbsd_registration_status_start_text')>");
						} else if(data.regState == 5) {
							$("#registrationStatus").html("<tmpl_var _('webui', 'cbsd_registration_status_registered_text')>");
						}
					}

					if(data.responseCode != 0) {
						$("#responseRow").show();

						if(data.responseMessage != "") {
							$("#responseMessage").html(data["responseMessage"]);
						} else {
							$("#responseMessage").html(getResponseCodeStr(data.responseCode));
						}

						$("#responseCode").html(data["responseCode"]);
					} else {
						$("#responseRow").hide();
					}

					if(data.isRegistrationAllowed == 1) {
						if( $("#registrationStatus").text() == "<tmpl_var _('webui', 'cbsd_de_registration_progress_text')>" ||
						    $("#registrationStatus").text() == "<tmpl_var _('webui', 'cbsd_cancel_registration_progress_text')>") {
							$("#registerDeviceButton").prop("disabled", true);
							if(! $("#registrationStatus").hasClass("loading") ) {
								$("#registrationStatus").addClass("loading");
							}
						} else if($("#registrationStatus").text() == "<tmpl_var _('webui', 'cbsd_registration_status_start_text')>") {
							$("#registerDeviceButton").prop("disabled", false);
							if(! $("#registrationStatus").hasClass("loading") ) {
								$("#registrationStatus").addClass("loading");
							}
						} else {
							$("#registerDeviceButton").prop("disabled", false);
							
							if( $("#registrationStatus").hasClass("loading") ) {
								$("#registrationStatus").removeClass("loading");
							}
						}
					}

					showHideElements(data.regSetting);
					changeButtonText(data.regSetting, data.regState, data.responseCode);
				},
				error : function(xhr, textStatus, errorThrown) {
					// If auth session has ended, force a new login with a fresh GET.
        				if( (xhr.status == 401) || (xhr.status == 403) || (xhr.status == 406) ) window.location.replace(window.location.href);
				},
				complete : function(xhr, textStatus) {
                                        setTimeout(getRegistrationStatus, pollingTime);
                                }
			});
		}

		function getResponseCodeStr(responseCode) {
			var str;
			
			switch(responseCode) {
				case 0:
					str = "<tmpl_var _('webui', 'cbsd_response_code_success_text')>";
					break;
				case 100: 
					str = "<tmpl_var _('webui', 'cbsd_response_code_version_not_supported_text')>";
					break;
				case 101:
					str = "<tmpl_var _('webui', 'cbsd_response_code_blacklisted_text')>";
					break;
				case 102:
					str = "<tmpl_var _('webui', 'cbsd_response_code_missing_param_text')>";
					break;
				case 103:
					str = "<tmpl_var _('webui', 'cbsd_response_code_invalid_value_text')>";
					break;
				case 104:
					str = "<tmpl_var _('webui', 'cbsd_response_code_certificate_error_text')>";
					break;
				case 105:
					str = "<tmpl_var _('webui', 'cbsd_response_code_deregister_error_text')>";
					break;
				case 200:
					str = "<tmpl_var _('webui', 'cbsd_response_code_registration_pending_text')>";
					break;
				case 201:
					str = "<tmpl_var _('webui', 'cbsd_response_code_group_error_text')>";
					break;
				case 300:
					str = "<tmpl_var _('webui', 'cbsd_response_code_unsupported_spectrum_text')>";
					break;
				case 400:
					str = "<tmpl_var _('webui', 'cbsd_response_code_interference_text')>";
					break;
				case 401:
					str = "<tmpl_var _('webui', 'cbsd_response_code_grant_conflict_text')>";
					break;
				case 500:
					str = "<tmpl_var _('webui', 'cbsd_response_code_grant_terminated_text')>";
					break;
				case 501:
					str = "<tmpl_var _('webui', 'cbsd_response_code_grant_suspended_text')>";
					break;
				case 502:
					str = "<tmpl_var _('webui', 'cbsd_response_code_unsync_op_param_text')>";
					break;
				case -1:
					str = "<tmpl_var _('webui', 'cbsd_response_code_not_in_band48_text')>";
					break;
				case -2:
					str = "<tmpl_var _('webui', 'cbsd_response_code_registration_request_prepare_failed_text')>";
					break;
				case -3:
					str = "<tmpl_var _('webui', 'cbsd_response_code_registration_request_post_failed_text')>";
					break;
				case -4:
					str = "<tmpl_var _('webui', 'cbsd_response_code_specutrum_inquiry_prepare_failed_text')>";
					break;
				case -5:
					str = "<tmpl_var _('webui', 'cbsd_response_code_spectrum_inquiry_post_failed_text')>";
					break;
				case -6:
					str = "<tmpl_var _('webui', 'cbsd_response_code_grant_request_prepare_failed_text')>";
					break;
				case -7:
					str = "<tmpl_var _('webui', 'cbsd_response_code_grant_request_post_failed_text')>";
					break;
				case -8: 
					str = "<tmpl_var _('webui', 'cbsd_response_code_heartbeat_request_prepare_failed_text')>";
					break;
				case -9:
					str = "<tmpl_var _('webui', 'cbsd_response_code_heartbeat_request_post_failed_text')>";
					break;
				default:
					str = "<tmpl_var _('webui', 'cbsd_response_code_registration_request_prepare_failed_text')>";
					break;
			}

			return str;
		}

		function changeButtonText(regSetting, regState, responseCode) {
			if($("#registrationStatus").text().trim() == '<tmpl_var _("webui", "cbsd_registration_status_start_text")>') {
				$("#registerDeviceButton").text("<tmpl_var _('webui', 'cbsd_de_register_button_text')>");
			} else 	if(regSetting == 0) {
				$("#registerDeviceButton").text("<tmpl_var _('webui', 'cbsd_register_device_button_text')>");
			} else {
				if(regState == 1) {
					if(responseCode != 0) {
						$("#registerDeviceButton").text("<tmpl_var _('webui', 'cbsd_cancel_registration_button_text')>");
					} 
				} else if(regState == 2 || regState == 3 || regState == 4) {
					$("#registerDeviceButton").text("<tmpl_var _('webui', 'cbsd_register_device_button_text')>");
				} else if(regState == 5) {
					$("#registerDeviceButton").text("<tmpl_var _('webui', 'cbsd_de_register_button_text')>");
				}
			}
		}

		function showHideElements(regSetting) {
			var show = !regSetting;
			var hide = !show;

			$("#saveSasInfo").toggle(show);
			$("#saveCpiInfo").toggle(show);
			$("#saveCertInfo").toggle(show);
			$("#saveAntennaInfo").toggle(show);

			$("#cbsdOperatorRow1").toggle(hide);
			$("#cbsdOperatorRow2").toggle(show);

			$("#cbsdUrlRow1").toggle(hide);
			$("#cbsdUrlRow2").toggle(show);

			$("#cbsdVersionRow1").toggle(hide);
			$("#cbsdVersionRow2").toggle(show);

			$("#cbsdUseridRow1").toggle(hide);
			$("#cbsdUseridRow2").toggle(show);

			$("#cpiUseridRow1").toggle(hide);
			$("#cpiUseridRow2").toggle(show);

			$("#cpiNameRow1").toggle(hide);
			$("#cpiNameRow2").toggle(show);

			$("#cpiPrivateKeyFileRow1").toggle(hide);
			$("#cpiPrivateKeyFileRow2").toggle(show);

			$("#caCertificateFileRow1").toggle(hide);
			$("#caCertificateFileRow2").toggle(show);

			$("#subCaCertificateFileRow1").toggle(hide);
			$("#subCaCertificateFileRow2").toggle(show);

			$("#privateKeyFileRow1").toggle(hide);
			$("#privateKeyFileRow2").toggle(show);

			$("#certPasswordRow1").toggle(hide);
			$("#certPasswordRow2").toggle(show);

			$("#antennaAzimuthRow1").toggle(hide);
			$("#antennaAzimuthRow2").toggle(show);

			$("#antennaDowntiltRow1").toggle(hide);
			$("#antennaDowntiltRow2").toggle(show);
		}

		/* ]]> */
	</script>

	<tmpl_if isLocked>
		<div class="notification app error">
			<tmpl_var _("webui", "webui_app_locked_text")>
		</div>
	</tmpl_if>

	<tmpl_if errorCount>
		<div class="notification app error">
			<div class="notification_inner">
				<p>
					<tmpl_var _("webui", "webui_save_code_failed_text")>
				</p>
			</div>
		</div>
	</tmpl_if>

	<tmpl_if gPostSuccess>
		<div class="notification app success" id="postSuccess">
			<div class="notification_inner">
				<p>
					<tmpl_var _("webui", "webui_save_code_success_text")>
				</p>
			</div>
		</div>
	</tmpl_if>

	<form id="cbsd_form" method="POST" action="<tmpl_udf GET_URI('cbsd')>">
		<input type="hidden" name="gSecureToken" value="<tmpl_var gSecureToken>" />

		<div id="registerDevice">
			<h2 class="sectionHead"><tmpl_var _("webui", "cbsd_registration_status_sub_header")></h2>
			<div class="form-group lbl-append">
				<div class="label">
					<span for="registrationStatus"><tmpl_var _("webui", "cbsd_current_status_label")></span>
				</div>
				<div class="input" id="registrationStatus" name="registrationStatus">
					<tmpl_var registrationStatus>
				</div>
			</div>

			<div class="form-group lbl-append" style="display:none;" id="responseRow">
				<div class="label">
					<label><tmpl_var _("cbsd_registration_status_response_label")></label>					
				</div>
				<div class="input">
					<span id="responseMessage"><tmpl_udf GET_PO_TEXT('cbsd_response_message_text', responseMessage)></span> &nbsp; <tmpl_var _("webui", "webui_opening_parenthesis")> <tmpl_var _("webui", "cbsd_response_code_label")> <span id="responseCode"><tmpl_udf GET_PO_TEXT('cbsd_response_code_text', responseCode)></span><tmpl_var _("webui", "webui_closing_parenthesis")>
				</div>
			</div>

			<div class="button_container align-field clearfix">
	                	<button type="button" id="registerDeviceButton" class="primary" <tmpl_unless isRegistrationAllowed>disabled="disabled"</tmpl_unless>>
					<tmpl_if IN_SET(regSetting, 0)>
                                		<tmpl_var _('webui', 'cbsd_register_device_button_text')>
                        		<tmpl_else>
                                		<tmpl_if IN_SET(regState, 1)>
                                        		<tmpl_unless IN_SET(responseCode, 0)>
                                                		<tmpl_var _('webui', 'cbsd_cancel_registration_button_text')>
                                        		</tmpl_unless>
                                		<tmpl_elsif IN_SET(regState, 2, 3, 4)>
                                        		<tmpl_var _('webui', 'cbsd_register_device_button_text')>
						<tmpl_elsif IN_SET(regState, 5)>
							<tmpl_var _('webui', 'cbsd_de_register_button_text')>
                                		</tmpl_if>
                        		</tmpl_if>
				</button>
	                </div>
		</div>
	</form>

	<form id="cbsd_sas_form" method="POST" action="<tmpl_udf GET_URI('cbsd')>">
		<input type="hidden" name="gSecureToken" value="<tmpl_var gSecureToken>" />
		<input type="hidden" name="formAction" id="sasForm" value="sasInfo" />

		<div id="sasInfo">
			<h2 class="sectionHead"><tmpl_var _("webui", "cbsd_sas_information_sub_header")></h2>
			
			<div class="form-group" id="cbsdOperatorRow1" style="display:none;">
				<div class="label"><tmpl_var _("webui", "cbsd_sas_information_operator_label")></div>
				<div class="input"><tmpl_var cbsdOperator></div>
			</div>

			<div class="form-group lbl-append" id="cbsdOperatorRow2" style="display:none;">
				<div class="label">
					<label>
						<div class="tooltip tooltip-help" title="<tmpl_var _('webui', 'cbsd_sas_information_operator_help_text')>">
                    					<tmpl_var _("webui", "webui_inline_help_icon")>
                				</div>
						<tmpl_var _("webui", "cbsd_sas_information_operator_label")>
					</label>
				</div>
				<div class="input">
					<input type="text" id="cbsdOperator" name="cbsdOperator" value="<tmpl_var cbsdOperator>" <tmpl_if cbsdOperatorError>class="error"</tmpl_if> />
				</div>
				<tmpl_if cbsdOperatorError>
					<div class="inline_error">
						<tmpl_var cbsdOperatorError>
					</div>
				</tmpl_if>
			</div>

			<div class="form-group" id="cbsdUrlRow1" style="display:none;">
                                <div class="label"><tmpl_var _("webui", "cbsd_sas_information_url_label")></div>
                                <div class="input"><tmpl_var cbsdUrl></div>
                        </div>

			<div class="form-group lbl-append" id="cbsdUrlRow2" style="display:none;">
				<div class="label">
					<label>
						<div class="tooltip tooltip-help" title="<tmpl_var _('webui', 'cbsd_sas_information_url_help_text')>">
                    					<tmpl_var _("webui", "webui_inline_help_icon")>
                				</div>
						<tmpl_var _("webui", "cbsd_sas_information_url_label")>
					</label>
				</div>
				<div class="input">
					<input type="text" id="cbsdUrl" name="cbsdUrl" value="<tmpl_var cbsdUrl>" <tmpl_if cbsdUrlError>class="error"</tmpl_if> />
				</div>
				<tmpl_if cbsdUrlError>
                                        <div class="inline_error">
                                                <tmpl_var cbsdUrlError>
                                        </div>
                                </tmpl_if>
			</div>

			<div class="form-group" id="cbsdVersionRow1" style="display:none;">
                                <div class="label"><tmpl_var _("webui", "cbsd_sas_information_version_label")></div>
                                <div class="input"><tmpl_var cbsdVersion></div>
                        </div>

			<div class="form-group lbl-append" id="cbsdVersionRow2" style="display:none;">
				<div class="label">
					<label>
						<div class="tooltip tooltip-help" title="<tmpl_var _('webui', 'cbsd_sas_information_version_help_text')>">
                    					<tmpl_var _("webui", "webui_inline_help_icon")>
                				</div>
						<tmpl_var _("webui", "cbsd_sas_information_version_label")>
					</label>
				</div>
				<div class="input">
					<select name="cbsdVersion" id="cbsdVersion">
                                                <tmpl_include "cbsd_version_options.tmpl">
                                        </select>
				</div>
			</div>

			<div class="form-group" id="cbsdUseridRow1" style="display:none;">
                                <div class="label"><tmpl_var _("webui", "cbsd_sas_information_cbsd_userid_label")></div>
                                <div class="input"><tmpl_var cbsdUserid></div>
                        </div>

			<div class="form-group lbl-append" id="cbsdUseridRow2" style="display:none;">
				<div class="label">
					<label>
						<div class="tooltip tooltip-help" title="<tmpl_var _('webui', 'cbsd_sas_information_cbsd_userid_help_text')>">
                    					<tmpl_var _("webui", "webui_inline_help_icon")>
                				</div>
						<tmpl_var _("webui", "cbsd_sas_information_cbsd_userid_label")>
					</label>
				</div>
				<div class="input">
					<input type="text" id="cbsdUserid" name="cbsdUserid" value="<tmpl_var cbsdUserid>" <tmpl_if cbsdUserIDError>class="error"</tmpl_if> />
				</div>
				<tmpl_if cbsdUserIDError>
                                        <div class="inline_error">
                                                <tmpl_var cbsdUserIDError>
                                        </div>
                                </tmpl_if>
			</div>

			<div class="button_container align-field clearfix">
				<button type="submit" class="secondary" id="saveSasInfo">
					<tmpl_var _("webui", "cbsd_sas_information_save_changes_button_text")>
				</button>
			</div>
		</div>
	</form>

	<form id="cbsd_cpi_form" method="POST" action="<tmpl_udf GET_URI('cbsd')>" enctype="multipart/form-data">
                <input type="hidden" name="gSecureToken" value="<tmpl_var gSecureToken>" />
                <input type="hidden" name="formAction" id="cpiForm" value="cpiInfo" />

                <div id="cpiInfo">
                        <h2 class="sectionHead"><tmpl_var _("webui", "cbsd_cpi_information_sub_header")></h2>

			<div class="form-group" id="cpiUseridRow1" style="display:none;">
				<div class="label"><tmpl_var _("webui", "cbsd_cpi_information_userid_label")></div>
                                <div class="input"><tmpl_var cpiUserid></div>
			</div>

			<div class="form-group lbl-append" id="cpiUseridRow2" style="display:none;">
                                <div class="label">
                                        <label>
                                        	<div class="tooltip tooltip-help" title="<tmpl_var _('webui', 'cbsd_cpi_information_userid_help_text')>">
                    					<tmpl_var _("webui", "webui_inline_help_icon")>
                				</div>
                                        	<tmpl_var _("webui", "cbsd_cpi_information_userid_label")>
                                        </label>
                                </div>
                                <div class="input">
                                        <input type="text" id="cpiUserid" name="cpiUserid" value="<tmpl_var cpiUserid>" <tmpl_if cpiUserIDError>class="error"</tmpl_if> />
                                </div>
				<tmpl_if cpiUserIDError>
                                        <div class="inline_error">
                                                <tmpl_var cpiUserIDError>
                                        </div>
                                </tmpl_if>
                        </div>
	
			<div class="form-group" id="cpiNameRow1" style="display:none;">
                                <div class="label"><tmpl_var _("webui", "cbsd_cpi_information_name_label")></div>
                                <div class="input"><tmpl_var cpiName></div>
                        </div>

                        <div class="form-group lbl-append" id="cpiNameRow2" style="display:none;">
                                <div class="label">
                                        <label>
                                        	<div class="tooltip tooltip-help" title="<tmpl_var _('webui', 'cbsd_cpi_information_name_help_text')>">
                    					<tmpl_var _("webui", "webui_inline_help_icon")>
                				</div>
                                        	<tmpl_var _("webui", "cbsd_cpi_information_name_label")>
                                        </label>
                                </div>
                                <div class="input">
                                        <input type="text" id="cpiName" name="cpiName" value="<tmpl_var cpiName>" <tmpl_if cpiNameError>class="error"</tmpl_if>  />
                                </div>
				<tmpl_if cpiNameError>
                                        <div class="inline_error">
                                                <tmpl_var cpiNameError>
                                        </div>
                                </tmpl_if>
                        </div>

			<div class="form-group" id="cpiPrivateKeyFileRow1" style="display:none;">
                                <div class="label"><tmpl_var _("webui", "cbsd_private_key_file_label")></div>
                                <div class="input"><tmpl_var cpiPrivateKeyFile></div>
                        </div>

                        <div class="form-group lbl-append" id="cpiPrivateKeyFileRow2" style="display:none;">
                                <div class="label">
                                        <label>
                                        	<div class="tooltip tooltip-help" title="<tmpl_var _('webui', 'cbsd_cpi_information_private_key_file_help_text')>">
                    					<tmpl_var _("webui", "webui_inline_help_icon")>
                				</div>
                                        	<tmpl_var _("webui", "cbsd_private_key_file_label")>
                                        </label>
                                </div>
                                <div class="input filetype">
                                        <input type="file" name="cpiPrivateKeyFile" id="cpiPrivateKeyFile"<tmpl_if cpiPrivateKeyFileError> class="error"</tmpl_if> />
                                </div>
				<tmpl_if cpiPrivateKeyFileError>
                                        <div class="inline_error">
                                                <tmpl_var cpiPrivateKeyFileError>
                                        </div>
                                </tmpl_if>
                        </div>

                        <div class="button_container align-field clearfix">
                                <button type="submit" class="secondary" id="saveCpiInfo">
                                        <tmpl_var _("webui", "cbsd_cpi_information_save_changes_button_text")>
                                </button>
                        </div>
		</div>
	</form>

	<form id="cbsd_cert_form" method="POST" action="<tmpl_udf GET_URI('cbsd')>" enctype="multipart/form-data">
                <input type="hidden" name="gSecureToken" value="<tmpl_var gSecureToken>" />
                <input type="hidden" name="formAction" id="certForm" value="certInfo" />

                <div id="certInfo">
                        <h2 class="sectionHead"><tmpl_var _("webui", "cbsd_certificates_sub_header")></h2>

			<p><tmpl_var _("webui", "cbsd_certificates_sub_intro_text")></p>

                        <p><tmpl_var _("webui", "cbsd_certificates_certificate_text")></p>

                        <p><tmpl_var _("webui", "cbsd_certificates_private_key_text")></p>

			<div class="form-group" id="caCertificateFileRow1" style="display:none;">
                                <div class="label"><tmpl_var _("webui", "cbsd_certificates_certificate_label")></div>
                                <div class="input"><tmpl_var caCertificateFile></div>
                        </div>

			<div class="form-group lbl-append" id="caCertificateFileRow2" style="display:none;">
                                <div class="label">
                                        <label>
                                        	<div class="tooltip tooltip-help" title="<tmpl_var _('webui', 'cbsd_certificates_certificate_help_text')>">
                    					<tmpl_var _("webui", "webui_inline_help_icon")>
                				</div>
                                        	<tmpl_var _("webui", "cbsd_certificates_certificate_label")>
                                        </label>
                                </div>
                                <div class="input filetype">
                                        <input type="file" name="caCertificateFile" id="caCertificateFile"<tmpl_if caCertificateFileError> class="error"</tmpl_if> />
                                </div>
                                <tmpl_if caCertificateFileError>
                                        <div class="inline_error">
                                                <tmpl_var caCertificateFileError>
                                        </div>
                                </tmpl_if>
                        </div>

			<div class="form-group" id="subCaCertificateFileRow1" style="display:none;">
                                <div class="label"><tmpl_var _("webui", "cbsd_certificates_ca_certificate_label")></div>
                                <div class="input"><tmpl_var subCaCertificateFile></div>
                        </div>

			<div class="form-group lbl-append" id="subCaCertificateFileRow2" style="display:none;">
                                <div class="label">
                                        <label>
                                        	<div class="tooltip tooltip-help" title="<tmpl_var _('webui', 'cbsd_certificates_ca_certificate_help_text')>">
                    					<tmpl_var _("webui", "webui_inline_help_icon")>
                				</div>
                                        	<tmpl_var _("webui", "cbsd_certificates_ca_certificate_label")>
                                        </label>
                                </div>
                                <div class="input filetype">
                                        <input type="file" name="subCaCertificateFile" id="subCaCertificateFile"<tmpl_if subCaCertificateFileError> class="error"</tmpl_if> />
                                </div>
                                <tmpl_if subCaCertificateFileError>
                                        <div class="inline_error">
                                                <tmpl_var subCaCertificateFileError>
                                        </div>
                                </tmpl_if>
                        </div>

			<div class="form-group" id="privateKeyFileRow1" style="display:none;">
                                <div class="label"><tmpl_var _("webui", "cbsd_private_key_file_label")></div>
                                <div class="input"><tmpl_var privateKeyFile></div>
                        </div>

			<div class="form-group lbl-append" id="privateKeyFileRow2" style="display:none;">
                                <div class="label">
                                        <label>
                                        	<div class="tooltip tooltip-help" title="<tmpl_var _('webui', 'cbsd_certificates_private_key_file_help_text')>">
                    					<tmpl_var _("webui", "webui_inline_help_icon")>
                				</div>
                                        	<tmpl_var _("webui", "cbsd_private_key_file_label")>
                                        </label>
                                </div>
                                <div class="input filetype">
                                        <input type="file" name="privateKeyFile" id="privateKeyFile"<tmpl_if privateKeyFileError> class="error"</tmpl_if> />
                                </div>
                                <tmpl_if privateKeyFileError>
                                        <div class="inline_error">
                                                <tmpl_var privateKeyFileError>
                                        </div>
                                </tmpl_if>
                        </div>

			<div class="form-group" id="certPasswordRow1" style="display:none;">
                                <div class="label"><tmpl_var _("webui", "cbsd_certificates_passphrase_privatekey_label")></div>
                                <div class="input">
					<span id="certPassword">********</span>
                                        <span toggle='#certPassword' class='btn eye toggle-password' style='top:-7px !important'></span>
				</div>
                        </div>

			<div class="form-group lbl-append" id="certPasswordRow2" style="display:none;">
                                <div class="label">
                                        <label>
                                        	<div class="tooltip tooltip-help" title="<tmpl_var _('webui', 'cbsd_certificates_passphrase_privatekey_help_text')>">
                    					<tmpl_var _("webui", "webui_inline_help_icon")>
                				</div>
                                        	<tmpl_var _("webui", "cbsd_certificates_passphrase_privatekey_label")>
                                        </label>
                                </div>
                                <div class="input">
                                        <input type="password" id="certPassword" name="certPassword" value="<tmpl_var certPassword>" autocomplete="off" class="password"  />
					<span toggle='#certPassword' class='btn eye toggle-password'></span>
                                </div>
                        </div>

			<div class="button_container align-field clearfix">
                                <button type="submit" class="secondary" id="saveCertInfo">
                                        <tmpl_var _("webui", "cbsd_upload_certificates_button_text")>
                                </button>
                        </div>					
		</div>
	</form>

	<form id="cbsd_antenna_form" method="POST" action="<tmpl_udf GET_URI('cbsd')>">
                <input type="hidden" name="gSecureToken" value="<tmpl_var gSecureToken>" />
                <input type="hidden" name="formAction" id="antennaForm" value="antennaInfo" />
		
		<div id="antennaInfo">
			<h2 class="sectionHead"><tmpl_var _("webui", "cbsd_antenna_information_sub_header")></h2>
			
			<div class="form-group" id="antennaAzimuthRow1" style="display:none;">
                                <div class="label"><tmpl_var _("webui", "cbsd_antenna_information_azimuth_label")></div>
                                <div class="input"><tmpl_var antennaAzimuth></div>
                        </div>

			<div class="form-group lbl-append" id="antennaAzimuthRow2" style="display:none;">
                                <div class="label">
                                        <label>
                                        	<div class="tooltip tooltip-help" title="<tmpl_var _('webui', 'cbsd_antenna_information_azimuth_help_text')>">
                    					<tmpl_var _("webui", "webui_inline_help_icon")>
                				</div>
                                        	<tmpl_var _("webui", "cbsd_antenna_information_azimuth_label")>
                                        </label>
                                </div>
                                <div class="input">
                                        <input type="text" id="antennaAzimuth" name="antennaAzimuth" value="<tmpl_var antennaAzimuth>" <tmpl_if antennaAzimuthError>class="error"</tmpl_if>  />
                                </div>
                        </div>

			<div class="form-group" id="antennaDowntiltRow1" style="display:none;">
                                <div class="label"><tmpl_var _("webui", "cbsd_antenna_information_downtilt_label")></div>
                                <div class="input"><tmpl_var antennaDowntilt></div>
                        </div>

			<div class="form-group lbl-append" id="antennaDowntiltRow2" style="display:none;">
                                <div class="label">
                                        <label>
                                        	<div class="tooltip tooltip-help" title="<tmpl_var _('webui', 'cbsd_antenna_information_downtilt_help_text')>">
                    					<tmpl_var _("webui", "webui_inline_help_icon")>
                				</div>
                                        	<tmpl_var _("webui", "cbsd_antenna_information_downtilt_label")>
                                        </label>
                                </div>
                                <div class="input">
                                        <input type="text" id="antennaDowntilt" name="antennaDowntilt" value="<tmpl_var antennaDowntilt>" <tmpl_if antennaDowntiltError>class="error"</tmpl_if>  />
                                </div>
                        </div>

			<div class="button_container align-field clearfix">
                                <button type="submit" class="secondary" id="saveAntennaInfo">
                                        <tmpl_var _("webui", "cbsd_antenna_information_save_changes_button_text")>
                                </button>
                        </div>
		</div>
	</form>
</tmpl_if>

