<!-- Login -->
<div id="login">
	<h1><tmpl_var _("webui", "webui_product_name")> MiFi <tmpl_var _("webui", "webui_product_number")>-innlogging</h1>
	<p>Tast inn <tmpl_var _("webui", "webui_product_name")>-administratorpassordet for å fortsette.</p>
	<tmpl_if showForgotPassword>
	<p>Hvis du ikke vet passordet, bruker du alternativet <strong>Jeg har glemt administratorpassordet</strong>.</p>
	</tmpl_if>
	<p>Hvis du skriver inn feil passord for mange ganger, blir du låst ute. Du må starte på nytt for å låse opp <tmpl_var _("webui", "webui_product_name")>.</p>
</div>
<!-- id="login" -->
