<!-- Login -->
<div id="login">
	<h1><tmpl_var _("webui", "webui_product_name")> MiFi <tmpl_var _("webui", "webui_product_number")> -sisäänkirjautuminen</h1>
	<p>Jatka syöttämällä <tmpl_var _("webui", "webui_product_name")>-laitteen ylläpitäjän salasana.</p>
	<tmpl_if showForgotPassword>
	<p>Jos et tiedä salasanaa, käytä <strong>I Forgot the Admin Password</strong> (Unohdin ylläpitäjän salasanan) -vaihtoehtoa.</p>
	</tmpl_if>
	<p>Jos syötät väärän salasanan liian monta kertaa, sinut lukitaan ulos. Jotta voit poistaa tämän lukituksen, sinun on käynnistettävä <tmpl_var _("webui", "webui_product_name")> uudelleen.</p>
</div>
<!-- id="login" -->
