<!-- Login -->
<div id="login">
	<h1><tmpl_var _("webui", "webui_product_name")> MiFi <tmpl_var _("webui", "webui_product_number")>-Anmeldung</h1>
	<p>Geben Sie das <tmpl_var _("webui", "webui_product_name")>-Admin-Kennwort ein, um fortzufahren.</p>
	<tmpl_if showForgotPassword>
	<p>Wenn Sie das Kennwort nicht kennen, verwenden Sie die Option <strong>Ich habe das Admin-Kennwort vergessen</strong>.</p>
	</tmpl_if>
	<p>Wenn Sie zu häufig ein falsches Kennwort eingeben, werden Sie gesperrt. Um die Sperre aufzuheben, ist ein Neustart von <tmpl_var _("webui", "webui_product_name")> erforderlich.</p>
</div>
<!-- id="login" -->
