<!-- Login -->
<div id="login">
	<h1><tmpl_var _("webui", "webui_product_name")> MiFi <tmpl_var _("webui", "webui_product_number")> Log ind</h1>
	<p>Angiv <tmpl_var _("webui", "webui_product_name")>s administratoradgangskode for at fortsætte.</p>
	<tmpl_if showForgotPassword>
	<p>Hvis du ikke kender adgangskoden, skal du bruge muligheden <strong>Jeg har glemt administratoradgangskoden</strong>.</p>
	</tmpl_if>
	<p>Hvis du indtaster en forkert adgangskode for mange gange, bliver du låst ude. For at rydde denne lås skal du genstarte <tmpl_var _("webui", "webui_product_name")>.</p>
</div>
<!-- id="login" -->
