<!-- Login -->
<div id="login">
	<h1><tmpl_var _("webui", "webui_product_name")> MiFi <tmpl_var _("webui", "webui_product_number")> sisselogimine</h1>
	<p>Jätkamiseks sisestage seadme <tmpl_var _("webui", "webui_product_name")> administraatori parool.</p>
	<tmpl_if showForgotPassword>
	<p>Kui te parooli ei tea, kasutage suvandit <strong>Unustasin administraatori parooli</strong>.</p>
	</tmpl_if>
	<p>Kui sisestate vale parooli liiga palju kordi, siis te ei pääse enam sisse. Lukustuse eemaldamiseks tuleb seade <tmpl_var _("webui", "webui_product_name")> taaskäivitada.</p>
</div>
<!-- id="login" -->
