<!-- Help  -->

<div id="overview">
	<h2>Overview</h2>
	<p>
		The FX3100 provides gigabit-class wireless broadband internet capabilities. With dual-band Wi-Fi 6, the FX3100 supports up to 64 connected devices, two Ethernet WAN/LAN ports, and a USB-C port for tethering. Connect laptops, tablets, e-readers, gaming consoles and more. 
	</p>

	<h2>Features</h2>
	<ul class="list-style">

		<li>
			A high-performance Qualcomm® Snapdragon™ SDX62 chipset and antenna design provide gigabit-class wireless broadband internet capabilities.
		</li>

		<li>
			Superior connectivity with dual-band Wi-Fi 6 supporting up to 64 connected devices, two Ethernet WAN/LAN ports, and a USB-C port for tethering.
		</li>

		<li>
			A compact and stylish design with a minimal visual footprint that blends seamlessly into any room design.
		</li>
		
		<li>
			Advanced security, encryption, and VPN support to ensure protection of sensitive personal data.
		</li>

		<li>
			Mobile app management with Inseego MobileTM app to guide installation and manage your device when away from home.
		</li>			
	</ul>
</div>

<div id="setup">
	<h2>Setup</h2>
	<h3>Step 1 - Insert SIM</h3>
	<p>Insert a Nano 4FF SIM card into the appropriate SIM slot on the back of the device.</p>
	
	<h3>Step 2 - Activate on the Network</h3>
	<p>
		Your device should automatically connect to the network.
	</p>	

	<h3>Step 3 – Connect to the Internet</h3>
	<p>
		Using the Wi-Fi application on your computer, tablet or other device, connect to your devices’s Wi-Fi network.  To get the Wi-Fi name and password, go to the Home page and look at the Wi-Fi section.
	</p>

	<h3>Step 4 – Check for Connected Devices</h3>
	<p>
		When you connect a computer, tablet or other device to your device, the number of Connected Devices, shown on your Home screen, will update. See the Connected Devices page for more information about each connected device.
	</p>
</div>

<div id="tips">
	<h2>Tips</h2>
	<h3>SIM</h3>
	<p>Insert a Nano 4FF SIM card into the appropriate SIM slot on the back of the device.</p>

	<h3>Connecting to a wireless device</h3>
	<p>To wirelessly connect a Wi-Fi-capable device (such as a PC, laptop, tablet, or phone) to your device for the first time:</p>

	<ul class="list-style">
		<li>
			Make sure the device is powered on and the indicator LED is blue or green.
		</li>

		<li>
			On the device you want to connect to the internet, open the Wi-Fi settings or application and <br> in the displayed list of available networks, find the Primary Wi-Fi network name printed on the <br> bottom of your device.
		</li>

		<li>
			Click Connect or otherwise select the network name.
		</li>
		
		<li>
			When prompted, enter the Primary Wi-Fi password printed on the bottom of the device.
		</li>
	</ul>
</div>
