<!-- Change Admin Password  -->
<div id="set_passcode">
	<h1>Administratoradgangskode</h1>
	<h2>Oversigt</h2>
	<p>Administratoradgangskoden bruges til at logge ind på dette <tmpl_var _("webui", "webui_product_name")> administrationswebsted. Siden <em>Administratoradgangskode</em> giver dig mulighed for at ændre administratoradgangskoden og foretage en vis sikkerhedsindstilling i forbindelse med administratoradgangskoden.</p>


	<h2>Redigér <tmpl_var _("webui", "webui_product_name")>s administratoradgangskode</h2>
	<p>For at skifte til den nuværende administratoradgangskode skal du først indtaste den nuværende administratoradgangskode i feltet nedenfor. Skærmen opdateres derefter og giver mulighed for at indstille en ny administratoradgangskode og et sikkerhedsspørgsmål til brug, hvis administratoradgangskoden går tabt.</p>

	<h3>Nuværende <tmpl_var _("webui", "webui_product_name")> administratoradgangskode</h3>
	<p>Indtast den nuværende <tmpl_var _("webui", "webui_product_name")> administratoradgangskode i dette felt. Bemærk, at hvis du indtaster en forkert værdi for mange gange, vil du blive låst ude af dette <tmpl_var _("webui", "webui_product_name")> administrationswebsted. For at rydde denne lås, skal <tmpl_var _("webui", "webui_product_name")> genstartes.</p>
	<tmpl_if showDisplayPascode>
		<h2>Vis <tmpl_var _("webui", "webui_product_name")>s administratoradgangskode</h2>
		<p>Hvis denne indstilling er slået TIL, vises *********. Hvis denne indstilling er slået FRA, kan administratoradgangskoden læses på Jetpacks display.</p>
	</tmpl_if>

	<h2>Redigér <tmpl_var _("webui", "webui_product_name")>s administratoradgangskode</h2>
	<h3>Ny administratoradgangskode</h3>
	<p>Indtast det nye administratoradgangskode, ved kun at bruge bogstaver, tal og standard tegnsætningssymboler. Adgangskoden skal være mindst 6 tegn lang.</p>

	<h3><tmpl_var truncate(_("webui", "set_passcode_confirm_passcode_label"), (size(_("webui", "set_passcode_confirm_passcode_label")) - size(":")))></h3>
	<p>Indtast den nye administratoradgangskode igen i dette felt.</p>

	<h3><tmpl_var truncate(_("webui", "set_passcode_security_question_label"), (size(_("webui", "set_passcode_security_question_label")) - size(":")))></h3>
	<p>Dette sikkerhedsspørgsmål bruges, hvis administratoradgangskoden er mistet, og indstillingen "Jeg har glemt administratoradgangskoden" er brugt. Vælg det ønskede spørgsmål, og angiv et svar i feltet nedenfor.</p>

	<h3><tmpl_var truncate(_("webui", "set_passcode_security_answer_label"), (size(_("webui", "set_passcode_security_answer_label")) - size(":")))></h3>
	<p>Giv et svar på det valgte sikkerhedsspørgsmål. Bemærk, at der skelnes mellem store og små bogstaver i svarene.</p>

</div>
<!-- id="set_passcode" -->

