<option value="0"<tmpl_if IN_SET(usbMode, 0)> selected="selected"</tmpl_if>><tmpl_var _("webui", "preferences_usb_mode_charge_only_text")></option>
<option value="1"<tmpl_if IN_SET(usbMode, 1)> selected="selected"</tmpl_if>><tmpl_var _("webui", "preferences_usb_mode_ethernet_and_wifi_text")></option>
<option value="2"<tmpl_if IN_SET(usbMode, 2)> selected="selected"</tmpl_if>><tmpl_var _("webui", "preferences_usb_mode_ethernet_only_text")></option>
