<option value="1"<tmpl_if IN_SET(acsClientAuthenticationMode, 1)> selected="selected"</tmpl_if>><tmpl_var _("webui", "tr069_digest_text")></option> <!-- ippt mode -->
<option value="0"<tmpl_if IN_SET(acsClientAuthenticationMode, 0)> selected="selected"</tmpl_if>><tmpl_var _("webui", "tr069_basic_text")></option> <!-- nat mode -->
