<option value="0"<tmpl_if IN_SET(acsClientLogLevel, 0)> selected="selected"</tmpl_if>><tmpl_var _("webui", "tr069_log_level_critical_text")></option> 
<option value="1"<tmpl_if IN_SET(acsClientLogLevel, 1)> selected="selected"</tmpl_if>><tmpl_var _("webui", "tr069_log_level_warning_text")></option> 
<option value="2"<tmpl_if IN_SET(acsClientLogLevel, 2)> selected="selected"</tmpl_if>><tmpl_var _("webui", "tr069_log_level_notice_text")></option> 
<option value="3"<tmpl_if IN_SET(acsClientLogLevel, 3)> selected="selected"</tmpl_if>><tmpl_var _("webui", "tr069_log_level_info_text")></option> 
<option value="4"<tmpl_if IN_SET(acsClientLogLevel, 4)> selected="selected"</tmpl_if>><tmpl_var _("webui", "tr069_log_level_debug_text")></option> 
