<option value="1"<tmpl_if IN_SET(acsServerInterface, 1)> selected="selected"</tmpl_if>><tmpl_var _("webui", "tr069_cellular_wan_text")></option> <!-- ippt mode -->
<option value="0"<tmpl_if IN_SET(acsServerInterface, 0)> selected="selected"</tmpl_if>><tmpl_var _("webui", "tr069_usb_wan_text")></option> <!-- nat mode -->
