<option value="0"<tmpl_if IN_SET(distanceUnit, 0)> selected="selected"</tmpl_if>><tmpl_var _("webui", "preferences_distance_unit_feet_text")></option> <!-- WEBUI_DIST_FMT_USA -->
<option value="1"<tmpl_if IN_SET(distanceUnit, 1)> selected="selected"</tmpl_if>><tmpl_var _("webui", "preferences_distance_unit_meters_text")></option> <!-- WEBUI_DIST_FMT_METRIC -->
