<div id="user_preferences">
	<h1><tmpl_var _("webui", "preferences_personalization_sub_header_text")></h1>
	<p>Cet écran contient de nombreuses options qui vous permettent de régler le comportement de appareil pour mieux répondre à vos besoins.
	</p>
	<tmpl_if deviceNameShow>
                <h3><tmpl_var truncate(_("webui", "preferences_device_name_label"),(size(_("webui", "preferences_device_name_label")) - size(":")))></h3>
                <p>
                        Le nom de l’appareil indique le nom du réseau de l’appareil et l’URL pour accéder à l’interface utilisateur de gestion Web locale de l’appareil.
                </p>
        </tmpl_if>
	<tmpl_if showExternalMHBAntenna>
                <h3><tmpl_var _("webui", "preferences_external_mhb_antenna_label")></h3>
                <p>
                        Should be enabled if using an external antenna is connected to the device that supports 1700-2700 MHz. Disable to use internal antennas for 1700-2700 MHz.
                </p>
	</tmpl_if>
	<tmpl_if showExternalUHBAntenna>
                <h3><tmpl_var _("webui", "preferences_external_uhb_antenna_label")></h3>
                <p>
                        Should be enabled if using an external antenna is connected to the device that supports 3300-4200 MHz. Disable to use internal antennas for 3300-4200 MHz.
                </p>
        </tmpl_if>
	<h3>Langue</h3>
	<p>Sélectionnez la langue souhaitée. </p>

	<h3><tmpl_var truncate(_("webui", "preferences_date_format_label"), (size(_("webui", "preferences_date_format_label")) - size(":")))></h3>
	<p>
		Précisez le format dans lequel la date est affichée sur cette interface web.
	</p>

	<h3><tmpl_var truncate(_("webui", "preferences_time_format_label"), (size(_("webui", "preferences_time_format_label")) - size(":")))></h3>
	<p>
		Précisez le format dans lequel l’heure est affichée sur cette interface Web.
	</p>

	<h3><tmpl_var truncate(_("webui", "preferences_distace_format_label"), (size(_("webui", "preferences_distace_format_label")) - size(":")))></h3>
	<p>
		Précisez le format dans lequel la distance est affichée sur cette interface Web (pieds ou mètres).
	</p>

	<h3><tmpl_var truncate(_("webui", "preferences_numeric_format_label"), (size(_("webui", "preferences_numeric_format_label")) - size(":")))></h3>
	<p>
		Précisez comment les nombres décimaux sont affichés. Le point (.) ou la virgule (,) peuvent être sélectionnés pour être utilisés comme point décimal.
	</p>

	<tmpl_if showEthernetEnable>
		<h3><tmpl_var _("webui", "preferences_ethernet_enable_label" )></h3>
		<p>
			L’indicateur Ethernet s’affiche sur la barre d’état lorsque le port Ethernet est activé ; sinon, il est masqué.
		</p>
	</tmpl_if>

</div>
