<option value="0"<tmpl_if IN_SET(numericFormat, 0)> selected="selected"</tmpl_if>><tmpl_var _("webui", "preferences_numeric_format_period_text")></option> <!-- WEBUI_NUMERIC_FMT_PERIOD -->
<option value="1"<tmpl_if IN_SET(numericFormat, 1)> selected="selected"</tmpl_if>><tmpl_var _("webui", "preferences_numeric_format_comma_text")></option> <!-- WEBUI_NUMERIC_FMT_COMMA -->
