<option value="0"<tmpl_if IN_SET(timeFormat, 0)> selected="selected"</tmpl_if>><tmpl_var _("webui", "preferences_time_format_12_hours_text")></option> <!-- WEBUI_TIME_FMT_TWELVE_HOUR -->
<option value="1"<tmpl_if IN_SET(timeFormat, 1)> selected="selected"</tmpl_if>><tmpl_var _("webui", "preferences_time_format_24_hours_text")></option> <!-- WEBUI_TIME_FMT_TWENTYFOUR_HOUR -->
