<option value="3600"<tmpl_if IN_SET(idleShutdownTime,3600)> selected="selected"</tmpl_if>><tmpl_var _("webui", "webui_app_after_text")>&nbsp;1&nbsp;<tmpl_var _("webui", "webui_app_hour_text")></option>
<option value="7200"<tmpl_if IN_SET(idleShutdownTime,7200)> selected="selected"</tmpl_if>><tmpl_var _("webui", "webui_app_after_text")>&nbsp;2&nbsp;<tmpl_var _("webui", "webui_app_hours_text")></option>
<option value="10800"<tmpl_if IN_SET(idleShutdownTime,10800)> selected="selected"</tmpl_if>><tmpl_var _("webui", "webui_app_after_text")>&nbsp;3&nbsp;<tmpl_var _("webui", "webui_app_hours_text")></option>
<option value="14400"<tmpl_if IN_SET(idleShutdownTime,14400)> selected="selected"</tmpl_if>><tmpl_var _("webui", "webui_app_after_text")>&nbsp;4&nbsp;<tmpl_var _("webui", "webui_app_hours_text")></option>
<option value="18000"<tmpl_if IN_SET(idleShutdownTime,18000)> selected="selected"</tmpl_if>><tmpl_var _("webui", "webui_app_after_text")>&nbsp;5&nbsp;<tmpl_var _("webui", "webui_app_hours_text")></option>
<option value="21600"<tmpl_if IN_SET(idleShutdownTime,21600)> selected="selected"</tmpl_if>><tmpl_var _("webui", "webui_app_after_text")>&nbsp;6&nbsp;<tmpl_var _("webui", "webui_app_hours_text")></option>
<option value="25200"<tmpl_if IN_SET(idleShutdownTime,25200)> selected="selected"</tmpl_if>><tmpl_var _("webui", "webui_app_after_text")>&nbsp;7&nbsp;<tmpl_var _("webui", "webui_app_hours_text")></option>
<option value="28800"<tmpl_if IN_SET(idleShutdownTime,28800)> selected="selected"</tmpl_if>><tmpl_var _("webui", "webui_app_after_text")>&nbsp;8&nbsp;<tmpl_var _("webui", "webui_app_hours_text")></option>
<option value="32400"<tmpl_if IN_SET(idleShutdownTime,32400)> selected="selected"</tmpl_if>><tmpl_var _("webui", "webui_app_after_text")>&nbsp;9&nbsp;<tmpl_var _("webui", "webui_app_hours_text")></option>
<option value="36000"<tmpl_if IN_SET(idleShutdownTime,36000)> selected="selected"</tmpl_if>><tmpl_var _("webui", "webui_app_after_text")>&nbsp;10&nbsp;<tmpl_var _("webui", "webui_app_hours_text")></option>
<option value="39600"<tmpl_if IN_SET(idleShutdownTime,39600)> selected="selected"</tmpl_if>><tmpl_var _("webui", "webui_app_after_text")>&nbsp;11&nbsp;<tmpl_var _("webui", "webui_app_hours_text")></option>
<option value="43200"<tmpl_if IN_SET(idleShutdownTime,43200)> selected="selected"</tmpl_if>><tmpl_var _("webui", "webui_app_after_text")>&nbsp;12&nbsp;<tmpl_var _("webui", "webui_app_hours_text")></option>
<option value="46800"<tmpl_if IN_SET(idleShutdownTime,46800)> selected="selected"</tmpl_if>><tmpl_var _("webui", "webui_app_after_text")>&nbsp;13&nbsp;<tmpl_var _("webui", "webui_app_hours_text")></option>
<option value="50400"<tmpl_if IN_SET(idleShutdownTime,50400)> selected="selected"</tmpl_if>><tmpl_var _("webui", "webui_app_after_text")>&nbsp;14&nbsp;<tmpl_var _("webui", "webui_app_hours_text")></option>
<option value="54000"<tmpl_if IN_SET(idleShutdownTime,54000)> selected="selected"</tmpl_if>><tmpl_var _("webui", "webui_app_after_text")>&nbsp;15&nbsp;<tmpl_var _("webui", "webui_app_hours_text")></option>
<option value="57600"<tmpl_if IN_SET(idleShutdownTime,57600)> selected="selected"</tmpl_if>><tmpl_var _("webui", "webui_app_after_text")>&nbsp;16&nbsp;<tmpl_var _("webui", "webui_app_hours_text")></option>
<option value="61200"<tmpl_if IN_SET(idleShutdownTime,61200)> selected="selected"</tmpl_if>><tmpl_var _("webui", "webui_app_after_text")>&nbsp;17&nbsp;<tmpl_var _("webui", "webui_app_hours_text")></option>
<option value="64800"<tmpl_if IN_SET(idleShutdownTime,64800)> selected="selected"</tmpl_if>><tmpl_var _("webui", "webui_app_after_text")>&nbsp;18&nbsp;<tmpl_var _("webui", "webui_app_hours_text")></option>
<option value="68400"<tmpl_if IN_SET(idleShutdownTime,68400)> selected="selected"</tmpl_if>><tmpl_var _("webui", "webui_app_after_text")>&nbsp;19&nbsp;<tmpl_var _("webui", "webui_app_hours_text")></option>
<option value="72000"<tmpl_if IN_SET(idleShutdownTime,72000)> selected="selected"</tmpl_if>><tmpl_var _("webui", "webui_app_after_text")>&nbsp;20&nbsp;<tmpl_var _("webui", "webui_app_hours_text")></option>
<option value="75600"<tmpl_if IN_SET(idleShutdownTime,75600)> selected="selected"</tmpl_if>><tmpl_var _("webui", "webui_app_after_text")>&nbsp;21&nbsp;<tmpl_var _("webui", "webui_app_hours_text")></option>
<option value="79200"<tmpl_if IN_SET(idleShutdownTime,79200)> selected="selected"</tmpl_if>><tmpl_var _("webui", "webui_app_after_text")>&nbsp;22&nbsp;<tmpl_var _("webui", "webui_app_hours_text")></option>
<option value="82800"<tmpl_if IN_SET(idleShutdownTime,82800)> selected="selected"</tmpl_if>><tmpl_var _("webui", "webui_app_after_text")>&nbsp;23&nbsp;<tmpl_var _("webui", "webui_app_hours_text")></option>
<option value="86400"<tmpl_if IN_SET(idleShutdownTime,86400)> selected="selected"</tmpl_if>><tmpl_var _("webui", "webui_app_after_text")>&nbsp;24&nbsp;<tmpl_var _("webui", "webui_app_hours_text")></option>
<option value="0"<tmpl_if IN_SET(idleShutdownTime,val)> selected="selected"</tmpl_if>><tmpl_var _("webui","webui_app_never_text")></option>
