<option value="5"<tmpl_if IN_SET(ucThreshold, 5)> selected="selected"</tmpl_if>><tmpl_var _("webui","preferences_universal_charging_five_percent_text")></option>
<option value="25"<tmpl_if IN_SET(ucThreshold, 25)> selected="selected"</tmpl_if>><tmpl_var _("webui","preferences_universal_charging_twenty_five_percent_text")></option>
<option value="50"<tmpl_if IN_SET(ucThreshold, 50)> selected="selected"</tmpl_if>><tmpl_var _("webui","preferences_universal_charging_fifty_percent_text")></option>
