<option value="1"<tmpl_if IN_SET(wakeUp, 1)> selected="selected"</tmpl_if>><tmpl_var _("webui", "webui_app_after_text")>&nbsp;1&nbsp;<tmpl_var _("webui", "webui_app_hour_text")></option>
<option value="2"<tmpl_if IN_SET(wakeUp, 2)> selected="selected"</tmpl_if>><tmpl_var _("webui", "webui_app_after_text")>&nbsp;2&nbsp;<tmpl_var _("webui", "webui_app_hours_text")></option>
<option value="3"<tmpl_if IN_SET(wakeUp, 3)> selected="selected"</tmpl_if>><tmpl_var _("webui", "webui_app_after_text")>&nbsp;3&nbsp;<tmpl_var _("webui", "webui_app_hours_text")></option>
<option value="4"<tmpl_if IN_SET(wakeUp, 4)> selected="selected"</tmpl_if>><tmpl_var _("webui", "webui_app_after_text")>&nbsp;4&nbsp;<tmpl_var _("webui", "webui_app_hours_text")></option>
<option value="5"<tmpl_if IN_SET(wakeUp, 5)> selected="selected"</tmpl_if>><tmpl_var _("webui", "webui_app_after_text")>&nbsp;5&nbsp;<tmpl_var _("webui", "webui_app_hours_text")></option>
<option value="6"<tmpl_if IN_SET(wakeUp, 6)> selected="selected"</tmpl_if>><tmpl_var _("webui", "webui_app_after_text")>&nbsp;6&nbsp;<tmpl_var _("webui", "webui_app_hours_text")></option>
<option value="7"<tmpl_if IN_SET(wakeUp, 7)> selected="selected"</tmpl_if>><tmpl_var _("webui", "webui_app_after_text")>&nbsp;7&nbsp;<tmpl_var _("webui", "webui_app_hours_text")></option>
<option value="8"<tmpl_if IN_SET(wakeUp, 8)> selected="selected"</tmpl_if>><tmpl_var _("webui", "webui_app_after_text")>&nbsp;8&nbsp;<tmpl_var _("webui", "webui_app_hours_text")></option>
<option value="9"<tmpl_if IN_SET(wakeUp, 9)> selected="selected"</tmpl_if>><tmpl_var _("webui", "webui_app_after_text")>&nbsp;9&nbsp;<tmpl_var _("webui", "webui_app_hours_text")></option>
<option value="10"<tmpl_if IN_SET(wakeUp, 10)> selected="selected"</tmpl_if>><tmpl_var _("webui", "webui_app_after_text")>&nbsp;10&nbsp;<tmpl_var _("webui", "webui_app_hours_text")></option>
<option value="11"<tmpl_if IN_SET(wakeUp, 11)> selected="selected"</tmpl_if>><tmpl_var _("webui", "webui_app_after_text")>&nbsp;11&nbsp;<tmpl_var _("webui", "webui_app_hours_text")></option>
<option value="12"<tmpl_if IN_SET(wakeUp, 12)> selected="selected"</tmpl_if>><tmpl_var _("webui", "webui_app_after_text")>&nbsp;12&nbsp;<tmpl_var _("webui", "webui_app_hours_text")></option>
<option value="13"<tmpl_if IN_SET(wakeUp, 13)> selected="selected"</tmpl_if>><tmpl_var _("webui", "webui_app_after_text")>&nbsp;13&nbsp;<tmpl_var _("webui", "webui_app_hours_text")></option>
<option value="14"<tmpl_if IN_SET(wakeUp, 14)> selected="selected"</tmpl_if>><tmpl_var _("webui", "webui_app_after_text")>&nbsp;14&nbsp;<tmpl_var _("webui", "webui_app_hours_text")></option>
<option value="15"<tmpl_if IN_SET(wakeUp, 15)> selected="selected"</tmpl_if>><tmpl_var _("webui", "webui_app_after_text")>&nbsp;15&nbsp;<tmpl_var _("webui", "webui_app_hours_text")></option>
<option value="16"<tmpl_if IN_SET(wakeUp, 16)> selected="selected"</tmpl_if>><tmpl_var _("webui", "webui_app_after_text")>&nbsp;16&nbsp;<tmpl_var _("webui", "webui_app_hours_text")></option>
<option value="17"<tmpl_if IN_SET(wakeUp, 17)> selected="selected"</tmpl_if>><tmpl_var _("webui", "webui_app_after_text")>&nbsp;17&nbsp;<tmpl_var _("webui", "webui_app_hours_text")></option>
<option value="18"<tmpl_if IN_SET(wakeUp, 18)> selected="selected"</tmpl_if>><tmpl_var _("webui", "webui_app_after_text")>&nbsp;18&nbsp;<tmpl_var _("webui", "webui_app_hours_text")></option>
<option value="19"<tmpl_if IN_SET(wakeUp, 19)> selected="selected"</tmpl_if>><tmpl_var _("webui", "webui_app_after_text")>&nbsp;19&nbsp;<tmpl_var _("webui", "webui_app_hours_text")></option>
<option value="20"<tmpl_if IN_SET(wakeUp, 20)> selected="selected"</tmpl_if>><tmpl_var _("webui", "webui_app_after_text")>&nbsp;20&nbsp;<tmpl_var _("webui", "webui_app_hours_text")></option>
<option value="21"<tmpl_if IN_SET(wakeUp, 21)> selected="selected"</tmpl_if>><tmpl_var _("webui", "webui_app_after_text")>&nbsp;21&nbsp;<tmpl_var _("webui", "webui_app_hours_text")></option>
<option value="22"<tmpl_if IN_SET(wakeUp, 22)> selected="selected"</tmpl_if>><tmpl_var _("webui", "webui_app_after_text")>&nbsp;22&nbsp;<tmpl_var _("webui", "webui_app_hours_text")></option>
<option value="23"<tmpl_if IN_SET(wakeUp, 23)> selected="selected"</tmpl_if>><tmpl_var _("webui", "webui_app_after_text")>&nbsp;23&nbsp;<tmpl_var _("webui", "webui_app_hours_text")></option>
<option value="24"<tmpl_if IN_SET(wakeUp, 24)> selected="selected"</tmpl_if>><tmpl_var _("webui", "webui_app_after_text")>&nbsp;24&nbsp;<tmpl_var _("webui", "webui_app_hours_text")></option>
<option value="0"<tmpl_if IN_SET(wakeUp, 0)> selected="selected"</tmpl_if>><tmpl_var _("webui", "webui_app_never_text")></option>

