<!-- LAN -->
<div id="lan">
	<h1><tmpl_var _("webui", "adv_lan_menu_text")></h1>
	<h2>Overview</h2>
	<p>
		This page provides settings and information about this device's local area network (LAN). The LAN consists of the device and all connected devices.
	</p>		
	<tmpl_if showIPPTEnable>
		<h2>IP Passthrough</h2>
    		<p>
            		IP Passthrough (IPPT) enables the first device detected on the specified LAN port to obtain the IP address assigned by the mobile network. IPPT allows you to enable a one-to-one connection to a host routing system. <strong>NOTE:</strong> When IP Passthrough is on, devices on other interfaces function normally. However, when IPPT is enabled, the following capabilities are set through the host routing system and web UI settings are not available:
    		</p>
		<ul>
			<li>DMZ (Firewall)</li>
			<li>Port Filtering</li>
			<li>Port Forwarding</li>
		</ul>

    		<h3>
			<tmpl_var truncate(_("webui", "adv_lan_ip_passthrough_isActive_label"), (size(_("webui", "adv_lan_ip_passthrough_isActive_label")) - size(":")))>
		</h3>
    		<p>Check the box to enable IP Passthrough.</p>
		<p>
			<strong>Note:</strong> When Ethernet WAN is connected, IP Passthrough cannot be configured. To configure IP Passthrough, got to Advanced &gt; WAN and change Ethernet WAN to LAN, or set Ethernet WAN to a lower priority than Priority 1.
		</p>
    		<tmpl_if showIPPTInterface>
			<tmpl_if showIPPTInterfaceOptions>
				<h3>
					<tmpl_var truncate(_("webui", "adv_lan_ip_passthrough_interface_label"), (size(_("webui", "adv_lan_ip_passthrough_interface_label")) - size(":")))>
				</h3>
				<p>Select an interface from the drop-down (Ethernet1, Ethernet2, or USB).</p>
			</tmpl_if>
			<h3>Select Hostname Automatically/Select MAC Automatically</h3>
			<p>
				 Check the box if you want the router sub-system to select the hostname/MAC address automatically. If you do not check this box, you must enter the hostname/MAC address below.
			</p>
			<h3><tmpl_var truncate(_("webui", "adv_lan_ip_passthrough_hostname_label"), (size(_("webui", "adv_lan_ip_passthrough_hostname_label")) - size(":")))></h3>
			<p>
				When enabling IPPT on the USB interface, enter the hostname of the device connected for IP Passthrough. This is the only USB-connected device that can obtain the IP address assigned to the mobile network. You can view the hostname on the Home or Connected Devices page.<br/><strong>NOTE:</strong> If you checked the Select Hostname Automatically checkbox, this field is not visible.
			</p>

    			<h3><tmpl_var truncate(_("webui", "adv_lan_ip4_mac_address_label"), (size(_("webui", "adv_lan_ip4_mac_address_label")) - size(":")))></h3>
    			<p>
				When enabling IPPT on an Ethernet interface, enter the MAC address of the device connected for IP Passthrough. This is the only device connected to the selected Ethernet port that can obtain the IP address assigned to the mobile network.<br/><strong>NOTE:</strong> If you checked the Select MAC Automatically checkbox, this field is not visible.
			</p>
    		</tmpl_if>
	</tmpl_if>

	<h2><tmpl_var _("webui", "adv_lan_ip4_sub_header_text")></h2>
	<tmpl_if LANIPAddressShow>			
		<h3><tmpl_var truncate(_("webui", "adv_lan_ip4_address_label"), (size(_("webui", "adv_lan_ip4_address_label")) - size(":")))></h3>
		<p>
			The IP address for this device, as seen from the local network.
			Normally, you can use the default value.
		</p>
	</tmpl_if>

	<tmpl_if LANSubnetMaskShow>
		<h3><tmpl_var truncate(_("webui", "adv_lan_ip4_subnet_mask_label"), (size(_("webui", "adv_lan_ip4_subnet_mask_label")) - size(":")))></h3>
		<p>
			The subnet mask network setting for this device. The default value 255.255.255.0 is standard for small (class "C") networks. If you change the LAN IP Address, make sure to use the correct Subnet mask for the IP address range of the LAN IP address.
		</p>
	</tmpl_if>
		
	<tmpl_if LANMacAddressShow>	
		<h3><tmpl_var truncate(_("webui", "adv_lan_ip4_mac_address_label"), (size(_("webui", "adv_lan_ip4_mac_address_label")) - size(":")))></h3>
		<p>
			(read-only) The Media Access Controller (MAC) Address for the Wi-Fi interface on your device. The MAC address is a unique network identifier assigned when a network device is manufactured.
		</p>
	</tmpl_if>

	<tmpl_if LANDHCPEnableShow>
		<h3><tmpl_var truncate(_("webui", "adv_lan_ip4_dhcp_enable_label"), (size(_("webui", "adv_lan_ip4_dhcp_enable_label")) - size(":")))></h3>
		<p>
			This checkbox turns the DHCP Server feature on or off. This should be left checked. The DHCP server allocates an IP address to each connected device. <strong>NOTE:</strong> If the DHCP Server is turned off, each connected device must be assigned a fixed IP address.
		</p>
	</tmpl_if>

	<tmpl_if LANDHCPLeaseTimeShow>
		<h3><tmpl_var truncate(_("webui", "adv_lan_ip4_dhcp_lease_time_label"), (size(_("webui", "adv_lan_ip4_dhcp_lease_time_label")) - size(":")))></h3>
		<p>
			The number of minutes in which connected devices must renew the IP address assigned to them by the DHCP server. Normally, this can be left at the default value, but if you have special requirements, you can change this value.
		</p>
	</tmpl_if>

	<tmpl_if LANDHCPStartAddressShow>
		<h3><tmpl_var truncate(_("webui", "adv_lan_ip4_dhcp_range_begin_label"), (size(_("webui", "adv_lan_ip4_dhcp_range_begin_label")) - size(":")))></h3>
		<p>
			The start of the IP address range used by the DHCP server. If the IP is set on the client device, use an IP address outside of this DHCP range; if the IP address is set using an IP reservation, it will usually be inside this range. <strong>NOTE:</strong> Only expert users should change this setting.
		</p>
	</tmpl_if>

	<tmpl_if LANDHCPEndAddressShow>
		<h3><tmpl_var truncate(_("webui", "adv_lan_ip4_current_dhcp_range_label"), (size(_("webui", "adv_lan_ip4_current_dhcp_range_label")) - size(":")))></h3>
		<p>
			The end of the IP address range used by the DHCP server. If the IP is set on the client device, use an IP address outside of this DHCP range; if the IP address is set using an IP reservation, it will usually be inside this range. <strong>NOTE:</strong> Only expert users should change this setting.
		</p>
	</tmpl_if>

	<tmpl_if LANReservedIPAddressShow>		
		<h3><tmpl_var truncate(_("webui", "adv_lan_reservedIp_help_label"), (size(_("webui", "adv_lan_reservedIp_help_label")) - size(":")))></h3>
		<p>
			Use this button to set up reserved IP addresses. Reserved IP addresses ensure that a connected device will always be allocated the same IP Address.
		</p>
	</tmpl_if>
		
	<tmpl_if ipv6Supported>		
		<h2><tmpl_var _("webui", "adv_lan_ip6_sub_header_text")></h2>
		<tmpl_if showIPv6EnableOption>
			<h3><tmpl_var truncate(_("webui", "adv_lan_ip6_enable_label"), (size(_("webui", "adv_lan_ip6_enable_label")) - size(":")))></h3>
			<p>
				Check the box if the connected device supports IPv6. This enables IPv6 connected devices to make IPv6 connections to the internet.
			</p>
		</tmpl_if>	
		<h3><tmpl_var truncate(_("webui", "adv_lan_ip6_link_local_label"), (size(_("webui", "adv_lan_ip6_link_local_label")) - size(":")))></h3>
		<p>The Link-Local IPv6 address if the connected device supports IPv6.</p>
	</tmpl_if>	
			
	<tmpl_if deviceNameShow>
		<h2><tmpl_var _("webui", "adv_lan_web_management_header_text")></h2>
		<h3><tmpl_var truncate(_("webui", "adv_lan_url_name_label"), (size(_("webui", "adv_lan_url_name_label")) - size(":")))></h3>
		<p>The URL name used to access the <tmpl_var _("webui", "webui_product_number")> local web UI.</p>
	</tmpl_if>
	<p>Click <b>Save Changes</b> to activate and save new settings.</p>
</div>
<!-- id="lan" -->

