<!-- Internet  Sessions -->
<div id="session_log_info">
	<h1><tmpl_var _("webui", "session_log_info_menu_text")></h1>

	<p>Øktloggen inneholder følgende data:</p>
	<p>- Dato og tid (når tilkobling startet)</p>
	<p>- Varighet (samme format som gjeldende øktinformasjon)</p>
	<p>- Mottatt (format som for gjeldende økt)</p>
	<p>- Overført (format som for gjeldende økt)</p>
	<p>- Totaldata (summen av Rx og Tx, format som for gjeldende øktinformasjon)</p>
	<tmpl_if RoamingStatusShow>
                <p>- Roaming (Roaming / Teilweise / leer) Leer = Heimnetzwerk </p>
        </tmpl_if>
	<p>- IPv4 (IPv4 WWAN IP-adresse)</p>
	<p>- IPv6 (IPv6 WWAN IP-adresse)</p>

	<p>Loggen er ordnet etter dato.</p>
	<p>Bruker kan ikke endre rekkefølgen, og det er ingen alternativer knyttet til øktloggen.</p>
</div>
