<!-- Internet  Sessions -->
<div id="session_log_info">
	<h1><tmpl_var _("webui", "session_log_info_menu_text")></h1>

	<p>El registro de sesión contiene los siguientes datos:</p>
	<p>- Fecha y hora: la fecha y la hora en que comenzó la sesión de Internet.</p>
	<p>- Duración: el tiempo total de la sesión de Internet.</p>
	<p>- Datos recibidos: la cantidad de datos recibidos para la sesión de Internet. Este contador comienza de cero cuando se establece la conexión.</p>
	<p>- Datos transmitidos: la cantidad de datos transmitidos para la sesión de Internet. Este contador comienza de cero cuando se establece la conexión.</p>
	<p>- Datos totales: la cantidad total de datos para la sesión de Internet. Esta es la suma de los datos recibidos y los datos transmitidos.</p>
	<tmpl_if RoamingStatusShow>
		<p>- Itinerancia (itinerancia/parcial/en blanco) En blanco = red doméstica</p>
	</tmpl_if>
	<p>- IPv4: la dirección IP para la sesión.</p>
	<p>- IPv6: la dirección IPv6 global para la sesión (en blanco si IPv6 está desactivado o no es compatible con la conexión de red actual o el operador).</p>
	<p>El registro está en orden de fecha. </p>
	<p>El usuario no puede cambiar el orden y no hay opciones relacionadas con el registro de sesión.</p>
</div>
