<!-- Internet  Sessions -->
<div id="session_log_info">
	<h1><tmpl_var _("webui", "session_log_info_menu_text")></h1>

	<p>Le journal de session contient les données suivantes :</p>
	<p>- Date et heure (lorsque la connexion a commencé)</p>
	<p>- Durée (même format que les informations sur la session en cours)</p>
	<p>- Éléments reçus (format comme pour la session en cours)</p>
	<p>- Éléments transmis (format comme pour la session en cours)</p>
	<p>- Données totales (somme de Rx et Tx, format comme pour la session en cours)</p>
	<tmpl_if RoamingStatusShow>
                <p>- Roaming (Roaming / Teilweise / leer) Leer = Heimnetzwerk </p>
        </tmpl_if>
	<p>- IPv4 (adresse IP WWAN IPv4)</p>
	<p>- IPv6 (adresse IP WWAN IPv6)</p>

	<p>Les journaux sont classés par ordre chronologique.</p>
	<p>L’utilisateur ne peut pas modifier l’ordre et il n’y a pas d’options relatives au journal de session.</p>
</div>
