<div id="settings_virtual">
	<h1>Avanserte innstillinger</h1>
	
	<tmpl_if appsList>
		<h2>Oversikt</h2>Avansert-menyen gir tilgang til følgende sider og innstillinger:<div class="blockgroup">
			<ul>
				<tmpl_foreach appsList as app>
					<tmpl_unless (IN_SET(app.pageId, currentAppId))>
						<li><tmpl_var app.title> - <tmpl_var app.text></li>
					</tmpl_unless>
				</tmpl_foreach>
			</ul>
		</div>
		<p>Merk at for normal drift og normale situasjoner, trenger ingen av disse innstillingene endres fra standardverdiene. Endre disse innstillingene kun hvis din spesielle situasjon krever endringer.</p>
	</tmpl_if>

	<h2>Knapper</h2>
	<tmpl_if showBackButton>
		<h3>Gå tilbake</h3>
		<p>Klikk på denne for å gå tilbake til forrige side.</p>
	</tmpl_if>
	
	<tmpl_unless showBackButton>
		<h3>Fortsett</h3>
		<p>Bruk denne for å fortsette til de avanserte sidene.</p>
	</tmpl_unless>

</div>
