<tmpl_if isHidden>
	<div class="notification app error">
		<tmpl_var _("webui", "webui_app_hidden_text")>
	</div>
<tmpl_else>
<script type="text/javascript">
	/* <![CDATA[ */
	var currPassCode;
	var noOfLoginAttempts = <tmpl_var noOfRemainingLoginAttempts>;
	$(function()
	{
		var isPasswordHashed = 0;
		insertCurrPasscodeInput();

		//$('body').on('click touchend', '.toggle-password', function () {
		$(".toggle-password").click(function () {
			$(this).toggleClass("eye eye-slash");
			var input = $($(this).attr("toggle"));
				if (input.attr("type") == "password") {
					input.attr("type", "text");
				} else {
					input.attr("type", "password");
				}
		});

		<tmpl_unless isLocked>
			$("#closePopUp").on("click", function() {
				location.reload();
			});

			$(document).keypress(function(event) {
				if(($("#passwordChanged").css("display") !== "none") && (event.keyCode === 13)) {
					$("#closePopUp").trigger('click');
				}
			});

			$("#continue").on("click", function() {
				validatePassword();
			});

			$("#validateCurrPasswd").keypress(function(event) {
				if(event.keyCode === 13) {
		           		validatePassword();
				}
				if (event.stopPropagation) 
					event.stopPropagation();
			});

			if (noOfLoginAttempts == 5) {
				$("#attemptsWarning").hide(); 
			} else {
				$("#attemptsWarning").html("<tmpl_var _('webui', 'login_max_retries_warning_one_text')>" + noOfLoginAttempts + "<tmpl_var _('webui', 'login_max_retries_warning_two_text')>");
			}

			$("#savechanges").on("click",function() {
	            		changePasscode();
			});

			$("#setPasscodeField").keypress(function(event) {
				if(event.keyCode === 13) {
		            		changePasscode();
				}
				if (event.stopPropagation) 
					event.stopPropagation();
			});

			function changePasscode()
			{
				var passCode = $("#currentPasscodeTwo").val();
				var secToken = "<tmpl_var secToken>";
				var BCRYPT_COST=10;
				var s1 = new Int8Array(BCRYPT_SALT_LEN);
				for (i=0; i<BCRYPT_SALT_LEN; i++)
					s1[i] = secToken.charCodeAt(i);
				var salt = Bcrypt.gensalt(BCRYPT_COST, s1);
				Bcrypt.hashpw (passCode, salt,
				function(h) {
				$("#shaPassword").val(h);
				var url = "<tmpl_udf GET_URI('set_passcode_verify_new_password')>";		

				$.ajax({
					url : url,
					type : "POST",
					data : {
						gSecureToken : "<tmpl_var gSecureToken>",
						shaPassword : $("#shaPassword").val(),
						newPasscode : $("#newPasscode").val(),
						confirmPasscode : $("#confirmPasscode").val(),
						securityAnswer : $("#securityAnswer").val(),
						securityQuestion: $("#securityQuestion").val(),
					},
					dataType : "json",
					success : function(data, textStatus, xhr) {
						$("#setPasscodeField, #showPascodeToggle").hide();
						$("#passwordChanged").show();
					},
					error : function(xhr, textStatus, errorThrown) {
						if (xhr.status == 500) {
							$("#currentPasscodeError span").remove();
		                    			$("#newPasscodeError span").remove();
		                    			$("#confirmPasscodeError span").remove();
		                    			$("#answerError span").remove();
							if (xhr.responseText != "") {
					            		var jsonResponseText = $.parseJSON(xhr.responseText);
					            		var error = '';
					            		$.each(jsonResponseText, function(errorId, val) {
							                if (errorId == "currentPasscodeError") {
							                	error = $.parseJSON(JSON.stringify(val));
							                     	$("#currentPasscodeError").append("<span>" + error + "</span>");
							                } else if (errorId == "newPasscodeError") {
							                    	error = $.parseJSON(JSON.stringify(val));
							                     	$("#newPasscodeError").append("<span>" + error + "</span>");
							                } else if(errorId == "confirmPasscodeError") {
							                    	error = $.parseJSON(JSON.stringify(val));
							                     	$("#confirmPasscodeError").append("<span>" + error + "</span>");
							                } else if (errorId == "answerError") {
							                    	error = $.parseJSON(JSON.stringify(val));
							                     	$("#answerError").append("<span>" + error + "</span>");
							                }
					            		});
							} else {
								location.replace('<tmpl_var gRedirectUrl>');
							}
						}
					}
				});
			},
			function() {});				
			}
		</tmpl_unless>

		if (jQuery.fn.slideButton) {
			$("#displayPasscode").slideButton("ajaxToggle", {
				checkUrl : "<tmpl_udf GET_URI('set_passcode_enable_display')>",
				uncheckUrl : "<tmpl_udf GET_URI('set_passcode_disable_display')>",
				data : {
					gSecureToken : "<tmpl_var gSecureToken>"
				}
			});
		}
		
		// Uniform Init -- We're using Uniform 2+.
		if(jQuery.uniform) {
			var uniEl = "select, textarea, input:not(.toggleSettingContainer input:checkbox)";

			// As of Uniform 2+, only properties of $.uniform.defaults will be global.
			$.uniform.defaults.selectAutoWidth = false;
			$.uniform.defaults.resetSelector = 'input[type="reset"]';
			$.uniform.defaults.fileButtonHtml = '<tmpl_var _("webui", "scripts_choose_file_btn_text")>';
			$.uniform.defaults.fileDefaultHtml = '<tmpl_var _("webui", "scripts_no_file_selected_default_text")>';
			$.uniform.defaults.filter = uniEl;

			// Instantiate Uniform on page load.
			$(uniEl).uniform();

			// If using uniform on buttons, we need to add the button element class to the div wrapper.
			$("button.primary").closest("div.button").addClass("primary");
			$("button.secondary").closest("div.button").addClass("secondary");
			$("button.multi").closest("div.button").addClass("multi");
			$("button.cancel").closest("div.button").addClass("cancel");
		}
	});

	// To prevent folks with javascript turned off from submitting the login form
	// or entering a clear text password, we'll use javascript to append the
	// inputPassword field and the submit button.
	function currPassCodeInput($el, $input)
	{
		$input.appendTo($el);
		if (jQuery.uniform) {
			// This is for uniform 1 and uniform 2 compatibility.
			var uniformOptions = ( typeof $.uniform.options !== "undefined") ? $.uniform.options : $.uniform.defaults;
			if (uniformOptions.filter) {
				$el.find(uniformOptions.filter).uniform();
			}
		}
	}


	function insertCurrPasscodeInput()
	{
		<tmpl_if gIsDefaultPassword>
			$("#validateCurrPasswd, #showPascodeToggle").hide();
			$("#newpasswd").show();
			currPassCode = $('<input class="password<tmpl_if authError> error</tmpl_if><tmpl_if currentPasscodeError> error</tmpl_if>" type="password" name="currentPasscodeTwo" id="currentPasscodeTwo" value="" autocomplete="off" /> <span toggle="#currentPasscodeTwo" class="eye toggle-password"></span> ');
                        currPassCodeInput($("#currentPasscodeRowTwo"), currPassCode);
		<tmpl_else>
			if ($("#validPassword").val() != "0") {
				$("#validateCurrPasswd, #showPascodeToggle").show();
				$("#newpasswd").hide();
				currPassCode = $('<input class="password<tmpl_if authError> error</tmpl_if><tmpl_if currentPasscodeError> error</tmpl_if>" type="password" name="currentPasscode" id="currentPasscode" value="" autocomplete="off" /> <span toggle="#currentPasscode" class="eye toggle-password"></span>');
				currPassCodeInput($("#currentPasscodeRow"), currPassCode);
			} else {
				$("#validateCurrPasswd").hide();
				<tmpl_if showDisplayPascode>
					$("showPascodeToggle").show();
				</tmpl_if>
				$("#newPasswd").show();
				currPassCode = $('<input class="password<tmpl_if authError> error</tmpl_if><tmpl_if currentPasscodeError> error</tmpl_if>" type="password" name="currentPasscodeTwo" id="currentPasscodeTwo" value="" autocomplete="off" /> <span toggle="#currentPasscodeTwo" class="eye toggle-password"></span> ');
				currPassCodeInput($("#currentPasscodeRowTwo"), currPassCode);
			}
		</tmpl_if>

	}

	// If a password is entered, we must hash it before sending.
	// If password field is empty, let the code behind handle any error.
	function validatePassword()
	{	
		var secToken = "<tmpl_var secToken>";
		if (secToken === "") {
			$("#clientSideAuthError").remove();
			$(this).find("fieldset").prepend('<p id="clientSideAuthError" class="error"><tmpl_var _("webui", "set_passcode_security_token_acquisition_failed_error_text")></p>');
		}
		var url = "<tmpl_udf GET_URI('set_passcode_verify_current_password')>";
		var BCRYPT_COST=10;
		var s1 = new Int8Array(BCRYPT_SALT_LEN);
		for (i=0; i<BCRYPT_SALT_LEN; i++)
			s1[i] = secToken.charCodeAt(i);
		var salt = Bcrypt.gensalt(BCRYPT_COST, s1);
		Bcrypt.hashpw (currPassCode, salt,
		function(h) {
		$("#shaPassword").val(h);
		var shaPass = $("#shaPassword").val();
		$.ajax({
			url : url,
			type : "POST",
			data : {
				gSecureToken : "<tmpl_var gSecureToken>",
				password : shaPass,
			},
			dataType : "json",
			success : function(data, textStatus, xhr) {
				$("#validPassword").val("1");
				$("#validateCurrPasswd, #showPascodeToggle").hide();
				$("#newpasswd").show();
				insertCurrPasscodeInput();
  			  	var win = $(window);                                                   
				$("#newPasscode").closest(".ui-dialog").css({                                                                                                                      
					position: 'absolute',                                                                                                                                                 
					top: (win.height() - $(".ui-dialog").outerHeight()) / 2                                                                                                               
				}); 
			},
			error : function(xhr, textStatus, errorThrown) {
				if (xhr.status == 500) {
					$("#passcodeError span").remove();
					$("#passcodeError").append("<span>" + "<tmpl_udf GET_PO_TEXT('set_passcode_current_passcode_error_text', gProductName)>" + "</span>");
					noOfLoginAttempts = xhr.responseJSON.noOfRemainingLoginAttempts;
					$("#attemptsWarning").show();
					$("#attemptsWarning").html("<tmpl_var _('webui', 'login_max_retries_warning_one_text')>" + noOfLoginAttempts + "<tmpl_var _('webui', 'login_max_retries_warning_two_text')>");
				}  else {
					location.replace('<tmpl_var gRedirectUrl>');
				}
			}
		});
		},
		function() {});
	}

	/* ]]> */
</script>

<tmpl_if isLocked>
	<div class="notification app error">
		<tmpl_var _("webui", "webui_app_locked_text")>
	</div>
</tmpl_if>

<tmpl_if errorMsg>
	<div class="notification app error">
		<div class="notification_inner">
			<p>
				<tmpl_var errorMsg>
			</p>
		</div>
	</div>
</tmpl_if>
<tmpl_if gPostSuccess>
	<div class="notification app success">
		<div class="notification_inner">
			<p>
				<tmpl_var _("webui", "webui_save_code_success_text")>
			</p>
		</div>
	</div>
</tmpl_if>

<div id="showPascodeToggle">
	<tmpl_unless gIsDefaultPassword>
		<tmpl_if showDisplayPascode>
			<div class="toggleSettingContainer">
					<div class="form-group">
						<label for="displayPasscode"><strong><tmpl_udf GET_PO_TEXT("set_passcode_display_passcode_label", gProductName)>:</strong></label>
							<div class="toggle">
								<input class="toggleSwitchCheckbox" type="checkbox" id="displayPasscode" name="displayPasscode"<tmpl_if IN_SET(displayPasscode, "true")> checked="checked"</tmpl_if> <tmpl_if isLocked> disabled="disabled"</tmpl_if>/>
							</div>
						<p class="note">
							<tmpl_udf GET_PO_TEXT("set_passcode_display_passcode_help_text")>
						</p>
					</div>

			</div><!--/.toggleSettingContainer-->
		</tmpl_if>
	</tmpl_unless>
</div>

<form method="POST" action="<tmpl_udf GET_URI('set_passcode')>" id="setPasscodeForm" name="setPasscodeForm">
	<fieldset id="setPasscodeField" class="first">
		<input type="hidden" name="shaPassword" id="shaPassword" value="" />
		<input type="hidden" name="gSecureToken" value="<tmpl_var gSecureToken>" />
		<input type="hidden" name="validPassword" id="validPassword" value="<tmpl_var validPassword>" />

		<div id="validateCurrPasswd">
			<h4 ><tmpl_udf GET_PO_TEXT("admin_password_default_info")></h4>
			<div class="table">
				<div class="form-group">
					<div class="label">
						<label for="currentPasscodeRow"> <tmpl_udf GET_PO_TEXT("set_passcode_current_passcode_label", gProductName)></label>
					</div>
					<div id="currentPasscodeRow" class="input"></div>
					<div class="inline_error" id="passcodeError"></div>
					<div class="button_container clearfix">
						<button type="button" class="primary" id="continue" name="continue" <tmpl_if isLocked>disabled="disabled"</tmpl_if> >
							<tmpl_var _("webui", "webui_modal_continue_button")>
						</button>
					</div>
				</div>
				<p id="attemptWarning" class="warning"><tmpl_udf GET_PO_TEXT("login_max_retries_warning_text", noOfRemainingLoginAttempts)></p>
			</div><!-- /.table -->
		</div><!-- /#validateCurrPasswd -->

		<div id="newpasswd">
			<h4 class="sectionHead"><tmpl_udf GET_PO_TEXT("set_passcode_login_sub_header_text")></h4>
			<div class="table">
				<tmpl_unless gIsDefaultPassword>
					<div class="form-group">
						<div class="label">
							<label for="currentPasscodeRowTwo"><tmpl_udf GET_PO_TEXT("set_passcode_current_passcode_label", gProductName)></label>
						</div>
						<div id="currentPasscodeRowTwo" class="input"></div>
						<div class="inline_error" id="currentPasscodeError"></div>
						<p id="attemptsWarning" class="warning"><tmpl_udf GET_PO_TEXT("login_max_retries_warning_text", noOfRemainingLoginAttempts)></p>
					</div>	<!--current_passcode -->
				</tmpl_unless>

				<div class="form-group">	<!--new_passcode-->
					<div class="label">
						<label for="newPasscode"><tmpl_var _("webui", "set_passcode_new_passcode_label")></label>
					</div>
					<div class="input">
						<input class="password<tmpl_if newPasscodeError> error</tmpl_if>" type="password" name="newPasscode" id="newPasscode" value="" autocomplete="off" />
						<span toggle='#newPasscode' class='eye toggle-password'></span> 
					</div>
					<div class="inline_error" id="newPasscodeError"></div>
					<div id="newPasscodeHelp" class="clearfix">
					<tmpl_var _("webui", "set_passcode_new_passcode_help1_text")>
						<tmpl_var minPasscodeLen>
							<tmpl_var _("webui", "set_passcode_new_passcode_help2_text")>
								<tmpl_var maxPasscodeLen>
									<tmpl_var _("webui", "set_passcode_new_passcode_help3_text")>
					</div>	<!--new_passcode-->
				</div>

				<div class="form-group">	<!--confirm_passcode-->
					<div class="label">
						<label for="confirmPasscode"><tmpl_var _("webui", "set_passcode_confirm_passcode_label")></label>
					</div>
					<div class="input">
						<input class="password<tmpl_if confirmPasscodeError> error</tmpl_if>" type="password" name="confirmPasscode" id="confirmPasscode" value="" autocomplete="off" />
						<span toggle='#confirmPasscode' class='eye toggle-password'></span> 
					</div>
					<div class="inline_error" id="confirmPasscodeError"></div>
				</div>	<!--confirm_passcode-->


				<div class="form-group">
					<div class="label">
						<label for="securityQuestion"><tmpl_var _("webui", "set_passcode_security_question_label")></label>
					</div>
					<div class="input">
						<select name="securityQuestion" id="securityQuestion">
							<tmpl_include "security_question_options.tmpl">
						</select>
					</div>
				</div>
				<div class="form-group">	<!--security_answer-->
					<div class="label">
						<label for="securityAnswer"><tmpl_var _("webui", "set_passcode_security_answer_label")></label>
					</div>
					<div class="input">
						<input class="text<tmpl_if answerError> error</tmpl_if>" type="text" name="securityAnswer" maxlength="255" id="securityAnswer" value="" autocomplete="off" />

					</div>
					<div class="inline_error" id="answerError"></div>
				</div>	<!--security_answer-->

			</div><!-- /.table -->
			<div class="button_container clearfix">
				<button type="button" class="primary"  id="savechanges" <tmpl_if isLocked> disabled="disabled"</tmpl_if>>
					<tmpl_var _("webui", "webui_save_button")>
				</button>
			</div>
		</div><!-- /#newpasswd -->
	</fieldset>
	<div id="passwordChanged" style="display:none">
		<p>
			<tmpl_udf GET_PO_TEXT("set_passcode-password_changed_successfully_text", gProductName)>
		</p>
		<div class="ui-dialog-buttonset">
			<button type="button" class="primary ui-button ui-corner-all ui-widget" id="closePopUp">
				<tmpl_var _("webui", "webui_modal_ok_button")>
			</button>
		</div>
	</div>
</form>
</tmpl_if>
