<option value="0"<tmpl_if IN_SET(securityQuestion, 0)> selected="selected"</tmpl_if>><tmpl_var _("webui", "webui_app_security_question_birth_date_text")></option> <!-- WEBUI_SEC_QUESTION_BIRTHDATE -->
<option value="1"<tmpl_if IN_SET(securityQuestion, 1)> selected="selected"</tmpl_if>><tmpl_var _("webui", "webui_app_security_question_mother_maiden_name_text")></option> <!-- WEBUI_SEC_QUESTION_MOTHER_MAIDEN_NAME -->
<option value="2"<tmpl_if IN_SET(securityQuestion, 2)> selected="selected"</tmpl_if>><tmpl_var _("webui", "webui_app_security_question_grownup_street_text")></option> <!-- WEBUI_SEC_QUESTION_GROWNUP_STREET_NAME -->
