<div id="inseego_connect">
	<h1><tmpl_var _("webui", "inseego_connect_help_title_text")></h1>

	<h2><tmpl_var _("webui", "inseego_connect_cloud_services_text")></h2>
	<h3><tmpl_var _("webui", "inseego_connect_label")></h3>
	<p>Kasutage seda SEES/VÄLJAS nuppu Inseego Connecti funktsiooni sisse- või väljalülitamiseks.</p>

	<h2><tmpl_var _("webui", "inseego_connect_status_text")></h2>
	<h3><tmpl_var _("webui", "inseego_connect_connection_state_label")></h3>
	<p>See teatab teie seadmete ühendumisest Inseego Connecti serveriga. <br> Üles : seade suhtleb Inseego Connecti serveritega, <br> Alla: seade ei suhtle Inseego Connecti serveritega.<br></p>

	<h3><tmpl_var _("webui", "inseego_connect_last_reported_label")></h3>
	<p>See on võrdne ajaga teie seadmes, mil see viimati saadeti paketina Inseego Connecti serveritesse.</p>

	<h3><tmpl_var _("webui", "inseego_connect_interval_label")></h3>
	<p>See on intervall, mille järel seade saadab pakette Inseego Connecti serverisse.</p>on intervall, mille järel seade saadab pakette Inseego Connecti serverisse.</p>
</div>

