<div id="inseego_connect">
	<h1><tmpl_var _("webui", "inseego_connect_help_title_text")></h1>

	<h2><tmpl_var _("webui", "inseego_connect_cloud_services_text")></h2>
	<p>
		Inseego Connect ist ein Cloud-Plattformprodukt, das einen vollständigen Überblick über und einen sicheren Zugriff auf Ihre Bereitstellung von einer einzigen Plattform aus bietet. Auf dieser Seite können Sie Einstellungen für die Verbindung mit Inseego Connect aktivieren und konfigurieren.
	</p>
	
	<h3><tmpl_var _("webui", "inseego_connect_label")></h3>
	<p>
		Standardmäßig ist die Verbindung zu Inseego Connect deaktiviert. Schieben Sie den EIN-/AUS-Schieberegler auf „EIN“, um die Verbindung zu aktivieren.
	</p>

	<h2><tmpl_var _("webui", "inseego_connect_status_text")></h2>
	<h3><tmpl_var _("webui", "inseego_connect_connection_state_label")></h3>
	<p>
		Das ist ein Bericht, in dem die Verbindungen Ihrer Geräte mit dem Inseego Connect-Server aufgeführt werden. <br>
		Nach oben: Gerät kommuniziert mit Inseego Connect-Servern, <br>
		Nach unten: Gerät kommuniziert nicht mit Inseego Connect-Servern.<br>
	</p>

	<h3><tmpl_var _("webui", "inseego_connect_last_reported_label")></h3>
	<p>
		Das entspricht der Uhrzeit auf Ihrem Gerät, zu der es zuletzt ein Paket an die Inseego Connect-Server gesendet hat.
	</p>

	<h3><tmpl_var _("webui", "inseego_connect_interval_label")></h3>
	<p>
		Das ist das Intervall, in dem Ihr Gerät Pakete an den Inseego Connect-Server sendet.
	</p>
	<p> 
		HINWEIS: Ein kürzeres Intervall bedeutet mehr Datennutzung.
	</p>
	<h3><tmpl_var _("webui", "inseego_connect_mobile_app_text")></h3>
	<p>
		Über den Link können Sie die mobile Inseego Connect-App herunterladen.
	</p>
</div>

