<div id="inseego_connect">
	<h1><tmpl_var _("webui", "inseego_connect_help_title_text")></h1>

	<h2><tmpl_var _("webui", "inseego_connect_cloud_services_text")></h2>
	<p>
		Inseego Connect est un produit de plateforme cloud qui offre une visibilité à 360 degrés et une accessibilité sécurisée à votre déploiement, et ce, à partir d’une plateforme unique. Grâce à cette page, vous pouvez activer et configurer les paramètres de connexion pour Inseego Connect.
	</p>
	
	<h3><tmpl_var _("webui", "inseego_connect_label")></h3>
	<p>
		Par défaut, la connexion à Inseego Connect est désactivée. Déplacez le curseur marche/arrêt sur la position marche afin d’activer la connexion.
	</p>

	<h2><tmpl_var _("webui", "inseego_connect_status_text")></h2>
	<h3><tmpl_var _("webui", "inseego_connect_connection_state_label")></h3>
	<p>
		Il s’agit d’un rapport sur la connexion de vos appareils au serveur Inseego Connect. <br>
		Connecté : l’appareil communique avec les serveurs Inseego Connect, <br>
		Non connecté : l’appareil ne communique pas avec les serveurs Inseego Connect.<br>
	</p>

	<h3><tmpl_var _("webui", "inseego_connect_last_reported_label")></h3>
	<p>
		Correspond à l’heure du dernier envoi sur votre appareil dans un paquet vers les serveurs Inseego Connect.
	</p>

	<h3><tmpl_var _("webui", "inseego_connect_interval_label")></h3>
	<p>
		C’est l’intervalle auquel votre appareil enverra des paquets au serveur Inseego Connect.
	</p>
	<p> 
		REMARQUE : Plus l’intervalle est court, plus il y a une grande consommation de données.
	</p>
	<h3><tmpl_var _("webui", "inseego_connect_mobile_app_text")></h3>
	<p>
		Utilisez le lien pour télécharger l’application mobile Inseego Connect.
	</p>
</div>

