<script type="text/javascript">
    /* <![CDATA[ */
    var installationTime = parseInt(<tmpl_var estimatedTime>);
    var installationTimerUpdateRate = 1000; // 1 sec
    var pollingRate = 2000; // 2 secs
    var startupDelay = 10000; // trigger polling after 10 secs
    var delta = -1;
    var pollTimerId;
    var installTimerId;

    $(function()
    {
        if (!isNaN(installationTime)) {
            installationTime = installationTime * 60 * 1000; // mins to milli-secs conversion
        } else {
            installationTime = 0; 
        }
        updateProgressBar();
        pollTimerId = setTimeout(getSoftwareInstallStatus, startupDelay);
    });

    function updateProgressBar()
    {
        delta = (delta + 1);
        var percent = 0;
        if (installationTime != 0 ) {
            percent = Math.round(((delta*1000)/installationTime)*100);
        }

        if (percent <= 100) {
            $("#lineUsagePercentage").attr('style', 'width: ' + percent + '%');
	    $("#usagePercentage").html(percent + '%');		 
            installTimerId = setTimeout(updateProgressBar, installationTimerUpdateRate);
        } else {
            clearTimeout(installTimerId);
            $("#SoftwareInstallTitle").html("<tmpl_udf GET_PO_TEXT('sideload_software_install_not_responding_title_text', gProductName)>");
            $("#SoftwareInstallProgressBar").hide();
            $("#SoftwareInstallNote").hide();
            $("#SoftwareInstallStatus").removeAttr('class').addClass("").html("<tmpl_udf GET_PO_TEXT('sideload_software_install_not_responding_text', gProductName, gProductNumber)>");
            $("#homeLink").hide();
        }
    }

    function getSoftwareInstallStatus()
    {
        $.ajax({
            url : '<tmpl_udf GET_URI("sideload_software_install_status")>',
            type : "GET",
            dataType : "json",
            success : function(data) {
		if(data && data.installStatus == 0) {
                	$("#SoftwareInstallNote").hide();
                	$("#SoftwareInstallProgressBar").hide();
                	clearTimeout(pollTimerId);
                	clearTimeout(installTimerId);

                	if (data) {
                    		$("#homeLink").show();
                    		$("#softwareInstallContentInner").addClass("status");
                    		if (data.updateStatus == 200) { // FOTA_RESULT_SUCCESS
					$("#SoftwareInstallTitle").html('<tmpl_var _("webui", "sideload_software_install_success_header_text")>');
                        		$("#SoftwareInstallStatus").removeAttr('class').addClass("note success").html("<tmpl_udf GET_PO_TEXT('sideload_software_install_success_text', gProductName, gProductNumber)>");
                    		} else {
					$("#SoftwareInstallTitle").html('<tmpl_var _("webui", "sideload_software_install_failed_header_text")>');
                        		$("#SoftwareInstallStatus").removeAttr('class').addClass("notification app error fail").html("<i class='icon-error'></i><tmpl_udf GET_PO_TEXT( 'sideload_software_install_failed_text', gProductName, gProductNumber)>");
                    		}                    
                	}	
		} else {
			pollTimerId = setTimeout(getSoftwareInstallStatus, pollingRate);
		}
            },
            error : function(xhr, textStatus, errorThrown) {
		pollTimerId = setTimeout(getSoftwareInstallStatus, pollingRate);
            },
            complete : function() {
            }
        });
    }


    /* ]]> */
</script>

<div id="softwareInstallContent">
    <div id="softwareInstallContentInner">
        <h1 id="SoftwareInstallTitle"><tmpl_var _("webui", "sideload_software_install_progress_title_text")></h1><br />
        <div id="SoftwareInstallStatus" class="notification app error progress">
	    <i class="icon-error"></i>
            <tmpl_udf GET_PO_TEXT("sideload_software_install_warning_text", gProductName, gProductNumber)><br />
        </div>
        <div id="SoftwareInstallProgressBar" class="progress_bar_wrapper clearfix">
            <div id="download_progress_bar" class="data_usage progress_bar ui-progressbar">
                <div id="totalUsagePercentage" class="ui-widget-header" style="width:100%;"></div>
                <div id="lineUsagePercentage" class="ui-widget-header-line" style="width:0%;">
                </div>
            </div>
	    <p id="usagePercentage"></p>
        </div>
        <div id="SoftwareInstallNote"><tmpl_udf GET_PO_TEXT( 'sideload_software_install_note_text', estimatedTime)></div>        
        <div id="homeLink" style="display:none;">
		<a class="gohome" href="/"><tmpl_udf GET_PO_TEXT("sideload_software_install_home_link", gProductName)></a>
	</div>
    </div>
</div>
