<!-- Manual DNS -->
<div id="manual_dns">
	<h1><tmpl_var _("webui", "adv_manual_dns_menu_text")></h1>
	<h2>Panoramica</h2>
	<p>Normalmente, l'indirizzo DNS viene ottenuto automaticamente. Questa pagina consente di specificare manualmente un DNS, se necessario.
	</p>

	<h2>Impostazioni</h2>

	<h3><tmpl_var truncate(_("webui", "adv_manual_dns_enable_label"), (size(_("webui", "adv_manual_dns_enable_label")) - size(":")))></h3>
	<p>Utilizza questa impostazione per attivare o disattivare la funzione DNS manuale. Se attivata, si dovranno inserire i seguenti dati.
	</p>
	<h3><tmpl_var truncate(_("webui", "adv_manual_dns_address1_label"), (size(_("webui", "adv_manual_dns_address1_label")) - size(":")))>
</h3>
	<p>Immetti l'indirizzo IP del DNS primario desiderato. Per utilizzare la funzione DNS manuale è necessario inserire questo indirizzo.
	</p>
	<h3><tmpl_var truncate(_("webui", "adv_manual_dns_address2_label"), (size(_("webui", "adv_manual_dns_address2_label")) - size(":")))>
</h3>
	<p>Immetti l'indirizzo IP del DNS secondario (di backup) desiderato.
		Questo indirizzo è facoltativo e puoi lasciarlo in bianco se lo desideri.
	</p>
</div>
<!-- id="manual_dns" -->
