<div class="footer">
	<div class="footer_inner">
		<div class="col logo_device" class="logoDevice">
			<a id="inseegoLogo" href="http://www.inseego.com/" title="Inseego">
				<img src="/<tmpl_var gBaseAssetsPath>/images/logos/footer_logo.png" alt="<tmpl_var _("webui", "webui_footer_logo_attr")>" />
			</a>
		</div><!-- /.logo_device -->
		<div class="col copyright">
			<p>&copy; <span id="copyYear"></span> <tmpl_var _("webui", "footer_copyright")></p>
		</div><!-- /.copyright -->
		<div class="col mifi_device">
			<a id="inseegoUrl" href="http://www.inseego.com/" title="InseegoUrl">
				<p id="powered"><tmpl_var _("webui", "footer_mifi_powered")></p>
			</a>
		</div>		
	</div><!-- /.footer_inner -->
</div><!-- /.footer -->
