<tmpl_if isHidden>
	<div class="notification app error">
		<i class="icon-error"></i>
		<tmpl_var _("webui", "webui_app_hidden_text")>
	</div>
<tmpl_else>
	<script type="text/javascript">
		/* <![CDATA[ */
		var customAppLimit = "<tmpl_var customAppLimit>";

		function PortFilterToggled(bool, $toggleSwitchElement)
		{
			if(jQuery.fn.slideButton) $toggleSwitchElement.slideButton("addLoader");
			var url = (bool) ? "<tmpl_udf GET_URI('port_filtering_enable')>" : "<tmpl_udf GET_URI('port_filtering_disable')>";
			$.ajax({
				url : url,
				type : "POST",
				data : {
					gSecureToken : "<tmpl_var gSecureToken>"
				},
				dataType : "json",
				success : function(data, textStatus, xhr) {
					// If no network connected, success event still occurs.
					// We need to implicitly see an xhr.status greater than 0 to know we've actually made contact.
					if ( (xhr.readyState == 4 ) && (xhr.status == 0) ) {
						undoChange($toggleSwitchElement);
					}
				},
				error : function(xhr, textStatus, errorThrown) {
					undoChange($toggleSwitchElement);
					// If auth session has ended, force a new login with a fresh GET.
					if( (xhr.status == 401) || (xhr.status == 403) || (xhr.status == 406) ) window.location.replace(window.location.href);
				},
				complete : function(xhr, textStatus) {
					if(jQuery.fn.slideButton) $toggleSwitchElement.slideButton("removeLoader");
				}
			});
		}

		function undoChange($el)
		{
			if(jQuery.fn.slideButton) $el.slideButton("undo");
		}

		$(function()
		{
			//Setup the Port Filtering Toggle Button.
			if(jQuery.fn.slideButton) {
				$("#portFilterEnable").slideButton({
					change : function($input) {
						PortFilterToggled($input.is(":checked"), $input);
					}
				});
			}

			//Count the Custom Apps and remove the Add App Button if there is more than 10.
			if ($("tr.customPortInformationRow").length >= customAppLimit) {
				$(".addCustomApp").hide();
			}

			<tmpl_unless isLocked>
			$('#addCustomAppLink').click(function(event) {
				event.preventDefault();
				$('#portFilteringCustomApplicationsList thead').show();
				var numCustomApps = $("tr.customPortInformationRow").length;
				var customRowID = numCustomApps + 1;
				var Row = $('<tr id="customInformationRow_' + customRowID + '" class="portInformationRow customPortInformationRow">');
				Row.append('<td class="checkbox"><label for="customAppEnabledIndex' + customRowID + '" style="display:none;"><tmpl_var _("webui", "webui_app_on_text")></label><input type="checkbox" checked="checked" id="customAppEnabledIndex' + customRowID + '" name="customAppEnabledIndex' + customRowID + '"></td>');
				Row.append("<td class='portName'><label for='customAppNameIndex" + customRowID + "' style='display:none;'><tmpl_var _('webui', 'adv_port_filtering_app_name_label')></label><input type='text' value='Custom App " + customRowID + "' name='customAppNameIndex" + customRowID + "' maxlength='24' id='customAppNameIndex" + customRowID + "' class='customPortApplicationName  text'></td>");
				Row.append('<td class="portBegin"><label for="customAppBeginPortIndex' + customRowID + '" style="display:none;"><tmpl_var _("webui", "adv_port_filtering_begin_port_label")></label><input type="text" value="" name="customAppBeginPortIndex' + customRowID + '" id="customAppBeginPortIndex" maxlength="5" size="5" class="portNumber text"></td>');
				Row.append('<td class="portEnd"><label for="customAppEndPortIndex' + customRowID + '" style="display:none;"><tmpl_var _("webui", "adv_port_filtering_end_port_label")></label><input type="text" value="" name="customAppEndPortIndex' + customRowID + '" id="customAppEndPortIndex" maxlength="5" size="5" class="portNumber text"></td>');
				Row.append('<td class="portProtocol" id="portProtocolContainer' + customRowID + '"><label for="customAppPortTypeIndex' + customRowID + '" style="display:none;"><tmpl_var _("webui", "adv_port_filtering_protocol_label")></label></td>');
				var protocolSelect = $('<select class="short" name="customAppPortTypeIndex' + customRowID + '" id="customAppPortTypeIndex' + customRowID + '"><option value="' + $.uiEnums.PORTTYPE_TCP + '">TCP</option><option value="' + $.uiEnums.PORTTYPE_UDP + '">UDP</option><tmpl_if showTCPUDP><option value="' + $.uiEnums.PORTTYPE_TCPUDP + '">TCP/UDP</option></tmpl_if></select>');
				Row.find('#portProtocolContainer' + customRowID).append(protocolSelect);
				Row.append('<td class="checkbox"><label for="customAppDeleteIndex' + customRowID + '" style="display:none;"><tmpl_var _("webui", "webui_app_delete_text")></label><input type="checkbox" id="customAppDeleteIndex' + customRowID + '" name="customAppDeleteIndex' + customRowID + '"></td>');

				// Add uniform to Select And Checkbox.
				if (jQuery.uniform) {
					// This is for uniform 1 and uniform 2 compatibility.
					var uniformOptions = (typeof $.uniform.options !== "undefined") ? $.uniform.options : $.uniform.defaults;
					if (uniformOptions.filter) {
						Row.find(uniformOptions.filter).uniform();
					}
				}
				$("#portFilteringCustomApplicationsList").append(Row);
				//Count how many apps they have and hide the button if they've exceeded it.
				if ($("tr.customPortInformationRow").length >= customAppLimit) {
					$(".addCustomApp").hide();
				}
			});
			</tmpl_unless>
		});
		/* ]]> */
	</script>

	<tmpl_if isLocked>
		<div class="notification app error">
			<i class="icon-error"></i>
			<tmpl_var _("webui", "webui_app_locked_text")>
		</div>
	</tmpl_if>

	<tmpl_if isIpPassthroughActive>
		<p class="warning">
			<tmpl_var _("webui", "adv_port_filtering_ip_passthrough_active_warning_text")>
		</p>
	<tmpl_elsif vpnConnected>
		<p class="warning">
			<tmpl_var _("webui", "adv_port_filtering_vpn_active_warning_text" )>
		</p>
	<tmpl_else>
		<tmpl_if errorCount>
			<div class="notification app error">
				<i class="icon-error"></i>
				<p><tmpl_var _("webui", "webui_save_code_failed_text")></p>
			</div>
		</tmpl_if>

		<tmpl_if gPostSuccess>
			<div class="notification app success">
				<i class="icon-success"></i>
				<span class="boxclose" onclick="this.parentElement.style.display='none';"></span>
				<p><tmpl_var _("webui", "webui_save_code_success_text")></p>
			</div>
		</tmpl_if>

		<tmpl_if showHeaderText>
			<h2 class="sectionHead"><tmpl_var _("webui", "adv_port_filtering_subheader_text")></h2>
		</tmpl_if>

		<tmpl_if showNoteOnTop> 
			<p><tmpl_var _("webui", "adv_port_filtering_enable_help")></p>
			
			<tmpl_if vpnEnabled>
				<p><tmpl_var _("webui", "adv_port_filtering_vpn_enable_note_text")></p>
			<tmpl_else>
				<p><tmpl_var _("webui", "adv_port_filtering_enable_note_text")></p>
			</tmpl_if>
		</tmpl_if>
		<div class="toggleSettingContainer align-field" id="enablePortFilteringToggle">
			<div class="form-group">
				<tmpl_unless showNoteOnTop>
					<h3><tmpl_var _("webui", "adv_port_filtering_enable_label")></h3>
				</tmpl_unless>
					<label for="portFilterEnable">
					<tmpl_if showNoteOnTop>
						<h3><tmpl_var _("webui", "adv_port_filtering_enable_label")></h3>
					</tmpl_if>
					<tmpl_unless showNoteOnTop>
						<tmpl_var _("webui", "adv_port_filtering_enable_help")>
					</tmpl_unless>
					<tmpl_var _("webui", "adv_port_filtering_enable_help_inline")>
					</label>
				<div class="toggle">
					<input class="toggleSwitchCheckbox" type="checkbox" id="portFilterEnable" name="portFilterEnable"<tmpl_if IN_SET(PortFilteringEnabled, "true", "on", "1")> checked="checked"</tmpl_if><tmpl_if isLocked> disabled="disabled"</tmpl_if> />
				</div>
			</div>
		</div><!--/.toggleSettingContainer-->

		<form method="POST" action="<tmpl_udf GET_URI('port_filtering')>" id="portFilteringAppsForm"<tmpl_if portFilterHideList>style="display: none;"</tmpl_if>>
			<tmpl_if portFilterDisplayStandardApps>
			<fieldset class="first" id="defaultPortFilteringFieldset">
				<div id="port_filtering_applications_title" class="table_header clearfix portFilteringApplicationsTitle">
					<h2 class="sectionHead"><tmpl_var _("webui","adv_port_filtering_apps_sub_header")></h2>
				</div>
				<p class=""><tmpl_var _("webui", "adv_port_filtering_apps_intro")></p>
				<table id="portFilertingApplicationsList" class="portFilteringTable">
					<colgroup>
						<col class="checkbox" />
						<col class="title" />
					</colgroup>
					<thead>
						<tr>
							<th><tmpl_var _("webui", "adv_port_filtering_default_app_on_text")></th>
							<th><tmpl_var _("webui", "adv_port_filtering_default_app_name_label")></th>
						</tr>
					</thead>
					<tbody>
						<!-- List of Default Ports -->
						<tmpl_foreach routerDefaultPortFilterList as item>
							<tr class="portInformationRow defaultPortsRow">
								<td class="checkbox">
									<input type="checkbox" name="routerPortFilterInfoDefaultEnabledCheckBox<tmpl_var (item.__index__ + 1)>" id="routerPortFilterInfoDefaultEnabledCheckBox<tmpl_var (item.__index__ + 1)>"<tmpl_if IN_SET(item.routerPortFilterInfoDefaultEnabled, "true", "on", "1")> checked="checked"</tmpl_if> />
								</td>
								<td class="portName">
									<h4><label for="routerPortFilterInfoDefaultEnabledCheckBox<tmpl_var (item.__index__ + 1)>"><tmpl_var item.routerPortFilterInfoDefaultName></label></h4>
								</td>
							</tr>
						</tmpl_foreach>
					</tbody>
				</table>
			</fieldset><!-- End List of Default Ports -->
			</tmpl_if>

			<fieldset id="customPortFilteringFieldset"><!-- Start List of Custom Ports -->
				<div id="port_filtering_custom_applications_title" class="table_header clearfix portFilteringApplicationsTitle">
					<h2 class="sectionHead"><tmpl_var _("webui","adv_port_filtering_user_defined_sub_header_text")></h2>			</div>
				<p class=""><tmpl_var _("webui", "adv_port_filtering_user_defined_intro")></p>
				<table id="portFilteringCustomApplicationsList" class="portFilteringTable">
					<colgroup>
						<col class="checkbox" />
						<col class="title" />
						<col class="portNumberStart" />
						<col class="portNumberStop" />
						<col class="portProtocol" />
						<col class="checkbox" />
					</colgroup>
					<thead <tmpl_if routerCustomPortFilterList><tmpl_else>style="display: none;"</tmpl_if>>
						<tr>
							<th><tmpl_var _("webui", "webui_app_on_text")></th>
							<th><tmpl_var _("webui", "adv_port_filtering_app_name_label")></th>
							<th><tmpl_var _("webui", "adv_port_filtering_begin_port_label")></th>
							<th><tmpl_var _("webui", "adv_port_filtering_end_port_label")></th>
							<th><tmpl_var _("webui", "adv_port_filtering_protocol_label")></th>
							<th><tmpl_var _("webui", "webui_app_delete_text")></th>
						</tr>
					</thead>
					<tbody>
					<tmpl_if routerCustomPortFilterList>
						<tmpl_foreach routerCustomPortFilterList as item>
						<tr class="portInformationRow customPortInformationRow<tmpl_if item.routerPortFilterInfoCustomRowError> error</tmpl_if>" id="customInformationRow<tmpl_var (item.__index__ + 1)>">
							<td class="checkbox">
								<h4><label for="customAppEnabledIndex<tmpl_var (item.__index__ + 1)>" style="display:none;"><tmpl_var _("webui", "webui_app_on_text")></label></h4>
								<input type="checkbox" name="customAppEnabledIndex<tmpl_var (item.__index__ + 1)>" id="customAppEnabledIndex<tmpl_var (item.__index__ + 1)>"<tmpl_if IN_SET(item.routerPortFilterInfoCustomEnabled, "true", "on", "1")> checked="checked"</tmpl_if> />
							</td>
							<td class="portName">
								<h4><label for="customAppNameIndex<tmpl_var (item.__index__ + 1)>" style="display:none;"><tmpl_var _("webui", "adv_port_filtering_app_name_label")></label></h4>
								<input class="customPortApplicationName<tmpl_if customAppNameIndexError> error</tmpl_if>" type="text" maxlength="24" id="customAppNameIndex<tmpl_var (item.__index__ + 1)>" name="customAppNameIndex<tmpl_var (item.__index__ + 1)>" value="<tmpl_var item.routerPortFilterInfoCustomName>" />
								<tmpl_if customAppNameIndexError><p class="error"><tmpl_var customAppNameIndexError></p></tmpl_if>
							</td>
							<td class="portBegin">
								<h4><label for="customAppBeginPortIndex<tmpl_var (item.__index__ + 1)>" style="display:none;"><tmpl_var _("webui", "adv_port_filtering_begin_port_label")></label></h4>
								<input class="portNumber<tmpl_if customAppBeginPortIndexError> error</tmpl_if>" type="text" size="5" maxlength="5" id="customAppBeginPortIndex" name="customAppBeginPortIndex<tmpl_var (item.__index__ + 1)>" value="<tmpl_var item.routerPortFilterInfoCustomStartPort>" />
								<tmpl_if customAppBeginPortIndexError><p class="error"><tmpl_var customAppBeginPortIndexError></p></tmpl_if>
							</td>
							<td class="portEnd">
								<h4><label for="customAppEndPortIndex<tmpl_var (item.__index__ + 1)>" style="display:none;"><tmpl_var _("webui", "adv_port_filtering_end_port_label")></label></h4>
								<input class="portNumber<tmpl_if customAppEndPortIndexError> error</tmpl_if>" type="text" size="5" maxlength="5" id="customAppEndPortIndex" name="customAppEndPortIndex<tmpl_var (item.__index__ + 1)>" value="<tmpl_var item.routerPortFilterInfoCustomEndPort>" />
								<tmpl_if customAppEndPortIndexError><p class="error"><tmpl_var customAppEndPortIndexError></p></tmpl_if>
							</td>
							<td class="portProtocol">
								<h4><label for="customAppPortTypeIndex<tmpl_var (item.__index__ + 1)>" style="display:none;"><tmpl_var _("webui", "adv_port_filtering_protocol_label")></label></h4>
								<select class="dynamic short" name="customAppPortTypeIndex<tmpl_var (item.__index__ + 1)>" id="customAppPortTypeIndex<tmpl_var (item.__index__ + 1)>">
									<option value="TCP"<tmpl_if IN_SET(item.routerPortFilterInfoCustomProtocol, "TCP")> selected="selected"</tmpl_if>>TCP</option>
									<option value="UDP"<tmpl_if IN_SET(item.routerPortFilterInfoCustomProtocol, "UDP")> selected="selected"</tmpl_if>>UDP</option>
									<tmpl_if showTCPUDP>
										<option value="TCPUDP"<tmpl_if IN_SET(item.routerPortFilterInfoCustomProtocol, "TCPUDP")> selected="selected"</tmpl_if> >TCP/UDP</option>
									</tmpl_if>
								</select>
							</td>
							<td class="checkbox">
								<h4><label for="customAppDeleteIndex<tmpl_var (item.__index__ + 1)>" style="display:none;"><tmpl_var _("webui", "webui_app_delete_text")></label></h4>
								<input type="checkbox" name="customAppDeleteIndex<tmpl_var (item.__index__ + 1)>" id="customAppDeleteIndex<tmpl_var (item.__index__ + 1)>" />
							</td>
						</tr>
						</tmpl_foreach>
					</tmpl_if>
					</tbody>
				</table>
			</fieldset>			
			<div class="button_container clearfix">
				<button type="submit" id="submit" class="primary"<tmpl_if isLocked> disabled="disabled"</tmpl_if>><tmpl_var _("webui", "webui_save_button")></button>
					<tmpl_if showAddCustomAppButton>
						<button type="button" class="secondary addCustomApp" id="addCustomAppLink"><tmpl_var _("webui", "adv_port_filtering_add_custom_app_link")></button>				
					<tmpl_else>
						<a <tmpl_unless isLocked> href="#"</tmpl_unless><tmpl_if isLocked> style="text-decoration:none;color:#ccc;"</tmpl_if> id="addCustomAppLink" class="addCustomApp"><tmpl_var _("webui", "adv_port_filtering_add_custom_app_link")></a>
					</tmpl_if>
				<input type="hidden" name="gSecureToken" id="gSecureToken" value="<tmpl_var gSecureToken>" />
			</div>
		</form>
	</tmpl_if>
</tmpl_if><!-- isHidden -->
