<!-- Port Filtering -->
<div id="port_filtering">
	<h1>ترشيح المنفذ</h1>
	<h2>نظرة عامة</h2>
	<p>
		استخدم ميزة ترشيح المنفذ حسب الحاجة لحظر حركة مرور الإنترنت الصادرة. في حالة تشغيل هذا الإعداد، تستطيع حركة المرور الصادرة عن تطبيقات معينة فقط الوصول إلى الإنترنت. يتم تحديد حركة المرور من خلال أرقام المنفذ. 
بعض التطبيقات محددة مسبقًا. يمكنك تحديد تطبيقات إضافية، ولكنك بحاجة إلى معرفة تفاصيل حركة المرور المستخدمة والتي تم إنشاؤها بواسطة التطبيقات التي ترغب في تحديدها. 
	</p>

	<h2>التطبيقات</h2>
	<h3>خانات اختيار التطبيق</h3>
	<p>استخدم خانات الاختيار هذه للسماح بالوصول إلى الإنترنت لكل تطبيق أثناء تشغيل ميزة "ترشيح المنفذ". يمكن لحركة المرور الصادرة عن تطبيقات معينة الوصول إلى الإنترنت. خلاف ذلك، يتم حظر حركة المرور. 
	</p>
	<p>يوفر الجدول الآتي أرقام المنافذ ومعلومات البروتوكول لكل تطبيق من تطبيقات ترشيح المنفذ المدرجة.</p>

	<table class="portFilteringTable" id="">
	 	<thead>
			<tr class="">
				<th class=""> اسم التطبيق</th>
				<th class="">منفذ</th>
				<th class="">*TCP</th>
				<th class="">*STCP</th>
				<th class="">*UDP</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td> POP3</td>
				<td> 110</td>
				<td> نعم</td>
				<td> لا</td>
				<td> تم التخصيص</td>
			</tr>

			<tr>
				<td> POP3S</td>
				<td> 995</td>
				<td> نعم</td>
				<td> لا</td>
				<td> نعم</td>
			</tr>

			<tr>
				<td> IMAP</td>
				<td> 143</td>
				<td> نعم</td>
				<td> لا</td>
				<td> تم التخصيص</td>
			</tr>

			<tr>
				<td> IMAPS</td>
				<td> 993</td>
				<td> نعم</td>
				<td> لا</td>
				<td> تم التخصيص</td>
			</tr>

			<tr>
				<td> SMTP</td>
				<td> 25</td>
				<td> نعم</td>
				<td> لا</td>
				<td> تم التخصيص</td>
			</tr>

			<tr>
				<td> SecureSMTP</td>
				<td> 465</td>
				<td> نعم</td>
				<td> لا</td>
				<td> لا</td>
			</tr>

			<tr>
				<td> تحكم FTP(أمر)</td>
				<td> 21</td>
				<td> نعم</td>
				<td> نعم</td>
				<td> تم التخصيص</td>
			</tr>

			<tr>
				<td> نقل بيانات FTP</td>
				<td> 20</td>
				<td> نعم</td>
				<td> نعم</td>
				<td> تم التخصيص</td>
			</tr>

			<tr>
				<td> HTTP</td>
				<td> 80</td>
				<td> نعم</td>
				<td> نعم</td>
				<td> تم التخصيص</td>
			</tr>

			<tr>
				<td> HTTPS</td>
				<td> 443</td>
				<td> نعم</td>
				<td> نعم</td>
				<td> تم التخصيص</td>
			</tr>

			<tr>
				<td> بروتوكول Telnet</td>
				<td> 23</td>
				<td> نعم</td>
				<td> لا</td>
				<td> تم التخصيص</td>
			</tr>
			
		</tbody>

	</table>

	<p><b>نعم</b> تشير إلى أن البروتوكول موحد لرقم المنفذ.</p>
	<p><b>لا</b> تشير إلى أن البروتوكول موحد لرقم المنفذ.</p>
	<p><b>تم التخصيص</b> تشير إلى رقم المنفذ الذي تم تعيينه بواسطة هيئة أرقام الإنترنت المخصصة (IANA) لاستخدام البروتوكول، ولكن قد لا يكون موحدًا.</p>

	<h2>تطبيقات مخصصة</h2>
	<p>تتيح لك هذه الميزة تحديد تطبيقاتك - حتى 10. بمجرد تحديد التطبيقات، يمكن تشغيل هذه التطبيقات وإيقاف تشغيلها بنفس طريقة التطبيقات المحددة مسبقًا. لتحديد تطبيق ما، تحتاج إلى معرفة المنافذ والبروتوكول (TCP، UDP) التي يستخدمها التطبيق لحركة المرور الصادرة. للبدء، انقر فوق الزر <strong>Add Custom Application (إضافة تطبيق مخصص)</strong> ثم قدم البيانات التالية. 
	</p>
	<p>لاحظ أنه لا يتم حفظ أي تغييرات في تطبيق مخصص حتى يتم استخدام الزر Save Changes (حفظ التغييرات) لحفظ محتويات الصفحة بالكامل.</p>
	
	<h3>خانة اختيار التطبيق</h3>
	<p>استخدم خانة الاختيار هذه لتشغيل تطبيق بعد تحديده. في حالة التحديد، يمكن لحركة المرور الصادرة عن هذا التطبيق الوصول إلى الإنترنت. خلاف ذلك، يتم حظر حركة المرور. 
	</p>
	<h3>اسم التطبيق</h3>
	<p>
		أدخل اسمًا مناسبًا للتطبيق الذي تحدده.
	</p>
	<h3>نطاق المنفذ (منفذ البدء / منفذ الانتهاء)</h3>
		<p>
			يحتوي كل تطبيق على نطاق منفذ خاص به.
			أدخل بداية ونهاية نطاق المنفذ لكل تطبيق.
		</p>
		<div class="blockgroup">
			<ul>
				<li>بالنسبة لمنفذ واحد، أدخل رقم المنفذ في كل من حقلي <strong>منفذ البدء</strong> و<strong>منفذ الانتهاء</strong>.</li>
				<li>بالنسبة إلى مجموعة منافذ، أدخل بداية النطاق في الحقل <strong>منفذ البدء</strong> ونهاية النطاق في الحقل <strong>منفذ الانتهاء</strong>. </li>
			</ul>
		</div>
	<h3>منفذ البدء</h3>
	<p>
		أدخل بداية نطاق أرقام المنافذ المستخدمة بواسطة حركة مرور البيانات الصادرة للتطبيق المخصص الجاري إضافته.
	</p>
	<h3>منفذ الانتهاء</h3>
	<p>
		أدخل نهاية نطاق أرقام المنافذ التي يستخدمها التطبيق.
		<b>ملاحظة:</b> إذا كان التطبيق يستخدم منفذًا واحدًا بدلاً من نطاق، فاكتب نفس المنفذ
	</p>
	<h3>بروتوكول</h3>
	<p>
		حدد البروتوكول المستخدم بواسطة نطاق المنفذ من القائمة المنسدلة (TCP أو UDP أو كليهما). 
	</p>
	<h3>حذف</h3>
	<p>استخدم خانة الاختيار هذه لحذف تطبيق مخصص.
	</p>
	<p>ملاحظة: انقر فوق علامة التبويب Port Filtering (تصفية المنفذ) مرة أخرى لإزالة التطبيقات المخصصة المحذوفة من العرض على الشاشة. </p>
</div>
<!-- id="port_filtering" -->
		
