<!-- Port Filtering -->
<div id="port_filtering">
	<h1>Portfiltrering</h1>
	<h2>Oversikt</h2>
	<p>Bruk portfiltreringsfunksjonen etter behov for å blokkere utgående internettrafikk. Hvis denne innstillingen er slått på, er det bare trafikk fra de valgte programmene som har tilgang til internett. Trafikk identifiseres ved portnumre. Noen programmer er forhåndsdefinert. Du kan definere flere programmer, men du må kjenne detaljer om trafikken som brukes og genereres av programmene du ønsker å definere.</p>

	<h2>Programmer</h2>
	<h3>Avkryssingsruter for program</h3>
	<p>Bruk disse avmerkingsrutene for å gi tilgang til internett for hvert program mens portfiltreringsfunksjonen er på. Trafikk fra utvalgte programmer kan få tilgang til internett. Ellers er trafikken sperret.</p>
	<h2>Tilpassede programmer</h2>
	<p>Denne funksjonen lar deg definere dine egne programmer – opptil ti. Når de er definert, kan disse programmene slås på og av på samme måte som forhåndsdefinerte programmer. For å definere et program, må du kjenne til portene og protokollen (TCP, UDP) som brukes av programmet for utgående trafikk. Klikk <strong>Legg til tilpasset program</strong>-knappen for å starte, og angi deretter følgende data.</p>
	<p>Merk at endringer i et tilpasset program ikke blir lagret før knappen «Lagre endringer» brukes til å lagre hele sideinnholdet.</p>
	
	<h3>Avkryssingsrute for program</h3>
	<p>Bruk denne avmerkingsruten for å slå på et program etter at du har definert det. Hvis dette er valgt, kan trafikk fra dette programmet få tilgang til internett. Ellers er trafikken sperret.</p>
	<h3>Appnavn</h3>
	<p>Skriv inn et passende navn for programmet du definerer.</p>
	<h3>Portintervall (Startport/Sluttport)</h3>
		<p>Hvert program har sitt eget portintervall. Angi begynnelsen og slutten av portintervallet for hvert program.</p>
		<div class="blockgroup">
			<ul>
				<li>For en enkelt port angir du portnummeret i både <strong>Startport-</strong> og <strong>Sluttport</strong>-feltet.</li>
				<li>For et portintervall, angir du begynnelsen på intervallet i <strong>Startport-</strong> feltet og slutten av intervallet i <strong>Sluttport</strong>-feltet.</li>
			</ul>
		</div>
	<h3>Protokoll</h3>
	<p>Velg protokollen (TCP eller UDP) som brukes av det portintervallet for hvert portintervall.</p>
	<h3>Slett</h3>
	<p>Bruk denne avkryssingsruten for å slette et tilpasset program.</p>
</div>
<!-- id="port_filtering" -->
		
