<!-- Port Filtering -->
<div id="port_filtering">
	<h1>Portu filtrēšana</h1>
	<h2>Pārskats</h2>
	<p>Izmantojiet portu filtrēšanas funkciju, lai bloķētu izejošo interneta trafiku. Ja šis iestatījums ir ieslēgts, internetam var piekļūt tikai trafiks no atlasītajām lietojumprogrammām. Trafiku identificē pēc portu numuriem. Dažas lietojumprogrammas ir iepriekš definētas. Varat definēt papildu lietojumprogrammas, taču ir jāzina detalizēta informācija par trafiku, ko izmanto un ģenerē lietojumprogrammas, kuras vēlaties definēt.</p>

	<h2>Lietojumprogrammas</h2>
	<h3>Lietojumprogrammu izvēles rūtiņas</h3>
	<p>Izmantojiet šīs izvēles rūtiņas, lai katrai lietojumprogrammai atļautu piekļuvi internetam, kamēr ir ieslēgta portu filtrēšanas funkcija. Datplūsma no atlasītajām lietojumprogrammām var piekļūt internetam. Pretējā gadījumā datplūsma tiek bloķēta.</p>
	<h2>Pielāgotas lietojumprogrammas</h2>
	<p>Šī funkcija ļauj jums definēt savas lietojumprogrammas — līdz 10. Kad šīs lietojumprogrammas ir definētas, tās var ieslēgt un izslēgt tāpat kā iepriekš definētas lietojumprogrammas. Lai definētu lietojumprogrammu, jāzina porti un protokols (TCP, UDP), ko lietojumprogramma izmanto izejošajam trafikam. Lai sāktu, noklikšķiniet uz pogas <strong>Pievienot pielāgotu lietojumprogrammu</strong> un pēc tam norādiet tālāk prasītos datus.</p>
	<p>Ņemiet vērā, ka pielāgotajā lietojumprogrammā veiktās izmaiņas netiek saglabātas, līdz tiek izmantota poga Saglabāt izmaiņas, lai saglabātu visu lapas saturu.</p>
	
	<h3>Lietojumprogrammas izvēles rūtiņa</h3>
	<p>Izmantojiet šo izvēles rūtiņu, lai ieslēgtu lietojumprogrammu pēc tās definēšanas. Ja šī opcija ir atlasīta, datplūsma no šīs lietojumprogrammas var piekļūt internetam. Pretējā gadījumā datplūsma tiek bloķēta.</p>
	<h3>Programmas nosaukums</h3>
	<p>Ievadiet definējamajai lietojumprogrammai piemērotu nosaukumu.</p>
	<h3>Portu diapazons (sākuma ports/beigu ports)</h3>
		<p>Katrai lietojumprogrammai ir savs portu diapazons. Ievadiet katras lietojumprogrammas portu diapazona sākumu un beigas.</p>
		<div class="blockgroup">
			<ul>
				<li>Vienam portam ievadiet porta numuru gan laukā <strong>Sākuma ports</strong>, gan laukā <strong>Beigu ports</strong>.</li>
				<li>Portu diapazonam ievadiet diapazona sākumu laukā <strong>Sākuma ports</strong> un diapazona beigas — laukā<strong>Beigu ports</strong>.</li>
			</ul>
		</div>
	<h3>Protokols</h3>
	<p>Katram portu diapazonam atlasiet protokolu (TCP vai UDP), ko izmanto šis portu diapazons.</p>
	<h3>Dzēst</h3>
	<p>Izmantojiet šo izvēles rūtiņu, lai dzēstu pielāgotu lietojumprogrammu.</p>
</div>
<!-- id="port_filtering" -->
		
