<!-- Port Filtering -->
<div id="port_filtering">
	<h1>Pordi filtreerimine</h1>
	<h2>Ülevaade</h2>
	<p>Väljuva internetiliikluse blokeerimiseks kasutage vajaduse korral pordifiltrit. Kui see säte on sisse lülitatud, pääseb Internetti ainult valitud rakenduste liiklus. Liiklus tuvastatakse pordinumbrite järgi. Mõned rakendused on eelnevalt määratletud. Saate määratleda täiendavaid rakendusi, kuid peate teadma kasutatavate ja loodavate rakenduste liikluse üksikasju.</p>

	<h2>Rakendused</h2>
	<h3>Rakenduse märkeruudud</h3>
	<p>Kasutage neid märkeruute, et lubada internetile juurdepääs iga rakenduse puhul, kui pordi filtreerimise funktsioon on sisse lülitatud. Valitud rakenduste liiklus pääseb internetti. Vastasel korral on liiklus blokeeritud.</p>
	<h2>Kohandatud rakendused</h2>
	<p>See funktsioon võimaldab teil määratleda oma rakendusi – kuni 10. Kui need rakendused on määratud, saab neid sisse ja välja lülitada samamoodi nagu eelmääratud rakendusi. Rakenduse määratlemiseks peate teadma väljuva liikluse jaoks kasutatavaid porte ja protokolli (TCP, UDP). Alustamiseks klõpsake nuppu <strong>Lisa kohandatud rakendus</strong>, seejärel sisestage järgmised andmed.</p>
	<p>Pange tähele, et kohandatud rakenduse muudatusi ei salvestata enne, kui lehe kogu sisu salvestamiseks kasutatakse nuppu Salvesta muudatused.</p>
	
	<h3>Rakenduse märkeruut</h3>
	<p>Kasutage seda märkeruutu rakenduse sisselülitamiseks pärast selle määratlemist. Kui see on valitud, pääseb selle rakenduse liiklus internetti. Vastasel korral on liiklus blokeeritud.</p>
	<h3>Rakenduse nimi</h3>
	<p>Sisestage määratletavale rakendusele sobiv nimi.</p>
	<h3>Pordivahemik (algusport ja lõpp-port)</h3>
		<p>Igal rakendusel on oma pordivahemik. Sisestage iga rakenduse pordivahemiku algus ja lõpp.</p>
		<div class="blockgroup">
			<ul>
				<li>Ühe pordi puhul sisestage pordi number nii väljale <strong>Algusport</strong> kui ka väljale <strong>Lõpp-port</strong>.</li>
				<li>Pordivahemiku puhul sisestage vahemiku algus väljale <strong>Algusport</strong> ja vahemiku lõpp väljale <strong>Lõpp-port</strong>.</li>
			</ul>
		</div>
	<h3>Protokoll</h3>
	<p>Valige iga pordivahemiku jaoks protokoll (TCP või UDP), mida see pordivahemik kasutab.</p>
	<h3>Kustuta</h3>
	<p>Kasutage seda märkeruutu kohandatud rakenduse kustutamiseks.</p>
</div>
<!-- id="port_filtering" -->
		
