<!-- Port Filtering -->
<div id="port_filtering">
	<h1>Portfiltrering</h1>
	<h2>Översikt</h2>
	<p>Använd portfiltreringsfunktionen efter behov för att blockera utgående internettrafik. Om den här inställningen är aktiverad kan endast trafik från de valda applikationerna få åtkomst till internet. Trafik identifieras med portnummer. Vissa applikationer är fördefinierade. Du kan definiera ytterligare applikationer, men du måste känna till detaljer om den trafik som används och genereras av de applikationer som du vill definiera.</p>

	<h2>Applikationer</h2>
	<h3>Kryssrutor för applikationer</h3>
	<p>Använd dessa kryssrutor för att tillåta åtkomst till internet för varje applikation när funktionen portfiltrering är på. Trafik från valda applikationer kan få åtkomst till internet. Annars är trafiken blockerad.</p>
	<h2>Anpassade applikationer</h2>
	<p>Den här funktionen ger dig möjlighet att definiera dina egna applikationer – upp till tio. När de har definierats kan dessa applikationer slås på och av på samma sätt som fördefinierade applikationer. För att definiera en applikation behöver du känna till vilka portar och protokoll (TCP, UDP) som används av applikationen för utgående trafik. För att starta, klicka på knappen <strong>Lägg till anpassad applikation</strong>, ange sedan följande data.</p>
	<p>Observera att eventuella ändringar av en anpassad applikation inte sparas förrän knappen ”Spara ändringar” används för att spara hela sidans innehåll.</p>
	
	<h3>Kryssruta för applikationer</h3>
	<p>Använd den här kryssrutan för att aktivera en applikation efter det att du har definierat den. Om den är markerad kan trafik från denna applikation få åtkomst till internet. Annars är trafiken blockerad.</p>
	<h3>Appnamn</h3>
	<p>Ange ett lämpligt namn på den applikation som du definierar.</p>
	<h3>Portintervall (startport/slutport)</h3>
		<p>Varje applikation har sitt eget portintervall. Ange början och slutet på portintervallet för varje applikation.</p>
		<div class="blockgroup">
			<ul>
				<li>För en enskild port anger du portnumret både i fältet för <strong>Startport</strong> och <strong>Slutport</strong>.</li>
				<li>För ett portintervall anger du början på intervallet i fältet <strong>Startport</strong> och slutet på intervallet i fältet <strong>Slutport</strong>.</li>
			</ul>
		</div>
	<h3>Protokoll</h3>
	<p>För varje portintervall, välj vilket protokoll (TCP eller UDP) som används av det portintervallet.</p>
	<h3>Radera</h3>
	<p>Använd den här kryssrutan för att radera ett anpassat program.</p>
</div>
<!-- id="port_filtering" -->
		
