<!-- Status Logs -->
<div id="status_logs">
	<h1><tmpl_var _("webui", "status_logs_menu_text")></h1>
	<h2>Apžvalga</h2>
	<p>Žurnalo informacija naudinga triktims šalinti; ji nebūtina įprasto veikimo sąlygomis.</p>
	
	<h2>Nuostatos</h2>
	<h3><tmpl_var _("webui", "status_logs_enable_logs_label")></h3>
	<p>Prireikus įjunkite žurnalus.</p>
	<h3><tmpl_var _("webui", "status_logs_delete_sys_logs_label")></h3>
	<p>Ši nuostata apibrėžia, kiek laiko bus saugomi sistemos žurnalo duomenys. Pasirinkite norimą parinktį.</p>
	<p>Atminkite, kad užpildžius žurnalą seniausi duomenys pašalinami į šią nuostatą neatsižvelgiant.</p>
	
	<h2>Žurnalo duomenys</h2>
	<p>Pateiktos kortelės leidžia pasirinkti žurnalo duomenų, kuriuos norite peržiūrėti, tipą.</p>
	<h3><tmpl_var _("webui", "status_logs_mobile_network_log_href")></h3>
	<p>Šiame žurnale yra duomenų, susijusių su prisijungimais prie mobiliojo ryšio tinklo.</p>
	<h3><tmpl_var _("webui", "status_logs_system_log_href")></h3>
	<p>Šiame žurnale įrašomi įvykiai, išskyrus šiame įrenginyje įvykusius mobiliojo ryšio duomenų prisijungimus.</p>
	
	<h2>Mygtukai</h2>
	
	<h3><tmpl_var _("webui", "status_logs_clear_log_btn")></h3>
	<p>Spustelėjus šį mygtuką bus pašalinti visi esami žurnalo duomenys. Tai palengvina naujų duomenų nuskaitymo procesą.</p>
	<h3><tmpl_var _("webui", "status_logs_refresh_btn")></h3>
	<p>Naudokite tai rodomiems žurnalo duomenims atnaujinti.</p>
	<h3><tmpl_var _("webui", "status_logs_download_btn")></h3>
	<p>Naudokite šį mygtuką, jei norite atsisiųsti žurnalo duomenis į kompiuterį arba prijungtą įrenginį.</p>
	
</div>
<!-- end Status Logs -->
