<!-- Status Logs -->
<div id="status_logs">
	<h1><tmpl_var _("webui", "status_logs_menu_text")></h1>
	<h2>Ülevaade</h2>
	<p>Logiteave on kasulik tõrkeotsinguks, kuid ei ole nõutav tavapäraseks tööks.</p>
	
	<h2>Seaded</h2>
	<h3><tmpl_var _("webui", "status_logs_enable_logs_label")></h3>
	<p>Lülitage logid vastavalt vajadusele sisse.</p>
	<h3><tmpl_var _("webui", "status_logs_delete_sys_logs_label")></h3>
	<p>See säte määrab, kui kaua süsteemi logiandmeid säilitatakse. Valige soovitud suvand.</p>
	<p>Pange tähele, et kui logi on täis, kustutatakse vanimad andmed olenemata sellest seadest.</p>
	
	<h2>Logiandmed</h2>
	<p>Esitatud vahekaartidel saate valida vaadatavate logiandmete tüübi.</p>
	<h3><tmpl_var _("webui", "status_logs_mobile_network_log_href")></h3>
	<p>See logi sisaldab andmeid mobiilsidevõrguühenduste kohta.</p>
	<h3><tmpl_var _("webui", "status_logs_system_log_href")></h3>
	<p>See logi salvestab selles seadmes toimunud sündmused (v.a mobiilandmesideühendused).</p>
	
	<h2>Nupud</h2>
	
	<h3><tmpl_var _("webui", "status_logs_clear_log_btn")></h3>
	<p>Selle nupu klõpsamisel kustutatakse kõik olemasolevad logiandmed. See muudab uute andmete lugemise lihtsamaks.</p>
	<h3><tmpl_var _("webui", "status_logs_refresh_btn")></h3>
	<p>Kasutage seda kuvatavate logiandmete värskendamiseks.</p>
	<h3><tmpl_var _("webui", "status_logs_download_btn")></h3>
	<p>Kasutage seda nuppu, kui soovite logiandmeid arvutisse või ühendatud seadmesse laadida.</p>
	
</div>
<!-- end Status Logs -->
