<!-- Status Logs -->
<div id="status_logs">
	<h1><tmpl_var _("webui", "status_logs_menu_text")></h1>
	<h2>Oversikt</h2>
	<p>Logginformasjonen er nyttig for feilsøking, men er ikke nødvendig for normal drift.</p>
	
	<h2>Innstillinger</h2>
	<h3><tmpl_var _("webui", "status_logs_enable_logs_label")></h3>
	<p>Slå på loggene etter behov.</p>
	<h3><tmpl_var _("webui", "status_logs_delete_sys_logs_label")></h3>
	<p>Denne innstillingen bestemmer hvor lenge systemloggdataene beholdes. Velg ønsket alternativ.</p>
	<p>Merk at hvis loggen er full, blir de eldste dataene slettet, uavhengig av denne innstillingen.</p>
	
	<h2>Loggdata</h2>
	<p>Fanene som følger med lar deg velge hvilken type loggdata som skal vises.</p>
	<h3><tmpl_var _("webui", "status_logs_mobile_network_log_href")></h3>
	<p>Denne loggen inneholder data om tilkoblinger til mobilnettverket.</p>
	<h3><tmpl_var _("webui", "status_logs_system_log_href")></h3>
	<p>Denne loggen registrerer hendelser – andre enn mobildatatilkoblinger – som skjedde på denne enheten.</p>
	
	<h2>Knapper</h2>
	
	<h3><tmpl_var _("webui", "status_logs_clear_log_btn")></h3>
	<p>Ved å klikke på denne knappen slettes alle eksisterende loggdata. Dette gjør nye data lettere å lese.</p>
	<h3><tmpl_var _("webui", "status_logs_refresh_btn")></h3>
	<p>Bruk dette til å oppdatere loggdataene som vises.</p>
	<h3><tmpl_var _("webui", "status_logs_download_btn")></h3>
	<p>Bruk denne knappen hvis du vil laste ned loggdata til datamaskinen eller tilkoblet enhet.</p>
	
</div>
<!-- end Status Logs -->
