<!-- Status Logs -->
<div id="status_logs">
	<h1><tmpl_var _("webui", "status_logs_menu_text")></h1>
	<h2>Oversigt</h2>
	<p>Logoplysningerne er nyttige til fejlfinding, men er ikke påkrævet til normal drift.</p>
	
	<h2>Indstillinger</h2>
	<h3><tmpl_var _("webui", "status_logs_enable_logs_label")></h3>
	<p>Slå logfilerne til efter behov.</p>
	<h3><tmpl_var _("webui", "status_logs_delete_sys_logs_label")></h3>
	<p>Denne indstilling bestemmer, hvor længe systemlogdataene bevares. Vælg den ønskede mulighed.</p>
	<p>Bemærk, at hvis loggen er fuld, slettes de ældste data uden hensyn til denne indstilling.</p>
	
	<h2>Logdata</h2>
	<p>De medfølgende faner giver dig mulighed for at vælge den type logdata, der skal vises.</p>
	<h3><tmpl_var _("webui", "status_logs_mobile_network_log_href")></h3>
	<p>Denne log indeholder data om forbindelser til mobilnetværket.</p>
	<h3><tmpl_var _("webui", "status_logs_system_log_href")></h3>
	<p>Denne log registrerer begivenheder - bortset fra mobildataforbindelser - som opstod på denne enhed.</p>
	
	<h2>Knapper</h2>
	
	<h3><tmpl_var _("webui", "status_logs_clear_log_btn")></h3>
	<p>Ved at klikke på denne knap slettes alle eksisterende logdata. Dette gør nye data lettere at læse.</p>
	<h3><tmpl_var _("webui", "status_logs_refresh_btn")></h3>
	<p>Brug dette til at opdatere de logdata, der vises.</p>
	<h3><tmpl_var _("webui", "status_logs_download_btn")></h3>
	<p>Brug denne knap, hvis du vil downloade logdata til din computer eller en tilsluttet enhed.</p>
	
</div>
<!-- end Status Logs -->
