<option value="<tmpl_var logLifeTime1day>"<tmpl_if IN_SET(LogLifeTime, logLifeTime1day)> selected="selected"</tmpl_if>><tmpl_var _("webui", "status_logs_life_time_1_day_option")></option>
<option value="<tmpl_var logLifeTime2day>"<tmpl_if IN_SET(LogLifeTime, logLifeTime2day)> selected="selected"</tmpl_if>><tmpl_var _("webui", "status_logs_life_time_2_day_option")></option>
<option value="<tmpl_var logLifeTime3day>"<tmpl_if IN_SET(LogLifeTime, logLifeTime3day)> selected="selected"</tmpl_if>><tmpl_var _("webui", "status_logs_life_time_3_day_option")></option>
<option value="<tmpl_var logLifeTime4day>"<tmpl_if IN_SET(LogLifeTime, logLifeTime4day)> selected="selected"</tmpl_if>><tmpl_var _("webui", "status_logs_life_time_4_day_option")></option>
