<!-- Manual DNS -->
<div id="manual_dns">
	<h1><tmpl_var _("webui", "adv_manual_dns_menu_text")></h1>
	<h2>Overview</h2>
	<p>
		This device automatically selects a Domain Name Server (DNS). This page allows you to manually assign up to two DNS IP addresses.
	</p>

	<h2>Settings</h2>
	<h3><tmpl_var truncate(_("webui", "adv_manual_dns_enable_label"), (size(_("webui", "adv_manual_dns_enable_label")) - size(":")))></h3>
	<p>
		Check this box to manually select a DNS.
	</p>
	
	<h3><tmpl_var truncate(_("webui", "adv_manual_dns_address1_label"), (size(_("webui", "adv_manual_dns_address1_label")) - size(":")))></h3>
	<p>
		Enter the IP address for the primary DNS. This address is required to use the Manual DNS feature.
	</p>
	
	<h3><tmpl_var truncate(_("webui", "adv_manual_dns_address2_label"), (size(_("webui", "adv_manual_dns_address2_label")) - size(":")))></h3>
	<p>
		Enter the IP address for the secondary (backup) DNS. This address is optional and may be left blank if desired.
	</p>
	
	<p>Click <b>Save Changes.</b></p>
</div>
<!-- id="manual_dns" -->
