<div id="notification_preferences">
	<h1><tmpl_var _("webui", "preferences_notifications_sub_header_text")></h1>
	<p>Šajā ekrānā ir daudzas opcijas, kas ļauj iestatīt <tmpl_var _("webui", "webui_product_name")> darbību, lai tā labāk atbilstu jūsu vajadzībām.</p>

	<h3><tmpl_var truncate(_("webui", "preferences_stealth_mode_label"), (size(_("webui", "preferences_stealth_mode_label")) - size(":")))></h3>
	<p>Ja šī opcija ir atzīmēta, <tmpl_var _("webui", "webui_product_name")> gaismas diodes un audio iespējas tiek izslēgtas. <tmpl_var _("webui", "webui_product_name")> ekrāns ieslēgsies tikai tad, kad lietotājs to ieslēgs. Tomēr šis iestatījums neietekmē startēšanas procesu.</p>

	<h3><tmpl_var truncate(_("webui", "preferences_led_enabled_label"), (size(_("webui", "preferences_led_enabled_label")) - size(":")))></h3>
	<p>Ja šis iestatījums ir atzīmēts, gaismas diode paliks izslēgta. Ja šis iestatījums nav atzīmēts, gaismas diode lēni mirgos, "apliecinot darbību". Šis iestatījums ir pelēkā krāsā, ja ir ieslēgts neredzamais režīms.</p>

	<h3><tmpl_var truncate(_("webui", "preferences_alert_screen_enabled_label"), (size(_("webui", "preferences_alert_screen_enabled_label")) - size(":")))></h3>
	<p>Ja šī opcija ir atzīmēta, ekrāns ieslēgsies, kad tiks parādīts brīdinājuma ziņojums. Ja tas nav noderīgi, varat to izslēgt.</p>

	<h3><tmpl_var truncate(_("webui", "preferences_audio_enabled_label"), (size(_("webui", "preferences_audio_enabled_label")) - size(":")))></h3>
	<p>Ja izvēles rūtiņa atzīmēt, <tmpl_var _("webui", "webui_product_name")> signalizēs par startēšanu, izslēgšanu un dažādiem notikumiem, izmantojot skaņas brīdinājumus. Ja izvēles rūtiņa nav atzīmēta, <tmpl_var _("webui", "webui_product_name")> darbosies klusi. Šis iestatījums ir pelēkā krāsā, ja ir ieslēgts neredzamais režīms.</p>

	<h3><tmpl_var _("webui", "preferences_audio_alerts_label")></h3>
	<p>Šos iestatījumus var izmantot, lai norādītu, kuri notikumi aktivizē skaņas brīdinājumu. Šie iestatījumi ir pelēkā krāsā, ja skaņa ir izslēgta, izmantojot neredzamā režīma iestatījumu vai iepriekš minēto iestatījumu Ieslēgt skaņu.</p>
</div>
