<div id="notification_preferences">
	<h1><tmpl_var _("webui", "preferences_notifications_sub_header_text")></h1>
	<p>Sellel ekraanil on palju suvandeid, mis võimaldavad seadistada seadme <tmpl_var _("webui", "webui_product_name")> käitumist nii, et see vastaks paremini teie vajadustele.</p>

	<h3><tmpl_var truncate(_("webui", "preferences_stealth_mode_label"), (size(_("webui", "preferences_stealth_mode_label")) - size(":")))></h3>
	<p>Sisselülitamisel lülitatakse seadme <tmpl_var _("webui", "webui_product_name")> LED- ja helifunktsioonid välja. Seadme <tmpl_var _("webui", "webui_product_name")> ekraan lülitub sisse ainult siis, kui kasutaja selle sisse lülitab. See säte ei mõjuta siiski käivitusprotsessi.</p>

	<h3><tmpl_var truncate(_("webui", "preferences_led_enabled_label"), (size(_("webui", "preferences_led_enabled_label")) - size(":")))></h3>
	<p>Kui see säte on märgitud, siis LED-tuli ei sütti. Kui see säte on märkimata, vilgub LED-tuli aeglaselt, et töötamisest märku anda. See säte on hall, kui Salastusrežiim on sisse lülitatud.</p>

	<h3><tmpl_var truncate(_("webui", "preferences_alert_screen_enabled_label"), (size(_("webui", "preferences_alert_screen_enabled_label")) - size(":")))></h3>
	<p>Kui see on märgitud, lülitub ekraan Tähelepanuteate kuvamisel sisse. Kui sellest pole abi, võite selle välja lülitada.</p>

	<h3><tmpl_var truncate(_("webui", "preferences_audio_enabled_label"), (size(_("webui", "preferences_audio_enabled_label")) - size(":")))></h3>
	<p>Kui see on märgitud, teavitab seade <tmpl_var _("webui", "webui_product_name")> helisignaalide abil käivitamisest, väljalülitamisest ja mitmesugustest sündmustest. Kui see on märkimata, töötab <tmpl_var _("webui", "webui_product_name")> vaikselt. See säte on hall, kui Salastusrežiim on sisse lülitatud.</p>

	<h3><tmpl_var _("webui", "preferences_audio_alerts_label")></h3>
	<p>Neid seadeid saab kasutada, et määrata, millised sündmused käivitavad helisignaali. Neid seadeid ei saa valida, kui heli on välja lülitatud kas seade Salastusrežiim või ülaloleva sätte „Lülita heli sisse“ tõttu.</p>
</div>
