<div id="notification_preferences">
	<h1><tmpl_var _("webui", "preferences_notifications_sub_header_text")></h1>
	<p>Šiame ekrane yra daug parinkčių, leidžiančių nustatyti tokį <tmpl_var _("webui", "webui_product_name")> veikimo būdą, kuris geriau atitiktų jūsų poreikius.</p>

	<h3><tmpl_var truncate(_("webui", "preferences_stealth_mode_label"), (size(_("webui", "preferences_stealth_mode_label")) - size(":")))></h3>
	<p>Jei ši parinktis pažymėta, <tmpl_var _("webui", "webui_product_name")> LED ir garso funkcijos išjungiamos. <tmpl_var _("webui", "webui_product_name")> ekranas įsijungs tik tada, kai naudotojas jį įjungs. Tačiau ši nuostata nepaveiks paleisties proceso.</p>

	<h3><tmpl_var truncate(_("webui", "preferences_led_enabled_label"), (size(_("webui", "preferences_led_enabled_label")) - size(":")))></h3>
	<p>Jei ši nuostata pažymėta, LED liks išjungtas. Jei ši nuostata nepažymėta, LED lėtai mirkčios kaip aktyvus. Ši nuostata papilkinama įjungus slaptumo režimą.</p>

	<h3><tmpl_var truncate(_("webui", "preferences_alert_screen_enabled_label"), (size(_("webui", "preferences_alert_screen_enabled_label")) - size(":")))></h3>
	<p>Jei pažymėta, ekranas įsijungs, kai bus rodomas įspėjamasis pranešimas. Jei tai nenaudinga, galite išjungti.</p>

	<h3><tmpl_var truncate(_("webui", "preferences_audio_enabled_label"), (size(_("webui", "preferences_audio_enabled_label")) - size(":")))></h3>
	<p>Jei pažymėta, <tmpl_var _("webui", "webui_product_name")> garsiniais įspėjimo signalais praneš apie paleistį, išjungimą ir įvairius įvykius. Jei nepažymėta, <tmpl_var _("webui", "webui_product_name")> veiks tyliai. Ši nuostata papilkinama įjungus slaptumo režimą.</p>

	<h3><tmpl_var _("webui", "preferences_audio_alerts_label")></h3>
	<p>Šias nuostatas galima naudoti norint nurodyti, kurie įvykiai sužadina garsinį įspėjimo signalą. Šios nuostatos papilkinamos išjungus garsą pagal slaptumo režimo nuostatą arba pagal anksčiau nurodytą nuostatą „Įjungti garsą“.</p>
</div>
