<!-- Login -->
<div id="login">
	<h1><tmpl_var _("webui", "webui_product_name")> تسجيل دخول MiFi <tmpl_var _("webui", "webui_product_number")></h1>
	<p>أدخل كلمة مرور مسؤول <tmpl_var _("webui", "webui_product_name")> للمتابعة.</p>
	<tmpl_if showForgotPassword>
	<p>إذا كنت لا تعرف كلمة المرور، فاستخدم الخيار <strong>I Forgot the Admin Password (نسيت كلمة مرور المسؤول)</strong> اختيار.</p>
	</tmpl_if>
	<p>إذا أدخلت كلمة مرور غير صحيحة عدة مرات، فسيُحظر تسجيل دخولك. لإلغاء حظر تسجيل الدخول هذا، يجب إعادة تشغيل <tmpl_var _("webui", "webui_product_name")>.</p>
</div>
<!-- id="login" -->
