<!-- Login -->
<div id="login">
	<h1><tmpl_var _("webui", "webui_product_name")> „MiFi“ <tmpl_var _("webui", "webui_product_number")> prisijungimas</h1>
	<p>Norėdami tęsti, įveskite <tmpl_var _("webui", "webui_product_name")> administratoriaus slaptažodį.</p>
	<tmpl_if showForgotPassword>
	<p>Jei nežinote slaptažodžio, naudokite parinktį <strong>Pamiršau administratoriaus slaptažodį</strong>.</p>
	</tmpl_if>
	<p>Jei per daug kartų įvesite neteisingą slaptažodį, būsite užblokuoti. Norėdami išvalyti šį užraktą, turite iš naujo paleisti <tmpl_var _("webui", "webui_product_name")>.</p>
</div>
<!-- id="login" -->
