<!-- Login -->
<div id="login">
	<h1><tmpl_var _("webui", "webui_product_name")> MiFi <tmpl_var _("webui", "webui_product_number")> Accedi</h1>
	<p>Inserisci la password amministratore di <tmpl_var _("webui", "webui_product_name")> per continuare.</p>
	<tmpl_if showForgotPassword>
	<p>Se non conosci la password, utilizza l’opzione <strong>Password amministratore dimenticata</strong>.</p>
	</tmpl_if>
	<p>Se inserisci troppe volte una password errata non potrai più effettuare l’accesso. Per rimuovere questo blocco devi riavviare <tmpl_var _("webui", "webui_product_name")>.</p>
</div>
<!-- id="login" -->
