<!-- Login -->
<div id="login">
	<h1><tmpl_var _("webui", "webui_product_name")> MiFi <tmpl_var _("webui", "webui_product_number")> Logga in</h1>
	<p>Ange Admin-lösenordet för <tmpl_var _("webui", "webui_product_name")> för att fortsätta.</p>
	<tmpl_if showForgotPassword>
	<p>Om du inte känner till lösenordet använder du alternativet<strong>Jag har glömt Admin-lösenordet</strong>.</p>
	</tmpl_if>
	<p>Om du anger ett felaktigt lösenord för många gånger kommer du att bli utlåst. För att rensa det här låset måste du starta om <tmpl_var _("webui", "webui_product_name")>.</p>
</div>
<!-- id="login" -->
