<!-- Reserved IP Addresses -->
<div id="reserved_ip">
		<h1>Rezervuoti IP adresai</h1>

		<h2>Apžvalga</h2>
		<p>Šią funkciją galima naudoti norint užtikrinti, kad prijungtam įrenginiui <tmpl_var _("webui", "webui_product_name")> visada priskirs tą patį IP adresą. Spustelėkite šį mygtuką, jei norite pasiekti šios funkcijos sąrankos ekraną.</p>

		<h3>DHCP adresų diapazonas</h3>
		<p>Čia rodomas dabartinis DHCP adresų diapazonas. Visi rezervuoti IP adresai turi patekti į šį diapazoną.</p>

		<h2>Rezervuotų IP adresų lentelė</h2>
		<p>Iš pradžių ši lentelė bus tuščia ir paslėpta. Jei šioje lentelėje norite pridėti eilutę, spustelėkite mygtuką „Pridėti rezervuotą IP“. Pridėkite tiek eilučių, kiek reikia. Kiekvienoje eilutėje yra toliau nurodyti laukai.</p>

		<h3>Aktyvinti</h3>
		<p>Naudokite šį žymimąjį langelį, jei norite prireikus aktyvinti arba išjungti kiekvieną įrašą (eilutę). Jei aktyvinta, nurodytas IP adresas bus priskirtas nurodytam įrenginiui. Jei išjungta, IP adresas bus galimas bet kuriam prijungtam įrenginiui.</p>

		<h3>Įrenginio tipas</h3>
		<p>Pasirinkite tinkamiausią prijungto įrenginio parinktį.</p>

		<h3>Įrenginio pavadinimas</h3>
		<p>Jei norite, galite įvesti aprašomąjį prijungto įrenginio pavadinimą. Šį lauką galima palikti tuščią.</p>

		<h3>MAC adresas</h3>
		<p>Šis laukas yra būtinas. Įveskite prijungto įrenginio MAC adresą. Jei prijungtame įrenginyje yra ne viena tinklo sąsaja (pvz., ir „Wi-Fi“, ir eternetas), įveskite sąsajos, kuri bus naudojama jungiantis prie <tmpl_var _("webui", "webui_product_name")>, MAC adresą.</p>

		<h3>IP adresas</h3>
		<p>Įveskite IP adresą, kurį norite priskirti šiam prijungtam įrenginiui. Šis IP adresas nurodytame DHCP adresų diapazone turi būti pirmesnis.</p>

</div>
<!-- id="reserved_ip" -->
