<!-- Reserved IP Addresses -->
<div id="reserved_ip">
		<h1>Reserveeritud IP-aadressid</h1>

		<h2>Ülevaade</h2>
		<p>Seda funktsiooni saab kasutada tagamaks, et ühendatud seadmele määrab <tmpl_var _("webui", "webui_product_name")> alati sama IP-aadressi. Klõpsake sellel nupul, et avada selle funktsiooni seadistusekraan.</p>

		<h3>DHCP aadressivahemik</h3>
		<p>Siin kuvatakse praegune DHCP aadressivahemik. Kõik reserveeritud IP-aadressid peavad jääma sellesse vahemikku.</p>

		<h2>Reserveeritud IP-aadresside tabel</h2>
		<p>Algselt on see tabel tühi ja peidetud. Tabelisse rea lisamiseks klõpsake nuppu Lisa reserveeritud IP. Lisage nii palju ridu kui vaja. Igal real on järgmised väljad.</p>

		<h3>Luba</h3>
		<p>Kasutage seda märkeruutu iga kirje (rea) lubamiseks või keelamiseks vastavalt vajadusele. Kui see on lubatud, seatakse valitud seadmele määratud IP-aadress. Kui see on keelatud, on IP-aadress saadaval mis tahes ühendatud seadme jaoks.</p>

		<h3>Seadme tüüp</h3>
		<p>Valige ühendatud seadme jaoks kõige sobivam suvand.</p>

		<h3>Seadme nimi</h3>
		<p>Soovi korral saate sisestada ühendatud seadme kirjeldava nime. Selle välja võib tühjaks jätta.</p>

		<h3>MAC-aadress</h3>
		<p>See väli on oluline. Sisestage ühendatud seadme MAC-aadress. Kui ühendatud seadmel on rohkem kui üks võrguliides (nt nii Wi-Fi kui Ethernet), sisestage liidese MAC-aadress, mida kasutatakse seadmega <tmpl_var _("webui", "webui_product_name")> ühenduse loomiseks.</p>

		<h3>IP-aadress</h3>
		<p>Sisestage IP-aadress, mille soovite sellele ühendatud seadmele määrata. IP-aadress peab jääma ülaltoodud DHCP-aadresside vahemikku.</p>

</div>
<!-- id="reserved_ip" -->
