<!-- Reserved IP Addresses -->
<div id="reserved_ip">
		<h1>Reservierte IP-Adressen</h1>

		<h2>Übersicht</h2>
		<p>Über diese Funktion können Sie sicherstellen, dass ein verbundenes Gerät vom <tmpl_var _("webui", "webui_product_name")> immer die gleiche IP-Adresse zugewiesen bekommt. Klicken Sie auf diese Schaltfläche, um den Einrichtungsbildschirm für diese Funktion aufzurufen.</p>

		<h3>DHCP-Adressbereich</h3>
		<p>Der aktuelle DHCP-Adressbereich wird hier angezeigt. Alle reservierten IP-Adressen müssen innerhalb dieses Bereichs liegen.</p>

		<h2>Tabelle der reservierten IP-Adressen</h2>
		<p>Zunächst ist diese Tabelle leer und ausgeblendet. Wenn Sie der Tabelle eine Zeile hinzufügen möchten, klicken Sie auf die Schaltfläche „Reservierte IP-Adresse hinzufügen“. Fügen Sie so viele Zeilen wie nötig hinzu. Jede Zeile hat die folgenden Felder.</p>

		<h3>Aktivieren</h3>
		<p>Verwenden Sie dieses Kontrollkästchen, um jeden Eintrag (Zeile) nach Bedarf zu aktivieren oder zu deaktivieren. Wenn aktiviert, wird die aufgeführte IP-Adresse dem angegebenen Gerät zugewiesen. Wenn deaktiviert, ist die IP-Adresse für jedes verbundene Gerät verfügbar.</p>

		<h3>Gerätetyp</h3>
		<p>Wählen Sie die für das verbundene Gerät am besten geeignete Option.</p>

		<h3>Gerätename</h3>
		<p>Falls gewünscht, können Sie einen beschreibenden Namen für das verbundene Gerät eingeben. Dieses Feld kann leer gelassen werden.</p>

		<h3>MAC-Adresse</h3>
		<p>Dieses Feld ist besonders wichtig. Geben Sie die MAC-Adresse des verbundenen Geräts ein. Wenn das verbundene Gerät über mehrere Netzwerkschnittstellen verfügt (z. B. sowohl WLAN als auch Ethernet), geben Sie die MAC-Adresse der Schnittstelle ein, die für die Verbindung mit dem <tmpl_var _("webui", "webui_product_name")> genutzt wird.</p>

		<h3>IP-Adresse</h3>
		<p>Geben Sie die IP-Adresse ein, die dem verbundenen Gerät zugewiesen werden soll. Die IP-Adresse muss innerhalb des oben angegebenen DHCP-Adressbereichs liegen.</p>

</div>
<!-- id="reserved_ip" -->
