<!-- Reserved IP Addresses -->
<div id="reserved_ip">
		<h1>Reserverade IP-adresser</h1>

		<h2>Översikt</h2>
		<p>Den här funktionen kan användas för att säkerställa att en ansluten enhet alltid tilldelas samma IP-adress av <tmpl_var _("webui", "webui_product_name")>. Klicka på den här knappen för att öppna konfigurationsskärmen för den här funktionen.</p>

		<h3>DHCP-adressintervall</h3>
		<p>Det nuvarande DHCP-adressintervallet visas här. Alla reserverade IP-adresser måste ligga inom detta intervall.</p>

		<h2>Tabell över reserverade IP-adresser</h2>
		<p>Till en början kommer denna tabell att vara tom och dold. För att lägga till en rad i den här tabellen, klicka på knappen ”Lägg till reserverad IP”. Lägg till så många rader som behövs. Varje rad har följande fält.</p>

		<h3>Aktivera</h3>
		<p>Använd den här kryssrutan för att aktivera eller inaktivera varje post (rad) efter behov. Om den är aktiverad tilldelas den specificerade IP-adressen till den specificerade enheten. Om den är inaktiverad är IP-adressen tillgänglig för alla anslutna enheter.</p>

		<h3>Enhetstyp</h3>
		<p>Välj det lämpligaste alternativet för den anslutna enheten.</p>

		<h3>Enhetsnamn</h3>
		<p>Om så önskas kan du ange ett beskrivande namn på den anslutna enheten. Det här fältet kan lämnas tomt.</p>

		<h3>MAC-adress</h3>
		<p>Detta fält är viktigt. Ange MAC-adressen för den anslutna enheten. Om den anslutna enheten har mer än ett nätverksgränssnitt (till exempel både Wi-Fi och Ethernet) anger du MAC-adressen för det gränssnitt som kommer att användas för att ansluta till <tmpl_var _("webui", "webui_product_name")>.</p>

		<h3>IP-adress</h3>
		<p>Ange den IP-adress som du vill ska tilldelas till den här anslutna enheten. Denna IP-adress måste ligga inom DHCP-adressintervallet som visas ovan.</p>

</div>
<!-- id="reserved_ip" -->
