<!-- Reserved IP Addresses -->
<div id="reserved_ip">
		<h1>عناوين IP المحجوزة</h1>

		<h2>نظرة عامة</h2>
		<p>يمكن استخدام هذه الميزة لضمان تخصيص جهاز متصل دائمًا لعنوان IP نفسه بواسطة <tmpl_var _("webui", "webui_product_name")>. انقر فوق هذا الزر للوصول إلى شاشة الإعداد لهذه الميزة.</p>

		<h3>نطاق عنوان DHCP</h3>
		<p>يتم عرض نطاق عنوان DHCP الحالي هنا. يجب أن تكون جميع عناوين IP المحجوزة ضمن هذا النطاق.</p>

		<h2>جدول عناوين IP المحجوز</h2>
		<p>في البداية سيكون هذا الجدول فارغًا ومخفيًا. لإضافة صف إلى هذا الجدول، انقر فوق الزر "إضافة عنوان IP محجوز". أضف أكبر عدد مطلوب من الصفوف. يحتوي كل صف على الحقول التالية.</p>

		<h3>تمكين</h3>
		<p>استخدم خانة الاختيار هذه لتمكين كل إدخال (صف) أو تعطيله حسب الحاجة. في حالة التمكين، سيتم تعيين عنوان IP المحدد للجهاز المحدد. في حالة التعطيل، يتوفر عنوان IP لأي جهاز متصل.</p>

		<h3>نوع الجهاز</h3>
		<p>حدد الخيار الأنسب للجهاز المتصل.</p>

		<h3>اسم الجهاز</h3>
		<p>إذا رغبت في ذلك، يمكنك إدخال اسم وصفي للجهاز المتصل. يمكن ترك هذا الحقل فارغًا.</p>

		<h3>عنوان MAC</h3>
		<p>هذا المجال ضروري. أدخل عنوان MAC الخاص بالجهاز المتصل. إذا كان الجهاز المتصل به أكثر من واجهة شبكة واحدة (على سبيل المثال، كل من Wi-Fi وEthernet)، فأدخل عنوان MAC للواجهة التي سيتم استخدامها للاتصال بـ <tmpl_var _("webui", "webui_product_name")>.</p>

		<h3>عنوان IP</h3>
		<p>أدخل عنوان IP الذي ترغب في تعيينه لهذا الجهاز المتصل. يجب أن يكون عنوان IP هذا ضمن نطاق عناوين DHCP الموضح أعلاه.</p>

</div>
<!-- id="reserved_ip" -->
