<!-- Reserved IP Addresses -->
<div id="reserved_ip">
		<h1>Reserverede IP-adresser</h1>

		<h2>Oversigt</h2>
		<p>Denne funktion kan bruges til at sikre, at en tilsluttet enhed altid tildeles den samme IP-adresse af <tmpl_var _("webui", "webui_product_name")>. Klik på denne knap for at få adgang til installationsskærmen for denne funktion.</p>

		<h3>DHCP-adresseinterval</h3>
		<p>Her vises det aktuelle DHCP-adresseinterval. Alle reserverede IP-adresser skal ligge inden for dette interval.</p>

		<h2>Reserveret IP-adressetabel</h2>
		<p>Til at begynde med vil denne tabel være tom og skjult. For at tilføje en række til denne tabel skal du klikke på knappen "Tilføj reserveret IP". Tilføj så mange rækker som nødvendigt. Hver række har følgende felter.</p>

		<h3>Aktivér</h3>
		<p>Brug dette afkrydsningsfelt til at aktivere eller deaktivere hver post (række) efter behov. Hvis det er aktiveret, tildeles den specificerede IP-adresse til den specificerede enhed. Hvis det er deaktiveret, er IP-adressen tilgængelig for enhver tilsluttet enhed.</p>

		<h3>Enhedstype</h3>
		<p>Vælg den bedst egnede mulighed for den tilsluttede enhed.</p>

		<h3>Enhedsnavn</h3>
		<p>Hvis du vil, kan du indtaste et beskrivende navn for den tilsluttede enhed. Dette felt kan være tomt.</p>

		<h3>Mac-adresse</h3>
		<p>Dette felt er vigtigt. Indtast Mac-adressen på den tilsluttede enhed. Hvis den tilsluttede enhed har mere end en netværksgrænseflade (for eksempel både Wi-Fi og Ethernet), skal du indtaste Mac-adressen på den grænseflade, der vil blive brugt til at oprette forbindelse til <tmpl_var _("webui", "webui_product_name")>.</p>

		<h3>IP-adresse</h3>
		<p>Indtast den IP-adresse, du vil blive tildelt til denne tilsluttede enhed. Denne IP-adresse skal være inden for DHCP-adresseområdet vist ovenfor.</p>
</div>
<!-- id="reserved_ip" -->
