<!-- Reserved IP Addresses -->
<div id="reserved_ip">
		<h1>予約済みIPアドレス</h1>

		<h2>概要</h2>
		<p>この機能を使用して、接続されたデバイスが<tmpl_var _("webui", "webui_product_name")>により割り当てられた IP アドレスと常に同じアドレスが割り当てられるようにすることができます。 このボタンをクリックして、この機能の設定画面にアクセスします。</p>

		<h3>DHCPアドレス範囲</h3>
		<p>現在のDHCPアドレス範囲がここに表示されます。 予約済みのすべてのIPアドレスは、この範囲内である必要があります。</p>

		<h2>予約済みIPアドレステーブル</h2>
		<p>最初、このテーブルは空で非表示になります。 このテーブルに行を追加するには、「予約済みIPの追加」ボタンをクリックします。 必要なだけ行を追加します。 各行には次のフィールドがあります。</p>

		<h3>有効にする</h3>
		<p>このチェックボックスを使用して、必要に応じて各エントリ（行）を有効または無効にします。 有効にすると、指定したIPアドレスが指定されたデバイスに割り当てられます。 無効にすると、IPアドレスは任意の接続済みのデバイスで使用できます。</p>

		<h3>デバイスタイプ</h3>
		<p>接続するデバイスに最適なオプションを選択してください。</p>

		<h3>デバイス名</h3>
		<p>必用に応じて、接続したデバイスの記述名を入力できます。 このフィールドは空白のままにすることができます。</p>

		<h3>MACアドレス</h3>
		<p>このフィールドは必須です。 接続済みのデバイスのMACアドレスを入力します。 接続されたデバイスに複数のネットワークインターフェイス（たとえば、Wi-Fiとイーサネットの両方）がある場合は、 <tmpl_var _("webui", "webui_product_name")>への接続に使用されるインターフェイスのMACアドレスを入力してください。</p>

		<h3>IPアドレス</h3>
		<p>この接続されたデバイスに割り当てるIPアドレスを入力します。 このIPアドレスは、上記のDHCPアドレス範囲内にある必要があります。</p>


</div>
<!-- id="reserved_ip" -->
