<!-- Reserved IP Addresses -->
<div id="reserved_ip">
		<h1>Adresses IP réservées</h1>

		<h2>Vue d’ensemble</h2>
		<p>Cette fonctionnalité peut être utilisée pour garantir qu’un appareil connecté se verra toujours attribuer la même adresse IP par le <tmpl_var _("webui", "webui_product_name")>. Cliquez sur ce bouton pour accéder à l’écran de configuration de cette fonctionnalité.</p>

		<h3>Plage d’adresses DHCP</h3>
		<p>La plage d’adresses DHCP actuelle est affichée ici. Toutes les adresses IP réservées doivent se situer dans cette plage.</p>

		<h2>Tableau des adresses IP réservées</h2>
		<p>Au départ, ce tableau sera vide et masqué. Pour ajouter une ligne à ce tableau, cliquez sur le bouton « Ajouter une adresse IP réservée ». Ajoutez autant de lignes que nécessaire. Chaque ligne comporte les champs suivants.</p>

		<h3>Activer</h3>
		<p>Utilisez cette case à cocher pour activer ou désactiver chaque entrée (ligne) selon vos besoins. Si elle est activée, l’adresse IP spécifiée sera attribuée à l’appareil spécifié. Si elle est désactivée, l’adresse IP est disponible pour tout appareil connecté.</p>

		<h3>Type d’appareil</h3>
		<p>Sélectionnez l’option la plus appropriée pour l’appareil connecté.</p>

		<h3>Nom de l’appareil</h3>
		<p>Si vous le souhaitez, vous pouvez entrer un nom descriptif pour l’appareil connecté. Ce champ peut être laissé vide.</p>

		<h3>Adresse MAC</h3>
		<p>Ce champ est essentiel. Saisissez l’adresse MAC de l’appareil connecté. Si l’appareil connecté possède plusieurs interfaces réseau (par exemple, à la fois Wi-Fi et Ethernet), saisissez l’adresse MAC de l’interface qui sera utilisée pour se connecter au <tmpl_var _("webui", "webui_product_name")>.</p>

		<h3>Adresse IP</h3>
		<p>Saisissez l’adresse IP que vous souhaitez attribuer à cet appareil connecté. Cette adresse IP doit se trouver dans la plage d’adresses DHCP indiquée ci-dessus.</p>

</div>
<!-- id="reserved_ip" -->
