'<option class="Unknown unknown" value="unknown" <tmpl_if IN_SET(item.deviceType, "unknown")>selected="selected"</tmpl_if>><tmpl_var _("webui", "webui_device_type_unknown_text")></option>'+
'<option class="Desktop desktop" value="desktop" <tmpl_if IN_SET(item.deviceType, "desktop")>selected="selected"</tmpl_if>><tmpl_var _("webui", "webui_device_type_computer_text")></option>'+
'<option class="Tablet tablet" value="tablet" <tmpl_if IN_SET(item.deviceType, "tablet")>selected="selected"</tmpl_if>><tmpl_var _("webui", "webui_device_type_handheld_text")></option>'+
'<option class="Other other" value="other" <tmpl_if IN_SET(item.deviceType, "other")>selected="selected"</tmpl_if>><tmpl_var _("webui", "webui_device_type_other_text")></option>'
