<tmpl_if isHidden>
	<div class="notification app error">
		<tmpl_var _("webui", "webui_app_hidden_text")>
	</div>
<tmpl_else>
        <script type="text/javascript">
                /* <![CDATA[ */

                if ("<tmpl_var reboot>" === "true") {
                        window.location = "<tmpl_udf GET_URI('restarting')>";
                }

                var MaxAllowedDevices = "<tmpl_var MaxAllowedDevices>";
                var MaxAllowedDevicesPerSave = "<tmpl_var MaxAllowedDevicesPerSave>";
                var isPopupExists = false;

                $(function()
                {
			<tmpl_if dhcpEnabled>
				$("#AddReservedIP").prop("disabled", false);
			<tmpl_else>				
				$("#AddReservedIP").prop("disabled", true);
			</tmpl_if>			

                        var addButtonClickCount = 0;
                        var NoOfReserveIPInfoRow =  $("tr.reserveIPInfoRow").length;

                        if(NoOfReserveIPInfoRow == 0) {
                            $("#saveChanges").hide();
                        } else {
			    $("#saveChanges").show();
			}

                        if(NoOfReserveIPInfoRow >= MaxAllowedDevices) {
                                $("#AddReservedIP").prop("disabled", true);
                        }

                        <tmpl_if ReservedIPAddDeviceShow>
                                <tmpl_unless ReservedIPAddDeviceLocked>
                                //Add a new reserved IP
                                        $("#AddReservedIP").on("click", function() {
                                                addButtonClickCount = addButtonClickCount + 1;
                                                $("#ReservedIPAddrTable thead").show();
                                                $("#ReservedIPAddrTableNoRows").hide();
                                                var numReservedIPs = $("tr.reserveIPInfoRow").length;
                                                var rowID = numReservedIPs + 1;
						$("#reservedIPAddressCount").val(rowID);
                                                var Row = $('<tr id="reserveIPInfoRow' + rowID + '" class="dyn reserveIPInfoRow"></tr>');                
                                                <tmpl_if ShowDeviceType>
                                                        Row.append('<td class="deviceType" id="deviceTypeIndex' + rowID + '">' +
                                                                '<select class="deviceType" name="deviceTypeIndex' + rowID + '" id="devicTypeIndex' + rowID + '">' + <tmpl_include "supported_devices_options.tmpl"> + '</select></td>');
                                                </tmpl_if>    
                                                Row.append('<td class="deviceName">' +
                                                        '<input type="text" value="" name="deviceNameIndex' + rowID + '" maxlength="256" id="deviceNameIndex' + rowID + '" class="reservedIpDeviceName  text" />  <p class="error" id="hostNameErrorId'+ rowID + '"</td>');
                                                Row.append('<td class="macAddressColumn">' +
                                                        '<input type="text" value="" name="macAddressIndex' + rowID + '" id="macAddressIndex' + rowID + '" /> <p class="error" id="macAddressErrorId'+ rowID + '"</td>');
                                                Row.append('<td class="ipaddress current">' +
                                                        '<div name="currentIPAddressIndex' + rowID + '" id="currentIPAddressIndex' + rowID + '" /></td>');
                                                Row.append('<td class="checkbox">' +
                                                        '<input type="checkbox" id="reservedIpIndex' + rowID + '" name="reservedIpIndex' + rowID + '" checked="checked" onchange="handleReserveIpChange(<tmpl_var (item.__index__ + 1)>)" /></td>');
                                                Row.append('<td class="ipaddress reserved">' +
                                                        '<input type="text" value="" name="reservedIPAddressIndex' + rowID + '" id="reservedIPAddressIndex' + rowID + '" /> <p class="error" id="ipAddressErrorId'+ rowID + '"</td>');

                                                // Add uniform to Select And Checkbox.
                                                if (jQuery.uniform) {
                                                        // This is for uniform 1 and uniform 2 compatibility.
                                                        var uniformOptions = (typeof $.uniform.options !== "undefined") ? $.uniform.options : $.uniform.defaults;
                                                        if (uniformOptions.filter) {
                                                                Row.find(uniformOptions.filter).uniform();
                                                        }
                                                }

                                                $("#ReservedIPAddrTable").append(Row);
                                                if (rowID) $("#saveChanges").show();

                                                if ((addButtonClickCount >= MaxAllowedDevicesPerSave) || ($("tr.reserveIPInfoRow").length >= MaxAllowedDevices)) {
                                                        $("#AddReservedIP").prop("disabled", true);
                                                }
                                                NoOfReserveIPInfoRow = rowID;
                                        });
                                </tmpl_unless>
                        </tmpl_if>

			$("#changeLink").click(function() {
				window.location.href = "<tmpl_udf GET_URI('lan')>";
			});
			$("#SaveChangesText").html('');

                        $("#reservedIPAddressForm").on("submit", function(e) {
                            event.preventDefault();
                            modalPopup.createWindow(
                                '<tmpl_var _("webui", "adv_reserved_ip_title")>',
                                '<p><tmpl_udf GET_PO_TEXT("adv_reserved_ip_confirm_modal_restart_text", gProductName)></p>',
                                730, 300,
                                [
                                    {
                                        text : '<tmpl_var _("webui", "webui_modal_confirm_button")>',
                                        className : "primary",
                                        trigger : function() {
                                            e.preventDefault(); // avoid to execute the actual submit of the form.
                                            $.statusBar("stop");
                                            notifications.stopPolling();

                                            var form = $("#reservedIPAddressForm"); //$(this);
                                            var url = "<tmpl_udf GET_URI('reserved_ip_save_changes')>";
                                            var i=0;
                                            // clear the previous errors if any
                                            while (i < NoOfReserveIPInfoRow) {
                                                index = i+1;
                                                var id = "#ipAddressErrorId"+index;
                                                $(id).html('').hide();
                                                id = "#macAddressErrorId"+index;
                                                $(id).html('').hide();
                                                id = "#hostNameErrorId"+index;
                                                $(id).html('').hide();
                                                i=i+1;
                                            }
                                            $.ajax({
                                                type: "POST",
                                                url: url,
                                                data: form.serialize(), // serializes the form's elements.
                                                success: function(data, textStatus, xhr)
                                                {
                                                    $("#SaveChangesText").removeClass("notification app error");
                                                    $("#SaveChangesText").addClass("notification app success").html("<tmpl_var _('webui', 'webui_save_code_success_text')>").show();

                                                    if (data.reboot == "true") {
                                                        checkServerAliveStatus();
                                                        //setTimeout(pingServer, 5000);
                                                    }
                                                },
                                                error: function(xhr)
                                                {
                                                    $("#SaveChangesText").addClass("notification app error").html("<tmpl_var _('webui', 'webui_save_code_failed_text')>").show();
                                                    var obj = jQuery.parseJSON(xhr.responseText || "null");
                                                    var reserevdIpAddressList = obj.reservedIpAddresses;
                                                    if (reserevdIpAddressList != "undefined")
                                                        reserevdIpAddressList.forEach (handleValidationErrors);
                                                },
                                                complete: function(xhr)
                                                {
                                                }
                                            });
                                        }
                                    },
                                    {
                                        text : '<tmpl_var _("webui", "webui_modal_cancel_button")>',
                                        className : "cancel",
                                    }
                                ]
                            );
                        });
                });

				function pingServer() {
					$.ajax({
						type: "GET",
						url: "<tmpl_udf GET_URI('reserved_ip_ping_server')>",
						dataType : "json",
						success: function () {
							setTimeout(function() {
								if (isPopupExists) {
									isPopupExists = false;
									modalPopup.destroyWindow();
								}
								window.location = "<tmpl_udf GET_URI('restarting')>";
							}, 10000);
						},
						error: function(xhr) {
							if ((xhr.readyState == 4 ) && (xhr.status == 200)) {
								setTimeout(function() {
									if (isPopupExists) {
										isPopupExists = false;
										modalPopup.destroyWindow();
									}
									window.location = "<tmpl_udf GET_URI('restarting')>";
								}, 10000);
							}
							if (isPopupExists) {
								setTimeout(pingServer, 2000);
							}
						}
					})
				}

				function checkServerAliveStatus(bool)
				{
					var title = null;
					var content = "<div id='reservedIpSpinnerTable'></div>";
					var width = 450;
					var height = 300;
					var btns = null;
					var close = null;
					var closeOnEsc = false;

					var open = function() {
						$(".ui-dialog-titlebar-close").hide();
						$("#reservedIpSpinnerTable").append("<div id='reservedIpSpinnerTableInner'></div>");
						isPopupExists = true;
						var tableRow = $("<div id='reservedIpSpinner'>");

						tableRow.append(
							"<div class='row'>" +
								"<div class='ig_icn_lg ig_loading'></div>" +
								"<p><tmpl_var _('webui', 'adv_reserved_ip_reboot_text')></p>" +
								"</div>"
						);
						tableRow.append("</div>");

						$("#reservedIpSpinnerTableInner").append(tableRow);

						setTimeout(function() {
							if(isPopupExists) {
								isPopupExists = false;
								modalPopup.destroyWindow();
								failureWindow();
								$.statusBar("start");
								notifications.startPolling();
							}
						}, 50000);
					};

					modalPopup.createWindow(title, content, width, height, btns, open, close, closeOnEsc);
					setTimeout(pingServer, 30000);
				}

				function failureWindow()
				{
					var title = null;
					var content = "<div id='reservedIpSpinnerTable'></div>";
					var width = 450;
					var height = 300;
					var btns = null;
					var close = null;
					var closeOnEsc = false;

					var open = function() {
					$(".ui-dialog-titlebar-close").hide();
						$("#reservedIpSpinnerTable").append("<div id='reservedIpSpinnerTableInner'></div>");

						var tableRow = $("<div id='reservedIpSpinner'>");

						tableRow.append(
								"<div class='row'>" +
								"<div class='ig_icn_lg ig_failure'></div>" +
								"<p><tmpl_var _('webui', 'adv_reserved_id_ping_server_failure_text')></p>" +
								"</div>" +
								"<button type='button' id='failureOkButton' class='primary' onclick='window.location.reload();'>" +
										"<tmpl_var _('webui', 'webui_modal_ok_button')>" +
								"</button>"
						);

						tableRow.append("</div>");

						$("#reservedIpSpinnerTableInner").append(tableRow);
					};
					modalPopup.createWindow(title, content, width, height, btns, open, close, closeOnEsc);
				}

				function handleValidationErrors(item, _index)
				{
					var index = _index+1;
					if (item.ipAddressError != "undefined") {
						 var id = "#ipAddressErrorId"+index;
						 $(id).html(item.ipAddressError).show();
					}
					if (item.macAddressError != "undefined") {
						var id = "#macAddressErrorId"+index;
						 $(id).html(item.macAddressError).show();
						 }
					if (item.hostNameError != "undefined") {
						var id = "#hostNameErrorId"+index;
						 $(id).html(item.hostNameError).show();
					}
				}

                function handleReserveIpChange(index) 
                {
                        if ($("#reservedIpIndex" + index).is(":checked")) {
                                $("#reservedIPAddressIndex" + index).prop("disabled", false);
                                if ((!$("#reserveIPInfoRow" + index).hasClass('dyn')) && ($("#reservedIPAddressDeletedIndex" + index).length > 0)) {
                                        $("#reservedIPAddressDeletedIndex" + index).remove();
                                }
                        } else {
                                if (!$("#reserveIPInfoRow" + index).hasClass('dyn')) {
                                        var reservedIp = $("#reservedIPAddressIndex" + index).val();
                                        var item = '<input type="hidden" name="reservedIPAddressDeletedIndex' + index +'" id="reservedIPAddressDeletedIndex' + index + '" value="' + reservedIp + '" />';
                                        $("#reserveIPInfoRow" + index).append(item);
                                }
                                $("#reservedIPAddressIndex" + index).prop("disabled", true);
                        }
                }

                /* ]]> */
        </script>

<tmpl_if isLocked>
	<div class="notification app error">
		<tmpl_var _("webui", "webui_app_locked_text")>
	</div>
</tmpl_if>


<div id="pageHeadRow" class="clearfix">
	<div id="pageHeadCol">
		<h1 class="pageHead settings"><tmpl_var _("webui", "settings_group_title_text")></h1>
	</div>
	<a title='<tmpl_if parent.pageTitle><tmpl_var parent.pageTitle><tmpl_else><tmpl_var parent.title></tmpl_if> <tmpl_var _("webui", "tabs_help_word")>' class="helpLink parent" href="<tmpl_var gHelpURL>"></a>
</div>
	
<div id="SaveChangesText">
</div>	

        <tmpl_if errorCount>
            <div class="notification app error">
                <div class="notification_inner">
                    <p>
                        <tmpl_var _("webui", "webui_save_code_failed_text")>
                    </p>
                </div>
            </div>
        </tmpl_if>

        <tmpl_if gPostSuccess>
            <div class="notification app success">
                <div class="notification_inner" id="successMsg">
                    <p>
                        <tmpl_var _("webui", "webui_save_code_success_text")>
                    </p>
                </div>
            </div>
        </tmpl_if>

	<h2><tmpl_var _("webui", "adv_reserved_ip_title")></h2>
        <p class="note"><tmpl_var _("webui", "adv_reserved_ip_intro")></p>
        <form id="reservedIPAddressForm" method="POST" action="<tmpl_udf GET_URI('reserved_ip')>">
                <input type="hidden" name="gSecureToken" id="gSecureToken" value="<tmpl_var gSecureToken>" />
		<input type="hidden" name="reservedIPAddressCount" id="reservedIPAddressCount" value="<tmpl_var reservedIPAddressCount>" />

                <fieldset id ="reservedIpField" class="first">                     
                        <div class="table">
                            <div class="row clearfix">
                                <div class="col label">
                                    <tmpl_var _("webui", "adv_reserved_ip_dhcp_range_label")>
                                </div>
                                <div class="col textCol">
                                    <tmpl_var dhcpRangeBegin>&nbsp;<tmpl_var _("webui", "webui_tilde_symbol")>&nbsp;<tmpl_var dhcpRangeEnd>
                                </div>
                            </div>
                        </div><!-- /.table -->

                        <h2 class="sectionHead"><tmpl_var _("webui", "adv_reserved_ip_connected_devices_sub_header_text")></h2>
                        <table id="ReservedIPAddrTable" class="devicesTable">
                                <colgroup>
                                        <tmpl_if ShowDeviceType>
                                                <col class="deviceTypeColumn" />
                                        </tmpl_if>
                                        <col class="deviceName" />
                                        <col class="macAddressColumn" />
                                        <col class="ipaddress" /> <!-- current IP address -->
                                        <col class="checkbox" />
                                        <col class="ipaddress" /> <!-- Reserved IP address -->
                                </colgroup>
                                <thead<tmpl_unless reservedIpAddresses> style="display:none;"</tmpl_unless>>
                                        <tr>
                                                <tmpl_if ShowDeviceType>
                                                        <th class="deviceTypeColumn"><tmpl_var _("webui", "adv_reserved_ip_device_type_label")></th>
                                                </tmpl_if>
                                                <th class="deviceName"><tmpl_var _("webui", "adv_reserved_ip_device_name_label")></th>
                                                <th class="macAddressColumn"><tmpl_var _("webui", "adv_reserved_ip_device_mac_label")></th>
                                                <th class="ipaddress"><tmpl_var _("webui", "adv_reserved_ip_current_ipaddress_label")></th>
                                                <th class="checkbox"><tmpl_var _("webui", "adv_reserved_ip_reserve_label")></th>
                                                <th class="ipaddress"><tmpl_var _("webui", "adv_reserved_ip_reserved_ipaddress_label")></th>
                                        </tr>
                                </thead>
                                <tbody>
                                        <tmpl_if reservedIpAddresses>
                                                <tmpl_foreach reservedIpAddresses as item>
                                                        <tmpl_if item.reservedIPAddressAddedIndex>
                                                                <tr class="dyn reserveIPInfoRow<tmpl_if item.reserveIPInfoRowError> error</tmpl_if>" id="reserveIPInfoRow<tmpl_var (item.__index__ + 1)>">
                                                        <tmpl_else>
                                                                <tr class="deviceInformationRow reserveIPInfoRow<tmpl_if item.reserveIPInfoRowError> error</tmpl_if>" id="reserveIPInfoRow<tmpl_var (item.__index__ + 1)>">
                                                        </tmpl_if>
                                                        <tmpl_if item.reservedIPAddressDeletedIndex>
                                                                <input type="hidden" name="reservedIPAddressDeletedIndex<tmpl_var (item.__index__ + 1)>" id="reservedIPAddressDeletedIndex<tmpl_var (item.__index__ + 1)>" value="<tmpl_var item.reservedIPaddress>" />
                                                        </tmpl_if>
                                                        <tmpl_unless item.reservedIPAddressAddedIndex>
                                                                <input type="hidden" name="reservedIPAddressKnownIndex<tmpl_var (item.__index__ + 1)>" id="reservedIPAddressKnownIndex<tmpl_var (item.__index__ + 1)>" value="<tmpl_var item.deviceType>;<tmpl_var item.reservedIpDeviceName>;<tmpl_var item.reservedIPMacAddress>" />
                                                        </tmpl_unless>

                                                        <tmpl_if ShowDeviceType>
                                                                <td class="deviceTypeColumn">
                                                                        <select class="deviceType" id="deviceTypeIndex<tmpl_var (item.__index__ + 1)>" name="deviceTypeIndex<tmpl_var (item.__index__ + 1)>">
                                                                        <tmpl_include "supported_devices_options.tmpl">
                                                                        </select>
                                                                </td>
                                                        </tmpl_if>
                                                        <td class="deviceName">
                                                                <input type="text" maxlength="24" id="deviceNameIndex<tmpl_var (item.__index__ + 1)>" name="deviceNameIndex<tmpl_var (item.__index__ + 1)>" value="<tmpl_var item.reservedIpDeviceName>"<tmpl_if item.hostNameError> class="error"</tmpl_if> />
                                                                <tmpl_if item.hostNameError>
                                                                        <p class="error"><tmpl_var item.hostNameError></p>
                                                                </tmpl_if>
                                                                <p class="error" id="hostNameErrorId<tmpl_var (item.__index__ + 1)>"></p>
                                                        </td>

                                                        <td class="macAddressColumn">
                                                                <tmpl_if item.reservedIPAddressAddedIndex>
                                                                        <input id="macAddressIndex<tmpl_var (item.__index__ + 1)>" name="macAddressIndex<tmpl_var (item.__index__ + 1)>" value="<tmpl_var item.reservedIPMacAddress>"<tmpl_if item.macAddressError> class="error"</tmpl_if>/>
                                                                <tmpl_else>
                                                                        <div><tmpl_var item.reservedIPMacAddress></div>
                                                                </tmpl_if>
                                                                <tmpl_if item.macAddressError>
                                                                        <p class="error"><tmpl_var item.macAddressError></p>
                                                                </tmpl_if>
                                                                <p class="error" id="macAddressErrorId<tmpl_var (item.__index__ + 1)>"></p>
                                                        </td>

                                                        <td class="ipaddress current"> <!-- current IP Address -->
                                                                <input type="hidden" id="currentIPAddressIndex<tmpl_var (item.__index__ + 1)>" name="currentIPAddressIndex<tmpl_var (item.__index__ + 1)>" value="<tmpl_var item.currentIPAddress>"/>
                                                                <div><tmpl_var item.currentIPAddress></div>
                                                        </td>

                                                        <td class="checkbox">
                                                                <tmpl_if item.reservedIPAddressDeletedIndex>
                                                                        <input type="checkbox" name="reservedIpIndex<tmpl_var (item.__index__ + 1)>" id="reservedIpIndex<tmpl_var (item.__index__ + 1)>" onchange="handleReserveIpChange(<tmpl_var (item.__index__ + 1)>)" />
                                                                <tmpl_elsif item.reservedIPAddressAddedIndex>
                                                                        <input type="checkbox" name="reservedIpIndex<tmpl_var (item.__index__ + 1)>" id="reservedIpIndex<tmpl_var (item.__index__ + 1)>" onchange="handleReserveIpChange(<tmpl_var (item.__index__ + 1)>)" checked="checked" />
                                                                <tmpl_else>
                                                                        <input type="checkbox" name="reservedIpIndex<tmpl_var (item.__index__ + 1)>" id="reservedIpIndex<tmpl_var (item.__index__ + 1)>"  onchange="handleReserveIpChange(<tmpl_var (item.__index__ + 1)>)" <tmpl_if item.ipAddressError>checked="checked"<tmpl_else><tmpl_unless IN_SET(item.reservedIPaddress,"")>checked="checked"</tmpl_unless></tmpl_if> />
                                                                </tmpl_if>
                                                        </td>

                                                        <td class="ipaddress reserved"> <!-- reserved IP Address -->
                                                                <tmpl_if item.reservedIPAddressDeletedIndex>
                                                                        <input id="reservedIPAddressIndex<tmpl_var (item.__index__ + 1)>" name="reservedIPAddressIndex<tmpl_var (item.__index__ + 1)>" value="<tmpl_var item.reservedIPaddress>" disabled="disabled"/>
                                                                <tmpl_elsif item.reservedIPAddressAddedIndex>
                                                                        <input id="reservedIPAddressIndex<tmpl_var (item.__index__ + 1)>" name="reservedIPAddressIndex<tmpl_var (item.__index__ + 1)>" value="<tmpl_var item.reservedIPaddress>" />
                                                                <tmpl_else>
                                                                        <input id="reservedIPAddressIndex<tmpl_var (item.__index__ + 1)>" name="reservedIPAddressIndex<tmpl_var (item.__index__ + 1)>" value="<tmpl_var item.reservedIPaddress>" <tmpl_if item.ipAddressError>class="error"<tmpl_else><tmpl_if IN_SET(item.reservedIPaddress,"")>disabled="disabled"</tmpl_if></tmpl_if> />
                                                                </tmpl_if>
                                                                <tmpl_if item.ipAddressError>
                                                                        <p class="error"><tmpl_var item.ipAddressError></p>
                                                                </tmpl_if>
                                                                <p class="error" id="ipAddressErrorId<tmpl_var (item.__index__ + 1)>"></p>
                                                        </td>
                                                </tmpl_foreach>
                                        <tmpl_else>
                                                <tr id="ReservedIPAddrTableNoRows">
                                                        <td colspan="6">
                                                                <p><tmpl_var _("webui", "adv_reserved_ip_no_devices_msg")></p>
                                                        </td>
                                                </tr>
                                        </tmpl_if>
                                </tbody>
                        </table>                        
                </fieldset>

                <div class="button_container clearfix" id="buttonsPanel">
                        <tmpl_if ReservedIPAddDeviceShow>
			<button type="button" id="AddReservedIP" class="secondary" <tmpl_if ReservedIPAddDeviceLocked>disabled="disabled</tmpl_if> <tmpl_if isLocked> disabled="disabled"</tmpl_if> <tmpl_if showIPPTEnable> disabled="disabled"</tmpl_if>> <tmpl_var _("webui", "adv_reserved_ip_add_reserved_ip_button")> </button>
                        </tmpl_if>
			<button type="submit" id="saveChanges" class="primary" name="saveChanges" style="display:none;" <tmpl_if isLocked> disabled="disabled"</tmpl_if> <tmpl_if showIPPTEnable> disabled="disabled"</tmpl_if>> <tmpl_var _("webui", "webui_save_button")> </button>
			<button type="button" id="changeLink" class="secondary" <tmpl_if isLocked> disabled="disabled"</tmpl_if>> <tmpl_var _("webui", "adv_reserved_ip_return_to_lan_button")> </button>
		</div>
        </form>
</tmpl_if><!-- isHidden -->
