<!-- Reserved IP Addresses -->
<div id="reserved_ip">
		<h1>Direcciones IP reservadas</h1>

		<h2>Descripción general</h2>
		<p>Esta función se puede utilizar para garantizar que el <tmpl_var _("webui", "webui_product_name")> siempre le asignará la misma dirección IP a un dispositivo conectado. Haga clic en este botón para acceder a la pantalla de configuración de esta función.
		</p>

		<h3>Rango de dirección DHCP</h3>
		<p>Aquí se muestra el rango de dirección DHCP actual. Todas las direcciones IP reservadas deben estar dentro de este rango.
		</p>

		<h2>Tabla de direcciones IP reservadas</h2>
		<p>Inicialmente, esta tabla estará vacía y oculta. Para agregar una fila a esta tabla, haga clic en el botón “Agregar IP reservada”. Agregue las filas que sean necesarias. Cada fila tiene los siguientes campos.
		</p>

		<h3>Habilitar</h3>
		<p>Utilice esta casilla de verificación para habilitar o deshabilitar cada entrada (fila) según sea necesario. Si está habilitada, la dirección IP especificada se asignará al dispositivo especificado. Si está deshabilitada, la dirección IP está disponible para cualquier dispositivo conectado.
		</p>

		<h3>Nombre del dispositivo</h3>
		<p>Si lo desea, puede ingresar un nombre descriptivo para el dispositivo conectado. Este campo se puede dejar en blanco.
		</p>

		<h3>Nombre del dispositivo</h3>
		<p>Si lo desea, puede ingresar un nombre descriptivo para el dispositivo conectado. Este campo se puede dejar en blanco.
		</p>

		<h3>Dirección MAC</h3>
		<p>Este campo es fundamental. Ingrese la dirección MAC del dispositivo conectado. Si el dispositivo conectado tiene más de una interfaz de red (por ejemplo, Wi-Fi y Ethernet), ingrese la dirección MAC de la interfaz que se utilizará para conectarse al <tmpl_var _("webui", "webui_product_name")>.
		</p>

		<h3>Dirección IP</h3>
		<p>Ingrese la dirección IP que desea que se le asigne a este dispositivo conectado. Esta dirección IP debe estar dentro del rango de dirección DHCP que se muestra arriba.
		</p>
		
</div>
<!-- id="reserved_ip" -->