<!-- Reserved IP Addresses -->
<div id="reserved_ip">
		<h1>Varatut IP-osoitteet</h1>

		<h2>Yleiskatsaus</h2>
		<p>Tätä ominaisuutta voidaan käyttää varmistamaan, että <tmpl_var _("webui", "webui_product_name")> määrittää yhdistetylle laitteelle aina saman IP-osoitteen. Tätä painiketta napsauttamalla pääset tämän ominaisuuden asetusnäyttöön.</p>

		<h3>DHCP-osoitealue</h3>
		<p>Nykyinen DHCP-osoitealue näkyy tässä. Kaikkien varattujen IP-osoitteiden on oltava tällä alueella.</p>

		<h2>Varattujen IP-osoitteiden taulukko</h2>
		<p>Aluksi tämä taulukko on tyhjä ja piilossa. Voit lisätä rivin tähän taulukkoon napsauttamalla ”Add Reserved IP” (Lisää varattu IP) -painiketta. Lisää niin monta riviä kuin tarvitset. Jokaisella rivillä on seuraavat kentät.</p>

		<h3>Ota käyttöön</h3>
		<p>Tämän valintaruudun avulla voit ottaa käyttöön tai poistaa käytöstä kunkin syötteen (rivin) tarpeen mukaan. Jos tämä on käytössä, määritetty IP-osoite annetaan määritetylle laitteelle. Jos tämä on pois käytöstä, IP-osoite on käytettävissä kaikille yhdistetyille laitteille.</p>

		<h3>Laitteen tyyppi</h3>
		<p>Valitse yhdistetylle laitteelle sopivin vaihtoehto.</p>

		<h3>Laitteen nimi</h3>
		<p>Voit halutessasi antaa yhdistetylle laitteelle kuvaavan nimen. Tämä kenttä voidaan jättää tyhjäksi.</p>

		<h3>MAC-osoite</h3>
		<p>Tämä kenttä on välttämätön. Syötä yhdistetyn laitteen MAC-osoite. Jos yhdistetyllä laitteella on useampi kuin yksi verkkoliittymä (esimerkiksi sekä Wi-Fi että Ethernet), syötä sen liittymän MAC-osoite, jota käytetään muodostettaessa yhteys <tmpl_var _("webui", "webui_product_name")>-laitteeseen.</p>

		<h3>IP-osoite</h3>
		<p>Syötä IP-osoite, jonka haluat annettavan tälle yhdistetylle laitteelle. IP-osoitteen on oltava yllä esitetyn DHCP-osoitealueen sisällä.</p>

</div>
<!-- id="reserved_ip" -->
