<!-- Reserved IP Addresses -->
<div id="reserved_ip">
		<h1>Reserverte IP-adresser</h1>

		<h2>Oversikt</h2>
		<p>Denne funksjonen kan brukes til å sikre at en tilkoblet enhet alltid tildeles den samme IP-adressen av <tmpl_var _("webui", "webui_product_name")>. Klikk på denne knappen for å få tilgang til konfigurasjonsskjermen for denne funksjonen.</p>

		<h3>DHCP-adresseområde</h3>
		<p>Her vises det gjeldende DHCP-adresseområdet. Alle reserverte IP-adresser må være innenfor dette området.</p>

		<h2>Tabell over reserverte IP-adresser</h2>
		<p>Opprinnelig vil denne tabellen være tom og skjult. Hvis du vil legge til en rad i denne tabellen, klikker du på knappen «Legg til reservert IP». Legg til så mange rader du trenger. Hver rad har følgende felt.</p>

		<h3>Aktiver</h3>
		<p>Bruk denne avkryssingsruten for å aktivere eller deaktivere hver oppføring (rad) etter behov. Hvis den er aktivert, vil den angitte IP-adressen tilordnes den spesifiserte enheten. Hvis den er deaktivert, er IP-adressen tilgjengelig for alle tilkoblede enheter.</p>

		<h3>Enhetstype</h3>
		<p>Velg det mest passende alternativet for den tilkoblede enheten.</p>

		<h3>Enhetsnavn</h3>
		<p>Hvis ønskelig, kan du oppgi et beskrivende navn for den tilkoblede enheten. Dette feltet kan være tomt.</p>

		<h3>MAC-adresse</h3>
		<p>Dette feltet er viktig. Angi MAC-adressen til den tilkoblede enheten. Hvis den tilkoblede enheten har mer enn ett nettverksgrensesnitt (for eksempel både wifi og ethernet), må du angi du MAC-adressen til grensesnittet som skal brukes til å koble til <tmpl_var _("webui", "webui_product_name")>.</p>

		<h3>IP-adresse</h3>
		<p>Angi IP-adressen du ønsker å tilordne til denne tilkoblede enheten. Denne IP-adressen må være innenfor DHCP-adresseområdet som er vist ovenfor.</p>


</div>
<!-- id="reserved_ip" -->
