<!-- Reserved IP Addresses -->
<div id="reserved_ip">
		<h1>Indirizzi IP riservati</h1>

		<h2>Panoramica</h2>
		<p>Questa funzione può essere utilizzata per garantire che il <tmpl_var _("webui", "webui_product_name")> assegni sempre lo stesso indirizzo IP a un dispositivo connesso. Fai clic su questo pulsante per accedere alla schermata di configurazione di questa funzione.</p>

		<h3>Intervallo di indirizzi DHCP</h3>
		<p>L&#39;intervallo di indirizzi DHCP corrente viene visualizzato qui. Tutti gli indirizzi IP riservati devono rientrare in questo intervallo.</p>

		<h2>Tabella indirizzi IP riservati</h2>
		<p>Inizialmente questa tabella sarà vuota e nascosta. Per aggiungere una riga a questa tabella, fai clic sul pulsante "Aggiungi IP riservato". Aggiungi tutte le righe necessarie. Ogni riga è composta dai seguenti campi.</p>

		<h3>Abilita</h3>
		<p>Utilizza questa casella di controllo per abilitare o disabilitare ciascuna voce (riga) in base alle proprie esigenze. Se abilitato, l&#39;indirizzo IP specificato verrà assegnato al relativo dispositivo. Se disabilitato, l&#39;indirizzo IP è disponibile per qualsiasi dispositivo connesso.</p>

		<h3>Tipo di dispositivo</h3>
		<p>Seleziona l&#39;opzione più adatta per il dispositivo connesso.</p>

		<h3>Nome del dispositivo</h3>
		<p>Se lo desideri, puoi inserire un nome descrittivo per il dispositivo connesso. Questo campo può essere lasciato vuoto.</p>

		<h3>Indirizzo MAC</h3>
		<p>Questo campo è essenziale. Inserisci l&#39;indirizzo MAC del dispositivo connesso. Se il dispositivo connesso dispone di più interfacce di rete (ad esempio, Wi-Fi e Ethernet), inserisci l&#39;indirizzo MAC dell&#39;interfaccia che verrà utilizzata per connettersi al <tmpl_var _("webui", "webui_product_name")>.</p>

		<h3>Indirizzo IP</h3>
		<p>Inserisci l&#39;indirizzo IP che desideri assegnare a questo dispositivo connesso. Questo indirizzo IP deve rientrare nell&#39;intervallo di indirizzi DHCP mostrato sopra.</p>

</div>
<!-- id="reserved_ip" -->
