<!-- Reserved IP Addresses -->
<div id="reserved_ip">
		<h1>Rezervētās IP adreses</h1>

		<h2>Pārskats</h2>
		<p>Šo funkciju var izmantot, lai nodrošinātu, ka <tmpl_var _("webui", "webui_product_name")> piešķirs pievienotajai ierīcei vienmēr to pašu IP adresi. Noklikšķiniet uz šīs pogas, lai piekļūtu šīs funkcijas iestatīšanas ekrānam.</p>

		<h3>DHCP adrešu diapazons</h3>
		<p>Šeit tiek parādīts pašreizējais DHCP adrešu diapazons. Visām rezervētajām IP adresēm jābūt šajā diapazonā.</p>

		<h2>Rezervēto IP adrešu tabula</h2>
		<p>Sākotnēji šī tabula būs tukša un slēpta. Lai šai tabulai pievienotu rindu, noklikšķiniet uz pogas "Pievienot rezervēto IP adresi". Pievienojiet tik rindu, cik nepieciešams. Katrā rindā ir tālāk norādītie lauki.</p>

		<h3>Iespējot</h3>
		<p>Izmantojiet šo izvēles rūtiņu, lai pēc nepieciešamības iespējotu vai atspējotu katru ierakstu (rindu). Ja tā ir iespējota, attiecīgā IP adrese tiks piešķirta norādītajai ierīcei. Ja tā ir atspējota, IP adrese ir pieejama visām pievienotajām ierīcēm.</p>

		<h3>Ierīces tips</h3>
		<p>Atlasiet pievienotajai ierīcei vispiemērotāko opciju.</p>

		<h3>Ierīces nosaukums</h3>
		<p>Ja nepieciešams, varat ievadīt pievienotajai ierīcei aprakstošu nosaukumu. Šo lauku var atstāt tukšu.</p>

		<h3>MAC adrese</h3>
		<p>Šis lauks ir būtisks. Ievadiet pievienotās ierīces MAC adresi. Ja pievienotajai ierīcei ir vairāki tīkla interfeisi (piemēram, Wi-Fi un Ethernet), ievadiet interfeisa MAC adresi, kas tiks izmantota savienojuma izveidei ar <tmpl_var _("webui", "webui_product_name")>.</p>

		<h3>IP adrese</h3>
		<p>Ievadiet IP adresi, kuru vēlaties piešķirt šai pievienotajai ierīcei. Šai IP adresei jābūt iepriekš norādītajā DHCP adrešu diapazonā.</p>

</div>
<!-- id="reserved_ip" -->
