<!-- SIM Lock -->
<div id="sim">
        <h1><tmpl_var _("webui", "adv_sim_menu_text")></h1>
        <h2>نظرة عامة</h2>
        <p>يمكن قفل بطاقة SIM الموجودة داخل جهاز <tmpl_var _("webui", "webui_product_name")> لديك باستخدام رمز PIN. إذا كانت بطاقة SIM مؤمنة، فيجب عليك إدخال رمز PIN قبل الاتصال بشبكة الأجهزة المحمولة. بمجرد إدخال رمز PIN، يتم تذكره لحين إيقاف التشغيل التالي.</p>

	<p>بالإضافة إلى تمكينك من إدخال رمز PIN لبطاقة SIM عند الحاجة، تتيح لك هذه الصفحة أيضًا إلغاء قفل بطاقة SIM أو تغيير رمز PIN لبطاقة SIM. عمومًا، يتعين عليك تقديم رمز PIN الحالي لتغيير بطاقة SIM. بالنسبة لبطاقة Novatel Wireless SIM، يتوفر رمز PIN الافتراضي من مزود الخدمة الخاص بك.</p>
	<h3><tmpl_var truncate(_("webui", "adv_sim_pin_lock_feature_label"), (size(_("webui", "adv_sim_pin_lock_feature_label")) - size(":")))></h3>
		<p>يشير الحقل إلى ما إذا كانت ميزة القفل برمز PIN قيد الاستخدام أم لا. إذا كان هذا الحقل في الوضع "On (قيد التشغيل)"، فهذا يعني أنه قد تم تشغيل القفل برمز PIN، ويجب إدخال رمز PIN لبطاقة SIM للاتصال بشبكة الأجهزة المحمولة. إذا كان هذا الحقل في الوضع "Off (إيقاف التشغيل)"، فهذا يعني أن ميزة القفل برمز PINلا تعمل، ولا يلزم إدخال رمز PIN لبطاقة SIM.</p>

	<h3><tmpl_var truncate(_("webui", "adv_sim_status_label"), (size(_("webui", "adv_sim_status_label")) - size(":")))></h3>
	<p>يشير الحقل إلى الحالة الحالية لبطاقة SIM. القيم المحتملة هي:</p>
	<div class="blockgroup">
	        <ul>
	        <li>جاهز - هذه هي الحالة الطبيعية. رمز PIN لبطاقة SIM غير مستخدم.</li>
	        <li>قفل برمز PIN - يجب إدخال رمز PIN لبطاقة SIM قبل استخدام شبكة الأجهزة المحمولة.</li>
	        <li>قفل برمز PUK - يجب إدخال رمز PUK لبطاقة SIM للمتابعة. يمكن الحصول على رمز PUK من خلال مزود الخدمة الخاص بك.</li>
	        <li>تم إلغاء القفل - يلزم إدخال رمز PIN لبطاقة SIM، ولكن تم إدخاله بالفعل.</li>
	        <li>لا توجد بطاقة SIM - لم يتم اكتشاف بطاقة SIM. إذا كان لديك بطاقة SIM، فتحقق من إدخالها بشكل صحيح.</li>
	        <li>خطأ في بطاقة SIM - تم اكتشاف بطاقة SIM، لكنها لم تستجب كما هو متوقع، ولا يمكن استخدامها.</li>       
	        </ul>
	</div>
        <h2>عمليات SIM</h2>
        <p>تعتمد الإجراءات المتاحة على حالة بطاقة SIM الحالية. جميع العمليات الممكنة مدرجة وموضحة أدناه.</p>

		<h3>القفل برمز PIN</h3>
		<p>إذا كانت بطاقة SIM مؤمَّنَة حاليًا، فسيتعين عليك إدخال رمز PIN. لاحظ أنه إذا تم إدخال رمز PIN غير صحيح عدة مرات، فستصبح بطاقة SIM مؤمَّنة برمز PUK. يشير العداد الظاهر على الصفحة إلى عدد الإدخالات غير الصحيحة التي سيؤدي الوصول إليها إلى القفل التام برمز PUK. بمجرد القفل برمز PUK، يجب الحصول على PUK من مزود الخدمة الخاص بك.</p>
		<h3>القفل برمز PUK</h3>
		<p>إذا كانت بطاقة SIM مؤمنة حاليًا برمز PUK، فإن العملية الوحيدة الممكنة هي إدخال رمز PUK. لاحظ أنه إذا تم إدخال رمز PUK غير صحيح عدة مرات، فستصبح بطاقة SIM غير قابلة للاستخدام للأبد. سوف يتعين عليك الحصول على بطاقة SIM جديدة. يشير العداد على الصفحة إلى عدد محاولات الدخول المتبقية.</p>
		<h3><tmpl_var _("webui", "adv_sim_enable_pin_lock_option")></h3>
		<p>يؤدي ذلك إلى ضبط بطاقة SIM بحيث يلزم إدخال رمز PIN عند بدء التشغيل للاتصال بشبكة الأجهزة المحمولة. لإجراء هذه العملية، يجب عليك إدخال رمز PIN الحالي.</p>

		<h3><tmpl_var _("webui", "adv_sim_disable_pin_option")></h3>
		<p>يمكنك استخدام هذا الإعداد لإيقاف تشغيل القفل برمز PIN الذي كان قيد التشغيل سابقًا، بحيث لا يكون إدخال PIN مطلوبًا بعد للاتصال بشبكة الأجهزة المحمولة. لإجراء هذه العملية، يجب عليك إدخال رمز PIN الحالي.</p>
		<h3><tmpl_var _("webui", "adv_sim_change_pin_option")></h3>
		<p>لتغيير رمز PIN الحالي، حدد هذا الخيار ثم أدخل البيانات المطلوبة:</p>
		<div class="blockgroup">
			<ul>
			<li>رمز PIN الحالي</li>
			<li>رمز PIN الجديد</li>
			<li>تأكيد رمز PIN الجديد</li>
			</ul>
		</div>
		<p><tmpl_var _("webui", "adv_sim_name_text")></p>
</div>
<!-- id="sim" -->

