<option value="5"<tmpl_if IN_SET(WifiAdvanced2Dot4G802Dot11Mode, 5)> selected="selected"</tmpl_if>><tmpl_var _("webui", "wifi_advanced_two_point_four_g_802_11_mode_bgn_text")></option>
<option value="11"<tmpl_if IN_SET(WifiAdvanced2Dot4G802Dot11Mode, 11)> selected="selected"</tmpl_if>><tmpl_var _("webui", "wifi_advanced_two_point_four_g_802_11_mode_bgn_ax_text")></option>
