<option value="9"<tmpl_if IN_SET(WifiAdvanced5G802Dot11Mode, 9)> selected="selected"</tmpl_if>><tmpl_var _("webui", "wifi_advanced_five_g_802_11_mode_acn_text")></option>
<option value="10"<tmpl_if IN_SET(WifiAdvanced5G802Dot11Mode, 10)> selected="selected"</tmpl_if>><tmpl_var _("webui", "wifi_advanced_five_g_802_11_mode_ac_text")></option>
<option value="12"<tmpl_if IN_SET(WifiAdvanced5G802Dot11Mode, 12)> selected="selected"</tmpl_if>><tmpl_var _("webui", "wifi_advanced_five_g_802_11_mode_acn_ax_text")></option>