<option value="0"<tmpl_if IN_SET(WifiAdvanced5GChannel, 0)> selected="selected"</tmpl_if>><tmpl_var _("webui", "wifi_advanced_five_g_channel_automatic_text")></option>
<tmpl_foreach Wifi5GhzChannelSelectionList as option>
	<option value="<tmpl_var option.val>"<tmpl_if IN_SET(WifiAdvanced5GChannel, option.val)> selected = "selected"</tmpl_if>><tmpl_var option.label></option>
</tmpl_foreach>
