<!-- WiFi Advanced -->
<div id="wifi_advanced">
	<h1>„Wi-Fi“</h1>
	<h2>Apžvalga</h2>
	<p>Paprastai galima palikti numatytąsias šių „Wi-Fi“ nuostatų vertes, tačiau prireikus galite jas koreguoti, kad atitiktų konkrečią aplinką.</p>

	<h2>„Wi-Fi“ įjungimo / išjungimo valdiklis</h2>
	<p>Naudokite šį valdiklį norėdami prireikus įjungti arba išjungti „Wi-Fi“. Išjungus, <tmpl_var _("webui", "webui_product_name_with_suffix")> „Wi-Fi“ tinklas bus nepasiekiamas, todėl liks vienintelis būdas prisijungti prie <tmpl_var _("webui", "webui_product_name")> – naudoti USB laidą.</p>

	<h3>Leisti atlikti „Wi-Fi“ nuostatų pakeitimus „Jetpack“ ekrane</h3>
	<p>Naudokite šį valdiklį norėdami prireikus įjungti arba išjungti „Wi-Fi“. Išjungus, „Wi-Fi“ tinklas bus nepasiekiamas, todėl liks vienintelis būdas prisijungti – naudoti USB laidą.</p>

	<h3><tmpl_var _("webui", "wifi_advanced_max_connections_label")></h3>
	<p>Nustatykite, kiek įrenginių vienu metu gali prisijungti prie <tmpl_var _("webui", "webui_product_name_with_suffix")> „Wi-Fi“ tinklo (-ų).</p>

	<h2><tmpl_var _("webui", "wifi_advanced_profile_title")></h2>
	<p>Ši nuostata apibrėžia, kaip naudojamas kiekvienas dažnių diapazonas (2,4 GHz ir 5 GHz) ir ar pasiekiamas svečio „Wi-Fi“ tinklas.</p>
	<tmpl_if SwapToggleButtonAction>
	<h3><tmpl_var _("webui", "wifi_advanced_two_point_four_ghz_band_label")></h3>
		<p>Rodomas 2,4 GHz 802.11 režimas, kuris aptinkamas automatiškai.</p>
	<tmpl_else>
		<h3><tmpl_var _("webui", "wifi_advanced_two_point_four_ghz_band_label")></h3>
		<p>Norėdami pritaikyti šį dažnių diapazoną pagrindiniam tinklui, svečio tinklui arba tą dažnių diapazoną išjungti, pasirinkite pageidaujamą parinktį.</p>

	</tmpl_if>
	<h3><tmpl_var _("webui", "wifi_advanced_five_ghz_band_label")></h3>
	<p>Norėdami pritaikyti šį dažnių diapazoną pagrindiniam tinklui, svečio tinklui arba tą dažnių diapazoną išjungti, pasirinkite pageidaujamą parinktį. Atminkite, kad negalite išjungti abiejų dažnio diapazonų.</p>

	<h2><tmpl_var _("webui", "wifi_advanced_two_point_four_g_band_options_title")></h2>
	<p>Kaip numatyta, šios nuostatos yra paslėptos, tačiau galite spustelėti antraštę / saitą, kad jos būtų matomos. Šios nuostatos naudojamos veikiant 2,4 GHz dažnio diapazonui.</p>

	<h3><tmpl_var _("webui", "wifi_advanced_two_point_four_g_802_11_mode_label")></h3>
	<p>Jei reikia, šią nuostatą naudokite „Wi-Fi“ režimui pakeisti. Paprastai paliekama numatytoji šios nuostatos vertė.</p>

	<h3><tmpl_var _("webui", "wifi_advanced_two_point_four_g_channel_label")></h3>
	<p>Turėtų būti palikta vertė <strong>Automatinė</strong>, nebent jums reikia pasirinkti konkretų kanalą savo aplinkai.</p>

	<h2><tmpl_var _("webui", "wifi_advanced_five_g_options_title")></h2>
	<p>Kaip numatyta, šios nuostatos yra paslėptos, tačiau galite spustelėti antraštę / saitą, kad jos būtų matomos. Šios nuostatos naudojamos veikiant 5 GHz dažnio diapazonui.</p>

	<h3><tmpl_var _("webui", "wifi_advanced_five_g_802_11_mode_label")></h3>
	<p>Jei reikia, šią nuostatą naudokite „Wi-Fi“ režimui pakeisti. Paprastai nėra priežasties keisti numatytosios vertės.</p>

	<h3><tmpl_var _("webui", "wifi_advanced_five_g_bandwidth_label")></h3>
	<p>Pasirinkite norimą parinktį. Turėtų būti naudojama numatytoji vertė, nebent būtų kitų „Wi-Fi“ įrenginių trukdžių. Tokiu atveju sumažinus dažnių juostos plotį trukdžių gali būti mažiau.</p>

	<h3><tmpl_var _("webui", "wifi_advanced_five_g_channel_label")></h3>
	<p>Turėtų būti palikta vertė <strong>Automatinė</strong>, nebent jums reikia pasirinkti konkretų kanalą savo aplinkai.</p>

</div>

<!-- id="wifi_advanced" -->

