<!-- WiFi Advanced -->
<div id="wifi_advanced">
	<h1>Wi-Fi</h1>
	<h2>Ülevaade</h2>
	<p>Tavaliselt saab need Wi-Fi-seaded jätta vaikeväärtustele, kuid vajaduse korral saate neid reguleerida vastavalt teie konkreetsele keskkonnale.</p>

	<h2>Wi-Fi sisse-/väljalülitamise juhtelement</h2>
	<p>Kasutage seda nuppu Wi-Fi sisse- või väljalülitamiseks vastavalt vajadusele. Kui see on välja lülitatud, ei ole <tmpl_var _("webui", "webui_product_name_with_suffix")> Wi-Fi-võrk saadaval, nii et ainus viis seadmega <tmpl_var _("webui", "webui_product_name")> ühenduse loomiseks on kasutada USB-kaablit.</p>

	<h3>Wi-Fi-seadete muudatuste lubamine Jetpacki ekraanil</h3>
	<p>Kasutage seda nuppu Wi-Fi sisse- või väljalülitamiseks vastavalt vajadusele. Kui see on välja lülitatud, ei ole Wi-Fi-võrk saadaval, nii et ainus viis süsteemiga ühenduse loomiseks on kasutada USB-kaablit.</p>

	<h3><tmpl_var _("webui", "wifi_advanced_max_connections_label")></h3>
	<p>Määrake, mitu seadet saab korraga seadme <tmpl_var _("webui", "webui_product_name_with_suffix")> Wi-Fi-võrgu (-võrkudega) ühendada.</p>

	<h2><tmpl_var _("webui", "wifi_advanced_profile_title")></h2>
	<p>Need seaded määravad, kuidas iga sagedusriba (2,4 GHz ja 5 GHz) kasutatakse, ja määravad, kas Wi-Fi külalisvõrk on saadaval.</p>
	<tmpl_if SwapToggleButtonAction>
	<h3><tmpl_var _("webui", "wifi_advanced_two_point_four_ghz_band_label")></h3>
		<p>Kuvatakse automaatselt tuvastatav režiim 2,4 GHz 802.11.</p>
	<tmpl_else>
		<h3><tmpl_var _("webui", "wifi_advanced_two_point_four_ghz_band_label")></h3>
		<p>Valige soovitud suvand, et rakendada see sagedusriba põhivõrgule, külalisvõrgule või lülitada see sagedusriba välja.</p>

	</tmpl_if>
	<h3><tmpl_var _("webui", "wifi_advanced_five_ghz_band_label")></h3>
	<p>Valige soovitud suvand, et rakendada see sagedusriba põhivõrgule, külalisvõrgule või lülitada see sagedusriba välja. Pange tähele, et mõlemat sagedusriba ei saa välja lülitada.</p>

	<h2><tmpl_var _("webui", "wifi_advanced_two_point_four_g_band_options_title")></h2>
	<p>Need seaded on vaikimisi peidetud, kuid nende nähtavaks muutmiseks võite klõpsata pealkirjal/lingil. Neid seadeid kasutatakse alati, kui 2,4 GHz sagedusala on aktiivne.</p>

	<h3><tmpl_var _("webui", "wifi_advanced_two_point_four_g_802_11_mode_label")></h3>
	<p>Vajaduse korral kasutage seda sätet Wi-Fi-režiimi muutmiseks. Tavaliselt jätate selle seade vaikeväärtusele.</p>

	<h3><tmpl_var _("webui", "wifi_advanced_two_point_four_g_channel_label")></h3>
	<p>See peaks jääma valikule <strong>Automaatne</strong>, välja arvatud juhul, kui peate oma keskkonna jaoks valima kindla kanali.</p>

	<h2><tmpl_var _("webui", "wifi_advanced_five_g_options_title")></h2>
	<p>Need seaded on vaikimisi peidetud, kuid nende nähtavaks muutmiseks võite klõpsata pealkirjal/lingil. Neid seadeid kasutatakse alati, kui 5 GHz sagedusala on aktiivne.</p>

	<h3><tmpl_var _("webui", "wifi_advanced_five_g_802_11_mode_label")></h3>
	<p>Vajaduse korral kasutage seda sätet Wi-Fi-režiimi muutmiseks. Üldiselt ei ole põhjust vaikeväärtust muuta.</p>

	<h3><tmpl_var _("webui", "wifi_advanced_five_g_bandwidth_label")></h3>
	<p>Valige soovitud suvand. Kasutada tuleks vaikeväärtust, välja arvatud juhul, kui teil esineb häireid teiste Wi-Fi-seadmetega. Sellisel juhul võib ribalaiuse vähendamine häireid vähendada.</p>

	<h3><tmpl_var _("webui", "wifi_advanced_five_g_channel_label")></h3>
	<p>See peaks jääma valikule <strong>Automaatne</strong>, välja arvatud juhul, kui peate oma keskkonna jaoks valima kindla kanali.</p>

</div>

<!-- id="wifi_advanced" -->

