<!-- WiFi Advanced -->
<div id="wifi_advanced">
	<h1>Wi-Fi</h1>
	<h2>Pārskats</h2>
	<p>Parasti šiem Wi-Fi iestatījumiem var atstāt to noklusējuma vērtības, bet, ja nepieciešams, tos var pielāgot atbilstoši konkrētajai videi.</p>

	<h2>Wi-Fi ieslēgšanas/izslēgšanas vadība</h2>
	<p>Izmantojiet šo vadīklu, lai pēc nepieciešamības ieslēgtu vai izslēgtu Wi-Fi. Ja <tmpl_var _("webui", "webui_product_name_with_suffix")> Wi-Fi tīkls ir izslēgts, tas nebūs pieejams, tāpēc vienīgais veids, kā izveidot savienojumu ar <tmpl_var _("webui", "webui_product_name")>, ir izmantot USB kabeli.</p>

	<h3>Atļaut veikt Wi-Fi iestatījumu izmaiņas Jetpack ekrānā</h3>
	<p>Izmantojiet šo vadīklu, lai pēc nepieciešamības ieslēgtu vai izslēgtu Wi-Fi. Ja Wi-Fi tīkls ir izslēgts, tas nebūs pieejams, tāpēc vienīgais veids, kā izveidot savienojumu, ir izmantot USB kabeli.</p>

	<h3><tmpl_var _("webui", "wifi_advanced_max_connections_label")></h3>
	<p>Iestatiet, cik ierīču vienlaikus var veidot savienojumu ar <tmpl_var _("webui", "webui_product_name_with_suffix")> Wi-Fi tīklu(-iem).</p>

	<h2><tmpl_var _("webui", "wifi_advanced_profile_title")></h2>
	<p>Šis iestatījums nosaka, kā katra josla (2,4 GHz un 5 GHz) tiek izmantota, un nosaka, vai viesa Wi-Fi tīkls ir pieejams.</p>
	<tmpl_if SwapToggleButtonAction>
	<h3><tmpl_var _("webui", "wifi_advanced_two_point_four_ghz_band_label")></h3>
		<p>Tiek parādīts 2,4 GHz 802.11 režīms, kas tiek noteikts automātiski.</p>
	<tmpl_else>
		<h3><tmpl_var _("webui", "wifi_advanced_two_point_four_ghz_band_label")></h3>
		<p>Atlasiet vēlamo opciju, lai lietotu šo joslu primārajam tīklam, viesu tīklam vai izslēgtu šo joslu.</p>

	</tmpl_if>
	<h3><tmpl_var _("webui", "wifi_advanced_five_ghz_band_label")></h3>
	<p>Atlasiet vēlamo opciju, lai lietotu šo joslu primārajam tīklam, viesu tīklam vai izslēgtu šo joslu. Ņemiet vērā, ka abas joslas nevar izslēgt.</p>

	<h2><tmpl_var _("webui", "wifi_advanced_two_point_four_g_band_options_title")></h2>
	<p>Šie iestatījumi pēc noklusējuma ir paslēpti, taču varat noklikšķināt uz virsraksta/saites, lai padarītu tos redzamus. Šie iestatījumi tiek izmantoti vienmēr, kad 2,4 GHz josla ir aktīva.</p>

	<h3><tmpl_var _("webui", "wifi_advanced_two_point_four_g_802_11_mode_label")></h3>
	<p>Ja nepieciešams, izmantojiet šo iestatījumu, lai mainītu Wi-Fi režīmu. Parasti šim iestatījumam tiek atstāta noklusējuma vērtība.</p>

	<h3><tmpl_var _("webui", "wifi_advanced_two_point_four_g_channel_label")></h3>
	<p>Tas ir jāatstāj <strong>automātiskā režīmā</strong>, ja vien jums nav jāizvēlas konkrēts kanāls savai videi.</p>

	<h2><tmpl_var _("webui", "wifi_advanced_five_g_options_title")></h2>
	<p>Šie iestatījumi pēc noklusējuma ir paslēpti, taču varat noklikšķināt uz virsraksta/saites, lai padarītu tos redzamus. Šie iestatījumi tiek izmantoti vienmēr, kad 5 GHz josla ir aktīva.</p>

	<h3><tmpl_var _("webui", "wifi_advanced_five_g_802_11_mode_label")></h3>
	<p>Ja nepieciešams, izmantojiet šo iestatījumu, lai mainītu Wi-Fi režīmu. Parasti nav iemesla mainīt noklusējuma vērtību.</p>

	<h3><tmpl_var _("webui", "wifi_advanced_five_g_bandwidth_label")></h3>
	<p>Atlasiet vajadzīgo opciju. Jāizmanto noklusējuma vērtība, ja vien nav traucējumu ar citām Wi-Fi ierīcēm. Šādā gadījumā joslas platuma samazināšana var samazināt traucējumus.</p>

	<h3><tmpl_var _("webui", "wifi_advanced_five_g_channel_label")></h3>
	<p>Tas ir jāatstāj <strong>automātiskā režīmā</strong>, ja vien jums nav jāizvēlas konkrēts kanāls savai videi.</p>

</div>

<!-- id="wifi_advanced" -->

