<div id="customer_care">
	<h1><tmpl_var _("webui", "customer_care_menu_text")></h1>
	<h2>Vue d’ensemble</h2>
	<p>Cette page fournit des liens et des coordonnées pour vous aider en cas de problèmes ou de questions.</p>
				
	<h2><tmpl_var _("webui", "customer_care_links_sub_header_verizon_text")></h2>
	<p>Utilisez ces liens pour accéder au site web de Verizon Wireless.</p>
	
	<h2><tmpl_var _("webui", "customer_care_support_sub_header_verizon_text")></h2>
	<p>Utilisez ces liens pour en savoir plus sur ce type d’appareil ou pour accéder à un support en ligne pour ce <tmpl_var _("webui", "webui_product_name")>.</p>
	
	<h2><tmpl_var _("webui", "customer_care_numbers_sub_header_verizon_text")></h2>
	<p>Si nécessaire, appelez l’assistance clientèle de Verizon Wireless au numéro de téléphone indiqué ici.</p>
</div>
