<div id="customer_care">
	<h1><tmpl_var _("webui", "customer_care_menu_text")></h1>
	<h2>Oversigt</h2>
	<p>Denne side indeholder links og kontaktoplysninger til at hjælpe dig, hvis du har problemer eller spørgsmål.</p>
				
	<h2><tmpl_var _("webui", "customer_care_links_sub_header_verizon_text")></h2>
	<p>Brug disse links til at få adgang til Verizon Wireless-webstedet.</p>
	
	<h2><tmpl_var _("webui", "customer_care_support_sub_header_verizon_text")></h2>
	<p>Brug disse links til at finde ud af mere om denne type enhed, eller få adgang til onlinesupport til denne <tmpl_var _("webui", "webui_product_name")>.</p>
	
	<h2><tmpl_var _("webui", "customer_care_numbers_sub_header_verizon_text")></h2>
	<p>Ring om nødvendigt til kundeservice hos Verizon Wireless ved hjælp af det her viste telefonnummer.</p>
</div>
