<div id="customer_care">
	<h1><tmpl_var _("webui", "customer_care_menu_text")></h1>
	<h2>Pārskats</h2>
	<p>Šajā lapā ir sniegtas saites un kontaktinformācija, lai palīdzētu jums problēmu vai jautājumu gadījumā.</p>
				
	<h2><tmpl_var _("webui", "customer_care_links_sub_header_verizon_text")></h2>
	<p>Izmantojiet šīs saites, lai piekļūtu Verizon Wireless vietnei.</p>
	
	<h2><tmpl_var _("webui", "customer_care_support_sub_header_verizon_text")></h2>
	<p>Izmantojiet šīs saites, lai uzzinātu vairāk par šāda veida ierīcēm, vai piekļūstiet tiešsaistes atbalstam, kas paredzēts <tmpl_var _("webui", "webui_product_name")>.</p>
	
	<h2><tmpl_var _("webui", "customer_care_numbers_sub_header_verizon_text")></h2>
	<p>Ja nepieciešams, zvaniet klientu apkalpošanas dienestam uz Verizon Wireless, izmantojot šeit norādīto tālruņa numuru.</p>
</div>
