<div id="customer_care">
	<h1><tmpl_var _("webui", "customer_care_menu_text")></h1>
	<h2>Panoramica</h2>
	<p>Questa pagina fornisce link e informazioni di contatto per aiutarti in caso di problemi o domande.</p>
				
	<h2><tmpl_var _("webui", "customer_care_links_sub_header_verizon_text")></h2>
	<p>Usa questi link per accedere al sito di Verizon Wireless.</p>
	
	<h2><tmpl_var _("webui", "customer_care_support_sub_header_verizon_text")></h2>
	<p>Usa questi link per saperne di più su questo tipo di dispositivo o accedi al supporto online per <tmpl_var _("webui", "webui_product_name")>.</p>
	
	<h2><tmpl_var _("webui", "customer_care_numbers_sub_header_verizon_text")></h2>
	<p>Se necessario, contatta l&#39;assistenza clienti di Verizon Wireless utilizzando il numero di telefono visualizzato qui.</p>
</div>
