<div id="customer_care">
	<h1><tmpl_var _("webui", "customer_care_menu_text")></h1>
	<h2>概要</h2>
	<p>このページでは、問題や質問がある際に役立つリンクと連絡先情報をご紹介しています。</p>
				
	<h2><tmpl_var _("webui", "customer_care_links_sub_header_verizon_text")></h2>
	<p>これらのリンクから、Verizon Wireless ウェブサイトにアクセスしてください。</p>
	
	<h2><tmpl_var _("webui", "customer_care_support_sub_header_verizon_text")></h2>
	<p>これらのリンクから、このタイプのデバイスの詳細を確認するか、この<tmpl_var _("webui", "webui_product_name")>のオンラインサポートにアクセスしてください。</p>
	
	<h2><tmpl_var _("webui", "customer_care_numbers_sub_header_verizon_text")></h2>
	<p>必要に応じて、ここに表示されている電話番号から、Verizon Wirelessのカスタマーケアにご連絡ください。</p>
</div>
