<div id="customer_care">
	<h1><tmpl_var _("webui", "customer_care_menu_text")></h1>
	<h2>Oversikt</h2>
	<p>Denne siden inneholder lenker og kontaktinformasjon for å hjelpe deg hvis du har problemer eller spørsmål.</p>
				
	<h2><tmpl_var _("webui", "customer_care_links_sub_header_verizon_text")></h2>
	<p>Bruk disse koblingene for å få tilgang til Verizon Wireless-nettstedet.</p>
	
	<h2><tmpl_var _("webui", "customer_care_support_sub_header_verizon_text")></h2>
	<p>Bruk disse koblingene for å finne ut mer om denne typen enheter, eller få tilgang til online support for dette <tmpl_var _("webui", "webui_product_name")>.</p>
	
	<h2><tmpl_var _("webui", "customer_care_numbers_sub_header_verizon_text")></h2>
	<p>Ring om nødvendig kundeservice hos Verizon Wireless ved å bruke telefonnummeret som vises her.</p>
</div>
