<div id="customer_care">
	<h1><tmpl_var _("webui", "customer_care_menu_text")></h1>
	<h2>نظرة عامة</h2>
	<p>توفر هذه الصفحة روابط ومعلومات اتصال لمساعدتك إذا كان لديك أي مشاكل أو أسئلة.</p>
				
	<h2><tmpl_var _("webui", "customer_care_links_sub_header_verizon_text")></h2>
	<p>استخدم هذه الارتباطات للوصول إلى موقع Verizon Wireless على الويب.</p>
	
	<h2><tmpl_var _("webui", "customer_care_support_sub_header_verizon_text")></h2>
	<p>استخدم هذه الارتباطات لمعرفة المزيد حول هذا النوع من الأجهزة، أو الوصول إلى الدعم عبر الإنترنت لجهاز <tmpl_var _("webui", "webui_product_name")> هذا.</p>
	
	<h2><tmpl_var _("webui", "customer_care_numbers_sub_header_verizon_text")></h2>
	<p>وإذا لزم الأمر، فاتصل بخدمة العملاء على Verizon Wireless، على رقم الهاتف المعروض هنا.</p>
</div>
