<div id="customer_care">
	<h1><tmpl_var _("webui", "customer_care_menu_text")></h1>
	<h2>Ülevaade</h2>
	<p>Sellel lehel on lingid ja kontaktandmed, mis aitavad teid probleemide või küsimuste korral.</p>
				
	<h2><tmpl_var _("webui", "customer_care_links_sub_header_verizon_text")></h2>
	<p>Nende linkide abil pääsete Verizon Wirelessi veebisaidile.</p>
	
	<h2><tmpl_var _("webui", "customer_care_support_sub_header_verizon_text")></h2>
	<p>Kasutage neid linke, et seda tüüpi seadme kohta lisateavet saada või sellele seadmele <tmpl_var _("webui", "webui_product_name")> veebitoest abi saada.</p>
	
	<h2><tmpl_var _("webui", "customer_care_numbers_sub_header_verizon_text")></h2>
	<p>Vajaduse korral helistage Verizon Wirelessi klienditeenindusse, kasutades siin kuvatud telefoninumbrit.</p>
</div>
