<div id="customer_care">
	<h1><tmpl_var _("webui", "customer_care_menu_text")></h1>
	<h2>Übersicht</h2>
	<p>Auf dieser Seite finden Sie Links und Kontaktinformationen, die Ihnen bei Problemen oder Fragen weiterhelfen können.</p>
				
	<h2><tmpl_var _("webui", "customer_care_links_sub_header_verizon_text")></h2>
	<p>Über diese Links können Sie auf die Website von Verizon Wireless zugreifen.</p>
	
	<h2><tmpl_var _("webui", "customer_care_support_sub_header_verizon_text")></h2>
	<p>Über die Links können Sie mehr über diesen Gerätetyp erfahren oder zum Online-Support für dieses <tmpl_var _("webui", "webui_product_name")> gelangen.</p>
	
	<h2><tmpl_var _("webui", "customer_care_numbers_sub_header_verizon_text")></h2>
	<p>Rufen Sie bei Bedarf den Kundendienst von Verizon Wireless unter der hier angegebenen Telefonnummer an.</p>
</div>
