<option class="Unknown" value="unknown"><tmpl_var _("webui", "webui_device_type_unknown_text")></option>
<option class="Desktop" value="desktop"><tmpl_var _("webui", "webui_device_type_computer_text")></option>
<option class="Tablet" value="tablet"><tmpl_var _("webui", "webui_device_type_handheld_text")></option>
<option class="Other" value="other"><tmpl_var _("webui", "webui_device_type_other_text")></option>

