<!-- Port Filtering -->
<div id="port_filtering">
	<h1>Portfiltrering</h1>
	<h2>Oversigt</h2>
	<p>Brug portfiltreringsfunktionen efter behov til at blokere udgående internettrafik. Hvis denne indstilling er slået til, er det kun trafik fra de valgte applikationer, der har adgang til internettet. Trafik identificeres ved portnumre. Nogle applikationer er foruddefineret. Du kan definere yderligere applikationer, men du skal kende detaljer om den trafik, der bruges og genereres af de applikationer, du ønsker at definere.</p>

	<h2>Applikationer</h2>
	<h3>Applikationsafkrydsningsfelter</h3>
	<p>Brug disse afkrydsningsfelter til at give adgang til internettet for hver applikation, mens portfiltreringsfunktionen er aktiveret. Trafik fra udvalgte applikationer kan få adgang til internettet. Ellers er trafikken blokeret.</p>
	<h2>Brugerdefinerede applikationer</h2>
	<p>Denne funktion giver dig mulighed for at definere dine egne applikationer - op til 10. Når de først er defineret, kan disse applikationer tændes og slukkes på samme måde som foruddefinerede applikationer. For at definere en applikation skal du kende de porte og den protokol (TCP, UDP), der bruges af applikationen til udgående trafik. For at starte skal du klikke på knappen <strong>Tilføj brugerdefineret applikation</strong> og derefter angive følgende data.</p>
	<p>Bemærk, at ændringer i en brugerdefineret applikation ikke gemmes, før knappen "Gem ændringer" bruges til at gemme hele sideindholdet.</p>
	
	<h3>Applikationsafkrydsningsfelt</h3>
	<p>Brug dette afkrydsningsfelt til at slå en applikation til, når du har defineret den. Hvis valgt, kan trafik fra denne applikation få adgang til internettet. Ellers er trafikken blokeret.</p>
	<h3>App-navn</h3>
	<p>Indtast et passende navn til det program, du definerer.</p>
	<h3>Portinterval (Startport/slutport)</h3>
		<p>Hver applikation har sit eget portinterval. Indtast begyndelsen og slutningen af portintervallet for hver applikation.</p>
		<div class="blockgroup">
			<ul>
				<li>For en enkelt port skal du indtaste portnummeret i både feltet <strong>Startport</strong> og feltet <strong>Slutport</strong>.</li>
				<li>For et portinterval skal du indtaste begyndelsen på intervallet i feltet <strong>Startport</strong> og slutningen af intervallet i feltet <strong>Slutport</strong>.</li>
			</ul>
		</div>
	<h3>Protokol</h3>
	<p>For hvert portinterval skal du vælge den protokol (TCP eller UDP), der bruges af det pågældende portinterval.</p>
	<h3>Slet</h3>
	<p>Brug dette afkrydsningsfelt til at slette et brugerdefineret program.</p>
</div>
<!-- id="port_filtering" -->
		
