<!-- Port Filtering -->
<div id="port_filtering">
	<h1>Porttien suodatus</h1>
	<h2>Yleiskatsaus</h2>
	<p>Port Filtering (Porttien suodatus) -ominaisuudella voit tarvittaessa estää lähtevän Internet-liikenteen. Jos tämä asetus on kytketty päälle, vain valituista sovelluksista saapuva liikenne pääsee Internetiin. Liikenne tunnistetaan porttien numeroiden perusteella. Jotkin sovellukset on määritetty ennalta. Voit määrittää lisäsovelluksia, mutta sinulla on oltava tarkat tiedot niiden sovellusten käyttämästä ja luomasta liikenteestä, jotka haluat määrittää.</p>

	<h2>Sovellukset</h2>
	<h3>Sovellusten valintaruudut</h3>
	<p>Näitä valintaruutuja käyttämällä voit sallia jokaiselle sovellukselle pääsyn Internetiin, kun Port Filtering (Porttien suodatus) -ominaisuus on kytketty päälle. Valituista sovelluksista saapuva liikenne pääsee Internetiin. Muutoin liikenne on estetty.</p>
	<h2>Mukautetut sovellukset</h2>
	<p>Tämän ominaisuuden avulla voit määrittää omat sovelluksesi – jopa 10 sovellusta. Kun nämä sovellukset on määritetty, ne voidaan kytkeä päälle ja pois päältä samalla tavalla kuin ennalta määritetyt sovellukset. Jotta voit määrittää sovelluksen, sinun on tiedettävä portit ja protokolla (TCP, UDP), joita sovellus käyttää lähtevään liikenteeseen. Aloita napsauttamalla <strong>Add Custom Application</strong> (Lisää mukautettu sovellus) -painiketta ja anna sitten seuraavat tiedot.</p>
	<p>Huomaa, että mukautettuun sovellukseen tehtyjä muutoksia ei tallenneta, ennen kuin ”Save Changes” (Tallenna muutokset) -painikkeella tallennetaan koko sivun sisältö.</p>
	
	<h3>Sovelluksen valintaruutu</h3>
	<p>Tämän valintaruudun avulla voit kytkeä sovelluksen päälle sen jälkeen, kun olet määrittänyt sen. Jos tämä on valittu, tästä sovelluksesta saapuva liikenne pääsee Internetiin. Muutoin liikenne on estetty.</p>
	<h3>Sovelluksen nimi</h3>
	<p>Anna määrittämällesi sovellukselle sopiva nimi.</p>
	<h3>Porttialue (aloitusportti/lopetusportti)</h3>
		<p>Kullakin sovelluksella on oma porttialueensa. Syötä kunkin sovelluksen porttialueen alku ja loppu.</p>
		<div class="blockgroup">
			<ul>
				<li>Syötä yksittäiselle portille portin numero sekä <strong>Start Port</strong> (Aloitusportti)- että <strong>End Port</strong> (Lopetusportti) -kenttään.</li>
				<li>Syötä porttialueelle alueen alku <strong>Start Port</strong> (Aloitusportti) -kenttään ja alueen loppu <strong>End Port</strong> (Lopetusportti) -kenttään.</li>
			</ul>
		</div>
	<h3>Protokolla</h3>
	<p>Valitse kullekin porttialueelle protokolla (TCP tai UDP), jota kyseinen porttialue käyttää.</p>
	<h3>Poista</h3>
	<p>Tämän valintaruudun avulla voit poistaa mukautetun sovelluksen.</p>
</div>
<!-- id="port_filtering" -->
		
