<!-- Port Filtering -->
<div id="port_filtering">
	<h1>Prievadų filtravimas</h1>
	<h2>Apžvalga</h2>
	<p>Jei reikia, naudokite prievadų filtravimo funkciją siunčiamam interneto duomenų srautui blokuoti. Jei ši nuostata įjungta, interneto prieiga bus pasiekiama tik duomenų srautui iš pasirinktų programų. Duomenų srautas identifikuojamas pagal prievadų numerius. Kai kurios programos nustatytos iš anksto. Galite nustatyti papildomas programas, tačiau turite būti išsamiai susipažinę su programų, kurias norite nustatyti, naudojamu ir generuojamu duomenų srautu.</p>

	<h2>Programos</h2>
	<h3>Programų žymimieji langeliai</h3>
	<p>Naudokite šiuos žymimuosius langelius, kad suteiktumėte prieigą prie interneto kiekvienai programai, kai įjungta prievadų filtravimo funkcija. Interneto prieiga pasiekiama duomenų srautui iš pasirinktų programų. Priešingu atveju srautas blokuojamas.</p>
	<h2>Pasirinktinės programos</h2>
	<p>Ši funkcija leidžia jums nustatyti iki 10 savo programų. Nustačius šias programas, jas galima įjungti ir išjungti tuo pačiu būdu, kaip ir iš anksto nustatytas programas. Norėdami nustatyti programą, turite žinoti prievadus ir protokolą (TCP, UDP), kuriuos programa naudoja siunčiamam duomenų srautui. Norėdami paleisti, spustelėkite mygtuką <strong>Pridėti pasirinktinę programą</strong> ir pateikite toliau nurodytus duomenis.</p>
	<p>Atminkite, kad jokie pasirinktinės programos pakeitimai neįrašomi, kol nenuspaudžiamas mygtukas „Įrašyti pakeitimus“, skirtas visam puslapio turiniui įrašyti.</p>
	
	<h3>Programos žymimasis langelis</h3>
	<p>Naudokite šį žymimąjį langelį, jei norite įjungti programą ją nustatę. Jei pasirinkta, interneto prieiga pasiekiama duomenų srautui iš šios programos. Priešingu atveju srautas blokuojamas.</p>
	<h3>Programos pavadinimas</h3>
	<p>Įveskite tinkamą programos, kurią nustatote, pavadinimą.</p>
	<h3>Prievadų diapazonas (pradinis prievadas / galinis prievadas)</h3>
		<p>Kiekviena programa turi savo prievadų diapazoną. Įveskite kiekvienos programos prievadų diapazono pradžią ir pabaigą.</p>
		<div class="blockgroup">
			<ul>
				<li>Norėdami nustatyti atskirą prievadą, įveskite prievado numerį abiejuose laukuose: <strong>Pradinis prievadas</strong> ir <strong>Galinis prievadas</strong>.</li>
				<li>Norėdami nustatyti prievadų diapazoną, lauke <strong>Pradinis prievadas</strong> įveskite diapazono pradžią, o lauke <strong>Galinis prievadas</strong> – diapazono pabaigą.</li>
			</ul>
		</div>
	<h3>Protokolas</h3>
	<p>Kiekvienam prievadų diapazonui pasirinkite protokolą (TCP arba UDP), naudojamą tame prievadų diapazone.</p>
	<h3>Šalinti</h3>
	<p>Naudokite šį žymimąjį langelį pasirinktinei programai pašalinti.</p>
</div>
<!-- id="port_filtering" -->
		
