<!-- Port Filtering -->
<div id="port_filtering">
	<h1>ポートフィルタリング</h1>
	<h2>概要</h2>
	<p>必要に応じてポートフィルタリング機能を使用して、送信インターネットトラフィックをブロックします。 この設定がオンの場合、選択したアプリケーションからのトラフィックのみがインターネットにアクセスできます。 トラフィックはポート番号により識別されます。 一部のアプリケーションは事前定義されます。 追加のアプリケーションを定義できますが、定義するアプリケーションによって使用され生成されるトラフィックの詳細を知る必要があります。</p>

	<h2>アプリケーション</h2>
	<h3>アプリケーションのチェックボックス</h3>
	<p>これらのチェックボックスを使用して、ポートフィルタリング機能がオンのときに、各アプリケーションのインターネットへのアクセスを許可します。 選択したアプリケーションからのトラフィックがインターネットにアクセスできます。 それ以外の場合、トラフィックはブロックされます。</p>
	<h2>カスタムアプリケーション</h2>
	<p>この機能を使用すると、最大10個の独自のアプリケーションを定義できます。 いったん定義されると、これらのアプリケーションは、事前定義されたアプリケーションと同じ方法でオンおよびオフにすることができます。 アプリケーションを定義するには、アプリケーションが送信トラフィックに使用するポートとプロトコル（TCP、UDP）を知っている必要があります。 開始するには、 <strong>カスタムアプリケーションを追加</strong> ボタンをクリックして、次のデータを入力します。</p>
	<p>カスタムアプリケーションへの変更は、「変更を保存」ボタンを押してページコンテンツ全体を保存するまで保存されないことに注意してください。</p>
	
	<h3>アプリケーションのチェックボックス</h3>
	<p>このチェックボックスを使用して、アプリケーションを定義した後にオンにします。 アプリケーションを選択すると、このアプリケーションからのトラフィックがインターネットにアクセスできます。 それ以外の場合、トラフィックはブロックされます。</p>
	<h3>アプリ名</h3>
	<p>定義しているアプリケーションの適切な名前を入力します。</p>
	<h3>ポート範囲（開始ポート/終了ポート）</h3>
		<p>各アプリケーションにはそれぞれのポート範囲があります。 各アプリケーションのポート範囲の開始と終了を入力します。</p>
		<div class="blockgroup">
			<ul>
				<li>単一のポートの場合、そのポート番号を <strong>開始ポート</strong> と <strong>終了ポート</strong> フィールドの両方に入力します。</li>
				<li>ポート範囲の場合は、範囲の先頭を <strong>開始ポート</strong> フィールドに、範囲の末尾を <strong>終了ポート</strong> フィールドに入力します。</li>
			</ul>
		</div>
	<h3>プロトコル</h3>
	<p>各ポート範囲に対して、そのポート範囲で使用されるプロトコル（TCPまたはUDP）を選択します。</p>
	<h3>削除する</h3>
	<p>このチェックボックスを使用して、カスタムアプリケーションを削除します。</p>
</div>
<!-- id="port_filtering" -->
		
