<script type="text/javascript">
	/* <![CDATA[ */
	$(function()
	{
		// To prevent folks with javascript turned off from submitting the login form
		// or entering a clear text password, we'll use javascript to insert the
		// inputPassword fields after the label and insert the submit button.
		$('<input type="password" class="password<tmpl_if passcodeDebugLogsError> error</tmpl_if>" name="passcodeInput" id="passcodeDebugLogs" value="" autocomplete="off" /><span toggle="#passcodeDebugLogs" class="eye toggle-password"></span>')
		.prependTo("#passcodeDebugLogsRow div.input");

		$('<button type="submit" id="downloadLogs" class="primary"><tmpl_var _("webui", "debug_logs_download_button")></button>')
		.appendTo("#passcodeDebugLogsButtonRow")
		.click(function(e) {
			var theForm = $(this).closest("form");
			clearErrors(theForm);
			securePasscode(e, theForm);
		});

		// We need to apply uniform, if available, to all the dynamically added elements above.
		if (jQuery.uniform) {
			// This is for uniform 1 and uniform 2 compatibility.
			var uniformOptions = (typeof $.uniform.options !== "undefined") ? $.uniform.options : $.uniform.defaults;
			if (uniformOptions.filter) {
				$("#passcodeDebugLogsRow, #passcodeDebugLogsButtonRow")
					.find(uniformOptions.filter)
					.filter(":input:not(input:file)")
					.uniform()
					.closest("div.button")
					.addClass("secondary");
			}
		}
		$(".toggle-password").click(function () {
			$(this).toggleClass("eye eye-slash");
			var input = $($(this).attr("toggle"));
			if (input.attr("type") == "password") {
				input.attr("type", "text");
			} else {
				input.attr("type", "password");
			}
		});
	});

	function clearErrors(el)
	{
		$(".notification").remove();
		el.find(".inline_error").remove();
	}

	function resetForm(f)
	{
		f.find(":input").filter(':input:not(input[name="formAction"], input[name="gSecureToken"], input[name="redirectLocation"])').val("").prop({"checked" : false, "selected" : false});
		if(jQuery.uniform) {
			// This is for uniform 1 and uniform 2 compatibility.
			var fileDefaultText = (typeof $.uniform.options !== "undefined") ? $.uniform.options.fileDefaultText : $.uniform.defaults.fileDefaultHtml;
			f.find(".uploader .filename").html(fileDefaultText);
			$.uniform.update();
		}

		f[0].reset();
	}

	// If a password is entered, we must hash it before sending.
	// If password field is empty, let the code behind handle any error.
	function securePasscode(e, theForm, msg)
	{
		var needModal = typeof msg !== 'undefined' ? true : false;

		var shaPassCode = theForm.find('input[name="shaPassword"]');
		var passCode = theForm.find('input[name="passcodeInput"]');
		if (passCode.val() !== "") {
			e.preventDefault();
			var secToken = "<tmpl_var secToken>";
			if(secToken === "") {
				$("#clientSideAuthError").remove();
				theForm.prepend('<p id="clientSideAuthError" class="error"><tmpl_var _("webui", "debug_logs_no_security_token_error_text")></p>');
			} else {
                           var BCRYPT_COST=10;
                           var s1 = new Int8Array(BCRYPT_SALT_LEN);
                           for (i=0; i<BCRYPT_SALT_LEN; i++)
                                s1[i] = secToken.charCodeAt(i);
                           var salt = Bcrypt.gensalt(BCRYPT_COST, s1); 
				var inputPw = passCode.val();
                                Bcrypt.hashpw (inputPw, salt, function(h) {
                                        shaPassCode.val(h);
				// We can't post the passCode in plain text.
				passCode.val("");
				if(needModal) {
					makeModal(e, theForm, msg, shaPassCode);
				} else {
					theForm.submit();
					shaPassCode.val("");
				}
                                },
                           function() {});
			}
		}
	}

	function makeModal(e, theForm, msg, shaPassCode)
	{
		e.preventDefault();
		modalPopup.createWindow(
			'<tmpl_var _("webui", "webui_modal_title")>',
			msg,
			430, 200,
			[
				{
					text: '<tmpl_var _("webui", "webui_modal_cancel_button")>',
					className: "cancel",
					trigger: function(){
						resetForm(theForm);
					}
				},
				{
					text: '<tmpl_var _("webui", "webui_modal_confirm_button")>',
					className: "primary",
					trigger: function(){
						theForm.submit();
						shaPassCode.val("");
					}
				}
			],
			null,
			function() {
				resetForm(theForm);
			}
		);
	}
/* ]]> */
</script>
<div>
	<h1 class="page_title parent">
		<tmpl_var _("webui", "debug_logs_menu_info_text")>
	</h1>
	<p class="note">
		<tmpl_var _("webui", "debug_logs_intro")>
	</p>

	<tmpl_if errorCount>
		<div class="notification app error">
			<i class="icon-error"></i>
			<p><tmpl_var _("webui", "webui_save_code_failed_text")></p>
		</div>
	</tmpl_if>

	<form id="dlForm" method="POST" action="<tmpl_udf GET_URI('debug_logs')>">
		<fieldset id="debuglogs_field" class="first">
			<input type="hidden" name="formAction" id="debugLogsForm" value="debugLogs" />
			<input type="hidden" name="shaPassword" id="shaPasswordDebugLogs" value="" />
			<input type="hidden" name="gSecureToken" value="<tmpl_var gSecureToken>" />

			<div class="table">
				<div id="passcodeDebugLogsRow" class="form-group form-group-lg clearfix">
					<div id="passcodeDebugLogsLabel" class="label">
						<label>
						<tmpl_if showToolTip>
							<div class="tooltip tooltip-help" id="sample" title="<tmpl_var _('webui', 'debug_logs_passcode_max_retries_warning_text')>">
								<tmpl_var _("webui", "webui_inline_help_icon")>
							</div>
						</tmpl_if>	
						<tmpl_var _("webui", "debug_logs_admin_login_label")></label>
					</div>
					<div class="input"></div>
				<tmpl_if debug_logsError>
					<div class="inline_error">
						<tmpl_var debug_logsError>
					</div>
				</tmpl_if>
				<tmpl_if debug_logsAuthError>
					<div class="inline_error">
						<tmpl_var debug_logsAuthError>
					</div>
				</tmpl_if>
				<tmpl_unless showToolTip>
					<div>
						<small><tmpl_var _("webui", "debug_logs_passcode_max_retries_warning_text")></small>
					</div>
				</tmpl_unless>
				</div>
			</div><!-- /.table -->

			<div id="passcodeDebugLogsButtonRow" class="button_container clearfix"></div>
		</fieldset>
	</form>
</div>

