<div id="device_info">
	<h1><tmpl_udf GET_PO_TEXT("device_info_menu_text", gProductName)></h1>
						
	<h3><tmpl_var truncate(_("webui", "device_info_manufacturer_label"), (size(_("webui", "device_info_manufacturer_label")) - size(":")))></h3>
		<p>Le fabricant de ce <tmpl_var _("webui", "webui_product_name")>.</p>
	<h3><tmpl_var truncate(_("webui", "device_info_model_label"), (size(_("webui", "device_info_model_label")) - size(":")))></h3>
		<p>Le nom et le numéro de modèle officiels de cet appareil.</p>
			
	<h3><tmpl_var truncate(_("webui", "device_info_global_os_version_label"), (size(_("webui", "device_info_global_os_version_label")) - size(":")))></h3>
	<p>La version des logiciels actuellement installés. Il s’agit du numéro de version principal; les informations suivantes sur la version se rapportent aux divers composants logiciels.</p>
	<tmpl_if showSDMVersion>
		<h3><tmpl_var truncate(_("webui", "device_info_global_sdm_version_label"), (size(_("webui", "device_info_global_sdm_version_label")) - size(":")))></h3>
		<p>Ce numéro de version se rapporte au composant de gestion des appareils. Le composant logiciel de gestion des appareils est mis à jour automatiquement au besoin.</p>
	</tmpl_if>
	<div class="blockgroup">
		<tmpl_if showMifiOsVersion>
			<h4><tmpl_var truncate(_("webui", "device_info_os_version_label"), (size(_("webui", "device_info_os_version_label")) - size(":")))></h4>
			<p>C’est le numéro de version du système d’exploitation et de ses composants.</p>
		</tmpl_if>
			<h4><tmpl_var truncate(_("webui", "device_info_modem_version_label"), (size(_("webui", "device_info_modem_version_label")) - size(":")))></h4>
			<p>Pour le composant du modem 4G, il s’agit de la version du microprogramme (logiciel) actuellement installée.</p>
		<tmpl_if showWifiFwVersion>
			<h4>Version du microprogramme du Wi-Fi</h4>
			<p>Pour le composant Wi-Fi, il s’agit de la version du microprogramme (logiciel) actuellement installée.</p>
		</tmpl_if>
		<tmpl_if showWebUiVersion>
			<h4><tmpl_var truncate(_("webui", "device_info_web_ui_version_label"), (size(_("webui", "device_info_web_ui_version_label")) - size(":")))></h4>
			<p>Le numéro de version de l’interface Web Jetpack.</p>
		</tmpl_if>
		<tmpl_if showAppVersion>
                        <p>
                                <h4><tmpl_var truncate(_("webui", "device_info_app_version_label"), (size(_("webui", "device_info_app_version_label")) - size(":")))></h4>
                                The app version currently installed.
                        </p>
                </tmpl_if>
		<tmpl_if showLcdVersion>
			<h4><tmpl_var truncate(_("webui", "device_info_lcd_ui_version_label"), (size(_("webui", "device_info_lcd_ui_version_label")) - size(":")))></h4>
			<p>Le numéro de version du logiciel qui contrôle l’écran de l’appareil et l’interaction de l’utilisateur avec le contenu de l’écran.</p>
		</tmpl_if>
		<h4><tmpl_var truncate(_("webui", "device_info_pri_version_label"), (size(_("webui", "device_info_pri_version_label")) - size(":")))></h4>
			<p>Il identifie la version de configuration actuellement appliquée à cet appareil.</p>
	</div>

</div>
