<div id="device_info">
	<h1><tmpl_udf GET_PO_TEXT("device_info_menu_text", gProductName)></h1>
						
	<h3><tmpl_var truncate(_("webui", "device_info_manufacturer_label"), (size(_("webui", "device_info_manufacturer_label")) - size(":")))></h3>
		<p>Šīs <tmpl_var _("webui", "webui_product_name")> ražotājs.</p>
	<h3><tmpl_var truncate(_("webui", "device_info_model_label"), (size(_("webui", "device_info_model_label")) - size(":")))></h3>
		<p>Šīs ierīces oficiālais modeļa nosaukums un numurs.</p>
			
	<h3><tmpl_var truncate(_("webui", "device_info_global_os_version_label"), (size(_("webui", "device_info_global_os_version_label")) - size(":")))></h3>
	<p>Pašlaik instalētās programmatūras versija. Šis ir galvenais versijas numurs; tālāk sniegtā informācija par versiju attiecas uz dažādiem programmatūras komponentiem.</p>
	<tmpl_if showSDMVersion>
		<h3><tmpl_var truncate(_("webui", "device_info_global_sdm_version_label"), (size(_("webui", "device_info_global_sdm_version_label")) - size(":")))></h3>
		<p>Šis versijas numurs attiecas uz ierīces pārvaldības komponentu. Ja nepieciešams, ierīces pārvaldības programmatūras komponents tiek atjaunināts automātiski.</p>
	</tmpl_if>
	<div class="blockgroup">
		<tmpl_if showMifiOsVersion>
			<h4><tmpl_var truncate(_("webui", "device_info_os_version_label"), (size(_("webui", "device_info_os_version_label")) - size(":")))></h4>
			<p>Šis ir OS (operētājsistēmas) un tās komponentu versijas numurs.</p>
		</tmpl_if>
			<h4><tmpl_var truncate(_("webui", "device_info_modem_version_label"), (size(_("webui", "device_info_modem_version_label")) - size(":")))></h4>
			<p>4G modema komponentam šī ir pašlaik instalētās programmaparatūras (programmatūras) versija.</p>
		<tmpl_if showWifiFwVersion>
			<h4>Wi-Fi programmaparatūras versija</h4>
			<p>Wi-Fi komponentam šī ir pašlaik instalētās programmaparatūras (programmatūras) versija.</p>
		</tmpl_if>
		<tmpl_if showWebUiVersion>
			<h4><tmpl_var truncate(_("webui", "device_info_web_ui_version_label"), (size(_("webui", "device_info_web_ui_version_label")) - size(":")))></h4>
			<p>Jetpack tīmekļa interfeisa versijas numurs.</p>
		</tmpl_if>
		<tmpl_if showAppVersion>
                        <p>
                                <h4><tmpl_var truncate(_("webui", "device_info_app_version_label"), (size(_("webui", "device_info_app_version_label")) - size(":")))></h4>
                                The app version currently installed.
                        </p>
                </tmpl_if>
		<tmpl_if showLcdVersion>
			<h4><tmpl_var truncate(_("webui", "device_info_lcd_ui_version_label"), (size(_("webui", "device_info_lcd_ui_version_label")) - size(":")))></h4>
			<p>Ierīces ekrāna vadības programmatūras versijas numurs un lietotāja mijiedarbība ar ekrāna saturu.</p>
		</tmpl_if>
		<h4><tmpl_var truncate(_("webui", "device_info_pri_version_label"), (size(_("webui", "device_info_pri_version_label")) - size(":")))></h4>
			<p>Tas identificē šai ierīcei pašlaik lietoto konfigurācijas versiju.</p>
	</div>

</div>
	
