<div id="inseego_connect">
	<h1><tmpl_var _("webui", "inseego_connect_help_title_text")></h1>

	<h2><tmpl_var _("webui", "inseego_connect_cloud_services_text")></h2>
	<h3><tmpl_var _("webui", "inseego_connect_label")></h3>
	<p>Använd denna PÅ/AV-kontroll för att sätta på eller stänga av funktionen Inseego Connect.</p>

	<h2><tmpl_var _("webui", "inseego_connect_status_text")></h2>
	<h3><tmpl_var _("webui", "inseego_connect_connection_state_label")></h3>
	<p>Det här är en rapport om dina enheters anslutning till Inseego Connect-servern. <br> Uppe: Enheten kommunicerar med Inseego Connect-servrar, <br> Nere: Enheten kommunicerar inte med Inseego Connect-servrar.<br></p>

	<h3><tmpl_var _("webui", "inseego_connect_last_reported_label")></h3>
	<p>Detta är lika med den tid på din enhet då den senast skickade i ett paket till Inseego Connect-servrarna.</p>

	<h3><tmpl_var _("webui", "inseego_connect_interval_label")></h3>
	<p>Detta är det intervall med vilket din enhet kommer att skicka paket till Inseego Connect-servern.</p>är det intervall med vilket din enhet kommer att skicka paket till Inseego Connect-servern.</p>
</div>

