<div id="inseego_connect">
	<h1><tmpl_var _("webui", "inseego_connect_help_title_text")></h1>

	<h2><tmpl_var _("webui", "inseego_connect_cloud_services_text")></h2>
	<h3><tmpl_var _("webui", "inseego_connect_label")></h3>
	<p>Izmantojiet šo ieslēgšanas/izslēgšanas vadīklu, lai ieslēgtu vai izslēgtu Inseego Connect funkciju.</p>

	<h2><tmpl_var _("webui", "inseego_connect_status_text")></h2>
	<h3><tmpl_var _("webui", "inseego_connect_connection_state_label")></h3>
	<p>Šis ir pārskats par ierīču savienojumu ar Inseego Connect serveri. <br> Uz augšu: ierīce sazinās ar Inseego Connect serveriem, <br> uz leju: ierīce nesazinās ar Inseego Connect serveriem.<br></p>

	<h3><tmpl_var _("webui", "inseego_connect_last_reported_label")></h3>
	<p>Tas ir vienāds ar laiku jūsu ierīcē, kad tā pēdējo reizi paketē tika nosūtīta uz Inseego Connect serveriem.</p>

	<h3><tmpl_var _("webui", "inseego_connect_interval_label")></h3>
	<p>Šis ir intervāls, kādā ierīce sūtīs paketes uz Inseego Connect serveri.</p>ir intervāls, kādā ierīce sūtīs paketes uz Inseego Connect serveri.</p>
</div>

