<div id="inseego_connect">
	<h1><tmpl_var _("webui", "inseego_connect_help_title_text")></h1>

	<h2><tmpl_var _("webui", "inseego_connect_cloud_services_text")></h2>
	<p>
		Inseego Connect هو منتج منصة سحابية يوفر رؤية شاملة وإمكانية وصول آمنة لعمليات النشر الخاصة بك من منصة واحدة. يمكنك استخدام هذه الصفحة لتمكين الإعدادات وتكوينها للاتصال بنظام Inseego Connect.
	</p>
	
	<h3><tmpl_var _("webui", "inseego_connect_label")></h3>
	<p>
		بشكل افتراضي، يكون الاتصال بـ Inseego Connect هو OFF (إيقاف). قم بتحريك شريط التمرير ON / OFF المنزلق إلى ON لتمكين الاتصال.
	</p>

	<h2><tmpl_var _("webui", "inseego_connect_status_text")></h2>
	<h3><tmpl_var _("webui", "inseego_connect_connection_state_label")></h3>
	<p>
		هذا تقرير عن اتصال أجهزتك بخادم Inseego Connect. <br>
		لأعلى: يتصل الجهاز بخوادم Inseego Connect، <br>
		لأسفل: لا يتصل الجهاز بخوادم Inseego Connect.<br>
	</p>

	<h3><tmpl_var _("webui", "inseego_connect_last_reported_label")></h3>
	<p>
		يساوي هذا الوقت على جهازك الذي تم إرساله فيه آخر حزمة في خوادم Inseego Connect.
	</p>

	<h3><tmpl_var _("webui", "inseego_connect_interval_label")></h3>
	<p>
		هذا هو الفاصل الزمني الذي يرسل جهازك على أساسه الحزم إلى خادم Inseego Connect.
	</p>
	<p> 
		ملاحظة: الفاصل الزمني الأقل يعني مزيدًا من استخدام البيانات.
	</p>
	<h3><tmpl_var _("webui", "inseego_connect_mobile_app_text")></h3>
	<p>
		استخدم الرابط لتنزيل تطبيق Inseego Connect Mobile.
	</p>
</div>

