<div id="inseego_connect">
	<h1><tmpl_var _("webui", "inseego_connect_help_title_text")></h1>

	<h2><tmpl_var _("webui", "inseego_connect_cloud_services_text")></h2>
	<h3><tmpl_var _("webui", "inseego_connect_label")></h3>
	<p>Brug denne TIL/FRA-kontrolfunktion til at slå Inseego Connect-funktionen til eller fra.</p>

	<h2><tmpl_var _("webui", "inseego_connect_status_text")></h2>
	<h3><tmpl_var _("webui", "inseego_connect_connection_state_label")></h3>
	<p>Dette er en rapport om din enheds forbindelse til Inseego Connect-serveren. <br> Op: Enheden kommunikerer med Inseego Connect-servere, <br> Ned: Enheden kommunikerer ikke med Inseego Connect-servere.<br></p>

	<h3><tmpl_var _("webui", "inseego_connect_last_reported_label")></h3>
	<p>Dette er lig med det tidspunkt på din enhed, hvor den sidst sendte en pakke til Inseego Connect-serverne.</p>

	<h3><tmpl_var _("webui", "inseego_connect_interval_label")></h3>
	<p>Dette er det interval, hvori din enhed sender pakker til Inseego Connect-serveren.</p>er det interval, hvori din enhed sender pakker til Inseego Connect-serveren.</p>
</div>

