<div id="inseego_connect">
	<h1><tmpl_var _("webui", "inseego_connect_help_title_text")></h1>

	<h2><tmpl_var _("webui", "inseego_connect_cloud_services_text")></h2>
	<h3><tmpl_var _("webui", "inseego_connect_label")></h3>
	<p>Bruk denne PÅ/AV-kontrollen for å slå Inseego-tilkoblingsfunksjonen på eller av.</p>

	<h2><tmpl_var _("webui", "inseego_connect_status_text")></h2>
	<h3><tmpl_var _("webui", "inseego_connect_connection_state_label")></h3>
	<p>Dette er en rapport om enhetens tilkobling til Inseego Connect-serveren. <br> Opp: Enheten kommuniserer med Inseego Connect-servere, <br> Ned: Enheten kommuniserer ikke med Inseego Connect-servere.<br></p>

	<h3><tmpl_var _("webui", "inseego_connect_last_reported_label")></h3>
	<p>Dette er det samme som den tiden på enheten din da den sist sendte en pakke til Inseego Connect-serverne.</p>

	<h3><tmpl_var _("webui", "inseego_connect_interval_label")></h3>
	<p>Dette er intervallet som enheten din vil bruke for å sende pakker til Inseego Connect-serveren.</p>er intervallet som enheten din bruke for å sende pakker til Inseego Connect-serveren.</p>
</div>

