<div id="inseego_connect">
	<h1><tmpl_var _("webui", "inseego_connect_help_title_text")></h1>

	<h2><tmpl_var _("webui", "inseego_connect_cloud_services_text")></h2>
	<h3><tmpl_var _("webui", "inseego_connect_label")></h3>
	<p>このオン/オフ制御を使用して、Inseego接続機能をオンまたはオフにします。</p>

	<h2><tmpl_var _("webui", "inseego_connect_status_text")></h2>
	<h3><tmpl_var _("webui", "inseego_connect_connection_state_label")></h3>
	<p>これは、Inseego Connectサーバーへのデバイスの接続に関する報告です。 <br> 上:デバイスはInseego Connectサーバーと通信しています。 <br> 下:デバイスはInseego Connectサーバーと通信していません。<br></p>

	<h3><tmpl_var _("webui", "inseego_connect_last_reported_label")></h3>
	<p>これは、デバイスでパケットがInseego Connectサーバーに最後に送信された時間と同じです。</p>

	<h3><tmpl_var _("webui", "inseego_connect_interval_label")></h3>
	<p>これは、デバイスがInseego Connectサーバーにパケットを送信する間隔です。</p>これは、デバイスがInseego Connectサーバーにパケットを送信する間隔です。</p>
</div>

