<div id="inseego_connect">
	<h1><tmpl_var _("webui", "inseego_connect_help_title_text")></h1>

	<h2><tmpl_var _("webui", "inseego_connect_cloud_services_text")></h2>
	<p>
		Inseego Connect è un prodotto per piattaforme cloud che fornisce visibilità a 360 gradi e accessibilità sicura nella distribuzione da un'unica piattaforma. Utilizzare questa pagina per abilitare e configurare le impostazioni per la connessione con Inseego Connect.
	</p>
	
	<h3><tmpl_var _("webui", "inseego_connect_label")></h3>
	<p>
		Per impostazione predefinita, la connessione a Inseego Connect è disattivata. Spostare l’interruttore ON/OFF su ON per abilitare la connessione.
	</p>

	<h2><tmpl_var _("webui", "inseego_connect_status_text")></h2>
	<h3><tmpl_var _("webui", "inseego_connect_connection_state_label")></h3>
	<p>
		Questo è un report sulle connessioni dei tuoi dispositivi al server Inseego Connect. <br>
		Up: il dispositivo sta comunicando con i server Inseego Connect, <br>
		Down: il dispositivo non sta comunicando con i server Inseego Connect.<br>
	</p>

	<h3><tmpl_var _("webui", "inseego_connect_last_reported_label")></h3>
	<p>
		Questo corrisponde all’orario mostrato sul dispositivo in cui è stato inviato per l’ultima volta un pacchetto ai server Inseego Connect.
	</p>

	<h3><tmpl_var _("webui", "inseego_connect_interval_label")></h3>
	<p>
		Questo è l'intervallo con cui il dispositivo invierà i pacchetti al server Inseego Connect.
	</p>
	<p> 
		NOTA: Un intervallo più breve significa un maggiore utilizzo dati.
	</p>
	<h3><tmpl_var _("webui", "inseego_connect_mobile_app_text")></h3>
	<p>
		Usa il link per scaricare l’app Inseego Connect Mobile.
	</p>
</div>

